@value base "sourcegraph/components/styles/base.css";
@value colors "sourcegraph/components/styles/colors.css";
@value typography "sourcegraph/components/styles/typography.css";
@value flexbox "sourcegraph/components/styles/flexbox.css";

.footer {
	composes: bt mb4 pt5 mh7 ph3 from base;
	composes: b--light-gray from colors;
	composes: flex flex-wrap from flexbox;
}

.left_container {
	composes: flex-auto from flexbox;
	composes: mr3 from base;
}

.left_inline {
	display: inline-block;
}

.address {
	composes: mt3 from base;
}

.version_number {
	composes: f4 from typography;
	composes: light-silver from colors;
	composes: mt1 from base;
}

.address_line {
	composes: f3 from typography;
	display: block;
}

.right_container {
	composes: flex flex-wrap from flexbox;
}

.list {
	composes: pr5 from base;
}

.rightmost_list {
	composes: list;
	padding-right: 0;
}

.list_header {
	composes: f3 from typography;
	composes: mb3 from base;
	text-transform: uppercase;
}

.list_element {
	composes: f3 from typography;
	composes: mb2 from base;
	display: block;
}
