:root {
    --db-column-col: 17.5%;
}

.table-container {
    overflow-x: scroll;
}

.db-column-col {
    width: var(--db-column-col);
}

.data-column-col {
    width: calc((100% - var(--db-column-col)) / 2);
}

.docker-command-spec {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.tabs {
    background-color: transparent;
}

.grid {
    padding: 0.5rem 0;
    border-top: 1px solid var(--border-color-2);
}
.grid:first-child {
    border-top: none;
}
.grid div:hover {
    cursor: pointer;
    background-color: var(--gray-02);
}

.state,
.information {
    @media (--xs-breakpoint-down) {
        grid-column: 1 / -1;
    }
}

.tag {
    color: #ae6e00;
    background-color: #ff9e0045;
}

.header {
    display: grid;
    grid-template-columns: min-content [info] minmax(auto, 1fr) [end];
    row-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
    @media (--sm-breakpoint-down) {
        row-gap: 0.5rem;
        column-gap: 0.5rem;
    }
}
