@value vars "sourcegraph/components/styles/_vars.css";
@value base "sourcegraph/components/styles/_base.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value GlobalNav "sourcegraph/app/styles/GlobalNav.css";

@value media-sm from vars;

.nav > span {
	display: inline-block;
	flex: 0 0 auto;
}

.nav { display: flex; }
.repoName {
	composes: b db mr3 from base;
}

.repo-nav-context { display: inline-block; }

/* Hide filename on narrow screens. */
@media screen and media-sm {
	.repo-nav-context {
		overflow: hidden;
		text-overflow: ellipsis;
		flex: 1;
	}
}

.container {
	composes: pt6 from base;
}

.cloning-title {
	composes: header-center from typography;
}

.cloning-subtext {
	composes: pt4 from base;
	composes: subheader tc from typography;
}

/* Repo Main */
.tree-search-modal {
	composes: f4 from typography;
	composes: col-9 from grid;
	composes: modal from "sourcegraph/components/styles/modal.css";
}

.outer-container{
	display: flex;
	flex: 1;
}
