.decoration {
    background: var(--body-bg);
    padding: 0;

    :global(.top-spacer),
    :global(.bottom-spacer) {
        background: var(--body-bg) !important;
        margin: 0 -0.75rem;
    }

    :global(.bottom-spacer) {
        display: table-cell;
    }
}

tr:global(.selected),
tr:global(.highlighted) {
    .decoration {
        background: none;
    }
}

.wrapper {
    height: 1rem;
}
