:root {
    --blame-decoration-width: 240px;
}

.popover {
    &-trigger {
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        height: 1rem;

        color: var(--body-color);
        &:hover {
            color: var(--body-color);
        }

        .content {
            white-space: pre;
            color: var(--text-muted);
            font-family: var(--font-family-base);

            &::before {
                content: attr(data-contents);
            }
        }
    }

    &-content {
        max-width: 348px;

        border: 1px solid var(--border-color);
        border-radius: 5px;

        .head {
            line-height: 1rem;
        }

        .author {
            font-weight: 500;
        }

        .separator {
            color: var(--color-bg-2);
        }

        .block {
            margin-top: 0.75rem;
            margin-bottom: 0.5rem;
            font-size: 0.75rem;
        }

        .body {
            padding-left: 0.625rem;
            padding-right: 1rem;
            line-height: 1.3333333333;
            color: var(--body-color);
        }

        .icon {
            font-size: 1rem;
        }

        .link {
            color: var(--body-color);
        }

        .footer-link {
            font-weight: 500;
        }
    }
}
