.blob {
    position: relative;
    overflow: auto;
    tab-size: 4;
    display: flex;
    background-color: var(--code-bg);
}

.blob-code {
    flex: 1;

    table {
        border-collapse: collapse;
    }

    td:global(.line) {
        &::before {
            // draw line number with css so it cannot be copied to clipboard
            content: attr(data-line);
        }

        text-align: right;
        padding-left: 0.5rem;
        min-width: 2rem;
        user-select: none;
        vertical-align: top;
        color: var(--line-number-color);

        :global(.top-spacer),
        :global(.bottom-spacer) {
            margin: 0 -0.5rem;
        }
    }

    tr {
        &:global(.selected),
        &:global(.highlighted) {
            background: var(--code-selection-bg);

            > :global(.code) {
                // override the color set by extension decoration
                background: var(--code-selection-bg) !important;
            }
        }

        &:first-child td:global(.line) {
            // place bottom spacer below the line number set with ::before pseudo-element
            display: flex;
            flex-direction: column-reverse;
        }

        &:first-child:last-child td:global(.line) {
            // place the line number set with ::before pseudo-element between top and bottom spacers
            &::before {
                order: 1;
            }

            :global(.top-spacer) {
                order: 2;
            }
        }
    }

    td:global(.line),
    td:global(.code) {
        padding: 0;
    }

    td:global(.code) {
        width: 100%;
        padding-left: 1rem;
        white-space: pre;

        div {
            display: inline-block;
        }

        [data-line-decoration-attachment-portal] {
            span::before {
                content: attr(data-contents);
            }
        }

        :global(.top-spacer),
        :global(.bottom-spacer) {
            margin: 0 0 0 -1rem;
            display: block;
        }
    }

    :global(.top-spacer),
    :global(.bottom-spacer) {
        background: var(--code-bg);
    }

    :global(.top-spacer) {
        height: 0.5rem;
    }

    :global(.bottom-spacer) {
        // Give room to view the last few lines of code
        // without the floating status bar getting in the way.
        height: calc(var(--blob-status-bar-height) + var(--blob-status-bar-vertical-gap) + 1.5rem);
    }

    &--wrapped {
        td:global(.code) {
            white-space: pre-wrap;
        }
    }
}

.blob-status-bar-body {
    // Make the status bar "float" slightly above the bottom of the code view.
    position: absolute;
    bottom: var(--blob-status-bar-vertical-gap);

    // Override default bootstrap `.w-100`, ensure that the status bar "sticks" to the right side.
    width: auto !important;
    // Default `right`, should be added with scrollbar width at runtime.
    right: var(--blob-status-bar-horizontal-gap);
    // `maxWidth` will also be subtracted by scrollbar width at runtime
    max-width: calc(100% - (2 * var(--blob-status-bar-horizontal-gap)));

    // Misc. style
    height: var(--blob-status-bar-height);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--body-bg);
    color: var(--body-color);
}
