.blob {
    position: relative;
    overflow: auto;
    padding-top: 0.5rem;
    tab-size: 4;
    display: flex;
    background-color: var(--code-bg);
}

.blob-code {
    flex: 1;

    table {
        border-collapse: collapse;

        // Give room to view the last few lines of code
        // without the floating status bar getting in the way.
        &::after {
            content: '';
            display: inline-block;
            padding-bottom: calc(var(--blob-status-bar-height) + var(--blob-status-bar-vertical-gap) + 0.5rem);
            // Extra 0.5rem padding on top of the minimum required to expose code;
        }
    }

    td:global(.line) {
        &::before {
            // draw line number with css so it cannot be copied to clipboard
            content: attr(data-line);
        }

        text-align: right;
        padding-left: 0.5rem;
        min-width: 2rem;
        user-select: none;
        vertical-align: top;
        color: var(--line-number-color);
    }

    tr {
        &:global(.selected) {
            background: var(--code-selection-bg);
        }
    }

    td:global(.line),
    td:global(.code) {
        padding: 0;
    }

    td:global(.code) {
        width: 100%;
        padding-left: 1rem;
        white-space: pre;

        div {
            display: inline-block;
        }

        [data-line-decoration-attachment-portal] {
            span::before {
                content: attr(data-contents);
            }
        }
    }

    &--wrapped {
        td:global(.code) {
            white-space: pre-wrap;
        }
    }
}

.blob-status-bar-body {
    // Make the status bar "float" slightly above the bottom of the code view.
    position: absolute;
    bottom: var(--blob-status-bar-vertical-gap);

    // Override default bootstrap `.w-100`, ensure that the status bar "sticks" to the right side.
    width: auto !important;
    // Default `right`, should be added with scrollbar width at runtime.
    right: var(--blob-status-bar-horizontal-gap);
    // `maxWidth` will also be subtracted by scrollbar width at runtime
    max-width: calc(100% - (2 * var(--blob-status-bar-horizontal-gap)));

    // Misc. style
    height: var(--blob-status-bar-height);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--body-bg);
    color: var(--body-color);
}
