.decoration {
    max-width: 240px;
    padding: 0 0.75rem;
    background: var(--body-bg);

    :global(.top-spacer),
    :global(.bottom-spacer) {
        background: var(--body-bg) !important;
        margin: 0 -0.75rem;
    }
}

tr:global(.selected),
tr:global(.highlighted) {
    .decoration {
        background: none;
    }
}

.wrapper {
    height: 1rem;

    > * {
        max-width: 100%;
    }
}

.item {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.contents {
    white-space: pre;

    &::before {
        content: attr(data-contents);
    }
}
