.rendered-file {
    overflow: auto;
    padding: 1rem 1.5rem;
    flex: 1;
    background-color: var(--code-bg);
}

.container {
    max-width: 50rem;

    h1 {
        // workaround for svg in Sourcegraph README h1 not rendering with a size. also
        // maybe intentional, to get the h1 ruler all the way across?
        width: 100%;
    }
}
