.refs {
    list-style-type: none;
    padding-left: 0;
}

.ref {
    display: flex;
    align-items: center;

    border: 1px solid var(--border-color);
    border-radius: 0.125rem;
    margin: 0.5rem 0;

    &:first-of-type {
        margin-top: 0;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
    padding: 0.5rem 0.75rem;

    &-icon {
        margin-right: 0.25rem;

        &--current {
            color: var(-—success);
        }
    }
}

.stats {
    width: auto;
}
