.popover {
	background-color: rgba(255, 255, 255, .93);
	max-width: 360px;
	width: 360px;
	border: 1px solid rgba(13, 13, 13, .2);
	border-radius: 4px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 6px 12px;
	font-size: 14px !important;
	z-index: 100;
	position: absolute;
	word-wrap: break-word;
	overflow: auto;
}
.popoverTitle {
	font-size: 12px;
	font-family: monospace;
	margin-bottom: 10px;
	word-wrap: break-word;
	color: black;
}
.popover code,
.popover pre,
.popover tt {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.popoverRepo {
	color: #888;
	font-size: 10px;
}
