.popover {
	background-color: #2D2D30;
	max-width: 500px;
	max-height: 250px;
	overflow: hidden;
	border: solid 1px #555;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(213, 229, 242, 1);
	padding: 5px 6px;
	font-size: 12px !important;
	line-height: 19px;
	z-index: 100;
	position: absolute;
	word-wrap: break-word;
	overflow: auto;
}
.popoverTitle {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	white-space: pre-wrap;
	word-wrap: break-all;
}
