.repository-documentation-sidebar {
    &-scroller {
        height: 100%;

        &:last-child {
            padding-bottom: 3rem;
        }
    }
}

.show-more-button > button {
    :focus {
        box-shadow: none;
    }

    > svg {
        display: none;
    }
}

.panel {
    --panel-bg-color: transparent;
}

.panel-handle {
    right: calc(-1 * var(--panel-handle-size));
}
