@import './RepositoryDocumentationSidebar';
@import './DocumentationWelcomeAlert';
@import './DocumentationIcon';
@import './DocumentationExamples';

.repository-docs-page {
    width: 100%;
    display: flex;
    overflow: hidden;
    &__container {
        overflow: auto;
        width: 100%;
        &-content {
            width: 60rem;
            padding-left: 2rem;
            padding-bottom: 3rem;
            margin: auto;
            &--sidebar-visible {
                margin: unset;
            }
        }
    }
    &__feedback-container {
        width: 0;
        height: 0;
        z-index: 1;
        &-content {
            display: block;
            width: 19rem;
            margin-top: 1rem;
            float: right;
            .btn {
                background-color: var(--color-bg-1);
            }
            .feedback-prompt {
                display: inline-block;
            }
        }
    }
    a.h1,
    a.h2,
    a.h3,
    a.h4,
    a.h5,
    a.h6 {
        display: inline-block;
        margin-top: 1rem;
    }
}
