.jobs {
    &__grid {
        display: grid;
        grid-template-columns: [status] max-content [name] minmax(auto, 1fr) [reason] minmax(auto, 1fr) [added] min-content [removed] min-content [total] min-content;
        column-gap: 1rem;
        align-items: center;
    }
}

.filters {
    &__grid {
        display: grid;
        grid-template-columns: [reason] max-content [state] max-content [searchType] max-content [search] auto;
        column-gap: 1rem;
        align-items: center;
    }
}

.search-input {
    margin-top: 0.6rem;
}
