{{/*
	code/file is the main template for the code browsing view. Non-code files are
	rendered using repo/tree/plain_file.
*/}}

{{define "Head"}}<title>{{.EntrySpec.Path}} at {{.EntrySpec.RepoRev.Rev}} - {{.Repo.URI}} - Sourcegraph</title>
{{if .MetaDescription}}<meta name="description" content="{{.MetaDescription}}">{{end}}
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@srcgraph" />
{{with .Definition}}
	<meta name="twitter:title" content="{{.Fmt.DefKeyword}} {{.Fmt.Name "scope"}}{{.Fmt.NameAndTypeSeparator}}{{.Fmt.Type "scope"}} (in {{.Repo}}: {{.File}})" />
	<meta name="twitter:description" content="{{truncate 200 (textFromHTML .DocHTML.HTML)}}" />
{{else}}
	<meta name="twitter:title" content="{{.EntrySpec.Path}} in {{.EntrySpec.RepoRev.URI}} at {{.EntrySpec.RepoRev.Rev}}" />
{{end}}
{{end}}

{{define "RepoBody"}}
	{{with .Definition}}
	<noscript>
		<h2 class="def-title">
			{{.Fmt.DefKeyword}}
			<a href="{{urlToDef .Def.DefKey}}">{{defQualifiedName . "scope"}}</a>
		</h2>
		<pre class="code">
			{{overrideStyleViaRegexpFlags (defQualifiedNameAndType . "scope")}}
		</pre>
		<p class="doc">
			{{sanitizeHTML .DocHTML.HTML}}
		</p>
	</noscript>
	{{end}}
	<div class="theme-default">
		{{component nil nil "sourcegraph/LocationAdaptor" "component" "sourcegraph/blob/BlobRouter"}}
	</div>

	{{component nil nil "sourcegraph/tree/TreeOverlay" "repo" .EntrySpec.RepoRev.URI "rev" .EntrySpec.RepoRev.Rev}}
{{end}}
