.user-code-hosts-page {
    &__icon--inside {
        position: absolute;
        right: 0.45rem;
        top: 0.55rem;
    }
    &__icon--dashed {
        color: var(--border-color);
    }
    &__modal--plain {
        background-color: var(--theme-bg-plain);
    }
    &__code--inline {
        font-size: 0.75rem;
        line-height: (20/14);
    }

    $update: #7048e8;

    &__btn--update {
        @include button-variant(
            $update,
            darken($update, 7.5%),
            darken($update, 10%),
            lighten($update, 5%),
            lighten($update, 10%),
            darken($update, 30%)
        );
        color: $white;
    }
}
