.add-user-code-hosts-page {
    &__button {
        display: block;
    }
    &__icon--inside {
        position: absolute;
        right: 2em;
        top: calc(50% - 1.5em);
    }
    &__icon--success.mdi-icon {
        fill: var(--success);
    }
    &__icon--danger.mdi-icon {
        fill: var(--danger);
    }
    &__icon--outline.mdi-icon {
        fill: var(--border-color);
    }
    &__icon--muted.mdi-icon {
        fill: var(--text-muted);
    }
}
