.content {
    padding: 1rem;
    background-color: var(--body-bg);
}

.results {
    overflow: auto;
    border-top: 1px solid var(--border-color);
    margin-top: 1rem;
    max-height: 25rem;
}

.query-input-wrapper {
    display: flex;
    align-items: center;

    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: var(--color-bg-1);
    border: 1px solid var(--border-color);

    &:focus,
    &:focus-within {
        border: 1px solid var(--border-active-color) !important;
        box-shadow: 0 0 0 0.125rem var(--primary-2);
    }
}

.code-mirror-wrapper {
    padding-left: 0.5rem;
    flex-grow: 2;
}
