.file-locations {
    overflow-y: auto;
    // adding this temporarily and should be addressed in next css module tickets
    :global(.result-container) {
        margin-bottom: 0;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-radius: 0;
    }
}

.not-found {
    opacity: 0.8;
}
