.file-locations {
    overflow-y: auto;
    .result-container {
        margin-bottom: 0;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-radius: 0;
        // ResultContainer Module has this style,
        // but the specificity is lesser when it's inside FileLocation
        &:not(:last-of-type) {
            margin-bottom: 0.5rem;
        }
    }
}

.not-found {
    opacity: 0.8;
}
