.references-container {
    height: 100%;
    display: flex;
    overflow-x: hidden;
}

.group-list {
    width: 100%;
    margin-right: 0.5rem;
}

.file-locations {
    flex: 1;
    width: 100%;
    margin: 0 -1rem 0 0.5rem;
}
