.container {
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;
    font-size: 0.75rem;
    font-weight: normal;
}

.button {
    font-size: 0.75rem;
    font-weight: normal;
    vertical-align: baseline;
}
