.saturn-gradient-border {
    position: relative;
    max-width: 800px;
    text-align: center;
}

.saturn-gradient-border::after {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    border-radius: 5px;
    border: 3px solid transparent;
    background: var(--saturn-gradient);
    -webkit-mask:
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

.link {
    position: relative;
    z-index: 5;
}
