.text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}

.logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0 1.5rem 1rem 1.5rem;
}
