@import 'wildcard/src/global-styles/breakpoints';

.hero {
    background-color: var(--homepage-card-color);
    box-shadow: var(--home-marketing-drop);
    padding: 1.5rem;
    display: flex;
    gap: 3rem;
    font-family: 'Source Sans Pro', sans-serif;

    @media (--sm-breakpoint-down) {
        flex-direction: column;
    }
}

.column {
    width: 50%;

    @media (--sm-breakpoint-down) {
        width: 100%;
    }
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header {
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 2.2rem;
}

.header-bold {
    font-weight: 700;
}

.text {
    font-size: 1rem;
    line-height: 1.6rem;
}

.link {
    color: var(--merged);
    font-size: 1.125rem;
    font-weight: 700;
    display: flex;

    &:hover {
        color: var(--merged);
    }
}
