@import 'wildcard/src/global-styles/breakpoints';

.search-page {
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
}

.logo {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: 20rem;
    margin-top: 6rem;
    max-width: 90%;

    /* Reserve the image's height to avoid jitter before it loads. */
    min-height: 54px;
}

.search-container {
    flex: 1 1 auto;
    margin-top: 2.5rem;
    width: 100%;

    @media (--xl-breakpoint-up) {
        max-width: var(--max-homepage-container-width);
    }

    position: relative;

    &--with-content-below {
        flex-grow: 0;
        margin-bottom: 5rem;
    }
}
