@import 'wildcard/src/global-styles/breakpoints';

.wrapper {
    background-color: var(--homepage-card-color);
    box-shadow: var(--home-marketing-drop);
    padding: 1.5rem;
    display: flex;
    gap: 0.5rem;

    @media (--sm-breakpoint-down) {
        flex-direction: column;
        gap: 2rem;
    }
}

.column {
    width: 50%;

    @media (--sm-breakpoint-down) {
        width: 100%;
    }
}

.download-icon {
    color: var(--merged);
}

.feature-list {
    // Optically align bullets under the download icon
    padding-left: 1.5rem;
}

.code-wrapper {
    margin: 0.625rem 0;
}

.code-content {
    background-color: var(--code-bg);
}

.code-block {
    white-space: normal;
    word-break: break-word;
    display: block;
}

.copy-button {
    float: right;
    padding: 0.5rem;
    margin: -0.5rem -0.5rem 0 0;
}

.contact-link {
    display: inline-block;
}
