@import 'wildcard/src/global-styles/breakpoints';

.tips-and-tricks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 25rem;

    @media (--md-breakpoint-down) {
        min-width: 50%;
        max-width: 100%;
        flex: 1;
    }

    @media (--sm-breakpoint-down) {
        max-width: 100%;
        width: 100%;
    }

    &-title {
        font-size: 0.75rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &-examples {
        display: flex;
        flex-wrap: wrap;
    }

    &-example {
        display: flex;
        align-items: center;
        margin: 0 2rem 0.75rem 0;
    }

    &-card {
        margin-left: 0.25rem;
        font-size: 0.75rem;
        text-decoration: none !important;
        padding: 0.25rem 0.75rem;
        align-self: center;
    }

    &-more {
        margin-top: auto;
    }
}
