
.form-field {
    display: flex;
    flex-direction: column;
    margin: 0;

    &__name {}

    &__input {
        margin-bottom: 0.25rem;
    }

    &__description {
        font-size: 0.875em;
    }
}
