@import './Suggestion';

.query-input2 {
    flex: 1 0 auto;
    position: relative;

    &__suggestions {
        position: absolute;
        width: 100%;
        z-index: 1;
        max-height: 25rem;
        margin: 0;
        overflow-x: hidden;
        overflow-y: auto;
        overflow-y: overlay;
        background-color: #1c2736;
        border: solid 1px rgb(27, 84, 138);
        border-top: none;

        .theme-light & {
            background-color: $color-light-bg-2;
            border-top: none;
        }
    }
}
