@import './SavedQueryForm';
@import './SavedQuery';

.saved-queries {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    @media (max-width: $media-lg) {
        padding: 0 2rem;
    }

    &__header {
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            margin-bottom: 0;
        }

        &-button {
            padding: 0.25rem 0.75rem 0.25rem 0.25rem;
            margin: 0 0.5rem 0 0.75rem;
        }
    }

    &__help {
        line-height: normal;
    }

    .saved-query-form {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        color: $color-text-2;
    }
}

.theme-light {
    .saved-query {
        &__row {
            border-color: $color-light-border;
        }
    }

    .saved-query-form {
        color: $color-light-text-1;
    }
}
