.saved-query-form {
    padding: 1rem;
    border: 1px solid $color-border;

    &__error {
        margin-top: 1rem;
        color: $color-danger;

        &-icon {
            vertical-align: middle;
        }
    }

    .form-control:not(:first-child) {
        margin: 0.25rem 0 0.5rem 0;
    }

    &__button {
        margin-top: 0.5rem;

        &:not(:first-child) {
            margin-left: 0.5rem;
        }
    }

    &__save-location,
    &__also-notifying {
        margin: 0 0 0.5rem 0;
    }

    &__save-location-options {
        padding-right: 1rem;
    }

    &__save-location-input {
        margin-right: 0.25rem;
    }

    &__title-row {
        display: flex;
        flex-direction: row;
    }

    &__spacer {
        flex: 1;
    }
}

.modal-container {
    .saved-query-form {
        background: $color-page-background;
    }

    // modal already has a close button
    .saved-query-form__close {
        display: none;
    }
}

.theme-light {
    .saved-query-form {
        border: 1px solid $color-light-border;
        .form-control {
            background: $color-light-bg-1;
        }
    }
}
