@import './Chip';
@import './Suggestion';

.search-box {
    color: #93a9c8;
    padding: 0;
    border-radius: 0.25rem;
    background-color: #1c2736;
    padding-top: 0.5rem;
    width: 100%;
    overflow: hidden;

    &--suggesting {
        box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.32);
    }

    &__option {
        flex: 0 0 auto;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 0;
        margin-left: 0.5rem;
        color: inherit;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 0.5rem;
        line-height: 1.5rem;
        > input[type='checkbox'] {
            display: none;
            &:checked ~ span {
                color: white;
            }
        }
        &:hover {
            color: white;
        }
    }

    &__query {
        display: flex;
        align-items: stretch;
        background: #151d28;
        border-radius: 2px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding-bottom: 0.125rem;
        overflow: hidden;
    }

    &__search-icon {
        flex: 0 0 auto;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
    }

    &__chips {
        flex: 1 1 auto;
        display: flex;
        margin-left: 0.5rem;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__input {
        flex: 1 0 auto;
        margin-top: 0.25rem;
        margin-right: 0.25rem;
        height: 2rem;
        line-height: 1.5rem;
    }

    &__input {
        // padding-left: 0.25rem;
        background-color: transparent;
        -webkit-appearance: none;
        border: none;
        outline: none;
        color: white;
        font-size: inherit;
        &:not(:first-child) {
            padding-left: 0.25rem;
        }
        &::-webkit-search-cancel-button {
            display: none;
        }
        &::placeholder {
            color: #93a9c8;
        }
    }

    &__spacer {
        padding-top: 0.5rem;
    }

    &__suggestions {
        max-height: 25rem;
        margin: 0;
        margin-top: 0.5rem;
        overflow-y: auto;
    }

    &__no-matches {
        display: flex;
        background-color: #1c2736;
        padding: 0 1rem;
        height: 2.5rem;
        line-height: 2.5rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &-text {
            margin-left: 0.5rem;
        }
    }
}
