@import './SearchFields';

.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;

    &__logo {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        width: 20rem;
        margin-top: 6rem;
        max-width: 90%;
    }

    &__container {
        flex: 0 0 auto;
        margin-top: 4rem;
        width: 49rem;
        max-width: 90%;
        position: relative;
    }

    &__input-container,
    &__input-sub-container {
        width: 100%;
        display: flex;

        > *:not(:first-child) {
            margin-left: 0.35rem;
        }
    }

    &__input-sub-container {
        justify-content: space-between;
    }

    .nav-links {
        flex: 0 0 auto;
        margin-top: 1rem;
        width: 100%;
    }

    .search-help {
        margin-top: 0.25rem;
        margin-right: 0.25rem;
    }

    &__onboarding-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1 1 auto;
    }

    &__onboarding-details-container {
        width: 25rem;
        text-align: center;
    }

    &__onboarding-details {
        padding-bottom: 0.625rem;
        border-radius: 2px;
        border-style: solid;
        border-width: 1px;
        border-color: '#cad2e2';
    }
}

.theme-light {
    .search-page {
        &__sign-in {
            color: $color-light-text-4;
        }
    }
}
