@import './SearchHelp';

.search--navbar-item {
    display: flex;

    .search-help {
        margin-left: 0.25rem;
        // stylelint-disable-next-line declaration-property-unit-whitelist
        margin-top: -2px;
    }
}
