.search-button {
    display: flex;
    padding: 0 1rem;
    border-radius: 2px;
    margin-left: 0.5rem;

    &__label {
        margin-left: 0.25rem;
    }

    @media (max-width: $media-lg) {
        padding: 0 0.5rem;
        &__label {
            display: none;
        }
    }
}
