@import './SearchSuggestionChips';

.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;

    &__logo {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        width: 20rem;
        margin-top: 6rem;
        max-width: 90%;
    }

    &__container {
        flex: 0 0 auto;
        margin-top: 4rem;
        width: 49rem;
        max-width: 90%;
        position: relative;
    }

    &__input-container,
    &__input-sub-container {
        width: 100%;
        display: flex;
    }

    &__input-sub-container {
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }

    &__query-container {
        flex: 0 0 auto;
        width: 49rem;
        max-width: 90%;
        position: relative;
    }

    &__edit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0.25rem;
    }

    &__center {
        display: flex;
        align-items: center;
    }

    .nav-links {
        flex: 0 0 auto;
        margin-top: 1rem;
        width: 100%;
    }

    .search-help {
        margin-left: 0.25rem;
        // stylelint-disable-next-line declaration-property-unit-whitelist
        margin-top: -2px;
    }
}

.theme-light {
    .search-page {
        &__sign-in {
            color: $color-light-text-4;
        }
    }
}
