.search-suggestion-chips {
    &__chip {
        color: $color-text-1;
        padding: 0 0.25rem;
        margin: 0.25rem;
        border-radius: 2px;

        &:hover {
            background-color: $color-bg-3;
        }

        &--selected {
            color: $color-text-3;
            background-color: $color-bg-5;
            border-color: $color-bg-5;

            &:hover {
                background-color: $color-bg-5;
                border-color: $color-bg-5 !important;
            }
        }

        &:first-child {
            margin-left: 0;
        }
    }

    &__edit {
        display: inline-block;
        vertical-align: middle;
    }

    &__add-scopes {
        display: inline-block;
        margin: 0.25rem;
        padding: 0.25rem;
    }

    &__add-edit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0.25rem;
    }

    &__center {
        display: flex;
        align-items: center;
    }
}

.theme-light {
    .search-suggestion-chips {
        &__chip {
            color: $color-light-text-6;
            background-color: $color-light-bg-2;
            &:hover {
                background-color: $color-light-bg-4;
                border-color: $color-light-border-2 !important;
            }
            &--selected {
                background-color: $color-light-bg-3;
                border-color: $color-light-border;
                &:hover {
                    background-color: $color-light-bg-3;
                    border-color: $color-light-border !important;
                }
            }
        }
    }
}
