
.search-box {
	font-size: 12px;
	color: #93A9C8;
	padding: 0;
	border-radius: 0.25rem;
	box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.32);
	background-color: #1C2736;
	padding-top: 0.5rem;

	.icon {
		height: 1rem;
		width: 1rem;
		fill: currentColor;
		text-align: center;
		display: inline-block;
	}

	&-query {
		display: flex;
		flex-wrap: wrap;
		background: #151D28;
		border-radius: 2px;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		padding-bottom: 0.25rem;
		&-input, &-chip {
			flex: 1 0 auto;
			margin-top: 0.25rem;
			margin-left: 0.25rem;
			height: 1.5rem;
		}

		&-input {
			padding-left: 0.25rem;
			background-color: transparent;
			border: none;
			outline: none;
			color: white;
			font-size: inherit;
			&::-webkit-search-cancel-button {
				display: none;
			}
			&::placeholder {
				color: #93A9C8;
			}
		}

		&-chip {
			flex: 0 1 auto;
			background-color: #2A3A51;
			border-radius: 2px;
			padding: 0.25rem 0.5rem;
			color: white;
			height: 1.5rem;
			line-height: 1rem;
			vertical-align: top;
			&-text {
				display: inline-block;
				vertical-align: top;
				margin-left: 0.5rem;
			}
			&-remove-button {
				border: none;
				outline: none;
				background-color: transparent;
				padding: 0;
				margin-left: 0.25rem;
				color: inherit;
				cursor: pointer;
				.icon {
					fill: #93A9C8;
					&:hover {
						fill: white;
					}
				}
			}
		}
	}

	&-suggestions {
		padding-top: 0.5rem;
		&-item {
			display: flex;
			border-top: 1px solid #2A3A51;
			cursor: pointer;
			padding: 0 0.6875rem;
			height: 2rem;
			line-height: 2rem;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			&-tip {
				flex: 0 1 auto;
			}
			&-label {
				flex: 1 0 auto;
			}
			&-selected {
				background-color: #2A3A51;
				&:last-child {
					border-bottom-left-radius: 0.25rem;
					border-bottom-right-radius: 0.25rem;
				}
			}
			.icon {
				flex: 0 1 auto;
				margin-right: 0.25rem;
				height: 100%;
			}
		}
	}

	&-highlighted-query {
		color: white;
	}
}
