@import './SearchHelp';

.search--navbar-item {
    display: flex;

    .scope-label2:hover {
        background-color: #1c2736;
    }
}

.theme-light {
    .scope-label2:hover {
        background-color: inherit;
    }
}
