
.suggestion {

    height: 2.5rem;
    padding: 0 1rem;

    display: flex;
    overflow: hidden;

    text-overflow: ellipsis;
    line-height: 2.5rem;
    white-space: nowrap;

    background-color: #1C2736;
    border-top: 1px solid #2A3A51;

    cursor: pointer;

    &--selected {
        background-color: #2A3A51;
    }

    &__label {
        flex: 1 0 auto;
        margin-left: .5rem;
    }

    &__highlighted-query {
        color: white;
    }

    &__tip {
        flex: 0 1 auto;
    }
}
