@import './CommitSearchResult';
@import './FileMatch';
@import './RepositorySearchResult';
@import './ResultContainer';
@import './SearchAlert';
@import '../marketing/Banner';
@import './ModalContainer';
@import './SymbolSearchResult';

.search-results {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__filters-bar {
        display: flex;
        flex: 0 0 auto;
        color: #93a9c8;
        background: $color-bg-1;
        border-bottom: 1px solid $color-border;
        padding-left: 1rem;
        align-items: center;
    }

    &__filters {
        margin-left: 0.5rem;
        display: flex;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__list {
        overflow-y: auto;
        padding: 0.25rem 5rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #93a9c8;
        padding-bottom: 0.25rem;

        &-notice {
            display: flex;
            align-items: center;
        }

        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-left {
                display: flex;
            }
        }
    }

    &__stats {
        margin-left: 0.5rem;
    }

    // In narrow windows, make the results flush with the left/right sides,
    // but we still need padding for the header and alerts.
    @include media-breakpoint-down(lg) {
        &__list {
            padding-left: 0;
            padding-right: 0;
        }

        &__info-row-left {
            margin-left: 0.5rem;
        }

        &__filters-bar,
        &__alert {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }

    &__more {
        width: 100%;
        text-align: left;
        padding-bottom: 2rem;
    }
}

.theme-light {
    .search-results {
        &__filters-bar {
            color: $color-light-text-2;
            background: $color-light-bg-1;
            border-bottom: 1px solid $color-light-border;
        }
    }
}
