@import './SavedQueryForm';
@import './SavedQueryRow';
@import './ExampleSearches';

.saved-queries {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;

    @media (max-width: $media-lg) {
        padding: 0 2rem;
    }

    &__header {
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__actions {
        display: flex;
    }

    .saved-query-form {
        flex: 1 1 auto;
        color: $color-text-2;
    }
}

.theme-light {
    .saved-query {
        &__row {
            border-color: $color-light-border;
        }
    }

    .saved-query-form {
        color: $color-light-text-1;
    }
}
