@import 'wildcard/src/global-styles/breakpoints';

// Match query input styling for the intermediate input displayed while
// lazy-loading the query input component, to avoid unstable UI.
.intermediate-input {
    font-size: var(--code-font-size);
    border: none;
    padding: 0;
    height: unset;
    &:focus {
        box-shadow: none;
    }
}

.form-control {
    cursor: text;
    height: unset;
    &:focus-within {
        border: 1px solid var(--input-focus-border-color);
        box-shadow: var(--search-box-focus-box-shadow);
    }
}
