@import 'wildcard/src/global-styles/breakpoints';

.button {
    color: var(--search-query-text-color);
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.0625rem 0.125rem;
    border-radius: 0.25rem;
    background-color: transparent;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: none;

    @media (--xs-breakpoint-down) {
        border: 1px solid var(--input-border-color);
        margin-left: 0;
    }

    &:hover,
    &:active,
    &:focus-visible {
        text-decoration: none;
        color: var(--search-query-text-color);
    }

    &:hover,
    &:focus-visible {
        background-color: var(--color-bg-2);
        border-color: var(--color-bg-2);
    }

    &:focus-visible {
        border-color: var(--border-active-color);
        box-shadow: none;
    }

    &:active,
    &--open,
    &--open:hover,
    &--open:focus {
        background-color: var(--color-bg-2);
    }

    &:disabled,
    &:hover:disabled,
    &:active:disabled,
    &:focus:disabled {
        background-color: var(--color-bg-3);
        color: var(--text-muted);
        border-color: transparent;
        opacity: 1;
        pointer-events: auto;

        /* Required to show tooltip on hover */
        :global(.theme-light) & {
            background-color: var(--color-bg-2);
        }

        :global(.search-filter-keyword),
        :global(.search-keyword) {
            color: var(--text-muted);
        }
    }

    &::after {
        /* Hide chevron usually shown by dropdown buttons */
        display: none;
    }

    &-content {
        display: block;
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

.menu {
    @media (--xs-breakpoint-down) {
        max-width: 85%;
        transform: none;
    }
}
