.checks {
    line-height: 1.6;
    font-size: 0.75rem;
}

.check {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0;
    padding-left: 0;

    li {
        position: relative;
    }

    svg {
        position: absolute;
        left: -24px;
    }
}

code {
    font-weight: 600;
}
