.checks {
    line-height: 1.6;
    font-size: 0.75rem;
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    padding-left: 0;

    li {
        position: relative;
    }

    svg {
        position: absolute;
        left: -24px;
    }

    .icon {
        top: 4px;
        font-size: 0.65rem;
    }

    .smaller {
        transform: scale(0.55);
    }

    .valid {
        top: 3px;
        opacity: 0.4;
    }

    code {
        font-weight: 600;
    }
}
