<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Sourcegraph App</string>
		<key>CFBundleExecutable</key>
		<string>sourcegraph_launcher.sh</string>
		<key>CFBundleIdentifier</key>
		<string>com.sourcegraph.app</string>
		<key>CFBundleVersion</key>
		<string>1.0</string>
		<key>CFBundleGetInfoString</key>
		<string>Sourcegraph App</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleIconFile</key>
		<string>icon.icns</string>
		<key>NSHighResolutionCapable</key>
		<true/>
		<key>LSUIElement</key>
		<false/>
	</dict>
</plist>
