<!doctype html>
<html lang="en" class="base">

<head>
	{{.Injected.HeadTop}}
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="google" content="notranslate">
	<meta http-equiv="Content-Language" content="en">
	<meta name="viewport" content="width=device-width, viewport-fit=cover" />
	<meta name="referrer" content="strict-origin-when-cross-origin"/>
	<meta name="color-scheme" content="light dark"/>
	{{with .Metadata}}
	<meta name='description' content="{{.Description}}" />
		{{if .ShowPreview}}
		<meta name='twitter:title' content="{{.Title}}" />
			{{ if .PreviewImage }}
			<meta name='twitter:card' content='summary_large_image' />
			<meta name="twitter:image" content="{{.PreviewImage}}" />
			<meta property="og:image" content="{{.PreviewImage}}" />
			{{ else }}
			<meta name='twitter:card' content='summary' />
			{{ end }}
		<meta name='twitter:description' content="{{.Description}}" />
		<meta property="og:type" content="website" />
		<meta property='og:title' content="{{.Title}}" />
		<meta property='og:description' content="{{.Description}}" />
		{{end}}
	{{end}}
	<title>{{.Title}}</title>

    {{- if .Svelte.Enabled}}
    {{.Svelte.Head}}
    <script ignore-csp>
        const userPreference = localStorage.getItem('sourcegraph-theme') || 'System'
        const theme =
            (userPreference === 'System' && window.matchMedia('(prefers-color-scheme: dark)').matches) ||
            userPreference === 'Dark'
                ? 'theme-dark'
                : 'theme-light'
        document.documentElement.classList.add(theme)
    </script>
    {{- else if .Manifest.MainCSSBundlePath}}
    <link rel="stylesheet" href="{{assetURL .Manifest.MainCSSBundlePath}}">
    {{- end}}

	<link id='sourcegraph-chrome-webstore-item' rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/dgjhfomjieaadpoljlnidmbgkdffpack">
	<link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="Sourcegraph Search">
	{{if .PreloadedAssets}}
	{{range .PreloadedAssets}}
	<link rel="preload" href="{{.Href}}" as="{{.As}}" />
	{{end}}
	{{end}}
	{{ if .Context.SourcegraphDotComMode }}
	<!-- Google Tag Manager -->
	<script ignore-csp>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.defer=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-TB4NLS7');</script>
	<!-- End Google Tag Manager -->
	<!-- Sentry -->
	<script src='https://js.sentry-cdn.com/ae2f74442b154faf90b5ff0f7cd1c618.min.js' crossorigin="anonymous"></script>
	<!-- End Sentry -->
	{{ end }}
	<script ignore-csp>
		window.context = {{.Context }}
		window.pageError = {{.Error }}
	</script>
	{{.Injected.HeadBottom}}

	<!-- Google Search Result SearchBox -->
	<!-- See https://developers.google.com/search/docs/advanced/structured-data/sitelinks-searchbox -->
	<script ignore-csp type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "WebSite",
			"name": "Sourcegraph",
			"url": "https://sourcegraph.com",
			"potentialAction": {
				"@type": "SearchAction",
				"target": {
					"@type": "EntryPoint",
					"urlTemplate": "https://sourcegraph.com/search?q={search_term_string}&utm_source=google-search-result&utm_campaign=google-search-result-searchbox"
				},
				"query-input": "required name=search_term_string"
			}
		}
	</script>
	<!-- End Google Search Result SearchBox -->
</head>

<body {{if .Svelte.Enabled }}data-sveltekit-preload-data data-sveltekit-preload-code="hover"{{ end }}>
	{{.Injected.BodyTop}}

    {{ if .Context.RedirectUnsupportedBrowser }}
         <script ignore-csp>
            function canRunSourceGraph(){"use strict";if("undefined"==typeof Symbol)return!1;try{eval("class Foo {}"),eval("var bar = (x) => x+1")}catch(r){return!1}return!0}
            if (!canRunSourceGraph()) {
                document.write("<h1 ignore-csp style=\"padding: 10px;\">It looks like Sourcegraph does not support your browser. Upgrade or install a JavaScript ES6 supported browser (<a href=\"https://www.microsoft.com/en-us/edge\">Edge</a>, <a href=\"https://www.apple.com/safari/\">Safari</a>, <a href=\"https://www.google.com/chrome/downloads\">Chrome</a>, <a href=\"https://www.mozilla.org/en-US/firefox/new/\">Firefox</a>)</h1>")

                // makes everything below disabled so no crashes
                document.write('<!--');
            }
        </script>
    {{ end }}

    {{- if .Svelte.Enabled }}
        <div ignore-csp style="display: contents">{{ .Svelte.Body }}</div>
    {{- else }}
        <div id="root"></div>
        <script src="{{assetURL .Manifest.MainJSBundlePath}}" type="module"></script>
    {{- end }}

	<noscript>
        {{ if .Context.SourcegraphDotComMode }}
        <!-- Google Tag Manager (noscript) -->
        <iframe ignore-csp src="https://www.googletagmanager.com/ns.html?id=GTM-TB4NLS7" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        <!-- End Google Tag Manager (noscript) -->
        {{ end }}

		<p>Sourcegraph is a web-based code search and navigation tool for dev teams. Search, navigate, and review code. Find answers.</p>
		<br><br><br>
        You need to enable JavaScript to run this app.
	</noscript>

	{{.Injected.BodyBottom}}
</body>

</html>
