<!doctype html>
<html lang="en" class="base">

<head>

	{{.Injected.HeadTop}}
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="google" content="notranslate">
	<meta http-equiv="Content-Language" content="en">
	<meta name="viewport" content="width=device-width, viewport-fit=cover" />
	<meta name="referrer" content="origin-when-cross-origin"/>
	<meta name="color-scheme" content="light dark"/>
	{{with .Metadata}}
	<meta name='description' content="{{.Description}}" />
		{{if .ShowPreview}}
		<meta name='twitter:title' content="{{.Title}}" />
			{{ if .PreviewImage }}
			<meta name='twitter:card' content='summary_large_image' />
			<meta name="twitter:image" content="{{.PreviewImage}}" />
			<meta property="og:image" content="{{.PreviewImage}}" />
			{{ else }}
			<meta name='twitter:card' content='summary' />
			{{ end }}
		<meta name='twitter:description' content="{{.Description}}" />
		<meta property="og:type" content="website" />
		<meta property='og:title' content="{{.Title}}" />
		<meta property='og:description' content="{{.Description}}" />
		{{end}}
	{{end}}
	<title>{{.Title}}</title>
	{{if .Manifest.AppCSSBundlePath}}<link rel="stylesheet" href="{{.Manifest.AppCSSBundlePath}}">{{end}}
	<link id='sourcegraph-chrome-webstore-item' rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/dgjhfomjieaadpoljlnidmbgkdffpack">
	<link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="Sourcegraph Search">
	{{ if .Context.SourcegraphDotComMode }}
	<!-- Google Tag Manager -->
	<script ignore-csp>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.defer=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-TB4NLS7');</script>
	<!-- End Google Tag Manager -->
	<!-- Sentry -->
	<script src='https://js.sentry-cdn.com/ae2f74442b154faf90b5ff0f7cd1c618.min.js' crossorigin="anonymous"></script>
	<!-- End Sentry -->
	<!-- Datadog RUM -->
    <script ignore-csp>(function(h,o,u,n,d) { h=h[d]=h[d]||{q:[],onReady:function(c){h.q.push(c)}}
    d=o.createElement(u);d.async=1;d.src=n;n=o.getElementsByTagName(u)[0];
    n.parentNode.insertBefore(d,n)})(window,document,'script',
    'https://www.datadoghq-browser-agent.com/datadog-rum-v4.js','DD_RUM');</script>
	<!-- End Datadog RUM -->
	{{ end }}
	<script ignore-csp>
		window.context = {{.Context }}
		window.pageError = {{.Error }}
	</script>
	{{.Injected.HeadBottom}}
</head>

<body>
	{{ if .Context.SourcegraphDotComMode }}
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe ignore-csp src="https://www.googletagmanager.com/ns.html?id=GTM-TB4NLS7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<!-- Google Search Result SearchBox -->
	<!-- See https://developers.google.com/search/docs/advanced/structured-data/sitelinks-searchbox -->
	<script ignore-csp type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "WebSite",
			"url": "https://sourcegraph.com",
			"potentialAction": {
				"@type": "SearchAction",
				"target": {
					"@type": "EntryPoint",
					"urlTemplate": "https://sourcegraph.com/search?q={search_term_string}&utm_source=google-search-result&utm_campaign=google-search-result-searchbox"
				},
				"query-input": "required name=search_term_string"
			}
		}
	</script>
	<!-- End Google Search Result SearchBox -->

	{{ end }}
	{{.Injected.BodyTop}}
	<div id="root"></div>
	<noscript>
		<p>Sourcegraph is a web-based code search and navigation tool for dev teams. Search, navigate, and review code. Find answers.</p>

		<br>
		<br>
		<br>
		You need to enable JavaScript to run this app.
	</noscript>
	{{if .Manifest.AppJSRuntimeBundlePath}}<script src="{{.Manifest.AppJSRuntimeBundlePath}}"></script>{{end}}
	<script src="{{.Manifest.ReactJSBundlePath}}" {{if .Manifest.IsModule}}type="module"{{end}}></script>
	<script src="{{.Manifest.AppJSBundlePath}}" {{if .Manifest.IsModule}}type="module"{{end}}></script>
	{{.Injected.BodyBottom}}
</body>

</html>
