@import '../../components/Sidebar';

$color-theme-switcher-background: rgba(42, 58, 81, 0.7);
$color-theme-switcher-btn-text: rgba(162, 176, 205, 0.5);

.user-settings-sidebar {
    width: 12rem;

    .avatar {
        height: 1.5rem;
        width: 1.5rem;
    }

    &__theme-switcher {
        display: flex;
        background-color: $color-theme-switcher-background;
        margin-bottom: 1rem;

        &--button {
            width: 100%;
            color: $color-theme-switcher-btn-text;
            padding: 0.25rem;
            display: inline-flex;
            justify-content: center;

            &--selected {
                background-color: $color-bg-5;
                color: inherit;
            }
        }

        &--icon {
            padding-right: 0.3rem;
        }
    }
}

.theme-light {
    .user-settings-sidebar {
        &__theme-switcher {
            background: $color-light-bg-4;

            &--button {
                color: $color-light-text-3;

                &--selected {
                    background-color: $color-light-bg-3;
                    color: inherit;
                }
            }
        }
    }
}
