.user-settings-emails-page {
    &__list {
        list-style-type: none;
    }

    &__item {
        padding: 0.5rem 0.5rem;
        border: 1px solid #2b3750;
        border-radius: 0.125rem;
    }
}

.theme-light {
    .user-settings-emails-page {
        &__item {
            border-color: $color-light-border;
        }
    }
}
