.line {
    width: 100%;
    overflow-x: hidden;
    cursor: pointer;
    user-select: none;
    background-color: var(--code-bg);

    &-active {
        background-color: var(--code-selection-bg);
    }

    &-code {
        color: var(--body-color);
    }

    &-line-number {
        color: red;
        font-size: 0.8rem;
    }
}

.header {
    padding: 0.5rem 0.5rem 0.5rem 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    white-space: nowrap;

    &-title {
        flex: 1 1 auto;
        overflow: hidden;
        display: flex;
    }

    &-divider {
        border-right: 1px solid var(--border-color-2);
        height: 1rem;
    }

    &-link {
        cursor: text;
        pointer-events: none;
    }

    p {
        margin-bottom: 0;
    }

    &:not(:only-of-type) {
        border-bottom: none;
    }

    &-description {
        line-height: (14/11);
    }
}
