.item {
    width: 100%;
    overflow-x: hidden;
    cursor: pointer;
    user-select: none;
}

.item-active {
    background-color: lightcoral;
}

.header {
    background-color: lightgray;
    color: black;
    pointer-events: none;
}
