.search-result-header {
    padding: 0.5rem 0.5rem 0.5rem 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    white-space: nowrap;

    &:not(:only-of-type) {
        border-bottom: none;
    }
}
