.selectable-search-result {
    width: 100%;
    overflow-x: hidden;
    cursor: pointer;
    user-select: none;
    background-color: var(--code-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-active {
        background-color: var(--code-selection-bg);
    }
}
