.activation-checklist {
    &__button {
        display: block;
        background-color: transparent;
        padding: 0;
        border-bottom: 0;

        .list-group-flush .list-group-item:first-child &:first-child {
            border-top-width: 1px;
        }
    }

    &__item {
        padding: 0;
        font-size: 16px;
    }

    &__title {
        margin-left: 0.25rem;

        &:hover {
            text-decoration: underline;
        }
    }

    &__detail {
        // This is the width of the icon in the row above. This is to get text to line up properly.
        // stylelint-disable-next-line declaration-property-unit-whitelist
        margin: 0 22.84px;
        padding: 0 0.5rem;
        font-size: 14px;
        border-bottom-width: 1px;
    }
}

.activation-checklist-item {
    color: var(--link-color);

    &__icon {
        fill: $body-color !important;
    }

    &--dropdown {
        padding: 0.25rem 0.75rem;
    }

    &--admin-page {
        padding: 0.25rem 0.75rem;
    }
}

[data-reach-accordion-button] {
    .icon-down {
        display: none;
    }
    .icon-right {
        display: inline-block;
    }
}

[data-reach-accordion-button][aria-expanded='true'] {
    background-color: $dropdown-link-hover-bg;
    color: $body-color;

    .icon-right {
        display: none;
    }
    .icon-down {
        display: inline-block;
    }
}

[data-reach-accordion-panel][data-state='open'] {
    background-color: $dropdown-link-hover-bg;
    color: $body-color;
}
