.activation-checklist {
    &__button {
        display: block;
        background-color: transparent;
        padding: 0;

        .list-group-flush .list-group-item:first-child &:first-child {
            border-top-width: 1px;
        }
    }

    &__item {
        padding: 0;
        font-size: 16px;
    }

    &__title {
        margin: 0 0.5rem;

        &:hover {
            text-decoration: underline;
        }
    }

    &__detail {
        // This is the width of the chevron icon in the row above.
        // We want our text to line up with the title text, so we need
        // a margin equal to the icon width.
        margin-left: 22.84px;
        font-size: 14px;
    }
}

[data-reach-accordion-button] {
    .icon-down {
        display: none;
    }
    .icon-right {
        display: inline-block;
    }
}

[data-reach-accordion-button][aria-expanded='true'] {
    .icon-right {
        display: none;
    }
    .icon-down {
        display: inline-block;
    }
}
