.activation-dropdown {
    width: 21rem;

    &-item {
        white-space: normal;
    }
}

.activation-dropdown-button {
    &--hidden {
        display: none;
    }

    &__progress-bar-container {
        display: inline-block;
        width: 1rem;
        margin-top: -0.125rem;
        margin-left: 0.375rem;
    }
    &__circular-progress-bar {
        // stylelint-disable-next-line selector-class-pattern
        .CircularProgressbar-trail {
            stroke: $dropdown-border-color;
        }
        // stylelint-disable-next-line selector-class-pattern
        .CircularProgressbar-path {
            stroke: $oc-green-4;
        }
    }
    &__loader {
        padding-left: 0.8375rem;
    }

    &__confetti {
        z-index: 1000;
    }
}

.activation-dropdown-header {
    white-space: normal;
    &:hover {
        text-decoration: none;
    }
}
