.activation-dropdown {
    width: 23rem;

    &-item {
        white-space: normal;
    }
}

.activation-dropdown-button {
    &--hidden {
        display: none;
    }

    &__circular-progress-bar {
        width: 1.25rem;
        height: 1.25rem;
        margin-left: 0.375rem;

        // stylelint-disable-next-line selector-class-pattern
        .CircularProgressbar-trail {
            stroke: var(--border-color);
        }
        // stylelint-disable-next-line selector-class-pattern
        .CircularProgressbar-path {
            stroke: $oc-green-4;
        }
    }
    &__loader {
        padding-left: 0.8375rem;
    }
}

.activation-dropdown-header {
    white-space: normal;
}
