.activation-dropdown {
    width: 21rem;

    &-item {
        white-space: normal;
    }
}

.activation-dropdown-button {
    &--hidden {
        display: none;
    }

    &__progress-bar-container {
        display: inline-block;
        width: 1rem;
        margin-top: -0.125rem;
        margin-left: 0.375rem;
    }
    &__circular-progress-bar {
        // stylelint-disable-next-line selector-class-pattern
        .CircularProgressbar-trail {
            stroke: $dropdown-border-color;
        }
        // stylelint-disable-next-line selector-class-pattern
        .CircularProgressbar-path {
            stroke: $oc-green-4;
        }
    }
    &__loader {
        padding-left: 0.8375rem;
    }

    &__confetti {
        z-index: 1000;
    }
}

.activation-dropdown-header {
    white-space: normal;
    &:hover {
        text-decoration: none;
    }
}

.activation-checklist-button {
    display: block;
    background-color: transparent;
    padding: 0;

    .list-group-flush .list-group-item:first-child &:first-child {
        border-top-width: 1px;
    }
}

.activation-checklist-item {
    padding: 0;

    &__detail {
        // This is the width of the chevron icon in the row above.
        // We want our text to line up with the title text, so we need
        // a margin equal to the icon width.
        margin-left: 19.98px;
    }
}

[data-reach-accordion-button] {
    .icon-down {
        display: none;
    }
    .icon-right {
        display: inline-block;
    }
}

[data-reach-accordion-button][aria-expanded='true'] {
    .icon-right {
        display: none;
    }
    .icon-down {
        display: inline-block;
    }
}

.activation-checklist__title {
    font-size: 16px;
}
