---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.bitbucket.org/2.0/repositories/unknwon?pagelen=100
    method: GET
  response:
    body: '{"pagelen": 100, "values": [{"scm": "git", "website": null, "has_wiki":
      true, "uuid": "{e164a64c-bd73-4a40-b447-d71b43f328a8}", "links": {"watchers":
      {"href": "https://api.bitbucket.org/2.0/repositories/Unknwon/boilerdb/watchers"},
      "branches": {"href": "https://api.bitbucket.org/2.0/repositories/Unknwon/boilerdb/refs/branches"},
      "tags": {"href": "https://api.bitbucket.org/2.0/repositories/Unknwon/boilerdb/refs/tags"},
      "commits": {"href": "https://api.bitbucket.org/2.0/repositories/Unknwon/boilerdb/commits"},
      "clone": [{"href": "https://Unknwon@bitbucket.org/Unknwon/boilerdb.git", "name":
      "https"}, {"href": "git@bitbucket.org:Unknwon/boilerdb.git", "name": "ssh"}],
      "self": {"href": "https://api.bitbucket.org/2.0/repositories/Unknwon/boilerdb"},
      "source": {"href": "https://api.bitbucket.org/2.0/repositories/Unknwon/boilerdb/src"},
      "html": {"href": "https://bitbucket.org/Unknwon/boilerdb"}, "avatar": {"href":
      "https://bytebucket.org/ravatar/%7Be164a64c-bd73-4a40-b447-d71b43f328a8%7D?ts=go"},
      "hooks": {"href": "https://api.bitbucket.org/2.0/repositories/Unknwon/boilerdb/hooks"},
      "forks": {"href": "https://api.bitbucket.org/2.0/repositories/Unknwon/boilerdb/forks"},
      "downloads": {"href": "https://api.bitbucket.org/2.0/repositories/Unknwon/boilerdb/downloads"},
      "issues": {"href": "https://api.bitbucket.org/2.0/repositories/Unknwon/boilerdb/issues"},
      "pullrequests": {"href": "https://api.bitbucket.org/2.0/repositories/Unknwon/boilerdb/pullrequests"}},
      "fork_policy": "allow_forks", "name": "BoilerDB", "language": "go", "created_on":
      "2013-09-26T16:17:09.920116+00:00", "parent": {"links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/dvirsky/boilerdb"},
      "html": {"href": "https://bitbucket.org/dvirsky/boilerdb"}, "avatar": {"href":
      "https://bytebucket.org/ravatar/%7B7a97a20d-69a4-465e-bf13-a368cdec0ae7%7D?ts=go"}},
      "type": "repository", "name": "BoilerDB", "full_name": "dvirsky/boilerdb", "uuid":
      "{7a97a20d-69a4-465e-bf13-a368cdec0ae7}"}, "mainbranch": {"type": "branch",
      "name": "master"}, "full_name": "Unknwon/boilerdb", "has_issues": true, "owner":
      {"display_name": "Unknwon", "uuid": "{1107ec02-472f-40a2-a5de-31b689718f10}",
      "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7B1107ec02-472f-40a2-a5de-31b689718f10%7D"},
      "html": {"href": "https://bitbucket.org/%7B1107ec02-472f-40a2-a5de-31b689718f10%7D/"},
      "avatar": {"href": "https://avatar-cdn.atlassian.com/557058%3Ab2fa9afb-f97f-4d86-8524-eb2f669047dd?by=id&sg=A9huJid3McNX9xEiKiQuHXfHiBo%3D&d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FU-5.png"}},
      "nickname": "Unknwon", "type": "user", "account_id": "557058:b2fa9afb-f97f-4d86-8524-eb2f669047dd"},
      "updated_on": "2013-09-26T16:17:09.985193+00:00", "size": 3522246, "type": "repository",
      "slug": "boilerdb", "is_private": false, "description": ""}, {"scm": "hg", "website":
      null, "has_wiki": true, "uuid": "{a782ea93-2c6e-4dbb-ace2-2bd447d03750}", "links":
      {"watchers": {"href": "https://api.bitbucket.org/2.0/repositories/Unknwon/strftime/watchers"},
      "branches": {"href": "https://api.bitbucket.org/2.0/repositories/Unknwon/strftime/refs/branches"},
      "tags": {"href": "https://api.bitbucket.org/2.0/repositories/Unknwon/strftime/refs/tags"},
      "commits": {"href": "https://api.bitbucket.org/2.0/repositories/Unknwon[...]
