---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.bitbucket.org/2.0/repositories/sglocal?pagelen=100
    method: GET
  response:
    body: '{"pagelen": 100, "values": [{"scm": "git", "has_wiki": false, "links":
      {"watchers": {"href": "https://api.bitbucket.org/2.0/repositories/sglocal/go-langserver/watchers"},
      "branches": {"href": "https://api.bitbucket.org/2.0/repositories/sglocal/go-langserver/refs/branches"},
      "tags": {"href": "https://api.bitbucket.org/2.0/repositories/sglocal/go-langserver/refs/tags"},
      "commits": {"href": "https://api.bitbucket.org/2.0/repositories/sglocal/go-langserver/commits"},
      "clone": [{"href": "https://sourcegraph-testing@bitbucket.org/sglocal/go-langserver.git",
      "name": "https"}, {"href": "git@bitbucket.org:sglocal/go-langserver.git", "name":
      "ssh"}], "self": {"href": "https://api.bitbucket.org/2.0/repositories/sglocal/go-langserver"},
      "source": {"href": "https://api.bitbucket.org/2.0/repositories/sglocal/go-langserver/src"},
      "html": {"href": "https://bitbucket.org/sglocal/go-langserver"}, "avatar": {"href":
      "https://bytebucket.org/ravatar/%7B003e49c8-47c5-458b-8fd3-4da90fe3a300%7D?ts=default"},
      "hooks": {"href": "https://api.bitbucket.org/2.0/repositories/sglocal/go-langserver/hooks"},
      "forks": {"href": "https://api.bitbucket.org/2.0/repositories/sglocal/go-langserver/forks"},
      "downloads": {"href": "https://api.bitbucket.org/2.0/repositories/sglocal/go-langserver/downloads"},
      "pullrequests": {"href": "https://api.bitbucket.org/2.0/repositories/sglocal/go-langserver/pullrequests"}},
      "created_on": "2019-07-10T22:39:22.385369+00:00", "full_name": "sglocal/go-langserver",
      "owner": {"username": "sglocal", "display_name": "sglocal", "type": "team",
      "uuid": "{9e738e10-faae-489f-a19a-b01daa807596}", "links": {"self": {"href":
      "https://api.bitbucket.org/2.0/workspaces/%7B9e738e10-faae-489f-a19a-b01daa807596%7D"},
      "html": {"href": "https://bitbucket.org/%7B9e738e10-faae-489f-a19a-b01daa807596%7D/"},
      "avatar": {"href": "https://bitbucket.org/account/sglocal/avatar/"}}}, "size":
      5559189, "uuid": "{003e49c8-47c5-458b-8fd3-4da90fe3a300}", "type": "repository",
      "website": "", "override_settings": {"branching_model": false, "default_merge_strategy":
      false, "branch_restrictions": false}, "description": "", "has_issues": false,
      "slug": "go-langserver", "is_private": false, "name": "go-langserver", "language":
      "", "fork_policy": "allow_forks", "project": {"links": {"self": {"href": "https://api.bitbucket.org/2.0/workspaces/sglocal/projects/TEST"},
      "html": {"href": "https://bitbucket.org/sglocal/workspace/projects/TEST"}, "avatar":
      {"href": "https://bitbucket.org/account/user/sglocal/projects/TEST/avatar/32?ts=1562798362"}},
      "type": "project", "name": "test", "key": "TEST", "uuid": "{4f269052-faf4-4e35-8f6b-b3127c46cee5}"},
      "mainbranch": {"type": "branch", "name": "master"}, "workspace": {"slug": "sglocal",
      "type": "workspace", "name": "sglocal", "links": {"self": {"href": "https://api.bitbucket.org/2.0/workspaces/sglocal"},
      "html": {"href": "https://bitbucket.org/sglocal/"}, "avatar": {"href": "https://bitbucket.org/workspaces/sglocal/avatar/?ts=1562621840"}},
      "uuid": "{9e738e10-faae-489f-a19a-b01daa807596}"}, "updated_on": "2019-07-10T22:39:22.565939+00:00"},
      {"scm": "git", "has_wiki": false, "links": {"watchers": {"href": "https://api.bitbucket.org/2.0/repositories/sglocal/python-langserver/watchers"},
      "branches": {"href": "https://api.bitbucket.org/2.0/repositories/sglocal/python-langserver/refs/branches"},
      "tags": {"href": "https://api.bitbucket.org/2.0/repositories/sglocal/python-langserver/refs/tags"},
      "commits": {"href": "https://api.bitbucket.org/2.0/repositories/sglocal/python-lang[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.bitbucket.org/2.0/repositories/sourcegraph-testing?pagelen=100
    method: GET
  response:
    body: '{"pagelen": 100, "values": [{"scm": "git", "has_wiki": false, "links":
      {"watchers": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/watchers"},
      "branches": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-t[...]
