@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities/spacing';
@import 'wildcard/src/global-styles/breakpoints';
@import './homepage';

.with-editor-font span {
    font-family: var(--vscode-editor-font-family) !important;
    font-weight: var(--vscode-editor-font-weight) !important;
    font-size: var(--vscode-editor-font-size) !important;
}

.search-page {
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
}

.logo {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: 20rem;
    margin-top: 6rem;
    max-width: 90%;

    /* Reserve the image's height to avoid jitter before it loads. */
    min-height: 54px;
}

.search-container {
    flex: 1 1 auto;
    margin-top: 2.5rem;
    width: 100%;

    position: relative;

    &--with-content-below {
        flex-grow: 0;
        margin-bottom: 5rem;
    }
}

.streaming-search-results {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    height: min-content;
    padding-top: 0.5rem;

    @media (--md-breakpoint-down) {
        grid-template-columns: auto;
        grid-template-rows: auto auto 1fr;
    }

    &__container {
        // Hack!! Fixes some possible nested scrolling on diff searches
        // due to size calculations on diff results. The parent will scroll
        // instead so this doesn't really hide anything.
        overflow-y: hidden;

        overflow-x: hidden;
        grid-column: 2;
        grid-row: 3;

        @media (--md-breakpoint-down) {
            grid-column: 1;
            grid-row: 4;
            padding-left: 1rem;
        }
    }

    &__cta {
        &-container {
            flex: 1;
        }

        &-title {
            font-size: 1rem;
        }

        &-description {
            font-size: 0.875rem;
        }
    }

    &__btn {
        font-size: var(--vscode-font-size) !important;
        background-color: var(--vscode-button-background) !important;
        color: var(--vscode-button-foreground) !important;
    }

    &__text {
        color: var(--white);
    }
}

:global(.monaco-mouse-cursor-text) {
    /* Hack: remove focus ring around Monaco editor cursor */
    &:focus-within,
    &:focus-visible {
        box-shadow: none;
    }
}

// Mirror of '@sourcegraph/web/src/search/home/LoggedOutHomepage.module.scss'

.vsce-search-homepage {
    width: 100%;

    @media (--xl-breakpoint-up) {
        max-width: var(--max-homepage-container-width);
    }

    :global(.theme-light) & {
        --homepage-card-color: var(--color-bg-1);
    }

    :global(.theme-dark) & {
        --homepage-card-color: var(--color-bg-2);
    }

    --home-marketing-drop: 0 4px 16px -6px rgba(46, 34, 119, 0.1);
    --search-input-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);

    &__community-search-context-list {
        &-cards {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media (--md-breakpoint-down) {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
                grid-auto-rows: minmax(4rem, auto);
                gap: $spacer * 0.75;
            }

            @media (--sm-breakpoint-down) {
                display: flex;
                flex-wrap: wrap;
                justify-content: unset;
            }
        }

        &-card {
            max-width: 13.5rem;

            @media (--sm-breakpoint-down) {
                margin-right: 0.75rem;
            }
        }

        &-icon {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
        }
    }

    &__cta {
        max-width: 38rem;
        background-color: var(--color-bg-1);
    }

    &__community-search-contexts-listing-title {
        margin-bottom: 0.25rem;
    }
}

.help-content {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    @media (--sm-breakpoint-down) {
        align-items: stretch;
        flex-direction: column;
    }
}

.search-examples-wrapper {
    margin-right: 1.5rem;

    @media (--sm-breakpoint-down) {
        margin-right: 0;
    }

    flex: 1;
}

.search-examples-title-wrapper {
    @media (--md-breakpoint-down) {
        flex-direction: column;
    }
}
.search-examples-title {
    @media (--md-breakpoint-down) {
        margin-bottom: 0.5rem;
    }
}
.title {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
}

.search-examples {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    @media (--lg-breakpoint-down) {
        grid-template-columns: 1fr 1fr;
    }

    @media (--md-breakpoint-down) {
        grid-template-columns: 1fr;
    }
}
.search-example-card {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: var(--vscode-editor-font-size);
    text-decoration: none !important;
    margin-bottom: 0.5rem;
}
.search-example-icon {
    color: var(--primary);
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
.search-example-query-wrapper {
    padding: 0.5rem 0;
    align-self: center;
}
.search-example-query {
    padding: 0 0.75rem;
    border-left: 1px solid var(--border-color);
    min-height: 1.5rem;
}
.cta-card {
    display: flex;
    flex-direction: row;
    padding: 0.75rem 1rem;
    background-color: var(--vscode-textCodeBlock-background) !important;
    font-size: var(--vscode-font-size);
}
.thumbnail {
    @media (--sm-breakpoint-down) {
        margin-top: 3.5rem;
        text-align: center;
    }
}
