.with-editor-font span {
    font-family: var(--vscode-editor-font-family) !important;
    font-weight: var(--vscode-editor-font-weight) !important;
    font-size: var(--vscode-editor-font-size) !important;
}

.search-page {
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
}

.logo {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: 20rem;
    margin-top: 6rem;
    max-width: 90%;

    /* Reserve the image's height to avoid jitter before it loads. */
    min-height: 54px;
}

.search-container {
    flex: 1 1 auto;
    margin-top: 2.5rem;
    width: 100%;

    position: relative;

    &--with-content-below {
        flex-grow: 0;
        margin-bottom: 5rem;
    }
}

.streaming-search-results {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    height: min-content;
    padding-top: 0.5rem;

    @media (--md-breakpoint-down) {
        grid-template-columns: auto;
        grid-template-rows: auto auto 1fr;
    }

    &__container {
        // Hack!! Fixes some possible nested scrolling on diff searches
        // due to size calculations on diff results. The parent will scroll
        // instead so this doesn't really hide anything.
        overflow-y: hidden;

        overflow-x: hidden;
        grid-column: 2;
        grid-row: 3;

        @media (--md-breakpoint-down) {
            grid-column: 1;
            grid-row: 4;
            padding-left: 1rem;
        }
    }

    &__cta {
        &-container {
            flex: 1;
        }

        &-title {
            font-size: 1rem;
        }

        &-description {
            font-size: 0.875rem;
        }
    }

    &__btn {
        font-size: var(--vscode-font-size) !important;
        background-color: var(--primary);
        color: var(--white);
    }

    &__text {
        color: var(--white);
    }
}

:global(.monaco-mouse-cursor-text) {
    /* Hack: remove focus ring around Monaco editor cursor */
    &:focus-within,
    &:focus-visible {
        box-shadow: none;
    }
}
