@import 'wildcard/src/global-styles/breakpoints';

.streaming-search-results {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    height: min-content;
    padding-top: 0.5rem;

    @media (--md-breakpoint-down) {
        grid-template-columns: auto;
        grid-template-rows: auto auto 1fr;
    }

    &__container {
        // Hack!! Fixes some possible nested scrolling on diff searches
        // due to size calculations on diff results. The parent will scroll
        // instead so this doesn't really hide anything.
        overflow-y: hidden;

        overflow-x: hidden;
        grid-column: 2;
        grid-row: 3;

        @media (--md-breakpoint-down) {
            grid-column: 1;
            grid-row: 4;
            padding-left: 1rem;
        }
    }
}

.result {
    color: var(--success);
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    flex: 1 0 auto;
    text-align: left;
}

.search-results-info-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    margin-right: 1rem;
    margin-bottom: 0.5rem;

    :global(.alert) {
        margin-bottom: 0.5rem;
    }

    :global(.mdi-icon) {
        margin-right: 0.125rem;
    }
}

.divider {
    height: 1rem;
    border-right: 1px solid var(--border-color);
    margin: 0 0.5rem 0 0;

    &:first-child {
        display: none;
    }
}

.expander {
    display: block;
    flex-grow: 1;
}

.nav-item:last-child {
    margin-right: 0 !important;
}

.tree-page {
    // For the other sub-pages in the RepoArea, we use a child selector to add the
    // border and radius to the sub-page containers. Since we use the Container
    // component here, we already have a pair of borders and had duplicate borders
    // without it. This should be removed once we can get rid of that child selector.
    border: none !important;
    border-radius: 0 !important;
    height: 100%;

    :global(.batch-change-badge) {
        top: 0;
    }

    :global(.git-commit-node) {
        padding-left: 0;
        padding-right: 0;

        :global(.git-commit-node__message-subject) {
            opacity: 0.9;
        }

        :global(.btn) {
            opacity: 0.85;
        }
    }
}

.container {
    overflow-y: auto;
    height: 100%;
    flex: 1;
    background-color: var(--code-bg);
}

.section {
    width: 100%;

    max-width: var(--media-xl);
}

.section {
    width: 100%;

    max-width: var(--media-xl);
}

.files-container {
    width: 100%;
    // background-color: var(--code-bg);
}

.tree-entries-section {
    // To avoid having empty columns (and thus the items appearing not flush with the left margin),
    // the component only applies this class when there are >= 6 items. This number is chosen
    // because it is greater than the maximum number of columns that will be shown and ensures that
    // at least 1 column has more than 1 item.
    // See also MIN_ENTRIES_FOR_COLUMN_LAYOUT.
    &--columns {
        column-gap: 1.5rem;
        column-width: 13rem;
        column-rule: 1px solid var(--border-color);
        border-right: solid 1px var(--border-color);

        @media (--sm-breakpoint-up) {
            column-count: 1;
        }
        @media (--md-breakpoint-up) {
            column-count: 3;
        }
        @media (--md-breakpoint-down) {
            column-count: 4;
        }
    }

    &--no-decorations {
        column-rule: none;
        border-right: none;
    }
}

.tree-entry {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-left: -0.25rem;
    margin-right: -0.25rem;
    padding: 0.125rem 0.25rem;

    break-inside: avoid-column;

    &:hover {
        background-color: var(--color-bg-1);
    }

    &--no-columns {
        max-width: 18rem;
    }
}

// from from '@sourcegraph/web/src/savedSearches/SavedSearchForm.module.scss'
.checkbox {
    margin-right: 0.25rem;
}

.label {
    font-weight: bold;
}

.submit-button {
    margin-bottom: 1rem;
}

// Hide icon in alert
.code-monitoring-alert {
    &::before,
    &::after {
        display: none;
    }
}

// Origin from @sourcegraph/web/src/search/results/ButtonDropdownCta.module.scss
.button-dropdown-cta {
    font-size: var(--vscode-editor-font-size);

    &__container {
        width: 31rem;
        padding: 0.5rem;
    }

    &__toggle {
        border-radius: var(--border-radius) !important;
        padding: 0.375rem 0.5rem;
    }

    &__title {
        margin-bottom: 0.25rem;
        font-size: var(--vscode-font-size);
    }

    &__copy-text {
        font-size: var(--vscode-font-size);
    }

    &__icon {
        // stylelint-disable-next-line declaration-property-unit-whitelist
        padding: 15px;
        border-radius: var(--border-radius);
        border: none;
        color: var(--merged-3);

        svg {
            margin-right: 0 !important;
        }
    }

    &__wrapper {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-bottom: 1rem;
    }

    &__button {
        font-size: var(--vscode-editor-font-size);
        border: none;
        padding: 0.5rem 1.5rem;
    }
}
