.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    padding-top: 1rem;
}

.card {
    display: flex;
    text-decoration: none;
    flex-direction: column;

    &:hover {
        text-decoration: none;
    }
}

.tab-list {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--body-bg);
}

.cards-footer-button {
    margin-left: auto;
    margin-right: auto;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-top: 1rem;
}

.queries {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-grow: 1;
}

.query {
    padding: 0.375rem 1rem 0.375rem 0.5rem;
    position: relative;
}

.copy-button {
    position: absolute;
    right: 0.375rem;
    top: 0.375rem;
    color: var(--icon-color);

    &:hover {
        color: var(--body-color);
    }
}
