---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    url: https://gerrit.sgdev.org/a/changes/Ic433e1f2e4edfebe4cf75b23ded032bb790d872a/revisions/current/reviewers
    method: GET
  response:
    body: |
      )]}'
      [
        {
          "approvals": {
            "Code-Review": "-2"
          },
          "_account_id": 1000018,
          "name": "Idan Varsano",
          "email": "idan.varsano@sourcegraph.com",
          "username": "ivarsano"
        },
        {
          "approvals": {
            "Code-Review": "+1"
          },
          "_account_id": 1000034,
          "name": "Kelli Rockwell",
          "email": "kelli@sourcegraph.com"
        }
      ]
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""