---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://gerrit.sgdev.org/a/groups/Sourcegraph
    method: GET
  response:
    body: |
      )]}'
      {
        "url": "#/admin/groups/uuid-40bb3b32f9da57a0697285daabb777965720b96e",
        "options": {
          "visible_to_all": true
        },
        "group_id": 3,
        "owner": "Sourcegraph",
        "owner_id": "40bb3b32f9da57a0697285daabb777965720b96e",
        "created_on": "2020-11-30 16:51:34.000000000",
        "id": "40bb3b32f9da57a0697285daabb777965720b96e",
        "name": "Sourcegraph"
      }
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
