---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://gerrit.sgdev.org/a/projects/?S=0&n=5
    method: GET
  response:
    body: |
      )]}'
      {
        "All-Projects": {
          "id": "All-Projects",
          "state": "ACTIVE"
        },
        "All-Users": {
          "id": "All-Users",
          "state": "ACTIVE"
        },
        "idan-temp": {
          "id": "idan-temp",
          "state": "ACTIVE"
        },
        "k8s-gerrit": {
          "id": "k8s-gerrit",
          "state": "ACTIVE"
        },
        "sourcegraph": {
          "id": "sourcegraph",
          "state": "ACTIVE"
        }
      }
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://gerrit.sgdev.org/a/projects/?S=0&n=5&type=CODE
    method: GET
  response:
    body: |
      )]}'
      {
        "idan-temp": {
          "id": "idan-temp",
          "state": "ACTIVE"
        },
        "k8s-gerrit": {
          "id": "k8s-gerrit",
          "state": "ACTIVE"
        },
        "sourcegraph": {
          "id": "sourcegraph",
          "state": "ACTIVE"
        }
      }
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
