---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://gerrit.sgdev.org/a/groups/40bb3b32f9da57a0697285daabb777965720b96e/members/
    method: GET
  response:
    body: |
      )]}'
      [
        {
          "_account_id": 1000002,
          "name": "Fake Name",
          "email": "fakename@sourcegraph.com"
        },
        {
          "_account_id": 1000018,
          "name": "Fake Name 2",
          "email": "fakename2@sourcegraph.com",
          "username": "fakename2"
        }
      ]
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
