---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://gerrit-review.googlesource.com/projects/?S=0&n=5&type=CODE
    method: GET
  response:
    body: |
      )]}'
      {"TestRepo":{"id":"TestRepo","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/TestRepo/","target":"_blank"}]},"apps/analytics-etl":{"id":"apps%2Fanalytics-etl","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/apps/analytics-etl/","target":"_blank"}]}}
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://gerrit-review.googlesource.com/projects/?S=5&n=1
    method: GET
  response:
    body: |
      )]}'
      {"apps/kibana-dashboard":{"id":"apps%2Fkibana-dashboard","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/apps/kibana-dashboard/","target":"_blank"}]}}
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
