---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://gerrit.sgdev.org/a/changes/Ida085bb4e62b9adb5991496ab31987e45cfd5d62/restore
    method: POST
  response:
    body: |
      )]}'
      {
        "id": "src-cli~master~Ida085bb4e62b9adb5991496ab31987e45cfd5d62",
        "project": "src-cli",
        "branch": "master",
        "hashtags": [],
        "change_id": "Ida085bb4e62b9adb5991496ab31987e45cfd5d62",
        "subject": "Revert \"Revert \"Revert \"newest change\"\"\"",
        "status": "NEW",
        "created": "2023-05-23 23:43:42.000000000",
        "updated": "2023-05-23 23:45:36.710000000",
        "submit_type": "MERGE_IF_NECESSARY",
        "mergeable": true,
        "insertions": 0,
        "deletions": 2,
        "total_comment_count": 0,
        "unresolved_comment_count": 0,
        "has_review_started": true,
        "revert_of": 348,
        "_number": 349,
        "owner": {
          "_account_id": 1000018
        },
        "requirements": []
      }
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
