---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://gerrit.sgdev.org/a/changes/I520f9c61e8e1785d60195ed444cb71ce54cd4353/submit
    method: POST
  response:
    body: |
      )]}'
      {
        "id": "src-cli~master~I520f9c61e8e1785d60195ed444cb71ce54cd4353",
        "project": "src-cli",
        "branch": "master",
        "hashtags": [],
        "change_id": "I520f9c61e8e1785d60195ed444cb71ce54cd4353",
        "subject": "Revert \"newest change\"",
        "status": "NEW",
        "created": "2023-05-16 20:34:52.000000000",
        "updated": "2023-05-16 20:46:29.000000000",
        "submitted": "2023-05-16 20:46:45.000000000",
        "submitter": {
          "_account_id": 1000018
        },
        "submit_type": "MERGE_IF_NECESSARY",
        "mergeable": true,
        "insertions": 0,
        "deletions": 2,
        "total_comment_count": 0,
        "unresolved_comment_count": 0,
        "has_review_started": true,
        "revert_of": 328,
        "_number": 347,
        "owner": {
          "_account_id": 1000018
        },
        "requirements": []
      }
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
