---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://gerrit.sgdev.org/a/changes/I4ae8b9886059252657eef100c74602251b544e82/submit
    method: POST
  response:
    body: |
      )]}'
      {
        "id": "src-cli~master~I4ae8b9886059252657eef100c74602251b544e82",
        "project": "src-cli",
        "branch": "master",
        "hashtags": [],
        "change_id": "I4ae8b9886059252657eef100c74602251b544e82",
        "subject": "Revert \"Revert \"newest change\"\"",
        "status": "NEW",
        "created": "2023-05-16 20:50:25.000000000",
        "updated": "2023-05-23 23:42:03.000000000",
        "submitted": "2023-05-23 23:42:27.000000000",
        "submitter": {
          "_account_id": 1000018
        },
        "submit_type": "MERGE_IF_NECESSARY",
        "mergeable": true,
        "insertions": 2,
        "deletions": 0,
        "total_comment_count": 0,
        "unresolved_comment_count": 0,
        "has_review_started": true,
        "revert_of": 347,
        "_number": 348,
        "owner": {
          "_account_id": 1000018
        },
        "requirements": []
      }
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
