---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.sgdev.org/api/v4/projects?min_access_level=20&per_page=100&visibility=private
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Link:
      - <https://gitlab.sgdev.org/api/v4/projects?imported=false&membership=false&min_access_level=20&order_by=created_at&owned=false&page=1&per_page=100&repository_checksum_failed=false&simple=false&sort=desc&starred=false&statistics=false&visibility=private&wiki_checksum_failed=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
        rel="first", <https://gitlab.sgdev.org/api/v4/projects?imported=false&membership=false&min_access_level=20&order_by=created_at&owned=false&page=1&per_page=100&repository_checksum_failed=false&simple=false&sort=desc&starred=false&statistics=false&visibility=private&wiki_checksum_failed=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
        rel="last"
      X-Next-Page:
      - ""
      X-Page:
      - "1"
      X-Per-Page:
      - "100"
      X-Prev-Page:
      - ""
      X-Total:
      - "0"
      X-Total-Pages:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.sgdev.org/api/v4/projects?min_access_level=20&per_page=100&visibility=internal
    method: GET
  response:
    body: '[{"id":371334,"description":"A ready-to-go template for Swift-based iOS
      development.","name":"GetSchwifty","name_with_namespace":"Petri Last / GetSchwifty","path":"getschwifty","path_with_namespace":"petri.last/getschwifty","created_at":"2023-06-29T09:26:32.021Z","default_branch":"master","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.sgdev.org:petri.last/getschwifty.git","http_url_to_repo":"https://gitlab.sgdev.org/petri.last/getschwifty.git","web_url":"https://gitlab.sgdev.org/petri.last/getschwifty","readme_url":"https://gitlab.sgdev.org/petri.last/getschwifty/-/blob/master/README.md","avatar_url":null,"forks_count":0,"star_count":0,"last_activity_at":"2023-09-11T07:38:44.207Z","namespace":{"id":106548,"name":"Petri
      Last","path":"petri.last","kind":"user","full_path":"petri.last","parent_id":null,"avatar_url":"https://secure.gravatar.com/avatar/51965a4ab94bea1eb5372f9f94f680a1?s=80\u0026d=identicon","web_url":"https://gitlab.sgdev.org/petri.last"},"_links":{"self":"https://gitlab.sgdev.org/api/v4/projects/371334","issues":"https://gitlab.sgdev.org/api/v4/projects/371334/issues","merge_requests":"https://gitlab.sgdev.org/api/v4/projects/371334/merge_requests","repo_branches":"https://gitlab.sgdev.org/api/v4/projects/371334/repository/branches","labels":"https://gitlab.sgdev.org/api/v4/projects/371334/labels","events":"https://gitlab.sgdev.org/api/v4/projects/371334/events","members":"https://gitlab.sgdev.org/api/v4/projects/371334/members","cluster_agents":"https://gitlab.sgdev.org/api/v4/projects/371334/cluster_agents"},"packages_enabled":true,"empty_repo":false,"archived":false,"visibility":"internal","owner":{"id":107537,"username":"petri.last","name":"Petri
      Last","state":"active","avatar_url":"https://secure.gravatar.com/avatar/51965a4ab94bea1eb5372f9f94f680a1?s=80\u0026d=identicon","web_url":"https://gitlab.sgdev.org/petri.last"},"resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2023-06-30T09:26:32.172Z"},"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"container_registry_enabled":true,"service_desk_enabled":false,"service_desk_address":null,"can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"enabled","operations_access_level":"enabled","analytics_access_level":"enabled","container_registry_access_level":"enabled","security_and_compliance_access_level":"private","emails_disabled":null,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":107537,"import_status":"finished","open_issues_count":0,"ci_default_git_depth":20,"ci_forward_deployment_enabled":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_opt_in_jwt":false,"ci_allow_fork_pipelines_to_run_in_parent_project":true,"public_jobs":true,"build_timeout":3600,"auto_cancel_pending_pipelines":"enabled","ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"restrict_user_defined_variables":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"auto_devops_enabled":true,"auto_devops_deploy_strategy":"continuous","autoclose_referenced_issues":true,"keep_latest_artifact":true,"runner_token_expiration_interval":null,"requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":true,"compliance_frameworks":[],"permissions":{"project_access":{"access_level":30,"notification_level":3},"group_access":null}}]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bdc529614f0297c0f87427bffe2ba5ed"
      Link:
      - <https://gitlab.sgdev.org/api/v4/projects?imported=false&membership=false&min_access_level=20&order_by=created_at&owned=false&page=1&per_page=100&repository_checksum_failed=false&simple=false&sort=desc&starred=false&statistics=false&visibility=internal&wiki_checksum_failed=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
        rel="first", <https://gitlab.sgdev.org/api/v4/projects?imported=false&membership=false&min_access_level=20&order_by=created_at&owned=false&page=1&per_page=100&repository_checksum_failed=false&simple=false&sort=desc&starred=false&statistics=false&visibility=internal&wiki_checksum_failed=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
        rel="last"
      X-Next-Page:
      - ""
      X-Page:
      - "1"
      X-Per-Page:
      - "100"
      X-Prev-Page:
      - ""
      X-Total:
      - "1"
      X-Total-Pages:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.sgdev.org/api/v4/projects?per_page=100&visibility=private
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Link:
      - <https://gitlab.sgdev.org/api/v4/projects?imported=false&membership=false&order_by=created_at&owned=false&page=1&per_page=100&repository_checksum_failed=false&simple=false&sort=desc&starred=false&statistics=false&visibility=private&wiki_checksum_failed=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
        rel="first", <https://gitlab.sgdev.org/api/v4/projects?imported=false&membership=false&order_by=created_at&owned=false&page=1&per_page=100&repository_checksum_failed=false&simple=false&sort=desc&starred=false&statistics=false&visibility=private&wiki_checksum_failed=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
        rel="last"
      X-Next-Page:
      - ""
      X-Page:
      - "1"
      X-Per-Page:
      - "100"
      X-Prev-Page:
      - ""
      X-Total:
      - "0"
      X-Total-Pages:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.sgdev.org/api/v4/projects?per_page=100&visibility=internal
    method: GET
  response:
    body: '[{"id":371337,"description":"A getting started template for go-micro (https://micro.mu/docs/go-micro.html)","name":"test_go_popover","name_with_namespace":"Administrator
      / test_go_popover","path":"test_go_popover","path_with_namespace":"root/test_go_popover","cr[...]
