.repository-branches-page {
    &__card {
        margin-bottom: 1rem;
    }
}

.git-branch-node {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
