.no-repo-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 1.5rem auto;
    color: var(--text-muted);
    min-height: 10rem;
    justify-content: center;

    &-icon {
        flex-shrink: 0;

        --icon-inline-size: 2rem;
    }
}
