.author {
    min-width: 8rem;

    border: none;
    &:not(:last-child) {
        border-right: 1px solid var(--border-color);
    }
}

.percent {
    font-size: 0.7rem;
}

.last-commit {
    font-size: 0.6rem;
}
