.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    grid-gap: 1rem;
    overflow: hidden;
}

.card-header {
}
.card-title {
    margin-bottom: 0;
    font-size: 0.875rem;
    font-weight: bold;
}
.card-body {
}
.card-body--scrollable {
    overflow: auto;
}
