.show-sidebar-btn {
    position: relative;
    top: 0.5rem;
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 999;
    height: fit-content;
    padding: 0.1rem;
}
