.item {
    min-width: 8rem;

    border: none;
    &:not(:last-child) {
        border-right: 1px solid var(--border-color);
    }
}

.item-text {
    font-size: 0.7rem;
}

.item-date {
    font-size: 0.6rem;
}
