.hover-overlay__contents {
    --hover-overlay-content-margin-top: 0.5rem;
    --hover-overlay-contents-right-padding: 1rem;
    --hover-overlay-vertical-padding: 0.25rem;
    --hover-overlay-horizontal-padding: 1rem;
    --hover-overlay-separator-color: var(--border-color);

    // Make very large MarkupContents scroll vertically.
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 10rem;
    padding-top: var(--hover-overlay-vertical-padding);
    padding-bottom: 0;
    padding-left: var(--hover-overlay-horizontal-padding);
    padding-right: var(--hover-overlay-contents-right-padding);

    // Descendant selectors are needed here to style rendered markdown.
    // stylelint-disable selector-max-compound-selectors
    p {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    pre {
        margin-top: var(--hover-overlay-content-margin-top);
        margin-bottom: 0.5rem;
        // Required for the correct line-height of the `<code>` element.
        line-height: 1rem;
    }

    code {
        font-size: 0.75rem;
    }

    // We use <hr>s as a divider between multiple contents.
    // This has the nice property of having floating buttons that text wraps around.
    hr {
        // `<p>` and `<pre>` define their own margins, `<hr>` is only concerned with rendering the separator itself.
        margin-top: 0;
        margin-bottom: 0;
        // Enlarge `<hr>` width on the right to span across extra left and right padding.
        margin-left: calc(var(--hover-overlay-horizontal-padding) * -1);
        margin-right: calc(var(--hover-overlay-contents-right-padding) * -1);
        // stylelint-disable-next-line declaration-property-unit-allowed-list
        height: 1px;
        overflow: visible;
        border: none;
        // The <hr> acts like a border, which should always be exactly 1px
        // @quinn keast
        // By using one colour for the border and another for the internal separators,
        // we create better distinction between the popover and its background content, without making it too strongly contrasted within.
        background-color: var(--hover-overlay-separator-color);
    }

    // stylelint-enable selector-max-compound-selectors
}

.hover-overlay__contents--with-close-button {
    // Required to avoid close button and text content overlap on scroll.
    --hover-overlay-contents-right-padding: 2rem;
}

// To center loader-icon relative to whole overlay block make horizontal paddings equal.
.hover-overlay__contents--loading {
    padding: var(--hover-overlay-vertical-padding) var(--hover-overlay-horizontal-padding);
}

.hover-overlay__contents .hover-overlay__content {
    font-size: 0.75rem;
    line-height: (16/12);
    color: var(--hover-overlay-content-color);

    > *:first-child {
        margin-top: var(--hover-overlay-content-margin-top);
        margin-bottom: 0.5rem;
    }
}
