.hover-overlay,
.card.hover-overlay {
    --hover-overlay-vertical-padding: 0.25rem;
    --hover-overlay-horizontal-padding: 1rem;
    --hover-overlay-contents-right-padding: 1rem;
    --hover-overlay-content-margin-top: 0.5rem;
    --hover-overlay-separator-color: var(--border-color);

    // Fixes the issue with `position: sticky` of the close button in Safari.
    // The sticky element misbehaves because `.card` has a `display: flex` rule.
    // Minimal example: https://codepen.io/valerybugakov/pen/ExWWOao?editors=1100
    display: block;
    position: absolute;
    min-width: 6rem;
    max-width: 34rem; // was 32rem; + 2rem to fit maximum code intel alert text
    z-index: 100;
    // Make sure content doesn't leak behind border-radius
    overflow: hidden;
    padding-bottom: var(--hover-overlay-vertical-padding);
}

.close-button {
    // The close button should stay in place when scrolling a large hover content.
    position: sticky;
    float: right;
    top: var(--hover-overlay-content-margin-top);
    margin-right: -1.25rem;
    margin-left: 0;
    // Overlay alert background
    z-index: 1;
}

// When loading, we want the loader to be centered in the hover overlay,
// not centered within the space left of the close button.
.close-button--loading {
    position: absolute;
    top: calc(var(--hover-overlay-content-margin-top) + var(--hover-overlay-vertical-padding));
    right: 0.75rem;
    // While loading close-button has an absolute position with the `right` coordinate,
    // so `margin-right` is redundant in this state.
    margin-right: 0;
}

.badge {
    float: right;
    // Align badge vertically with the close button and first row of the text content.
    margin-top: var(--hover-overlay-content-margin-top);
    margin-left: 0.5rem;
    margin-right: 0.25rem;
    // Small margin-bottom to add some space between the badge and long content that wraps around it.
    margin-bottom: 0.25rem;
    // Needs to be absolute value to align well with the content
    // because it's wrapped into a `small` which might have different font-size.
    line-height: 1rem;
    text-transform: uppercase;
}

.badge-label {
    vertical-align: top;
}

.badge :first-of-type {
    margin-right: 0;
}

.alert {
    // Use flex container to move dismiss button to the right and center it vertically.
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.alert .hover-overlay__content {
    display: inline;
}

// Descendant selector is needed here to style rendered markdown.
.alert p:last-child {
    margin-bottom: 0;
}

.alert-icon {
    margin-right: 0.25rem;
}

.alert-dismiss {
    margin-left: 0.75rem;
    line-height: 1;
}

.actions {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: var(--hover-overlay-horizontal-padding);
    padding-right: var(--hover-overlay-horizontal-padding);
}

.actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--hover-overlay-separator-color);
}

.actions-copy-link {
    margin-right: var(--hover-overlay-horizontal-padding);
    font-size: 0.75rem;
    color: var(--link-color);
    border-style: none;
    background: transparent;
    width: 5.1rem;

    > span:last-child {
        padding-left: 0.2rem;
    }
}

.actions-inner {
    margin-right: auto;
    white-space: nowrap;
}

.action {
    flex: 0 1 auto;
    text-align: center;
}

.overlay-logo {
    margin-left: 1rem;
}

.loader-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: none;
    border-radius: 0;
}

.hover-error {
    margin-top: var(--hover-overlay-content-margin-top);
    margin-bottom: 0.75rem;
}

.hover-empty {
    display: block;
    // Because hover-empty is `<small>` we need bigger margin-top to align it with the close button.
    margin-top: var(--hover-overlay-content-margin-top);
    margin-bottom: 0.5rem;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: var(--hover-overlay-content-margin-top);
}

.buttons > *:first-child {
    margin-left: 0;
}
