.workspace-repo,
.workspace-name {
    word-wrap: break-word;
}

.batch-spec {
    min-height: 400px;
    height: 100%;
}

.workspaces-list {
    max-height: 60vh;
    overflow-y: auto;
}

.workspaces-list-container {
    width: 40%;
}

.workspace-list-icon {
    align-self: center;
}

.workspace-selected {
    background-color: var(--color-bg-1);
}

.step-card {
    background-color: var(--body-bg);
}

.editor-layout-container {
    // Default of min-height: auto when this element is display: flex allows children to
    // set its height. We want to keep this fixed and have children overflow: auto
    // instead.
    min-height: 0;
}
