.workspace-repo,
.workspace-name {
    word-wrap: break-word;
    min-width: 0;
}

.workspace-name {
    &:hover {
        text-decoration: none;
    }
}

.workspace-repo {
    align-items: flex-start;
}

.workspace-list-icon {
    align-self: center;
}

.workspace-list-node {
    display: block;
    padding: 0.5rem;
    &:focus,
    &:hover {
        text-decoration: none;
        background-color: var(--color-bg-2);
    }
}

.list-group-item {
    padding: 0;
    &:nth-child(odd) {
        background-color: var(--subtle-bg-2);
    }
    &:nth-child(even) {
        background-color: none;
    }
}

.workspace-selected {
    background-color: var(--color-bg-1);
}
