## rename this file to .env to be picked up by docker-compose
## docker-compose must be run in the same directory as .env

## note, docker-compose requires that all values be defined
## the default no-op values are filled in below.


## GLOBAL VALUES ##

# the full URL of the application. i.e. http://localhost:3080 , or http://1.1.1.1:80
APP_URL=http://localhost:3080


## LOCAL GIT REPOSITORY SETUP ##
## TODO NOT WORKING YET ##
# if you would like to run Sourcegraph on git repositories on your local filesystem, specify an absolute path to your local git repositories
GIT_DIRECTORY=.empty


## REMOTE GIT HOST SETUP ##

# specify how to map from a sourcegraph url to a remote repo url
# should take the form of <sourecgraph_repo_url_prefix>!<git_clone_address>%
# where ! is a separator between the mapping, and % is shorthand for everything that matches after the prefix
#
# i.e. companydomain.com/!git@companydomain.com:% is the mapping for GitHub Enterprise
# i.e. gitolite.internal.domain/!git@gitolite.internal.domain:% is the mapping for a self-hosted gitolite option
ORIGIN_MAP=""

# specify a folder with the approrpriate SSH keypair to clone from the remote host
# don't forget to include a known_hosts file, which can be generated like: ssh-keyscan github.com >> known_hosts
# to set it up with your personal ssh keys, "SSH_KEYPAIR_FOLDER=~/.ssh" is what you want.
SSH_KEYPAIR_FOLDER=.empty
