.insights-container {
    margin-top: 0.5rem;
    max-height: 14rem;
    overflow: auto;
}

.insight-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0.5rem 0.5rem;

    &:hover,
    &:focus-within {
        cursor: pointer;
        background: var(--color-bg-3);
    }
}

.insight-name {
    margin-left: 0.5rem;
}
