---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/keegancsmith/sqlf
    method: GET
  response:
    body: '{"id":58958942,"node_id":"MDEwOlJlcG9zaXRvcnk1ODk1ODk0Mg==","name":"sqlf","full_name":"keegancsmith/sqlf","private":false,"owner":{"login":"keegancsmith","id":187831,"node_id":"MDQ6VXNlcjE4NzgzMQ==","avatar_url":"https://avatars1.githubusercontent.com/u/187831?v=4","gravatar_id":"","url":"https://api.github.com/users/keegancsmith","html_url":"https://github.com/keegancsmith","followers_url":"https://api.github.com/users/keegancsmith/followers","following_url":"https://api.github.com/users/keegancsmith/following{/other_user}","gists_url":"https://api.github.com/users/keegancsmith/gists{/gist_id}","starred_url":"https://api.github.com/users/keegancsmith/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/keegancsmith/subscriptions","organizations_url":"https://api.github.com/users/keegancsmith/orgs","repos_url":"https://api.github.com/users/keegancsmith/repos","events_url":"https://api.github.com/users/keegancsmith/events{/privacy}","received_events_url":"https://api.github.com/users/keegancsmith/received_events","type":"User","site_admin":false},"html_url":"https://github.com/keegancsmith/sqlf","description":"sqlf
      generates parameterized SQL statements in Go, sprintf style","fork":false,"url":"https://api.github.com/repos/keegancsmith/sqlf","forks_url":"https://api.github.com/repos/keegancsmith/sqlf/forks","keys_url":"https://api.github.com/repos/keegancsmith/sqlf/keys{/key_id}","collaborators_url":"https://api.github.com/repos/keegancsmith/sqlf/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/keegancsmith/sqlf/teams","hooks_url":"https://api.github.com/repos/keegancsmith/sqlf/hooks","issue_events_url":"https://api.github.com/repos/keegancsmith/sqlf/issues/events{/number}","events_url":"https://api.github.com/repos/keegancsmith/sqlf/events","assignees_url":"https://api.github.com/repos/keegancsmith/sqlf/assignees{/user}","branches_url":"https://api.github.com/repos/keegancsmith/sqlf/branches{/branch}","tags_url":"https://api.github.com/repos/keegancsmith/sqlf/tags","blobs_url":"https://api.github.com/repos/keegancsmith/sqlf/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/keegancsmith/sqlf/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/keegancsmith/sqlf/git/refs{/sha}","trees_url":"https://api.github.com/repos/keegancsmith/sqlf/git/trees{/sha}","statuses_url":"https://api.github.com/repos/keegancsmith/sqlf/statuses/{sha}","languages_url":"https://api.github.com/repos/keegancsmith/sqlf/languages","stargazers_url":"https://api.github.com/repos/keegancsmith/sqlf/stargazers","contributors_url":"https://api.github.com/repos/keegancsmith/sqlf/contributors","subscribers_url":"https://api.github.com/repos/keegancsmith/sqlf/subscribers","subscription_url":"https://api.github.com/repos/keegancsmith/sqlf/subscription","commits_url":"https://api.github.com/repos/keegancsmith/sqlf/commits{/sha}","git_commits_url":"https://api.github.com/repos/keegancsmith/sqlf/git/commits{/sha}","comments_url":"https://api.github.com/repos/keegancsmith/sqlf/comments{/number}","issue_comment_url":"https://api.github.com/repos/keegancsmith/sqlf/issues/comments{/number}","contents_url":"https://api.github.com/repos/keegancsmith/sqlf/contents/{+path}","compare_url":"https://api.github.com/repos/keegancsmith/sqlf/compare/{base}...{head}","merges_url":"https://api.github.com/repos/keegancsmith/sqlf/merges","archive_url":"https://api.github.com/repos/keegancsmith/sqlf/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/keegancsmith/sqlf/downloads","issues_url":"https://api.github.com/repos/keegancsmith/sqlf/issues{/number}","pulls_url":"https://api.github.com/repos/keegancsmith/sqlf/pulls{/number}","milestones_url":"https://api.github.com/repos/keegancsmith/sqlf/milestones{/number}","notifications_url":"https://api.github.com/repos/keegancsmith/sqlf/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/keegancsmith/sqlf/labels{/name}","releases_url":"https://api.github.com/repos/keegancsmith/sqlf/releases{/id}","deployments_url":"https://api.github.com/repos/keegancsmith/sqlf/deployments","created_at":"2016-05-16T19:01:04Z","updated_at":"2019-07-18T18:38:00Z","pushed_at":"2018-09-13T13:40:54Z","git_url":"git://github.com/keegancsmith/sqlf.git","ssh_url":"git@github.com:keegancsmith/sqlf.git","clone_url":"https://github.com/keegancsmith/sqlf.git","svn_url":"https://github.com/keegancsmith/sqlf","homepage":"","size":14,"stargazers_count":32,"watchers_count":32,"language":"Go","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
      License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"topics":["go","golang","sprintf-style","sql"],"forks":2,"open_issues":0,"watchers":32,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"network_count":2,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e4a39383f26b13c9853ba47e358ce0d1"
      Last-Modified:
      - Thu, 18 Jul 2019 18:38:00 GMT
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; format=json
      X-Oauth-Scopes:
      - repo
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/tsenart/VEGETA
    method: GET
  response:
    body: '{"id":12080551,"node_id":"MDEwOlJlcG9zaXRvcnkxMjA4MDU1MQ==","name":"vegeta","full_name":"tsenart/vegeta","private":false,"owner":{"login":"tsenart","id":67471,"node_id":"MDQ6VXNlcjY3NDcx","avatar_url":"https://avatars2.githubusercontent.com/u/67471?v=4","gravatar_id":"","url":"https://api.github.c[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/search/repositories?page=1&per_page=100&q=user%3Atsenart+in%3Aname+patrol
    method: GET
  response:
    body: '{"total_count":1,"incomplete_results":false,"items":[{"id":153657245,"node_id":"MDEwOlJlcG9zaXRvcnkxNTM2NTcyNDU=","name":"patrol","full_name":"tsenart/patrol","private":false,"owner":{"login":"tsenart","id":67471,"node_id":"MDQ6VXNlcjY3NDcx","avatar_url":"https://avatars2.githubusercontent.com/u/67471?v=4","gravatar_id":"","url":"https://api.github.com/users/tsenart","html_url":"https://github.com/tsenart","followers_url":"https://api.github.com/users/tsenart/followers","following_url":"https://api.github.com/users/tsenart/following{/other_user}"[...]
