---
version: 1
interactions:
- request:
    body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tviewerPermission\n}\n\tquery
      {\nrepo_sourcegraph_Sourcegraph: repository(owner: \"sourcegraph\", name: \"Sourcegraph\")
      { ... on Repository { ...RepositoryFields } }\nrepo_tsenart_Vegeta: repository(owner:
      \"tsenart\", name: \"Vegeta\") { ... on Repository { ...RepositoryFields } }\nrepo_tsenart_vegeta_missing:
      repository(owner: \"tsenart\", name: \"vegeta-missing\") { ... on Repository
      { ...RepositoryFields } }\n}","variables":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repo_sourcegraph_Sourcegraph":{"id":"MDEwOlJlcG9zaXRvcnk0MTI4ODcwOA==","databaseId":41288708,"nameWithOwner":"sourcegraph/sourcegraph","description":"Code
      search and navigation tool (self-hosted)","url":"https://github.com/sourcegraph/sourcegraph","isPrivate":false,"isFork":false,"isArchived":false,"viewerPermission":"ADMIN"},"repo_tsenart_Vegeta":{"id":"MDEwOlJlcG9zaXRvcnkxMjA4MDU1MQ==","databaseId":12080551,"nameWithOwner":"tsenart/vegeta","description":"HTTP
      load testing tool and library. It''s over 9000!","url":"https://github.com/tsenart/vegeta","isPrivate":false,"isFork":false,"isArchived":false,"viewerPermission":"READ"},"repo_tsenart_vegeta_missing":null},"errors":[{"type":"NOT_FOUND","path":["repo_tsenart_vegeta_missing"],"locations":[{"line":16,"column":1}],"message":"Could
      not resolve to a Repository with the name ''vegeta-missing''."}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Oauth-Scopes:
      - repo
    status: 200 OK
    code: 200
    duration: ""
