---
version: 1
interactions:
- request:
    body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tviewerPermission\n}\n\tquery
      {\nrepo_tsenart_vegeta: repository(owner: \"tsenart\", name: \"vegeta\") { ...
      on Repository { ...RepositoryFields } }\n}","variables":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repo_tsenart_vegeta":{"id":"MDEwOlJlcG9zaXRvcnkxMjA4MDU1MQ==","databaseId":12080551,"nameWithOwner":"tsenart/vegeta","description":"HTTP
      load testing tool and library. It''s over 9000!","url":"https://github.com/tsenart/vegeta","isPrivate":false,"isFork":false,"isArchived":false,"viewerPermission":"READ"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Oauth-Scopes:
      - repo
    status: 200 OK
    code: 200
    duration: ""
