---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/search/repositories?page=1&per_page=100&q=user%3Atsenart+in%3Aname+patrol
    method: GET
  response:
    body: '{"total_count":1,"incomplete_results":false,"items":[{"id":153657245,"node_id":"MDEwOlJlcG9zaXRvcnkxNTM2NTcyNDU=","name":"patrol","full_name":"tsenart/patrol","private":false,"owner":{"login":"tsenart","id":67471,"node_id":"MDQ6VXNlcjY3NDcx","avatar_url":"https://avatars2.githubusercontent.com/u/67471?v=4","gravatar_id":"","url":"https://api.github.com/users/tsenart","html_url":"https://github.com/tsenart","followers_url":"https://api.github.com/users/tsenart/followers","following_url":"https://api.github.com/users/tsenart/following{/other_user}","gists_url":"https://api.github.com/users/tsenart/gists{/gist_id}","starred_url":"https://api.github.com/users/tsenart/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tsenart/subscriptions","organizations_url":"https://api.github.com/users/tsenart/orgs","repos_url":"https://api.github.com/users/tsenart/repos","events_url":"https://api.github.com/users/tsenart/events{/privacy}","received_events_url":"https://api.github.com/users/tsenart/received_events","type":"User","site_admin":false},"html_url":"https://github.com/tsenart/patrol","description":"Patrol
      is an operator friendly distributed rate limiting HTTP API with strong eventually
      consistent CvRDT based replication.","fork":false,"url":"https://api.github.com/repos/tsenart/patrol","forks_url":"https://api.github.com/repos/tsenart/patrol/forks","keys_url":"https://api.github.com/repos/tsenart/patrol/keys{/key_id}","collaborators_url":"https://api.github.com/repos/tsenart/patrol/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/tsenart/patrol/teams","hooks_url":"https://api.github.com/repos/tsenart/patrol/hooks","issue_events_url":"https://api.github.com/repos/tsenart/patrol/issues/events{/number}","events_url":"https://api.github.com/repos/tsenart/patrol/events","assignees_url":"https://api.github.com/repos/tsenart/patrol/assignees{/user}","branches_url":"https://api.github.com/repos/tsenart/patrol/branches{/branch}","tags_url":"https://api.github.com/repos/tsenart/patrol/tags","blobs_url":"https://api.github.com/repos/tsenart/patrol/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/tsenart/patrol/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/tsenart/patrol/git/refs{/sha}","trees_url":"https://api.github.com/repos/tsenart/patrol/git/trees{/sha}","statuses_url":"https://api.github.com/repos/tsenart/patrol/statuses/{sha}","languages_url":"https://api.github.com/repos/tsenart/patrol/languages","stargazers_url":"https://api.github.com/repos/tsenart/patrol/stargazers","contributors_url":"https://api.github.com/repos/tsenart/patrol/contributors","subscribers_url":"https://api.github.com/repos/tsenart/patrol/subscribers","subscription_url":"https://api.github.com/repos/tsenart/patrol/subscription","commits_url":"https://api.github.com/repos/tsenart/patrol/commits{/sha}","git_commits_url":"https://api.github.com/repos/tsenart/patrol/git/commits{/sha}","comments_url":"https://api.github.com/repos/tsenart/patrol/comments{/number}","issue_comment_url":"https://api.github.com/repos/tsenart/patrol/issues/comments{/number}","contents_url":"https://api.github.com/repos/tsenart/patrol/contents/{+path}","compare_url":"https://api.github.com/repos/tsenart/patrol/compare/{base}...{head}","merges_url":"https://api.github.com/repos/tsenart/patrol/merges","archive_url":"https://api.github.com/repos/tsenart/patrol/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/tsenart/patrol/downloads","issues_url":"https://api.github.com/repos/tsenart/patrol/issues{/number}","pulls_url":"https://api.github.com/repos/tsenart/patrol/pulls{/number}","milestones_url":"https://api.github.com/repos/tsenart/patrol/milestones{/number}","notifications_url":"https://api.github.com/repos/tsenart/patrol/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/tsenart/patrol/labels{/name}","releases_url":"https://api.github.com/repos/tsenart/patrol/releases{/id}","deployments_url":"https://api.github.com/repos/tsenart/patrol/deployments","created_at":"2018-10-18T16:50:37Z","updated_at":"2019-05-06T21:09:03Z","pushed_at":"2018-11-13T14:57:15Z","git_url":"git://github.com/tsenart/patrol.git","ssh_url":"git@github.com:tsenart/patrol.git","clone_url":"https://github.com/tsenart/patrol.git","svn_url":"https://github.com/tsenart/patrol","homepage":"","size":95,"stargazers_count":21,"watchers_count":21,"language":"Go","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":{"key":"mit","name":"MIT
      License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":2,"open_issues":1,"watchers":21,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"score":46.514893}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json
      X-Oauth-Scopes:
      - repo
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tviewerPermission\n}\n\tquery
      {\nrepo_sourcegraph_sourcegraph: repository(owner: \"sourcegraph\", name: \"sourcegraph\")
      { ... on Repository { ...RepositoryFields } }\n}","variables":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repo_sourcegraph_sourcegraph":{"id":"MDEwOlJlcG9zaXRvcnk0MTI4ODcwOA==","databaseId":41288708,"nameWithOwner":"sourcegraph/sourcegraph","description":"Code
      search and navigation tool (self-hosted)","url":"https://github.com/sourcegraph/sourcegraph","isPrivate":false,"isFork":false,"isArchived":false,"viewerPermission":"ADMIN"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Oauth-Scopes:
      - repo
    status: 200 OK
    code: 200
    duration: ""
