@import '../../../../branded/src/global-styles/breakpoints.scss';

.navbar {
    display: flex;
    position: relative;
    height: 40px;
    min-height: 40px;
    width: 100%;
    border-bottom: 1px solid var(--color-bg-2);
    background: var(--color-bg-1);
    padding: 0 1rem;
    align-items: center;
}

.menu-close {
    @include media-breakpoint-down(sm) {
        display: none !important;
    }
}
.menu-button {
    color: var(--icon-color);
    display: none;
    padding: 0;
    @include media-breakpoint-down(sm) {
        display: block;
    }
}

.logo {
    display: flex;
    height: 100%;
    margin: 0;
}

.divider {
    margin: 0 1rem;
    width: 1px;
    height: 50%;
    border-left: 1px solid var(--border-color);
}

.list {
    display: flex;
    justify-content: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    @include media-breakpoint-down(sm) {
        border-radius: 3px;
        border: 1px solid var(--border-color);
        width: 50%;
        height: auto;
        flex-direction: column;
        top: 0;
        left: 0;
        background: var(--color-bg-1);
        z-index: 1;
        position: absolute;
        padding: 0.75rem;
        transform: translate3d(56px, 40px, 0);
    }
}
