@import 'wildcard/src/global-styles/breakpoints';

.container {
    --container-margin: 6rem;

    width: 100%;
    margin: var(--container-margin);
    height: fit-content;

    @media (--md-breakpoint-down) {
        margin: 3rem;
    }

    @media (--sm-breakpoint-down) {
        margin: 1rem;
    }
}

.hero {
    margin-right: calc(var(--container-margin) * -1);
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    gap: 1.875rem;

    @media (--md-breakpoint-down) {
        grid-template-columns: 1fr;
        gap: 5rem;
        margin-right: 0;
    }

    &-logo {
        width: 2.25rem;
        height: 2.25rem;
    }

    &-completion-image {
        justify-self: flex-end;
        filter: drop-shadow(-7px -16px 32px #a112ff24);

        @media (--md-breakpoint-down) {
            width: 100%;
            margin-right: -3rem;
        }

        @media (--sm-breakpoint-down) {
            margin: -1rem;
        }
    }

    &-headline {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        &-cody {
            font-size: 2rem;
        }

        &-enterprise {
            font-size: 1.125rem;
            color: var(--text-muted);
        }

        &-header {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.75rem;
        }

        &-text {
            background: linear-gradient(90.64deg, var(--logo-blue) 3.11%, #c66fff 44.21%, #ff8578 83.64%);
            background-clip: text !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            font-size: 3rem;
            margin-top: 1.5rem;
        }

        &-description {
            font-size: 1.3125rem;
            font-weight: 300;
            margin-bottom: 2rem;
            color: var(--dark-text);
        }
    }
}

.cody-availability {
    font-size: 1rem;
    font-weight: 500;
}

.ide {
    &-container {
        margin-top: 2.5rem;
    }

    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        margin: 0.5rem 0;

        @media (--sm-breakpoint-down) {
            grid-template-columns: 1fr;
            width: 100%;
        }
    }

    &-detail {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.625rem;
    }

    &-logo {
        width: 2rem;
        height: 2.5rem;
    }

    &-maker {
        font-size: 0.8125rem;
    }

    &-name {
        font-size: 1rem;
    }
}

.about {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 2.5rem;
    margin: 5rem 0;

    @media (--md-breakpoint-down) {
        grid-template-columns: 1fr;
        gap: 5rem;
    }

    &-grid-one {
        background-color: var(--color-bg-1);
        border-radius: 0.5rem;
        padding: 2.5rem;
        font-size: 1rem;
        box-shadow: 0 0.25rem 2rem 0 #670bdb0a;

        &-header {
            margin-block: 0.75rem;
            font-size: 1.625rem;
            font-weight: 500;
        }

        &-description {
            font-size: 1.125rem;
        }
    }

    &-grid-two {
        background-color: var(--color-bg-1);
        border-radius: 0.5rem;
        padding: 2.5rem;
        font-size: 1rem;
        height: fit-content;
        box-shadow: 0 0.25rem 2rem 0 #670bdb0a;

        &-header {
            margin-block: 0.75rem;
            font-size: 1.625rem;
            font-weight: 500;
        }

        &-text {
            font-size: 1.125rem;
        }

        &-list {
            list-style-type: disclosure-closed;
            padding-inline: 2rem;
            font-size: 0.875rem;
            font-family: monospace;

            li {
                padding-inline-start: 0.25rem;

                &:not(:last-child) {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }

    &-grid-three {
        background-color: var(--color-bg-1);
        border-radius: 0.5rem;
        padding: 2.5rem;
        font-size: 1rem;
        box-shadow: 0 0.25rem 2rem 0 #670bdb0a;

        &-container {
            margin-top: 2rem;
            background: linear-gradient(
                90.64deg,
                var(--logo-blue) 3.11%,
                var(--logo-purple) 44.21%,
                var(--logo-orange) 83.64%
            );
            border-radius: 0.5rem;
            padding: 0.0625rem;
        }

        &-text {
            background: linear-gradient(
                90.64deg,
                var(--logo-blue) 3.11%,
                var(--logo-purple) 44.21%,
                var(--logo-orange) 83.64%
            );
            background-clip: text !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            margin: 0;
            font-size: 1.5rem;
        }
    }
}

.testimonial {
    margin: 0 5rem;
    padding-bottom: 2rem;

    &-grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        margin-bottom: 2rem;
        padding: 0.5rem 0;

        @media (--md-breakpoint-down) {
            grid-template-columns: 1fr;
        }
    }

    &-header {
        text-align: center;
        margin: 3rem 0;
        font-weight: 500;
        font-size: 2rem;
    }

    &-container {
        background-color: transparent;
        border: 1px solid var(--border-color);
        border-radius: 0.5rem;
        padding: 2rem;
        height: fit-content;

        &:hover {
            background-color: var(--color-bg-1);
            cursor: pointer;
        }
    }

    &-author {
        &-info {
            display: flex;
            flex-direction: column;
            justify-self: center;
            align-items: flex-start;
        }

        &-username {
            font-size: 0.875rem;
        }

        &-name {
            font-size: 0.875rem;
            font-weight: 500;
        }

        &-avatar {
            background: var(--color-bg-2);
            width: 2.5rem;

            &::after {
                background: transparent;
            }

            span {
                color: var(--text-muted);
            }
        }
    }

    &-meta {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    &-text {
        font-size: 1.125rem;
        color: var(--text-muted);
        margin: 0;
    }
}

.context {
    margin: 0 6rem;
    gap: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

    @media (--md-breakpoint-down) {
        grid-template-columns: 1fr;
    }

    &-header {
        margin-top: 1rem;
        font-size: 2rem;
    }

    &-description {
        margin-bottom: 1.75rem;
        color: var(--text-muted);
        font-size: 1.125rem;
    }

    &-diagram {
        @media (--md-breakpoint-down) {
            width: 100%;
        }
    }
}
