.pie-chart {
    forced-color-adjust: auto;

    // Arcs
    &__arc {
        stroke: var(--body-bg);

        &--with-link {
            cursor: pointer;

            @media (forced-colors: active) {
                color: linktext; // TODO remove when we use actual <a> tags so it inherits automatically through currentColor.
            }
        }
    }

    &__arc-path {
        stroke-width: 1;
        stroke: var(--body-bg);

        @media (forced-colors: active) {
            stroke: currentColor;
            fill: canvas;
        }
    }

    &__label {
        background-color: var(--body-bg);
        forced-color-adjust: none;

        // We don't have access to this element to add our own class
        // that's why we relay on tag name here.
        rect {
            fill: var(--body-bg);
            stroke-width: 1;
            stroke: var(--border-color);
        }
    }

    &__link:hover {
        text-decoration: none;
    }

    &__link:focus &__arc-path {
        stroke-width: 3;
        stroke: var(--focus-outline-color);
    }

    &__label-title {
        stroke: var(--body-color);
        font-weight: 200 !important;
        background-color: var(--body-bg);
        text-decoration: none;
    }

    &__label-sub-title {
        stroke: var(--text-muted);
        text-decoration: none;
    }

    &__label-line,
    &__label-circle {
        stroke: var(--body-color);
        fill: var(--body-color);
    }
}
