.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    padding-top: 1rem;
}

.card {
    display: flex;
    text-decoration: none;
    flex-direction: column;

    &:hover {
        text-decoration: none;
    }
}

.cards-footer-button {
    margin-left: auto;
    margin-right: auto;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-top: 1rem;
}
