.symbols {
    background-color: var(--color-bg-2);
    color: var(--gray-06);

    ul {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        // Used to prevent margin collapse
        display: flex;
        flex-direction: column;

        li {
            margin: 0.25rem 0;
        }
    }

    .link {
        display: block;
        padding: 0.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &--active,
        &:hover {
            background-color: var(--color-bg-3);
            text-decoration: none;
            color: var(--body-color);
            border-radius: var(--border-radius);
        }
    }
}
