.file-decoration {
    &:not(:last-child) {
        margin-right: 0.75rem;
    }
}

.after {
    margin-bottom: -0.125rem;
    color: var(--text-muted);

    &--active {
        color: var(--text-muted);
    }
}

.meter {
    width: 1.5rem;
}
