.tree {
    isolation: isolate;
    flex: 1 1 auto;
    width: 100%;
    white-space: pre;
    line-height: (20/14);
    font-size: 0.875rem;

    user-select: none;

    a {
        color: inherit !important;

        &:hover {
            color: inherit !important;
        }
    }
}
