@value base "sourcegraph/components/styles/base.css";
@value grid "sourcegraph/components/styles/grid.css";
@value colors "sourcegraph/components/styles/colors.css";
@value typography "sourcegraph/components/styles/typography.css";

.container {
	composes: col-9 col-5-m col-4-l from grid;
	composes: pv6 center from base;
}

.title {
	composes: header-center from typography;
	composes: pb4 from base;
}

.action {
	composes: pv3 ph1 from base;
	display: flex;
}

.button {
	composes: action;
	composes: mh3 from base;
}

.subtext {
	composes: pv3 from base;
	composes: small-text tc from typography;
}

.alt-action {
	composes: pv3 from base;
	composes: normal-text tc from typography;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}

.alt-button {
	composes: ma3 from base;
}

.alt-link {
	color: inherit;
}
