.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 32rem;
}

.logo {
    height: 2.5rem;
}

.full-name-row {
    display: flex;
    gap: var(--spacer);
}
.full-name-row > * {
    flex: 1;
}

.googleIcon {
    // height: 1.35rem;
}
