.result-container {
    // Force the creation of a new stacking context
    // so the z-index of the result header does not
    // leak outside of the search results list.
    isolation: isolate;
}

.header {
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    position: sticky;
    top: 0;

    z-index: 1; // Show on top of search result contents

    border-bottom: 1px solid var(--border-color);

    // TODO(taiyab): this needs to be fit into the design system
    :global(.theme-light) & {
        background-color: #f5f8fa;
    }
    :global(.theme-dark) & {
        background-color: #22283b;
    }

    &-title {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
    }

    :global(.match-highlight) {
        color: var(--text-muted-highlighted);
    }
}

.result {
    border-bottom: 1px solid var(--border-color);
}

.header:focus-within + .highlight-result.result,
.highlight-result.result:focus-within {
    box-shadow: 0 0 0 2px var(--border-color-2);
}
