.result-container {
    // Force the creation of a new stacking context
    // so the z-index of the result header does not
    // leak outside of the search results list.
    isolation: isolate;
}

.header {
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    position: sticky;
    top: 0;

    z-index: 1; // Show on top of search result contents

    border-bottom: 1px solid var(--border-color-2);
    background-color: var(--result-header-bg);

    &-title {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
    }

    :global(.match-highlight) {
        color: var(--text-muted-highlighted);
    }
}

.result {
    background-color: var(--code-bg);
    border-bottom: 1px solid var(--border-color-2);
}

.search-result-match {
    text-decoration: none; /* don't use cascading link style */
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}

.horizontal-divider-between {
    &:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
    }
}

.focusable-block {
    &:focus-visible {
        box-shadow: inset 0 0 0 1px var(--primary-2);
    }
}

.clickable {
    cursor: pointer;
    &:hover {
        text-decoration: none;
        background-color: var(--subtle-bg-2);
    }
}

.copy-button {
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-flex;
    align-items: center;

    .copy-button-container:hover &,
    .copy-button-container:focus-within & {
        visibility: visible;
    }
}

.divider-between {
    > *:not(:last-child)::after {
        content: ' ';
        height: 1rem;
        margin: 0 0.75rem;
        border-right: 1px solid var(--border-color-2);
        display: block;
    }
}

.match-type {
    white-space: nowrap;
}

.divider-vertical {
    border-bottom: 1px solid var(--border-color-2);
    width: 100%;
    margin: 0.5rem 0;
}

.divider {
    border-right: 1px solid var(--border-color-2);
    height: 1rem;
    margin: 0 0.5rem;
}

.gap-1 {
    gap: 0.5rem;
}

.title-inner {
    overflow-wrap: anywhere;
}

.icon {
    margin-right: 0.25rem;
}

.title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-width: 0;
    flex-wrap: wrap;
}
