:global(.theme-dark) {
    --shimmer-gradient: linear-gradient(90deg, var(--black) 100%, var(--gray-10) 100%);
}
:global(.theme-light) {
    --shimmer-gradient: linear-gradient(90deg, var(--gray-04) -1.57%, var(--gray-05) 100%);
}

.shimmer-container {
    position: relative;
    overflow: hidden;
    background: var(--code-bg);
    height: 1.2rem;
}

.shimmer-animate::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background: var(--shimmer-gradient);
    animation: shimmer 2s ease-out infinite;
    content: '';
}

.shimmer-animate-slower::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background: var(--shimmer-gradient);
    animation: shimmer 2.5s ease-out infinite;
    content: '';
}

@keyframes shimmer {
    100% {
        transform: translateX(0%);
        opacity: 0;
    }
}

.smart-icon {
    flex-shrink: 0;
    font-size: 1.125rem;
    margin-right: 0.25rem;
    margin-top: -0.125rem;
    align-self: flex-start;
    color: var(--body-color);
}
