.symbols-override {
    border: none !important;
    padding: 0 !important;
}

.symbols {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--code-bg);
    border-bottom: 1px solid var(--border-color-2);
}

.symbol {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem;

    &:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
    }

    &-code-excerpt {
        :global(.code) {
            white-space: pre-line !important;
            padding-left: 1rem !important;
            overflow-wrap: anywhere;
        }
    }
}
