---
version: 1
interactions:
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SGDEMO/repos/go
    method: POST
  response:
    body: '{"slug":"go","id":216954,"name":"go","hierarchyId":"d501682e55fecfa03127","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"origin":{"slug":"go","id":10060,"name":"go","hierarchyId":"d501682e55fecfa03127","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SGDEMO","id":26,"name":"Sourcegraph
      Demo","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SGDEMO"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/sgdemo/go.git","name":"http"},{"href":"ssh://git@bitbucket.sgdev.org:7999/sgdemo/go.git","name":"ssh"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SGDEMO/repos/go/browse"}]}},"project":{"key":"~ENGINEERS","id":102,"name":"Sourcegraph
      Engineers","type":"PERSONAL","owner":{"name":"engineers","emailAddress":"engineering-team@sourcegraph.com","id":253,"displayName":"Sourcegraph
      Engineers","active":true,"slug":"engineers","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/engineers"}]}},"links":{"self":[{"href":"https://bitbucket.sgdev.org/users/engineers"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/~engineers/go.git","name":"http"},{"href":"ssh://git@bitbucket.sgdev.org:7999/~engineers/go.git","name":"ssh"}],"self":[{"href":"https://bitbucket.sgdev.org/users/engineers/repos/go/browse"}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://bitbucket.sgdev.org/rest/api/1.0/projects/~ENGINEERS/repos/go
      X-Arequestid:
      - '@TCJ96Jx1005x3313202x4'
      X-Asessionid:
      - 1qmwuny
      X-Auserid:
      - "253"
      X-Ausername:
      - engineers
    status: 201 Created
    code: 201
    duration: ""
