---
version: 1
interactions:
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SGDEMO/repos/go
    method: POST
  response:
    body: '{"slug":"go","id":10154,"name":"go","hierarchyId":"d501682e55fecfa03127","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"origin":{"slug":"go","id":10060,"name":"go","hierarchyId":"d501682e55fecfa03127","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SGDEMO","id":26,"name":"Sourcegraph
      Demo","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SGDEMO"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/sgdemo/go.git","name":"http"},{"href":"ssh://git@bitbucket.sgdev.org:7999/sgdemo/go.git","name":"ssh"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SGDEMO/repos/go/browse"}]}},"project":{"key":"~AHARVEY","id":63,"name":"Adam
      Harvey","type":"PERSONAL","owner":{"name":"aharvey","emailAddress":"aharvey@sourcegraph.com","id":203,"displayName":"Adam
      Harvey","active":true,"slug":"aharvey","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey"}]}},"links":{"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey"}]}},"public":false,"links":{"clone":[{"href":"ssh://git@bitbucket.sgdev.org:7999/~aharvey/go.git","name":"ssh"},{"href":"https://bitbucket.sgdev.org/scm/~aharvey/go.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey/repos/go/browse"}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://bitbucket.sgdev.org/rest/api/1.0/projects/~AHARVEY/repos/go
      X-Arequestid:
      - '@9KC48Ux180x17320945x0'
      X-Asessionid:
      - 1l86su5
      X-Auserid:
      - "203"
      X-Ausername:
      - aharvey
    status: 201 Created
    code: 201
    duration: ""
