---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/default-reviewers/1.0/projects/SOUR/repos/automation-testing/reviewers?sourceRefId=refs%2Fheads%2Ftest-pr-bbs-3&sourceRepoId=10070&targetRefId=refs%2Fheads%2Fmaster&targetRepoId=10070
    method: GET
  response:
    body: '[{"name":"erik","emailAddress":"erik@sourcegraph.com","id":152,"displayName":"Erik
      Seliger","active":true,"slug":"erik","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/erik"}]}},{"name":"thorsten","emailAddress":"thorsten@sourcegraph.com","id":104,"displayName":"thorsten","active":true,"slug":"thorsten","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/thorsten"}]}}]'
    headers:
      Content-Type:
      - application/json
      X-Arequestid:
      - '@TO58QJx725x104205x0'
      X-Asessionid:
      - 1tc7voa
      X-Auserid:
      - "152"
      X-Ausername:
      - erik
    status: 200 OK
    code: 200
    duration: ""
