---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/application-properties
    method: GET
  response:
    body: '{"version":"7.11.2","buildNumber":"7011002","buildDate":"1616539597394","displayName":"Bitbucket"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@UGPFWVx647x1328455x0'
      X-Asessionid:
      - 1ajg59f
      X-Auserid:
      - "104"
      X-Ausername:
      - thorsten
    status: 200 OK
    code: 200
    duration: ""
