---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/labels/archived/labeled?REPOSITORY=
    method: GET
  response:
    body: '{"size":1,"limit":25,"isLastPage":true,"values":[{"slug":"archived-repo","id":10073,"name":"archived-repo","hierarchyId":"05788c1a4ffadf0ff5d8","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"PUBLIC","id":4,"name":"Public","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/PUBLIC"}]}},"public":false,"labelableType":"REPOSITORY","links":{"clone":[{"href":"ssh://git@bitbucket.sgdev.org:7999/public/archived-repo.git","name":"ssh"},{"href":"https://bitbucket.sgdev.org/scm/public/archived-repo.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/PUBLIC/repos/archived-repo/browse"}]}}],"start":0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@TCJ96Jx685x1583734x5'
      X-Asessionid:
      - ikk4rp
      X-Auserid:
      - "253"
      X-Ausername:
      - engineers
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/labels/doesnotexist/labeled?REPOSITORY=
    method: GET
  response:
    body: '{"errors":[{"context":null,"message":"Label not found.","exceptionName":"com.atlassian.bitbucket.label.NoSuchLabelException"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@TCJ96Jx685x1583752x10'
      X-Asessionid:
      - 1myg02k
      X-Auserid:
      - "253"
      X-Ausername:
      - engineers
    status: 404 Not Found
    code: 404
    duration: ""
