---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/automation-testing/pull-requests/154/merge?version=16
    method: POST
  response:
    body: '{"errors":[{"context":null,"message":"The pull request has conflicts and
      cannot be merged.","exceptionName":"com.atlassian.bitbucket.pull.PullRequestMergeVetoedException","conflicted":true,"vetoes":[]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@9KC48Ux670x13422639x1'
      X-Asessionid:
      - 1bnzm6l
      X-Auserid:
      - "104"
      X-Ausername:
      - thorsten
    status: 409 Conflict
    code: 409
    duration: ""
