---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bb.sgdev.org/rest/api/1.0/projects?limit=100
    method: GET
  response:
    body: '{"size":7,"limit":100,"isLastPage":true,"values":[{"key":"PRIVACY","id":28,"name":"privacy","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PRIVACY"}]}},{"key":"PRIV","id":23,"name":"private","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PRIV"}]}},{"key":"PRIVUSER","id":25,"name":"private-only-users","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PRIVUSER"}]}},{"key":"PRIVWRITE","id":26,"name":"private-write","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PRIVWRITE"}]}},{"key":"PUB","id":22,"name":"public","description":"Public
      project","public":true,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PUB"}]}},{"key":"UNIQ","id":29,"name":"unique","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/UNIQ"}]}},{"key":"UNIQ2","id":30,"name":"unique-write","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/UNIQ2"}]}}],"start":0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@WRQLR1x1385x1870x0'
      X-Asessionid:
      - 1h8xqvl
      X-Auserid:
      - "104"
      X-Ausername:
      - lone-private-user
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bb.sgdev.org/rest/api/1.0/projects?limit=1
    method: GET
  response:
    body: '{"size":1,"limit":1,"isLastPage":false,"values":[{"key":"PRIVACY","id":28,"name":"privacy","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PRIVACY"}]}}],"start":0,"nextPageStart":2}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@WRQLR1x1385x1871x0'
      X-Asessionid:
      - 18s9pwt
      X-Auserid:
      - "104"
      X-Ausername:
      - lone-private-user
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bb.sgdev.org/rest/api/1.0/projects?limit=1&start=8
    method: GET
  response:
    body: '{"size":1,"limit":1,"isLastPage":true,"values":[{"key":"UNIQ2","id":30,"name":"unique-write","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/UNIQ2"}]}}],"start":8}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@WRQLR1x1385x1872x0'
      X-Asessionid:
      - 18jhtub
      X-Auserid:
      - "104"
      X-Ausername:
      - lone-private-user
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bb.sgdev.org/rest/api/1.0/projects?name=private-
    method: GET
  response:
    body: '{"size":2,"limit":25,"isLastPage":true,"values":[{"key":"PRIVUSER","id":25,"name":"private-only-users","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PRIVUSER"}]}},{"key":"PRIVWRITE","id":26,"name":"private-write","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PRIVWRITE"}]}}],"start":0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@WRQLR1x1385x1873x0'
      X-Asessionid:
      - 1cr9z7a
      X-Auserid:
      - "104"
      X-Ausername:
      - lone-private-user
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bb.sgdev.org/rest/api/1.0/projects?permission=PROJECT_WRITE
    method: GET
  response:
    body: '{"size":2,"limit":25,"isLastPage":true,"values":[{"key":"PRIVWRITE","id":26,"name":"private-write","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PRIVWRITE"}]}},{"key":"UNIQ2","id":30,"name":"unique-write","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/UNIQ2"}]}}],"start":0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@WRQLR1x1385x1874x0'
      X-Asessionid:
      - 13iap77
      X-Auserid:
      - "104"
      X-Ausername:
      - lone-private-user
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bb.sgdev.org/rest/api/1.0/projects?name=uniq&permission=PROJECT_WRITE
    method: GET
  response:
    body: '{"size":1,"limit":25,"isLastPage":true,"values":[{"key":"UNIQ2","id":30,"name":"unique-write","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/UNIQ2"}]}}],"start":0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@WRQLR1x1385x1875x0'
      X-Asessionid:
      - 1ygn5ha
      X-Auserid:
      - "104"
      X-Ausername:
      - lone-private-user
    status: 200 OK
    code: 200
    duration: ""
