---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bb.sgdev.org/rest/api/1.0/projects/PRIVUSER/repos?limit=100
    method: GET
  response:
    body: '{"size":2,"limit":100,"isLastPage":true,"values":[{"slug":"userland","id":6,"name":"userland","hierarchyId":"929e8676f3debd82f27f","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"PRIVUSER","id":25,"name":"private-only-users","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PRIVUSER"}]}},"public":false,"links":{"clone":[{"href":"https://bb.sgdev.org/scm/privuser/userland.git","name":"http"},{"href":"ssh://git@bb.sgdev.org:7999/privuser/userland.git","name":"ssh"}],"self":[{"href":"https://bb.sgdev.org/projects/PRIVUSER/repos/userland/browse"}]}},{"slug":"userscript","id":8,"name":"UserScript","hierarchyId":"f60f08eec17849b4e660","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"PRIVUSER","id":25,"name":"private-only-users","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PRIVUSER"}]}},"public":false,"links":{"clone":[{"href":"https://bb.sgdev.org/scm/privuser/userscript.git","name":"http"},{"href":"ssh://git@bb.sgdev.org:7999/privuser/userscript.git","name":"ssh"}],"self":[{"href":"https://bb.sgdev.org/projects/PRIVUSER/repos/userscript/browse"}]}}],"start":0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@WRQLR1x1385x1876x0'
      X-Asessionid:
      - xbhnxz
      X-Auserid:
      - "104"
      X-Ausername:
      - lone-private-user
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bb.sgdev.org/rest/api/1.0/projects/PRIVUSER/repos?limit=1
    method: GET
  response:
    body: '{"size":1,"limit":1,"isLastPage":false,"values":[{"slug":"userland","id":6,"name":"userland","hierarchyId":"929e8676f3debd82f27f","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"PRIVUSER","id":25,"name":"private-only-users","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PRIVUSER"}]}},"public":false,"links":{"clone":[{"href":"https://bb.sgdev.org/scm/privuser/userland.git","name":"http"},{"href":"ssh://git@bb.sgdev.org:7999/privuser/userland.git","name":"ssh"}],"self":[{"href":"https://bb.sgdev.org/projects/PRIVUSER/repos/userland/browse"}]}}],"start":0,"nextPageStart":1}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@WRQLR1x1385x1877x0'
      X-Asessionid:
      - 3t3d8
      X-Auserid:
      - "104"
      X-Ausername:
      - lone-private-user
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bb.sgdev.org/rest/api/1.0/projects/PRIVUSER/repos?limit=1&start=1
    method: GET
  response:
    body: '{"size":1,"limit":1,"isLastPage":true,"values":[{"slug":"userscript","id":8,"name":"UserScript","hierarchyId":"f60f08eec17849b4e660","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"PRIVUSER","id":25,"name":"private-only-users","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PRIVUSER"}]}},"public":false,"links":{"clone":[{"href":"https://bb.sgdev.org/scm/privuser/userscript.git","name":"http"},{"href":"ssh://git@bb.sgdev.org:7999/privuser/userscript.git","name":"ssh"}],"self":[{"href":"https://bb.sgdev.org/projects/PRIVUSER/repos/userscript/browse"}]}}],"start":1}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@WRQLR1x1385x1878x0'
      X-Asessionid:
      - ec2or5
      X-Auserid:
      - "104"
      X-Ausername:
      - lone-private-user
    status: 200 OK
    code: 200
    duration: ""
