---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bb.sgdev.org/rest/api/1.0/projects?limit=100
    method: GET
  response:
    body: '{"size":4,"limit":100,"isLastPage":true,"values":[{"key":"PRIV","id":23,"name":"private","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PRIV"}]}},{"key":"PRIVUSER","id":25,"name":"private-only-users","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PRIVUSER"}]}},{"key":"PRIVWRITE","id":26,"name":"private-write","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PRIVWRITE"}]}},{"key":"PUB","id":22,"name":"public","description":"Public
      project","public":true,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PUB"}]}}],"start":0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@WRQLR1x1255x1378x0'
      X-Asessionid:
      - 1asdhcp
      X-Auserid:
      - "104"
      X-Ausername:
      - lone-private-user
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bb.sgdev.org/rest/api/1.0/projects?limit=1
    method: GET
  response:
    body: '{"size":1,"limit":1,"isLastPage":false,"values":[{"key":"PRIV","id":23,"name":"private","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bb.sgdev.org/projects/PRIV"}]}}],"start":0,"nextPageStart":3}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@WRQLR1x1255x1379x0'
      X-Asessionid:
      - 1qlq7am
      X-Auserid:
      - "104"
      X-Ausername:
      - lone-private-user
    status: 200 OK
    code: 200
    duration: ""
