---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/vegeta/pull-requests/2/activities?limit=1000
    method: GET
  response:
    body: '{"size":9,"limit":500,"isLastPage":true,"values":[{"id":87,"createdDate":1572432617016,"user":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"action":"MERGED","commit":{"id":"be4d84e9c4b0a15e59c5f52900e6d55c7525b8d3","displayId":"be4d84e9c4b","author":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"authorTimestamp":1572432617000,"committer":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"committerTimestamp":1572432617000,"message":"Merge
      pull request #2 in SOUR/vegeta from release-testing-pr to master\n\n* commit
      ''1f63e719a65cad47a0a272d3d6eef05f4da427bb'':\n  make make make\n  Remove dump.go","parents":[{"id":"13613ac741e0f14f179e552ca428401ca83fe28a","displayId":"13613ac741e","author":{"name":"Tomás
      Senart","emailAddress":"tomas@sourcegraph.com"},"authorTimestamp":1572431324000,"committer":{"name":"Tomás
      Senart","emailAddress":"tomas@sourcegraph.com"},"committerTimestamp":1572431324000,"message":"Merge
      pull request #4 in SOUR/vegeta from encode-comment to master\n\n* commit ''db6f6959b162f5501f43898e1d44c03de5de6202'':\n  Encode
      comment is fun!","parents":[{"id":"0f5577eaf11a136541b8c667273b6bc5eba51a8b","displayId":"0f5577eaf11"},{"id":"db6f6959b162f5501f43898e1d44c03de5de6202","displayId":"db6f6959b16"}]},{"id":"1f63e719a65cad47a0a272d3d6eef05f4da427bb","displayId":"1f63e719a65","author":{"name":"Tomás
      Senart","emailAddress":"tsenart@gmail.com"},"authorTimestamp":1563286282000,"committer":{"name":"Tomás
      Senart","emailAddress":"tsenart@gmail.com"},"committerTimestamp":1563286282000,"message":"make
      make make","parents":[{"id":"7b71906bf3b3ec81a4d013b7f59ceb34b3c4105b","displayId":"7b71906bf3b"}]}]}},{"id":85,"createdDate":1572432552916,"user":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"action":"COMMENTED","commentAction":"ADDED","comment":{"properties":{"repositoryId":2},"id":8,"version":0,"text":"Comment.","author":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"createdDate":1572432552916,"updatedDate":1572432552916,"comments":[{"properties":{"repositoryId":2},"id":9,"version":0,"text":"Reply.","author":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"createdDate":1572432558954,"updatedDate":1572432558954,"comments":[],"tasks":[{"anchor":{"properties":{"repositoryId":2},"id":9,"version":0,"text":"Reply.","author":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"createdDate":1572432558954,"updatedDate":1572432558954,"permittedOperations":{"editable":false,"deletable":false},"type":"COMMENT"},"author":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"createdDate":1572432564000,"id":4,"text":"Task","state":"RESOLVED","permittedOperations":{"deletable":false,"editable":false,"transitionable":true}}],"permittedOperations":{"editable":false,"deletable":false}}],"tasks":[{"anchor":{"properties":{"repositoryId":2},"id":8,"version":0,"text":"Comment.","author":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"createdDate":1572432552916,"updatedDate":1572432552916,"permittedOperations":{"editable":false,"deletable":false},"type[...]
