---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/invalidslug/pull-requests/9999
    method: GET
  response:
    body: '{"errors":[{"context":null,"message":"Repository SOUR/invalidslug does
      not exist.","exceptionName":"com.atlassian.bitbucket.repository.NoSuchRepositoryException"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@MWNSEUx896x615741x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - 1pvqicp
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 404 Not Found
    code: 404
    duration: ""
