---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/vegeta/pull-requests/9999
    method: GET
  response:
    body: '{"errors":[{"context":null,"message":"Pull request 9999 does not exist
      in SOUR/vegeta.","exceptionName":"com.atlassian.bitbucket.pull.NoSuchPullRequestException"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@MWNSEUx819x451439x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - wbipd0
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/invalidslug/pull-requests/9999
    method: GET
  response:
    body: '{"errors":[{"context":null,"message":"Repository SOUR/invalidslug does
      not exist.","exceptionName":"com.atlassian.bitbucket.repository.NoSuchRepositoryException"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@MWNSEUx819x451440x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - he8e54
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/vegeta/pull-requests/2
    method: GET
  response:
    body: '{"id":2,"version":5,"title":"Release testing pr","description":"* Remove
      dump.go\r\n* make make make","state":"MERGED","open":false,"closed":true,"createdDate":1563286307998,"updatedDate":1572432617016,"closedDate":1572432617016,"fromRef":{"id":"refs/heads/release-testing-pr","displayId":"release-testing-pr","latestCommit":"1f63e719a65cad47a0a272d3d6eef05f4da427bb","repository":{"slug":"vegeta","id":2,"name":"vegeta","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SOUR","id":1,"name":"sourcegraph","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/sour/vegeta.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/vegeta/browse"}]}}},"toRef":{"id":"refs/heads/master","displayId":"master","latestCommit":"13613ac741e0f14f179e552ca428401ca83fe28a","repository":{"slug":"vegeta","id":2,"name":"vegeta","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SOUR","id":1,"name":"sourcegraph","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/sour/vegeta.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/vegeta/browse"}]}}},"locked":false,"author":{"user":{"name":"milton","emailAddress":"dev@sourcegraph.com","id":1,"displayName":"milton
      woof","active":true,"slug":"milton","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/milton"}]}},"role":"AUTHOR","approved":false,"status":"UNAPPROVED"},"reviewers":[{"user":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"lastReviewedCommit":"1f63e719a65cad47a0a272d3d6eef05f4da427bb","role":"REVIEWER","approved":false,"status":"UNAPPROVED"}],"participants":[],"links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/vegeta/pull-requests/2"}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@MWNSEUx819x451442x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - 1n8doqv
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
