.file-block-inputs {
    padding: 1rem;
    background-color: var(--body-bg);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom: 1px solid var(--border-color);
}

.repository-name-input:not(:focus):not(:active),
.file-path-input:not(:focus):not(:active) {
    border: 1px solid transparent;
}

.revision-input:not(:focus):not(:active),
.line-range-input:not(:focus):not(:active) {
    border: 1px solid var(--border-color);
}

.separator {
    /* stylelint-disable-next-line declaration-property-unit-allowed-list */
    width: 1px;
    height: 1.125rem;
    background-color: var(--border-color);
    margin: 0 0.125rem;
}

.file-location-input-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}
