@import './color-scheme-mixins';

.theme-redesign {
    .alert-info {
        --alert-border-color: var(--info);

        @include theme-light-rule {
            --alert-icon-color: var(--info-3);
            --alert-icon-background-color: var(--info-4);
        }

        @include theme-dark-rule {
            --alert-icon-color: var(--info);
            --alert-icon-background-color: var(--info-3);
        }
    }

    .alert-warning {
        --alert-border-color: var(--warning);
        --alert-icon-background-color: var(--warning-4);

        @include theme-light-rule {
            --alert-icon-color: var(--warning-3);
        }

        @include theme-dark-rule {
            --alert-icon-color: var(--warning);
        }
    }

    .alert-danger {
        --alert-border-color: var(--danger);
        --alert-icon-background-color: var(--danger-4);

        @include theme-light-rule {
            --alert-icon-color: var(--danger-3);
        }

        @include theme-dark-rule {
            --alert-icon-color: var(--danger);
        }
    }

    .alert-success {
        --alert-border-color: var(--success);
        --alert-icon-background-color: var(--success-4);

        @include theme-light-rule {
            --alert-icon-color: var(--success-3);
        }

        @include theme-dark-rule {
            --alert-icon-color: var(--success);
        }
    }

    .alert-primary {
        --alert-border-color: var(--primary);
        --alert-icon-background-color: var(--primary-4);

        @include theme-light-rule {
            --alert-icon-color: var(--primary-3);
        }

        @include theme-dark-rule {
            --alert-icon-color: var(--primary);
        }
    }

    .alert-secondary {
        // TODO: use root color palette CSS variable: https://github.com/sourcegraph/sourcegraph/issues/20665
        --alert-secondary-color: var(--icon-color);
        --alert-border-color: var(--alert-secondary-color);
        --alert-icon-background-color: var(--secondary-4);

        @include theme-light-rule {
            --alert-icon-color: var(--alert-secondary-color);
        }

        @include theme-dark-rule {
            --alert-icon-color: var(--alert-secondary-color);
        }
    }

    .alert-merged {
        --alert-border-color: var(--merged);
        --alert-icon-background-color: var(--merged-4);

        @include theme-light-rule {
            --alert-icon-color: var(--merged-3);
        }

        @include theme-dark-rule {
            --alert-icon-color: var(--merged);
        }
    }

    .alert-primary,
    .alert-secondary,
    .alert-success,
    .alert-danger,
    .alert-warning,
    .alert-info,
    .alert-merged {
        --alert-icon-block-width: 2.5rem;
        --alert-content-padding: 0.5rem;

        color: var(--body-color);
        overflow: hidden;
        border-color: var(--alert-border-color);
        // Apply `background-color` and `padding` only to `.alert-#{$name}` because we also use `.alert` elements without variants.
        background-color: var(--color-bg-1);
        padding: var(--alert-content-padding) var(--alert-content-padding) var(--alert-content-padding)
            calc(var(--alert-icon-block-width) + var(--alert-content-padding));

        &::before,
        &::after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: var(--alert-icon-block-width);
            height: 100%;
        }

        // Alert icon background.
        &::before {
            border: 2px solid var(--color-bg-1);
            border-top-left-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
            background-color: var(--alert-icon-background-color);
        }

        &::after {
            // We cannot render SVG in HTML because then we will need to add it to every `.alert` element manually.
            // We can use it as a `mask-image` to apply CSS variables as a fill color.
            // Icon: mdi-react/InformationOutline
            mask-image: url(escape-svg(
                "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M11 9h2V7h-2m1 13c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8m0-18A10 10 0 002 12a10 10 0 0010 10 10 10 0 0010-10A10 10 0 0012 2m-1 15h2v-6h-2v6z'/></svg>"
            ));
            mask-repeat: no-repeat;
            mask-size: 1.25rem;
            mask-position: 50% 50%;
            // Applied as a fill color for SVG icon because of the mask-image.
            background-color: var(--alert-icon-color);
        }
    }
}
