@import 'bootstrap/scss/badge';

// Light theme badge variants
.theme-light {
    @each $color, $value in $theme-colors-light {
        .badge-#{$color},
        a.badge-#{$color} {
            @include badge-variant($value);
        }
    }
}

@mixin redesign-badge-variant(
    $name,
    $base-color,
    $text-color: var(--light-text),
    $light-color-variant,
    $dark-color-variant
) {
    .badge-#{$name},
    a.badge-#{$name} {
        background-color: $base-color;
        color: $text-color;
        border: 1px solid $base-color;
    }

    a.badge-#{$name} {
        &:hover,
        &:focus,
        &.focus {
            color: $text-color;
            background-color: $dark-color-variant;
        }

        &:focus,
        &.focus {
            outline: 0;
            border-color: var(--body-bg);

            @at-root #{selector-append('.theme-light', &)} {
                box-shadow: 0 0 0 2px $light-color-variant;
            }
            @at-root #{selector-append('.theme-dark', &)} {
                box-shadow: 0 0 0 2px $dark-color-variant;
            }
        }
    }
}

.theme-light.theme-redesign,
.theme-dark.theme-redesign {
    .badge {
        background-color: var(--subtle-bg);
        color: var(--link-color);
    }

    @include redesign-badge-variant(
        $name: 'primary',
        $base-color: var(--primary),
        $light-color-variant: var(--primary-2),
        $dark-color-variant: var(--primary-3)
    );
    @include redesign-badge-variant(
        $name: 'secondary',
        $base-color: var(--secondary),
        $light-color-variant: var(--secondary-2),
        $dark-color-variant: var(--secondary-3),
        // Different text color for better contrast
        $text-color: var(--body-color)
    );
    @include redesign-badge-variant(
        $name: 'success',
        $base-color: var(--success),
        $light-color-variant: var(--success-2),
        $dark-color-variant: var(--success-3)
    );
    @include redesign-badge-variant(
        $name: 'danger',
        $base-color: var(--danger),
        $light-color-variant: var(--danger-2),
        $dark-color-variant: var(--danger-3)
    );
    @include redesign-badge-variant(
        $name: 'info',
        $base-color: var(--info),
        $light-color-variant: var(--info-2),
        $dark-color-variant: var(--info-3),
        // Different text color for better contrast
        $text-color: var(--dark-text)
    );
    @include redesign-badge-variant(
        $name: 'warning',
        $base-color: var(--warning),
        $light-color-variant: var(--warning-2),
        $dark-color-variant: var(--warning-3),
        // Different text color for better contrast
        $text-color: var(--dark-text)
    );
    @include redesign-badge-variant(
        $name: 'merged',
        $base-color: var(--merged),
        $light-color-variant: var(--merged-2),
        $dark-color-variant: var(--merged-3)
    );

    // TODO: Confirm we want this variant, and hover/focus color
    @include redesign-badge-variant(
        $name: 'new',
        $base-color: var(--info-3),
        $light-color-variant: var(--info-3),
        $dark-color-variant: var(--info-3) // TODO: No darker variant?
    );

    // Use default focus state for better contrast
    .badge-secondary {
        &:focus,
        &.focus {
            box-shadow: var(--focus-box-shadow);
        }
    }
}
