@mixin redesign-button-variant($base-color, $lighter-color-variant, $darker-color-variant) {
    @include button-variant(
        $background: $base-color,
        $border: $base-color,
        $hover-background: $darker-color-variant,
        $hover-border: transparent,
        $active-background: $base-color,
        $active-border: transparent
    );

    &.disabled,
    &:disabled {
        background-color: $lighter-color-variant;
        border-color: $lighter-color-variant;
        opacity: 1;
        color: var(--reversed-text);
    }

    &.focus,
    &:focus {
        border-color: var(--body-bg);
        box-shadow: 0 0 0 2px $lighter-color-variant;
        background-color: $base-color;
    }

    color: var(--reversed-text);
}

@mixin redesign-button-outline-variant($base-color, $lighter-color-variant) {
    @include button-outline-variant(
        $color: var(--body-color),
        $color-hover: $base-color,
        $active-background: transparent,
        $active-border: $lighter-color-variant
    );

    @include hover() {
        background-color: var(--color-bg-1);
        border-color: $base-color;
    }

    &.disabled,
    &:disabled {
        color: var(--text-muted);
        border-color: $base-color;
        background-color: var(--color-bg-1);
    }

    &.focus,
    &:focus {
        box-shadow: 0 0 0 2px $lighter-color-variant;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        color: $base-color;
    }

    border-color: $base-color;
}

.theme-light.theme-redesign {
    @each $color, $variants in $theme-colors-redesign-light {
        .btn-#{$color} {
            @include redesign-button-variant(
                $base-color: map-get($variants, 1),
                $lighter-color-variant: map-get($variants, 2),
                $darker-color-variant: map-get($variants, 3)
            );
        }

        .btn-outline-#{$color} {
            @include redesign-button-outline-variant(
                $base-color: map-get($variants, 1),
                $lighter-color-variant: map-get($variants, 2)
            );
        }
    }
}

.theme-dark.theme-redesign {
    @each $color, $variants in $theme-colors-redesign-dark {
        .btn-#{$color} {
            @include redesign-button-variant(
                $base-color: map-get($variants, 1),
                $lighter-color-variant: map-get($variants, 2),
                $darker-color-variant: map-get($variants, 3)
            );

            // Invert to use a darker focus border in dark mode
            &.focus,
            &:focus {
                box-shadow: 0 0 0 2px map-get($variants, 3);
            }
        }

        .btn-outline-#{$color} {
            @include redesign-button-outline-variant(
                $base-color: map-get($variants, 1),
                $lighter-color-variant: map-get($variants, 2)
            );

            // Invert to use a darker focus border in dark mode
            &.focus,
            &:focus {
                box-shadow: 0 0 0 2px map-get($variants, 3);
            }
        }
    }
}

// Overides
.theme-light.theme-redesign,
.theme-dark.theme-redesign {
    .btn-secondary {
        color: var(--body-color);
        @include hover() {
            border: 1px solid var(--color-bg-3);
            background-color: var(--color-bg-2);
        }
        &:focus,
        &.focus {
            color: var(--body-color);
            box-shadow: 0 0 0 2px var(--primary-2);
        }
        &:disabled,
        &.disabled {
            border: 1px solid var(--color-bg-3);
            background-color: var(--secondary-2);
            color: var(--text-muted);
        }
    }

    .btn-outline-secondary {
        @include hover() {
            color: var(--body-color);
            background-color: var(--color-bg-1);
        }
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active {
            color: var(--body-color);
        }
        &:focus,
        &.focus {
            box-shadow: 0 0 0 2px var(--primary-2);
        }
    }

    .btn-warning,
    .btn-info {
        color: var(--dark-text);
        &:focus,
        &.focus,
        &:hover {
            color: var(--dark-text);
        }
        &:disabled,
        &.disabled {
            color: var(--text-muted);
        }
    }
}
