.card {
    --card-bg: var(--body-bg);
    --card-border-color: var(--border-color);
}

.theme-redesign .card {
    --card-bg: var(--color-bg-1);
    --card-border-color: var(--border-color-2);
}

$card-spacer-y: 1rem;
$card-spacer-x: 1rem;
$card-bg: var(--card-bg);
$card-border-color: var(--card-border-color);
$card-cap-bg: var(--color-bg-2);

@import 'bootstrap/scss/card';
