// We need to import *both* SCSS variables (e.g., $oc-red-9) *and* CSS variables (e.g.,
// var(--oc-red-9). The SCSS variables are used for SCSS color math at build time, and the CSS
// variables are used at runtime.
@import 'open-color/open-color.scss';
@import 'open-color/open-color.css';

// Tell Bootstrap to use our colors.
$blue: #0b70db;
$indigo: #0864c6;
$purple: #a305e1;
$purple-01: #e8d1ff;
$purple-03: #820dde;
$pink: #d68cf3;
$red: $oc-red-9;
$orange: $oc-orange-7;
$yellow: $oc-yellow-7;
$green: $oc-green-7;
$teal: $oc-teal-7;
$cyan: #72dbe8;
$body-color: var(--body-color);
$body-bg: var(--body-bg);
$text-muted: var(--text-muted);

// Exception that's used in $theme-colors.
$gray-02: #eff2f5;
// Exception that's used in [data-reach-dialog-overlay] background.
$gray-04: #dbe2f0;
// Exception that's used in $custom-select-indicator as SVG icon fill color.
$gray-06: #798baf;
// Exception that's used in $theme-colors and in --box-shadow variable.
$gray-08: #343a4d;
// Exception that's used in $theme-colors.
$gray-09: #262b38;

// light and dark colors used in `$theme-colors` -> `bg-*`
$gray-100: #f8f9fa;
$gray-800: #343a40;

// Core semantic base colors.
$primary: $blue;
$secondary: $gray-08;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$merged: $purple;
$light: $gray-100;
$dark: $gray-800;

// Added to bg- and text- utilities because it is commonly needed in our app.
$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
    'merged': $merged,
);

:root {
    // Gray (blueish) root palette.
    --white: #ffffff;
    --gray-01: #f9fafb;
    --gray-02: #{$gray-02};
    --gray-03: #e6ebf2;
    --gray-04: #{$gray-04};
    --gray-05: #a6b6d9;
    --gray-06: #{$gray-06};
    --gray-07: #5e6e8c;
    --gray-08: #{$gray-08};
    --gray-09: #{$gray-09};
    --gray-10: #1d212f;
    --gray-11: #181b26;
    --gray-12: #14171f;
    --black: #0f111a;

    // Other root palette colors.
    --blue: #{$blue};
    --indigo: #{$indigo};
    --purple: #{$purple};
    --purple-01: #{$purple-01};
    --purple-03: #{$purple-03};
    --pink: #{$pink};
    --red: #{$red};
    --orange: #{$orange};
    --yellow: #{$yellow};
    --green: #{$green};
    --teal: #{$teal};
    --cyan: #{$cyan};

    // Logo colors
    --logo-orange: #ff5543;
    --logo-blue: #00cbec;
    --logo-purple: #a112ff;

    // Semantic colors.
    --primary: var(--blue);
    --primary-3: var(--indigo);
    --brand-secondary: var(--purple);
    --brand-secondary-2: var(--pink);
    --brand-secondary-3: #8900bf;
    --success: var(--green);
    --info: var(--cyan);
    --warning: var(--yellow);
    --danger: var(--red);
    --merged: #7048e8;
    --merged-2: #c6b6f6;
    --merged-3: #6b47d6;
    --light-text: var(--white);
    --dark-text: var(--gray-08);
    --line-number-color: var(--gray-06);
    --header-icon-color: var(--gray-05);
    --tooltip-bg: var(--gray-08);
    --text-disabled: var(--gray-06);

    // Color for the <mark> element and highlighted/hovered tokens.
    --mark-bg-dark: rgba(217, 72, 15, 0.5);
    --mark-bg-light: rgba(255, 192, 120, 0.5);
}

.theme-light {
    // Affects default browser styles
    color-scheme: light;

    --primary-2: #a3d0ff;
    --primary-4: #e1f0ff;
    --secondary: var(--gray-04);
    --secondary-2: #eef1f7;
    --secondary-3: #c6cfe1;
    --secondary-4: #f1f4f9;
    --success-2: #afe0b8;
    --success-3: #319e44;
    --success-4: #ebfaee;
    --info-2: #a8dbe2;
    --info-3: #0bb3ca;
    --info-4: #eafafc;
    --warning-2: #fbd999;
    --warning-3: #e09200;
    --warning-4: #fff7e1;
    --danger-2: #e9aaaa;
    --danger-3: #b52626;
    --danger-4: #fbeaea;
    --body-color: var(--gray-08);
    --body-bg: var(--gray-01);
    --color-bg-1: var(--white);
    --color-bg-2: var(--gray-03);
    --color-bg-3: var(--gray-04);
    --mark-bg: #f8e688;
    --merged-4: #eee9fd;
    --text-muted: var(--gray-07);
    --text-muted-highlighted: #566880; // --text-muted with higher contrast when shown on a --mark-bg background
    --link-color: var(--primary);
    --link-color-2: #0766cc;
    --link-active-color: #0c7bf0;
    --link-hover-color: #0c7bf0;
    --border-color: var(--gray-03);
    --border-color-2: var(--gray-04);
    --border-active-color: var(--primary);
    --border-primary-color: #0f59aa; // = dark variant of primary-2
    // Start query highlighting
    --search-query-text-color: var(--gray-12);
    --search-filter-keyword-color: var(--primary);
    --search-filter-separator-color: var(--oc-gray-6);
    --search-path-separator-color: var(--oc-gray-6);
    --search-keyword-color: var(--purple);
    --search-regexp-meta-assertion-color: var(--oc-red-9);
    --search-regexp-meta-delimited-color: var(--oc-red-9);
    --search-regexp-meta-lazy-quantifier-color: var(--oc-red-9);
    --search-regexp-meta-escaped-character-color: var(--oc-red-9);
    --search-regexp-meta-character-set-color: var(--purple);
    --search-regexp-meta-character-class-color: var(--purple);
    --search-regexp-meta-character-class-member-color: var(--search-query-text-color);
    --search-regexp-meta-character-class-range-color: var(--search-query-text-color);
    --search-regexp-meta-character-class-range-hyphen-color: var(--search-query-text-color);
    --search-regexp-meta-range-quantifier-color: var(--oc-cyan-7);
    --search-regexp-meta-alternative-color: var(--oc-cyan-7);
    --search-revision-separator-color: var(--oc-orange-9);
    --search-revision-include-glob-marker-color: var(--oc-red-9);
    --search-revision-exclude-glob-marker-color: var(--oc-red-9);
    --search-revision-commit-hash-color: var(--search-query-text-color);
    --search-revision-label-color: var(--search-query-text-color);
    --search-revision-reference-path-color: var(--search-query-text-color);
    --search-revision-wildcard-color: var(--oc-cyan-7);
    --search-predicate-name-access-color: var(--search-keyword-color);
    --search-predicate-dot-color: var(--search-query-text-color);
    --search-predicate-parenthesis-color: var(--oc-orange-9);
    --search-structural-hole-color: var(--oc-red-9);
    --search-structural-regexp-hole-color: var(--oc-red-9);
    --search-structural-variable-color: var(--search-query-text-color);
    --search-structural-regexp-separator-color: var(--oc-orange-9);
    // End query highlighting
    --infobar-warning-color: var(--oc-red-8);
    --icon-color: var(--gray-06);
    --icon-muted: var(--gray-05);
    --code-bg: var(--white);
    --intel-bg: var(--white);
    --subtle-bg: var(--gray-02);
    --subtle-bg-2: #{rgba($gray-02, 0.5)};
    --search-input-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
    --code-line-highlight-color: var(--color-bg-2);
    --diff-add-bg: #eeffec;
    --diff-remove-bg: #ffecec;
    --code-selection-bg: var(--gray-03);
    --sourcegraph-logo-text-color: #000000;
    --marketing-gradient: linear-gradient(90.64deg, #e4d3fc 3.11%, #d7f0fd 83.64%);
    --marketing-gradient-25: linear-gradient(
        90.64deg,
        rgba(228, 211, 252, 0.25) 3.11%,
        rgba(215, 240, 253, 0.25) 83.64%
    );
    --modal-bg: #{rgba($gray-04, 0.5)};
    // Colors used in the search sidebar with .core-workflow-improvements-enabled
    --sidebar-bg: var(--color-bg-1);
    --sidebar-border-color: var(--border-color-2);
}

.theme-dark {
    // Affects default browser styles.
    color-scheme: dark;

    --primary-2: #0f59aa;
    --primary-4: #03284f;
    --secondary: var(--gray-08);
    --secondary-2: #242936;
    --secondary-3: #1f232e;
    --secondary-4: #545967;
    --success-2: #156724;
    --success-3: #237332;
    --success-4: #054410;
    --info-2: #05454e;
    --info-3: #005766;
    --info-4: #025762;
    --warning-2: #815504;
    --warning-3: #9c6500;
    --warning-4: #3d2904;
    --danger-2: #6b1515;
    --danger-3: #801b1b;
    --danger-4: #3d0a0a;
    --body-color: var(--gray-04);
    --body-bg: var(--gray-12);
    --color-bg-1: var(--gray-11);
    --color-bg-2: var(--gray-10);
    --color-bg-3: var(--gray-08);
    --mark-bg: #7a341e;
    --merged-4: #1f0a5c;
    --text-muted: var(--gray-06);
    --text-muted-highlighted: #a9b9da; // --text-muted with higher contrast when shown on a --mark-bg background
    --link-color: #4393e7;
    --link-color-2: #70b0f3;
    --link-active-color: #489ffa;
    --link-hover-color: #489ffa;
    --border-color: var(--gray-09);
    --border-color-2: var(--gray-08);
    --border-active-color: #4393e7;
    --border-primary-color: #0f59aa; // = dark variant of primary-2
    // Start query highlighting
    --search-query-text-color: var(--gray-04);
    --search-filter-keyword-color: #4393e7;
    --search-filter-separator-color: var(--oc-gray-6);
    --search-path-separator-color: var(--oc-gray-6);
    --search-keyword-color: var(--pink);
    --search-regexp-meta-assertion-color: var(--oc-red-5);
    --search-regexp-meta-delimited-color: var(--oc-red-5);
    --search-regexp-meta-lazy-quantifier-color: var(--oc-red-5);
    --search-regexp-meta-escaped-character-color: var(--oc-red-3);
    --search-regexp-meta-character-set-color: var(--pink);
    --search-regexp-meta-character-class-color: var(--oc-grape-4);
    --search-regexp-meta-character-class-member-color: var(--search-query-text-color);
    --search-regexp-meta-character-class-range-color: var(--search-query-text-color);
    --search-regexp-meta-character-class-range-hyphen-color: var(--search-query-text-color);
    --search-regexp-meta-range-quantifier-color: var(--oc-cyan-4);
    --search-regexp-meta-alternative-color: var(--oc-cyan-4);
    --search-revision-separator-color: var(--oc-orange-4);
    --search-revision-include-glob-marker-color: var(--oc-red-5);
    --search-revision-exclude-glob-marker-color: var(--oc-red-5);
    --search-revision-commit-hash-color: var(--search-query-text-color);
    --search-revision-label-color: var(--search-query-text-color);
    --search-revision-reference-path-color: var(--search-query-text-color);
    --search-revision-wildcard-color: var(--oc-cyan-4);
    --search-predicate-name-access-color: var(--search-keyword-color);
    --search-predicate-dot-color: var(--search-query-text-color);
    --search-predicate-parenthesis-color: var(--oc-orange-4);
    --search-structural-hole-color: var(--oc-red-5);
    --search-structural-regexp-hole-color: var(--oc-red-5);
    --search-structural-variable-color: var(--search-query-text-color);
    --search-structural-regexp-separator-color: var(--oc-orange-4);
    // End query highlighting
    --infobar-warning-color: #f05151;
    --icon-color: var(--gray-05);
    --icon-muted: var(--gray-07);
    --code-bg: var(--gray-10);
    --intel-bg: var(--gray-12);
    --subtle-bg: var(--gray-09);
    --subtle-bg-2: #{rgba($gray-09, 0.2)};
    --search-input-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    --code-line-highlight-color: var(--body-bg);
    --diff-add-bg: #224035;
    --diff-remove-bg: #3e1d1d;
    --code-selection-bg: var(--gray-08);
    --sourcegraph-logo-text-color: var(--white);
    --marketing-gradient: linear-gradient(90.64deg, rgba(108, 8, 223, 0.5) 3.11%, rgba(0, 165, 213, 0.5) 83.64%);
    --marketing-gradient-25: linear-gradient(90.64deg, rgba(108, 8, 223, 0.25) 3.11%, rgba(0, 165, 213, 0.25) 83.64%);
    --modal-bg: #{rgba($gray-08, 0.5)};
    // Colors used in the search sidebar with .core-workflow-improvements-enabled
    --sidebar-bg: var(--black);
    --sidebar-border-color: var(--color-bg-2);
}

// Additional colors global colors.
.theme-dark,
.theme-light {
    --box-shadow: 0 0.25rem 0.5rem #{rgba($gray-08, 0.07)};
    --focus-box-shadow: 0 0 0 0.125rem var(--primary-2);
    --btn-link-disabled-color: var(--primary-2);
    --vulnerability-announcement: linear-gradient(to right, #8f3fce, #b80887);
    --text-muted-transparent: #{rgba($gray-06, 0.3)};
}

// Syntax highlighting changes for WCAG 2.1 contrast compliance (currently behind feature flag)
// https://github.com/sourcegraph/sourcegraph/issues/36251
.theme-light .theme-contrast-compliant-syntax-highlighting {
    --line-number-color: var(--gray-07);
}
.theme-dark .theme-contrast-compliant-syntax-highlighting {
    --line-number-color: var(--gray-06);
}
