@import 'open-color/open-color.scss'; // Sass variables
@import '~open-color/open-color.css'; // CSS variables

// Set to true to enable theme-redesign
$theme-redesign: true !default;

// General reusable colors from our custom color palette

// Gray (blueish) palette
$white: #ffffff;
$gray-01: #f2f4f8;
$gray-02: #e4e9f1;
$gray-03: #d7ddea;
$gray-04: #cad2e2;
$gray-05: #bdc7db;
$gray-06: #afbcd4;
$gray-07: #a2b0cd;
$gray-08: #95a5c6;
$gray-09: #889abf;
$gray-10: #7a8fb8;
$gray-11: #6d84b0;
$gray-12: #6078a9;
$gray-13: #566e9f;
$gray-14: #4f6592;
$gray-15: #475c85;
$gray-16: #405377;
$gray-17: #39496a;
$gray-18: #32405d;
$gray-19: #2b3750;
$gray-20: #242e42;
$gray-21: #1d2535;
$gray-22: #151c28;
$gray-23: #0e121b;
$black: #07090d;

// Redesign colors
$redesign-gray-01: #f9fafb;
$redesign-gray-02: #f0f1f2;
$redesign-gray-03: #e6ebf2;
$redesign-gray-04: #dbe2f0;
$redesign-gray-05: #a6b6d9;
$redesign-gray-06: #778299;
$redesign-gray-07: #5e6e8c;
$redesign-gray-08: #343a4d;
$redesign-gray-09: #262b38;
$redesign-gray-10: #1d212f;
$redesign-gray-11: #181b26;
$redesign-gray-12: #14171f;
$redesign-black: #0f111a;
$redesign-blue: #0b70db;
$redesign-red: $oc-red-9;
$redesign-pink: #d68cf3; // TODO: check
$redesign-indigo: #0864c6; // TODO: check
$redesign-cyan: #72dbe8;
// These are unchanged, preserved here for simplicity
$redesign-purple: $oc-violet-7;
$redesign-orange: $oc-orange-7;
$redesign-yellow: $oc-yellow-7;
$redesign-green: $oc-green-7;
$redesign-teal: $oc-teal-7;

// Tell Bootstrap to use colors from OpenColor
$blue: $oc-blue-7;
$indigo: $oc-indigo-7;
$purple: $oc-violet-7;
$pink: $oc-pink-7;
$red: $oc-red-7;
$orange: $oc-orange-7;
$yellow: $oc-yellow-7;
$green: $oc-green-7;
$teal: $oc-teal-7;
$cyan: $oc-cyan-3;

@if $theme-redesign {
    // Redesign Bootstrap colors. Uncomment to compile Bootstrap with redesign colors
    $blue: $redesign-blue;
    $indigo: $redesign-indigo;
    $purple: $redesign-purple;
    $pink: $redesign-pink;
    $red: $redesign-red;
    $orange: $redesign-orange;
    $yellow: $redesign-yellow;
    $green: $redesign-green;
    $teal: $redesign-teal;
    $cyan: $redesign-cyan;
}

// Logo colors
$logo-orange: #f96216;
$logo-blue: #00b4f2;
$logo-purple: #b200f8;
// Redesign logo color. Uncomment to compile Bootstrap with redesign colors
// $logo-purple: $redesign-purple;

// Globals
$primary: $blue;
$secondary: #2b3750;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$secondary-light: darken($gray-01, 5%);
$merged: $purple;

// Redesign global colors. Uncomment to compile Bootstrap with redesign colors
// $primary: $redesign-blue;
// $secondary: #a305e1;
// $success: $redesign-green;
// $info: $redesign-cyan;
// $warning: $redesign-yellow;
// $danger: $redesign-red;
// $secondary-light: darken($redesign-gray-01, 5%); // TODO: Confirm we still want this?
// $merged: $redesign-purple;

// Color for the <mark> element and highlighted/hovered tokens
$mark-bg-dark: rgba(217, 72, 15, 0.5);
$mark-bg-light: rgba(255, 192, 120, 0.5);
// Redesign mark- global colors. Uncomment to compile Bootstrap with redesign colors
// $mark-bg-light: rgba(255, 218, 30, 0.5);
// $mark-bg-dark: rgba(16, 104, 2, 0.5);

// Added to bg- and text- utilities because it is commonly needed in our app.
$theme-colors: (
    'merged': $merged,
);
$theme-colors-light: (
    'secondary': $secondary-light,
);
// Update redesign bootstrap theme colors. Uncomment to compile Bootstrap with redesign colors
// $theme-colors: (
//     'merged': $redesign-merged,
// );
// $theme-colors-light: (
//     'secondary': $redesign-secondary-light,
// );

$body-color: var(--body-color);
$body-bg: var(--body-bg);
$text-muted: var(--text-muted);

/* CURRENT STYLES */
:root {
    --primary: #{$primary};
    --secondary: #{$secondary-light};
    --success: #{$success};
    --info: #{$info};
    --warning: #{$warning};
    --danger: #{$danger};
    --merged: #{$merged};
    --color-border-active: #329af0;
    --logo-orange: #{$logo-orange};
    --logo-blue: #{$logo-blue};
    --logo-purple: #{$logo-purple};
    --code-bg: #{$gray-01};
}
.theme-light {
    // Affects default browser styles
    color-scheme: light;

    --body-color: #{$gray-19};
    --body-bg: #fbfdff;
    --color-bg-1: #ffffff;
    --color-bg-2: #{$gray-01};
    --color-bg-3: #{$gray-04};
    --color-bg-4: #{$gray-02};
    --color-bg-5: #{$gray-13};
    --color-bg-6: #{$gray-13};
    --color-text-3: #{rgba($gray-17, 0.5)};
    --mark-bg: #{$mark-bg-light};
    --text-muted: #6d727c;
    --line-number-color: #{$gray-05};
    --header-icon-color: #{$gray-13};
    --link-color: #{$gray-13};
    --link-active-color: #{$gray-18};
    --link-hover-color: #{$gray-21};
    --link-hover-bg-color: #{$gray-02};
    --link-hover-bg-color-2: #{$gray-03};
    --border-color: #{$gray-04};
    --border-color-2: #{$gray-02};
    --sourcegraph-logo-text-color: #242427;
    --search-query-text-color: #2b3750;
    --search-filter-keyword-color: #268bd2;
    --search-keyword-color: #{$oc-grape-7};
    --infobar-warning-color: #{$oc-red-8};
    --web-content-link-color: #1c7cd6;
    --disabled-action-bg-color: #{$oc-gray-3};
    --disabled-action-text-color: #{$oc-gray-5};
}
.theme-dark {
    // Affects default browser styles
    color-scheme: dark;

    --secondary: #{$secondary};
    --border-color: #{$gray-19};
    --border-color-2: #1b1730;
    --body-color: #ffffff;
    --body-bg: #04070e;
    --color-bg-1: #{$gray-22};
    --color-bg-2: #{$gray-21};
    --color-bg-3: #{$gray-19};
    --color-bg-4: #{$gray-22};
    --color-bg-5: #{$gray-17};
    --color-bg-6: #{$gray-06};
    --color-text-3: #{rgba(#ffffff, 0.5)};
    --mark-bg: #{$mark-bg-dark};
    --text-muted: #{$gray-07};
    --line-number-color: #{$gray-18};
    --header-icon-color: #{$gray-11};
    --link-color: #{$gray-07};
    --link-active-color: #{$gray-02};
    --link-hover-color: #ffffff;
    --link-hover-bg-color: #{$gray-18};
    --link-hover-bg-color-2: #{$gray-17};
    --sourcegraph-logo-text-color: #ffffff;
    --search-query-text-color: #f2f4f8;
    --search-filter-keyword-color: #569cd6;
    --search-keyword-color: #{$oc-grape-4};
    --infobar-warning-color: #{$oc-red-6};
    --web-content-link-color: #329af0;
    --disabled-action-bg-color: #{$oc-gray-8};
    --disabled-action-text-color: #{$oc-gray-9};
}

/* REDESIGN STYLES */
:root.theme-redesign,
// Descendant selector is required for Storybook `addRedesignVariants` helper.
:root .theme-redesign {
    --primary: #0b70db;
    --primary-hover: #0864c6;
    --secondary: #a305e1;
    --secondary-2: #d68cf3;
    --success: #{$oc-green-7};
    --success-2: #afe0b8;
    --info: #72dbe8;
    --warning: #{$oc-yellow-7};
    --warning-2: #fbd999;
    --danger: #{$oc-red-9};
    --danger-2: #e9aaaa;
    --merged: #{$oc-violet-7};
    --merged-2: #c6b6f6;
    --merged-3: #6b47d6;
    --line-number-color: #{$redesign-gray-06};
    --header-icon-color: #{$redesign-gray-05};
    --reversed-text: #{$white};
    --logo-orange: #{$logo-orange};
    --logo-blue: #{$logo-blue};
    --logo-purple: #{$logo-purple};
}

.theme-light.theme-redesign,
.theme-light .theme-redesign {
    --primary-2: #a3d0ff;
    --success-3: #319e44;
    --info-2: #a8dbe2;
    --info-3: #0bb3ca;
    --warning-3: #e09200;

    --danger-3: #b52626;
    --body-color: #{$redesign-gray-08};
    --body-bg: #{$redesign-gray-01};
    --color-bg-1: #{$white};
    --color-bg-2: #{$redesign-gray-03};
    --color-bg-3: #{$redesign-gray-04};

    // TODO: Check gradient and color
    --mark-bg: rgba(255, 218, 30, 0.5);

    --text-muted: #{$redesign-gray-07};

    --link-color: var(--primary);
    --link-active-color: #0c7bf0;
    --link-hover-color: #0c7bf0;
    --border-color: #{$redesign-gray-03};
    --border-color-2: #{$redesign-gray-04};
    --border-active-color: var(--primary);
    --search-query-text-color: #{$redesign-gray-12};
    --search-filter-keyword-color: var(--primary);
    --search-keyword-color: var(--secondary);
    --infobar-warning-color: #{$oc-red-8};

    // TODO: Remove from use
    --link-hover-bg-color: var(--color-bg-2);
    --link-hover-bg-color-2: var(--color-bg-3);
    --disabled-action-bg-color: var(--color-bg-3);
    --disabled-action-text-color: var(--text-muted);

    --icon-color: #{$redesign-gray-06};
    --code-bg: #{$white};
    --intel-bg: #{$white};
}

.theme-dark.theme-redesign,
.theme-dark .theme-redesign {
    --primary-2: #0f59aa;
    --success-3: #237332;
    --info-2: #99cdd6;
    --info-3: #005766;
    --warning-3: #9c6500;

    --danger-3: #801b1b;
    --body-color: #{$redesign-gray-04};
    --body-bg: #{$redesign-gray-12};
    --color-bg-1: #{$redesign-gray-11};
    --color-bg-2: #{$redesign-gray-10};
    --color-bg-3: #{$redesign-gray-08};

    // TODO: Check gradient and color
    --mark-bg: rgba(16, 104, 2, 0.5);

    --text-muted: #{$redesign-gray-05};

    --link-color: #4393e7;
    --link-active-color: #489ffa;
    --link-hover-color: #489ffa;
    --border-color: #{$redesign-gray-09};
    --border-color-2: #{$redesign-gray-08};
    --border-active-color: #4393e7;
    --search-query-text-color: #{$redesign-gray-04};
    --search-filter-keyword-color: #4393e7;
    --search-keyword-color: var(--secondary-2);
    --infobar-warning-color: #f05151;

    // TODO: Remove from use, replace with the variables referenced here
    --link-hover-bg-color: var(--color-bg-2);
    --link-hover-bg-color-2: var(--color-bg-3);
    --disabled-action-bg-color: var(--color-bg-3);
    --disabled-action-text-color: var(--text-muted);

    --icon-color: #{$redesign-gray-05};
    --code-bg: #{$redesign-gray-10};
    --intel-bg: #{$redesign-gray-12};
}
