@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/custom-forms';
@import 'bootstrap/scss/input-group';

.theme-dark {
    --input-bg: #0e121b; // even darker than --color-bg-1
    --input-disabled-bg: var(--color-bg-3);
    --input-border-color: var(--border-color);
    --input-color: var(--body-color);
    --input-placeholder-color: var(--text-muted);
    --input-group-addon-color: var(--body-color);
    --input-group-addon-bg: var(--color-bg-4);
    --input-group-addon-border-color: var(--color-bg-4);
    --input-focus-border-color: var(--primary);
}

.theme-light {
    --input-bg: var(--color-bg-1);
    --input-disabled-bg: var(--color-bg-3);
    --input-border-color: var(--border-color);
    --input-color: var(--body-color);
    --input-placeholder-color: var(--text-muted);
    --input-group-addon-color: var(--body-color);
    --input-group-addon-bg: var(--color-bg-4);
    --input-group-addon-border-color: var(--color-bg-4);
    --input-focus-border-color: var(--primary);
}

.theme-light.theme-redesign {
    --input-bg: #{$white};
    --input-disabled-bg: #{$redesign-gray-04};
    --input-border-color: #{$redesign-gray-04};
    --input-color: #{$redesign-gray-09};
    --input-placeholder-color: #{$redesign-gray-07};
    --input-group-addon-color: #{$redesign-gray-08};
    --input-group-addon-bg: #{$redesign-gray-03};
    --input-group-addon-border-color: #{$redesign-gray-03};
    // New ones
    --input-focus-border-color: var(--border-active-color);
    --input-focus-box-shadow: 0 0 0 2px var(--primary-2);
}

.theme-dark.theme-redesign {
    --input-bg: #{$redesign-gray-10};
    --input-disabled-bg: #{$redesign-gray-08};
    --input-border-color: #{$redesign-gray-08};
    --input-color: #{$redesign-gray-04};
    --input-placeholder-color: #{$redesign-gray-05};
    --input-group-addon-color: #{$redesign-gray-01};
    --input-group-addon-bg: #{$redesign-gray-08};
    --input-group-addon-border-color: #{$redesign-gray-08};
    // New ones
    --input-focus-border-color: var(--border-active-color);
    --input-focus-box-shadow: 0 0 0 2px var(--primary-2);
}

// Prevent Firefox's default red outline for inputs
:not(output):-moz-ui-invalid:not(:focus) {
    box-shadow: none;
}
:not(output):-moz-ui-invalid:-moz-focusring:not(:focus) {
    box-shadow: none;
}

// Add an additional feedback class to add additional context to
// form controls without requiring a valid state
.field-message {
    @extend .valid-feedback;
    display: block;
    color: var(--text-muted);
}

// Overrides
.theme-redesign {
    // Color overrides
    .valid-feedback {
        color: var(--text-muted);
    }
    .invalid-feedback {
        color: var(--danger);
    }
    .form-control,
    .custom-select {
        &:focus {
            &.is-valid {
                @at-root #{selector-append('.theme-light', &)} {
                    box-shadow: 0 0 0 2px var(--success-2);
                }
                @at-root #{selector-append('.theme-dark', &)} {
                    box-shadow: 0 0 0 2px var(--success-3);
                }
            }
            &.is-invalid {
                @at-root #{selector-append('.theme-light', &)} {
                    box-shadow: 0 0 0 2px var(--danger-2);
                }
                @at-root #{selector-append('.theme-dark', &)} {
                    box-shadow: 0 0 0 2px var(--danger-3);
                }
            }
        }
    }

    // Remove feedback icon for <select> and <textarea>
    select.form-control,
    textarea.form-control {
        background-image: none;
    }

    .custom-control {
        // Specifc custom control styles
        .custom-control-input {
            &:disabled ~ .custom-control-label::before {
                border-color: var(--input-disabled-bg);
            }

            &:checked {
                &.is-valid {
                    ~ .custom-control-label::before {
                        border-color: var(--success);
                        background-color: var(--success);
                    }
                }

                &.is-invalid {
                    ~ .custom-control-label::before {
                        border-color: var(--danger);
                        background-color: var(--danger);
                    }
                }
            }
        }

        // Custom radios use border active colors
        &.custom-radio .custom-control-input {
            &:checked {
                ~ .custom-control-label::after {
                    // Instead of using an SVG for the checked radio, we use a clipped background-color to ensure we can easily modify for different states
                    background-image: none;
                }

                // Typical radios use border-active-color
                &:not(.is-invalid):not(.is-valid)::before {
                    border-color: var(--border-active-color);
                    background-color: var(--border-active-color);
                    background-clip: content-box;
                    padding: 0.125rem;
                }
            }
        }
    }
}
