.table {
    --table-cell-padding: 0.625rem;
    --table-border-width: 1px;
    --table-color: var(--body-color);
    --table-border-color: var(--border-color);

    width: 100%;
    margin-bottom: var(--spacer);
    color: var(--table-color);

    th,
    td {
        padding: var(--table-cell-padding);
        vertical-align: top;
        border-top: var(--table-border-width) solid var(--table-border-color);
    }

    thead th {
        vertical-align: bottom;
        border-bottom: calc(2 * var(--table-border-width)) solid var(--table-border-color);
    }

    tbody + tbody {
        border-top: calc(2 * var(--table-border-width)) solid var(--table-border-color);
    }
}
