// Tell Bootstrap to use colors from redesign colors.
$blue: $redesign-blue;
$indigo: $redesign-indigo;
$purple: $redesign-purple;
$pink: $redesign-pink;
$red: $redesign-red;
$orange: $redesign-orange;
$yellow: $redesign-yellow;
$green: $redesign-green;
$teal: $redesign-teal;
$cyan: $redesign-cyan;
