:root {
    --btn-light-color: #212529;
    --btn-light-bg: #f8f9fa;
    --btn-light-hover-bg: #e2e6ea;
    --btn-light-active-border-color: #dae0e5;
}
.add-external-services-page__card {
    display: block;
    margin-bottom: 1rem;
}

:global(.theme-light) .btn-light,
:global(.theme-dark) .btn-light {
    background-color: var(--btn-light-bg);
    border-color: var(--btn-light-bg);

    &:not(:disabled):not(:global(.disabled)) {
        color: var(--btn-light-color);

        &:hover:not(:global(.focus)):not(:focus) {
            color: var(--btn-light-color);
            background-color: var(--btn-light-hover-bg);
            border-color: var(--btn-light-hover-bg);
        }

        &:focus {
            color: var(--btn-light-color);
            background-color: var(--btn-light-hover-bg);
            border-color: var(--btn-light-active-border-color);
            box-shadow: 0 0 0 2px rgba(216, 217, 219, 0.5);
        }
    }
}
