.list-node {
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 0.5rem 0;

    &:first-of-type {
        padding-top: 0;
    }
    &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
    }
}
