.tab-container {
    background-color: var(--color-bg-1);
}

.command-node {
    margin: 0.8rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color-2);

    &__header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 1rem;
        margin: 0.5rem 0;
    }

    &__duration-group {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__log-output {
        code {
            white-space: break-spaces;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    &__expand-btn {
        // We add this negative margin because the SVG icon has some extra padding created by the viewbox
        // which makes it indented a bit. This negative margin brings it back in line.
        margin-left: -0.3125rem;
    }

    &__status {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 0.5rem;
        border-radius: var(--border-radius);
    }

    &__success-status {
        background-color: var(--success);
    }

    &__error-status {
        background-color: var(--danger);
    }
}
