.view {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    cursor: default;
    outline: none;

    &:focus,
    &:focus-within {
        box-shadow: var(--focus-box-shadow);
    }
}

.header {
    margin-bottom: 0.75rem;
}

.header-content {
    display: flex;
    min-height: 2rem;
}

.title {
    // Truncation for multiple lines
    // stylelint-disable-next-line value-no-vendor-prefix
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 0.25rem;
    flex-grow: 1;
}

.action {
    align-self: start;
    display: flex;
    align-items: center;
    // Move icons in action panel visually closer to card border
    margin-right: -0.5rem;
    margin-top: -0.25rem;
}

.subtitle {
    flex-basis: 100%;
}
