.view {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    cursor: default;
    outline: none;

    &:focus,
    &:focus-within {
        box-shadow: var(--focus-box-shadow);
    }

    &__header {
        display: flex;
        margin-bottom: 0.75rem;
    }

    &__header-content {
        flex-grow: 1;
    }

    &__title {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-bottom: 0.25rem;
    }

    &__actions {
        align-self: start;
        display: flex;
        align-items: center;
        // Move icons in action panel visually closer to card border
        margin-right: -0.5rem;
        margin-top: -0.25rem;
    }
}
