.container {
    background-color: var(--color-bg-1);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
    border-radius: 1000px;
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 1rem;
    height: 1rem;
}
