.connection-popover-node {
    padding: 0.25rem 1rem;
    text-decoration: none;
    border: none !important;

    &:hover,
    &:focus {
        color: var(--light-text);
        background-color: var(--primary);
    }

    &--active {
        font-weight: inherit;
        background-color: var(--color-bg-3);
    }
}

.connection-popover-node-link {
    display: flex;
    align-items: center;
    color: inherit;

    &:hover {
        color: var(--light-text);
        text-decoration: none;
    }
}
