.navbar {

    position: sticky;
    flex: none;
    height: 3.51rem; // +.01 to avoid the search box leaking
    width: 100%;
    z-index: 9999999;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #1C2736;

    &__left {
        flex: 1;
    }

    &__logo-link {
        outline: 0;
        margin: 0px 1rem;
        display: flex;
        width: fit-content;
    }

    &__logo {
        width: 1.5rem;
        height: 1.5rem;
        &:hover {
            animation: spin 0.5s ease-in-out 1;
            @keyframes spin {
                50% { transform: rotate(180deg) scale(1.2) }
                100% { transform: rotate(180deg) scale(1) }
            }
        }
    }

    &__search-box-container {
        width: 52rem;
        align-self: flex-start;
    }

    &__right {
        flex: 1;
    }
}
