.navbar {

    position: sticky;
    flex: none;
    height: 3.55rem; // +.05 to avoid the search box leaking
    width: 100%;
    z-index: 9999999;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #1C2736;

    &__left {
        flex: 1;
    }

    &__right {
        flex: 1;
        display: flex;
        padding-right: 1rem;
        justify-content: flex-end;

        .avatar, .avatar-icon {
            width: 2rem;
            height: 2rem;
        }

        .sign-out-button {
            margin-left: 1rem;
        }
    }

    &__logo-link,
    &__right-contents a {
        outline: 0;
        margin: 0px 1rem;
        display: flex;
        width: fit-content;
        text-decoration: none;
    }

    &__logo {
        width: 1.5rem;
        height: 1.5rem;
        &:hover {
            animation: spin 0.5s ease-in-out 1;
            @keyframes spin {
                50% { transform: rotate(180deg) scale(1.2) }
                100% { transform: rotate(180deg) scale(1) }
            }
        }
    }

    &__search-box-container {
        width: 52rem;
        min-width: 0;
        align-self: flex-start;
    }
}
