.navbar {
    position: fixed;
    background-color: #2B3C53;
    top: 0px;
    width: 100%;
    z-index: 10000000000000;
    display: flex;
    justify-content: center;
    height: $nav-height;

    .contents {
        .spin:hover {    animation: spin 0.5s ease-in-out 1; }

        @keyframes spin {
            50% { transform: rotate(180deg) scale(1.2) }
            100% { transform: rotate(180deg) scale(1) }
        }

        display: flex;
        align-items: center;

        >a {
            outline: 0;
            margin: 0px 16px;
        }

        #search-box-container {
            flex: 1 0 0;
            .react-autosuggest__ {
                &container {
                    padding: 0;
                    box-shadow: none;
                }
                &input {
                    margin: 0;
                }
                &suggestions-container {
                    position: absolute;
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }

        .open-on-desktop {
            background-color: #1098AD;
            border-radius: 2px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            height: 32px;
            padding: 8px 12px;
            font-size: 12px;
            margin-right: 16px;
            text-decoration: none;

            .icon {
                margin-left: 8px;
            }
        }

    }
}

.repo-subnav {
    @extend .font-white;
    font-size: .75em;
    height: 48px;
    border-bottom: 1px solid #233043;
    display: flex;
    align-items: center;

    a, .path a {
        text-decoration: none;
        @extend .font-white;
    }

    .icon {
        width: 16px;
        height: 16px;
        display: inline-block;
        fill: currentColor;
        margin-right: 5px;
    }


    #file-explorer {
        display: flex;
        cursor: pointer;
        align-items: center;
        margin-right: 1.5em;
        margin-left: .75em;

        .group-icon {
            margin: 0px 10px;
            width: 9px;
            height: 9px;
        }
    }

    .path {
        flex: 1;
        display: flex;
        align-items: center;

        >span {
            >a:last-child {
                @extend .font-heavy-white;
            }
        }

        .separator {
            padding: 0px 5px;
        }
    }

    .right-pane {
        display: inline-block;
        .share {
            .share-icon {
                width: 9px;
                height: 13px;
                margin-left: 8px;
                position: relative;
                top: 2px;
            }
        }
        .authorship {
            .authorship-icon {
                width: 14px;
                height: 9px;
                margin-left: 6px;
            }
            margin-left: 18px;
        }
        .github {
            .github-icon {
                width: 13px;
                height: 14px;
                margin-left: 6px;
                position: relative;
                top: 4px;
            }

            margin-right: 18px;
            margin-left: 14px;
        }
    }
}