.nav-links {
    display: flex;
    padding: 0 1rem;
    justify-content: flex-end;
    align-items: center;

    &__link {
        display: inline-block;
        text-decoration: none;
        margin-left: 1rem;
        &-user {
            font-weight: bold;
        }
    }

    &__border-link {
        display: inline-block;
        text-decoration: none;
        margin-left: 1rem;
        border: 1px #cad2e2;
        border-radius: 0.125rem;
        border-style: solid;
        padding: 0.3125rem;
    }

    .avatar,
    .avatar-icon {
        width: 2rem;
        height: 2rem;
    }

    &__ad {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media (max-width: $media-lg) {
        &__widescreen-only {
            display: none;
        }
    }
}
