@import '../search/input/QueryInput';

.global-navbar {
    position: sticky;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.75rem;
    width: 100%;
    z-index: 200;
    &--bg {
        background-color: $color-bg-2;
    }

    &__logo-link {
        outline: 0;
        margin: 0 0.5rem;
        display: flex;
        width: fit-content;
        text-decoration: none;
    }

    &__logo {
        height: 1.5rem;

        &--full {
            // stylelint-disable-next-line declaration-property-unit-whitelist
            width: 150px;
            margin-right: 0.25rem; // full logo image has slightly more spacing on left side
        }
        &:not(&--full) {
            width: 1.5rem;
            &:hover {
                animation: spin 0.5s ease-in-out 1;

                @keyframes spin {
                    50% {
                        transform: rotate(180deg) scale(1.2);
                    }

                    100% {
                        transform: rotate(180deg) scale(1);
                    }
                }
            }
        }
    }

    &__search-box-container {
        min-width: 18rem;
        align-self: flex-start;
        flex: 1 0 auto;
        margin-right: 0.25rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.theme-light {
    .global-navbar {
        &--bg {
            background-color: $color-light-bg-2;
        }
    }
}
