@import '../search/input/QueryInput';

.global-navbar {
    flex: 0 0 auto;
    max-height: 80%;
    display: flex;
    align-items: flex-start;
    width: 100%;
    &--bg {
        background-color: $color-bg-2;
    }

    &__logo-link {
        outline: 0;
        margin: 0.25rem 0.5rem 0 0.5rem;
        display: flex;
        width: fit-content;
        text-decoration: none;
    }

    &__logo {
        height: 1.5rem;

        width: 1.5rem;
    }

    &__logo-animated {
        &:hover {
            animation: spin 0.5s ease-in-out 1;

            @keyframes spin {
                50% {
                    transform: rotate(180deg) scale(1.2);
                }

                100% {
                    transform: rotate(180deg) scale(1);
                }
            }
        }
    }

    &__search-box-container {
        min-width: 12rem;
        flex: 1 0 auto;
        margin-right: 0.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.theme-light {
    .global-navbar {
        &--bg {
            background-color: $color-light-bg-2;
        }
    }
}
