@import '../search/input/QueryInput';

.global-navbar {
    flex: 0 0 auto;
    max-height: 80%;
    display: flex;
    align-items: flex-start;
    width: 100%;
    &--bg {
        background-color: var(--navbar-bg);
    }

    &__logo-link {
        line-height: 1;
        padding: $spacer * 0.95;
        width: fit-content;
        text-decoration: none;
    }

    &__logo {
        height: 1.5rem;

        width: 1.5rem;
    }

    &__logo-animated {
        &:hover {
            animation: spin 0.5s ease-in-out 1;

            @keyframes spin {
                50% {
                    transform: rotate(180deg) scale(1.2);
                }

                100% {
                    transform: rotate(180deg) scale(1);
                }
            }
        }
    }

    &__search-box-container {
        min-width: 12rem;
        flex: 1 0 auto;
        margin-right: $spacer;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
