$navbar-search-height: 2.75rem;

.navbar {
    width: 100%;

    &__right {
        display: flex;
        padding-right: 1rem;
        justify-content: flex-end;
        align-items: center;

        .avatar,
        .avatar-icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &__logo-link,
    &__nav-link {
        outline: 0;
        margin: 0 0.5rem;
        display: flex;
        width: fit-content;
        text-decoration: none;
    }

    &__logo {
        width: 1.5rem;
        height: 1.5rem;

        &:hover {
            animation: spin 0.5s ease-in-out 1;

            @keyframes spin {
                50% {
                    transform: rotate(180deg) scale(1.2);
                }

                100% {
                    transform: rotate(180deg) scale(1);
                }
            }
        }
    }

    &__search-box-container {
        min-width: 18rem;
        align-self: flex-start;
        flex: 1 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__search {
        position: sticky;
        flex: none;
        z-index: 1;

        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: $color-bg-2;
        height: $navbar-search-height; // +.05 to avoid the search box leaking
    }

    &__scopesbar {
        width: 100%;

        padding-left: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-bg-2;

        &--hidden {
            display: none !important;
        }
    }
}

.theme-light {
    .navbar {
        &__search {
            background-color: $color-light-bg-2;
        }

        &__scopesbar {
            background-color: $color-light-bg-2;
            // stylelint-disable-next-line declaration-property-unit-whitelist
            border-bottom: solid 1px darken($color-light-border-2, 3%);
        }
    }
}
