.nav-links {
    display: flex;
    padding-right: 0.25rem;
    justify-content: flex-end;
    align-items: center;

    &__link {
        display: inline-block;
        text-decoration: none;
        margin-left: 1rem;
        white-space: nowrap;
        &-user {
            font-weight: bold;
        }
    }

    &__border-link {
        display: inline-block;
        text-decoration: none;
        margin-left: 1rem;
        border: 1px #cad2e2;
        border-radius: 0.125rem;
        border-style: solid;
        padding: 0.3125rem;
    }

    .avatar,
    .avatar-icon {
        width: 2rem;
        height: 2rem;
    }

    &__ad {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__scopes-toggle {
        min-width: 6.875rem;
    }

    @media (max-width: $media-lg) {
        &__scopes-toggle {
            min-width: 0;
        }
        &__widescreen-only,
        &__scopes-toggle-text {
            display: none;
        }
    }
}

.theme-light {
    .nav-links {
        &__border-link {
            border: $color-light-border;
        }
    }
}
