.user-nav-item {
    &__dropdown-menu {
        min-width: 12rem;
    }

    &__tooltip {
        opacity: 0;
        animation: tooltip-fade-in-out 5s ease-out 100ms;
    }

    &__avatar-background {
        animation: background-fade-in-out 5s ease-out 100ms;
    }
}

@keyframes tooltip-fade-in-out {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    84% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

// Temporarily inverted opacity
@keyframes background-fade-in-out {
    0% {
        opacity: 0;
    }

    11% {
        opacity: 0;
    }

    27% {
        opacity: 1;
    }

    84% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
