.after-install-page-content {
    &__sourcegraph-logo {
        width: 1.5rem;
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
    }
    &__code-host-logo {
        height: 2rem !important;
        width: 2rem !important;
    }
    &__code-host-titles {
        line-height: 2rem;
    }
}
