export CONFIG_FILE_PATH=config.example.yaml
export LINEAR_PERSONAL_API_KEY=
export LINEAR_WEBHOOK_SIGNING_SECRET=
export PORT=3000
export SRC_DEVELOPMENT=true
export SRC_LOG_FORMAT=console
export SRC_LOG_LEVEL=debug
