.blinkDots::after {
    content: '.';
    display: inline-block;
    animation: dots 1s infinite;
  }

  @keyframes dots {
    0%, 20% {
      content: '.';
    }
    40%, 60% {
      content: '..';
    }
    80%, 100% {
      content: '...';
    }
  }
