:root {
    --chat-bubble-border-radius: 16px;
}

.bubble-row {
    display: flex;
    padding: 1rem;
}

.human-bubble-row {
    justify-content: end;
}

.bot-bubble-row {
    justify-content: start;
}

.bubble {
    min-width: 0;
    max-width: min(93%, 800px);
}

.bubble-content {
    padding: 1rem;
    border-top-right-radius: var(--chat-bubble-border-radius);
    border-top-left-radius: var(--chat-bubble-border-radius);
    word-break: break-word;
    line-height: 150%;
}

.bubble-content *:first-child {
    margin-top: 0 !important;
}

.bubble-content *:last-child {
    margin-bottom: 0 !important;
}

.bubble-content pre {
    padding: 0.5rem;
    border-radius: 0.5rem;
    overflow-x: auto;
}

.human-bubble-content {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: var(--chat-bubble-border-radius);
}

.bot-bubble-content {
    border-bottom-right-radius: var(--chat-bubble-border-radius);
    border-bottom-left-radius: 0;
}

.bubble-footer {
    display: flex;
    margin-top: 0.5rem;
    align-content: center;
    justify-content: space-between;
}

.human-bubble-footer {
    justify-content: flex-end;
}

.bubble-footer-timestamp {
    margin-top: 0.5rem;
    align-self: center;
}
