.container {
    position: relative;
    overflow: visible;
}

.container > pre {
    margin-top: 0;
}

.buttons {
    position: absolute;
    bottom: .25rem;
    left: .25rem;
    visibility: hidden;
    display: flex;
    gap: .125rem;
}

.container:hover .buttons {
    visibility: visible;
}

.copy-button, .insert-button {
    cursor: pointer;
    padding: .25rem .5rem;
    font-size: .95em;
}
