.code-block-container {
    position: relative;
    overflow: visible;
}

.copy-button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    visibility: hidden;
    cursor: pointer;
    padding: 0.2rem;
    opacity: 0.8;
}

.insert-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    visibility: hidden;
    cursor: pointer;
    padding: 0.2rem;
    opacity: 0.8;
}

.none {
    visibility: none;
}

.code-block-container:hover .copy-button {
    visibility: visible;
}

.code-block-container:hover .insert-button {
    visibility: visible;
}
