@import 'wildcard/src/global-styles/breakpoints';

.row td {
    padding: 0.25rem 0;
    border-bottom: 1px solid var(--border-color-2);

    .spec {
        font-weight: 500;
    }
}

.button {
    color: var(--icon-color);
    font-size: 1rem;

    &:hover {
        background-color: var(--color-bg-2);
    }
}
