@import 'wildcard/src/global-styles/breakpoints';

.row td {
    padding: 0.25rem 0;

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--border-color-2);
    }

    .spec {
        font-weight: 500;
    }
}
