.search-context-page {
    &__title-spec {
        word-break: break-all;
    }

    &__repo-revs-row {
        border-bottom: 1px solid var(--border-color-2);
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;

        &-repo {
            word-break: break-word;
        }

        &-rev {
            padding-bottom: 0.25rem;
            margin-bottom: 0.25rem;
            border-bottom: 1px solid var(--border-color-2);
            word-break: break-word;

            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
            }
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.badge-container {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}
