.search-context-owner-dropdown {
    &__toggle {
        display: flex;
        align-items: center;
        height: 2rem;
        // To match the input
        font-size: 0.875rem !important;

        &:disabled,
        &:hover:disabled,
        &:active:disabled,
        &:focus:disabled {
            pointer-events: auto; // Required to show tooltip on hover
        }
    }
}

.menu-list {
    [data-reach-menu-item]:active {
        --text-muted: var(--white);
    }
}
