@import 'wildcard/src/global-styles/breakpoints';

.badge {
    cursor: default;
}

.filters-form {
    @media (--xs-breakpoint-down) {
        display: flex;
        flex-direction: column;
    }
}

.filter-input {
    max-width: 30%;

    @media (--xs-breakpoint-down) {
        max-width: 100%;
    }
}
