.connection-popover-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    max-height: calc(min(20rem, 70vh));

    :global(.alert) {
        word-break: break-word;
    }
}
