---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://app.vssps.visualstudio.com/_apis/profile/profiles/me?api-version=7.0
    method: GET
  response:
    body: '{"displayName":"testuser","publicAlias":"n/a","emailAddress":"testuser@sourcegraph.com","coreRevision":411938451,"timeStamp":"2023-01-20T19:20:51.6433333+00:00","id":"testuserID","revision":411938451}'
    headers:
      Activityid:
      - f821b5ff-fbd9-40bc-840e-4ff946b7e4e4
      Content-Type:
      - application/json; charset=utf-8; api-version=7.0
      Etag:
      - '"0"'
      Last-Modified:
      - Fri, 20 Jan 2023 19:20:51 GMT
      X-Tfs-Processid:
      - c90b9da1-6ace-4793-9002-24d86f225712
      X-Tfs-Session:
      - f821b5ff-fbd9-40bc-840e-4ff946b7e4e4
      X-Vss-E2eid:
      - f821b5ff-fbd9-40bc-840e-4ff946b7e4e4
      X-Vss-Senderdeploymentid:
      - a5ca35eb-148e-4ccd-bbb3-d31576d75958
      X-Vss-Userdata:
      - 473dec3e-03d7-6147-b106-0b0a7f766a92:idan.varsano@sourcegraph.com
    status: 200 OK
    code: 200
    duration: ""
