---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://app.vssps.visualstudio.com/_apis/profile/profiles/me?api-version=7.0
    method: GET
  response:
    body: '{"displayName":"idan.varsano","publicAlias":"473dec3e-03d7-6147-b106-0b0a7f766a92","emailAddress":"idan.varsano@sourcegraph.com","coreRevision":411938451,"timeStamp":"2023-01-20T19:20:51.6433333+00:00","id":"473dec3e-03d7-6147-b106-0b0a7f766a92","revision":411938451}'
    headers:
      Activityid:
      - 88152494-f8a1-4314-b2eb-4a210fb00d73
      Content-Type:
      - application/json; charset=utf-8; api-version=7.0
      Etag:
      - '"0"'
      Last-Modified:
      - Fri, 20 Jan 2023 19:20:51 GMT
      X-Tfs-Processid:
      - b4314765-47f6-4a4e-aa52-8525ff053667
      X-Tfs-Session:
      - 88152494-f8a1-4314-b2eb-4a210fb00d73
      X-Vss-E2eid:
      - 88152494-f8a1-4314-b2eb-4a210fb00d73
      X-Vss-Senderdeploymentid:
      - a5ca35eb-148e-4ccd-bbb3-d31576d75958
      X-Vss-Userdata:
      - 473dec3e-03d7-6147-b106-0b0a7f766a92:idan.varsano@sourcegraph.com
    status: 200 OK
    code: 200
    duration: ""
