---
version: 1
interactions:
- request:
    body: '{"name":"sgtestazureforks","project":{"id":"dc493f7d-0b57-4de2-a59b-3f74ff3ea334"},"parentRepository":{"id":"c4d186ef-18a6-4de4-a610-aa9ebd4e1faa","project":{"id":"dc493f7d-0b57-4de2-a59b-3f74ff3ea334"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://dev.azure.com/sgtestazure/_apis/git/repositories?api-version=7.0
    method: POST
  response:
    body: '{"id":"edaf746e-a05e-429c-ad75-2486f9c0f7d7","name":"sgtestazureforks","url":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/edaf746e-a05e-429c-ad75-2486f9c0f7d7","project":{"id":"dc493f7d-0b57-4de2-a59b-3f74ff3ea334","name":"sgtestazure","url":"https://dev.azure.com/sgtestazure/_apis/projects/dc493f7d-0b57-4de2-a59b-3f74ff3ea334","state":"wellFormed","revision":11,"visibility":"private","lastUpdateTime":"2023-01-20T19:22:47.403Z"},"size":0,"remoteUrl":"https://sgtestazure@dev.azure.com/sgtestazure/sgtestazure/_git/sgtestazureforks","sshUrl":"git@ssh.dev.azure.com:v3/sgtestazure/sgtestazure/sgtestazureforks","webUrl":"https://dev.azure.com/sgtestazure/sgtestazure/_git/sgtestazureforks","isFork":true,"_links":{"self":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/edaf746e-a05e-429c-ad75-2486f9c0f7d7"},"project":{"href":"vstfs:///Classification/TeamProject/dc493f7d-0b57-4de2-a59b-3f74ff3ea334"},"web":{"href":"https://dev.azure.com/sgtestazure/sgtestazure/_git/sgtestazureforks"},"ssh":{"href":"git@ssh.dev.azure.com:v3/sgtestazure/sgtestazure/sgtestazureforks"},"commits":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/edaf746e-a05e-429c-ad75-2486f9c0f7d7/commits"},"refs":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/edaf746e-a05e-429c-ad75-2486f9c0f7d7/refs"},"pullRequests":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/edaf746e-a05e-429c-ad75-2486f9c0f7d7/pullRequests"},"items":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/edaf746e-a05e-429c-ad75-2486f9c0f7d7/items"},"pushes":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/edaf746e-a05e-429c-ad75-2486f9c0f7d7/pushes"},"forkSyncOperation":{"href":"https://dev.azure.com/sgtestazure/_apis/git/repositories/edaf746e-a05e-429c-ad75-2486f9c0f7d7/forkSyncRequests/9"}},"isDisabled":false,"isInMaintenance":false}'
    headers:
      Activityid:
      - 7b6e99fd-2d22-4f8e-9c2e-a8969845bdf3
      Content-Type:
      - application/json; charset=utf-8; api-version=7.0
      X-Tfs-Processid:
      - c208d684-a461-41e5-a43d-ea1d99a0087b
      X-Tfs-Session:
      - 7b6e99fd-2d22-4f8e-9c2e-a8969845bdf3
      X-Vss-E2eid:
      - 7b6e99fd-2d22-4f8e-9c2e-a8969845bdf3
      X-Vss-Senderdeploymentid:
      - 4ff21e82-8865-0b2e-ffe8-9598818f8190
      X-Vss-Userdata:
      - 473dec3e-03d7-6147-b106-0b0a7f766a92:idan.varsano@sourcegraph.com
    status: 201 Created
    code: 201
    duration: ""
