---
version: 1
interactions:
- request:
    body: '{"name":"sgtestazurefork","project":{"id":"dc493f7d-0b57-4de2-a59b-3f74ff3ea334"},"parentRepository":{"id":"c4d186ef-18a6-4de4-a610-aa9ebd4e1faa","project":{"id":"dc493f7d-0b57-4de2-a59b-3f74ff3ea334"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://dev.azure.com/sgtestazure/_apis/git/repositories?api-version=7.0
    method: POST
  response:
    body: '{"id":"6a1d97ce-9301-4364-8584-3c6d59d70359","name":"sgtestazurefork","url":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/6a1d97ce-9301-4364-8584-3c6d59d70359","project":{"id":"dc493f7d-0b57-4de2-a59b-3f74ff3ea334","name":"sgtestazure","url":"https://dev.azure.com/sgtestazure/_apis/projects/dc493f7d-0b57-4de2-a59b-3f74ff3ea334","state":"wellFormed","revision":11,"visibility":"private","lastUpdateTime":"2023-01-20T19:22:47.403Z"},"size":0,"remoteUrl":"https://sgtestazure@dev.azure.com/sgtestazure/sgtestazure/_git/sgtestazurefork","sshUrl":"git@ssh.dev.azure.com:v3/sgtestazure/sgtestazure/sgtestazurefork","webUrl":"https://dev.azure.com/sgtestazure/sgtestazure/_git/sgtestazurefork","isFork":true,"_links":{"self":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/6a1d97ce-9301-4364-8584-3c6d59d70359"},"project":{"href":"vstfs:///Classification/TeamProject/dc493f7d-0b57-4de2-a59b-3f74ff3ea334"},"web":{"href":"https://dev.azure.com/sgtestazure/sgtestazure/_git/sgtestazurefork"},"ssh":{"href":"git@ssh.dev.azure.com:v3/sgtestazure/sgtestazure/sgtestazurefork"},"commits":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/6a1d97ce-9301-4364-8584-3c6d59d70359/commits"},"refs":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/6a1d97ce-9301-4364-8584-3c6d59d70359/refs"},"pullRequests":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/6a1d97ce-9301-4364-8584-3c6d59d70359/pullRequests"},"items":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/6a1d97ce-9301-4364-8584-3c6d59d70359/items"},"pushes":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/6a1d97ce-9301-4364-8584-3c6d59d70359/pushes"},"forkSyncOperation":{"href":"https://dev.azure.com/sgtestazure/_apis/git/repositories/6a1d97ce-9301-4364-8584-3c6d59d70359/forkSyncRequests/6"}},"isDisabled":false,"isInMaintenance":false}'
    headers:
      Activityid:
      - bf8df9c5-e8b0-42af-9b97-68433f344cdb
      Content-Type:
      - application/json; charset=utf-8; api-version=7.0
      X-Tfs-Processid:
      - 937ce4cc-a287-4dbb-94b7-d3e51b168227
      X-Tfs-Session:
      - bf8df9c5-e8b0-42af-9b97-68433f344cdb
      X-Vss-E2eid:
      - bf8df9c5-e8b0-42af-9b97-68433f344cdb
      X-Vss-Senderdeploymentid:
      - 4ff21e82-8865-0b2e-ffe8-9598818f8190
      X-Vss-Userdata:
      - 473dec3e-03d7-6147-b106-0b0a7f766a92:idan.varsano@sourcegraph.com
    status: 201 Created
    code: 201
    duration: ""
