---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://dev.azure.com/sgtestazure/sgtestazure/_apis/git/repositories/sgtestazure3/refs?%24top=1&api-version=7.0&filter=heads%2Fmain
    method: GET
  response:
    body: '{"value":[{"name":"refs/heads/main","objectId":"5834818c5f7cb730df0e8824ee644b8ce0334a5a","creator":{"displayName":"idan.varsano@sourcegraph.com","url":"https://spsprodcca1.vssps.visualstudio.com/Ab768986f-7304-43dd-be74-f37e30f66c38/_apis/Identities/473dec3e-03d7-6147-b106-0b0a7f766a92","_links":{"avatar":{"href":"https://dev.azure.com/sgtestazure/_apis/GraphProfile/MemberAvatars/aad.NDczZGVjM2UtMDNkNy03MTQ3LWIxMDYtMGIwYTdmNzY2YTky"}},"id":"473dec3e-03d7-6147-b106-0b0a7f766a92","uniqueName":"idan.varsano@sourcegraph.com","imageUrl":"https://dev.azure.com/sgtestazure/_api/_common/identityImage?id=473dec3e-03d7-6147-b106-0b0a7f766a92","descriptor":"aad.NDczZGVjM2UtMDNkNy03MTQ3LWIxMDYtMGIwYTdmNzY2YTky"},"url":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/601cf461-9338-4396-895d-a3e2780bd52f/refs?filter=heads%2Fmain"}],"count":1}'
    headers:
      Activityid:
      - dde7d862-28e9-4424-a2ec-925de7c483b0
      Content-Type:
      - application/json; charset=utf-8; api-version=7.0
      X-Tfs-Processid:
      - f2d0d867-6a44-400e-a9a2-59246386cc70
      X-Tfs-Session:
      - dde7d862-28e9-4424-a2ec-925de7c483b0
      X-Vss-E2eid:
      - dde7d862-28e9-4424-a2ec-925de7c483b0
      X-Vss-Senderdeploymentid:
      - 4ff21e82-8865-0b2e-ffe8-9598818f8190
      X-Vss-Userdata:
      - 473dec3e-03d7-6147-b106-0b0a7f766a92:idan.varsano@sourcegraph.com
    status: 200 OK
    code: 200
    duration: ""
