---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://dev.azure.com/sgtestazure/_apis/projects/sgtestazure?api-version=7.0
    method: GET
  response:
    body: '{"id":"dc493f7d-0b57-4de2-a59b-3f74ff3ea334","name":"sgtestazure","url":"https://dev.azure.com/sgtestazure/_apis/projects/dc493f7d-0b57-4de2-a59b-3f74ff3ea334","state":"wellFormed","revision":11,"_links":{"self":{"href":"https://dev.azure.com/sgtestazure/_apis/projects/dc493f7d-0b57-4de2-a59b-3f74ff3ea334"},"collection":{"href":"https://dev.azure.com/sgtestazure/_apis/projectCollections/3b958f8e-017e-4f06-95ce-1b6cdd242b36"},"web":{"href":"https://dev.azure.com/sgtestazure/sgtestazure"}},"visibility":"private","defaultTeam":{"id":"e254e814-7122-4310-b147-7cb0127a9a48","name":"sgtestazure
      Team","url":"https://dev.azure.com/sgtestazure/_apis/projects/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/teams/e254e814-7122-4310-b147-7cb0127a9a48"},"lastUpdateTime":"2023-01-20T19:22:47.403Z"}'
    headers:
      Activityid:
      - befaf38d-0f27-40f2-b0ac-3b7125407c67
      Content-Type:
      - application/json; charset=utf-8; api-version=7.0
      X-Tfs-Processid:
      - c29b6307-ca5f-4f26-994f-7c27bd987d7c
      X-Tfs-Session:
      - befaf38d-0f27-40f2-b0ac-3b7125407c67
      X-Vss-E2eid:
      - befaf38d-0f27-40f2-b0ac-3b7125407c67
      X-Vss-Senderdeploymentid:
      - 4ff21e82-8865-0b2e-ffe8-9598818f8190
      X-Vss-Userdata:
      - 473dec3e-03d7-6147-b106-0b0a7f766a92:idan.varsano@sourcegraph.com
    status: 200 OK
    code: 200
    duration: ""
