---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://dev.azure.com/sgtestazure/sgtestazure/_apis/git/repositories/sgtestazure3/pullrequests/49/statuses?api-version=7.0
    method: GET
  response:
    body: '{"value":[{"iterationId":1,"id":1,"state":"succeeded","description":"Sample
      status succeeded","context":{"name":"sample-status-2","genre":"vsts-samples"},"creationDate":"2023-02-22T21:45:25.6900614Z","updatedDate":"2023-02-22T21:45:25.6900614Z","createdBy":{"displayName":"idan.varsano@sourcegraph.com","url":"https://spsprodcca1.vssps.visualstudio.com/Ab768986f-7304-43dd-be74-f37e30f66c38/_apis/Identities/473dec3e-03d7-6147-b106-0b0a7f766a92","_links":{"avatar":{"href":"https://dev.azure.com/sgtestazure/_apis/GraphProfile/MemberAvatars/aad.NDczZGVjM2UtMDNkNy03MTQ3LWIxMDYtMGIwYTdmNzY2YTky"}},"id":"473dec3e-03d7-6147-b106-0b0a7f766a92","uniqueName":"idan.varsano@sourcegraph.com","imageUrl":"https://dev.azure.com/sgtestazure/_apis/GraphProfile/MemberAvatars/aad.NDczZGVjM2UtMDNkNy03MTQ3LWIxMDYtMGIwYTdmNzY2YTky","descriptor":"aad.NDczZGVjM2UtMDNkNy03MTQ3LWIxMDYtMGIwYTdmNzY2YTky"},"targetUrl":"http://fabrikam-fiber-inc.com/CI/builds/1"},{"iterationId":1,"id":2,"state":"succeeded","description":"Sample
      status succeeded 2","context":{"name":"sample-status-2","genre":"vsts-samples"},"creationDate":"2023-02-22T21:45:49.6136279Z","updatedDate":"2023-02-22T21:45:49.6136279Z","createdBy":{"displayName":"idan.varsano@sourcegraph.com","url":"https://spsprodcca1.vssps.visualstudio.com/Ab768986f-7304-43dd-be74-f37e30f66c38/_apis/Identities/473dec3e-03d7-6147-b106-0b0a7f766a92","_links":{"[...]
