---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://dev.azure.com/sgtestazure/sgtestazure/_apis/git/repositories/sgtestazure?api-version=7.0
    method: GET
  response:
    body: '{"id":"c4d186ef-18a6-4de4-a610-aa9ebd4e1faa","name":"sgtestazure","url":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/c4d186ef-18a6-4de4-a610-aa9ebd4e1faa","project":{"id":"dc493f7d-0b57-4de2-a59b-3f74ff3ea334","name":"sgtestazure","url":"https://dev.azure.com/sgtestazure/_apis/projects/dc493f7d-0b57-4de2-a59b-3f74ff3ea334","state":"wellFormed","revision":11,"visibility":"private","lastUpdateTime":"2023-01-20T19:22:47.403Z"},"defaultBranch":"refs/heads/master","size":3689519,"remoteUrl":"https://sgtestazure@dev.azure.com/sgtestazure/sgtestazure/_git/sgtestazure","sshUrl":"git@ssh.dev.azure.com:v3/sgtestazure/sgtestazure/sgtestazure","webUrl":"https://dev.azure.com/sgtestazure/sgtestazure/_git/sgtestazure","_links":{"self":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/c4d186ef-18a6-4de4-a610-aa9ebd4e1faa"},"project":{"href":"vstfs:///Classification/TeamProject/dc493f7d-0b57-4de2-a59b-3f74ff3ea334"},"web":{"href":"https://dev.azure.com/sgtestazure/sgtestazure/_git/sgtestazure"},"ssh":{"href":"git@ssh.dev.azure.com:v3/sgtestazure/sgtestazure/sgtestazure"},"commits":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/c4d186ef-18a6-4de4-a610-aa9ebd4e1faa/commits"},"refs":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/c4d186ef-18a6-4de4-a610-aa9ebd4e1faa/refs"},"pullRequests":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/c4d186ef-18a6-4de4-a610-aa9ebd4e1faa/pullRequests"},"items":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/c4d186ef-18a6-4de4-a610-aa9ebd4e1faa/items"},"pushes":{"href":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/c4d186ef-18a6-4de4-a610-aa9ebd4e1faa/pushes"}},"isDisabled":false,"isInMaintenance":false}'
    headers:
      Activityid:
      - bb567cfe-eda8-4163-bd33-e0d0df948e9a
      Content-Type:
      - application/json; charset=utf-8; api-version=7.0
      X-Tfs-Processid:
      - 2a3f3866-6c41-4323-97e2-7d9306867996
      X-Tfs-Session:
      - bb567cfe-eda8-4163-bd33-e0d0df948e9a
      X-Vss-E2eid:
      - bb567cfe-eda8-4163-bd33-e0d0df948e9a
      X-Vss-Senderdeploymentid:
      - 4ff21e82-8865-0b2e-ffe8-9598818f8190
      X-Vss-Userdata:
      - 473dec3e-03d7-6147-b106-0b0a7f766a92:idan.varsano@sourcegraph.com
    status: 200 OK
    code: 200
    duration: ""
