---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://app.vssps.visualstudio.com/_apis/profile/profiles/me?api-version=7.0
    method: GET
  response:
    body: '{"displayName":"idan.varsano","publicAlias":"473dec3e-03d7-6147-b106-0b0a7f766a92","emailAddress":"idan.varsano@sourcegraph.com","coreRevision":411938451,"timeStamp":"2023-01-20T19:20:51.6433333+00:00","id":"473dec3e-03d7-6147-b106-0b0a7f766a92","revision":411938451}'
    headers:
      Activityid:
      - 50f6bf9c-dd35-4b43-97a2-0ea4aef4b2da
      Content-Type:
      - application/json; charset=utf-8; api-version=7.0
      Etag:
      - '"0"'
      Last-Modified:
      - Fri, 20 Jan 2023 19:20:51 GMT
      X-Tfs-Processid:
      - 4977ea45-2a49-4853-978f-6dc02b6f0e78
      X-Tfs-Session:
      - 50f6bf9c-dd35-4b43-97a2-0ea4aef4b2da
      X-Vss-E2eid:
      - 50f6bf9c-dd35-4b43-97a2-0ea4aef4b2da
      X-Vss-Senderdeploymentid:
      - a5ca35eb-148e-4ccd-bbb3-d31576d75958
      X-Vss-Userdata:
      - 473dec3e-03d7-6147-b106-0b0a7f766a92:idan.varsano@sourcegraph.com
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://app.vssps.visualstudio.com/_apis/accounts?api-version=7.0&memberId=473dec3e-03d7-6147-b106-0b0a7f766a92
    method: GET
  response:
    body: '{"count":4,"value":[{"accountId":"3b958f8e-017e-4f06-95ce-1b6cdd242b36","accountUri":"https://vssps.dev.azure.com:443/sgtestazure/","accountName":"sgtestazure","properties":{}},{"accountId":"65fd1acc-c89e-43e5-9069-395214eb0c25","accountUri":"https://vssps.dev.azure.com:443/repo-management/","accountName":"repo-management","properties":{}},{"accountId":"e8899f60-b66c-4106-8176-8c75b1710c97","accountUri":"https://vssps.dev.azure.com:443/indra-foobar/","accountName":"indra-foobar","properties":{}},{"accountId":"0b807719-5c78-49cd-a851-b24b694db41c","accountUri":"https://vssps.dev.azure.com:443/sgtestazure2/","accountName":"sgtestazure2","properties":{}}]}'
    headers:
      Activityid:
      - 651b0354-ee88-4969-be2d-9d0b1721e888
      Content-Type:
      - application/json; charset=utf-8; api-version=7.0
      X-Tfs-Processid:
      - ab028711-319a-4a11-ad39-ecbe88a16614
      X-Tfs-Session:
      - 651b0354-ee88-4969-be2d-9d0b1721e888
      X-Vss-E2eid:
      - 651b0354-ee88-4969-be2d-9d0b1721e888
      X-Vss-Senderdeploymentid:
      - a5ca35eb-148e-4ccd-bbb3-d31576d75958
      X-Vss-Userdata:
      - 473dec3e-03d7-6147-b106-0b0a7f766a92:idan.varsano@sourcegraph.com
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://dev.azure.com/sgtestazure/_apis/projects?api-version=7.0
    method: GET
  response:
    body: '{"count":4,"value":[{"id":"f40be926-5c7a-491f-a7a8-aafe39cc67b1","name":"private-project-no-access-to-anyone-else","url":"https://dev.azure.com/sgtestazure/_apis/projects/f40be926-5c7a-491f-a7a8-aafe39cc67b1","state":"wellFormed","revision":93,"visibility":"private","lastUpdateTime":"2023-03-02T10:17:54.57Z"},{"id":"e414d6eb-05c3-46ff-a6f7-ce278577b7c2","name":"sg
      test with many           spaces","url":"https://dev.azure.com/sgtestazure/_apis/projects/e414d6eb-05c3-46ff-a6f7-ce278577b7c2","state":"wellFormed","revision":27,"visibility":"private","lastUpdateTime":"2023-01-24T18:21:31.597Z"},{"id":"8c1230da-3631-41e8-8df3-c94a705227d8","name":"sg
      test with spaces","description":"test project with spaces","url":"https://dev.azure.com/sgtestazure/_apis/projects/8c1230da-3631-41e8-8df3-c94a705227d8","state":"wellFormed","revision":19,"visibility":"private","lastUpdateTime":"2023-01-24T18:08:42.87Z"},{"id":"dc493f7d-0b57-4de2-a59b-3f74ff3ea334","name":"sgtestazure","url":"https://dev.azure.com/sgtestazure/_apis/projects/dc493f7d-0b57-4de2-a59b-3f74ff3ea334","state":"wellFormed","revision":11,"visibility":"private","lastUpdateTime":"2023-01-20T19:22:47.403Z"}]}'
    headers:
      Activityid:
      - 4dda23e3-c0f4-49d0-90f8-4e2c742ac75a
      Content-Type:
      - application/json; charset=utf-8; api-version=7.0
      X-Tfs-Processid:
      - eda26d9f-72c5-42c2-99d5-8cdce0108e97
      X-Tfs-Session:
      - 4dda23e3-c0f4-49d0-90f8-4e2c742ac75a
      X-Vss-E2eid:
      - 4dda23e3-c0f4-49d0-90f8-4e2c742ac75a
      X-Vss-Senderdeploymentid:
      - 4ff21e82-8865-0b2e-ffe8-9598818f8190
      X-Vss-Userdata:
      - 473dec3e-03d7-6147-b106-0b0a7f766a92:idan.varsano@sourcegraph.com
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://dev.azure.com/repo-management/_apis/projects?api-version=7.0
    method: GET
  response:
    body: '{"count":1,"value":[{"id":"40e6eecb-3994-447d-acf4-1030b47474ed","name":"repo-updater","url":"https://dev.azure.com/repo-management/_apis/projects/40e6eecb-3994-447d-acf4-1030b47474ed","state":"wellFormed","revision":11,"visibility":"private","lastUpdateTime":"2023-02-27T17:07:10.983Z"}]}'
    headers:
      Activityid:
      - c325d332-0496-4b42-9baa-1da29e202268
      Content-Type:
      - application/json; charset=utf-8; api-version=7.0
      X-Tfs-Processid:
      - f8365d63-6494-4f48-80cc-d97e66738720
      X-Tfs-Session:
      - c325d332-0496-4b42-9baa-1da29e202268
      X-Vss-E2eid:
      - c325d332-0496-4b42-9baa-1da29e202268
      X-Vss-Senderdeploymentid:
      - c84c777c-7195-73c8-1a82-3367a26c86ef
      X-Vss-Userdata:
      - 473dec3e-03d7-6147-b106-0b0a7f766a92:idan.varsano@sourcegraph.com
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://dev.azure.com/indra-foobar/_apis/projects?api-version=7.0
    method: GET
  response:
    body: '{"count":2,"value":[{"id":"306cca88-6b8f-4764-9ccc-d908c29d9a9c","name":"gravity","url":"https://dev.azure.com/indra-foobar/_apis/projects/306cca88-6b8f-4764-9ccc-d908c29d9a9c","state":"wellFormed","revision":11,"visibility":"private","lastUpdateTime":"2023-02-22T13:46:21.51Z"},{"id":"6711eccf-441c-41f9-8cc6-5c628e74568e","name":"openspace","url":"https://dev.azure.com/indra-foobar/_apis/projects/6711eccf-441c-41f9-8cc6-5c628e74568e","state":"wellFormed","revision":19,"visibility":"public","lastUpdateTime":"2023-02-24T12:04:39.153Z"}]}'
    headers:
      Activityid:
      - 200b90fb-fcbb-49c6-a5bf-33e65aed7077
      Content-Type:
      - application/json; charset=utf-8; api-version=7.0
      X-Tfs-Processid:
      - e0ae26bc-5e99-40df-aa74-170539f005c0
      X-Tfs-Session:
      - 200b90fb-fcbb-49c6-a5bf-33e65aed7077
      X-Vss-E2eid:
      - 200b90fb-fcbb-49c6-a5bf-33e65aed7077
      X-Vss-Senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      X-Vss-Userdata:
      - 473dec3e-03d7-6147-b106-0b0a7f766a92:idan.varsano@sourcegraph.com
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://dev.azure.com/sgtestazure2/_apis/projects?api-version=7.0
    method: GET
  response:
    body: '{"count":2,"value":[{"id":"e245bed4-9f82-4a3a-82f0-1ac87f90f786","name":"sgtestindra","url":"https://dev.azure.com/sgtestazure2/_apis/projects/e245bed4-9f82-4a3a-82f0-1ac87f90f786","state":"wellFormed","revision":11,"visibility":"private","lastUpdateTime":"2023-02-24T17:28:29.813Z"},{"id":"87c83caa-9bbc-48b8-b45a-b816a37c6f27","name":"sgtestindra2","url":"https://dev.azure.com/sgtestazure2/_apis/projects/87c83caa-9bbc-48b8-b45a-b816a37c6f27","state":"wellFormed","revision":19,"visibility":"private","lastUpdateTime":"2023-02-28T05:31:22.513Z"}]}'
    headers:
      Activityid:
      - 4dda22d4-c0f4-49d0-90f8-4e2c742ac75a
      Content-Type:
      - application/json; charset=utf-8; api-version=7.0
      X-Tfs-Processid:
      - eda26d9f-72c5-42c2-99d5-8cdce0108e97
      X-Tfs-Session:
      - 4dda22d4-c0f4-49d0-90f8-4e2c742ac75a
      X-Vss-E2eid:
      - 4dda22d4-c0f4-49d0-90f8-4e2c742ac75a
      X-Vss-Senderdeploymentid:
      - 4ff21e82-8865-0b2e-ffe8-9598818f8190
      X-Vss-Userdata:
      - 473dec3e-03d7-6147-b106-0b0a7f766a92:idan.varsano@sourcegraph.com
    status: 200 OK
    code: 200
    duration: ""
