---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://dev.azure.com/sgtestazure/_apis/git/repositories?api-version=7.0
    method: GET
  response:
    body: '{"value":[{"id":"a000eac7-cc32-4b55-b877-1915325444a7","name":"sg test
      with many           spaces","url":"https://dev.azure.com/sgtestazure/e414d6eb-05c3-46ff-a6f7-ce278577b7c2/_apis/git/repositories/a000eac7-cc32-4b55-b877-1915325444a7","project":{"id":"e414d6eb-05c3-46ff-a6f7-ce278577b7c2","name":"sg
      test with many           spaces","url":"https://dev.azure.com/sgtestazure/_apis/projects/e414d6eb-05c3-46ff-a6f7-ce278577b7c2","state":"wellFormed","revision":27,"visibility":"private","lastUpdateTime":"2023-01-24T18:21:31.597Z"},"defaultBranch":"refs/heads/master","size":3723655,"remoteUrl":"https://sgtestazure@dev.azure.com/sgtestazure/sg%20test%20with%20many%20%20%20%20%20%20%20%20%20%20%20spaces/_git/sg%20test%20with%20many%20%20%20%20%20%20%20%20%20%20%20spaces","sshUrl":"git@ssh.dev.azure.com:v3/sgtestazure/sg%20test%20with%20many%20%20%20%20%20%20%20%20%20%20%20spaces/sg%20test%20with%20many%20%20%20%20%20%20%20%20%20%20%20spaces","webUrl":"https://dev.azure.com/sgtestazure/sg%20test%20with%20many%20%20%20%20%20%20%20%20%20%20%20spaces/_git/sg%20test%20with%20many%20%20%20%20%20%20%20%20%20%20%20spaces","isDisabled":false,"isInMaintenance":false},{"id":"7a7a0959-9c79-47f5-9d42-319c735179ce","name":"sg
      test with spaces","url":"https://dev.azure.com/sgtestazure/8c1230da-3631-41e8-8df3-c94a705227d8/_apis/git/repositories/7a7a0959-9c79-47f5-9d42-319c735179ce","project":{"id":"8c1230da-3631-41e8-8df3-c94a705227d8","name":"sg
      test with spaces","description":"test project with spaces","url":"https://dev.azure.com/sgtestazure/_apis/projects/8c1230da-3631-41e8-8df3-c94a705227d8","state":"wellFormed","revision":19,"visibility":"private","lastUpdateTime":"2023-01-24T18:08:42.87Z"},"size":0,"remoteUrl":"https://sgtestazure@dev.azure.com/sgtestazure/sg%20test%20with%20spaces/_git/sg%20test%20with%20spaces","sshUrl":"git@ssh.dev.azure.com:v3/sgtestazure/sg%20test%20with%20spaces/sg%20test%20with%20spaces","webUrl":"https://dev.azure.com/sgtestazure/sg%20test%20with%20spaces/_git/sg%20test%20with%20spaces","isDisabled":false,"isInMaintenance":false},{"id":"6a1d97ce-9301-4364-8584-3c6d59d70359","name":"sgtestazurefork","url":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/6a1d97ce-9301-4364-8584-3c6d59d70359","project":{"id":"dc493f7d-0b57-4de2-a59b-3f74ff3ea334","name":"sgtestazure","url":"https://dev.azure.com/sgtestazure/_apis/projects/dc493f7d-0b57-4de2-a59b-3f74ff3ea334","state":"wellFormed","revision":11,"visibility":"private","lastUpdateTime":"2023-01-20T19:22:47.403Z"},"defaultBranch":"refs/heads/master","size":3688420,"remoteUrl":"https://sgtestazure@dev.azure.com/sgtestazure/sgtestazure/_git/sgtestazurefork","sshUrl":"git@ssh.dev.azure.com:v3/sgtestazure/sgtestazure/sgtestazurefork","webUrl":"https://dev.azure.com/sgtestazure/sgtestazure/_git/sgtestazurefork","isFork":true,"isDisabled":false,"isInMaintenance":false},{"id":"00e0ad0a-66df-4dc2-bd1b-4c34e05b9225","name":"sg
      test with spaces 2","url":"https://dev.azure.com/sgtestazure/8c1230da-3631-41e8-8df3-c94a705227d8/_apis/git/repositories/00e0ad0a-66df-4dc2-bd1b-4c34e05b9225","project":{"id":"8c1230da-3631-41e8-8df3-c94a705227d8","name":"sg
      test with spaces","description":"test project with spaces","url":"https://dev.azure.com/sgtestazure/_apis/projects/8c1230da-3631-41e8-8df3-c94a705227d8","stat[...]
