.wrapper {
    display: flex;
    width: fit-content;
    align-items: baseline;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    background: var(--marketing-gradient-25);
    border-radius: 3px;
}

.label {
    display: inline-block;
    border-right: 1px solid var(--brand-secondary-2);
    padding-right: 0.5rem;
    margin: 0;

    /* Brand/$violet-05 */
    color: var(--violet-05);
}

.message {
    /* Semantic/body-color/Light */
    color: var(--body-color);
}
