# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# https://help.github.com/articles/about-codeowners/

*git*/* @sourcegraph/core-services
/cmd/searcher/ @keegancsmith
/web/src/ @felixfbecker
/cmd/frontend/internal/app/pkg/updatecheck/ @dadlerj
/web/src/tracking/ @dadlerj
/cmd/frontend/authz/ @beyang
/cmd/frontend/auth/ @beyang
/cmd/frontend/internal/auth/ @beyang
/cmd/frontend/internal/session/ @beyang
/cmd/frontend/backend/ @beyang
/cmd/frontend/db/ @beyang
/cmd/frontend/external/session/session.go @beyang
/enterprise/cmd/frontend/internal/authz @beyang
/enterprise/cmd/frontend/auth @beyang

# Core Services
/cmd/gitserver/ @sourcegraph/core-services
/cmd/repo-updater/ @sourcegraph/core-services
/migrations/ @sourcegraph/core-services

# Search
/cmd/frontend/graphqlbackend/*search* @sourcegraph/code-search
*/search/**/* @sourcegraph/code-search

# Deployment
Dockerfile @ggilmore

# Documentation and homepage
README.md @sqs
/doc/ @sqs
/web/src/enterprise/dotcom/welcome/ @sqs

# Browser extensions
/client/browser/ @felixfbecker @lguychard

# Sourcegraph extension API
/packages/sourcegraph-extension-api/ @lguychard

# Don't set any reviewers for these,
# configure by package through Renovate config (see renovate.json)
**/package.json
**/yarn.lock
