# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# https://help.github.com/articles/about-codeowners/
#
# Order is important; the last matching pattern takes the most
# precedence.

# We are experimenting with not using CODEOWNERS until the end of October.
# More context: https://github.com/sourcegraph/sourcegraph/pull/13838
CODEOWNERS @nicksnyder
.github/CODEOWNERS @nicksnyder
