# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# https://help.github.com/articles/about-codeowners/
#
# Order is important; the last matching pattern takes the most
# precedence.

# Top-level catch-alls (these are weaker confidence and might need to be reassigned at some point)
*.js @sourcegraph/web
*.ts @sourcegraph/web
*.tsx @sourcegraph/web
/enterprise/cmd/frontend @beyang @slimsag
/enterprise/cmd/server @beyang @slimsag
/enterprise/dev @beyang
/cmd/frontend/shared @beyang @slimsag
/cmd/frontend/backend @beyang @slimsag
/cmd/frontend/internal/app/assets @slimsag
/cmd/frontend/internal/app/templates @slimsag
/cmd/frontend/internal/app/canonicalurl @beyang
/cmd/frontend/internal/app/*.go @slimsag
/cmd/frontend/internal/app/assetsutil @slimsag
/cmd/frontend/internal/app/ui @slimsag
/cmd/frontend/internal/app/returnto @beyang
/cmd/frontend/internal/app/pkg @beyang @slimsag
/cmd/frontend/internal/app/router @slimsag
/cmd/frontend/internal/app/errorutil @beyang @slimsag
/cmd/frontend/internal/goroutine @slimsag
/cmd/frontend/internal/inventory @beyang @slimsag
/cmd/frontend/internal/cli/middleware @beyang @slimsag
/cmd/frontend/internal/cli @slimsag @beyang
/cmd/frontend/internal/pkg/siteid @beyang
/cmd/frontend/internal/pkg/suspiciousnames @beyang
/cmd/frontend/internal/pkg/markdown @slimsag
/cmd/frontend/internal/pkg/handlerutil @slimsag @beyang
/cmd/frontend/internal/httpapi @slimsag
/cmd/frontend/types @slimsag
/cmd/frontend/hooks @beyang @slimsag
/cmd/frontend/internal/ @beyang @slimsag
/internal/randstring/ @beyang
/internal/pubsub/ @beyang
/internal/repotrackutil/ @beyang
/internal/atomicvalue/ @beyang
/internal/testutil/ @beyang
/internal/debugserver/ @beyang
/internal/vfsutil/ @slimsag
/internal/gituri/ @beyang
/internal/comby @rvantonder
/internal/db/ @keegancsmith
/internal/processrestart @slimsag @keegancsmith
/internal/honey @keegancsmith
/internal/ratelimit @beyang
/internal/registry @chrismwendt
/internal/slack @slimsag
/internal/prefixsuffixsaver @beyang
/internal/gosrc @beyang
/internal/txemail @slimsag
/renovate.json @felixfbecker
/.stylelintrc.json @felixfbecker
/graphql-schema-linter.config.js @felixfbecker
/.prettierignore @felixfbecker
/.github @beyang
/.github/workflows/lsif.yml @efritz
/.gitmodules @beyang
/.gitattributes @beyang
/.yarnrc @felixfbecker
.eslintrc.js @felixfbecker
/internal/httputil @beyang
/internal/diskcache @beyang
/internal/sysreq @beyang
/internal/errcode @beyang
/internal/routevar @beyang
/internal/env @beyang
/internal/pathmatch @beyang
/internal/version @beyang
/internal/httptestutil @beyang
/internal/mutablelimiter @beyang
/internal/buildkite @ggilmore
/internal/httpcli @sourcegraph/core-services
/packages @beyang
/cmd/frontend @beyang
/dev @beyang
/dev/release-ping.sh @sourcegraph/distribution
/dev/grafana.sh  @sourcegraph/distribution
/dev/grafana  @sourcegraph/distribution
/dev/prometheus.sh  @sourcegraph/distribution
/dev/prometheus  @sourcegraph/distribution
/dev/zoekt @sourcegraph/core-services
/dev/src-expose @keegancsmith
/dev/drop-test-databases.sh @efritz
/dev/squash_migrations.sh @efritz
/.buildkite @beyang
/.storybook @felixfbecker
/CONTRIBUTING.md @beyang @nicksnyder @slimsag
/SECURITY.md @beyang @nicksnyder
/.dockerignore @beyang
/.mailmap @beyang
/tsconfig.json @felixfbecker
tslint.json @felixfbecker
tslint.config.js @felixfbecker
.eslintrc.* @felixfbecker
/enterprise/cmd @beyang
/enterprise/internal @beyang
/enterprise @beyang
/doc.go @beyang
/.gitignore @beyang
/prettier.config.js @felixfbecker
/.editorconfig @felixfbecker
/jest.config.js @felixfbecker
/cmd @beyang @slimsag
/internal @beyang @slimsag

# Regression testing
/web/src/regression @beyang

# Frontend
/shared @sourcegraph/web
/web @sourcegraph/web
/ui @sourcegraph/web
/client @sourcegraph/web
/enterprise/ui @sourcegraph/web
/cmd/frontend/internal/app/jscontext @slimsag
/packages/@sourcegraph @sourcegraph/web
/web/src/site-admin/externalServices.tsx @beyang
/shared/src/components/activation/ @beyang

# Tracking
/cmd/frontend/internal/app/pkg/updatecheck/ @dadlerj
/web/src/tracking/ @dadlerj
**/tracking @dadlerj
/cmd/frontend/internal/pkg/usagestats @dadlerj
/internal/eventlogger @dadlerj

# Automation
*/a8n/* @sourcegraph/automation
/enterprise/internal/a8n @sourcegraph/automation
/internal/a8n @sourcegraph/automation
**/campaigns/** @sourcegraph/automation
web/**/campaigns/** @sourcegraph/automation @sourcegraph/web

# Auth
/cmd/frontend/auth/ @beyang
/cmd/frontend/internal/auth/ @beyang
/cmd/frontend/internal/session/ @beyang
/cmd/frontend/external/session/session.go @beyang
/enterprise/cmd/frontend/auth @beyang
/enterprise/dev/auth-provider @beyang
/cmd/frontend/graphqlbackend/*session* @beyang
/cmd/frontend/graphqlbackend/*auth* @beyang
/cmd/frontend/graphqlbackend/access_token.go @beyang
/internal/actor/ @beyang

# Core Services
*git*/* @sourcegraph/core-services
/cmd/gitserver/ @sourcegraph/core-services
/cmd/repo-updater/ @sourcegraph/core-services
/migrations/ @sourcegraph/core-services
/internal/gitserver/ @sourcegraph/core-services
/internal/repoupdater/ @sourcegraph/core-services
/internal/trace/ @sourcegraph/core-services
/internal/tracer/ @sourcegraph/core-services
/internal/vcs/ @sourcegraph/core-services
/cmd/frontend/db @sourcegraph/core-services
/cmd/frontend/graphqlbackend @sourcegraph/core-services @slimsag
/cmd/frontend/globals @sourcegraph/core-services @slimsag
/enterprise/cmd/frontend/internal/graphqlbackend @sourcegraph/core-services @slimsag
/enterprise/cmd/frontend/db @sourcegraph/core-services
/schema @sourcegraph/core-services
/cmd/frontend/internal/bg @sourcegraph/core-services @slimsag
/cmd/github-proxy @sourcegraph/core-services
/internal/api/ @sourcegraph/core-services
/internal/jsonc @tsenart @slimsag
/internal/extsvc @sourcegraph/core-services
/cmd/frontend/authz/ @sourcegraph/core-services
/enterprise/cmd/frontend/internal/authz @sourcegraph/core-services
# authz overrides (still owned by beyang for now)
/enterprise/cmd/frontend/internal/authz/*github* @beyang
/enterprise/cmd/frontend/internal/authz/*gitlab* @beyang

# Symbols
/cmd/frontend/graphqlbackend/*symbols* @sourcegraph/code-intel
/enterprise/cmd/frontend/internal/symbols @sourcegraph/code-intel

# Search and code mod
/cmd/frontend/graphqlbackend/*search* @sourcegraph/code-search
*/search/**/* @sourcegraph/code-search
/cmd/searcher/ @sourcegraph/code-search
/cmd/frontend/db/*search* @sourcegraph/code-search
/cmd/frontend/graphqlbackend/*search* @sourcegraph/code-search
/cmd/frontend/internal/pkg/search @sourcegraph/code-search
/cmd/symbols @sourcegraph/code-search
/cmd/query-runner @sourcegraph/code-search
/cmd/replacer @rvantonder
/internal/symbols/ @sourcegraph/code-search
/internal/search @sourcegraph/code-search

# Saved searches
/web/src/SavedQuery.tsx @attfarhan
/web/src/SavedQueries.tsx @attfarhan
/web/src/SavedQueryCreateForm.tsx @attfarhan
/web/src/SavedQueryUpdateForm.tsx @attfarhan
/web/src/SavedQueryForm.tsx @attfarhan
/web/src/SavedQueryRow.tsx @attfarhan
/cmd/frontend/types/saved_searches.go @attfarhan

# Deployment and distribution
Dockerfile @sourcegraph/distribution
/docker-images @sourcegraph/distribution
/enterprise/docs/deployment.md @sourcegraph/distribution
**/build.sh @sourcegraph/distribution
/cmd/frontend/envvar @sourcegraph/distribution
/cmd/server @sourcegraph/distribution
/internal/conf @slimsag
/internal/db/confdb @slimsag
/internal/db/globalstatedb @slimsag
/enterprise/docs @sourcegraph/distribution

# Licensing and billing
/enterprise/cmd/frontend/internal/dotcom @sourcegraph/distribution
/enterprise/cmd/frontend/internal/licensing @sourcegraph/distribution

# Documentation and homepage
README.md @sqs
/doc/ @sourcegraph/distribution @ryan-blunden
/doc/dev/ @nicksnyder

# Browser extensions
/browser/ @sourcegraph/web

# Extension API
/packages/sourcegraph-extension-api/ @sourcegraph/web
/packages/@sourcegraph/extension-api-types @sourcegraph/web
/cmd/frontend/registry @sourcegraph/web
/enterprise/cmd/frontend/internal/registry @sourcegraph/web

# Backend shared packages
/internal/endpoint/ @keegancsmith @slimsag
/internal/rcache/ @keegancsmith
/internal/redispool/ @keegancsmith
/internal/store/ @keegancsmith
/internal/metrics @keegancsmith @slimsag

# Management console
/cmd/management-console @slimsag
/enterprise/cmd/management-console @slimsag

# Code discussions
**/*discussion* @slimsag
/web/src/discussions @slimsag
/web/src/repo/blob/discussions @slimsag
/cmd/frontend/types/discussions.go @slimsag
/cmd/frontend/internal/pkg/discussions @slimsag
/cmd/frontend/graphqlbackend/discussion* @slimsag
/cmd/frontend/db/discussion* @slimsag

# LSIF
/lsif/ @sourcegraph/code-intel
/internal/lsif @sourcegraph/code-intel
/enterprise/internal/codeintel @sourcegraph/code-intel
/cmd/frontend/graphqlbackend/codeintel.go @sourcegraph/code-intel

# Development
/dev/fakehub @sourcegraph/core-services
/dev/repogen @sourcegraph/core-services
/.vscode @felixfbecker
/.graphqlconfig @felixfbecker

# Misc and special overrides
/LICENSE* @sqs @beyang @slimsag
/enterprise/internal/license @beyang
/cmd/frontend/external/session @beyang
/cmd/frontend/external @beyang
/babel.config.js @felixfbecker
/cmd/loadtest @beyang
/internal/hubspot/ @dadlerj
/internal/highlight/ @slimsag

# These are configured through Renovate config.
# See ../renovate.json and https://github.com/sourcegraph/renovate-config/blob/master/renovate.json
# This is so that automerged PRs do not trigger email notification spam.
**/package.json
**/yarn.lock

/go.sum @sourcegraph/core-services
/go.mod @sourcegraph/core-services
/CHANGELOG.md
