@import '~@reach/menu-button/styles.css';

.trigger-button {
    padding: 0.25rem;
}

.menu-list[data-reach-menu-items] {
    font-size: inherit;
    overflow: hidden;
    padding: 0.25rem 0;
    background-color: var(--dropdown-bg);

    // Explicit override @reach ui border styles
    border: 1px solid var(--dropdown-border-color);
}

.menu-item[data-reach-menu-item] {
    padding: 0.25rem 0.75rem;
    text-align: left;
    width: 100%;
    border-radius: 0;
    transition: unset;
    font-weight: unset;

    &[data-selected] {
        background-color: var(--link-color);
        color: var(--light-text);
    }
}

.menu-item {
    &--danger {
        color: var(--danger);
    }

    &--link[data-reach-menu-item] {
        text-decoration: none;
    }
}
