.campaign-marketing {
    &--video-wrapper {
        // standard value provided by vimeo
        // stylelint-disable-next-line declaration-property-unit-whitelist
        padding: 56.25% 0 0 0;
    }
    &--video-frame {
        left: 0;
        top: 0;
    }
}
