@import 'wildcard/src/global-styles/breakpoints';

.container {
    background: linear-gradient(90deg, #6112a3 0.41%, #270741 6.18%, #1e0632 94.78%);
    padding: 1rem 1rem 0.8rem 0.9rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    align-items: center;
}

.title {
    font-weight: 400;
    font-size: 1rem;
    line-height: 125%;
    margin-bottom: 0.38rem;
    letter-spacing: -0.25px;
    color: var(--color-bg-1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 136%;
    color: var(--color-bg-1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.learn-more {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 142%;
    color: var(--color-bg-1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    padding-right: 0.88rem;
    display: block;
}

@media (--sm-breakpoint-up) {
    .learn-more {
        display: inline-block;
    }
}
