---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph/about
    method: GET
  response:
    body: '{"id":149518783,"node_id":"MDEwOlJlcG9zaXRvcnkxNDk1MTg3ODM=","name":"about","full_name":"sourcegraph/about","private":false,"owner":{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","avatar_url":"https://avatars0.githubusercontent.com/u/3979584?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph","html_url":"https://github.com/sourcegraph","followers_url":"https://api.github.com/users/sourcegraph/followers","following_url":"https://api.github.com/users/sourcegraph/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph/orgs","repos_url":"https://api.github.com/users/sourcegraph/repos","events_url":"https://api.github.com/users/sourcegraph/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/sourcegraph/about","description":"Sourcegraph
      blog, feature announcements, and website (about.sourcegraph.com)","fork":false,"url":"https://api.github.com/repos/sourcegraph/about","forks_url":"https://api.github.com/repos/sourcegraph/about/forks","keys_url":"https://api.github.com/repos/sourcegraph/about/keys{/key_id}","collaborators_url":"https://api.github.com/repos/sourcegraph/about/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/sourcegraph/about/teams","hooks_url":"https://api.github.com/repos/sourcegraph/about/hooks","issue_events_url":"https://api.github.com/repos/sourcegraph/about/issues/events{/number}","events_url":"https://api.github.com/repos/sourcegraph/about/events","assignees_url":"https://api.github.com/repos/sourcegraph/about/assignees{/user}","branches_url":"https://api.github.com/repos/sourcegraph/about/branches{/branch}","tags_url":"https://api.github.com/repos/sourcegraph/about/tags","blobs_url":"https://api.github.com/repos/sourcegraph/about/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/sourcegraph/about/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/sourcegraph/about/git/refs{/sha}","trees_url":"https://api.github.com/repos/sourcegraph/about/git/trees{/sha}","statuses_url":"https://api.github.com/repos/sourcegraph/about/statuses/{sha}","languages_url":"https://api.github.com/repos/sourcegraph/about/languages","stargazers_url":"https://api.github.com/repos/sourcegraph/about/stargazers","contributors_url":"https://api.github.com/repos/sourcegraph/about/contributors","subscribers_url":"https://api.github.com/repos/sourcegraph/about/subscribers","subscription_url":"https://api.github.com/repos/sourcegraph/about/subscription","commits_url":"https://api.github.com/repos/sourcegraph/about/commits{/sha}","git_commits_url":"https://api.github.com/repos/sourcegraph/about/git/commits{/sha}","comments_url":"https://api.github.com/repos/sourcegraph/about/comments{/number}","issue_comment_url":"https://api.github.com/repos/sourcegraph/about/issues/comments{/number}","contents_url":"https://api.github.com/repos/sourcegraph/about/contents/{+path}","compare_url":"https://api.github.com/repos/sourcegraph/about/compare/{base}...{head}","merges_url":"https://api.github.com/repos/sourcegraph/about/merges","archive_url":"https://api.github.com/repos/sourcegraph/about/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/sourcegraph/about/downloads","issues_url":"https://api.github.com/repos/sourcegraph/about/issues{/number}","pulls_url":"https://api.github.com/repos/sourcegraph/about/pulls{/number}","milestones_url":"https://api.github.com/repos/sourcegraph/about/milestones{/number}","notifications_url":"https://api.github.com/repos/sourcegraph/about/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/sourcegraph/about/labels{/name}","releases_url":"https://api.github.com/repos/sourcegraph/about/releases{/id}","deployments_url":"https://api.github.com/repos/sourcegraph/about/deployments","created_at":"2018-09-19T22:21:45Z","updated_at":"2019-08-23T16:09:59Z","pushed_at":"2019-08-26T07:58:28Z","git_url":"git://github.com/sourcegraph/about.git","ssh_url":"git@github.com:sourcegraph/about.git","clone_url":"https://github.com/sourcegraph/about.git","svn_url":"https://github.com/sourcegraph/about","homepage":"https://about.sourcegraph.com","size":135971,"stargazers_count":16,"watchers_count":16,"language":"TypeScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":33,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":28,"license":{"key":"mit","name":"MIT
      License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"topics":[],"forks":33,"open_issues":28,"watchers":16,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"organization":{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","avatar_url":"https://avatars0.githubusercontent.com/u/3979584?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph","html_url":"https://github.com/sourcegraph","followers_url":"https://api.github.com/users/sourcegraph/followers","following_url":"https://api.github.com/users/sourcegraph/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph/orgs","repos_url":"https://api.github.com/users/sourcegraph/repos","events_url":"https://api.github.com/users/sourcegraph/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph/received_events","type":"Organization","site_admin":false},"network_count":33,"subscribers_count":14}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f2c565c20d5258b47765200b73c5b10"
      Last-Modified:
      - Fri, 23 Aug 2019 16:09:59 GMT
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; format=json
      X-Oauth-Scopes:
      - repo
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph/sourcegraph
    method: GET
  response:
    body: '{"id":41288708,"node_id":"MDEwOlJlcG9zaXRvcnk0MTI4ODcwOA==","name":"sourcegraph","full_name":"sourcegraph/sourcegraph","private":false,"owner":{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","avatar_url":"https://avatars0.githubusercontent.com/u/3979584?v=[...]
