---
version: 1
interactions:
- request:
    body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tviewerPermission\n}\n\tquery
      {\nrepo0: repository(owner: \"sourcegraph\", name: \"sourcegraph\") { ... on
      Repository { ...RepositoryFields } }\nrepo1: repository(owner: \"sourcegraph\",
      name: \"about\") { ... on Repository { ...RepositoryFields } }\n}","variables":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repo0":{"id":"MDEwOlJlcG9zaXRvcnk0MTI4ODcwOA==","databaseId":41288708,"nameWithOwner":"sourcegraph/sourcegraph","description":"Code
      search and navigation tool (self-hosted)","url":"https://github.com/sourcegraph/sourcegraph","isPrivate":false,"isFork":false,"isArchived":false,"viewerPermission":"ADMIN"},"repo1":{"id":"MDEwOlJlcG9zaXRvcnkxNDk1MTg3ODM=","databaseId":149518783,"nameWithOwner":"sourcegraph/about","description":"Sourcegraph
      blog, feature announcements, and website (about.sourcegraph.com)","url":"https://github.com/sourcegraph/about","isPrivate":false,"isFork":false,"isArchived":false,"viewerPermission":"ADMIN"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Oauth-Scopes:
      - repo
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/kubernetes/repos?sort=pushed&page=1&per_page=100
    method: GET
  response:
    body: '[ { "id": 20580498, "node_id": "MDEwOlJlcG9zaXRvcnkyMDU4MDQ5OA==", "name": "kubernetes", "full_name": "kubernetes/kubernetes", "private": false, "owner": { "login": "kubernetes", "id": 13629408, "node_id": "MDEyOk9yZ2FuaXphdGlvbjEzNjI5NDA4", "avatar_url": "https://avatars2.githubusercontent.com/u/13629408?v=4", "gravatar_id": "", "url": "https://api.github.com/users/kubernetes", "html_url": "https://github.com/kubernetes", "followers_url": "https://api.github.com/users/kubernetes/followers", "following_url": "https://api.github.com/users/kubernetes/following{/other_user}", "gists_url": "https://api.github.com/users/kubernetes/gists{/gist_id}", "starred_url": "https://api.github.com/users/kubernetes/starred{/owner}{/repo}", "subscriptions_url": "https://api.github.com/users/kubernetes/subscriptions", "organizations_url": "https://api.github.com/users/kubernetes/orgs", "repos_url": "https://api.github.com/users/kubernetes/repos", "events_url": "https://api.github.com/users/kubernetes/events{/privacy}", "received_events_url": "https://api.github.com/users/kubernetes/received_events", "type": "Organization", "site_admin": false }, "html_url": "https://github.com/kubernetes/kubernetes", "description": "Production-Grade Container Scheduling and Management", "fork": false, "url": "https://api.github.com/repos/kubernetes/kubernetes", "forks_url": "https://api.github.com/repos/kubernetes/kubernetes/forks", "keys_url": "https://api.github.com/repos/kubernetes/kubernetes/keys{/key_id}", "collaborators_url": "https://api.github.com/repos/kubernetes/kubernetes/collaborators{/collaborator}", "teams_url": "https://api.github.com/repos/kubernetes/kubernetes/teams", "hooks_url": "https://api.github.com/repos/kubernetes/kubernetes/hooks", "issue_events_url": "https://api.github.com/repos/kubernetes/kubernetes/issues/events{/number}", "events_url": "https://api.github.com/repos/kubernetes/kubernetes/events", "assignees_url": "https://api.github.com/repos/kubernetes/kubernetes/assignees{/user}", "branches_url": "https://api.github.com/repos/kubernetes/kubernetes/branches{/branch}", "tags_url": "https://api.github.com/repos/kubernetes/kubernetes/tags", "blobs_url": "https://api.github.com/repos/kubernetes/kubernetes/git/blobs{/sha}", "git_tags_url": "https://api.github.com/repos/kubernetes/kubernetes/git/tags{/sha}", "git_refs_url": "https://api.github.com/repos/kubernetes/kubernetes/git/refs{/sha}", "trees_url": "https://api.github.com/repos/kubernetes/kubernetes/git/trees{/sha}", "statuses_url": "https://api.github.com/repos/kubernetes/kubernetes/statuses/{sha}", "languages_url": "https://api.github.com/repos/kubernetes/kubernetes/languages", "stargazers_url": "https://api.github.com/repos/kubernetes/kubernetes/stargazers", "contributors_url": "https://api.github.com/repos/kubernetes/kubernetes/contributors", "subscribers_url": "https://api.github.com/repos/kubernetes/kubernetes/subscribers", "subscription_url": "https://api.github.com/repos/kubernetes/kubernetes/subscription", "commits_url": "https://api.github.com/repos/kubernetes/kubernetes/commits{/sha}", "git_commits_url": "https://api.github.com/repos/kubernetes/kubernetes/git/commits{/sha}", "comments_url": "https://api.github.com/repos/kubernetes/kubernetes/comments{/number}", "issue_comment_url": "https://api.github.com/repos/kubernetes/kubernetes/issues/comments{/number}", "contents_url": "https://api.github.com/repos/kubernetes/kubernetes/contents/{+path}", "compare_url": "https://api.github.com/repos/kubernetes/kubernetes/compare/{base}...{head}", "merges_url": "https://api.github.com/repos/kubernetes/kubernetes/merges", "archive_url": "https://api.github.com/repos/kubernetes/kubernetes/{archive_format}{/ref}", "downloads_url": "https://api.github.com/repos/kubernetes/kubernetes/downloads", "issues_url": "https://api.github.com/repos/kubernetes/kubernetes/issues{/number}", "pulls_url": "https://api.github.com/repos/kubernetes/kubernetes/pulls{/number}", "milestones_url": "https://api.github.com/repos/kubernetes/kubernetes/milestones{/number}", "notifications_url": "https://api.github.com/repos/kubernetes/kubernetes/notifications{?since,all,participating}", "labels_url": "https://api.github.com/repos/kubernetes/kubernetes/labels{/name}", "releases_url": "https://api.github.com/repos/kubernetes/kubernetes/releases{/id}", "deployments_url": "https://api.github.com/repos/kubernetes/kubernetes/deployments", "created_at": "2014-06-06T22:56:04Z", "updated_at": "2019-06-03T21:56:38Z", "pushed_at": "2019-06-03T22:00:39Z", "git_url": "git://github.com/kubernetes/kubernetes.git", "ssh_url": "git@github.com:kubernetes/kubernetes.git", "clone_url": "https://github.com/kubernetes/kubernetes.git", "svn_url": "https://github.com/kubernetes/kubernetes", "homepage": "https://kubernetes.io", "size": 871372, "stargazers_count": 53538, "watchers_count": 53538, "language": "Go", "has_issues": true, "has_projects": true, "has_downloads": true, "has_wiki": false, "has_pages": false, "forks_count": 18506, "mirror_url": null, "archived": false, "disabled": false, "open_issues_count": 3139, "license": { "key": "apache-2.0", "name": "Apache License 2.0", "spdx_id": "Apache-2.0", "url": "https://api.github.com/licenses/apache-2.0", "node_id": "MDc6TGljZW5zZTI=" }, "forks": 18506, "open_issues": 3139, "watchers": 53538, "default_branch": "master", "permissions": { "admin": false, "push": false, "pull": true } }, { "id": 56353740, "node_id": "MDEwOlJlcG9zaXRvcnk1NjM1Mzc0MA==", "name": "minikube", "full_name": "kubernetes/minikube", "private": false, "owner": { "login": "kubernetes", "id": 13629408, "node_id": "MDEyOk9yZ2FuaXphdGlvbjEzNjI5NDA4", "avatar_url": "https://avatars2.githubusercontent.com/u/13629408?v=4", "gravatar_id": "", "url": "https://api.github.com/users/kubernetes", "html_url": "https://github.com/kubernetes", "followers_url": "https://api.github.com/users/kubernetes/followers"[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/kubernetes/repos?sort=pushed&page=2&per_page=100
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e52e32a0c93bd85d17488978d3142052"
      Last-Modified:
      - Wed, 29 May 2019 10:47:16 GMT
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json
      X-Oauth-Scopes:
      - repo
    status: 200 OK
    code: 200
    duration: ""
