---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/gorilla/repos?sort=created&page=1&per_page=100
    method: GET
  response:
    body: "[{\"id\":40097643,\"node_id\":\"MDEwOlJlcG9zaXRvcnk0MDA5NzY0Mw==\",\"name\":\"csrf\",\"full_name\":\"gorilla/csrf\",\"private\":false,\"owner\":{\"login\":\"gorilla\",\"id\":489566,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjQ4OTU2Ng==\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/489566?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/gorilla\",\"html_url\":\"https://github.com/gorilla\",\"followers_url\":\"https://api.github.com/users/gorilla/followers\",\"following_url\":\"https://api.github.com/users/gorilla/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/gorilla/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/gorilla/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/gorilla/subscriptions\",\"organizations_url\":\"https://api.github.com/users/gorilla/orgs\",\"repos_url\":\"https://api.github.com/users/gorilla/repos\",\"events_url\":\"https://api.github.com/users/gorilla/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/gorilla/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"html_url\":\"https://github.com/gorilla/csrf\",\"description\":\"gorilla/csrf
      provides Cross Site Request Forgery (CSRF) prevention middleware for Go web
      applications & services \U0001F512\",\"fork\":false,\"url\":\"https://api.github.com/repos/gorilla/csrf\",\"forks_url\":\"https://api.github.com/repos/gorilla/csrf/forks\",\"keys_url\":\"https://api.github.com/repos/gorilla/csrf/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/gorilla/csrf/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/gorilla/csrf/teams\",\"hooks_url\":\"https://api.github.com/repos/gorilla/csrf/hooks\",\"issue_events_url\":\"https://api.github.com/repos/gorilla/csrf/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/gorilla/csrf/events\",\"assignees_url\":\"https://api.github.com/repos/gorilla/csrf/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/gorilla/csrf/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/gorilla/csrf/tags\",\"blobs_url\":\"https://api.github.com/repos/gorilla/csrf/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/gorilla/csrf/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/gorilla/csrf/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/gorilla/csrf/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/gorilla/csrf/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/gorilla/csrf/languages\",\"stargazers_url\":\"https://api.github.com/repos/gorilla/csrf/stargazers\",\"contributors_url\":\"https://api.github.com/repos/gorilla/csrf/contributors\",\"subscribers_url\":\"https://api.github.com/repos/gorilla/csrf/subscribers\",\"subscription_url\":\"https://api.github.com/repos/gorilla/csrf/subscription\",\"commits_url\":\"https://api.github.com/repos/gorilla/csrf/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/gorilla/csrf/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/gorilla/csrf/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/gorilla/csrf/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/gorilla/csrf/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/gorilla/csrf/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/gorilla/csrf/merges\",\"archive_url\":\"https://api.github.com/repos/gorilla/csrf/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/gorilla/csrf/downloads\",\"issues_url\":\"https://api.github.com/repos/gorilla/csrf/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/gorilla/csrf/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/gorilla/csrf/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/gorilla/csrf/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/gorilla/csrf/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/gorilla/csrf/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/gorilla/csrf/deployments\",\"created_at\":\"2015-08-03T00:35:16Z\",\"updated_at\":\"2019-09-27T03:25:40Z\",\"pushed_at\":\"2019-09-27T04:03:58Z\",\"git_url\":\"git://github.com/gorilla/csrf.git\",\"ssh_url\":\"git@github.com:gorilla/csrf.git\",\"clone_url\":\"https://github.com/gorilla/csrf.git\",\"svn_url\":\"https://github.com/gorilla/csrf\",\"homepage\":\"https://github.com/gorilla/csrf\",\"size\":120,\"stargazers_count\":455,\"watchers_count\":455,\"language\":\"Go\",\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":72,\"mirror_url\":null,\"archived\":false,\"disabled\":false,\"open_issues_count\":3,\"license\":{\"key\":\"bsd-3-clause\",\"name\":\"BSD
      3-Clause \\\"New\\\" or \\\"Revised\\\" License\",\"spdx_id\":\"BSD-3-Clause\",\"url\":\"https://api.github.com/licenses/bsd-3-clause\",\"node_id\":\"MDc6TGljZW5zZTU=\"},\"topics\":[\"csrf\",\"csrf-protection\",\"csrf-tokens\",\"golang\",\"gorilla\",\"middleware\",\"security\",\"xsrf\"],\"forks\":72,\"open_issues\":3,\"watchers\":455,\"default_branch\":\"master\",\"permissions\":{\"admin\":false,\"push\":false,\"pull\":true}},{\"id\":13624859,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzYyNDg1OQ==\",\"name\":\"websocket\",\"full_name\":\"gorilla/websocket\",\"private\":false,\"owner\":{\"login\":\"gorilla\",\"id\":489566,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjQ4OTU2Ng==\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/489566?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/gorilla\",\"html_url\":\"https://github.com/gorilla\",\"followers_url\":\"https://api.github.com/users/gorilla/followers\",[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/gorilla/repos?sort=created&page=2&per_page=100
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c68033e496a627f8ac8608297764ab04"'
      Link:
      - <https://api.github.com/organizations/489566/repos?sort=created&page=1&per_page=100>;
        rel="prev", <https://api.github.com/organizations/489566/repos?sort=created&page=1&per_page=100>;
        rel="last", <https://api.github.com/organizations/489566/repos?sort=created&page=1&per_page=100>;
        rel="first"
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; format=json
      X-Oauth-Scopes:
      - repo
    status: 200 OK
    code: 200
    duration: ""
