$filter-input-height: 1.5rem;
.filter {
    height: $filter-input-height;
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    border-bottom: 1px solid var(--body-bg);

    input {
        height: 1rem;
        font-size: 0.75rem;
        padding-left: 0.5rem;
        padding-top: 0;
        padding-bottom: 0;
        border: none;
    }

    &--icon {
        color: var(--icon-muted);
    }
}

$group-header-font-size: 0.875rem;
$group-divider-height: 0.25rem;

.repo-location-group {
    margin-bottom: $group-divider-height;

    &:last-child {
        margin-bottom: 0;
    }

    &--header {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-left: 2.3rem;
        width: 100%;
        text-align: left;

        font-weight: 400;

        &--repo-name {
            padding-left: 0.6rem;
            font-size: $group-header-font-size;
        }
    }
}

.location-group {
    margin-bottom: $group-divider-height;

    &:last-child {
        margin-bottom: 0;
    }

    &--header {
        padding-left: 3.75rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        width: 100%;
        text-align: left;

        transition: none !important;

        &--filename {
            padding-left: 0.6rem;
            font-weight: 400;
            font-size: $group-header-font-size;

            mark {
                padding-left: 0;
                padding-right: 0;
                font-weight: bold;
            }
        }
    }
}

.location {
    button {
        padding-left: 3.9rem;
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
        text-align: left;

        transition: none !important;

        // Avoid line number and filename getting put on different lines
        white-space: nowrap;
    }

    button:hover {
        background-color: var(--color-bg-2);
    }

    code {
        overflow: hidden;
        color: var(--body-color);
    }

    &--active {
        background-color: var(--color-bg-2);
    }

    &--link {
        color: inherit;

        &--line-number {
            font-family: monospace;
            font-weight: 400;
            color: var(--link-color);
        }
    }
}

$card-header-height: 1.5rem;
.card-header {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 1rem;

    border: none;

    height: $card-header-height;

    background-color: var(--body-bg);

    &--big {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        padding-left: 1rem;

        border: none;

        height: 1.8rem;

        background-color: var(--body-bg);

        h4 {
            padding-left: 0.6rem;
        }
    }

    &--small-text {
        font-weight: 400;
    }
}

// Complete panel
.panel {
    display: flex;
    // Ensure panel spans entire height of enclosing panel
    height: 100%;
}

// Left side of the panel, including token name, filter, list of locations
.left-sub-panel {
    flex: 1;
    overflow: auto;
    height: 100%;
}

// Right side of the panel
.right-sub-panel {
    flex: 1;
    overflow: auto;
}

// Lists of locations (definitions, references, implementations) on the left
.location-lists {
    height: calc(100% - #{$filter-input-height} - #{$card-header-height});
    overflow: auto;
}

.side-blob {
    &--filename {
        height: 1rem;
        vertical-align: middle;
    }

    &--collapse-button {
        margin-right: 0.5rem;
    }

    &--code {
        // The code view needs to be scrollable.
        // Its height needs to be "100% - <size-of-header-that-has-filename>"
        height: calc(100% - #{$card-header-height});
    }
}
