@import 'wildcard/src/global-styles/breakpoints';

.logs {
    display: grid;
    grid-template-columns: [caret] min-content [status] min-content [service] minmax(min-content, 1fr) [timestamp] min-content;
    align-items: center;
    column-gap: 2rem;
    row-gap: 1rem;

    @media (--sm-breakpoint-down) {
        grid-template-columns: 1fr;
    }
}
