.form-series-input {
    line-height: 1.6;
    font-size: 0.75rem;

    &__series-check {
        list-style: none;
        margin-left: 24px;
        padding-left: 0;

        & > li {
            position: relative;
        }

        svg {
            position: absolute;
            left: -24px;
        }
    }

    code {
        background-color: #d6eaf1;
        padding: 1px;
        border-radius: 4px;
        font-weight: 600;
    }
}
