---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/repos?sort=created&visibility=private&page=1&per_page=100
    method: GET
  response:
    body: "[{\"id\":687243376,\"node_id\":\"R_kgDOKPaAcA\",\"name\":\"srcgql\",\"full_name\":\"sourcegraph/srcgql\",\"private\":true,\"owner\":{\"login\":\"sourcegraph\",\"id\":3979584,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/3979584?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/sourcegraph\",\"html_url\":\"https://github.com/sourcegraph\",\"followers_url\":\"https://api.github.com/users/sourcegraph/followers\",\"following_url\":\"https://api.github.com/users/sourcegraph/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sourcegraph/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sourcegraph/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sourcegraph/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sourcegraph/orgs\",\"repos_url\":\"https://api.github.com/users/sourcegraph/repos\",\"events_url\":\"https://api.github.com/users/sourcegraph/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sourcegraph/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"html_url\":\"https://github.com/sourcegraph/srcgql\",\"description\":\"Quickly
      build, automate, and execute Sourcegraph GraphQL interactions for Sourcegraph.com
      in a pinch\",\"fork\":false,\"url\":\"https://api.github.com/repos/sourcegraph/srcgql\",\"forks_url\":\"https://api.github.com/repos/sourcegraph/srcgql/forks\",\"keys_url\":\"https://api.github.com/repos/sourcegraph/srcgql/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/sourcegraph/srcgql/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/sourcegraph/srcgql/teams\",\"hooks_url\":\"https://api.github.com/repos/sourcegraph/srcgql/hooks\",\"issue_events_url\":\"https://api.github.com/repos/sourcegraph/srcgql/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/sourcegraph/srcgql/events\",\"assignees_url\":\"https://api.github.com/repos/sourcegraph/srcgql/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/sourcegraph/srcgql/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/sourcegraph/srcgql/tags\",\"blobs_url\":\"https://api.github.com/repos/sourcegraph/srcgql/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/sourcegraph/srcgql/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/sourcegraph/srcgql/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/sourcegraph/srcgql/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/sourcegraph/srcgql/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/sourcegraph/srcgql/languages\",\"stargazers_url\":\"https://api.github.com/repos/sourcegraph/srcgql/stargazers\",\"contributors_url\":\"https://api.github.com/repos/sourcegraph/srcgql/contributors\",\"subscribers_url\":\"https://api.github.com/repos/sourcegraph/srcgql/subscribers\",\"subscription_url\":\"https://api.github.com/repos/sourcegraph/srcgql/subscription\",\"commits_url\":\"https://api.github.com/repos/sourcegraph/srcgql/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/sourcegraph/srcgql/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/sourcegraph/srcgql/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/sourcegraph/srcgql/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/sourcegraph/srcgql/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/sourcegraph/srcgql/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/sourcegraph/srcgql/merges\",\"archive_url\":\"https://api.github.com/repos/sourcegraph/srcgql/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/sourcegraph/srcgql/downloads\",\"issues_url\":\"https://api.github.com/repos/sourcegraph/srcgql/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/sourcegraph/srcgql/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/sourcegraph/srcgql/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/sourcegraph/srcgql/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/sourcegraph/srcgql/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/sourcegraph/srcgql/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/sourcegraph/srcgql/deployments\",\"created_at\":\"2023-09-05T00:39:11Z\",\"updated_at\":\"2023-09-05T22:35:44Z\",\"pushed_at\":\"2023-09-15T16:28:06Z\",\"git_url\":\"git://github.com/sourcegraph/srcgql.git\",\"ssh_url\":\"git@github.com:sourcegraph/srcgql.git\",\"clone_url\":\"https://github.com/sourcegraph/srcgql.git\",\"svn_url\":\"https://github.com/sourcegraph/srcgql\",\"homepage\":\"\",\"size\":477,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"Go\",\"has_issues\":false,\"has_projects\":false,\"has_downloads\":true,\"has_wiki\":false,\"has_pages\":false,\"has_discussions\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"disabled\":false,\"open_issues_count\":0,\"license\":null,\"allow_forking\":false,\"is_template\":false,\"web_commit_signoff_required\":false,\"topics\":[],\"visibility\":\"private\",\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"main\",\"permissions\":{\"admin\":false,\"maintain\":true,\"push\":true,\"triage\":true,\"pull\":true}},{\"id\":682311933,\"node_id\":\"R_kgDOKKtA_Q\",\"name\":\"managed-services\",\"full_name\":\"sourcegraph/managed-services\",\"private\":true,\"owner\":{\"login\":\"sourcegraph\",\"id\":3979584,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/3979584?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/sourcegraph\",\"html_url\":\"https://github.com/sourcegraph\",\"followers_url\":\"https://api.github.com/users/sourcegra[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/orgs?per_page=100&page=1
    method: GET
  response:
    body: '[{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","url":"https://api.github.com/orgs/sourcegraph","repos_url":"https://api.github.com/orgs/sourcegraph/repos","events_url":"https://api.github.com/orgs/sourcegraph/events","hooks_url":"https://api.github.com/orgs/sourcegraph/hooks","issues_url":"https://api.github.com/orgs/sourcegraph/issues","members_url":"https://api.github.com/orgs/sourcegraph/members{/member}","public_members_url":"https://api.github.com/orgs/sourcegraph/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/3979584?v=4","description":"Code
      AI platform: Cody and Code Search"},{"login":"sgtest","id":5858054,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU4NTgwNTQ=","url":"https://api.github.com/orgs/sgtest","repos_url":"https://api.github.com/orgs/sgtest/repos","events_url":"https://api.github.com/orgs/sgtest/events","hooks_url":"https://api.github.com/orgs/sgtest/hooks","issues_url":"https[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sourcegraph/repos?sort=created&page=1&per_page=100&type=internal
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"44be30d40f6a1863029d4e2a5a8766bbb937198c4d4cfc7b8648afcdbb1b576d"'
      X-Github-Api-Version-Selected:
      - "2022-11-28"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4989"
      X-Ratelimit-Reset:
      - "1695037441"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "11"
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sgtest/repos?sort=created&page=1&per_page=100&type=internal
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"44be30d40f6a1863029d4e2a5a8766bbb937198c4d4cfc7b8648afcdbb1b576d"'
      X-Github-Api-Version-Selected:
      - "2022-11-28"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4988"
      X-Ratelimit-Reset:
      - "1695037441"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "12"
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sourcegraph-testing/repos?sort=created&page=1&per_page=100&type=internal
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"44be30d40f6a1863029d4e2a5a8766bbb937198c4d4cfc7b8648afcdbb1b576d"'
      X-Github-Api-Version-Selected:
      - "2022-11-28"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4987"
      X-Ratelimit-Reset:
      - "1695037441"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "13"
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sourcegraph-vcr-repos/repos?sort=created&page=1&per_page=100&type=internal
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"44be30d40f6a1863029d4e2a5a8766bbb937198c4d4cfc7b8648afcdbb1b576d"'
      X-Github-Api-Version-Selected:
      - "2022-11-28"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4986"
      X-Ratelimit-Reset:
      - "1695037441"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "14"
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
