########################
# GLOBAL VALUES
########################

CONFIG_DIR=./config

# public hostname for your Sourcegraph instance (e.g., the hostname of the URL you type into your browser)
# Uncomment this if you want to change the hostname or protocol (i.e., use https).
# SRC_APP_HOST=https://localhost

# public port for your Sourcegraph instance (e.g., the port of the URL you type into your web browser)
# SRC_APP_PORT=3080
# SRC_APP_PORT=3443

############################
# LOCAL FILESYSTEM SETUP
############################

# 1. Specify the mapping from URL path to directory path in gitserver
ORIGIN_MAP=local/!local/%

# 2. Specify the directory on the host machine that contains local git repositories
# GIT_PARENT_DIRECTORY=/Users/user/path/to/folder

#########################################################
# REMOTE GIT HOST SETUP
# !!! WARNING: RUN THROUGH LOCAL FILESYSTEM SETUP FIRST
#########################################################

# 1. Specify a folder containing a SSH key that enables you to `git
# clone` from your remote repository host. The folder should also
# contain a known_hosts file. If running on a development machine, the
# default value of "~/.ssh" typically works.
# Debugging tips: If your SSH folder does not contain a known_hosts
# file, generate one with:
# ssh-keyscan github.com >> known_hosts SSH_KEYPAIR_FOLDER=~/.ssh
#
SSH_KEYPAIR_FOLDER=~/.ssh


# 2. Specify how to map from a Sourcegraph URL to a remote repository
# URL.  The value should be of the form:
#
#         <sourecgraph_repo_url_prefix>!<git_clone_address>%
#
# where '!' separates the "to" from the "from" part of the mapping,
# and '%' matches everything after the prefix. Note that this will
# overwrite any previous value for ORIGIN_MAP in this file.
#
# For GitHub Enterprise, uncomment the following line and change the domain to match your GitHub Enterprise URL:
# ORIGIN_MAP=companydomain.com/!git@companydomain.com:%
#
# For GitHub.com, uncomment the following line.
# ORIGIN_MAP=github.com/!git@github.com:%.git
#
# For Bitbucket Server, uncomment the following line. Note: in order for the Sourcegraph Chrome extension /
# Bitbucket Server integration to work, the format of the line must conform to the `bitbucketserver/${project}/${repo}`
# format. You may have to change the "http" to "https" if your Bitbucket Server instance is behind SSL/TLS.
# ORIGIN_MAP=bitbucket/!http://your.bitbucket.instance.hostname/scm/%.git
#
# For Gitolite, uncomment the following line and change the domain to match your Gitolite URL:
# ORIGIN_MAP=gitolite.internal.domain/!git@gitolite.internal.domain:%
#
# Here's example with 2 mappings, one local, one remote
# ORIGIN_MAP=local/!local/% gitolite.internal.domain/!git@gitolite.internal.domain:%
#
# Otherwise, set ORIGIN_MAP to the appropriate value:
# ORIGIN_MAP=

# 3. Specify which remote repositories you want Sourcegraph to index on startup
# by their repository URI. If you specified a mapping for your private repositories using ORIGIN_MAP
# you can specify those repositories in ENSURE_REPOS_REMOTE. For instance, if ORIGIN_MAP=mycompany.com/!mycompany/%.git,
# then you can set:
#
# ENSURE_REPOS_REMOTE=mycompany.com/path/to/repo github.com/golang/go github.com/jdkmirrors/openjdk8 github.com/androidmirrors/android-sdk
#
# The default value of ENSURE_REPOS_REMOTE includes standard libraries in each language. Unless your needs are very
# special, you should keep these URIs if you specify your own value.
#
ENSURE_REPOS_REMOTE=github.com/golang/go github.com/jdkmirrors/openjdk8 github.com/androidmirrors/android-sdk


#########################################################
# SPECIAL OPTIONS
#########################################################
# SRC_TLS_CERT=/config/sg.cer
# SRC_TLS_KEY=/config/sg.key
# CORS_ORIGIN='*'
