.modal {
    width: 54rem;
    border-width: 1px;
    border-image: conic-gradient(rgba(112, 72, 232, 0.2), rgba(74, 193, 232, 0.2), rgba(77, 11, 121, 0.2), rgba(255, 85, 67, 0.2), rgba(112, 72, 232, 0.2)) 1;

    /* to let gradient shadow be behind the modal*/
    transform-style: preserve-3d;
}

.modal::after{
    content: '';
    position:absolute;
    width: 90%;
    height:25px;
    background: linear-gradient(90deg, #7048E8 0%, #4AC1E8 32.21%, #4D0B79 65.39%, #FF5543 104.43%), #EFF2F5;
    transform: translateZ(-1px);
    filter: blur(30px);
    opacity: 0.7;
    animation: modal-shadow 6s ease-in-out infinite;
}


@keyframes modal-shadow {
    0% {
        transform: translatey(0px) translateZ(-1px);
        opacity: 0.2;
    }
    50% {
        transform: translatey(-25px) translateZ(-1px);
        opacity: 0.9;
    }
    100% {
        transform: translatey(0px) translateZ(-1px);
        opacity: 0.2;
    }
}



@media (prefers-color-scheme: dark) {
    [data-reach-dialog-overlay] {
        background: linear-gradient(180deg, rgba(17, 20, 27, 0.95) 0%, rgba(13, 16, 25, 0.92) 100%);
    }

    .highlight-step {
        background: radial-gradient(50% 100% at 50% 100%, var(--gray-09) 0%, transparent 100%)
    }
}

@media (prefers-color-scheme: light) {
    [data-reach-dialog-overlay] {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(244, 244, 244, 0.9) 100%);
    }

    .highlight-step {
        background: radial-gradient(50% 100% at 50% 100%, var(--gray-04) 0%, transparent 100%)
    }
}

.release-stage{
    color: var(--gray-07);
}


/*Step section on instructions*/
.step {
    background: #343a4d;
    color: #ffffff;
    padding: 0.25rem 0.675rem;
    border-radius: 50%;
}

.ide-grid:hover {
    background: var(--color-bg-2);
    transition: all 0.25s ease;
}


.instructions-container{
    /*adds vertical scroll to long instructions and prevents "next" and "back buttons" to be under the fold*/
    max-height: 80vh;
    overflow-y: auto;
}



.responsive-container {
    @media (--sm-breakpoint-down) {
        flex-direction: column;
        align-items: center;

        > div {
            border: none !important;
            align-items: center;
        }
    }
}

.ide-name {
    font-size: 1rem;
}

