.form-field {
    display: flex;
    flex-direction: column;
    margin: 0;

    &__input-block {
        margin-bottom: 0.25rem;
        display: flex;
    }

    &__description {
        font-size: 0.875em;
    }

    &__error {
        color: var(--danger);
        font-size: 0.875em;
    }
}
