.container {
    :global(.theme-redesign) & {
        padding: 1.5rem;
        background-color: var(--color-bg-1);
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
    }
}
