{
    "plugins": ["add-module-exports", "transform-new-target"],
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": ["last 2 versions", "safari >= 7"],
                    "useBuiltIns": true
                }
            }
        ]
    ],
    "env": {
        "production": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "browsers": ["last 2 versions", "safari >= 7"],
                            "uglify": true,
                            "useBuiltIns": true
                        }
                    }
                ]
            ]
        }
    }
}
