# This file is used in our production build to adjust CSS and JS output to support specified browsers. For additional information regarding the format and rule options, please see: https://github.com/browserslist/browserslist#queries

# Run `pnpm browserslist` to see which browsers are targeted by these queries

### Primary browsers ###
# Target browsers with the highest usage.
> 1%

### Fallback browsers ###
# Target the latest versions of browsers with moderate usage.
# Note: This is primarily to catch any new browser versions that haven't yet reached 1% usage.
last 1 versions AND not dead AND not <0.25%

### Additional configuration ###
# Any browser-specific configuration that we need.
# Note: We include additional Safari versions due to the slower upgrade cycle on MacOS.
last 1 Chrome versions
last 2 Safari major versions
not IE > 0
