.git/

# Vim
*.swp

# JetBrains/IntelliJ
.idea

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.\#*
.dir-locals.el

# Go
*.o
*.a
*.so

# Mac OS X
.DS_Store

# Python
*.py[cod]
__pycache__

# langkit
/workspace/

# Test binaries
*.test

grapher/python/pysonar2/tests
grapher/ruby/rubysonar/target
grapher/ruby/rubysonar/dependency-reduced-pom.xml
grapher/ruby/yard/.bundle
npm-debug.log
pnpm-error.log
pnpm-debug.log
.codemod.bookmark
.elasticbeanstalk/

.tmp/*.jar

/cmd/frontend/internal/graphqlbackend/node_modules

*.json.actual

eb-bundle.zip

/release/

/conf/private

/provision/kubernetes/gen
/deploy/sourcegraph.com/src
/deploy/sourcegraph/src

# Sublime
*.sublime-project
*.sublime-workspace

.bin/
.env

/vendor/

.gtm/

cmd/src/debug
cmd/gitserver/debug
cmd/indexer/debug

/dev/e2e/log.html
/.gtm/

# Web
node_modules/
/client/web

# Browser
/client/browser/build
/client/browser/node_modules
/client/browser/code-intel-extensions/node_modules

# Extensions
/extension-api/dist
