*.test
*/*.test
*/*/*.test
*/*/*/*.test
*/*/*/*/*.test
.srclib-cache/
.srclib-store/
.vagrant/
Godeps/_workspace/pkg
package/baseimage
package/dist
package/linux/bin
package/release
release/
docs/
Dockerfile
devdoc/assets/sourcegraph.dump
