root = true

[*]
insert_final_newline = true
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.go]
indent_style = tab

[{*.kt,*.java,*.kts,*.lua,*.js,*.jsx,*.json,*.yml,*.yaml,*.md,.babelrc,.stylelintrc,*.proto}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[{*.sh, *.bash}]
indent_style = space
indent_size = 2
switch_case_indent = true

[**/node_modules/**]
ignore = true

# shfmt shouldn't format third-party script codecov.sh
[dev/ci/codecov.sh]
ignore = true

[*.nix]
indent_size = 2
