
[*]
insert_final_newline = true
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

[{*.{ts,tsx,js,jsx,json,scss},.babelrc}]
indent_style = space

[{*.json,.babelrc}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
