
[*]
insert_final_newline = true
charset = utf-8
indent_size = 4
indent_style = space
end_of_line = lf
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[{*.json,*.js,*.yml}]
indent_size = 2
