**/graphql-operations.ts
**/node_modules/**
out/
dist/
src/schema/*
src/graphql-operations.ts
GH2SG.bookmarklet.js
**/vendor/*.js
svelte.config.js
vite.config.ts
playwright.config.ts
.vscode-test
**/*.json
**/*.d.ts
eslint-relative-formatter.js
