[submodule "tree-sitter-go"]
	path = docker-images/syntax-highlighter/crates/sg-syntax/languages/tree-sitter-go
	url = https://github.com/tree-sitter/tree-sitter-go
	shallow = true
[submodule "tree-sitter-sql"]
	path = docker-images/syntax-highlighter/crates/sg-syntax/languages/tree-sitter-sql
	url = https://github.com/m-novikov/tree-sitter-sql
	shallow = true
[submodule "tree-sitter-c_sharp"]
	path = docker-images/syntax-highlighter/crates/sg-syntax/languages/tree-sitter-c_sharp
	url = https://github.com/tree-sitter/tree-sitter-c-sharp
	shallow = true
[submodule "cmd/symbols/squirrel/external/nvim-treesitter"]
	path = cmd/symbols/squirrel/external/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
