cmd/repo-updater/repos/testdata/** linguist-generated=true
**/__fixtures__/** linguist-generated=true
**/bindata.go linguist-generated=true
monitoring/monitoring/README.md linguist-generated=true
CHANGELOG.md merge=union
