cmd/repo-updater/repos/testdata/** linguist-generated=true
**/__fixtures__/** linguist-generated=true
**/bindata.go linguist-generated=true
**/Cargo.lock linguist-generated=true
**/*.pb.go linguist-generated=true
CHANGELOG.md merge=union
**/mock_*_test.go linguist-generated=true
