/vagrant_ansible_inventory_default
.vagrant

# Vim
*.swp

# JetBrains/IntelliJ
.idea

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.\#*
.dir-locals.el

# Go
*.o
*.a
*.so

# Mac OS X
.DS_Store

# Python
*.py[cod]
__pycache__

# langkit
/workspace/

# Test binaries
*.test

grapher/python/pysonar2/tests
grapher/ruby/rubysonar/target
grapher/ruby/rubysonar/dependency-reduced-pom.xml
grapher/ruby/yard/.bundle
npm-debug.log
yarn-error.log
.codemod.bookmark
.elasticbeanstalk/

.tmp/*.jar

/cmd/frontend/internal/graphqlbackend/node_modules

/ui/artifacts
/ui/node_modules
/ui/assets/_goTemplates.js
/ui/assets/analytics.js
/ui/assets/bundle.js
/ui/assets/bundle.css
/ui/assets/sourcebox.js
/ui/assets/sourcebox.css
/ui/assets/test.js
/ui/assets/test.css
/ui/assets/vs
/ui/assets/*.html
/ui/assets/*.map
/ui/assets/*.txt
/ui/assets/extension
/ui/.tmp
/ui/assets/scripts/
*.json.actual

eb-bundle.zip

/cmd/frontend/internal/app/assets/assets_vfsdata.go
/cmd/frontend/internal/app/templates/data_vfsdata.go

/release/

/conf/private

/provision/kubernetes/gen
/deploy/sourcegraph.com/src
/deploy/sourcegraph/src

# Sublime
*.sublime-project
*.sublime-workspace

.bin/
.env

/vendor/

.gtm/

cmd/src/debug
cmd/gitserver/debug
cmd/indexer/debug

/.gtm/

# Client
node_modules
package-lock.json
.nyc_output/
coverage/
out/
client/shared/src/graphql/schema.ts
client/web/src/schema/*
puppeteer/
package-lock.json
/dist
sourcegraph-webapp-*.tgz
*.tsbuildinfo
graphql-operations.ts

# We use symlinks in the deeper node_modules to share the same .bin as the root (for CLI tools)
# unignore node_modules itself
!/client/web/node_modules
!/client/shared/node_modules
!/client/branded/node_modules
!/client/browser/node_modules
!/client/packages/sourcegraph-extension-api/node_modules
!/client/packages/@sourcegraph/extension-api-types/node_modules
# ignore everything inside node_modules
/client/web/node_modules/*
/client/shared/node_modules/*
/client/branded/node_modules/*
/client/browser/node_modules/*
/client/packages/sourcegraph-extension-api/node_modules/*
/client/packages/@sourcegraph/extension-api-types/node_modules/*
# except .bin
!/client/web/node_modules/.bin
!/client/shared/node_modules/.bin
!/client/branded/node_modules/.bin
!/client/browser/node_modules/.bin
!/client/packages/sourcegraph-extension-api/node_modules/.bin
!/client/packages/@sourcegraph/extension-api-types/node_modules/.bin

# Extensions
/client/packages/sourcegraph-extension-api/dist

# Symbols service: PCRE extension to sqlite3
libsqlite3-pcre.dylib
libsqlite3-pcre.so

# Direnv
.envrc

# Docker images
docker-images/prometheus/config/prometheus_targets.yml

comment.txt

.eslintcache
storybook-static/

# Certificates
*.pem
*.crt

# tilt files
/dev/tilt/generated-cluster
/dev/tilt/tilt-watch-targets

# sonarqube
.scannerwork
