# Temporary directory for whatever you want
.tmp/

# Bazel
/bazel-*
.bazelrc-nix

# Vim
*.swp

# JetBrains/IntelliJ
.idea
.graphqlconfig

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.\#*
.dir-locals.el

# Go
*.o
*.a
*.so

# C
*.dylib

# Mac OS X
.DS_Store

# Python
*.py[cod]
__pycache__

# langkit
/workspace/

# Test binaries
*.test

grapher/python/pysonar2/tests
grapher/ruby/rubysonar/target
grapher/ruby/rubysonar/dependency-reduced-pom.xml
grapher/ruby/yard/.bundle
npm-debug.log
pnpm-error.log
pnpm-debug.log
.codemod.bookmark
.elasticbeanstalk/

.tmp/*.jar

/cmd/frontend/internal/graphqlbackend/node_modules

*.json.actual

eb-bundle.zip

/release/

/conf/private

/provision/kubernetes/gen
/deploy/sourcegraph.com/src
/deploy/sourcegraph/src

# Sublime
*.sublime-project
*.sublime-workspace

.bin/
.env

/vendor/

.gtm/

cmd/src/debug
cmd/gitserver/debug
cmd/indexer/debug

/.gtm/

# Client
node_modules
package-lock.json
.nyc_output/
coverage/
out/
client/shared/src/schema/*.d.ts
puppeteer/
package-lock.json
dist/
sourcegraph-webapp-*.tgz
*.tsbuildinfo
graphql-operations.ts
*.module.scss.d.ts
*.module.css.d.ts
dll-bundle

# Extensions
/client/extension-api/dist

# Direnv
.envrc
.direnv

# Docker images
docker-images/prometheus/config/prometheus_targets.yml

comment.txt

.eslintcache
storybook-static/

# Certificates
*.pem
*.crt

# tilt files
/dev/tilt/generated-cluster
/dev/tilt/tilt-watch-targets

# sonarqube
.scannerwork

# sg command specific things, see ./dev/sg
sg.config.overwrite.yaml
# sg Google Cloud API OAuth token
.sg.token.json

# Generated sitemaps are not committed, they're hosted in a GCS bucket.
sitemap/
sitemap_query.db

# Lighthouse CI reports
.lighthouseci/

# Trivy security vulnerability reports
*-security-report.html

# CI annotations
.annotate
.annotate.lock
annotations/
.buildevent_file

# Buildkite analytics files
test-reports/

# CI linter cache (used only in CI)
.golangci-lint-cache

# go workspace files shouldn't be committed
go.work
go.work.sum

# binary
/sg

# SCIP
index.scip

# Buildkite helper and cache files
/an
/tr
/cache-*.tar

# Backward compatibility database tests patch, generated on the fly in CI
# for `bazel test @sourcegraph_back_compat//...` targets.
/dev/backcompat/back_compat_migrations.patch

# Generated on CI only
.aspect/bazelrc/ci.generated.bazelrc

# nix
result
result-*

# Windows
/cmd/sourcegraph/__debug_bin.exe

# For locally building and testing shared packages from the sourcegraph/cody repository on
# the web client.
/cody

/playwright

# JUnit execution reports
junit.xml

/enterprise/
