Aaron Leung <the.other.aaron@sourcegraph.com> <modus.tollens@gmail.com>
Alex Saveliev <alexsaveliev@users.noreply.github.com> <lyolik@codeminders.com>
Antonina Cherednichenko <acherednichenko@codeminders.com> <antonina.cherednichenko@gmail.com>
Beyang Liu <beyang@sourcegraph.com> <beyang.liu@gmail.com> 
Beyang Liu <beyang@sourcegraph.com> beyang <beyang@sourcegraph.com> 
Quinn Slack <sqs@sourcegraph.com> sqs <>
Quinn Slack <sqs@sourcegraph.com> sqs <sqs@sourcegraph.com>
Quinn Slack <sqs@sourcegraph.com> <qslack@qslack.com>
Caroline Frost <caroline@sourcegraph.com> Caroline Frost <carolinefrost@Carolines-MacBook-Pro.local>
Caroline Frost <caroline@sourcegraph.com> carolinefrost <caroline@sourcegraph.com>
Caroline Frost <caroline@sourcegraph.com> CarolineFrost <cfrost16@stanford.edu>
Dmitri Shuralyov <shurcooL@gmail.com> Dmitri Shuralyov <> 
Farhan Attamimi <farhan@sourcegraph.com> Farhan <farhan@sourcegraph.com> 
Farhan Attamimi <farhan@sourcegraph.com> Farhan Attamimi <farhan.attamimi@gmail.com> 
Geoffrey Gilmore <geoffrey@sourcegraph.com> Geoffrey Gilmore <tkdmaster123@gmail.com>
Geoffrey Gilmore <geoffrey@sourcegraph.com> Geoffrey Gilmore <geoffreygilmore@Geoffreys-MacBook-Pro.local>
Geoffrey Gilmore <geoffrey@sourcegraph.com> Geoffrey Gilmore <tkdmaster123@gmail.com>
Geoffrey Gilmore <geoffrey@sourcegraph.com> Geoffrey Gilmore <ggilmore@mit.edu>
Geoffrey Gilmore <geoffrey@sourcegraph.com> ggilmore <geoffrey@sourcegraph.com>
Isaac Snow <isaac@sourcegraph.com> Isaac Snow <isaacjsnow@gmail.com>
Isaac Snow <isaac@sourcegraph.com> ijsnow <isaacjsnow@gmail.com>
Jamie Wilson <jamie@sourcegraph.com> Jamie Wilson <jamie.wilsons@gmail.com>
Jamie Wilson <jamie@sourcegraph.com> Jamie Wilson <jamiewilson@Jamies-MacBook-Pro.local>
John Rothfels <john@sourcegraph.com> John Rothfels <john.rothfels@gmail.com>
John Rothfels <john@sourcegraph.com> rothfels <john.rothfels@gmail.com>
John Rothfels <john@sourcegraph.com> John Rothfels <rothfels@Johns-MBP-2.web-pass.com>
John Rothfels <john@sourcegraph.com> John Rothfels <rothfels@Johns-MBP-3.web-pass.com>
John Rothfels <john@sourcegraph.com> John Rothfels <rothfels@Johns-MacBook-Pro-3.local>
John Rothfels <john@sourcegraph.com> John Rothfels <rothfels@users.noreply.github.com>
Jonathan Poler <jon@sourcegraph.com> Jonathan Poler <jon@Jonathans-MBP.web-pass.com>
Jonathan Poler <jon@sourcegraph.com> jon <jonathan.poler@gmail.com>
Leo Succar-Ferré <leosuccarferre@gmail.com> Leo Succar-Ferré <leo@Leos-MacBook-Pro.local>
Linda Xie <linda@sourcegraph.com> Linda Xie <lindaxie93@gmail.com>
Matt Sprague <matt@sourcegraph.com> Matt Sprague <uforic@users.noreply.github.com>
Nick Snyder <nick@sourcegraph.com> Nick Snyder <nickdsnyder@gmail.com>
Nico Tonozzi <dominic.tonozzi@gmail.com> Nico Tonozzi <nico@nicot.us>
Renfred Harper <renfredxh@gmail.com> Renfred Harper <>
Rich Taylor <rich@sourcegraph.com> Rich Taylor <rqtaylor@gmail.com>
Rohan Pai <rohan@sourcegraph.com> Rohan Pai <me@rohanpai.com>
Samuel Lavery <sam@sourcegraph.com> Sam Lavery <samlavery@users.noreply.github.com>
Seebs <seebs@sourcegraph.com> Seebs <seebs@seebs.net>
Stephen Gutekanst <slimsag@users.noreply.github.com> Stephen Gutekanst <> 
Stephen Gutekanst <slimsag@users.noreply.github.com> Stephen Gutekanst <stephen.gutekanst@gmail.com> 
Stephen Gutekanst <slimsag@users.noreply.github.com> Stephen Gutekanst <stephen@Stephens-MacBook-Pro.local>
Vanesa Ortiz <vanesa@sourcegraph.com> Vanesa <vanesa@users.noreply.github.com>
Vanesa Ortiz <vanesa@sourcegraph.com> Vanesa Ortiz <mail@vanesaortiz.com>
Dan Adler <dadlerj@users.noreply.github.com> dadlerj <daniel.neal.adler@gmail.com>
Julien Chien <julien@sourcegraph.com> julien <julien@sourcegraph.com>
Martin Amps <m@rtin.so> martinamps <m@rtin.so>
Matt Sprague <matt@sourcegraph.com> matt <matt@sourcegraph.com>
Matt Sprague <matt@sourcegraph.com> mattfs <matt.sprague@gmail.com>
Richard Musiol <mail@richard-musiol.de> neelance <mail@richard-musiol.de>
Pararth Shah <pararth@sourcegraph.com> pararthshah <pararth@sourcegraph.com>
Ildar Isaev <iisaev@codeminders.com> root <Ildar Isaev>
Seebs <seebs@sourcegraph.com> seebs <github@seebs.net>
Sourcegraph Team <hi@sourcegraph.com> the Sourcegraph team <hi@sourcegraph.com>
Joe Chen <joe@sourcegraph.com> Unknwon <u@gogs.io>
Joe Chen <joe@sourcegraph.com> 无闻 <u@gogs.io>
Joe Chen <joe@sourcegraph.com> ᴜɴᴋɴᴡᴏɴ <joe@sourcegraph.com>
Renovate Bot <bot@renovateapp.com> renovate[bot] <renovate[bot]@users.noreply.github.com>
Renovate Bot <bot@renovateapp.com> renovate[bot] <29139614+renovate[bot]@users.noreply.github.com>
Matt King <kingy895@gmail.com> Matthew King <kingy895@gmail.com>
Nico Tonozzi <dominic.tonozzi@gmail.com> Dominic Tonozzi <nico@Dominics-MBP.web-pass.com>
Camden Cheek <camden@sourcegraph.com> Camden Cheek <camden@ccheek.com>
Eric Fritz <eric@sourcegraph.com> Eric Fritz <eric@eric-fritz.com>
