# Disabling pnpm [hoisting](https://pnpm.io/npmrc#hoist) by setting `hoist=false` is recommended on
# projects using rules_js so that pnpm outside of Bazel lays out a node_modules tree similar to what
# rules_js lays out under Bazel (without a hidden node_modules/.pnpm/node_modules)
hoist=false

# We have to hoist storybook packages because storybok@6 is incompatible with pnpm and relies on
# package hoisting for internal imports. We cannot migrate to storybook@7 because it's currently
# in beta and multiple addons that we use are not yet compatible with the beta version.
# The storybook@7 is fully compatible with pnpm, and once addons are updated, we can upgrade
# and remove these hoist patterns. For more context, see:
# https://github.com/storybookjs/storybook/issues/13428#issuecomment-1368062647
public-hoist-pattern[]=*storybook*
public-hoist-pattern[]=global

# We have to hoist eslint packages to use them in the `.eslintrc` config.
public-hoist-pattern[]=*eslint*

auto-install-peers=true

# We manage the version of pnpm so the update warnings based on NPM is inaccurate.
update-notifier=false
