.bin/
*.bundle.*
package/
bazel-*
client/phabricator/scripts/loader.js
client/browser/build
**/package.json
**/coverage
internal/database/schema*.md
internal/database/schema*.json
internal/database/migration/shared/data/**/*.json
cmd/xlang-python/python-langserver/
package-lock.json
package.json
ui/assets/
src-tauri/assets/
src-tauri/target/
vendor/
.nyc_output/
out/
dist/
client/web/dist/
client/shared/src/schema/*.d.ts
ts-node-*
testdata
.github/*
doc/
**/.cache
**/__snapshots__
**/__fixtures__
GH2SG.bookmarklet.js
docker-images/grafana/config/provisioning/dashboards/sourcegraph/
docker-images/syntax-highlighter/crates/
docker-images/syntax-highlighter/target/
storybook-static/
browser/code-intel-extensions/
vscode/code-intel-extensions/
.buildkite-cache/
lib/codeintel/reprolang/
cmd/symbols/squirrel/language-file-extensions.json
client/jetbrains/build
client/jetbrains/.idea
client/jetbrains/.gradle
client/backstage-common/node_modules
.browserslistrc
code-intel-extensions.json
.direnv
pnpm-lock.yaml
node_modules/
client/web-sveltekit/.svelte-kit
client/web-sveltekit/build
*.module.scss.d.ts
.vscode-test

dev/backcompat/flakes.json

# Errors when used with @ianvs/prettier-plugin-sort-imports due to TS language API hitting global `eval`
client/browser/src/types/webextension-polyfill/index.d.ts

dev/release/release-config.jsonc
graphql-operations.ts
