.bin/
*.bundle.*
client/phabricator/scripts/loader.js
cmd/frontend/db/schema.md
cmd/xlang-python/python-langserver/
package-lock.json
package.json
ui/assets/
vendor/
.nyc_output/
coverage/
out/
dist/
src/backend/graphqlschema.ts
src/schema/
ts-node-*
testdata
.github/*
