/.buildkite/**/* @sourcegraph/dev-experience
/.github/**/* @sourcegraph/dev-experience

/.aspect/**/* @sourcegraph/dev-experience
/.bazel* @sourcegraph/dev-experience
/BUILD.bazel @sourcegraph/dev-experience
/deps.bzl @sourcegraph/dev-experience
/linter_deps.bzl @sourcegraph/dev-experience @burmudar
/WORKSPACE @sourcegraph/dev-experience

**/*.nix @Strum355 @keegancsmith
