@value base "sourcegraph/components/styles/_base.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value vars "sourcegraph/components/styles/_vars.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value layout "sourcegraph/components/styles/_layout.css";

@value media-sm from vars;

.container-fixed { composes: containerFixed from layout; }
.bg-white-50 { composes: bg-white-50 from colors; }
.mid-gray { composes: cool-mid-gray from colors; }
.cool-pale-gray {	composes: cool-pale-gray from colors; }
.inline-block { display: inline-block; }
.tc { composes: tc from typography; }
.br3 { composes: br3 from base; }

.max-width-500 { max-width: 500px; }

.bg {
	composes: bg-pale-blue-gradient from colors;
	flex: 1;
}

.repositories {	margin-top: -20px; }

.item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.button {
	composes: tr from typography;
	flex: 0 0 150px;
}

.content { flex: 1 1 auto; }

.logo {
	width: 390px;
	height: 52px;
	composes: mb4 from base;
	composes: center from base;
	display: block;
}
@media screen and media-sm {
	.logo {
		width: auto;
		max-width: 390px;
		height: auto;
	}
}
.description {
	text-align: center;
	composes: mt3 mb0 from base;
	font-size: 1.2rem;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
	max-width: 440px; /* calibrated to produce the right linebreaks */
}

.actions {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.user-actions {
	composes: actions;
	composes: mv3 from base;
}
.search-actions {
	composes: actions;
	composes: mt4 from base;
}
.action-button {
	composes: mh2 ph2 mb2 from base;
}
.action-icon {
	font-size: 120%;
	vertical-align: text-top;
	padding-right: 5px;
}
.action-link {
	composes: action-button;
	border-color: transparent;
}
@value c_dark-blue-2 from colors;
.action-link:hover {
	border-color: c_dark-blue-2;
}

.search-input {
	composes: f4 from typography;
}
.search-button {
	font-weight: bold;
	composes: action-button;
	composes: ph4 from base;
}

.home-container {
	composes: container-fixed;
	composes: mb4 pt4 ph3 from base;
	max-width: 575px;
}
@media screen and (max-height: 950px) {
	.home-container { margin-top: 0; }
}
@media screen and (min-height: 950px) {
	.home-container { margin-top: 6vh; }
}

.top-queries-panel {
	composes: mt5 mb4 pb2 from base;
	padding-top: 1.5rem; /* need in between pt3 and pt4 */
	min-height: 100px;
}
.notice {
	composes: ma0 from base;
	composes: cool-mid-gray from colors;
	text-align: center;
}
.search-settings-panel {
	composes: pt2 pb1 from base;
}
.search-settings {
}

/* TitledSection */
.titled-section {
	composes: bt from base;
	composes: b--cool-pale-gray from colors;
	position: relative;
}
.section-title {
	background-color: white;
	composes: pv1 pr3 from base;
	position: absolute;
	top: -16px;
	font-size: 1.1rem;
	font-weight: bold;
	composes: cool-mid-gray from colors;
	user-select: none;
}

/* Queries */
@value c_blue-2 from colors;
.query {
	font-size: 0.95rem;
	composes: mr2 mb2 from base;
	border-width: 1px !important;;
	border-color: c_blue-2;
	border-radius: 50px;
}
.query:hover {
	border-color: c_dark-blue-2;
}
