@value base "sourcegraph/components/styles/base.css";
@value grid "sourcegraph/components/styles/grid.css";
@value colors "sourcegraph/components/styles/colors.css";
@value typography "sourcegraph/components/styles/typography.css";
@value grid "sourcegraph/components/styles/grid.css";


.modal {
    display: flex;
    flex-direction: column;
    composes: center pb4 pt2 from base;
    composes: col-7-l col-12-s col-10-m from grid;
    max-width: 800px;
    background-color: #fff;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    composes: col-12 from grid;
    composes: pt5 pb2 hidden-s hidden-m from base;
}

.cta {
    composes: b from typography;
    composes: pb2 pt3 from base;
    text-align: center;
    align-self: center;
}

/* -- title -- */
.header {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: 1px solid #e9e9e9;
}

.header-text {
    display: inline;
    composes: section-header from typography;
    composes: pl4 from base;
}

.subheader {
    composes: f2 tc from typography;
    composes: silver from colors;
    composes: pt4 from base;
}

/* -- body -- */
.body {
    composes: f4 tc lh-copy from typography;
    composes: pa3 from base;
    align-self: center;
}

.option {
    composes: col-8 from grid;
    composes: center pa3 mb2 mt2 from base;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgba(0, 116, 217, 0.8);
    background: #fff;
    cursor: pointer;
    color: #000;
}

.option:hover {
    background: rgba(0, 116, 217, .1);
    color: rgba(0, 116, 217,1);
}

.title {
    composes: normal-text b from typography;
}

.subtitle {
    composes: normal-text from typography;
}

.skip {
    display: inline;
    composes: normal-text from typography;
    text-align: right;
    composes: pr4 from base;
    margin-left: auto;
    align-self: center;
    color: rgba(0, 116, 217,1);
    cursor: pointer;
}


.feature-list {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    max-width: 80%;
    composes: pt3 pb5 pl4 from base;
}
