@value base "sourcegraph/components/styles/base.css";
@value grid "sourcegraph/components/styles/grid.css";
@value colors "sourcegraph/components/styles/colors.css";
@value typography "sourcegraph/components/styles/typography.css";
@value grid "sourcegraph/components/styles/grid.css";

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	composes: center from base;
}

.cta-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	composes: pv4 center from base;
}

.action {
	margin-left: auto;
	composes: pr4 pt3 from base;
	composes: f4 from typography;
	display: inline-block;
}

.anon-section {
	composes: col-8-ns col-10 from grid;
	composes: mt4 ph3 from base;
	text-align: center;
}

.total-repo-functions {
	margin-left: auto;
	composes: pr4 from base;
	composes: f4 from typography;
	display: inline-block;
}

.logo {
	composes: mt0 from base;
	max-width: 500px;
}

.anon-title {
	composes: header-center from typography;
	composes: pt3 pb4 from base;
}

.anon-header-sub {
	composes: subheader from typography;
}

.anon-header-counts {
	composes: subheader from typography;
	composes: hidden-s from base;
	font-size: 1.25rem;
}

.anon-repo {
	composes: col-4 from grid;
}

.repos {
	composes: col-8-ns col-12 from grid;
	composes: mt4 from base;
}

.header {
	display: flex;
	flex-wrap: wrap;
	composes: mt4 from base;
}
.cta {
	flex: 1 1 auto;
	composes: mv3 from base;
	composes: b from typography;
}
.filter {
	composes: ma3 from base;
}

.code-intelligence-cta {
	display: flex;
	flex: 1 1 auto;
	composes: pl3 from base;
	composes: b from typography;
}

.github-icon {
	composes: pr2 from base;
	composes: f3 from typography;
}

.small-github-icon {
	composes: pr0 from base;
	composes: f3 from typography;
}

.list {
	composes: pb3 from base;
}

.section-header-container {
	display: flex;
	justify-content: center;
	composes: mv0 from base;
	display: inline-block;
}

.list-section-header {
	composes: ph3 pt4 pb2 from base;
	composes: subsection-header from typography;
	display: inline-block;
}

.section-header-right {
	margin-left: auto;
	composes: subsection-header from typography;
	display: inline-block;
}

.list-item {
	composes: pa3 mh3 bt from base;
	composes: b--black-20 from colors;
}

.list-item-disabled {
	composes: list-item;
	composes: bg-near-white from colors;
}

.description {
	composes: normal-text from typography;
	composes: mv3 from base;
}

.function-example-container {
	display: flex;
	justify-content: center;
	align-items: center;
	composes: pt3 pb2 from base;
}

.function {
	composes: pr5 from base;
	composes: f4 from typography;
	composes: col-9-ns col-12 from grid;
}

.function-call-count {
	composes: f4 from typography;
	composes: hidden-s from base;
	composes: col-3-ns from grid;
	text-align: right;
}

.updated {
	composes: fw7 f5 tracked from typography;
	composes: mb3 from base;
	composes: moon-gray from colors;
	text-transform: uppercase;
}

.uri {
	composes: pv2 from base;
	composes: fw5 f2 from typography;
	composes: dark-gray from colors;
}

.uri-container {
	composes: mv0 from base;
}

.disable-reason {
	composes: i f4 from typography;
	composes: brand-orange from colors;
	/* TODO(wholien): standardize opacity/no magic numbers */
	opacity: .66;
}
