@value base "sourcegraph/components/styles/base.css";
@value colors "sourcegraph/components/styles/colors.css";
@value typography "sourcegraph/components/styles/typography.css";
@value grid "sourcegraph/components/styles/grid.css";

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	composes: center from base;
}

.anon-section {
	composes: mt5 ph3 from base;
}

.logo {
	composes: ma4 from base;
}

.anon-title {
	composes: header-center from typography;
	composes: pt3 pb4 from base;
}

.anon-header-sub {
	composes: subheader tc from typography;
}

.anon-repo {
	composes: col-4 from grid;
}

.repos {
	composes: col-8 from grid;
	composes: mt5 from base;
}

.onboarding-cta {
	composes: pv2 ph3 from base;
}

.cta-link {
	color: inherit;
	font-weight: normal;
}

.header {
	display: flex;
	flex-wrap: wrap;
	composes: mt4 from base;
}

.repos-label {
	flex: 1 1 auto;
	composes: section-header from typography;
}

.list {
	composes: pb3 from base;
}

.list-section-header {
	composes: ph3 pt4 pb2 from base;
	composes: subsection-header from typography;
}

.list-item {
	composes: pa3 mh3 bt from base;
	composes: sans-serif from typography;
	composes: b--black-20 from colors;
}

.list-item-disabled {
	composes: list-item;
	composes: bg-near-white from colors;
}

.description {
	composes: normal-text from typography;
	composes: mv3 from base;
}

.updated {
	composes: fw7 f4 tracked from typography;
	composes: mb3 from base;
	composes: moon-gray from colors;
	text-transform: uppercase;
}

.uri {
	composes: pv2 from base;
	composes: fw5 f2 from typography;
	composes: dark-gray from colors;
	display: block;
}

.disable-reason {
	composes: i f4 from typography;
	composes: brand-orange from colors;
	display: block;
	/* TODO(wholien): standardize opacity/no magic numbers */
	opacity: .66;
}
