@value layout "sourcegraph/components/styles/_layout.css";
@value base "sourcegraph/components/styles/_base.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value button "sourcegraph/components/styles/button.css";
@value vars "sourcegraph/components/styles/_vars.css";

@value container-max-width 660px;
@value media-sm from vars;

/*TODO(@chexee): Refactor a lot of this to be less semantic*/

.flex-fill { flex: 1 }
.tc { composes: tc from typography; }
.tc { composes: tc from typography; }
.white { composes: white from typography; }
.hidden-s { composes: hidden-s from base; }

.container {
	composes: containerFixed from layout;
	composes: col-12-ns col-11 from grid;
	composes: center from base;
}
.container p, .responsive-container p {
	margin-left: auto;
	margin-right: auto;
	max-width: calc(0.9 * container-max-width);
}

.bg {
	position: absolute;
	z-index: 0;
	top: 100px;
}

.container-lg {
	composes: col-12-ns col-11 from grid;
	composes: center from base;
	max-width: 1200px;
}

.search-container {
	composes: containerFixed from layout;
	composes: col-12-ns col-11 from grid;
	composes: center from base;
}

.h1 {
	composes: tc f1-ns f2 fw5 from typography;
	composes: mt3 mv0 center from base;
	width: 100%;
	max-width: 740px;
}

.h2 {
	composes: f3-ns f4 fw5 from typography;
	composes: cool-mid-gray from colors;
	composes: mv3 center from base;
	width: 100%;
	max-width: 620px;
}

.subheading {
	composes: mv0 from base;
	composes: white from colors;
}

.h3 {
	composes: f3 fw6 from typography;
	composes: blue from colors;
	composes: mt4 mv2 from base;
}

.text-purple {
	composes: purple from colors;
}

@value line-width: 175px;

.short-purple-line {
	composes: ba bw3 mv3 from base;
	composes: b--purple from colors;
	width: line-width;
}

.content-block {
	composes: mv6 cf from base;
}

.img {
	composes: br2 ba bw1 from base;
	composes: b--black-05 from colors;
	width: 100%;
	box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.06);
}

.img-left {
	composes: col-ns col-5-ns from grid;
	margin-left: -5px;
}

.img-right {
	composes: col-ns col-5-ns col-right-ns from grid;
	margin-right: -5px;
}

.content-right {
	composes: col-ns col-6-ns col-right-ns from grid;
}

.content-left {
	composes: col-ns col-6-ns col-right-ns from grid;
	composes: pr4 from base;
}

.content {
	composes: mb4 from base;
	max-width: 420px;
}

.box-white {
	composes: ba bw1 br2 center cf from base;
	composes: bg-white b--black-05 from colors;
	composes: col-8-ns from grid;
	z-index: 20;
	position: relative;
	margin-bottom: -30px;
}

.responsive-container {
	composes: col-9 from grid;
 	composes: center from base;
	max-width: container-max-width;
}

.lead { composes: f4 from typography; }

.box-purple-gradient {
	background-image: url('../../../../assets/img/world-illo-faded.svg'), linear-gradient(#8E2DFC, #B114F7);
	background-repeat: no-repeat;
	background-position: 110% 30%;
}

.header-5 {
	composes: f5 tracked tc from typography;
	composes: cool-mid-gray from colors;
	text-transform: uppercase;
}

.screenshot-container {
	line-height: 0;
}

.hero-screenshot {
	max-width: 1440px;
	width: 90%;
}

.row {
	composes: cf from base;
}

.search-examples  {
	composes: white from colors;
	display: flex;
	align-items: center;	
	justify-content: center;
}

.examples-brace {
	composes: ph1 from base;
	font-size: 4.5rem;
	font-weight: normal;
	position: relative;
	top: -3px;
}

.examples-label {
	font-weight: bold;
	display: flex;
	align-items: center;	
}

.examples-category {
	composes: pv1 from base;
	display: block;
	text-align: left;
}

.search-example {
	composes: pa1 ml2 br2 from base;
	composes: bg-white purple from colors;
	cursor: pointer;
	white-space: nowrap;
}

.search-example:hover {
	opacity: 0.9;
}

.project-desc {
	composes: mt2 from base;
	composes: f5 from typography;
	composes: cool-gray from colors;
	line-height: 1.6;
}

.featured-project {
	composes: col-ns col-4-ns from grid;
	composes: pr3 from base;
}

.label-blue {
	composes: bg-blue white from colors;
	composes: br10 ph3 pv1 ml2 from base;
	composes: f5 v-mid from typography;
	display: inline-block;
}

.language-container {
	composes: responsive-container;
	composes: pb5 pv5 from base;
}

.language {
	composes: f2 from typography;
	composes: cool-gray-8 from colors;
}

.language-3 {
	composes: language;
	composes: col-ns col-3-ns from grid;
}

.language-2 {
	composes: language;
	composes: col-ns col-2-ns from grid;
}

.language-5 {
	composes: language;
	composes: col-ns col-5-ns from grid;
}

.how-img {
	composes: br3 br--top from base;
	display: block;
	width: 100%;
	box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.06);
}

.bottom-container {
	composes: responsive-container;
	composes: pb2 center from base;
	composes: tc from typography;
}
.bottom-header {
	composes: f3 from typography;
	composes: white from colors;
}
.bottom-text {
	composes: white from colors;
}

.flex {
	display: flex;
}

.sfye-flex{
	flex: 1 0 auto;
}

.sfye_beta {
	display: inline;
	font-size: 10px;
	padding-left: 10px;
}

a.white:hover {
	color: white;
	opacity: 0.8;
}

@media media-sm {
	.block-sm { display: block }
	.ma0-sm {	margin: 0 }
	.mv4-sm { composes: mv4 from base; }
	.examples-label { display: none; }
}
