@value base "sourcegraph/components/styles/base.css";
@value typography "sourcegraph/components/styles/typography.css";
@value flexbox "sourcegraph/components/styles/flexbox.css";
@value warning_color from typography;

.notification_box_x {
	float: right;
	margin-top: -10px;
	cursor: pointer;
}

.notification_box {
	composes: flex from flexbox;
	composes: flex-wrap from flexbox;
	background-color: warning_color;
	border: 1px solid #dfe1e8;
	composes: br3 from base;
	composes: pa4 from base;
	color: #344a66;
}

.notification_box_hidden {
	composes: notification_box;
	/* TODO: Figure out to get composes: hidden from base */
	display: none;
}

