@value base "sourcegraph/components/styles/base.css";
@value typography "sourcegraph/components/styles/typography.css";
@value colors "sourcegraph/components/styles/colors.css";

.notification-box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	composes: ba br3 pv3 ph4 from base;
	composes: b--orange bg-orange-1 from colors;
	composes: normal-text tc b from typography;
}

.hidden {
	display: none;
}
