@import 'wildcard/src/global-styles/breakpoints';

.root {
    display: flex;
    justify-content: center;

    // Tablet and "mobile" (small) layout
    @media (--sm-breakpoint-down) {
        flex-direction: column;

        .description {
            padding: 6rem 3.5rem 2.5rem;
        }

        .extensions {
            padding: 3.5rem;
            flex-grow: 1;
        }
    }
}

.description {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 9.5rem 3rem 2.5rem;

    &-heading {
        font-size: 2.25rem;
        color: var(--white);
    }

    &-text {
        color: #dedede;
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    &-next {
        align-self: flex-start;
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.extensions {
    flex-basis: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    margin: 0;
    padding: 2.5rem;
    list-style: none;
    background-color: var(--gray-02);

    &-item {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        padding: 1rem 0.75rem;
        background-color: #f5f7fb;
    }

    &-icon {
        width: 1.75rem;
        height: 1.75rem;
    }

    &-name {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.25rem;
    }

    &-action-link {
        color: var(--text-muted);
        padding-right: 0.5rem;
        font-size: 0.75rem;
    }

    &-suggestion-link {
        padding: 1rem;
        font-size: 0.75rem;
        text-align: center;
        color: var(--text-muted);
    }
}
