.root {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.description,
.local-repositories {
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 0;
}

.description {
    padding: 9.5rem 3rem 3.5rem;

    &-heading {
        font-size: 2.25rem;
        color: var(--white);
    }

    &-text {
        color: #dedede;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    &-next {
        margin-top: 1.5rem;

        &[aria-disabled='true'] {
            filter: brightness(0.75);

            --btn-light-color-variant: var(--primary-3);
        }
    }
}

.local-repositories {
    padding: 2rem;
    background-color: var(--gray-02);
    height: 100vh;
    overflow: auto;

    &-buttons-group {
        justify-content: stretch;
        align-items: center;
        min-width: 0;
        flex-wrap: wrap;

        > * {
            flex-grow: 1;
            flex-shrink: 0;
        }
    }

    &-widget {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        width: auto;
        overflow: hidden;
    }
}
