@import 'wildcard/src/global-styles/breakpoints';

.root {
    display: flex;

    // Tablet and "mobile" (small) layout
    @media (--sm-breakpoint-down) {
        flex-direction: column;

        .description-image {
            display: none;
        }

        .actions {
            padding: 2.5rem 3.5rem;
            flex-grow: 1;
        }
    }
}

.description {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 6rem;

    &-heading {
        padding: 0 3rem;
        font-size: 2.25rem;
        color: var(--white);
    }

    &-text {
        padding: 0 3rem;
        color: #dedede;
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    &-image {
        margin-top: auto;
        max-width: 100%;
    }
}

.actions {
    flex-basis: 50%;
    flex-shrink: 0;
    padding: 9.5rem 2.5rem 2.5rem;
    background-color: var(--gray-02);

    &-heading {
        margin-bottom: 1.25rem;
        color: var(--body-color);
    }

    &-button {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        justify-content: center;
    }

    &-footer {
        margin-top: 3rem;
        margin-bottom: 0;
    }

    &-term-link {
        text-decoration: underline;
    }
}

.email-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    flex-basis: 50%;
    flex-shrink: 0;
    padding: 6.75rem 2.5rem 2.5rem;
    background-color: var(--gray-02);

    &-icon {
        height: 1.5rem;
        margin-bottom: 0.75rem;
        flex-shrink: 0;
    }

    &-text {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }
}

.loading {
    flex-basis: 50%;
    flex-shrink: 0;
    padding: 9.6rem 2.5rem 2.5rem;
    background-color: var(--gray-02);
    color: var(--text-muted);

    &-text {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
    }

    &-icon {
        --icon-inline-size: 2rem;
    }
}
