.monaco-query-input-container {
    position: relative;
    border: 1px solid $input-border-color;
    border-right-color: transparent;
    background-color: var(--input-bg);
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    min-width: 12rem;

    &:focus-within {
        .search-context-dropdown__separator {
            visibility: hidden;
        }
    }

    &__focus-container {
        // stylelint-disable-next-line declaration-property-unit-whitelist
        height: calc(100% + 2px); // add 2 pixels for border
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        // stylelint-disable-next-line declaration-property-unit-whitelist
        margin: -1px; // To compensate for the border
        border: 1px solid transparent;
        // Match padding from the regular query input.
        padding-left: 0.75rem;
        &:not(:first-child) {
            padding-left: 0.5rem; // smaller padding if the search context selector is visible
            margin-left: 0.0625rem;
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }

        &:focus-within {
            border: 1px solid $input-focus-border-color;
            box-shadow: 0 0 0 2px rgba(28, 126, 214, 0.25);
        }
    }

    .monaco-editor {
        // Disable stylelint for Monaco modifications
        // stylelint-disable

        .decorationsOverviewRuler {
            display: none;
        }
        .view-overlays {
            .current-line {
                border: none;
            }
        }
        .view-lines {
            border: none;
        }

        .monaco-editor-hover-content {
            padding: 0.25rem;
            .status-bar {
                display: none;
            }
        }
        .minimap {
            // Minimap is disabled but will still be rendered and affect eg. visual tests, force hide to prevent this.
            display: none;
        }

        // Override our :focus-visible style, which gets applied to the textarea
        .inputarea.focus-visible {
            box-shadow: none;
        }

        .suggest-widget .monaco-list .monaco-list-row.focused.string-label > .contents > .main > .right {
            // Show keyboard tip to press Tab to complete
            &::after {
                content: 'Tab';
                display: flex;
                align-items: center;
                border: 1px solid var(--text-muted);
                border-radius: 0.25rem;
                height: 1.25rem;
                margin-top: 0.375rem;
                font-size: 0.65rem;
                line-height: 1;
                padding: 0.25rem 0.375rem;
                color: var(--text-muted);
                opacity: 0.75;
            }

            // Restore old look of "Read more" icon
            > .readMore {
                position: static;
                visibility: visible;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                &::before {
                    content: '\ea74'; // Info icon
                    font-size: 1rem;
                }
            }

            // Don't shrink label when hovering since the "Read more" icon is always shown
            &.can-expand-details > .details-label {
                width: auto;
            }
        }
    }

    &__toggle-container {
        padding-right: 0.5rem;
        padding-left: 0.35rem;
    }

    // Replace default issues icon with filter icon since we use CompletionItemKind.Issue for filter autocomplete
    .suggest-icon.codicon.codicon-issues::before {
        content: '\eaf1';
    }

    // Replace default color icon with repo icon since we use CompletionItemKind.Color for repo autocomplete
    .suggest-icon.codicon.codicon-symbol-color::before {
        content: '\ea63';
    }
}
