.search-context-dropdown {
    &__button {
        font-size: $code-font-size;
        color: var(--theme-color-plain);
        margin: 0 0.25rem;
        padding: 0.125rem 0.25rem;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }

        &:hover,
        &:focus {
            background-color: var(--color-bg-2);

            + .search-context-dropdown__separator {
                visibility: hidden;
            }
        }

        &:focus {
            border: 1px solid $input-focus-border-color;
            box-shadow: 0 0 0 2px rgba(28, 126, 214, 0.25);
        }
    }

    &__separator {
        // stylelint-disable-next-line declaration-property-unit-whitelist
        width: 1px;
        height: 1.25rem;
        background-color: var(--border-color);
    }
}
