.search-context-menu {
    &__header {
        display: flex;
        padding: 0.5rem;
        border: 1px solid transparent;
        border-bottom: 1px solid var(--border-color-2);

        &-input {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            font-size: 0.75rem;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid var(--border-color-2);
        color: var(--text-muted);

        &-close {
            color: var(--icon-color);
        }
    }

    &__list {
        width: 31rem;
        padding: 0.25rem 0;
        max-height: 300px;
        overflow: auto;
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 0.25rem 1rem;

        &--error {
            color: var(--danger) !important;
        }

        &-name {
            width: 10rem;
            margin-right: 0.25rem;
            overflow: hidden;
            text-overflow: ellipsis;
            flex-shrink: 0;
        }

        &-description {
            overflow: hidden;
            text-overflow: ellipsis;
            flex-grow: 1;
            font-size: 0.75rem;
        }

        &:not(:active) {
            .search-context-menu__item-description {
                color: var(--text-muted);
            }
        }

        &:hover,
        &:active,
        &:focus {
            .theme-redesign & {
                background-color: var(--primary);
                color: var(--light-text);

                .search-context-menu__item-description {
                    color: var(--light-text);
                }

                .search-context-menu__item-default {
                    background-color: var(--color-bg-1);
                }
            }
        }

        &--selected {
            background-color: var(--color-bg-4);

            .search-context-menu__item-default {
                background-color: var(--color-bg-1);
            }

            .theme-redesign & {
                background-color: var(--color-bg-3);
            }
        }
    }

    &__footer {
        display: flex;
        border-top: 1px solid var(--border-color-2);
        padding: 0.75rem 1rem;

        &-button {
            color: var(--web-content-link-color);

            .theme-redesign & {
                color: var(--link-color);
            }

            padding: 0;
        }
    }
}
