.bulk-operation-node {
    &__progress-bar {
        max-width: 200px;
    }
    &__divider {
        border-left: 1px solid var(--border-color-2);
        height: 2rem;
    }
    &__container {
        + .bulk-operation-node__container {
            border-top: 1px solid var(--border-color-2);
        }
        &:first-of-type {
            .bulk-operation-node__changeset-counts {
                padding-top: 0;
            }
        }
    }
    &__changeset-counts {
        padding: 1rem;
    }
    &__errors {
        background-color: var(--body-bg);
    }
}
