.container {
    height: min-content;
    max-width: 62.5rem;
}

.header {
    margin-bottom: 2rem;
}

.section-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

.info {
    grid-column: 1 / -1;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}
