.container {
    height: min-content;
}

.header {
    margin-bottom: 2rem;
}

.section-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}
