---
version: 1
interactions:
- request:
    body: '{"KeyId":"4b739277-5a93-4551-b71c-99608c9c805d"}'
    form: {}
    headers:
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - TrentService.DescribeKey
      X-Amz-User-Agent:
      - aws-sdk-go-v2/1.3.2 os/other lang/go/1.16.3 md/GOOS/darwin md/GOARCH/amd64
    url: https://kms.us-west-2.amazonaws.com/
    method: POST
  response:
    body: '{"KeyMetadata":{"AWSAccountId":"185007729374","Arn":"arn:aws:kms:us-west-2:185007729374:key/4b739277-5a93-4551-b71c-99608c9c805d","CreationDate":1.619445087217E9,"CustomerMasterKeySpec":"SYMMETRIC_DEFAULT","Description":"","Enabled":true,"EncryptionAlgorithms":["SYMMETRIC_DEFAULT"],"KeyId":"4b739277-5a93-4551-b71c-99608c9c805d","KeyManager":"CUSTOMER","KeySpec":"SYMMETRIC_DEFAULT","KeyState":"Enabled","KeyUsage":"ENCRYPT_DECRYPT","Origin":"AWS_KMS"}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 783d9478-5c7c-4dba-a733-dc6aa024fe10
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"KeyId":"4b739277-5a93-4551-b71c-99608c9c805d","Plaintext":"dGVzdDEyMzQ="}'
    form: {}
    headers:
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - TrentService.Encrypt
      X-Amz-User-Agent:
      - aws-sdk-go-v2/1.3.2 os/other lang/go/1.16.3 md/GOOS/darwin md/GOARCH/amd64
    url: https://kms.us-west-2.amazonaws.com/
    method: POST
  response:
    body: '{"CiphertextBlob":"AQICAHgVKhdyNRw2H1EOImj+ZiPtPzBL/QnBteec2v9iergqpAHno5Lq1fzeO4zidWNdIFbpAAAAZjBkBgkqhkiG9w0BBwagVzBVAgEAMFAGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMNTfwc8cE8LolSuhSAgEQgCMrsASJScKkt+04Z1Z9T5wSWS5sV1pPu6LRbFDNa/KzMHmu4Q==","EncryptionAlgorithm":"SYMMETRIC_DEFAULT","KeyId":"arn:aws:kms:us-west-2:185007729374:key/4b739277-5a93-4551-b71c-99608c9c805d"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - a1629618-c2aa-4074-bef9-720670174522
    status: 200 OK
    code: 200
    duration: ""
[...]
