.empty-command-list {
    position: relative;
    color: var(--gray-08);
    padding: 1rem;
    background-color: var(--color-bg-1);

    :global(.theme-dark) & {
        color: var(--gray-05);
    }
}
