@import "libs/highlight";

$nav-height: 48px;

/*
	Styles for Go HTML template files only; all React code should use inline
	style tags.

	Every style here should be under a selector with the class name being the
	file name, e.g. ".blobview" for the "shared/blobview.html" template.
*/

.base {
	// reset
	* { margin:0; padding:0; box-sizing:border-box; }

	font-family: "system";

	>body {
		background-color: #151D28;
		color: #C9D4E3;
		a {
			outline: 0;
			@extend .font-normal-grey;
		}
	}

	.spin:hover {	animation: spin 0.5s ease-in-out 1; }

	@keyframes spin {
		50% { transform: rotate(180deg) scale(1.2) }
		100% { transform: rotate(180deg) scale(1) }
	}

	.header {
		background-color: rgb(35, 48, 67);
		height: $nav-height;
		display: flex;
		align-items: center;

		>a {
			outline: 0;
			margin: 0px 16px;
		}

		.fill {
			flex: 1;
		}

		.open-on-desktop {
			background-color: #1098AD;
			border-radius: 2px;
			display: flex;
			align-items: center;
			color: #FFFFFF;
			height: 32px;
			padding: 8px 12px;
			font-size: 12px;
			margin-right: 16px;
			text-decoration: none;

			.icon {
				margin-left: 8px;
			}
		}

		.search {
			width: 248px;
			height: 32px;

			background-color: #151D28;

			border-radius: 2px 2px 2px 2px;
			border: 0px solid #000000;

			>input {
				display: inline-block;
				float: left;
				height: 32px;

				color: #93A9C8;
				background: none;
				border: 0;
				outline: none;
			}
			>input::placeholder, input:focus {
				color: #93A9C8;
			}

			.icon {
				display: inline-block;
				float: left;
				margin-left: 0.625em;
				margin-right: 0.625em;
				margin-top: 0.40625em;
				color: #93A9C8;
			}
		}
	}
}

// Define the "system" font family
//
// See https://css-tricks.com/snippets/css/system-font-stack/
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

// usage: '@extend .font-capital-white;'
.font-capital-white {
	font-family: system;
	font-weight: 600;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	color: #FFFFFF;
}

// usage: '@extend .font-normal-grey'
.font-normal-grey {
	font-family: system;
	font-weight: normal;
	color: #93A9C8;
}

// usage: '@extend .font-white'
.font-white {
	font-family: system;
	font-style: normal;
	color: #FFFFFF;
}

// usage: '@extend .font-heavy-white'
.font-heavy-white {
	@extend .font-white;
	font-weight: 600;
}

.blobview {
	$blob-height: unquote("calc(100vh - #{$nav-height} - #{$nav-height})");

	font-family: 'Menlo';
	display: flex;
	flex-direction: column;
	height: $blob-height;
	width: 100%;

	.line-number {
		color: #31445E;
	}

	#blob-table {
		position: relative;
		flex: 5;
		overflow: auto;

		table {
			padding-left: 1em;
			padding-right: 1em;
			padding-top: 2em;
			width: 100%;

			.code-cell {
				width: 100%;
			}
		}
	}

	#blob {
		white-space: pre;
		display: none;
	}

	#blob-table>table {
		margin-bottom: 1.3em;
		border-collapse: collapse;
		.line-number, .code-cell {
			padding: 0;
			padding-top: 0.5em;
			padding-bottom: 0.5em;

			pre {
				margin: 2px;
			}
		}
		.line-number {
			color: #31445E;
			text-align: right;
			font-size: .75em;
			padding-right: 1em;
		}
		.code-cell {
			white-space: pre;
			font-size: .75em;
			height: 1.7em;
			>.blame {
				color: #464d57;
				padding-left: 4em;
				display: inline-block;
				width: 0;
			}
		}
	}

	#ref-widget {
		flex: 3;
	}

}

.treeview {
	>a {
		display: block;
		padding: 1em;
		text-decoration: none;
	}
	>a:hover {
		background-color: #1862ab;
	}
}

.navbar {
	@extend .font-white;
	font-size: .75em;
	height: 48px;
	border-bottom: 1px solid #233043;
	display: flex;
	align-items: center;

	a, a.navigation, .path a {
		text-decoration: none;
		@extend .font-white;
	}

	.navigation {
		display: flex;
		align-items: center;
		margin-right: 30px;

		.group-icon {
			margin: 0px 10px;
			width: 9px;
			height: 9px;
		}

	}
	.path {
		flex: 1;
		display: flex;
		align-items: center;

		.book-icon {
			width: 10px;
			height: 12px;
			margin-right: 10px;
			margin-left: 15px;
		}

		.book-link {
			/* TODO(john): use uniform SVG asset box-sizing */
			display: flex;
			align-items: center;
		}

		>span {
			>a:last-child {
				@extend .font-heavy-white;
			}
		}
	}

	.right-pane {
		display: inline-block;
		.share {
			.share-icon {
				width: 9px;
				height: 13px;
				margin-left: 8px;
				position: relative;
				top: 2px;
			}
		}
		.authorship {
			.authorship-icon {
				width: 14px;
				height: 9px;
				margin-left: 6px;
			}
			margin-left: 18px;
		}
		.github {
			.github-icon {
				width: 13px;
				height: 14px;
				margin-left: 6px;
				position: relative;
				top: 4px;
			}

			margin-right: 18px;
			margin-left: 14px;
		}
	}
}

.blob {

}

.error {

}

.home {
	$home-height: unquote("calc(100vh - #{$nav-height})");

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: $home-height;
	width: 100%;

	.header {
		flex: 2;
		display: flex;
		align-items: center;
		background-color: initial;
	}

	#search-widget {
		flex: 10;
		width: 512px;
		font-size: 14px;
		color: #93A9C8;
	}

	.footer {
		flex: 1;
	}
}

.repo {
	>h3 {
		@extend .font-normal-grey;
		padding: 1em;
		border-bottom: 1px solid #233043;
		font-weight: bold;

		>em {
			font-weight: normal;
			font-size: .8em;
		}
	}
}
