@value layout "sourcegraph/components/styles/_layout.css";
@value base "sourcegraph/components/styles/_base.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value button "sourcegraph/components/styles/button.css";
@value vars "sourcegraph/components/styles/_vars.css";

@value media_sm from vars;

.container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.main {
	composes: containerFixed from layout;
	display: flex;
}

.nav {
	flex: 0 0;
	composes: mt3 from base;
}

.panel {
	flex: 1 1;
}

@media screen and media_sm {
	.nav {
		display: none;
	}
}
