{{define "Title"}}{{.FileName}} - {{.RepoShortName}} - Sourcegraph{{end}}

{{define "Body"}}
<div class="blob">
	{{template "navbar.html" .Navbar}}
	{{/*
		Note: tree-view* structure should be kept in sync with repotree.html
	*/}}
	<div id="tree-view-container">
		<div id="tree-viewer"></div>
		{{if .BlobView.IsBinary}}
			<div class="blobview-binary right">
				<div class="top">
					<img src="{{.AssetURL}}/img/ui2/circle-archive.svg" />
					<h1>Binary file</h1>
					<p>Sorry, we can't display this file type.</p>
				</div>
				<div class="bottom"></div>
			</div>
		{{else}}
			<div class="blobview right">
				<div id="blob-table">{{.BlobView.Highlighted}}</div>
				<div id="ref-widget"></div>
			</div>
		{{end}}
	</div>
</div>
{{end}}

{{template "base.html" .}}
