{{/*
	IMPORTANT! There are two error templates:

	- error.html
	- fancyerror.html

	error.html is designed to be as minimal and reliable as possible. It does
	not include ANY other templates, as they may require data that is not
	present (e.g. *Common data, which may not exist if e.g. gitserver or other
	relied upon servers are degraded). This template should render even when
	the system is severely broken.

	fancyerror.html is designed to be more user friendly, and we always try to
	render it first. It uses data from *Common etc, and can include other
	templates like base.html. In the event that it fails to render, error.html
	is the fallback that is used.
*/}}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{.StatusCode}} {{.StatusText}} - Sourcegraph</title>
</head>
<body>
	<div class="error">
		<h1>
			<span class="status-code">{{.StatusCode}}</span>
			<span class="status-text">{{.StatusText}}</span>
		</h1>
		{{if .Error}}
			<pre class="error-text">{{.Error}}</pre>
		{{end}}
		<hr />
		<p>Sorry, there's been a problem. Please <a href="mailto:support@sourcegraph.com">contact us</a> and include the error ID: <strong>{{.ErrorID}}</strong></p>
	</div>
</body>
</html>
