@import 'wildcard/src/global-styles/breakpoints';

.repo-action-label {
    margin-bottom: 0;
    margin-left: 0.25rem;
    font-size: 0.75rem;
}

@media (--md-breakpoint-down) {
    .repo-action-label {
        display: none;
    }
}

.repo-action-icon {
    fill: var(--icon-color) !important;
}

.icon {
    width: 0.75rem;
    height: 0.75rem;
}

.item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
