{{define "Head"}}<title>Sourcegraph</title>
{{end}}

{{define "Body"}}

<script ignore-csp>
	{{if .Repos}}
		window.repos = JSON.parse({{json .Repos.Repos}}) || [];
	{{end}}
	{{if .RemoteRepos}}
		window.remoteRepos = JSON.parse({{json .RemoteRepos.RemoteRepos}});
	{{end}}
	window.teammates = JSON.parse({{json .Teammates}});

	window.onboarding = {
		linkGitHub: false, // user needs to link GitHub account
		linkGitHubURL: null, // URL for GitHub OAuth
		linkGitHubRedirect: false, // user is beind redirected to the dashboard from GitHub
	};
	{{if .LinkGitHub}}
		window.onboarding.linkGitHub = true;
		window.onboarding.linkGitHubURL = "{{router.URLToGitHubOAuth}}";
	{{else if .GitHubOnboarding}}
		window.onboarding.linkGitHubRedirect = true;
	{{end}}
</script>

<div class="dashboard">
	<div id="DashboardContainer"></div>
</div>

{{end}}
