{{define "Head"}}<title>Sourcegraph</title>
{{end}}

{{define "Body"}}
<br/>
<h3>Local repositories</h3>
<div class="row">
	<div class="col-md-12">
		<div class="list-group">
			{{range .Repos}}
				<a class="list-group-item" href="{{urlToRepo .URI}}">
					{{template "RepoIcon" .}}</span>&nbsp; {{template "RepoLabel" (repoLabelForOwner "" .URI)}}
				</a>
			{{end}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p><b>Create a new repository:</b> <code>src --endpoint={{.AppURL}} repo create my/repo</code></p>
		{{if (and $.CurrentUser (not appconf.DisableIntegrations))}}
			<p><b>Have private repositories on GitHub:</b> <a href="{{urlTo "person.settings.integrations" "User" $.CurrentUser.Login}}">Import them</a>.</p>
		{{end}}
	</div>
</div>
{{end}}
