{{define "Head"}}<title>Sourcegraph</title>
{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-12">
		<br>
		<br>

		<div class="jumbotron">
			<h1>A new <i class="fa fa-home"></i> for your <i class="fa fa-code"></i></h1>
			<br>
			<br>
			<p>Use <code>src</code> to create a new repository.</p>
			<pre>
				<span class="noselect">$</span> src --endpoint={{.AppURL}} login </span>
				<span class="noselect">$</span> src repo create <span class="code-box">my/repo</span></span>
			</pre>
			<p>Then <code>git push</code> from your repo directory.</p>
			<pre>
				<span class="noselect">$</span> cd <span class="code-box">~/path/to/my/repo</span></span>
				<span class="noselect">$</span> git remote add origin {{.AppURL}}/<span class="code-box">my/repo</span></span>
				<span class="noselect">$</span> git push -u origin master</span>
			</pre>
			<p>Or, start from scratch!</p>
			<pre>
				<span class="noselect">$</span> git clone {{.AppURL}}/<span class="code-box">my/repo</span></span>
			</pre>
		</div>
	</div>
</div>
{{end}}
