.visibility-dropdown-menu {
    width: 20rem;
}

.visibility-dropdown-item {
    white-space: break-spaces;
}

.notebook-star-icon {
    font-size: 1rem;
}

.notebook-star-icon-active {
    color: var(--yellow);
}

.danger-menu-item {
    text-align: left;
    border: none;
    border-radius: 0;
    font-weight: normal;
}
