@import 'wildcard/src/global-styles/breakpoints';

.search-notebook-page {
    background: var(--color-bg-1);
    overflow: auto;
}

.spacer {
    // Allows scrolling past last blocks in the notebook
    // for easier editing.
    height: 30rem;
}

.auto-save-indicator {
    font-size: 1rem !important;
    width: 1rem !important;
    height: 1rem !important;
}

.cols {
    display: flex;
}

.side-col {
    flex: 1;

    @media (--lg-breakpoint-down) {
        display: none;
    }
}

.outline-container {
    position: sticky;
    top: 0.25rem;
    height: 100%;
}

.center-col {
    flex: 1;
    min-width: #{$viewport-xl};

    @media (--lg-breakpoint-down) {
        min-width: unset;
        width: 100%;
    }
}
