@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

:root {
    --shimmer-gradient: linear-gradient(to right, var(--color-bg-2) 4%, var(--color-bg-1) 25%, var(--color-bg-2) 36%);
    --shimmer-animation: shimmer 2s infinite linear;
}

.shimmer {
    background: var(--shimmer-gradient);
    animation: var(--shimmer-animation);
    background-size: 1000px 100%;
    border-radius: 5px;
}

.shimmer-circle {
    width: 1rem;
    height: 1rem;
    background-image: var(--shimmer-gradient);
    animation: var(--shimmer-animation);
    background-size: 1000px;
    border-radius: 50%;
}
