.global-codeintel {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: var(--body-bg);
}

.hover-markdown {
    p,
    pre {
        padding-left: 0.5em;
        margin-bottom: 0em;
        padding-bottom: 0em;
        padding-top: 0em;
    }
    code {
        padding-left: 0em;
    }
}

.cool-code-intel-reference {
    code {
        overflow: hidden;
        color: var(--body-color);
    }

    &--active {
        background-color: var(--secondary-2);
        color: var(--primary);
        font-weight: bold;
    }

    &--filename {
        color: var(--body-color);

        mark {
            padding-left: 0;
            padding-right: 0;
            font-weight: bold;
        }
    }
}

.reference-link {
    color: inherit;

    span {
        font-family: monospace;
        color: var(--primary);
    }
}

.resizable-panel {
    isolation: isolate;
    min-height: 6rem;
    max-height: calc(100% - 3rem);
    width: 100%;
}

.panel {
    $panel-header-height: 2rem;

    flex: 1 1 50%;
    min-height: 0;

    overflow-x: auto;

    display: flex;
    flex-direction: column;
    position: relative;

    [data-reach-tab-panels] {
        // Ensure wrapper spans entire height of panel, and that the scrollable area does not include the header height
        height: calc(100% - #{$panel-header-height});
    }

    [data-reach-tab-panel] {
        height: 100%;
    }

    background-color: var(--color-bg-1);
    border-top: 2px solid var(--border-color-2);
    width: 100%;

    &--header {
        padding: 0 1rem;
        background-color: var(--color-bg-1);
        height: $panel-header-height;
    }
}

.dismiss-button {
    color: var(--icon-color);
}

.tabs-content {
    flex: 1;
}

.chevron {
    margin-top: 0.2em;
    color: var(--icon-color);
}

.references {
    $references-filter-height: 2rem;

    &--filter {
        height: $references-filter-height;
    }

    &--list {
        display: flex;
        // Ensure list spans entire height of panel, and that the scrollable area does not include the filter height
        height: calc(100% - #{$references-filter-height});
    }

    &--side-references,
    &--side-blob {
        flex: 1;
        overflow: auto;
        height: 100%;
    }
}
