.global-codeintel {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: var(--body-bg);
}

.hover-markdown {
    p,
    pre {
        padding-left: 0.5rem;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
    code {
        padding-left: 0;
    }
}

.cool-code-intel-reference {
    code {
        overflow: hidden;
        color: var(--body-color);
    }

    &--active {
        background-color: var(--secondary-2);
        color: var(--primary);
        font-weight: bold;
    }

    &--filename {
        color: var(--body-color);

        mark {
            padding-left: 0;
            padding-right: 0;
            font-weight: bold;
        }
    }
}

.reference-link {
    color: inherit;

    &--line-number {
        font-family: monospace;
        color: var(--primary);
    }
}

.resizable-panel {
    isolation: isolate;
    min-height: 6rem;
    max-height: calc(100% - 3rem);
    width: 100%;
}

.panel {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    min-height: 0;

    overflow-x: auto;

    &--header {
        padding: 0 1rem;
        background-color: var(--color-bg-1);
    }
}

.dismiss-button {
    color: var(--icon-color);
}

.tabs-content {
    flex: 1;
}

.chevron {
    margin-top: 0.2rem;
    color: var(--icon-color);
}

.references {
    $references-filter-height: 2rem;

    &--filter {
        height: $references-filter-height;
    }

    &--list {
        display: flex;
        // Ensure list spans entire height of panel, and that the scrollable area does not include the filter height
        height: calc(100% - #{$references-filter-height});
    }

    // Left side of the panel: hover & list of references/definition/...
    &--side-references {
        flex: 1;
        overflow: auto;
        height: 100%;
    }

    // Right side of the panel
    &--side-blob {
        flex: 1;
        overflow: auto;
    }

    // Sticky filename at top
    &--side-blob-filename {
        height: $references-filter-height;
        padding-top: 0.5rem;
    }

    // Code needs to be smaller than 100% so it scrolls correctly
    &--side-blob-code {
        // Subtract the space taken up by the filename
        height: calc(100% - #{$references-filter-height});
    }
}
