.global-codeintel {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: var(--body-bg);
}

.cool-code-intel-tabs {
    min-width: 30vw;
    max-width: 35vw;

    min-height: 27rem; /* avoid jitter when only loading indicator is shown */
    max-height: 27vh;
}

.cool-code-intel-references {
    // max-height: 20vw;
    // overflow: auto;
}

.cool-code-intel-reference {
    &--active {
        background-color: var(--secondary-2);
        color: var(--primary);
    }
}

.resizable-panel {
    isolation: isolate;
    min-height: 6rem;
    max-height: calc(100% - 3rem);
    width: 100%;
}

.panel {
    flex: 1 1 50%;
    min-height: 0;

    overflow-x: auto;

    display: flex;
    flex-direction: column;
    position: relative;

    background-color: var(--color-bg-1);
    border-top: 2px solid var(--border-color-2);
    width: 100%;
}

.header {
    padding: 0 1rem;
    background-color: var(--color-bg-1);
}

.dismiss-button {
    color: var(--icon-color);
}

.tabs {
    padding: 0.25rem 1rem;
}

.tabs-content {
    flex: 1;
}
