.global-codeintel {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: var(--body-bg);
}

.cool-code-intel-tabs {
    min-width: 30vw;
    max-width: 35vw;

    min-height: 27rem; /* avoid jitter when only loading indicator is shown */
    max-height: 27vh;
}

.cool-code-intel-references {
    max-height: 20vw;
    overflow: auto;
}
