@import '../../../../shared/src/components/ToggleBig.scss';

.extension-area-header {
    padding-top: 0.5rem;

    &__wrapper {
        display: grid;
        grid-template-rows: auto auto;
    }

    &__icon {
        display: block;
        width: 4.5rem;
        height: 4.5rem;
        object-fit: contain;
    }

    &__alert {
        position: absolute;
        bottom: 2.375rem;
        // feedback is centered on top of toggle, so right is pr (0.5rem) + 50% of toggle width
        right: 0.5rem+ ($toggle-big-width / 2);
        transform: translateX(50%);
        width: max-content;
        // hide alerts for narrow screens
        display: none;
    }

    @include media-breakpoint-up(md) {
        &__wrapper {
            display: grid;
            grid-template-columns: auto 120px 120px;
            grid-template-rows: none;
        }

        &__alert {
            display: block;
        }
    }
}
