.itree-menu {
    background: #ddd;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    font-family: sans-serif;
    list-style: none;
    margin: 0;
    min-width: 150px;
    padding: 0;
    position: absolute;
    z-index: 4;

    a {
        display: block;

        padding: 3px 8px;
        color: white;

        &:hover {
            background: rgba(42, 58, 81, 0.7);
            color: white;
            text-decoration: none;
        }
    }
}

.itree-droppable-active.itree-droppable-target {
    border: 1px solid #2dadc5;
}

.itree-droppable-active.itree-droppable-target-above {
    border-top: 3px solid #2dadc5;
}

.itree-droppable-active.itree-droppable-target-below {
    border-bottom: 3px solid #2dadc5;
}

.inspire-tree {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-bottom: 0.75rem;

    &:focus {
        outline: none;
    }

    a,
    a:hover {
        color: white;
        text-decoration: none;
    }

    li > .title-wrap {
        min-height: 35px;
        position: relative;
        z-index: 2;
    }

    li.expanded:not(:last-child) > ol {
        background-repeat: repeat-y;
    }

    li.expanded.folder:not(.loading) > .title-wrap {
        // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAMCAYAAACji9dXAAAAFUlEQVQIW2M8d+HSf0YGBgYGRpJZAJ2uFKcp4HfpAAAAAElFTkSuQmCC');
        // background-position: 31px 23px;
        // background-repeat: no-repeat;
    }

    .folder:last-child:not(:only-child),
    li .folder:last-child {
        background-position: 11px 13px;
    }

    [type='checkbox'] {
        left: 18px;
        position: absolute;
        top: 4px;
        vertical-align: middle;

        width: 20px;
        z-index: 2;
    }

    .btn {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        display: inline-block;

        height: 35px;
        transition: all 0.15s linear;

        width: 20px;

        &:hover {
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        }
    }

    .btn + .btn {
        margin-left: 5px;
    }

    .btn.icon {
        position: relative;

        &::before {
            display: block;

            height: 14px;
            left: 50%;
            position: absolute;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            width: 14px;
        }
    }

    .btn-group {
        display: inline-block;

        height: 35px;
        line-height: 35px;
    }

    ol {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 1rem;

        ol {
            padding-left: 20px;
        }
    }

    .collapsed > ol,
    .hidden {
        display: none;
    }

    input + .btn-group {
        margin-left: 10px;
    }

    .toggle {
        height: 35px;
        left: 0;
        position: absolute;
        top: 0;

        width: 25px;
        z-index: 2;

        &::before {
            display: block;
            left: 50%;
            position: absolute;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }

    .title {
        cursor: default;
        display: block;

        height: 35px;
        line-height: 35px;
        overflow: hidden;

        padding-left: 30px;
        position: relative;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        z-index: 1;

        &::before {
            left: -5px;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            vertical-align: top;
        }

        &:focus {
            outline: none;
        }
    }

    .title.load-more {
        color: #476cb8;
        cursor: pointer;
    }

    .editable {
        &:hover > .btn-group {
            display: block;
        }

        form {
            display: inline-block;

            height: 35px;
            line-height: 35px;

            padding-top: 2px;

            input {
                height: 20px;
            }

            .btn,
            input {
                vertical-align: top;
            }
        }
    }

    .editable > .btn-group {
        display: none;
        padding-top: 2px;
        position: absolute;
        right: 10px;
        z-index: 3;
    }

    .leaf:not(:last-child):not(.detached) {
        // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAYCAYAAAAh8HdUAAAAN0lEQVQ4T2M8d+HSfyMDPUYGEgBJimHmMo7aBAmK0dCDJgl4ioClDGLo0dBDDz0SMu5o2oMFFgBXbEeI0XwYIwAAAABJRU5ErkJgggAA');
        // background-position: 11px 0.35rem;
        // background-repeat: repeat-y;
    }

    .leaf:last-child {
        // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAKklEQVQoU2M8d+HSfyMDPUYGEgBJimHmMo7aBAmK0dCDJgl4ioClDGJoAGUZM32Z0U8tAAAAAElFTkSuQmCC');
        // background-position: 11px 0;
        // background-repeat: no-repeat;
    }

    .leaf.detached:last-child {
        // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAMCAYAAACji9dXAAAAFUlEQVQIW2M8d+HSf0YGBgYGRpJZAJ2uFKcp4HfpAAAAAElFTkSuQmCC');
        // background-position: 11px 0;
        // background-repeat: no-repeat;
    }

    .icon::before {
        background-position: 0 0;
        background-repeat: no-repeat;
        content: '';
        display: inline-block;
        height: 1rem;
        width: 1rem;
    }

    .icon-check {
        &::before {
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%236a6a6a%22%20d%3D%22M27%204l-15%2015-7-7-5%205%2012%2012%2020-20z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        }

        &:hover::before {
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%230ccc0a%22%20d%3D%22M27%204l-15%2015-7-7-5%205%2012%2012%2020-20z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        }
    }

    .icon-collapse::before {
        mask-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23aaa%22%20d%3D%22M4%201h16q1.242%200%202.121%200.879t0.879%202.121v16q0%201.242-0.879%202.121t-2.121%200.879h-16q-1.242%200-2.121-0.879t-0.879-2.121v-16q0-1.242%200.879-2.121t2.121-0.879zM20%203h-16q-0.414%200-0.707%200.293t-0.293%200.707v16q0%200.414%200.293%200.707t0.707%200.293h16q0.414%200%200.707-0.293t0.293-0.707v-16q0-0.414-0.293-0.707t-0.707-0.293zM8%2011h8q0.414%200%200.707%200.293t0.293%200.707-0.293%200.707-0.707%200.293h-8q-0.414%200-0.707-0.293t-0.293-0.707%200.293-0.707%200.707-0.293z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        background-color: currentColor;
        border-radius: 3px;

        margin-left: -1px;
    }

    .icon-cross::before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%236a6a6a%22%20d%3D%22M31.708%2025.708c-0-0-0-0-0-0l-9.708-9.708%209.708-9.708c0-0%200-0%200-0%200.105-0.105%200.18-0.227%200.229-0.357%200.133-0.356%200.057-0.771-0.229-1.057l-4.586-4.586c-0.286-0.286-0.702-0.361-1.057-0.229-0.13%200.048-0.252%200.124-0.357%200.228%200%200-0%200-0%200l-9.708%209.708-9.708-9.708c-0-0-0-0-0-0-0.105-0.104-0.227-0.18-0.357-0.228-0.356-0.133-0.771-0.057-1.057%200.229l-4.586%204.586c-0.286%200.286-0.361%200.702-0.229%201.057%200.049%200.13%200.124%200.252%200.229%200.357%200%200%200%200%200%200l9.708%209.708-9.708%209.708c-0%200-0%200-0%200-0.104%200.105-0.18%200.227-0.229%200.357-0.133%200.355-0.057%200.771%200.229%201.057l4.586%204.586c0.286%200.286%200.702%200.361%201.057%200.229%200.13-0.049%200.252-0.124%200.357-0.229%200-0%200-0%200-0l9.708-9.708%209.708%209.708c0%200%200%200%200%200%200.105%200.105%200.227%200.18%200.357%200.229%200.356%200.133%200.771%200.057%201.057-0.229l4.586-4.586c0.286-0.286%200.362-0.702%200.229-1.057-0.049-0.13-0.124-0.252-0.229-0.357z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');

        &:hover::before {
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23c00%22%20d%3D%22M31.708%2025.708c-0-0-0-0-0-0l-9.708-9.708%209.708-9.708c0-0%200-0%200-0%200.105-0.105%200.18-0.227%200.229-0.357%200.133-0.356%200.057-0.771-0.229-1.057l-4.586-4.586c-0.286-0.286-0.702-0.361-1.057-0.229-0.13%200.048-0.252%200.124-0.357%200.228%200%200-0%200-0%200l-9.708%209.708-9.708-9.708c-0-0-0-0-0-0-0.105-0.104-0.227-0.18-0.357-0.228-0.356-0.133-0.771-0.057-1.057%200.229l-4.586%204.586c-0.286%200.286-0.361%200.702-0.229%201.057%200.049%200.13%200.124%200.252%200.229%200.357%200%200%200%200%200%200l9.708%209.708-9.708%209.708c-0%200-0%200-0%200-0.104%200.105-0.18%200.227-0.229%200.357-0.133%200.355-0.057%200.771%200.229%201.057l4.586%204.586c0.286%200.286%200.702%200.361%201.057%200.229%200.13-0.049%200.252-0.124%200.357-0.229%200-0%200-0%200-0l9.708-9.708%209.708%209.708c0%200%200%200%200%200%200.105%200.105%200.227%200.18%200.357%200.229%200.356%200.133%200.771%200.057%201.057-0.229l4.586-4.586c0.286-0.286%200.362-0.702%200.229-1.057-0.049-0.13-0.124-0.252-0.229-0.357z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        }
    }

    .icon-expand::before {
        mask-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23aaa%22%20d%3D%22M4%201h16q1.242%200%202.121%200.879t0.879%202.121v16q0%201.242-0.879%202.121t-2.121%200.879h-16q-1.242%200-2.121-0.879t-0.879-2.121v-16q0-1.242%200.879-2.121t2.121-0.879zM20%203h-16q-0.414%200-0.707%200.293t-0.293%200.707v16q0%200.414%200.293%200.707t0.707%200.293h16q0.414%200%200.707-0.293t0.293-0.707v-16q0-0.414-0.293-0.707t-0.707-0.293zM12%207q0.414%200%200.707%200.293t0.293%200.707v3h3q0.414%200%200.707%200.293t0.293%200.707-0.293%200.707-0.707%200.293h-3v3q0%200.414-0.293%200.707t-0.707%200.293-0.707-0.293-0.293-0.707v-3h-3q-0.414%200-0.707-0.293t-0.293-0.707%200.293-0.707%200.707-0.293h3v-3q0-0.414%200.293-0.707t0.707-0.293z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        background-color: currentColor;
        border-radius: 3px;

        margin-left: -1px;
    }

    .icon-file-empty::before {
        mask-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 64' style='enable-background:new 0 0 64 64;' xml:space='preserve'%3E%3Ctitle%3EIcons 200%3C/title%3E%3Cg%3E%3Cpath d='M37,22h10.6c0.3,0,0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L37.7,9.7c-0.2-0.2-0.4-0.3-0.7-0.3c-0.6,0-1,0.4-1,1V21 C36,21.6,36.5,22,37,22z'/%3E%3Cpath d='M47,24H37c-1.7,0-3-1.3-3-3V11c0-1.7-1.3-3-3-3H17c-1.7,0-3,1.3-3,3v42c0,1.7,1.3,3,3,3h30c1.7,0,3-1.3,3-3V27 C50,25.4,48.7,24,47,24z M20,28h22c1.1,0,2,0.9,2,2s-0.9,2-2,2H20c-1.1,0-2-0.9-2-2S18.9,28,20,28z M32,48H20c-1.1,0-2-0.9-2-2 s0.9-2,2-2h12c1.1,0,2,0.9,2,2S33.1,48,32,48z M44,40H20c-1.1,0-2-0.9-2-2s0.9-2,2-2h24c1.1,0,2,0.9,2,2S45.1,40,44,40z'/%3E%3C/g%3E%3C/svg%3E");
        background-color: currentColor;
    }

    .icon-folder::before {
        mask-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Ctitle%3EIcons 200%3C/title%3E%3Cpath d='M56.0115,28.1742,54.388,49.2509a3.0024,3.0024,0,0,1-2.9951,2.77H12.6486a3.0025,3.0025,0,0,1-2.9951-2.77L8.03,28.1742a2.0012,2.0012,0,0,1,1.9968-2.1535H54.0146A2.0014,2.0014,0,0,1,56.0115,28.1742Zm-1.9908-8.1534v3a1,1,0,0,1-1,1h-42a1,1,0,0,1-1-1v-9a2,2,0,0,1,2-2h11.343a4,4,0,0,1,2.8286,1.1717l3.6567,3.6569a4.0007,4.0007,0,0,0,2.8286,1.1715h19.343A2,2,0,0,1,54.0207,20.0208Z' fill-rule='evenodd'/%3E%3C/svg%3E");
        background-color: currentColor;
    }

    .icon-folder-open::before {
        mask-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Ctitle%3EIcons 200%3C/title%3E%3Cpath d='M56.0115,28.1742,54.388,49.2509a3.0024,3.0024,0,0,1-2.9951,2.77H12.6486a3.0025,3.0025,0,0,1-2.9951-2.77L8.03,28.1742a2.0012,2.0012,0,0,1,1.9968-2.1535H54.0146A2.0014,2.0014,0,0,1,56.0115,28.1742Zm-1.9908-8.1534v3a1,1,0,0,1-1,1h-42a1,1,0,0,1-1-1v-9a2,2,0,0,1,2-2h11.343a4,4,0,0,1,2.8286,1.1717l3.6567,3.6569a4.0007,4.0007,0,0,0,2.8286,1.1715h19.343A2,2,0,0,1,54.0207,20.0208Z' fill-rule='evenodd'/%3E%3C/svg%3E");
        background-color: currentColor;
    }

    .icon-minus::before {
        mask-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%236a6a6a%22%20d%3D%22M0%2013v6c0%200.552%200.448%201%201%201h30c0.552%200%201-0.448%201-1v-6c0-0.552-0.448-1-1-1h-30c-0.552%200-1%200.448-1%201z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        background-color: currentColor;
    }

    .icon-minus:hover::before {
        mask-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23c00%22%20d%3D%22M0%2013v6c0%200.552%200.448%201%201%201h30c0.552%200%201-0.448%201-1v-6c0-0.552-0.448-1-1-1h-30c-0.552%200-1%200.448-1%201z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        background-color: currentColor;
    }

    .icon-more::before {
        mask-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%236a6a6a%22%20d%3D%22M12%209.984c1.078%200%202.016%200.938%202.016%202.016s-0.938%202.016-2.016%202.016-2.016-0.938-2.016-2.016%200.938-2.016%202.016-2.016zM18%209.984c1.078%200%202.016%200.938%202.016%202.016s-0.938%202.016-2.016%202.016-2.016-0.938-2.016-2.016%200.938-2.016%202.016-2.016zM6%209.984c1.078%200%202.016%200.938%202.016%202.016s-0.938%202.016-2.016%202.016-2.016-0.938-2.016-2.016%200.938-2.016%202.016-2.016z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        background-color: currentColor;
    }

    .icon-pencil::before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%236a6a6a%22%20d%3D%22M27%200c2.761%200%205%202.239%205%205%200%201.126-0.372%202.164-1%203l-2%202-7-7%202-2c0.836-0.628%201.874-1%203-1zM2%2023l-2%209%209-2%2018.5-18.5-7-7-18.5%2018.5zM22.362%2011.362l-14%2014-1.724-1.724%2014-14%201.724%201.724z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E%0A');
    }

    .icon-pencil:hover::before {
        mask-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%230ccc0a%22%20d%3D%22M27%200c2.761%200%205%202.239%205%205%200%201.126-0.372%202.164-1%203l-2%202-7-7%202-2c0.836-0.628%201.874-1%203-1zM2%2023l-2%209%209-2%2018.5-18.5-7-7-18.5%2018.5zM22.362%2011.362l-14%2014-1.724-1.724%2014-14%201.724%201.724z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E%0A');
        background-color: currentColor;
    }

    .icon-plus::before {
        mask-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%236a6a6a%22%20d%3D%22M31%2012h-11v-11c0-0.552-0.448-1-1-1h-6c-0.552%200-1%200.448-1%201v11h-11c-0.552%200-1%200.448-1%201v6c0%200.552%200.448%201%201%201h11v11c0%200.552%200.448%201%201%201h6c0.552%200%201-0.448%201-1v-11h11c0.552%200%201-0.448%201-1v-6c0-0.552-0.448-1-1-1z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        background-color: currentColor;
    }

    .icon-plus:hover::before {
        mask-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%230ccc0a%22%20d%3D%22M31%2012h-11v-11c0-0.552-0.448-1-1-1h-6c-0.552%200-1%200.448-1%201v11h-11c-0.552%200-1%200.448-1%201v6c0%200.552%200.448%201%201%201h11v11c0%200.552%200.448%201%201%201h6c0.552%200%201-0.448%201-1v-11h11c0.552%200%201-0.448%201-1v-6c0-0.552-0.448-1-1-1z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        background-color: currentColor;
    }

    .selected > .title-wrap .icon-folder::before {
        mask-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Ctitle%3EIcons 200%3C/title%3E%3Cpath d='M56.0115,28.1742,54.388,49.2509a3.0024,3.0024,0,0,1-2.9951,2.77H12.6486a3.0025,3.0025,0,0,1-2.9951-2.77L8.03,28.1742a2.0012,2.0012,0,0,1,1.9968-2.1535H54.0146A2.0014,2.0014,0,0,1,56.0115,28.1742Zm-1.9908-8.1534v3a1,1,0,0,1-1,1h-42a1,1,0,0,1-1-1v-9a2,2,0,0,1,2-2h11.343a4,4,0,0,1,2.8286,1.1717l3.6567,3.6569a4.0007,4.0007,0,0,0,2.8286,1.1715h19.343A2,2,0,0,1,54.0207,20.0208Z' fill-rule='evenodd'/%3E%3C/svg%3E");
        background-color: currentColor;
    }

    .selected > .title-wrap .icon-folder-open::before {
        mask-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Ctitle%3EIcons 200%3C/title%3E%3Cpath d='M56.0115,28.1742,54.388,49.2509a3.0024,3.0024,0,0,1-2.9951,2.77H12.6486a3.0025,3.0025,0,0,1-2.9951-2.77L8.03,28.1742a2.0012,2.0012,0,0,1,1.9968-2.1535H54.0146A2.0014,2.0014,0,0,1,56.0115,28.1742Zm-1.9908-8.1534v3a1,1,0,0,1-1,1h-42a1,1,0,0,1-1-1v-9a2,2,0,0,1,2-2h11.343a4,4,0,0,1,2.8286,1.1717l3.6567,3.6569a4.0007,4.0007,0,0,0,2.8286,1.1715h19.343A2,2,0,0,1,54.0207,20.0208Z' fill-rule='evenodd'/%3E%3C/svg%3E");
        background-color: currentColor;
    }

    .selected > .title-wrap .icon-file-empty::before {
        mask-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 64' style='enable-background:new 0 0 64 64;' xml:space='preserve'%3E%3Ctitle%3EIcons 200%3C/title%3E%3Cg%3E%3Cpath d='M37,22h10.6c0.3,0,0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L37.7,9.7c-0.2-0.2-0.4-0.3-0.7-0.3c-0.6,0-1,0.4-1,1V21 C36,21.6,36.5,22,37,22z'/%3E%3Cpath d='M47,24H37c-1.7,0-3-1.3-3-3V11c0-1.7-1.3-3-3-3H17c-1.7,0-3,1.3-3,3v42c0,1.7,1.3,3,3,3h30c1.7,0,3-1.3,3-3V27 C50,25.4,48.7,24,47,24z M20,28h22c1.1,0,2,0.9,2,2s-0.9,2-2,2H20c-1.1,0-2-0.9-2-2S18.9,28,20,28z M32,48H20c-1.1,0-2-0.9-2-2 s0.9-2,2-2h12c1.1,0,2,0.9,2,2S33.1,48,32,48z M44,40H20c-1.1,0-2-0.9-2-2s0.9-2,2-2h24c1.1,0,2,0.9,2,2S45.1,40,44,40z'/%3E%3C/g%3E%3C/svg%3E");
        background-color: currentColor;
    }

    .loading > .title-wrap input {
        display: none;
    }

    .loading > .title-wrap .title::before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2714px%27%20height%3D%2714px%27%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20preserveAspectRatio%3D%22xMidYMid%22%20class%3D%22uil-ring%22%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%22100%22%20height%3D%22100%22%20fill%3D%22none%22%20class%3D%22bk%22%3E%3C%2Frect%3E%3Cdefs%3E%3Cfilter%20id%3D%22uil-ring-shadow%22%20x%3D%22-100%25%22%20y%3D%22-100%25%22%20width%3D%22300%25%22%20height%3D%22300%25%22%3E%3CfeOffset%20result%3D%22offOut%22%20in%3D%22SourceGraphic%22%20dx%3D%220%22%20dy%3D%220%22%3E%3C%2FfeOffset%3E%3CfeGaussianBlur%20result%3D%22blurOut%22%20in%3D%22offOut%22%20stdDeviation%3D%220%22%3E%3C%2FfeGaussianBlur%3E%3CfeBlend%20in%3D%22SourceGraphic%22%20in2%3D%22blurOut%22%20mode%3D%22normal%22%3E%3C%2FfeBlend%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cpath%20d%3D%22M10%2C50c0%2C0%2C0%2C0.5%2C0.1%2C1.4c0%2C0.5%2C0.1%2C1%2C0.2%2C1.7c0%2C0.3%2C0.1%2C0.7%2C0.1%2C1.1c0.1%2C0.4%2C0.1%2C0.8%2C0.2%2C1.2c0.2%2C0.8%2C0.3%2C1.8%2C0.5%2C2.8%20c0.3%2C1%2C0.6%2C2.1%2C0.9%2C3.2c0.3%2C1.1%2C0.9%2C2.3%2C1.4%2C3.5c0.5%2C1.2%2C1.2%2C2.4%2C1.8%2C3.7c0.3%2C0.6%2C0.8%2C1.2%2C1.2%2C1.9c0.4%2C0.6%2C0.8%2C1.3%2C1.3%2C1.9%20c1%2C1.2%2C1.9%2C2.6%2C3.1%2C3.7c2.2%2C2.5%2C5%2C4.7%2C7.9%2C6.7c3%2C2%2C6.5%2C3.4%2C10.1%2C4.6c3.6%2C1.1%2C7.5%2C1.5%2C11.2%2C1.6c4-0.1%2C7.7-0.6%2C11.3-1.6%20c3.6-1.2%2C7-2.6%2C10-4.6c3-2%2C5.8-4.2%2C7.9-6.7c1.2-1.2%2C2.1-2.5%2C3.1-3.7c0.5-0.6%2C0.9-1.3%2C1.3-1.9c0.4-0.6%2C0.8-1.3%2C1.2-1.9%20c0.6-1.3%2C1.3-2.5%2C1.8-3.7c0.5-1.2%2C1-2.4%2C1.4-3.5c0.3-1.1%2C0.6-2.2%2C0.9-3.2c0.2-1%2C0.4-1.9%2C0.5-2.8c0.1-0.4%2C0.1-0.8%2C0.2-1.2%20c0-0.4%2C0.1-0.7%2C0.1-1.1c0.1-0.7%2C0.1-1.2%2C0.2-1.7C90%2C50.5%2C90%2C50%2C90%2C50s0%2C0.5%2C0%2C1.4c0%2C0.5%2C0%2C1%2C0%2C1.7c0%2C0.3%2C0%2C0.7%2C0%2C1.1%20c0%2C0.4-0.1%2C0.8-0.1%2C1.2c-0.1%2C0.9-0.2%2C1.8-0.4%2C2.8c-0.2%2C1-0.5%2C2.1-0.7%2C3.3c-0.3%2C1.2-0.8%2C2.4-1.2%2C3.7c-0.2%2C0.7-0.5%2C1.3-0.8%2C1.9%20c-0.3%2C0.7-0.6%2C1.3-0.9%2C2c-0.3%2C0.7-0.7%2C1.3-1.1%2C2c-0.4%2C0.7-0.7%2C1.4-1.2%2C2c-1%2C1.3-1.9%2C2.7-3.1%2C4c-2.2%2C2.7-5%2C5-8.1%2C7.1%20c-0.8%2C0.5-1.6%2C1-2.4%2C1.5c-0.8%2C0.5-1.7%2C0.9-2.6%2C1.3L66%2C87.7l-1.4%2C0.5c-0.9%2C0.3-1.8%2C0.7-2.8%2C1c-3.8%2C1.1-7.9%2C1.7-11.8%2C1.8L47%2C90.8%20c-1%2C0-2-0.2-3-0.3l-1.5-0.2l-0.7-0.1L41.1%2C90c-1-0.3-1.9-0.5-2.9-0.7c-0.9-0.3-1.9-0.7-2.8-1L34%2C87.7l-1.3-0.6%20c-0.9-0.4-1.8-0.8-2.6-1.3c-0.8-0.5-1.6-1-2.4-1.5c-3.1-2.1-5.9-4.5-8.1-7.1c-1.2-1.2-2.1-2.7-3.1-4c-0.5-0.6-0.8-1.4-1.2-2%20c-0.4-0.7-0.8-1.3-1.1-2c-0.3-0.7-0.6-1.3-0.9-2c-0.3-0.7-0.6-1.3-0.8-1.9c-0.4-1.3-0.9-2.5-1.2-3.7c-0.3-1.2-0.5-2.3-0.7-3.3%20c-0.2-1-0.3-2-0.4-2.8c-0.1-0.4-0.1-0.8-0.1-1.2c0-0.4%2C0-0.7%2C0-1.1c0-0.7%2C0-1.2%2C0-1.7C10%2C50.5%2C10%2C50%2C10%2C50z%22%20fill%3D%22%23013138%22%20filter%3D%22url(%23uil-ring-shadow)%22%3E%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20from%3D%220%2050%2050%22%20to%3D%22360%2050%2050%22%20repeatCount%3D%22indefinite%22%20dur%3D%221s%22%3E%3C%2FanimateTransform%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        content: '';

        height: 24px;

        width: 24px;
    }

    .wholerow {
        height: 35px;
        left: 0;

        margin-top: -35px;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .focused:not(.selected) > .wholerow {
        outline: 1px dotted white;
        background-color: rgba(42, 58, 81, 0.7);
    }

    .title-wrap:hover + .wholerow {
        background: rgba(42, 58, 81, 0.7);
    }

    .selected > .title-wrap:hover + .wholerow,
    .selected > .wholerow {
        background: $color-primary;
        color: white;
    }

    .matched > .title-wrap:hover + .wholerow,
    .matched > .wholerow {
        background: rgba(42, 58, 81, 0.7);
    }
}

.inspire-tree,
.inspire-tree * {
    box-sizing: border-box;
}

.inspire-tree > .btn.icon {
    margin-left: 2px;
}

.inspire-tree > ol > .folder:first-child:not(:only-child) {
    background-position: 11px 23px;
}

.inspire-tree .folder:last-child:not(:only-child),
.inspire-tree > ol > .folder:first-child:not(:only-child),
.inspire-tree li .folder:last-child {
    // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAMCAYAAACji9dXAAAAFUlEQVQIW2M8d+HSf0YGBgYGRpJZAJ2uFKcp4HfpAAAAAElFTkSuQmCC');
    // background-repeat: no-repeat;
}

.inspire-tree.editable-add > ol > .folder:last-child:not(:only-child) {
    // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAYCAYAAAA7zJfaAAAAFUlEQVQIW2M8d+HSf0YGBgYGRrqyABKeKU0SV+t2AAAAAElFTkSuQmCC');
    // background-repeat: repeat-y;
}

.inspire-tree > ol .expanded:not(:last-child):not(:first-child),
.inspire-tree li:not(:last-child) {
    // background-repeat: no-repeat;
}

.inspire-tree > ol .expanded:not(:last-child):not(:first-child),
.inspire-tree li.expanded:not(:last-child) > ol,
.inspire-tree li:not(:last-child) {
    // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAYCAYAAAA7zJfaAAAAFUlEQVQIW2M8d+HSf0YGBgYGRrqyABKeKU0SV+t2AAAAAElFTkSuQmCC');
    // background-position: 11px 23px;
}

.inspire-tree.editable-add > ol > .leaf:last-child {
    // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAYCAYAAAAh8HdUAAAAN0lEQVQ4T2M8d+HSfyMDPUYGEgBJimHmMo7aBAmK0dCDJgl4ioClDGLo0dBDDz0SMu5o2oMFFgBXbEeI0XwYIwAAAABJRU5ErkJgggAA');
}

.inspire-tree > ol {
    position: relative;
}

.theme-light {
    .itree-menu {
        background: #ddd;
        border: 1px solid #c4c4c4;

        a {
            color: $color-light-text-1;

            &:hover {
                background: $color-light-bg-3;
                color: inherit;
            }
        }
    }

    .itree-droppable-active.itree-droppable-target {
        border: 1px solid $color-light-text-1;
    }

    .itree-droppable-active.itree-droppable-target-above {
        border-top: 3px solid $color-light-text-1;
    }

    .itree-droppable-active.itree-droppable-target-below {
        border-bottom: 3px solid $color-light-text-1;
    }

    .inspire-tree {
        a {
            color: inherit;

            &:hover {
                color: inherit;
            }
        }

        .btn {
            background-color: $color-light-bg-1;
            border: 1px solid rgba(0, 0, 0, 0.2);

            &:hover {
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
            }
        }

        .title.load-more {
            color: $color-light-text-4;
        }

        .icon-collapse::before {
            mask-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23aaa%22%20d%3D%22M4%201h16q1.242%200%202.121%200.879t0.879%202.121v16q0%201.242-0.879%202.121t-2.121%200.879h-16q-1.242%200-2.121-0.879t-0.879-2.121v-16q0-1.242%200.879-2.121t2.121-0.879zM20%203h-16q-0.414%200-0.707%200.293t-0.293%200.707v16q0%200.414%200.293%200.707t0.707%200.293h16q0.414%200%200.707-0.293t0.293-0.707v-16q0-0.414-0.293-0.707t-0.707-0.293zM8%2011h8q0.414%200%200.707%200.293t0.293%200.707-0.293%200.707-0.707%200.293h-8q-0.414%200-0.707-0.293t-0.293-0.707%200.293-0.707%200.707-0.293z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
            background-color: currentColor;
        }

        .focused:not(.selected) > .wholerow {
            outline: 1px dotted $color-light-text-1;
            background-color: $color-light-bg-3;
        }

        .title-wrap:hover + .wholerow {
            background: $color-light-bg-3;
        }

        .selected > .title-wrap:hover + .wholerow,
        .selected > .wholerow {
            background: $color-primary;
            color: $color-light-text-4;
        }

        .selected > .title-wrap {
            a {
                color: $color-light-text-4;
            }
        }

        .matched > .title-wrap:hover + .wholerow,
        .matched > .wholerow {
            background: $color-primary;
        }
    }
}
