.tree {
    flex: 1 1 auto;
    width: 100%;
    overflow: auto;
    white-space: pre;

    resize: horizontal;
    min-width: 10rem;
    user-select: none;

    &:focus {
        outline: none;
    }

    table {
        border-spacing: 0;
    }

    &__row {
        color: white;
        width: 100%;
        display: table;

        &:hover {
            background-color: rgba(42, 58, 81, 0.7);
            cursor: pointer;
        }

        &--selected {
            color: white;
            width: 100%;
            display: table;
            background-color: #1c7cd6 !important;
        }
    }

    &__row-icon {
        color: white !important; // override link color
        display: flex;
        align-items: center;
    }

    &__row-contents {
        display: flex;
        color: white;
        align-items: center;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        cursor: pointer;
    }

    &__row-label {
        margin-left: 0.25rem;
        color: white !important; // override link color
    }
}

.theme-light {
    .tree {
        &__row {
            color: inherit;

            &:hover {
                background-color: $color-light-bg-3;
                color: inherit;
            }

            &--selected {
                background-color: $color-primary;
                color: $color-light-text-4 !important;
            }
        }

        &__row-icon {
            color: inherit !important; // override link color
        }

        &__row-contents {
            color: inherit; // override link color

            &:hover {
                color: inherit;
            }
        }

        a {
            color: inherit !important; // override link color
        }
    }
}
