.header {
    display: grid;
    grid-template-columns: 1fr max-content;
}

.logs {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: [caret] min-content [status] min-content [service] minmax(min-content, 1fr) [timestamp] min-content;
    align-items: center;
    column-gap: 2rem;
    row-gap: 1rem;
}

.icon {
    fill: var(--danger) !important;
}

.icon.enabled {
    fill: var(--light-text) !important;
}
