@import 'wildcard/src/global-styles/breakpoints';

.container {
    padding: 0.25rem;
    background-color: var(--vscode-editorWidget-background) !important;
    display: flex;
    padding: 0.25rem;
    flex-direction: row !important;
    align-items: center !important;
    position: relative;

    @media (--sm-breakpoint-down) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.dismiss {
    position: absolute;
    top: 4px;
    right: 4px;
}

.content-container {
    padding: 1rem;
    flex: 1;
}

.title {
    font-size: var(--vscode-font-size) !important;
}

.description {
    font-size: var(--vscode-font-size) !important;
}

.btn {
    margin-right: 1rem;
    font-size: var(--vscode-font-size) !important;
    border: none;
    background-color: var(--vscode-button-background) !important;
    color: var(--vscode-button-foreground) !important;
}

.text {
    color: var(--white);
}
