.sign-up-button {
    display: flex;
    align-items: center;
    border: none;
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 4px;
}

.github-button {
    margin-bottom: 0.75rem;
    margin-top: 1.5rem;

    :global(.theme-dark) & {
        background-color: var(--gray-03);
        color: var(--gray-08);
    }

    :global(.theme-light) & {
        background: #212529;
        color: var(--white);
    }
}

.gitlab-button {
    background-color: #6e49cb;
    margin-bottom: 1rem;

    :global(.theme-dark) & {
        color: var(--gray-04);
    }

    :global(.theme-light) & {
        color: var(--white);
    }
}

.google-button {
    background-color: var(--primary);
    margin-bottom: 1rem;

    :global(.theme-dark) & {
        color: var(--gray-04);
    }

    :global(.theme-light) & {
        color: var(--white);
    }
}
