.form-series {
    &__item + &__item {
        margin-top: 0.5rem;
    }

    &__add-button {
        transition: background-color 0.2s ease, color 0.2s ease;

        &:hover {
            background-color: var(--color-bg-2);
        }
    }
}
