.badge {
    text-transform: uppercase;
    margin-right: 0.5rem;
}

.reasons {
    list-style-type: none;
    padding-left: 0;
    margin-left: 4rem;

    li {
        margin-bottom: 0.5rem;
    }
}
