.contents {
    margin: 0.75rem 1rem;
}

.table {
    width: 100%;
    margin: 0.75rem 1rem;

    td {
        padding-bottom: 0.5rem;
    }

    td:nth-child(1),
    td:nth-child(2) {
        width: 0; // This shrinks the cells to fit the content
    }
}
