@import '../invite/InviteForm';
@import '../OrgAvatar';

.org-settings-members-page {
    &__avatar-cell {
        width: 3rem;
        padding: 0 !important;
        vertical-align: middle !important;
        text-align: center;

        .avatar {
            height: 2rem;
        }
    }

    &__actions-cell {
        width: 3rem;
    }

    &__header {
        margin-bottom: 2.5rem;
    }

    &__table {
        @media (max-width: $media-md) {
            table-layout: fixed;
        }
    }
}
