.container {
    border-radius: 6px;
    border: 1px solid var(--border-color);
    padding: 1.5rem 2.5rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.alert {
    position: relative;
    padding: 1.5rem 1.5rem 1.5rem 5rem;
    color: var(--gray-11);
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 1.5rem;
        width: 2.5rem;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.purple-success-alert {
    background-color: var(--violet-02);
    color: var(--violet-06);
    :global(.theme-dark) & {
        background-color: var(--pink);
        color: var(--gray-08);
    }
    &::after {
        // Purple checkmark SVG
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31 25'><path fill='%23a405e1' d='M27 .4a3.4 3.4 0 0 0-2.4 1.1L12 15.6 7 9.3a3.4 3.4 0 0 0-5-.6 3.4 3.4 0 0 0-.5 4.9L9.2 23a3.4 3.4 0 0 0 5.3.1l15.2-17a3.4 3.4 0 0 0-.3-4.9 3.4 3.4 0 0 0-2.5-.8Z'/></svg>");
    }
}

.green-success-alert {
    background-color: #e0f9d5;
    :global(.theme-dark) & {
        background-color: #51cf66;
    }
    &::after {
        // Blue checkmark SVG
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31 25'><path fill='%23339af0' d='M27 .4a3.4 3.4 0 0 0-2.4 1.1L12 15.6 7 9.3a3.4 3.4 0 0 0-5-.6 3.4 3.4 0 0 0-.5 4.9L9.2 23a3.4 3.4 0 0 0 5.3.1l15.2-17a3.4 3.4 0 0 0-.3-4.9 3.4 3.4 0 0 0-2.5-.8Z'/></svg>");
    }
}

.error-alert {
    background-color: #fff1f0;
    :global(.theme-dark) & {
        background-color: #ff5d5f;
    }
    &::after {
        // Ugly red X SVG – TODO: Replace it with a design-approved one.
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122.88 122.88'><path fill='%23f5222d' d='M6,6H6a20.53,20.53,0,0,1,29,0l26.5,26.49L87.93,6a20.54,20.54,0,0,1,29,0h0a20.53,20.53,0,0,1,0,29L90.41,61.44,116.9,87.93a20.54,20.54,0,0,1,0,29h0a20.54,20.54,0,0,1-29,0L61.44,90.41,35,116.9a20.54,20.54,0,0,1-29,0H6a20.54,20.54,0,0,1,0-29L32.47,61.44,6,34.94A20.53,20.53,0,0,1,6,6Z'/></svg>");
    }
}

.user-badges {
    position: relative;
    left: -31px;
    border: 1px solid var(--gray-03);
    border-radius: 50%;
}

.invite-users-header {
    font-weight: normal;
}

.avatar {
    /* stylelint-disable-next-line declaration-property-unit-allowed-list */
    width: 42px;
    /* stylelint-disable-next-line declaration-property-unit-allowed-list */
    height: 42px;
    border-radius: 50%;
}

.avatar-placeholder {
    border: 1px solid var(--border-color);
}

.team-member-list {
    display: grid;
    grid-template-columns: 1fr fit-content(10rem) 1fr fit-content(10rem) fit-content(10rem);
    gap: 1rem;
}
