{
	auto_https disable_redirects
}

# Caddy (tls :3443) -> sourcegraph-frontend (:3080)
{$SOURCEGRAPH_HTTPS_DOMAIN}:{$SOURCEGRAPH_HTTPS_PORT} {
	tls internal
	reverse_proxy 127.0.0.1:3080 {
		lb_try_duration 60s
	}
}
