{
  http_port 3080
  auto_https disable_redirects
}

# A bit of monstrosity, since we need to reverse proxy via webpack which then
# reverse proxies to us on HTTP.
#
# Caddy (tls :3443) -> Caddy (:3080) -> sourcegraph-frontend (:3081)
{$SOURCEGRAPH_HTTPS_DOMAIN}:{$SOURCEGRAPH_HTTPS_PORT} {
  tls internal
  reverse_proxy localhost:3080
}

# Caddy (:3080) -> sourcegraph-frontend (:3081)
:3080 {
  reverse_proxy localhost:3081
}
