.root {
    padding: 1rem;
}

.job {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.jobHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.jobName {
    margin: 0;
}

.jobStatus {
    font-size: 0.875rem;
    color: var(--text-muted);
    flex-direction: row;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.jobDescription {
    margin: 0;
}

.excludeRepos {
    margin-top: 8px;
}

.topHeader {
  display: flex;
  align-items: center;
}

.saveButton {
  margin-left: auto;
}

.statusText {
    align:center;
}
