---
version: 1
interactions:
- request:
    body: '{"query":"query {\n\t  repository(owner: \"whoisthis\", name: \"sourcegraph\")
      {\n\t\tpullRequest(number: 5550) {\n\t\t  id\n\t\t  title\n\t\t  body\n\t\t  state\n\t\t  url\n\t\t  number\n\t\t  author
      {\n\t\t    avatarUrl\n\t\t\tlogin\n\t\t\turl\n\t\t  }\n\t\t  participants(first:
      100) {\n\t\t\tnodes {\n\t\t\t  avatarUrl\n\t\t\t  login\n\t\t\t  url\n\t\t\t}\n\t\t  }\n\t\t  createdAt\n\t\t  updatedAt\n\t\t}\n\t  }\n\t}","variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repository":null},"errors":[{"type":"NOT_FOUND","path":["repository"],"locations":[{"line":2,"column":4}],"message":"Could
      not resolve to a Repository with the name ''sourcegraph''."}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Oauth-Scopes:
      - repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4990"
      X-Ratelimit-Reset:
      - "1568298454"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"query":"query {\n\t  repository(owner: \"sourcegraph\", name: \"sourcegraph\")
      {\n\t\tpullRequest(number: 0) {\n\t\t  id\n\t\t  title\n\t\t  body\n\t\t  state\n\t\t  url\n\t\t  number\n\t\t  author
      {\n\t\t    avatarUrl\n\t\t\tlogin\n\t\t\turl\n\t\t  }\n\t\t  participants(first:
      100) {\n\t\t\tnodes {\n\t\t\t  avatarUrl\n\t\t\t  login\n\t\t\t  url\n\t\t\t}\n\t\t  }\n\t\t  createdAt\n\t\t  updatedAt\n\t\t}\n\t  }\n\t}","variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repository":{"pullRequest":null}},"errors":[{"type":"NOT_FOUND","path":["repository","pullRequest"],"locations":[{"line":3,"column":3}],"message":"Could
      not resolve to a PullRequest with the number of 0."}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Oauth-Scopes:
      - repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4989"
      X-Ratelimit-Reset:
      - "1568298454"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"query":"query {\n\t  repository(owner: \"sourcegraph\", name: \"sourcegraph\")
      {\n\t\tpullRequest(number: 5550) {\n\t\t  id\n\t\t  title\n\t\t  body\n\t\t  state\n\t\t  url\n\t\t  number\n\t\t  author
      {\n\t\t    avatarUrl\n\t\t\tlogin\n\t\t\turl\n\t\t  }\n\t\t  participants(first:
      100) {\n\t\t\tnodes {\n\t\t\t  avatarUrl\n\t\t\t  login\n\t\t\t  url\n\t\t\t}\n\t\t  }\n\t\t  createdAt\n\t\t  updatedAt\n\t\t}\n\t  }\n\t}","variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repository":{"pullRequest":{"id":"MDExOlB1bGxSZXF1ZXN0MzE2ODI5NDE0","title":"Fix
      disableExtension flag for native integrations","body":"This flag should only
      be observed in the browser extension. Calling `observeStorageKey()` breaks native
      integrations.","state":"OPEN","url":"https://github.com/sourcegraph/sourcegraph/pull/5550","number":5550,"author":{"avatarUrl":"https://avatars1.githubusercontent.com/u/1741180?v=4","login":"lguychard","url":"https://github.com/lguychard"},"participants":{"nodes":[{"avatarUrl":"https://avatars1.githubusercontent.com/u/1741180?v=4","login":"lguychard","url":"https://github.com/lguychard"}]},"createdAt":"2019-09-12T10:06:09Z","updatedAt":"2019-09-12T10:06:09Z"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Oauth-Scopes:
      - repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4988"
      X-Ratelimit-Reset:
      - "1568298454"
    status: 200 OK
    code: 200
    duration: ""
