.overlay {
    background-color: #343a4d4d; // --color-bg-3 with 30% opacity
    padding: 1.5rem;
}

.title {
    margin: 0;
    font-size: 1rem;
}

.media-hero-content {
    display: flex;
    padding: 1rem 1.5rem;
    height: 10.625rem;
    gap: 0.5rem;
}

.media-hero-overlay {
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--marketing-gradient);
    height: 10.625rem;
    width: 100%;
    opacity: 0.9;

    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 125%;
    text-align: center;
    letter-spacing: 1px;

    color: var(--text-muted);
}

.media-hero-wrapper {
    position: relative;
    // stylelint-disable-next-line declaration-property-unit-allowed-list
    margin: 1.5rem calc((-1px - 1.5rem));
}

.chart {
    box-shadow: var(--dropdown-shadow);
    border-radius: var(--border-radius);
}

.text-content {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1.5rem;
}
