.repositories-cloning-alert {
    &__link {
        margin-right: 2rem;
    }

    &__repositories {
        flex: 1;
        overflow: hidden;
        opacity: 0.6;
        mask-image: linear-gradient(to right, black, black 90%, transparent);
        align-self: stretch;
        white-space: nowrap;
    }
    &:hover &__repositories {
        opacity: 0.8;
    }
    &__repository {
        margin-right: 0.5rem;
        font-weight: normal !important;
        &:not(:hover) {
            text-decoration: none !important;
        }
    }
}
