.badge-decoration-attachment {
    img {
        width: 1.75rem;
        height: 1.75rem;
        padding: 0.25rem;
        border-radius: 0;
        background: transparent;
        z-index: 1;
        border: none;
    }

    width: 100%;
    text-align: right;
}
