.badge-decoration-attachment {
    img {
        width: 1.75rem;
        height: 1.75rem;
        padding: 0.25rem;
        background: transparent;
        z-index: 1;
        border: none;
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.8);
    }

    width: 100%;
    text-align: right;
}

.theme-light {
    .badge-decoration-attachment {
        img {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
}
