.file-match-children {
    &__item {
        text-decoration: none; // don't use cascading link style
        display: flex;
        align-items: center;
        padding: 0.25rem 0.5rem;

        &-clickable {
            cursor: pointer;
        }

        &:hover {
            text-decoration: none;
        }

        &-code-wrapper {
            position: relative;
            overflow-x: auto;
            &:not(:first-child) {
                border-top: 1px solid var(--border-color);
            }
        }

        &-badge-row {
            position: absolute;
            top: 0;
            right: 0;
            text-align: right;
        }
    }
}

.theme-dark {
    .file-match-children {
        &__item {
            background-color: $color-bg-4;
        }
    }
}

.theme-light {
    .file-match-children {
        &__item {
            background-color: $color-light-bg-1;
        }
    }
}
