.toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    outline: none !important;
    padding: 0;
    position: relative;
    width: 2rem;

    &__bar {
        background-color: var(--secondary);

        border-radius: 2rem;

        border-radius: 1rem;
        cursor: pointer;

        top: 2px;
        left: 0;

        height: 1rem;
        width: 100%;

        position: absolute;

        &--active {
            background-color: rgba(28, 126, 214, 0.2);
        }
    }

    &__knob {
        background-color: var(--text-muted);
        opacity: 0.8;
        border-radius: 0.375rem;
        display: block;

        height: 0.75rem;
        width: 0.75rem;
        margin-top: 0.25rem;
        left: 0.125rem;

        position: relative;

        &--active {
            background-color: var(--primary);
            transform: translate3d(1rem, 0, 0);
        }

        &--disabled {
            background-color: rgba(43, 55, 80, 0.2);

            &--active {
                background-color: rgba(28, 126, 214, 0.2);
            }
        }
    }
}
