:root {
    --toggle-width: 2.125rem;
}

.toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    outline: none !important;
    padding: 0;
    position: relative;
    width: var(--toggle-width);
}

.toggle__bar {
    background-color: var(--secondary);

    border-radius: 2rem;

    border-radius: 1rem;
    cursor: pointer;

    top: 2px;
    left: 0px;

    height: 1rem;
    width: 100%;

    position: absolute;
}

.toggle__bar--active {
    background-color: rgba(28, 126, 214, 0.2);
}

.toggle__knob {
    background-color: var(--text-muted);
    opacity: 0.8;
    border-radius: 0.5rem;

    display: block;

    height: 1rem;
    width: 16px;
    margin-top: 2px;

    position: relative;
}

.toggle__knob--active {
    background-color: var(--primary);
    transform: translate3d(18px, 0, 0);
}
