.grid {
    display: grid;
    grid-template-columns: [info] minmax(auto, 1fr) [edit] min-content [delete] min-content [end];
    row-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
    @media (--sm-breakpoint-down) {
        row-gap: 0.5rem;
        column-gap: 0.5rem;
    }
}

.separator {
    // Make it full width in the current row.
    grid-column: 1 / -1;
    border-top: 1px solid var(--border-color-2);
    @media (--xs-breakpoint-down) {
        margin-top: 1rem;
        padding-bottom: 1rem;
    }
}

.name {
    @media (--xs-breakpoint-down) {
        grid-column: 1 / -1;
    }
}

.policy-description {
    font-size: 1rem;
    display: flex;
    align-items: center;
}
