.popover-content {
    min-width: 20rem;
    max-width: 20rem;
    user-select: text;
    box-sizing: content-box;
}

.message {
    color: var(--body-color);
    border-left-width: 2px;
    border-left-style: solid;
    padding-left: 0.5rem;

    &.warning {
        border-color: var(--warning);
    }

    &.danger {
        border-color: var(--danger);
    }

    &.info {
        border-color: var(--info);
    }
}

.icon {
    margin-right: 0.5rem;
    color: var(--success);
    &.warning {
        color: var(--warning);
    }

    &.danger {
        color: var(--danger);
    }

    &.info {
        color: var(--info);
    }
}
