$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: 0;
$breadcrumb-border-radius: 0;
$breadcrumb-bg: transparent;
$breadcrumb-divider: '»';

@import 'bootstrap/scss/breadcrumb';
