/*
    Options page css
*/

$code-font-family: SFMono-Regular, Consolas, Menlo, DejaVu Sans Mono, monospace;

.options {
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: flex;

    &__container {
        color: #2b3750;
        width: 400px;
        height: 400px;

        &-full {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }
    }

    &__logo {
        height: 24px;
    }

    &__overlay-header {
        color: #2b3750;
        align-items: center;
        border-bottom: solid #e4e9f1 1px;
        display: flex;
        position: relative;
        padding: 16px;
    }

    &__overlay {
        &-container {
            height: 22px;
        }
        &-title {
            font-size: 14px;
            padding-left: 0;
        }
        &-icon {
            height: 24px;
        }
    }

    &__version {
        padding-right: 8px;
        line-height: 24px;
        font-size: 14px;
        float: right;
        text-align: right;
        display: flex;
        flex: 1 1 auto;
        flex-direction: row-reverse;
        color: #566e9f;
    }

    &__section {
        padding: 1rem;

        &-borderless {
            border-bottom: 0;
            padding-bottom: 0;
        }

        &-header {
            font-size: 16px;
            font-weight: 400;
        }

        &-subheader {
            padding: 8px 0;
            font-size: 14px;
            font-weight: 200;
        }

        &-contents {
            font-size: 14px;
            padding-top: 4px;
        }
    }

    &__divider {
        height: 1px;
        border-bottom: solid #e4e9f1 1px;
        width: 100%;
    }

    &__alert {
        font-size: 14px;
        border-radius: 2px;

        &-warning {
            color: #000000;
            background-color: #f2f4f8;
            margin-bottom: 0;
            border-color: #ffffff;
            padding: 8px;
        }
    }

    &__input {
        color: #2b3750;
        cursor: pointer;
        margin-bottom: 0;
        display: block;

        &-checkbox {
            width: 15px;
            height: 15px;
        }
        &-field {
            height: 32px;
            font-size: 14px;
            border-color: #e4e9f1;
        }
        &-button {
            height: 32px;
        }

        &-label {
            padding-top: 2px;
        }

        &-textarea {
            width: 100%;
            font-size: 14px;
            border-color: #e4e9f1;
            margin-bottom: 1rem;
            // !important overrides Bootstrap's `height: auto`
            height: 18rem !important;
            font-family: $code-font-family;
        }
    }

    &__button-icon {
        vertical-align: middle;
        padding-bottom: 1px;

        &-add {
            color: #2b3750;
            background-color: #f2f4f8;
            border-color: #e4e9f1;

            &:hover {
                background-color: #e4e9f1;
                border-color: #e4e9f1;
                color: #2b3750;
            }
        }
    }

    &__row-close {
        color: rgba(43, 55, 80, 0.5);
        position: absolute;
        background-color: transparent;
        right: 10px;
        top: 5px;
        align-content: center;
        padding: 0;

        &:hover {
            color: rgba(43, 55, 80, 1);
        }
    }

    &__list-group {
        padding-top: 1rem;
    }

    &__group-item {
        cursor: pointer;
        font-size: 14px;
        line-height: 14px;
        border-left: 0;
        border-right: 0;
        padding-left: 10px;

        &-text {
            padding-right: 5px;
            height: 16px;
            color: #2b3750;
        }

        &-disabled {
            color: #2b3750;
            background-color: #f2f4f8 !important;
            cursor: auto;
        }
    }

    &__item-badge {
        font-weight: normal;
        background-color: #566e9f;
    }

    &__footer {
        margin-right: auto !important;
        border: 0;
        padding-top: 0;
    }

    &__installation-cta {
        padding-top: 1rem;
    }

    &__cta {
        background-color: #1c7cd6;
    }

    &__link {
        color: #1c7cd6;
    }

    &__input-spacer {
        margin-bottom: 0.5rem;
    }

    &__button-right {
        text-align: right;
    }

    &__row-padding {
        padding-bottom: 0.5rem;
    }
}

.sg-options-label {
    padding-left: 5px;
}

.sg-option-container {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 5px;
}

.sg-section-header {
    margin-bottom: 5px;
}

.sg-section-subheader {
    margin-top: 0;
}

.sg-advanced-options-label {
    padding-right: 5px;
}

.sg-save-button {
    margin-left: 5px;
}

.sg-cancel-button {
    margin-left: 5px;
}

.sg-url-input {
    width: 150px;
}

.sg-options {
    width: 350px;
    display: none;
}

$area-max-width: 64rem;

.area {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    padding-top: 0.5rem;

    @media (max-width: $media-sm) {
        // Stacked layout on narrow screens.
        flex-wrap: wrap;
        align-content: flex-start;

        &__sidebar {
            flex: 1 0 auto;
            margin-left: 0.75rem;
            margin-right: 0.75rem;
        }
        &__content {
            padding: 1rem 0.75rem;
            flex: 1 0 auto;
        }
    }

    @media (min-width: $media-sm) {
        &__sidebar {
            flex: 0 0 auto;
        }
        &__content {
            padding: 0 1.5rem;
        }
    }

    &__content {
        flex: 1 1 auto;
        max-width: $area-max-width;
        min-width: 0;
    }
}

.area--vertical {
    display: flex;
    flex: 1 1 auto;
    overflow-y: scroll;
    flex-direction: column;
    width: 100%;

    &__header,
    &__navbar,
    &__content {
        &-inner {
            max-width: $area-max-width;
            margin: 0 auto;
        }
    }

    &__navbar,
    &__content {
        padding: 1rem 0.75rem;
    }
    &__navbar {
        flex: none;
    }
    &__content {
        flex: 1;
    }
}
