.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;

    height: 1px;
    width: 1px;
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 1000;

    &:focus {
        height: auto;
        width: auto;
        padding: 1rem;
    }
}
