#root {
  margin: 0 auto;
  font-family: var(--vscode-font-family), 'Nunito', sans-serif;
  height: 100%;
}

.container-getting-started {
  padding: 1.5rem;
}

.container-getting-started ul {
  padding-inline-start: 1rem;
}

.container-getting-started li {
  line-height: 1.5rem;
}

.tab-menu-container {
  width: 100%;
  flex-direction: row;
  display: flex;
  margin: 0;
  padding: 0 5px;
  border-bottom: 1px solid var(--vscode-editorGroupHeader-tabsBorder);
  background-color: var(--vscode-tab-inactiveBackground);
  justify-content: space-between;
}

.tab-menu-item {
  padding: 0px 5%;
  margin: 0;
  align-self: flex-start;
  cursor: pointer;
  user-select: none;
  border-right: 1px solid var(--vscode-tab-border);
  background-color: var(--vscode-tab-inactiveBackground);
  color: var(--vscode-tab-inactiveForeground);
}

#logout-btn {
  align-self: flex-end;
}

.tab-menu-item-selected {
  color: var(--vscode-tab-activeForeground);
  font-weight: bold;
  background-color: var(--vscode-tab-activeBackground);
}

.outer-container {
  background-color: var(--vscode-sideBar-background);
  border-top: 1px solid var(--vscode-sideBarSectionHeader-border);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.inner-container {
  background-color: var(--vscode-sideBar-background);
  width: 100%;
  height: 100%;
  min-height: 0;
  flex-direction: column;
  overflow-x: scroll;
  display: flex;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between;
  font-family: var(--vscode-font-family), 'Nunito', sans-serif;
  border-bottom: 1px solid var(--vscode-sideBarSectionHeader-border);
  padding: 12px 16px 8px 16px;
}

.header-container-left,
.header-container-right {
  display: flex;
  align-items: center;
}

.reset-conversation {
  margin: 0;
  padding-top: 5px;
  cursor: pointer;
}

.header-title {
  color: var(--vscode-sideBarTitle-foreground);
  font-size: 24px;
  margin-left: 8px;
}

.header-logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.non-transcript-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
}

.transcript-container {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  flex: 1;
}

.code-wrapper {
  overflow: auto;
  width: calc(100% - 20px);
}

.bubble {
  min-width: 0;
}

.bubble-footer {
  display: flex;
  margin-top: 4px;
  font-size: var(--vscode-font-size);
  color: var(--vscode-descriptionForeground);
}

.human-bubble-footer {
  justify-content: end;
}

.bubble-content {
  font-size: var(--vscode-editor-font-size);
  font-family: var(--vscode-font-family);
  font-weight: var(--vscode-font-weight);
  line-height: 150%;
  padding: 16px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  word-break: break-word;
  color: var(--bubble-text-color);
}

.bubble-content *:first-child {
  margin-top: 0 !important;
}

.bubble-content *:last-child {
  margin-bottom: 0 !important;
}

.bubble-content pre {
  padding: 8px;
  border-radius: 8px;
  overflow-x: auto;
}

.bubble-content pre,
.bubble-content p > code {
  /* Our syntax highlighter emits colors intended for dark backgrounds only. */
  background-color: var(--code-background);
}

.bubble-content pre,
.bubble-content code {
  color: white;
}

.human-bubble-content {
  background-color: var(--vscode-inputValidation-infoBackground);
  color: var(--vscode-inputValidation-infoForeground);
  /* background-color: var(--human-bubble-color); */
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 16px;
}

.bot-bubble-content {
  background-color: var(--bot-bubble-color);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 0;
}

.bubble-row {
  display: flex;
  padding: 8px 16px;
}

.bubble-row:first-child {
  margin-top: auto;
}

.human-bubble-row {
  justify-content: end;
}

.bot-bubble-row {
  justify-content: start;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}

.bubble-loader {
  display: flex;
  gap: 4px;
}

.bubble-loader-dot {
  animation: 1s blink infinite;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: var(--vscode-icon-foreground);
}

.bubble-loader-dot:nth-child(2) {
  animation-delay: 250ms;
}

.bubble-loader-dot:nth-child(3) {
  animation-delay: 500ms;
}

.submit-container {
  cursor: pointer;
}

.input-row {
  display: flex;
  margin: 16px;
  align-items: flex-start;
  position: relative;
  border-top: 1px solid var(--vscode-sideBarSectionHeader-border);
}

.chat-input {
  height: 10%;
  flex: 1;
  resize: none;
  color: var(--vscode-input-foreground);
  border-radius: 14px;
  box-sizing: border-box;
  border: 1px solid var(--vscode-input-border);
  min-height: 10%;
  max-height: 30%;
}

.chat-send-btn {
  margin: 16px;
  bottom: 0;
  right: 0;
  position: absolute;
}

textarea.chat-input {
  outline: none;
  color: var(--vscode-input-foreground);
  background-color: var(--vscode-input-background);
}

#container-recipes {
  padding: calc(2 * var(--input-margin-vertical)) var(--container-padding);
}

.debug-container-placeholder {
  padding: 1rem;
}

.debug-message {
  padding: 1rem;
  margin: 1rem;
  background-color: var(--human-bubble-color);
  border-radius: 1rem;
}

.debug-message > pre {
  white-space: pre-wrap;
  margin: 0;
}

.debug-message:last-child {
  border-bottom: 0;
}

.debug-tab-hidden {
  display: none;
}

.btn-feedback {
  border-radius: 0.5rem;
  background-color: transparent;
  font-weight: normal;
  cursor: pointer;
  width: inherit;
}

.btn-recipe {
  width: 100%;
  padding: 5px;
  margin-bottom: 1rem;
  padding: 0.5rem 0rem;
  font-weight: bold;
}

.container-recipes {
  margin: 10%;
  place-items: center;
}

.login-btn {
  width: 100%;
  padding: 5px 0;
}

.code-block {
  margin-top: 0.5rem;
  padding: 0.1rem 1rem;
  color: var(--vscode-editor-foreground) !important;
  line-height: var(--vscode-editorCodeLens-lineHeight);
  background-color: var(--vscode-input-background);
  font-family: var(--vscode-editor-font-family) !important;
  font-size: var(--vscode-editor-font-size) !important;
}

.code-block > span {
  line-height: var(--vscode-editorCodeLens-lineHeight);
  display: block;
}

.terms-container {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: var(--vscode-editorGroupHeader-tabsBackground);
}

.terms-container-header {
  width: 100%;
  padding: 0px 5%;
  margin: 0;
  cursor: none;
  user-select: none;
  border-right: 1px solid var(--vscode-tab-border);
  background-color: var(--vscode-tab-inactiveBackground);
  color: var(--vscode-list-activeSelectionForeground);
}

.terms-header-container {
  display: flex;
  padding: 0;
  list-style: none;
  min-width: 10rem;
  border-bottom: 1px solid var(--vscode-editorGroupHeader-tabsBorder);
  background-color: var(--vscode-editorGroupHeader-tabsBackground);
  margin-bottom: 0.5rem;
}
