@import 'wildcard/src/global-styles/breakpoints';

@mixin collapsed-menu {
    padding-right: 2.5rem;
}

.search-notebook {
    width: 100%;
    // Allow enough space to fit the menu
    padding-right: 13rem;

    @media (--md-breakpoint-down) {
        @include collapsed-menu;
    }

    &:global(.collapse-menu) {
        @include collapsed-menu;
    }
}
