.add-block-buttons-wrapper {
    position: relative;
    height: 2rem;
    padding-top: 1rem;

    &.show-on-hover > * {
        visibility: hidden;
    }

    &.show-on-hover:hover > * {
        visibility: visible;
    }

    hr {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.add-block-buttons {
    position: absolute;
    top: 0;
    left: 1rem;
}

.add-block-button {
    // Match the notebook background color instead of being transparent
    // to hide the underlying line.
    background-color: var(--color-bg-1) !important;
}
