.block-wrapper {
    position: relative;
}

.block {
    position: relative;
    // Prevents moving content
    border: 1px solid transparent;
    border-radius: 0.25rem;

    &:hover {
        border: 1px solid var(--border-color);
    }
}

.selected {
    border: 1px solid var(--border-active-color) !important;
    box-shadow: 0 0 0 0.125rem var(--primary-2);
}

.selected-not-focused {
    border: 1px solid var(--border-color);
}

.monaco-wrapper {
    :global(.monaco-editor) {
        // Override our :focus-visible style, which gets applied to the textarea
        :global(.inputarea.focus-visible) {
            box-shadow: none;
        }
    }

    :global(.monaco-mouse-cursor-text) {
        /* Hack: remove focus ring around Monaco editor cursor */
        &:focus-within,
        &:focus-visible {
            box-shadow: none;
        }
    }
}
