@import 'wildcard/src/global-styles/breakpoints';

@mixin collapsed-menu {
    width: 2rem;
}

@mixin hide-on-small-screen {
    visibility: hidden;
    display: none;
}

.block-menu {
    position: absolute;
    margin-left: 0.5rem;

    width: 12rem;
    // Collapse menu to show just icons on small screens
    @media (--md-breakpoint-down) {
        @include collapsed-menu;
    }

    &:global(.collapse-menu) {
        @include collapsed-menu;
    }

    left: 100%;
    top: 0;

    display: flex;
    flex-direction: column;
}

.main-action-button-wrapper {
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid var(--border-color);
}

.action-button {
    &:not(:disabled):hover {
        background-color: var(--color-bg-2);
    }
}

.hide-on-small-screen {
    visibility: visible;

    @media (--md-breakpoint-down) {
        @include hide-on-small-screen;
    }

    &:global(.collapse-menu) {
        @include hide-on-small-screen;
    }
}
