.add-block-buttons-wrapper {
    position: relative;
    height: 2rem;
    padding-top: 1rem;

    &:global(.show-on-hover) > * {
        visibility: hidden;
    }

    &:global(.show-on-hover):hover > * {
        visibility: visible;
    }

    hr {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.add-block-buttons {
    position: absolute;
    top: 0;
    left: 1rem;
}
