.block {
    // Prevents moving content
    border: 1px solid transparent;
    border-radius: 0.25rem;

    &:hover {
        border: 1px solid var(--border-color);
    }
}

.selected {
    border: 1px solid var(--border-active-color) !important;
    box-shadow: 0px 0px 0px 2px var(--primary-2);
}

.selected-not-focused {
    border: 1px solid var(--border-color);
}

.monaco-wrapper {
    background-color: var(--color-bg-1);
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
}
