.block-menu {
    position: absolute;
    margin-left: 1rem;
    width: 12rem;
    left: 100%;
    top: 0;

    display: flex;
    flex-direction: column;
}

.main-action-button {
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid var(--border-color);
}
