.sourcegraph-license {
    &__bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(/.assets/img/sourcegraph-mark.svg);
        background-repeat: repeat;
        background-size: 5rem;
    }

    &__logo {
        width: 1rem;
    }

    &__site-id {
        font-size: 1.1em;
        font-family: $code-font-family;
        white-space: nowrap;
    }

    &__info,
    &__features {
        flex: 1;
    }
}

.theme-light {
    .sourcegraph-license {
        &__bg {
            opacity: 0.025;
        }
    }
}

.theme-dark {
    .sourcegraph-license {
        &__bg {
            opacity: 0.1;
            filter: grayscale(100%);
        }
    }
}
