.changeset-spec-list {
    &__grid {
        display: grid;
        grid-template-columns: [caret] min-content [action] min-content [info] auto [diffstat] min-content [end];
        row-gap: 1rem;
        align-items: center;
    }
}
