.dashboard-select {
    // This max-width value is synced with max width of dropdown panel
    // of the dropdown component.
    max-width: 22.75rem;
    flex-grow: 1;
    flex-shrink: 1;
}

.dashboard-select-label {
    font-weight: 500;
    margin-right: 1rem;
}

.limited-access-label {
    margin-top: -0.25rem;
    margin-bottom: 0.75rem;
}

.insights {
    isolation: isolate;
}
