.logo {
    display: block;
    width: 4rem;
    margin-bottom: 1rem;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    flex-direction: column;
    flex: 1 1 auto;
}
