.page-wrapper {
    background: radial-gradient(133.29% 34.62% at 100.00% -0.00%, rgba(161, 18, 255, 0.40) 0%, rgba(15, 17, 26, 0.00) 100%), var(--black);
    height: 100%;
    width: 100%;
    padding: 2.5rem 5rem !important;

    .page {
        max-width: 1360px;
        margin: auto;
    }

    .logo {
        height: 3rem;
        width: 3rem;
    }
}
