.signin-signup-page {
    width: 100%;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.signin-signup-form {
    max-width: calc(100vw - 2rem);
    background-color: var(--color-bg-1);
    border: 1px solid var(--border-color-2);
}

.signin-page-container {
    width: 20rem;
}

.signup-page-container {
    width: 27.5rem;
}
