.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 1.5rem;
}

.icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-bottom: 1.5rem;
    flex-shrink: 0;
}

.content {
    display: flex;
    flex-grow: 1;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    max-width: 38rem;
}
