.command-list {
    width: 24rem;

    :global(.list-group) {
        max-height: 18.5rem;
        overflow: auto;
    }

    :global(.list-group-item) {
        &.active {
            &:hover {
                color: var(--body-color);
            }
        }
    }

    :global(.list-group-item-action) {
        &:hover {
            background-color: var(--color-bg-3);
        }
    }
}

@media (max-width: 24rem) {
    .command-list {
        width: 100vw;
    }
}

.popover-button {
    cursor: pointer;
}
