@import '../../../branded/src/global-styles/colors.scss';
@import '../../../branded/src/global-styles/border-radius.scss';

// Bootstrap configuration before Bootstrap is imported
$border-radius: var(--border-radius);
$border-radius-sm: var(--border-radius);
$border-radius-lg: var(--border-radius);
$popover-border-radius: var(--popover-border-radius);
$font-size-base: 0.875rem;
$line-height-base: (20/14);

$box-shadow: var(--box-shadow);

$grid-gutter-width: 1.5rem;

// No max width except for xl.
$container-max-widths: (
    xl: 1140px,
);

$border-color: var(--border-color);

// Links

$link-color: var(--link-color);
$link-hover-color: var(--link-hover-color);

// Forms

$form-check-input-margin-y: var(--form-check-input-margin-y);
$form-feedback-font-size: 0.75rem;
$input-btn-focus-width: 2px;
// The default focus ring for buttons is very hard to see, raise opacity.
// We only show the focus ring when using the keyboard, when the focus ring
// should be clearly visible.
$btn-focus-box-shadow: var(--focus-box-shadow);
$btn-link-disabled-color: var(--btn-link-disabled-color);
$btn-padding-y-sm: var(--btn-padding-y-sm);

// Forms don't manipulate the colors at compile time,
// which is why we can use CSS variables for theming here
// That's nice because the forms theming CSS would otherwise
// be way more complex than it is for other components
$input-bg: var(--input-bg);
$input-disabled-bg: var(--input-disabled-bg);
$input-border-color: var(--input-border-color);
$input-color: var(--input-color);
$input-placeholder-color: var(--input-placeholder-color);
$input-group-addon-color: var(--input-group-addon-color);
$input-group-addon-bg: var(--input-group-addon-bg);
$input-group-addon-border-color: var(--input-group-addon-border-color);
$input-focus-border-color: var(--input-focus-border-color);
$input-focus-box-shadow: var(--input-focus-box-shadow);

// Custom Selects
$custom-select-bg-size: 16px 16px;
$custom-select-disabled-bg: var(--input-disabled-bg);
$custom-select-focus-box-shadow: var(--input-focus-box-shadow);
// Icon: mdi-react/ChevronDownIcon
$custom-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$gray-06}' viewBox='0 0 24 24'><path d='M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z'/></svg>");
// Hide feedback icon for custom-select
$custom-select-feedback-icon-size: 0;

// Dropdown
$dropdown-bg: var(--dropdown-bg);
$dropdown-border-color: var(--dropdown-border-color);
$dropdown-divider-bg: var(--border-color);
$dropdown-link-color: var(--body-color);
$dropdown-link-hover-color: var(--body-color);
$dropdown-link-hover-bg: var(--dropdown-link-hover-bg);
$dropdown-link-active-color: #ffffff;
$dropdown-link-active-bg: var(--primary);
$dropdown-link-disabled-color: var(--text-muted);
$dropdown-header-color: var(--dropdown-header-color);
$dropdown-item-padding-y: 0.25rem;
$dropdown-item-padding-x: 0.5rem;
$dropdown-padding-y: $dropdown-item-padding-y;

// Tables

$table-cell-padding: 0.625rem;
$table-border-color: var(--border-color);

$hr-border-color: var(--border-color);
$hr-margin-y: 0.25rem;

// Disable transitions
$input-transition: none;

// Spacer
$spacer: 1rem;

:root {
    --spacer: #{$spacer};
}

/* stylelint-disable @sourcegraph/no-restricted-imports */
// Apply static variables before Bootstrap imports.
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/transitions';

// Modified in `./buttons.scss`
@import 'bootstrap/scss/buttons';

// Modified in `./forms.scss`
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/custom-forms';
@import 'bootstrap/scss/input-group';
/* stylelint-enable @sourcegraph/no-restricted-imports */

// Global styles provided by @reach packages. Should be imported once in the global scope.
@import '@reach/tabs/styles';

@import 'wildcard/src/global-styles/breakpoints';
@import 'shared/src/global-styles/icons';
@import '../../../branded/src/global-styles/background';
@import '../../../branded/src/global-styles/dropdown';
@import '../../../branded/src/global-styles/meter';
@import '../../../branded/src/global-styles/popover';
@import '../../../branded/src/global-styles/nav';
@import '../../../branded/src/global-styles/list-group';
@import '../../../branded/src/global-styles/typography';
@import '../../../branded/src/global-styles/tables';
@import '../../../branded/src/global-styles/code';
@import '../../../branded/src/global-styles/buttons';
@import '../../../branded/src/global-styles/button-group';
@import '../../../branded/src/global-styles/forms';
@import '../../../branded/src/global-styles/tabs';
@import '../../../branded/src/global-styles/progress';

* {
    box-sizing: border-box;
}

// Our simple popovers only need these styles. We don't want the caret or special font sizes from
// Bootstrap's popover CSS.
.popover-inner {
    background-color: var(--color-bg-1);
    border: solid 1px var(--border-color);
    box-shadow: var(--dropdown-shadow);
    border-radius: var(--popover-border-radius);
    // Ensure content is clipped by border
    overflow: hidden;
}

// Show a focus ring when performing keyboard navigation. Uses the polyfill at
// https://github.com/WICG/focus-visible because few browsers support :focus-visible.
:focus:not(:focus-visible) {
    outline: none;
}
:focus-visible {
    outline: 0;
    box-shadow: var(--focus-box-shadow);
}

.cursor-pointer,
input[type='radio'],
input[type='checkbox'] {
    &:not(:disabled) {
        cursor: pointer;
    }
}

// Replace the old '../../../branded/src/global-styles/card' file
$card-spacer-y: 0.5rem;
$card-spacer-x: 0.5rem;
$card-bg: var(--card-bg);
$card-border-color: var(--card-border-color);
$card-cap-bg: var(--color-bg-2);

.card {
    --card-bg: var(--color-bg-1);
    --card-border-color: var(--border-color);
    --card-spacer-y: #{$card-spacer-y};
    --card-spacer-x: #{$card-spacer-x};
}

/* stylelint-disable-next-line @sourcegraph/no-restricted-imports */
@import 'bootstrap/scss/card';
