.configuration-group {
    &-label {
        font-weight: 500;
    }

    &-instruction-button {
        margin-left: -0.5rem;
    }

    &-instructions {
        padding-left: 1.5rem;
        margin-top: 0.25rem;
        font-size: 0.8rem;
        color: var(--body-color);
    }

    &-editor {
        margin-top: -0.5rem;
    }
}
