@mixin quad-vertex-colors($v0, $v1, $v2, $v3) {
    background: linear-gradient(to bottom, $v0, $v2);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        background: linear-gradient(to right, $v1, $v3);
        mask-image: linear-gradient(to bottom, #000000, transparent);
    }
}

.user-avatar {
    display: inline-flex;
    border-radius: 50%;
    text-transform: capitalize;
    color: var(--color-bg-1);
    align-items: center;
    justify-content: center;
    min-width: 1.5rem;
    min-height: 1.5rem;
    position: relative;
    @include quad-vertex-colors(var(--logo-purple), var(--logo-purple), var(--logo-orange), var(--logo-blue));
}

.initials {
    z-index: 1;
    color: var(--white);
}
