/*

NOTES

Make sure you test all the variations:

- Light and dark themes (use Chrome devtools' "Emulate CSS prefers-color-scheme: ..." option)
- Document pages, search result pages, and 404 pages
- Wide, medium, and narrow screens (less than var(--sidebar-breakpoint-width), in between, and greater than var(--index-breakpoint-width))

The document content can set class names and IDs on elements (for example, Markdown headers are automatically given IDs so you can link to them with a URL fragment like #my-header-name). Use CSS selectors that start with `body >` and will not accidentally match elements in document content.

*/

:root {
    /* You cannot use vars in media queries, so these are used just for reference. */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --sidebar-breakpoint-width: 800px; /* hide sidebar if narrower */
    --index-breakpoint-width: 1200px; /* show index before (not to the right) if narrower */

    --width: 1200px;
    --sidebar-width: 230px;
    --spacing: 1rem;
    --gutter: calc(2*var(--spacing));

    --base-font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    --monospace-font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,monospace;

    --note-color: #bce8f1;
    --warning-color: #faebcc;
    --warning-badge-color: #f59f00;
    --critical-badge-color: #f03e3e;
    --experimental-color: #b200f8;
    --feature-color: #38757F;
    --beta-color: #72dbe8;
    --brand-cyan-color: #72dbe8;

    --table-row-bg-1: var(--body-bg);
}

/* GLOBAL */
body.theme-light {
  --text-color: #000000;
  --border-color: #e2e4e8;
  --body-bg: #fcfcff;
  --sidebar-bg: #1986ea0c;
  --sidebar-nav-active-bg: #d7ebff;
  --sidebar-border-color: #1986ea55;
  --input-border-color: var(--sidebar-border-color);
  --input-focus-border-color: #1986ea;
  --link-color: #0055c5;
  --anchor-inline-bg: yellow;
  --anchor-inline-border-color: #eecc11;
  --code-bg: #f4f7fb;
  --table-row-bg-2: #f2f4f8; /* should be slightly different from var(--table-row-bg-1) */
  --text-muted: #888888;
  --search-result-path-color: green;

  /*
   * TODO (@camdencheek): These variables are also defined in colors.scss, and
   * shouldn't be defined here, but we have no SCSS compilation process for the docsite,
   * so we can't use them directly.
   * https://github.com/sourcegraph/sourcegraph/issues/19234
   */
  --search-filter-keyword-color: #268bd2;
  --search-keyword-color: #ae3ec9;
}

body.theme-dark {
  --text-color: #fffff6;
  --border-color: #444466;
  --body-bg: #000018;
  --sidebar-bg: #112239;
  --sidebar-nav-active-bg: #223359;
  --sidebar-border-color: #1986ea66;
  --input-border-color: var(--sidebar-border-color);
  --input-focus-border-color: #1986ea;
  --link-color: var(--brand-cyan-color);
  --anchor-inline-bg: yellow;
  --anchor-inline-border-color: #eecc11;
  --code-bg: #191929;
  --table-row-bg-2: #080820;
  --text-muted: #7c7c9f;
  --search-result-path-color: #e89fff;

  --search-filter-keyword-color: #569cd6;
  --search-keyword-color: #da77f2;
}

* {
    box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--body-bg);
  color: var(--text-color);
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  opacity: 0.8;
  transition: color 0.2s ease-in-out;
}

body.theme-light #sidebar,
body.theme-light #index {
  --link-color: #171717
}

body.theme-dark #sidebar,
body.theme-dark #index {
  --link-color: rgb(161, 161, 161);
}


.test {
    color:red;
}

/* Nav links */
nav.links ul {
    padding: 0;
    margin: 0;
}
nav.links li {
    list-style-type: none;
}
nav.links a {
    display: block;
}
/* Utilities */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Use to provide different videos for dark and light theme */
.theme-light .theme-dark-only,
.theme-dark .theme-light-only {
    display: none !important;
}

/* FONTS */
body {
    font-family: var(--base-font-family);
}
pre, code, kbd {
    font-family: var(--monospace-font-family);
}

code {
    background-color: var(--code-bg);
    padding: .2em .4em;
    border-radius: 0.2em;
    margin: 0;
    font-size: 85%;
}

/* LAYOUT */
body {
    display: flex;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}
body > div#page {
    width: 100%;
    justify-content: space-between;
    margin-top: calc(2*var(--spacing));
}
/* Responsive */
@media (max-width: 800px /* == var(--sidebar-breakpoint-width) */) {
    :root {
        --gutter: calc(0.5 * var(--spacing));
    }
    body {
        flex-direction: column;
    }
    body > #sidebar {
        border-bottom: solid 1px var(--sidebar-border-color);
        padding: 2rem;
        margin: 0 auto !important;
        width: 100%;
        text-align: center;
    }
    body > #sidebar nav {
        display: none;
    }
    body > #sidebar #theme {
        display: none !important;
    }
    body > #page > main > #index {
        margin-top: calc(2*var(--spacing));
    }
    body > #page > main > #content {
	    margin-top: calc(1*var(--spacing));
    }
}
@media (min-width: 800px /* == var(--sidebar-breakpoint-width) */) {
    body > #sidebar {
        height: 100vh;
        position: sticky;
        top: 0;
        align-self: flex-start;
        width: var(--sidebar-width);
        overflow-y: auto;
        padding-bottom: calc(0.75*var(--spacing));
    }
}

.anchor-inline + .anchor-inline-link::before {
  content: "🔗";
  width: 1rem;
  height: 1rem;
}
.anchor-inline:target + .anchor-inline-link {
  background-color: var(--anchor-inline-bg);
  border: solid 1px var(--anchor-inline-border-color);
  display: inline-block;
  padding: 0.1rem;
  margin: -0.1rem;
}

/* SIDEBAR */
body > #sidebar {
    background-color: var(--body-bg);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding-top: calc(2*var(--spacing));
    margin-left: calc(6*var(--spacing));
    padding-right: var(--spacing);
}
/* Logo */
body > #sidebar #logo {
    margin: 0;
}
body > #sidebar #logo a {
    text-decoration: none;
    display: block;
    padding: 0;
}
body > #sidebar #logo img {
    width: 170px;
    height: 22.8px;
}
body.theme-dark > #sidebar #logo img.theme-light, body.theme-light > #sidebar #logo img.theme-dark {
    display: none;
}
/* Search form */
body > #sidebar #search-form {
    margin-bottom: 0;
    position: relative;
    display: flex;
    flex-direction: row;
}
body > #sidebar #search-form #search {
    color: var(--text-color);
    border: none;
    background-color: var(--border-color);
    width: 100%;
    font-size: 1.0rem;
    padding: calc(0.5*var(--spacing)) calc(0.6*var(--spacing));
    box-shadow: inset 0 1px 0 0 #ffffff0d;
    line-height: 1.5rem;
    border-radius: .375rem;
    border: 1px solid transparent;
}
body > #sidebar #search-form #search:focus {
    outline: none;
    border: solid 1px var(--input-focus-border-color);
}
body > #sidebar #search-form .search-icon {
    color: var(--link-color);
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 10px;
}
/* Nav */
body > #sidebar nav.links {margin-top: calc(2*var(--spacing));}
body > #sidebar a {
    display: flex;
    padding: calc(0.4*var(--spacing)) calc(1.5*var(--spacing)) calc(0.4*var(--spacing)) 0;
    align-items: center;
}

#sidebar a svg {
    width:16px;
    margin-right: 0.5rem;
}

body > #sidebar nav .current > a {
    color: var(--brand-cyan-color);
}
body > #sidebar nav .nav-section  {
}
body > #sidebar .nav-section > ul > li {
    margin-bottom: calc(0.25*var(--spacing));
}
body > #sidebar .nav-section > ul > li.expand {
    /* background-color: var(--sidebar-nav-active-bg); */
}
body > #sidebar .nav-section ul ul {
    font-size: 90%;
    border-left: solid 1px var(--border-color);
    margin-left: 0.2rem;
    padding-right: .125rem;
}
body > #sidebar .nav-section ul ul li.active-subsection {
    font-weight: bold;
    border-left: solid 1px var(--beta-color);
    /* margin-left: -1px; */
}
body > #sidebar .nav-section ul ul li.active-subsection a {
    color: var(--brand-cyan-color);
}
body > #sidebar .nav-section li.collapse ul {
    display: none;
}
/* Theme */
body > #sidebar #theme {
    display: flex;
    margin: calc(2*var(--spacing)) 0;
    gap: 0.5rem;
    align-items: center;
}
body > #sidebar #theme svg {
    width: 16px;
    margin-right: 0.25rem;
    fill: var(--text-muted);
}
body > #sidebar #theme button {
    all: unset;
    font-family: var(--base-font-family);
    cursor: pointer;
}
body > #sidebar #theme button:not(.active) {
    color: var(--text-muted);
}
body > #sidebar #theme button.active {
    color: var(--text-body);
}
body > #sidebar #theme button:hover {
    opacity: 0.8;
}

/* FOOTER */
body > #page > footer {
    border-top: solid 1px var(--border-color);
    padding: calc(1.5*var(--spacing)) 0;
    font-size: 80%;
}
body > #page > footer nav.links ul {
    display: flex;
    flex-wrap: wrap;
}
body > #page > footer a {
    color: var(--text-muted);
    white-space: nowrap;
    padding: calc(0.25*var(--spacing)) calc(0.5*var(--spacing));
    margin-bottom: calc(0.75*var(--spacing));
    margin-right: calc(0.75*var(--spacing));
}

/* SIDEBAR & FOOTER (common) */
body > #sidebar .external a, body > #page > footer .external a {
    color: var(--text-muted);
}

/* DOCUMENT */
@media (max-width: 1200px /* == var(--index-breakpoint-width) */) {
    body > #page > main > #index {
        margin-top: calc(2*var(--spacing));
        border-left: solid 1px var(--border-color);
        padding-left: var(--spacing);
    }
    body > #page > main > #content {
        margin-top: calc(1*var(--spacing));
    }
}

body > #page > main > #index {
	font-size: 90%;
	line-height: 24px;
	overflow-y: auto;
	align-self: flex-start;
	position: fixed;
	min-width: 300px;
	max-width: 300px;
}

body > #page > main > #index > h3.version {
	font-weight: bold;
	font-size: 100%;
	opacity: 0.7;
	margin-bottom: 0;
}
body > #page > main > #index > h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    margin-top: calc(3*var(--spacing));
}
body > #page > main > #index .on-this-page {
    opacity: 0.7;
    margin: 0;
}
body > #page > main > #index > ul {
	margin-top: 0.125rem;
	padding-left: var(--spacing);
}
body > #page > main > #index > ul ul {
	padding-left: 20px;
}
body > #page > main > #index > ul li {
	list-style: none;
}
body > #page > main > #index > ul li::before {
	margin-left: -0.8rem;
	content: "\203A\00a0";
}

body > #page > main > #content {
    margin-bottom: calc(3*var(--spacing));
}

@media (min-width: 1200px /* == var(--index-breakpoint-width) */) {
	body > #page > main {
        display: grid;
        grid-template-columns: 1fr 300px;
        column-gap: 20px;
	}
	body > #page > main > #index {
        /* Note: all ancestors up to <html> (the scrolling element) must be overflow: visible (default) for this to work. */
        top: calc(2*var(--spacing));
        max-height: calc(100vh - 4*var(--spacing));

        grid-column: 2;
        display: block;
        position: sticky;
        height: 100vh;
        top: 0;
 }
    body > #page > main > #content {
        flex: 8 4 auto;
        min-width: 0;
        grid-column: 1;
        grid-row: 1;
    }
}

#content > .breadcrumbs {
	font-size: 90%;
}
#content > .breadcrumbs {
	display: flex;
	align-items: center;
	color: rgb(143, 143, 143);
	gap: .5rem;
	padding: 0 1rem;
	margin-bottom: 2.5rem;
}
#content > .breadcrumbs > .active {
	color: inherit;
	color: #ededed;
}

.page-btn {
	display: inline-block;
	font-size: 90%;
}

.badge {
    /* Mirrored from product badge styles */
    display: inline-block;
    padding: 0.025rem 0.375rem;
    line-height: 1rem;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: 500;
    color: inherit;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.badge-experimental {
    color: #ffffff;
    background-color: var(--experimental-color);
}

.badge-beta {
    color: #000000;
    background-color: var(--beta-color);
    text-transform: uppercase;
    margin-right: 0.2rem;
}

.badge-feature {
    color: var(--feature-color);
    background-color: var(--note-color);
}

.badge-note {
    color: #000000;
    background-color: var(--note-color);
}

.badge-warning {
    color: #ffffff;
    background-color: var(--warning-badge-color);
}

.badge-critical {
    color: #ffffff;
    background-color: var(--critical-badge-color);
}

/* MARKDOWN */
.markdown-body {
  text-size-adjust: 100%;
  line-height: 1.77;
  word-wrap: break-word;
  tab-size: 2;
  max-width: 665px;
  margin-top: calc(2*var(--spacing));
  padding: 0 1rem;
}
.markdown-body blockquote {
  border-left: solid 5px var(--border-color);
  margin-left: var(--spacing);
  padding-left: var(--spacing);
}
.markdown-body hr {
  border: solid 1px var(--border-color);
}
.markdown-body :is(img, picture, video, object, iframe) {
    max-width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
    border-radius: .375rem;
    /* border: 1px solid rgb(31, 31, 31); */
}
.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 32px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  max-width: 665px;

  /** For .anchor. **/
  position: relative;
  z-index: 1;
}
.markdown-body h1 {font-size: 36px;margin-bottom: 0.8888889em;line-height: 1.1111111;}
.markdown-body h2 {
    font-size: 24px;border-top-style: solid;border-top-width: 1px;
    border-color: rgb(21 22 50);
    padding-top: 2.5rem;scroll-margin-top: 11px;margin-top: 2em;margin-bottom: 1em;line-height: 1.3333333;}
.markdown-body h3 { font-size: 20px; }
.markdown-body h4 { font-size: 16px; }
.markdown-body h5 { font-size: 14px; }
.markdown-body h6 { font-size: 12px; }
.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none;
  opacity: 1;
}
.markdown-body .anchor {
  height: 100%;
  position: relative;
  opacity: 0;
}
.markdown-body .anchor::before {
  content: "#";
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  padding-left: 10px;
  padding-right: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  font-size: 16px;
}
.markdown-body .anchor:focus {
  outline: none;
}
.markdown-body pre {
    overflow: auto;
}
.markdown-body pre {
    display: block;
    background-color: var(--code-bg);
    padding: var(--spacing);
    font-size: 85%;
}
.markdown-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 12px var(--monospace-font-family);
    line-height: 10px;
    color: var(--body-color);
    vertical-align: middle;
    background-color: var(--sidebar-bg);
    border: solid 1px var(--border-color);
    border-bottom-color: var(--border-color);
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 var(--border-color);
}
.markdown-body aside {
    padding: calc(0.5*var(--spacing)) var(--spacing);
    margin-bottom: var(--spacing);
    border-width: 1px;
    border-left-width: 15px;
    border-style: solid;
    font-size: 85%;
}
.markdown-body aside > :first-child {
    margin-top: 0;
}
.markdown-body aside > :last-child {
    margin-bottom: 0;
}
.markdown-body aside.note {
    border-color: var(--note-color);
}
.markdown-body aside.warning {
    border-color: var(--warning-color);
}
.markdown-body aside.experimental {
    border-color: var(--experimental-color);
}
.markdown-body aside.beta {
    border-color: var(--beta-color);
}

.markdown-body table {
    display: block;
    width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
}
.markdown-body table th {
    font-weight: 600;
}
.markdown-body table th,
.markdown-body table td {
    padding: 6px 13px;
    border: 1px solid var(--border-color);
}
.markdown-body table tr {
    border-top: 1px solid var(--border-color);
    background-color: var(--table-row-bg-1);
}
.markdown-body table tr:nth-child(2n) {
    background-color: var(--table-row-bg-2);
}
.markdown-body > *:first-child {
    margin-top: 0 !important;
}
.markdown-body > *:last-child {
    margin-bottom: 0 !important;
}

.markdown-body .subtitle {
    font-weight: 250;
    margin-top: -1em;
    font-size: 1.1rem;
    color: var(--text-muted);
}

.markdown-body .lead {
  font-size: 1.15rem;
}

.markdown-body .btn {
  display: inline-block;
  margin: 0;
  padding: 1rem 1.25rem;
  border-radius: 4px;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  border: 1px solid var(--sidebar-nav-active-bg);
}

.markdown-body .btn-primary {
  background-color: var(--sidebar-nav-active-bg);
}

.markdown-body .btn:hover {
  opacity: 0.85;
  text-decoration: none;
}

.markdown-body .cta-group {
  margin: 3em 0;
}

@media (max-width: 500px) {
    .markdown-body {
        /* Smaller line lengths are more readable with shorter line heights */
        line-height: 1.5;
    }
}


/* SEARCH RESULT */
.search-result h1, .search-result h2, .search-result h3 {
  font-weight: normal;
}
.search-result .document-results, .search-result .section-results {
  list-style-type: none;
  padding-left: 0;
}
.search-result .document-result {
  margin-bottom: 1.5rem;
}
.search-result .document-result-title {
  font-size: 1.35rem;
  margin-top: 0;
  margin-bottom: 0.1rem;
}
.search-result .document-result-path {
  color: var(--search-result-path-color);
  font-size: 0.8rem;
}
.search-result .section-result {
  margin: 0.25rem 0;
}
.search-result .section-result-title {
  white-space: nowrap;
  font-size: unset;
  margin: 0;
}
.search-result .section-result-title::after {
  padding-right: 0.25rem;
}
.search-result .excerpt {
  display: inline-block;
  margin: 0;
}

/* CONTENT */
/* Line break that is only visible, but not copy-pasted. Used for terminal commands. */
.virtual-br::before {
    content: '\A';
}
.pre-wrap {
    white-space: pre-wrap;
}
.text-center {
    text-align: center;
}
.start-sourcegraph-command {
    position: relative;
}
.copy-text {
    position: absolute;
    top:0;
    right: 0;
    margin: 4px;
    color: var(--link-color);
    font-size: 1.5rem;
}

/* Display hash on hover for schema doc key. */
.markdown-body .json-schema-doc-heading {
    margin-bottom: -1rem;
}
.schema-doc-key {
    position: relative;
}
.schema-doc-key:hover::before {
    content: '#';
    position: absolute;
    top: -5px;
    left: -15px;
    padding-right: 20px;
    font-size: 1rem;
}

img.screenshot {
    display: block;
    margin: 1em auto;
    max-width: 600px;
    margin-bottom: 0.5em;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

img.center {
  display: block;
  margin: auto
}

/* SYNTAX HIGLIGHTING */
/* Light theme */
body.theme-light .markdown-body .chroma .c { color: #888888 } /* Comment */
body.theme-light .markdown-body .chroma .err { color: #a61717; background-color: #e3d2d2 } /* Error */
body.theme-light .markdown-body .chroma .k { color: #008800; font-weight: bold } /* Keyword */
body.theme-light .markdown-body .chroma .ch { color: #888888 } /* Comment.Hashbang */
body.theme-light .markdown-body .chroma .cm { color: #888888 } /* Comment.Multiline */
body.theme-light .markdown-body .chroma .cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
body.theme-light .markdown-body .chroma .cpf { color: #888888 } /* Comment.PreprocFile */
body.theme-light .markdown-body .chroma .c1 { color: #888888 } /* Comment.Single */
body.theme-light .markdown-body .chroma .cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
body.theme-light .markdown-body .chroma .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
body.theme-light .markdown-body .chroma .ge { font-style: italic } /* Generic.Emph */
body.theme-light .markdown-body .chroma .gr { color: #aa0000 } /* Generic.Error */
body.theme-light .markdown-body .chroma .gh { color: #333333 } /* Generic.Heading */
body.theme-light .markdown-body .chroma .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
body.theme-light .markdown-body .chroma .go { color: #888888 } /* Generic.Output */
body.theme-light .markdown-body .chroma .gp { color: #555555 } /* Generic.Prompt */
body.theme-light .markdown-body .chroma .gs { font-weight: bold } /* Generic.Strong */
body.theme-light .markdown-body .chroma .gu { color: #666666 } /* Generic.Subheading */
body.theme-light .markdown-body .chroma .gt { color: #aa0000 } /* Generic.Traceback */
body.theme-light .markdown-body .chroma .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
body.theme-light .markdown-body .chroma .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
body.theme-light .markdown-body .chroma .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
body.theme-light .markdown-body .chroma .kp { color: #008800 } /* Keyword.Pseudo */
body.theme-light .markdown-body .chroma .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
body.theme-light .markdown-body .chroma .kt { color: #888888; font-weight: bold } /* Keyword.Type */
body.theme-light .markdown-body .chroma .m { color: #0000DD; font-weight: bold } /* Literal.Number */
body.theme-light .markdown-body .chroma .s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
body.theme-light .markdown-body .chroma .na { color: #336699 } /* Name.Attribute */
body.theme-light .markdown-body .chroma .nb { color: #003388 } /* Name.Builtin */
body.theme-light .markdown-body .chroma .nc { color: #bb0066; font-weight: bold } /* Name.Class */
body.theme-light .markdown-body .chroma .no { color: #003366; font-weight: bold } /* Name.Constant */
body.theme-light .markdown-body .chroma .nd { color: #555555 } /* Name.Decorator */
body.theme-light .markdown-body .chroma .ne { color: #bb0066; font-weight: bold } /* Name.Exception */
body.theme-light .markdown-body .chroma .nf { color: #0066bb; font-weight: bold } /* Name.Function */
body.theme-light .markdown-body .chroma .nl { color: #336699; font-style: italic } /* Name.Label */
body.theme-light .markdown-body .chroma .nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
body.theme-light .markdown-body .chroma .py { color: #336699; font-weight: bold } /* Name.Property */
body.theme-light .markdown-body .chroma .nt { color: #bb0066; font-weight: bold } /* Name.Tag */
body.theme-light .markdown-body .chroma .nv { color: #336699 } /* Name.Variable */
body.theme-light .markdown-body .chroma .ow { color: #008800 } /* Operator.Word */
body.theme-light .markdown-body .chroma .w { color: #bbbbbb } /* Text.Whitespace */
body.theme-light .markdown-body .chroma .mb { color: #0000DD; font-weight: bold } /* Literal.Number.Bin */
body.theme-light .markdown-body .chroma .mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
body.theme-light .markdown-body .chroma .mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
body.theme-light .markdown-body .chroma .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
body.theme-light .markdown-body .chroma .mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
body.theme-light .markdown-body .chroma .sa { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Affix */
body.theme-light .markdown-body .chroma .sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
body.theme-light .markdown-body .chroma .sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
body.theme-light .markdown-body .chroma .dl { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Delimiter */
body.theme-light .markdown-body .chroma .sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
body.theme-light .markdown-body .chroma .s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
body.theme-light .markdown-body .chroma .se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
body.theme-light .markdown-body .chroma .sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
body.theme-light .markdown-body .chroma .si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
body.theme-light .markdown-body .chroma .sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
body.theme-light .markdown-body .chroma .sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
body.theme-light .markdown-body .chroma .s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
body.theme-light .markdown-body .chroma .ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
body.theme-light .markdown-body .chroma .bp { color: #003388 } /* Name.Builtin.Pseudo */
body.theme-light .markdown-body .chroma .fm { color: #0066bb; font-weight: bold } /* Name.Function.Magic */
body.theme-light .markdown-body .chroma .vc { color: #336699 } /* Name.Variable.Class */
body.theme-light .markdown-body .chroma .vg { color: #dd7700 } /* Name.Variable.Global */
body.theme-light .markdown-body .chroma .vi { color: #3333bb } /* Name.Variable.Instance */
body.theme-light .markdown-body .chroma .vm { color: #336699 } /* Name.Variable.Magic */
body.theme-light .markdown-body .chroma .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

/* Light query colors */
body.theme-light .markdown-body .chroma.sgquery .c { color: #d9480f } /* Comment */
body.theme-light .markdown-body .chroma.sgquery .k { color: var(--search-keyword-color); font-weight: bold } /* Keyword */
body.theme-light .markdown-body .chroma.sgquery .nb { color: var(--search-filter-keyword-color) } /* Name.Builtin */
body.theme-light .markdown-body .chroma.sgquery .nf { color: #ae3ec9; font-weight: bold } /* Name.Function */
body.theme-light .markdown-body .chroma.sgquery .se { color: #af5200; background-color: transparent } /* Literal.String.Escape */
body.theme-light .markdown-body .chroma.sgquery .sr { color: #c92a2a; background-color: transparent } /* Literal.String.Regex */
body.theme-light .markdown-body .chroma.sgquery .dl { color: #d9480f; background-color: transparent } /* Literal.String.Delimiter */
body.theme-light .markdown-body .chroma.sgquery .sa { color: #1098ad } /* Literal.String.Affix */
body.theme-light .markdown-body .chroma.sgquery .ss { color: #c92a2a; background-color: transparent } /* Literal.String.Symbol */

/* Dark theme */
body.theme-dark .markdown-body .chroma .c { color: #75715e } /* Comment */
body.theme-dark .markdown-body .chroma .err { color: #960050; background-color: #1e0010 } /* Error */
body.theme-dark .markdown-body .chroma .k { color: #66d9ef } /* Keyword */
body.theme-dark .markdown-body .chroma .l { color: #ae81ff } /* Literal */
body.theme-dark .markdown-body .chroma .n { color: #f8f8f2 } /* Name */
body.theme-dark .markdown-body .chroma .o { color: #f92672 } /* Operator */
body.theme-dark .markdown-body .chroma .p { color: #f8f8f2 } /* Punctuation */
body.theme-dark .markdown-body .chroma .ch { color: #75715e } /* Comment.Hashbang */
body.theme-dark .markdown-body .chroma .cm { color: #75715e } /* Comment.Multiline */
body.theme-dark .markdown-body .chroma .cp { color: #75715e } /* Comment.Preproc */
body.theme-dark .markdown-body .chroma .cpf { color: #75715e } /* Comment.PreprocFile */
body.theme-dark .markdown-body .chroma .c1 { color: #75715e } /* Comment.Single */
body.theme-dark .markdown-body .chroma .cs { color: #75715e } /* Comment.Special */
body.theme-dark .markdown-body .chroma .gd { color: #f92672 } /* Generic.Deleted */
body.theme-dark .markdown-body .chroma .ge { font-style: italic } /* Generic.Emph */
body.theme-dark .markdown-body .chroma .gi { color: #a6e22e } /* Generic.Inserted */
body.theme-dark .markdown-body .chroma .gs { font-weight: bold } /* Generic.Strong */
body.theme-dark .markdown-body .chroma .gu { color: #75715e } /* Generic.Subheading */
body.theme-dark .markdown-body .chroma .kc { color: #66d9ef } /* Keyword.Constant */
body.theme-dark .markdown-body .chroma .kd { color: #66d9ef } /* Keyword.Declaration */
body.theme-dark .markdown-body .chroma .kn { color: #f92672 } /* Keyword.Namespace */
body.theme-dark .markdown-body .chroma .kp { color: #66d9ef } /* Keyword.Pseudo */
body.theme-dark .markdown-body .chroma .kr { color: #66d9ef } /* Keyword.Reserved */
body.theme-dark .markdown-body .chroma .kt { color: #66d9ef } /* Keyword.Type */
body.theme-dark .markdown-body .chroma .ld { color: #e6db74 } /* Literal.Date */
body.theme-dark .markdown-body .chroma .m { color: #ae81ff } /* Literal.Number */
body.theme-dark .markdown-body .chroma .s { color: #e6db74 } /* Literal.String */
body.theme-dark .markdown-body .chroma .na { color: #a6e22e } /* Name.Attribute */
body.theme-dark .markdown-body .chroma .nb { color: #f8f8f2 } /* Name.Builtin */
body.theme-dark .markdown-body .chroma .nc { color: #a6e22e } /* Name.Class */
body.theme-dark .markdown-body .chroma .no { color: #66d9ef } /* Name.Constant */
body.theme-dark .markdown-body .chroma .nd { color: #a6e22e } /* Name.Decorator */
body.theme-dark .markdown-body .chroma .ni { color: #f8f8f2 } /* Name.Entity */
body.theme-dark .markdown-body .chroma .ne { color: #a6e22e } /* Name.Exception */
body.theme-dark .markdown-body .chroma .nf { color: #a6e22e } /* Name.Function */
body.theme-dark .markdown-body .chroma .nl { color: #f8f8f2 } /* Name.Label */
body.theme-dark .markdown-body .chroma .nn { color: #f8f8f2 } /* Name.Namespace */
body.theme-dark .markdown-body .chroma .nx { color: #a6e22e } /* Name.Other */
body.theme-dark .markdown-body .chroma .py { color: #f8f8f2 } /* Name.Property */
body.theme-dark .markdown-body .chroma .nt { color: #f92672 } /* Name.Tag */
body.theme-dark .markdown-body .chroma .nv { color: #f8f8f2 } /* Name.Variable */
body.theme-dark .markdown-body .chroma .ow { color: #f92672 } /* Operator.Word */
body.theme-dark .markdown-body .chroma .w { color: #f8f8f2 } /* Text.Whitespace */
body.theme-dark .markdown-body .chroma .mb { color: #ae81ff } /* Literal.Number.Bin */
body.theme-dark .markdown-body .chroma .mf { color: #ae81ff } /* Literal.Number.Float */
body.theme-dark .markdown-body .chroma .mh { color: #ae81ff } /* Literal.Number.Hex */
body.theme-dark .markdown-body .chroma .mi { color: #ae81ff } /* Literal.Number.Integer */
body.theme-dark .markdown-body .chroma .mo { color: #ae81ff } /* Literal.Number.Oct */
body.theme-dark .markdown-body .chroma .sa { color: #e6db74 } /* Literal.String.Affix */
body.theme-dark .markdown-body .chroma .sb { color: #e6db74 } /* Literal.String.Backtick */
body.theme-dark .markdown-body .chroma .sc { color: #e6db74 } /* Literal.String.Char */
body.theme-dark .markdown-body .chroma .dl { color: #e6db74 } /* Literal.String.Delimiter */
body.theme-dark .markdown-body .chroma .sd { color: #e6db74 } /* Literal.String.Doc */
body.theme-dark .markdown-body .chroma .s2 { color: #e6db74 } /* Literal.String.Double */
body.theme-dark .markdown-body .chroma .se { color: #ae81ff } /* Literal.String.Escape */
body.theme-dark .markdown-body .chroma .sh { color: #e6db74 } /* Literal.String.Heredoc */
body.theme-dark .markdown-body .chroma .si { color: #e6db74 } /* Literal.String.Interpol */
body.theme-dark .markdown-body .chroma .sx { color: #e6db74 } /* Literal.String.Other */
body.theme-dark .markdown-body .chroma .sr { color: #e6db74 } /* Literal.String.Regex */
body.theme-dark .markdown-body .chroma .s1 { color: #e6db74 } /* Literal.String.Single */
body.theme-dark .markdown-body .chroma .ss { color: #e6db74 } /* Literal.String.Symbol */
body.theme-dark .markdown-body .chroma .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
body.theme-dark .markdown-body .chroma .fm { color: #a6e22e } /* Name.Function.Magic */
body.theme-dark .markdown-body .chroma .vc { color: #f8f8f2 } /* Name.Variable.Class */
body.theme-dark .markdown-body .chroma .vg { color: #f8f8f2 } /* Name.Variable.Global */
body.theme-dark .markdown-body .chroma .vi { color: #f8f8f2 } /* Name.Variable.Instance */
body.theme-dark .markdown-body .chroma .vm { color: #f8f8f2 } /* Name.Variable.Magic */
body.theme-dark .markdown-body .chroma .il { color: #ae81ff } /* Literal.Number.Integer.Long */

/* Dark query colors */
body.theme-dark .markdown-body .chroma.sgquery .c { color: #ffa94d } /* Comment */
body.theme-dark .markdown-body .chroma.sgquery .k { color: var(--search-keyword-color); font-weight: bold } /* Keyword */
body.theme-dark .markdown-body .chroma.sgquery .nb { color: var(--search-filter-keyword-color) } /* Name.Builtin */
body.theme-dark .markdown-body .chroma.sgquery .nf { color: #da77f2; font-weight: bold } /* Name.Function */
body.theme-dark .markdown-body .chroma.sgquery .se { color: #ffa8a8; background-color: transparent } /* Literal.String.Escape */
body.theme-dark .markdown-body .chroma.sgquery .sr { color: #ff6b6b; background-color: transparent } /* Literal.String.Regex */
body.theme-dark .markdown-body .chroma.sgquery .dl { color: #ffa94d; background-color: transparent } /* Literal.String.Delimiter */
body.theme-dark .markdown-body .chroma.sgquery .sa { color: #3bc9db } /* Literal.String.Affix */
body.theme-dark .markdown-body .chroma.sgquery .ss { color: #ff6b6b; background-color: transparent } /* Literal.String.Symbol */


/* Getting started links */
/* See campaign docs for examles */

.markdown-body .getting-started {
  display: flex;
  align-items: stretch;
  gap: 0.5em;
}

@media (max-width: 800px /* == var(--sidebar-breakpoint-width) */) {
    .markdown-body .getting-started {
        flex-direction: column;
    }
}

.markdown-body .getting-started .btn {
  flex: 1;
  padding: 1rem 1rem;
  color: var(--text-color);
  border-radius: 4px;
  border: 1px solid var(--sidebar-nav-active-bg);
  padding: 1.5rem;
  padding-top: 1.25rem;
}

.markdown-body .getting-started .btn span {
  color: var(--link-color);
  font-weight: bold;
}

.markdown-body .getting-started .btn p {
    margin: 0.5rem 0 0 0;
}

/* Home Page - index.md */
.markdown-body .w-100 {
    min-width: 100%;
}

.markdown-body .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    margin-bottom: 1em;
}

.markdown-body .btn-app {
    font-size: 0.85rem;
    cursor: pointer;
    text-decoration: none;
    padding-top: 1.5rem !important;
    width: 100%;
    border-radius: 1em;
    border: 2px solid var(--input-focus-border);
    color: var(--text-color);
    background-color: var(--sidebar-bg);
    text-align: center;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.markdown-body .btn-app:hover {
    box-shadow: 0 0 10px var(--link-color);
}

.markdown-body .btn-app > img {
    height: 4em;
}

.markdown-body .btn-app > p {
    margin-bottom: 0 !important;
}

.markdown-body .btn-app > h3 {
    font-size: 1.5em;
    font-weight: 400;
    margin-top: .2em;
    margin-bottom: 1em;
}

.markdown-body .btn-icon {
    font-weight: 500;
    text-align: center;
    color: var(--text-color);
}

.markdown-body .btn-app:hover, .btn-icon:hover {
    color: var(--link-color);
    box-shadow: 0 0 10px var(--link-color);
}

.markdown-body .btn-secondary {
    background-color: var(--sidebar-bg);
}

/* Cloud CTA */
a.cloud-cta {
    text-decoration: none;
}
.cloud-cta {
    background: #270741;
    min-height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}
.cloud-cta-copy {
    padding-right: 20px;
}
.cloud-cta h2 {
    color: #E8D1FF !important;
    margin: 0 0 4px 0 !important;
    font-size: 19px;
    line-height: 21px;
}
.cloud-cta h3,
.cloud-cta p {
    color: #ffffff;
    margin: 0;
}
.cloud-cta h3 {
    font-size: 15px;
    line-height: 17px;
}
.cloud-cta p {
    font-size: 14px;
    margin-top: 15px;
}
.cloud-cta-btn-container {
    margin-top: 20px;
    max-width: 179px;
    width: 100%;
}
.cloud-cta .visual-btn {
    background: #ffffff;
    color: #5033E1;
    width: 100%;
    padding: 6px 8px;
    border-radius: 3px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
}
.cloud-cta:hover .visual-btn {
    background: #5033E1;
    color: #ffffff;
}
@media (min-width: 640px /* --breakpoint-sm */) {
    .cloud-cta {
        flex-direction: row;
        align-items: center;
    }
    .cloud-cta-btn-container {
        margin: 0 0 0 auto;
    }
}
@media (min-width: 1024px /* --breakpoint-lg */) {
    .cloud-cta {
        background: #270741 url('/assets/cloud-cta-illustration.svg') no-repeat left top;
    }
    .cloud-cta-copy {
        margin-left: 115px;
    }
    .cloud-cta-btn-container {
        margin: 0 40px 0 auto;
    }
}

/* Markprompt */

body {
    --markprompt-background: var(--body-bg);
    --markprompt-foreground: var(--text-color);
    --markprompt-muted: #F4F9FE;
    --markprompt-mutedForeground: var(--text-muted);
    --markprompt-border: var(--border-color);
    --markprompt-input: #ffffff;
    --markprompt-primary: var(--link-color);
    --markprompt-primaryForeground: #ffffff;
    --markprompt-primaryMuted: #1986ea55;
    --markprompt-secondary: #F5F5F5;
    --markprompt-secondaryForeground: #171717;
    --markprompt-primaryHighlight: #A112FF;
    --markprompt-secondaryHighlight: #00CBEC;
    --markprompt-overlay: #00000090;
    --markprompt-ring: #00CBEC;
    --markprompt-radius: 8px;
    --markprompt-text-size: .875rem;
    --markprompt-button-icon-size: 1rem;
    --markprompt-icon-stroke-width: 2px;
}

body.theme-dark {
    --markprompt-muted: var(--sidebar-bg);
}

.MarkpromptForm, .MarkpromptSearchAnswerButton, .MarkpromptContent input, .MarkpromptContent button {
    font-family: "Source Sans Pro", -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.MarkpromptClose {
    margin-top: 2px;
}

.MarkpromptContent {
    z-index: 50;
    outline: none !important;
}

:where([aria-selected='false'] .MarkpromptSearchResultLink) {
    color: var(--markprompt-foreground) !important;
}

:where([aria-selected='true'] .MarkpromptSearchResultLink) {
    color: white !important;
}

.MarkpromptSearchResultLink:hover {
    text-decoration: none !important;
}

.MarkpromptSearchResultTag {
    background-color: #ffffff20 !important;
}

.MarkpromptSearchResultIconWrapperBordered {
    background-color: #ffffff20 !important;
}

.MarkpromptSearchAnswerButton {
    color: var(--text-color);
}

#markprompt {
    width: 100%;
}

.MarkpromptSearchBoxTrigger {
    display: block;
    border: 1px solid var(--input-border-color);
    background-color: var(--body-bg);
    color: var(--text-muted);
    border-radius: 4px;
    padding: 4px 0;
    box-sizing: border-box;
    cursor: text;
    width: 100%;
    text-align: left;
}

.MarkPromptSearchBoxTriggerText, .MarkpromptSearchBoxTriggerText {
    display: flex;
    align-items: center;
    gap: 8px;
}

.MarkPromptSearchBoxTriggerText svg, .MarkpromptSearchBoxTriggerText svg {
    stroke-width: 2px;
    color: var(--link-color);
}

.MarkpromptSearchBoxTrigger kbd {
    display: none;
}

.markprompt-search-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: calc(2*var(--spacing));
    justify-content: center;
}

.MarkpromptSearchAnswerButton:focus,
.MarkpromptSearchAnswerButton:focus kbd svg {
    color: #ffffff;
}

.MarkpromptOverlay {
    z-index: 99 !important;
}

.MarkpromptContentDialog {
    z-index: 100 !important;
}


.dialog-slide-up {
    animation-name: dialog-slide-up;
    animation-duration: 150ms !important;
    animation-fill-mode: both;
    transition-timing-function: ease-in-out;
}

@keyframes dialog-slide-up {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.markprompt-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 4rem;
    background: #000000bb;
    pointer-events: none;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 150ms;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.markprompt-dialog {
    width: 100%;
    max-width: 48rem;
    width: 100%;
    max-width: 48rem;
    height: 100%;
    max-height: 32rem;
    border-radius: 0.375rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 0;
    border: 1px solid var(--input-border-color);
    background-color: var(--body-bg);
}

markprompt-content {
    --primary-color: var(--link-color);
    --accent-color: var(--link-color);
    --background-color: var(--body-bg);
    --border-color: var(--border-color);
    --text-color: var(--text-color);
    --link-color: var(--link-color);
    --input-bg-color: var(--body-bg);
    --input-placeholder-color: var(--text-muted);
    --search-icon-color: var(--text-muted);
    --result-bg-color: var(--sidebar-bg);
    --reference-item-bg-color: var(--body-bg);
    --reference-item-bg-color-hover: var(--sidebar-bg);
    --caret-color: var(--link-color);
}

markprompt-content.dark {
    --primary-color: var(--link-color);
    --accent-color: var(--link-color);
    --background-color: var(--body-bg);
    --border-color: var(--input-border-color);
    --text-color: var(--text-color);
    --link-color: var(--link-color);
    --input-bg-color: var(--sidebar-bg);
    --input-placeholder-color: var(--link-color);
    --search-icon-color: var(--link-color);
    --result-bg-color: var(--body-bg);
    --reference-item-bg-color: var(--body-bg);
    --reference-item-bg-color-hover: var(--sidebar-bg);
    --caret-color: var(--link-color);
}

#markprompt-button {
    all: unset;
    color: var(--markprompt-mutedForeground);
    cursor: pointer;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

#markprompt-button:hover {
    color: var(--link-color);
}

body > #markprompt-button svg {
    margin-right: 0;
}

#sidebar ul ul li {
    margin-left: -1px;
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
}

#sidebar ul ul li a {
    cursor: pointer;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

body.theme-dark .markdown-body p,
body.theme-dark .markdown-body ul,
body.theme-dark .markdown-body li {
    color: #94a5b8;
}

body.theme-light .markdown-body p,
body.theme-light .markdown-body ul,
body.theme-light .markdown-body li {
    color: #171717;
}

.toc-bottom {
    margin-top: 1.75rem;
    padding-top: 1.25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    border-top: solid 1px rgb(21 22 50);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(161, 161, 161);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(161, 161, 161);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(161, 161, 161);
}

.markdown-body ul {
    padding-left: 12px;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.markdown-body li {
    padding-left: 12px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.theme-light .markdown-body h2 {
    border-color: rgb(21 22 50 / 15%);
}

.theme-light .toc-bottom {
    border-top: solid 1px rgb(21 22 50 / 15%);
}
body.theme-light > #sidebar .nav-section ul ul li.active-subsection a,
body.theme-light > #sidebar nav .current > a,
body.theme-light #content > .breadcrumbs > .active,
.theme-light a:hover {
    color: #000018;
}

body.theme-light > #sidebar .nav-section ul ul li.active-subsection{
    border-left: solid 1px #000018;
}
body > #sidebar .current > a  {
    font-weight: bold;
}

.hidden {
    display: none;
}

pre.chroma.js,
pre.chroma.sgquery {
    position: relative;
    margin: 5px 0;
    padding: 1.75rem 0 1.5rem 1rem;
    border-radius: 5px;
}

pre.chroma.js button,
pre.chroma.sgquery button {
    position: absolute;
    top: 5px;
    right: 0px;
    border: none;
    background: none;
    cursor: pointer;
    color: #a1a1a1;
    outline: none;
    padding: 5px 10px 0 0;
}

@media (min-width: 1350px) {
    .markdown-body {
        max-width: 665px;
        margin: unset;
    }
}

@media (max-width: 1350px) {
    .markdown-body {
        max-width: 600px;
    }
}

@media (min-width: 1280px) {
    .xl\:block {
        display: block;
    }

    body > #sidebar {
        margin-left: calc(6*var(--spacing));
    }

     #content > .breadcrumbs {
        display:flex;
    }
}

@media (max-width: 1280px) {
    #index {
        display:none;
    }
    body > #sidebar {
        margin-left: calc(2*var(--spacing));
    }
    #content > .breadcrumbs {
        display:none;
    }
    .markdown-body {
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    body > #sidebar {
        background-color: var(--sidebar-bg);
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1590px;
    }

    .markdown-body {
        max-width: 1100px;
    }

    .markdown-body :is(img, picture, video, object, iframe) {
        max-width: 665px;
    }
}
