:root {
    /* TODO(ryan): fine-tune what variables are needed. */
    --primary: #1c7ed6;
    --secondary: #2b3750;
    --success: #37b24d;
    --info: #1098ad;
    --warning: #f59f00;
    --danger: #f03e3e --dropdown-bg: #fff;
    --dropdown-border-color: #cad2e2;
    --dropdown-link-hover-bg: #f2f4f8;
    --dropdown-header-color: #6d727c;
    --body-color: #2b3750;
    --body-bg: #fbfdff;
    --text-muted: #6d727c;
    --link-color: #0055c5;
	--link-hover-color: #1986ea;
    --body-bg: #fbfdff;
    --text-muted: #6d727c;
    --secondary: #e1e6ef;
    --border-color: #cad2e2;
    --body-bg: #ffffff;
    --text-muted: #{$color-light-text-2};
    --dropdown-bg: #{$color-light-bg-1};
    --dropdown-border-color: #{$color-light-border};
}

body {
    /* Flexbox is not used for docs site */
    /* Ignore root flex layout from Sourcegraph theme */
    display: block !important;
    flex: none !important;
    margin: 0;
    padding: 0;
    height: inherit;
}

a {
    color: var(--link-color);
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline
}

code {
    white-space: pre;
}

.global-navbar {
    flex: 0 0 2.75rem;
    width: 100%;
    z-index: 200;
}

.global-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Fix for fixed navbar */

@media screen and (min-width: 768px) {
    h2[id]:before, h3[id]:before {
        display: block;
        content: " ";
        margin-top: -84px;
        height: 75px;
        visibility: hidden;
    }
}

.btn-outline {
    /* color: #e1e6ef; */
    border-color: rgba(0, 0, 0, .15);
}

.root-layout {
    display: block;
    margin: 0;
}

.section-content {
    display: block;
    position: relative;
    margin: auto;
    max-width: 980px;
}

/* Create non-flexbox grid system for docs */

.column {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    min-height: 2px;
    display: inline-block;
    margin-right: -4px;
}

.large-12 {
    width: 100%;
}

.large-11 {
    width: 91.66667%;
}

.large-10 {
    width: 83.33334%;
}

.large-10 {
    width: 83.33334%;
}

.large-9 {
    width: 75%;
}

.large-8 {
    width: 66.66667%;
}

.large-7 {
    width: 58.33334%;
}

.large-6 {
    width: 50%;
}

.large-5 {
    width: 41.66667%;
}

.large-4 {
    width: 33.33334%;
}

.large-3 {
    width: 25%;
}

.large-2 {
    width: 16.66667%;
}

.large-1 {
    width: 8.33333%;
}

/* Large Viewport */

@media screen and (min-width: 1020px) {
    .large-push-2 {
        margin-left: 16.66667%;
    }
    .large-push-1 {
        margin-left: 8.33333%;
    }
}

/* Medium Viewport */

@media screen and (min-width: 768px) and (max-width: 1020px) {
    .medium-12 {
        width: 100%;
    }
    .medium-11 {
        width: 91.66667%;
    }
    .medium-10 {
        width: 83.33334%;
    }
    .medium-10 {
        width: 83.33334%;
    }
    .medium-9 {
        width: 75%;
    }
    .medium-8 {
        width: 66.66667%;
    }
    .medium-7 {
        width: 58.33334%;
    }
    .medium-6 {
        width: 50%;
    }
    .medium-5 {
        width: 41.66667%;
    }
    .medium-4 {
        width: 33.33334%;
    }
    .medium-push-3 {
        margin-left: 25%;
    }
    .medium-3 {
        width: 25%;
    }
    .medium-push-2 {
        margin-left: 16.66667%;
    }
    .medium-2 {
        width: 16.66667%;
    }
    .medium-1 {
        width: 8.33333%;
    }
}

/* Small Viewport */

@media screen and (max-width: 768px) {
    .small-12 {
        width: 100%;
    }
    .small-11 {
        width: 91.66667%;
    }
    .small-10 {
        width: 83.33334%;
    }
    .small-10 {
        width: 83.33334%;
    }
    .small-9 {
        width: 75%;
    }
    .small-8 {
        width: 66.66667%;
    }
    .small-7 {
        width: 58.33334%;
    }
    .small-6 {
        width: 50%;
    }
    .small-5 {
        width: 41.66667%;
    }
    .small-4 {
        width: 33.33334%;
    }
    .small-push-3 {
        margin-left: 25%;
    }
    .small-3 {
        width: 25%;
    }
    .small-push-2 {
        margin-left: 16.66667%;
    }
    .small-2 {
        width: 16.66667%;
    }
    .small-1 {
        width: 8.33333%;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: between;
    height: 100%;
    justify-content: space-between;
    flex: 0 0 2.75rem;
    width: 100%;
    z-index: 200
}

/* Global Nav Layout */

.global-navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: saturate(240%) blur(14px);
    backdrop-filter: saturate(240%) blur(14px);
}

@media screen and (max-width: 768px) {
    .global-navbar {
        position: absolute;
        top: 0;
    }
}

.nav-content {
    height: 100%;
    padding: 0 1rem;
    border-bottom: 1px solid #eaecee;
}

/* devices with notch support */

@supports (padding: max(1rem)) {
    .nav-content {
        padding-left: max(1rem, env(safe-area-inset-left));
        padding-right: max(1rem, env(safe-area-inset-right));
    }
}

.nav-header {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
}

.nav-links {
    flex: 1 0;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.25rem;
    white-space: nowrap;
}

.nav-logo {
    flex: 0 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: inherit;
    text-decoration: none;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-right: 0.5rem;
    text-align: left;
}

.nav-logo-image {
    width: 220px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
}

.nav-logo-image-small {
    width: 80px;
}

.form-inline {
    margin: 0;
    align-self: flex-end;
}

.nav-link-container {
    list-style: none;
    margin: 0;
}

.nav-link {
    margin-left: 0;
    float: left;
    list-style: none;
}

.nav-state, .mobile-nav-button {
    display: none;
}

.version-dropdown {
    position: relative;
    top: 1px;
}

.dropdown-item {
    cursor: pointer;
}

.monospace-text {
    font-family: 'SF Mono', Menlo, monospace;
}

.current-branch {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 8px;
    letter-spacing: 0.04rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 1.5px solid #566e9f;
    border-radius: 2px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 3px;
    padding: 1px 2px;
}

.active .current-branch, a:active .current-branch {
    border: 1.5px solid #ffffff;
}

/* Nav iOS */

@media screen and (max-width: 1020px) {
    .nav-logo {
        display: inline-block;
        width: calc(100% - 60px);
    }
    input[type='checkbox'].nav-state, .mobile-nav-button {
        position: absolute;
        display: block;
        top: 4px;
        right: 1rem;
        height: 50px;
        width: 50px;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23babcbe' d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z' /%3E%3C/svg%3E");
    }
    input[type='checkbox'].nav-state:hover, .mobile-nav-button:hover {
        cursor: pointer;
    }
    /* devices with notch support */
    @supports (right: max(1rem)) {
        input[type='checkbox'].nav-state, .mobile-nav-button {
            right: max(1rem, env(safe-area-inset-right));
        }
    }
    .nav-state {
        display: none;
        z-index: 9999;
        opacity: 0;
    }
    .mobile-nav-button {
        z-index: 9998;
    }
    .nav-state:not(:checked)+.nav-content .nav-container .nav-links {
        top: -100%;
        opacity: 0;
    }
    .nav-state:checked+.nav-content .nav-container .nav-links {
        display: flex;
        opacity: 1;
    }
    .nav-container {
        display: block;
        z-index: 9999;
    }
    .nav-links {
        transition: opacity 0.3s ease-in-out;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-flow: column;
        top: 74px;
        position: fixed;
        z-index: 9990;
        background: #ffffff;
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);
        right: 0.5rem;
        left: 0.5rem;
        padding: 1rem 1.5rem 1rem;
        border-radius: 6px;
        width: auto;
        margin: 0;
    }
    /* devices with notch support */
    @supports (left: max(0.5rem)) {
        .nav-links {
            left: max(0.5rem, env(safe-area-inset-left));
            right: max(0.5rem, env(safe-area-inset-right));
        }
    }
    .nav-link-container {
        display: block;
        order: 2;
        width: 100%;
        list-style: none;
        margin: 0;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    .nav-link {
        margin: 1rem 0;
        padding: 0;
        display: block;
        float: none;
        width: 100%;
        height: 32px;
    }
    .nav-link a {
        display: block;
        text-align: center;
        padding: 7px 4px;
        width: 100%;
        background-color: #e1e6ef;
        border: 1px solid #e1e6ef;
        border-radius: 2px;
        color: #212529;
        transition: background-color 200ms ease;
    }
    .nav-link a:hover {
        text-decoration: none;
        background-color: #c9d1e2;
    }
    .form-inline {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        width: 100%;
        align-self: flex-start;
        flex-wrap: nowrap;
        flex-shrink: 1;
        order: 1;
    }
    .nav-search {
        display: flex;
        flex-grow: 1;
        width: auto;
        min-width: 0;
    }
    .nav-search-button {
        display: inline-block;
        margin-right: 0;
    }
}

.nav-sticky-wrapper {
    height: 100%;
    position: absolute;
}

.content-nav {
    position: -webkit-sticky;
    position: sticky;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: calc(100% - 70px);
    padding-bottom: 2rem;
    padding-top: 0;
    max-height: calc(100vh - 70px);
    top: 70px;
    padding-top: 4px;
    overflow-scrolling: touch;
}

.content-nav-section {
    list-style: none;
    padding-left: 0;
}

.content-nav-home {
    margin-bottom: 0.6rem;
}

.content-nav-section li {
    list-style: none;
}

.content-nav-section .close--icon+li {
    padding-right: 17px;
}

.content-nav-section li a {
    transition: all 200ms ease;
    color: #405377;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-nav-section li a:hover {
    text-decoration: none;
    color: #242e42;
}

.content-nav>ul {
    border-top: 1px solid #eaeaea;
    padding-right: 8px;
    padding-top: 0.5rem;
}

.content-nav>ul:first-of-type {
    border-top: none;
}

.content-nav>ul ul {
    padding-left: 0;
}

.content-nav>ul li {
    padding-left: 10px;
}

a.content-nav-section-header {
    display: block;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: #242e42 !important;
}

.content-nav-section-group {
    line-height: normal;
}

.content-nav-section-group>li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 2px;
    transition: all 250ms ease;
}

.content-nav-section-group li:hover {
    background-color: rgba(27, 31, 35, 0.05);
}

li.content-nav-no-hover:hover {
    background-color: inherit;
}

.content-nav-section-group li.selected {
    background-color: var(--primary);
}

.content-nav-section-group li.selected a {
    color: white;
}

.content-nav-section-group>li:first-of-type {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.content-nav-section-group>li>a {
    font-size: 14px;
    font-weight: 500;
}

.content-nav-section-group li a {
    display: block;
    width: 100%;
}

.content-nav-section-subsection {
    padding-top: 0;
    border-left: 1px solid #0d97ff;
    background-color: none;
}

.content-nav-section-subsection li {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.content-nav-section-subsection a {
    font-size: 14px;
    color: #2c3850;
}

.content-nav-section:last-of-type {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 0.6rem;
}

.content-nav-section.expandable {
    position: relative;
    margin-bottom: 0.6rem;
    transition: height 350ms ease;
}

.content-nav-section.expandable .close--icon, .content-nav-section.expandable .close--icon svg {
    height: 16px;
    width: 16px;
}

.content-nav-section.expandable .close--icon {
    z-index: 800;
    top: 11px;
    display: block;
    right: 0.5rem;
    position: absolute;
}

.content-nav-section.expandable .close--icon svg path {
    transition: transform 200ms ease;
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
}

.content-nav-section.expandable.expanded .close--icon svg path {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
}

.content-nav-section.expandable>li {
    transition: all 200ms ease;
    overflow: hidden;
    max-height: 22px;
}

.content-nav-section.expandable.expanded>li {
    overflow: hidden;
    max-height: 10000%;
    height: auto;
}

.content-nav-button {
    cursor: pointer;
    z-index: 900;
    opacity: 0;
    top: 0px;
    width: 34px;
    height: 40px;
    display: block;
    right: 0;
    position: absolute;
}

/* Page (Right Hand) Nav */

.page-nav {
    position: fixed;
    right: 0;
    top: 135px;
    padding-bottom: 2rem;
}

.page-nav-title {
    border-bottom: 1px solid #eaeaea;
}

.content-nav-wrapper {
    border-right: 1px solid #eaecee;
    padding-left: env(safe-area-inset-left);
}

.page-nav>ul {
    padding-left: var(--spacing);
}

.page-nav>ul ul {
    padding-left: 4px;
}

.page-nav>ul li {
    list-style: none;
    line-height: normal;
    padding-left: 10px;
    text-indent: -11px;
    padding-top: 8px;
}

.page-nav>ul li::before {
    content: '\203A\00a0';
}

/* Docs Content layout */

.docs-content {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.docs-content-section {
    padding: 0 1rem 2rem;
}

/* Docs breadcrumbs */

.breadcrumbs {
    margin-top: 84px;
    font-size: 12px;
    margin-bottom: 0.75rem;
}

.breadcrumbs>.active {
    color: inherit;
    opacity: 0.8;
}

.content-nav-mobile-checkbox, .content-nav-mobile-button {
    display: none;
}

@media screen and (max-width: 768px) {
    .content-nav-wrapper {
        border: none;
    }
    /* Give space at bottom of div for breadcrumbs */
    .docs-content-section .markdown-body {
        padding: 1rem 0;
    }
    .mobile-search {
        margin: 1rem 0 0;
    }
    .breadcrumbs {
        z-index: 9999;
        margin-top: 0;
        vertical-align: middle;
        position: -webkit-sticky;
        position: sticky;
        top: 12px;
        margin-top: 70px;
        margin-bottom: 16px;
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-backdrop-filter: saturate(240%) blur(12px);
        backdrop-filter: saturate(240%) blur(12px);
        padding: 1rem 1rem;
        border-radius: 6px;
        border: 1px solid #eaeaea;
        box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    }
    .breadcrumb-links {
        margin-left: 42px;
        display: block;
    }
    .content-nav-mobile-button {
        display: inline-block;
        float: left;
        position: absolute;
        width: 28px;
        height: 28px;
        margin-right: 12px;
        top: 50%;
        transform: translateY(-28%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath d='M0,9.61 L1.31775701,11 L6,6 L1.31775701,1 L0,2.39 L3.3271028,6 L0,9.61 L0,9.61 Z M18,0 L5,0 L5,2 L18,2 L18,0 L18,0 Z M18,7 L18,5 L8,5 L8,7 L18,7 L18,7 Z M18,12 L18,10 L5,10 L5,12 L18,12 Z' id='Shape'%3E%3C/path%3E%3C/svg%3E");
    }
    .content-nav {
        top: 20px;
        height: calc(100% - 12px);
    }
    .content-nav-mobile-state {
        opacity: 0;
        display: pointer;
        z-index: 9999;
        display: block;
        position: absolute;
        top: 0;
        left: 4px;
        width: 46px;
        height: 100%;
    }
    .content-nav-wrapper {
        display: none;
    }
    .content-nav {
        display: none;
    }
    .content-nav.mobile-show {
        display: block;
        position: -webkit-sticky;
        position: sticky;
        background-color: #ffffff;
        top: 78px;
        border-radius: 6px;
        border: 1px solid #eaeaea;
        box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
        height: calc(100vh - 140px);
    }
    .content-nav.mobile-show>ul:last-of-type {
        margin-bottom: 5rem;
    }
    .content-nav-wrapper {
        z-index: 99;
        display: block;
        /**
         * height: 100%;
         * FIXME
         *
         * Disabled because when the height is 100%, it also covers the
         * content section, so while the content remains visible, it is
         * unable to be interacted width.
         *
         * Setting the height to 125px is sufficient for the breadcrumb
         * nav to still work.
         */
        height: 125px;
        width: auto;
        position: absolute;
        left: 1rem;
        right: 1rem;
    }
    .content-nav-wrapper.mobile-show .content-nav {
        padding-left: 20px;
        padding-right: 20px;
    }
    body.fix-body {
        overflow: hidden;
        position: relative;
    }
    .content-nav-section:nth-of-type(2) {
        border-top: 1px solid #eaeaea !important;
    }
    .page-nav {
        position: relative;
        top: 135px;
        border-bottom: 1px solid #eaeaea;
        padding: 1rem 1rem 135px;
    }
    #home .page-nav {
        top: 135px;
    }
}

/* Footer */

/* Code pulled from about.sourcegraph.com footer */

/* This sound not be modified */

.footer-content-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    flex: 1 0 auto;
    max-width: 1140px;
}

.footer__block {
    background: #151c28;
    color: #7a8fb8;
    padding: 4rem 0 1rem 0;
    overflow: hidden;
}

.footer__block .small__contact {
    padding-top: 1.5rem;
    margin-bottom: -2rem;
}

@media screen and (min-width: 768px) {
    .footer__block .small__contact {
        display: none;
    }
}

.footer__block .logo__section a {
    color: #afbcd4;
}

.footer__block .logo__section .footer__logo {
    padding: 0 0 1.25rem 0;
    margin: 0 0 0 -8px;
}

@media screen and (max-width: 768px) {
    .footer__block .logo__section {
        padding-bottom: 0.2rem;
        margin-top: -2.5rem;
    }
    .footer__block .logo__section .footer__contact {
        display: none;
    }
}

.footer__block .footer__extend {
    transition: all 0.3s ease-in-out;
}

.footer__block .footer__extend * {
    transition: all 0.3s ease-in-out;
}

.footer__block .footer__extend h3 {
    cursor: pointer;
}

.footer__block .footer__extend ul {
    overflow: hidden;
    padding-left: 0;
}

@media screen and (max-width: 768px) {
    .footer__block .footer__extend ul li {
        transition: all 0.3s ease-in-out;
        position: relative;
        top: -60px;
        overflow: hidden;
    }
}

@media screen and (min-width: 768px) {
    .footer__block .footer__extend input, .footer__block .footer__extend .close--icon {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .footer__block .footer__extend {
        padding-top: 6px;
        border-top: solid 1px #7a8fb8;
    }
    .footer__block .footer__extend:last-of-type {
        border-bottom: solid 1px #7a8fb8;
    }
    .footer__block .footer__extend.community .close--icon, .footer__block .footer__extend.company .close--icon, .footer__block .footer__extend.features .close--icon, .footer__block .footer__extend.resources .close--icon {
        height: 18px;
        width: 18px;
        position: absolute;
        top: calc(1rem - 8px);
        right: 1rem;
        transition: all 0.3s ease-in-out;
        transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .footer__block .footer__extend.community .close--icon svg, .footer__block .footer__extend.company .close--icon svg, .footer__block .footer__extend.features .close--icon svg, .footer__block .footer__extend.resources .close--icon svg {
        height: 18px;
        width: 18px;
    }
    .footer__block .footer__extend.community .close--icon svg path, .footer__block .footer__extend.company .close--icon svg path, .footer__block .footer__extend.features .close--icon svg path, .footer__block .footer__extend.resources .close--icon svg path {
        fill: #7a8fb8;
    }
    .footer__block .footer__extend.community li:last-child, .footer__block .footer__extend.company li:last-child, .footer__block .footer__extend.features li:last-child, .footer__block .footer__extend.resources li:last-child {
        padding-bottom: 0.5rem;
    }
    .footer__block .footer__extend.community input, .footer__block .footer__extend.company input, .footer__block .footer__extend.features input, .footer__block .footer__extend.resources input {
        width: 100%;
        height: 2rem;
        position: absolute;
        top: 0px;
        opacity: 0;
        cursor: pointer;
        z-index: 9999;
    }
    .footer__block .footer__extend.community input+ul, .footer__block .footer__extend.company input+ul, .footer__block .footer__extend.features input+ul, .footer__block .footer__extend.resources input+ul {
        display: hidden;
        height: 0px;
        padding: 0;
    }
    .footer__block .footer__extend.community input:checked+ul, .footer__block .footer__extend.company input:checked+ul, .footer__block .footer__extend.features input:checked+ul, .footer__block .footer__extend.resources input:checked+ul {
        display: block;
        height: auto;
    }
    .footer__block .footer__extend.community input:checked+ul li, .footer__block .footer__extend.company input:checked+ul li, .footer__block .footer__extend.features input:checked+ul li, .footer__block .footer__extend.resources input:checked+ul li {
        transition: all 0.3s ease-in-out;
        display: block;
        top: 0px;
    }
    .footer__block .footer__extend.community input:checked~.close--icon, .footer__block .footer__extend.company input:checked~.close--icon, .footer__block .footer__extend.features input:checked~.close--icon, .footer__block .footer__extend.resources input:checked~.close--icon {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.footer__block .social__column .icon {
    margin-left: 1rem;
}

.footer__block .social__column .icon svg path {
    fill: #566e9f;
}

.footer__block .social__column .icon:hover svg path {
    fill: #0e121b;
}

.footer__block .social__column img, .footer__block .social__column .btn {
    margin-bottom: 1rem;
}

.footer__block .social__column .copyright {
    color: #566e9f;
}

.footer__block h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.footer__block ul {
    color: #afbcd4;
    margin: 0;
    list-style: none;
}

.footer__block ul li {
    margin-bottom: 0.5rem;
}

.footer__block ul li a {
    color: #afbcd4;
}

.footer__block ul li a:hover {
    color: #f2f4f8;
    text-decoration: underline;
}

.footer__block .copyright__container {
    margin: 3rem 0 0 0;
    padding-top: 1rem;
    border-top: 2px solid #405377;
}

.footer__block .copyright__container .copyright {
    float: left;
}

@media screen and (max-width: 768px) {
    .footer__block .copyright__container .copyright {
        float: none;
    }
}

.footer__block .copyright__container .terms {
    float: right;
}

.footer__block .copyright__container .terms a {
    margin-left: 2rem;
}

@media screen and (max-width: 768px) {
    .footer__block .copyright__container .terms {
        float: none;
    }
    .footer__block .copyright__container .terms a:first-of-type {
        margin-left: 0rem;
    }
}

.align-footer {
    align-content: flex-end !important;
}

@media screen and (max-width: 992px) {
    .align-footer {
        padding-top: 2rem;
    }
}

.align-footer * {
    align-self: center;
}

/* Mobile devices with notch support. This must use a px value to compare sizes */

@supports (padding: max(0px)) {
    .footer__block {
        padding-left: max(0px, env(safe-area-inset-left));
        padding-right: max(0px, env(safe-area-inset-right));
    }
}

/* Helpers */

/* Display helpers that should be loaded last */

@media screen and (max-width: 768px) {
    .small-hidden {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
    .medium-hidden {
        display: none;
    }
}

@media screen and (min-width: 1020px) {
    .large-hidden {
        display: none;
    }
}

.version-dropdown .dropdown-item {
    padding: 0.5rem 1rem;
}
