.site-admin-telemetry-page {
    &__error {
        color: $color-danger;
    }
}

.telemetry-sample {
    padding: 0.5rem 0;
    max-height: 24rem;
    line-height: normal;
    display: flex;
    border-top: solid 1px $color-light-border;

    &__body {
        flex: 1;
        padding: 0.25rem;
        margin-bottom: 0;
        white-space: pre-wrap;
    }

    &__btn-container {
        text-align: right;
        flex: 0 0 auto;
        margin: 0 0.25rem;
        min-width: 5rem;
    }

    &__btn {
        min-width: 4rem;
    }
}

.theme-light {
    .telemetry-sample {
        &__body {
            &-expanded {
                background-color: $color-light-bg-2;
            }
        }
    }
}
