@import './SiteAdminAllUsersPage';
@import './SiteAdminConfigurationPage';
@import './SiteAdminOrgsPage';
@import './SiteAdminOverviewPage';
@import './SiteAdminRepositoriesPage';
@import './SiteAdminSidebar';
@import './SiteAdminTelemetryPage';

.site-admin-area {
    flex: 1 1 auto;
    display: flex;
    margin-top: 1rem;
    line-height: 1.5rem;
    overflow: hidden;

    &__content {
        flex: 1 1 auto;
        padding: 2rem;
        background-color: #0e121b;
        overflow-y: auto;
    }
}

.theme-light {
    .site-admin-area {
        border: 1px solid $color-light-border;

        &__content {
            background-color: inherit;
        }
    }
}

@media (max-width: $media-lg) {
    .site-admin-area {
        border-width: 1px 0 0 0 !important;
    }
}

@media (min-width: $media-lg) {
    .site-admin-area {
        border-radius: 0.25rem;
    }
}
