.site-admin-configuration-page {
    &__config {
        margin-top: 1rem;
    }

    &__alert {
        margin: 0.5rem 0 1rem;
        p:last-child,
        ul:last-child {
            margin-bottom: 0;
        }

        &-item {
            margin-left: 1rem;
        }

        &-flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__editor-actions {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;
    }

    &__editor-action {
        margin: 0.25rem 0.5rem 0.25rem 0;
        flex: 0 auto;
    }
}
