@import './DetailList';

.site-admin-overview-page {
    &__list {
        list-style-type: none;
        margin: -0.75rem -0.5rem;
    }

    &__item {
        padding: 0.5rem;
        margin: 0.75rem 0.5rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        border: 1px solid #2b3750;
        border-radius: 0.125rem;

        &-header {
            font-size: 20px;
            font-weight: bold;
            white-space: nowrap;
            &-link {
                color: $color-text;
                display: flex;
                align-items: center;
            }
            &-icon {
                margin-right: 0.5rem;
            }
        }
        &-actions {
            padding-left: 0.75rem;
            margin: -0.25rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
        }
        &-action {
            margin: 0.25rem;
            display: inline-flex;
            align-items: center;
            white-space: pre;
        }
    }
}

.theme-light {
    .site-admin-overview-page {
        &__item {
            border-color: $color-light-border;
            &-header {
                &-link {
                    color: $color-light-text-1;
                }
            }
        }
    }
}
