@import './DetailList';

.site-admin-repositories-page {
    &__actions {
        flex: 1;
    }

    &__repo {
        &-enabled {
            color: $color-success;
        }
        &-disabled {
            color: $color-error;
        }
    }
}
