.search-usage-stats {
    &__header {
        display: flex;

        &__title {
            flex: 1;
        }
        &__input {
            flex: 0;
        }
    }

    &__top-queries {
        width: 100%;

        &__entry {
            border-bottom: 1px solid $table-border-color;

            .theme-light & {
                border-bottom: 1px solid $table-border-color-light;
            }

            &:last-of-type {
                border-bottom: none;
            }

            &__cell {
                padding: 0.625rem;
            }
        }
    }
}
