.add-external-services-page {
    &__button {
        display: block;
    }
}

.add-external-services-page__active-card {
    display: block;
    margin-bottom: 1rem;
    transition: all 150ms ease;

    &:hover {
        text-decoration: none;
        transform: translateY(-2px);
    }

    .theme-dark & {
        color: $color-text;
        &:hover {
            box-shadow: 0 6px 12px 2px rgba(13, 108, 255, 0.125);
        }
    }

    .theme-light & {
        color: $color-light-text-1;
        &:hover {
            box-shadow: 0 6px 10px 0 rgba(7, 61, 144, 0.05);
        }
    }
}

.external-services-form {
    &__quick-configure-button {
        margin: 0.25rem 0.25rem 0.25rem 0;
    }
    &__quick-configure-label {
        font-weight: bold;
    }
}
