.root {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    justify-content: center;
}

.header {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin: -1.5rem auto 0.5rem;

    &-step {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    &-step-number {
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        border-radius: 50%;

        :global(.theme-light) & {
            color: var(--white);
            border: 2px solid var(--body-bg);
            background-color: var(--purple);

            &--completed {
                color: #b99dcc;
                background-color: #dccde7;
            }

            &--disabled {
                color: var(--text-muted);
                background-color: #d9d9d9;
            }
        }

        :global(.theme-dark) & {
            color: var(--gray-01);
            border: 2px solid var(--gray-01);
            background-color: var(--purple);

            &--completed {
                color: #b99dcc;
                background-color: #dccde7;
            }

            &--disabled {
                color: var(--text-muted);
                background-color: var(--gray-03);
            }
        }
    }

    &-step-label {
        font-weight: normal;
    }
}

.content {
    width: 100%;
    flex-grow: 1;
    margin: auto;
    max-width: 55rem;
    padding: 0.5rem;
}

.actions {
    width: 100%;
}

.navigation {
    display: flex;
    position: sticky;
    bottom: 0;
    background-color: var(--gray-02);
    border-top: 1px solid var(--border-color);

    :global(.theme-dark) & {
        background-color: var(--color-bg-2);
    }

    &-inner {
        display: flex;
        flex-grow: 1;
        gap: 0.5rem;
        width: 100%;
        max-width: 55rem;
        margin: auto;
        padding: 0.5rem;
    }

    // Hide default next button if the custom button is rendered
    &-next-portal:not(:empty) + &-next {
        display: none;
    }

    &-next-portal,
    &-next {
        margin-left: auto;
    }
}
