.alert {
    margin: 0.5rem 0 1rem;

    code {
        white-space: pre-wrap;
    }

    p:last-child,
    ul:last-child {
        margin-bottom: 0;
    }

    &-item {
        margin-left: 1rem;
    }

    &-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
