.node {
    border-radius: var(--border-radius);
    padding: 1rem;
    background-color: var(--color-bg-1);

    &-wrapper {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    &-icon {
        margin-bottom: 0.5rem;
        width: fit-content;
        padding: 0.5rem;
        border-radius: var(--border-radius);
        background-color: var(--gray-02);
    }
}
