.node {
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert-wrapper {
    margin-top: 1rem;
    overflow-y: auto;
    max-height: 25rem;
}

.alert-content {
    white-space: break-spaces;
}
