.grid {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.first {
    grid-column: 1 / 2;
    min-width: 16rem;
}

.second {
    grid-column: 2 / 3;
    min-width: 16rem;
}
