.badge {
    background-color: var(--subtle-bg);
    padding: 1rem;
    display: flex;
}

.icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    flex-shrink: 0;
    align-self: flex-start;
}
