---
version: 1
interactions:
- request:
    body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tisLocked\n\tisDisabled\n\tviewerPermission\n\tstargazerCount\n\tforkCount\n\ttopics\n}\n\t\nquery($query:
      String!, $type: SearchType!, $after: String, $first: Int!) {\n\tsearch(query:
      $query, type: $type, after: $after, first: $first) {\n\t\trepositoryCount\n\t\tpageInfo
      { hasNextPage,  endCursor }\n\t\tnodes { ... on Repository { ...RepositoryFields
      } }\n\t}\n}","variables":{"first":10,"query":"repo:tsenart/vegeta stars:\u003e=14000","type":"REPOSITORY"}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"message":"Bad credentials","documentation_url":"https://docs.github.com/graphql"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v4; param=antiope-preview; format=json
      X-Ratelimit-Limit:
      - "0"
      X-Ratelimit-Remaining:
      - "0"
      X-Ratelimit-Reset:
      - "1676504780"
      X-Ratelimit-Resource:
      - graphql
      X-Ratelimit-Used:
      - "0"
    status: 401 Unauthorized
    code: 401
    duration: ""
