---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://secure.phabricator.com/api/conduit.getcapabilities
    method: POST
  response:
    body: '{"result":{"authentication":["token","asymmetric","session","sessionless","oauth"],"signatures":["consign"],"input":["json","urlencoded"],"output":["json","human"]},"error_code":null,"error_info":null}'
    headers:
      Content-Type:
      - application/json
      X-Conduit-Capabilities:
      - gzip
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://secure.phabricator.com/api/differential.querydiffs
    method: POST
  response:
    body: '{"result":[],"error_code":null,"error_info":null}'
    headers:
      Content-Type:
      - application/json
      X-Conduit-Capabilities:
      - gzip
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://secure.phabricator.com/api/differential.querydiffs
    method: POST
  response:
    body: '{"result":{"20455":{"id":"20455","revisionID":"8621","dateCreated":"1395874084","dateModified":"1395874084","sourceControlBaseRevision":"1ea12a01671dfead3fceeb7e92e86cdab1d8705f","sourceControlPath":null,"sourceControlSystem":"git","branch":"auth1","bookmark":null,"creationMethod":"arc","description":null,"unitStatus":"1","lintStatus":"1","changes":[{"id":"125613","metadata":{"line:first":248},"oldPath":"src\/future\/http\/BaseHTTPFuture.php","currentPath":"src\/future\/http\/BaseHTTPFuture.php","awayPaths":[],"oldProperties":[],"newProperties":[],"type":"2","fileType":"1","commitHash":null,"addLines":"19","delLines":"0","hunks":[{"oldOffset":"1","newOffset":"1","oldLength":"394","newLength":"413","addLines":null,"delLines":null,"isMissingOldNewline":null,"isMissingNewNewline":null,"corpus":"
      \u003c?php\n \n \/**\n  * Execute HTTP requests with a future-oriented API.
      For example:\n  *\n  *   $future = new HTTPFuture(''http:\/\/www.example.com\/'');\n  *   list($status,
      $body, $headers) = $future-\u003eresolve();\n  *\n  * This is an abstract base
      class which defines the API that HTTP futures\n  * conform to. Concrete implementations
      are available in @{class:HTTPFuture}\n  * and @{class:HTTPSFuture}. All futures
      return a \u003cstatus, body, header[...]
