---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://secure.phabricator.com/api/conduit.getcapabilities
    method: POST
  response:
    body: '{"result":{"authentication":["token","asymmetric","session","sessionless","oauth"],"signatures":["consign"],"input":["json","urlencoded"],"output":["json","human"]},"error_code":null,"error_info":null}'
    headers:
      Content-Type:
      - application/json
      X-Conduit-Capabilities:
      - gzip
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://secure.phabricator.com/api/differential.getrawdiff
    method: POST
  response:
    body: '{"result":null,"error_code":"ERR_NOT_FOUND","error_info":"Diff not found."}'
    headers:
      Content-Type:
      - application/json
      X-Conduit-Capabilities:
      - gzip
    status: 200 OK
    code: 200
    duration: ""
[...]
