---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://secure.phabricator.com/api/conduit.getcapabilities
    method: POST
  response:
    body: '{"result":{"authentication":["token","asymmetric","session","sessionless","oauth"],"signatures":["consign"],"input":["json","urlencoded"],"output":["json","human"]},"error_code":null,"error_info":null}'
    headers:
      Content-Type:
      - application/json
      X-Conduit-Capabilities:
      - gzip
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://secure.phabricator.com/api/diffusion.repository.search
    method: POST
  response:
    body: '{"result":{"data":[{"id":1,"type":"REPO","phid":"PHID-REPO-b25161d5f5f770f965ca","fields":{"name":"Javelin","vcs":"git","callsign":"JX","shortName":null,"status":"active","isImporting":false,"almanacServicePHID":"PHID-ASRV-u4mctmw45g3lwwupsklv","refRules":{"fetchRules":[],"trackRules":[],"permanentRefRules":[]},"defaultBranch":"master","description":{"raw":""},"spacePHID":null,"dateCreated":1297564317,"dateModified":1497322650,"policy":{"view":"public","edit":"PHID-PROJ-roo7hwr5rfmf6czzlkjk","diffusion.push":"PHID-PROJ-p5w5kk5arfogrjj356qo"}},"attachments":{"uris":{"uris":[{"id":"11","type":"RURI","phid":"PHID-RURI-ifkwelchoqvdyrnnxk37","fields":{"repositoryPHID":"PHID-REPO-b25161d5f5f770f965ca","uri":{"raw":"https:\/\/id","display":"https:\/\/secure.phabricator.com\/diffusion\/1\/javelin.git","effective":"https:\/\/secure.phabricator.com\/diffusion\/1\/javelin.git","normalized":"\u003cbase-uri\u003e\/diffusion\/1"},"io":{"raw":"read","default":"readwrite","effective":"read"},"display":{"raw":"default","default":"never","effective":"never"},"credentialPHID":null,"disabled":false,"builtin":{"protocol":"https","identifier":"id"},"dateCreated":"1462404224","dateModified":"1462404224"}},{"id":"9","type":"RURI","phid":"PHID-RURI-b6ix62t6fsa7uvzf3wky","fields":{"repositoryPHID":"PHID-REPO-b25161d5f5f770f965ca","uri":{"raw":"https:\/\/callsign","display":"https:\/\/secure.phabricator.com\/diffusion\/JX\/javelin.git","effective":"https:\/\/secure.phabricator.com\/diffusion\/JX\/javelin.git","normalized":"\u003cbase-uri\u003e\/diffusion\/JX"},"io":{"raw":"read","default":"readwrite","effective":"read"},"display":{"raw":"[...]
[...]
