apiVersion: v1
kind: ConfigMap
metadata:
  name: {{.Values.name}}-config
data:
{{- range $name, $value := .Values.envvars }}
  {{ $name }}: {{ $value }}
{{- end }}
---
apiVersion: apps/v1
kind: Deployment # describe the desired state of the cluster
metadata:
  name: {{.Values.name}}
spec:
  replicas: {{int .Values.replicas}} # tells deployment to run pods matching the template
  selector:
    matchLabels:
      app: {{.Values.name}}
  template:
    metadata:
      labels:
        app: {{.Values.name}}
    spec:
      containers:
      - name: {{.Values.name}}
        image: {{.Values.image}} # image is taken from values.yaml
        envFrom:
        - configMapRef:
            name: {{.Values.name}}-config
        ports: |-
          {{- range $name, $port := .Values.ports }}
        - containerPort: {{int $port}}
          name: {{ $name }}
          {{- end }}
