.private-code-cta {
    padding: 1.5rem;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
    background: #1d2535;
    border: 1px solid #32405d;
    color: $gray-17;

    &__logo {
        height: 3.5rem;
        width: 3.5rem;
    }

    &__download-icon {
        height: 3.5rem;
        width: 4rem;
        color: #404c67;
    }

    &__icon-column {
        margin-right: 1.5rem;
    }

    &--search-page {
        max-width: 690px;
    }
}

.theme-light {
    .private-code-cta {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
        background: $body-bg-color-light;
        border: 1px solid $color-light-bg-2;

        &__download-icon {
            color: #e6eaf2;
        }
    }
}
