.private-code-cta {
    color: $gray-06;
    padding: 1.5rem;
    border-radius: 3px;
    background: $gray-21;
    border: 1px solid $gray-18;

    &__icon-column {
        margin-right: 1.5rem;
    }
}

.theme-light {
    .private-code-cta {
        background: $white;
        border: 1px solid $color-light-bg-2;
    }
}
