.regexp-toggle {
    display: block;
    position: absolute;
    top: 0.375rem;
    right: 0.5rem;
    cursor: pointer;

    &--active {
        border: 1px solid $color-border-active;
        padding-bottom: 0.25rem;
        border-radius: 2px;
        .theme-dark & {
            background: $color-bg-5;
        }
        .theme-light & {
            background: $color-light-bg-3;
        }
    }
}
