@import '../../nav/GlobalNavbar';
@import '../QuickLinks';
@import './SearchFilterChips';
@import './QueryInput';
@import './QueryBuilder';
@import './QueryBuilderInputRow';
@import './InfoDropdown';
@import './interactive/InteractiveModeInput';

.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    padding-bottom: 4rem;

    &__logo {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        width: 20rem;
        margin-top: 6rem;
        max-width: 90%;
    }

    &__container {
        flex: 0 0 auto;
        margin-top: 4rem;
        width: 49rem;
        max-width: 90%;
        position: relative;
    }

    &__input-container {
        width: 100%;
        display: flex;
    }

    &__input-sub-container {
        width: 100%;
        display: block;
        margin: 0.5rem 0;
    }
}

.theme-light {
    .search-page {
        &__sign-in {
            color: $color-light-text-4;
        }
    }
}
