.suggestion {
    height: 2.5rem;
    padding: 0 0.5rem;

    display: flex;
    align-items: center;
    overflow: hidden;

    text-overflow: ellipsis;
    line-height: 2.5rem;
    white-space: nowrap;

    background-color: #1c2736;
    border-top: 1px solid #2a3a51;

    cursor: pointer;

    &--selected,
    &:hover {
        background-color: #2a3a51;
    }

    &__icon {
        flex: 0 0 auto;
        $width-height: 1.25rem !important;
        height: $width-height;
        width: $width-height;
    }

    &__title {
        margin-left: 0.25rem;
    }

    &__description {
        flex: 1 1 auto;
        margin-left: 0.35rem;
        opacity: 0.6;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__highlighted-query {
        color: #ffffff;
    }

    &__action {
        flex: 0 0 auto;
        margin-right: 0.5rem;
    }
}

.theme-light {
    .suggestion {
        background-color: $color-light-bg-1;

        &:first-child {
            border-top: none;
        }

        &--selected,
        &:hover {
            background-color: $color-light-bg-2;
        }
    }
}
