.user-settings-emails-page {
    .form-inline input:not(.is-invalid),
    .form-inline input:not(.is-valid) {
        padding-right: calc(1.5em + 0.75rem);
    }
    .loader-input {
        &__spinner {
            right: 1rem;
        }
    }
    &__list {
        list-style-type: none;
        margin-bottom: 0;
        padding: 0;
    }
    &__btn {
        padding: 0;
    }
    &__btn:not(:first-of-type) {
        padding-left: 0.5rem;
    }
    &__email {
        display: inline-block;
        margin-right: 0.25rem;
    }
    &__loader {
        display: flex;
        justify-content: center;
    }
}
