.user-settings-emails-page {
    &__list {
        list-style-type: none;
        margin-bottom: 0;
        padding: 0;
    }
    &__btn {
        padding: 0;
    }
    &__btn:not(:first-of-type) {
        padding-left: 0.5rem;
    }
    &__email {
        display: inline-block;
        margin-right: 0.25rem;
    }
}
