.feedback-prompt {
    &__toggle.btn:not(:disabled) {
        cursor: text;
    }
    &__menu {
        text-align: center;
        border-radius: 8px !important;
        width: 20rem;
        padding: 1rem;
        text-align: middle;
    }
    &__textarea {
        resize: none;
        margin: 1rem 0;
    }
    &__alert {
        white-space: initial;
    }
    &__success {
        white-space: normal;

        &--tick {
            background-color: $success;
            color: $white;
            border-radius: 50%;
            width: (30/16) + rem;
            height: auto;
            padding: 0.125rem;
            margin-bottom: 1rem;
        }
    }
}
