.new-join-beta-page {
    max-width: 48rem;
    margin: 0 auto;
}

.form-container {
    padding: 0 !important;
}

.buttons-row {
    gap: 1rem;
}

.form-item {
    margin-bottom: 2rem !important;
}

.cb-label {
    margin-bottom: 0.25rem !important;
}

.cb-sub-label {
    margin-bottom: 1rem !important;
}
