.new-org-page {
    max-width: 35rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    height: fit-content;
}

.form-container {
    padding: 0 !important;
}

.buttons-row {
    gap: 0.5rem;
    border-top: 1px solid var(--border-color-2);
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.form-item {
    margin-bottom: 2rem !important;
}

.duplicate-id {
    display: inline-block;
    font-size: 0.75rem;
}

.cb-label {
    font-weight: normal !important;
}
