.icon {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
}

.hint {
    padding: 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray-04);
}

.spacer {
    margin-left: 0.25rem;
}

.selected {
    background-color: var(--gray-04);
}
