.action-item {
    &__content {
        display: flex;
        align-items: center;
        width: 100%;
    }
    &--variant-action-item &__content {
        justify-content: center;
    }
    border-left: 1px solid $color-light-bg-1;
    margin-left: 2px;
    border-right: 1px solid $color-light-bg-1;

    // Show loader on top of the action's content. This avoids changing the element's width when loading, which
    // looks bad.
    &--loading {
        position: relative;
    }
    &--loading &__content {
        opacity: 0.3;
    }
    &__loader {
        // Center horizontally.
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
