/* Variables */
* {
    --sans-serif: 'circular-std', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', 'San Francisco',
        'SFNS Display', Roboto, 'Lucida Grande', 'avenir next', avenir, Helvetica, Ubuntu, 'segoe ui', arial, sans-serif;
}

html {
    font-family: var(--sans-serif);
    color: #ffffff;
    background-color: #151c28;
    margin: 0;
    padding: 0;
}

a {
    color: #0d97ff;
}

button {
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 2px;
    background-color: #2b3750;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__title {
    font-size: 34px;
    line-height: 40px;
    margin: 0;
    margin-top: 3rem;
}

.app__subtitle {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 1.75rem;
}

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/alert';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/grid';
@import './TrueUpStatusSummary';
@import './ProductCertificate';

.card {
    background-color: #151c28;
    border: 1px solid #2b3750;
}
