.critical-config-editor {
    width: 50rem;
    margin-bottom: 10rem;

    &__monaco-reserved-space {
        height: 35rem;
        overflow: hidden;
        resize: both;

        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 0.75rem;
        border: 1px solid transparent;
        &--monaco {
            background-color: #0e121b;
            border: 1px solid #2b3750;
            border-radius: 2px;
        }
    }
    &__status-indicator {
        margin-left: 1rem;
        &--success {
            color: limegreen;
        }
        &--error {
            color: red;
        }
    }

    &__action-groups {
        margin-bottom: 0.75rem;
    }

    &__action-group-header {
        font-weight: bold;
    }

    &__actions {
        display: flex;
        flex-wrap: wrap;
    }

    &__action {
        margin: 0.25rem 0.5rem 0.25rem 0;
        flex: 0 auto;
    }
}
