@import '~@sourcegraph/react-loading-spinner/lib/LoadingSpinner.css';

.critical-config-editor {
    &__monaco-reserved-space {
        width: 45rem;
        height: 32rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 0.75rem;
        border: 1px solid transparent;
        &--monaco {
            background-color: #0e121b;
            border: 1px solid #2b3750;
            border-radius: 2px;
        }
    }
    &__status-indicator {
        margin-left: 1rem;
        &--success {
            color: limegreen;
        }
        &--error {
            color: red;
        }
    }
}
