.product-certificate {
    &__bg {
        background-color: #151c28;
        opacity: 0.35;
        background-blend-mode: overlay;
    }

    &__logo {
        height: 5rem;
        z-index: 9;
    }
    .btn {
        z-index: 9;
        text-decoration: none;
    }
    .card-footer {
        z-index: 9;
        background-color: rgba(43, 55, 80, 0.85);
        font-size: 0.875em;
    }
}

.product-certificate-parcel {
    .product-certificate__bg {
        background-image: url(./bg-sprinkles-2x.png);
    }
}
