.dropdown-menu {
    &-tail {
        &::before {
            border-left-color: transparent;
            border-top-color: var(--border-color);
            border-right-color: transparent;
        }

        &::after {
            border-left-color: transparent;
            border-top-color: var(--dropdown-bg);
            border-right-color: transparent;
        }
    }
}
