@value modal "sourcegraph/components/styles/modal.css";
@value colors "sourcegraph/components/styles/colors.css";
@value vars "sourcegraph/components/styles/_vars.css";

@value desktop-base-size from vars;
@value mobile-base-size from vars;
@value c_cool-gray from colors;

/*
Stick footer at bottom even if the page content doesn't take up
the entire viewport height.
*/
.main-container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	width: 100%;
	overflow: auto;
}
.main-content {
	flex: 1 0 auto;
}

/*
Prevent scrolling the main content when a modal is being displayed.
*/
.main-container-with-modal {
	composes: main-container;
	filter: saturate(0%) opacity(80%);
}

.main-container-homepage {
	composes: main-container;
	composes: bg-pale-blue from colors;
}

/* Responsive type scaling */

body {
	color: c_cool-gray;
	font-size: desktop-base-size;
	letter-spacing: 0.8;
	line-height: 1.6;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
	body {
		font-size: mobile-base-size;
	}
}
