@value colors "sourcegraph/components/styles/_colors.css";
@value vars "sourcegraph/components/styles/_vars.css";
@value base "sourcegraph/components/styles/_base.css";
@value modal "sourcegraph/components/styles/modal.css";

@value desktop-base-size, mobile-base-size, media-sm from vars;
@value c_cool-gray from colors;

/*
Stick footer at bottom even if the page content doesn't take up
the entire viewport height.
*/
.main-container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	width: 100%;
	overflow: auto;
}
.main-content {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

.breadcrumb {
	composes: bb ph3 pv2 from base;
	composes: b--cool-pale-gray-8 bg-white from colors;
}

.main-container-homepage {
	composes: main-container;
}

/* Responsive type scaling */

html {
	color: c_cool-gray;
	font-size: desktop-base-size;
	line-height: 1.6;
}

@media only screen and media-sm {
	html {
		font-size: mobile-base-size;
	}
}
