@value base "sourcegraph/components/styles/_base.css";
@value colors "sourcegraph/components/styles/_colors.css";

.footer {
	composes: bt ph2 pv2 from base;
	composes: b__light_gray from colors;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.box {
	flex: 1 1;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	align-items: center;
	composes: ma0 pa0 from base;
}

.left_box {
	composes: box;
	justify-content: flex-start;
}

.right_box {
	composes: box;
	justify-content: flex-end;
}

.link {
	composes: gray from colors;
}

.logo_mark {
	composes: mt2 from base;
}

.item {
	composes: ph3 pv2 from base;
	display: inline-block;
}

@media screen and (max-width: 48em) {
	.item {
		flex-basis: 100%;
	}
	.right_box .item {
		text-align: right;
	}
}
