@value base "sourcegraph/components/styles/_base.css";
@value vars "sourcegraph/components/styles/_vars.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value layout "sourcegraph/components/styles/_layout.css";

@value media-xs, media-sm, media-ns from vars;
@value navbarHeight: 48px;
@value icon-font-size: 0.8rem;

@value c_cool-pale-gray-8 from colors;
@value nav-border-color c_cool-pale-gray-8;

.tl { composes: tl from typography; }
.tr {	composes: tr from typography; }
.flex { display: flex; }
.flex-fill { flex: 1 1 100%; }
.flex-item-auto { flex: 1 1 auto; }
.flex-fixed { flex: 0 0 auto; }
.flex-center { align-items: center; }
.flex-end { justify-content: flex-end; }
.flex-start { justify-content: flex-start; }
.block { display: block; }
.hidden-s { composes: hidden-s from base; }
.cool-mid-gray { composes: cool-mid-gray from colors; }

.navbar {
	composes: bb cf from base;
	composes: bg-white from colors;
	z-index: 100;
	position: fixed;
	top: 0;
	width: 100%;
	height: navbarHeight;
}
.navbar-non-homepage {
	composes: navbar;
	border-color: nav-border-color;
}
.navbar-homepage {
	composes: navbar;
	border-color: transparent;
}

.navbar + * {
	/* Account for navbar's position: fixed. */
	padding-top: navbarHeight;
}

.navbar-inner {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	height: navbarHeight;
}

@value logo-height 21.508px;
.logo-link {
	padding: calc((navbarHeight - logo-height)/2);
	composes: br from base;
	border-color: nav-border-color;
}
.logo {
	display: block;
}
.logomark:hover {
	animation: spin 0.5s ease-in-out 1;
}
@keyframes spin { 50% { transform: rotate(180deg) scale(1.2) } 100% { transform: rotate(180deg) scale(1)} }

.action {
	composes: mh2 from base;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
	font-weight: bold;
}

/* TODO: Abstract this – styles should be contained in their components */
.modal {
	composes: modal from "sourcegraph/components/styles/modal.css";
	composes: col-10 from grid;
	max-width: 340px;
	min-width: 320px;
}

.channel {
	display: inline-block;
	composes: pv1 ph2 br2 ba from base;
	composes: f4 from typography;
	text-transform: uppercase;
}

.channel-closed {
	composes: channel;
	composes: white bg-gray from colors;
}

.channel-connected {
	composes: channel;
	composes: white bg-green-8 b--green from colors;
}

.channel-connecting {
	composes: channel;
	composes: white bg-blue-8 b--blue from colors;
}

.channel-error {
	composes: channel;
	composes: white bg-red-8 b--red from colors;
}

.icon {
	display: inline-block;
	white-space: nowrap;
	composes: pv1 ph2 br2 br2 ba mr3 from base;
	vertical-align: middle;
}

.icon-check {
	composes: icon;
	composes: white bg-green-8 b--green from colors;
}

.icon-ellipsis {
	composes: icon;
	composes: white bg-blue-8 b--blue from colors;
}

@value search-form-max-width 1000px;
.search {
	flex: 1 0;
	composes: mr1 from base;
	composes: br from base;
	border-color: nav-border-color;
}
.search-form-container {
	max-width: search-form-max-width;
	position: relative; /* so that search-panel is same width as its parent (this class) */
}
.search-form {
	display: flex;
}
.search-form > div { /* make search input share width */
	flex: 1 0;
}
.search-input {
	height: navbarHeight;
	composes: f4 from typography;
}

.search-icon {
	font-size: 1.3rem;
}
.search-panel {
	border: solid #eee 1px;
	position: absolute;
	width: 100%;
	max-width: search-form-max-width;
}
@value SearchSettings "sourcegraph/search/styles/SearchSettings.css";
.search-settings {
	composes: groups-bb from SearchSettings;
}
.search-settings-inner {
	composes: ph3 from base;
}
.search-results {
	max-height: 85vh;
	min-height: 60px;
	overflow: auto;
}
.search-result {
	composes: ph3 pt3 from base;
}
@media screen and media-xs {
	.search-form-container {
		position: static;
	}
	.search-panel {
		overflow: auto;
		left: 0;
		top: navbarHeight;
	}
	.search-results {
		max-height: none;
		min-height: none;
		overflow: hidden;
	}
}
@media screen and media-sm {
	.not-small-only {
		display: none;
	}
}
@media screen and media-ns {
	.small-only {
		display: none;
	}
}

.user {
	display: flex;
	align-items: center;
}
.user-menu-icon {
	composes: cool-mid-gray from colors;
	font-size: icon-font-size;
	margin-left: 6px;
}
.current-user {
	color: cool-mid-gray;
}

.close-icon {
	composes: hidden-ns from base;
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  	outline: 0;
  	cursor: pointer;
}

.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	background-color: #EEEEEE;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 10px;
	cursor: pointer;
}
