.activation-checklist {
    [data-reach-accordion-button] {
        .icon-down {
            display: none;
        }
        .icon-right {
            display: inline-block;
        }
    }

    [data-reach-accordion-button][aria-expanded='true'] {
        background-color: var(--dropdown-link-hover-bg);

        .icon-right {
            display: none;
        }
        .icon-down {
            display: inline-block;
        }
    }

    [data-reach-accordion-panel][data-state='open'] {
        background-color: var(--dropdown-link-hover-bg);
    }
}

.activation-checklist-item {
    padding: 0.25rem 0.75rem;
}

.button {
    display: block;
    background-color: transparent;
    padding: 0 !important;
    border: 0 !important;
}

.container {
    padding: 0 !important;

    &:first-child {
        border-top-width: 1px !important;
    }
}

.detail {
    // This is the width of the icon in the row above. This is to get text to line up properly.
    margin: 0 1.25rem;
    padding: 0 0.5rem;
    border-bottom-width: 1px;
    // overides [data-reach-menu-list], [data-reach-menu-items] whites property
    white-space: normal;
}

.icon-container {
    width: 1.25rem;
}

.icon {
    fill: var(--body-color) !important;
}
