@import 'wildcard/src/global-styles/breakpoints';

.form {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;

    // The primary 3-column layout is adopted above the lg breakpoint
    @media (--lg-breakpoint-up) {
        flex-wrap: nowrap;
        // Default of min-height: auto when this element is display: flex allows children
        // to set its height. In the 3-column layout, we want to keep the height fixed and
        // have children overflow: auto instead.
        min-height: 0;
    }
}

.editor-container {
    flex: 1;
    max-width: 100%;

    // The library pane is visible above the md breakpoint
    @media (--md-breakpoint-up) {
        min-width: 20%;
    }

    // The primary 3-column layout is adopted above the lg breakpoint
    @media (--lg-breakpoint-up) {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.editor {
    flex: 1;
    min-height: 0;
    max-height: 100%;
}

// Should mostly match WorkspacesPreview header and LibraryPane header
.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--border-color);
    overflow: hidden;
    flex-shrink: 0;
}

.download-link {
    padding: 0;
    font-weight: normal;
}
