{{define "Head"}}<title>Authentication - {{.User.Login|personLabel}} - Sourcegraph</title>
<meta name="robots" content="noindex">
{{end}}

{{define "PersonSettingsBody"}}
<div class="panel panel-default panel-main person-settings person-settings-auth">
	<div class="panel-heading"><i class="octicon octicon-sign-in"></i> Authentication</div>
	<div class="panel-body">
		<p>Authenticating via the command-line is easy, and will let you perform actions like creating new repositories via the <code>src</code> command.
		<!-- TODO(slimsag): link to installation instructions once public -->
		<p>Install the <code>src</code> program on your development machine if you haven't already.</p>
		<p><pre>src --endpoint={{.AppURL}} login</pre></p>

		<h3><span class="octicon octicon-info"></span> Endpoint</h3>
		<p>To specify which Sourcegraph server a CLI command will use, set the <code>src --endpoint=URL</code> option.</p>
		<p>To create a new repository on <b><em>this endpoint</em></b> you would run:</p>
		<p><pre>$ src <strong>--endpoint={{.AppURL}}</strong> repo create my/repo</pre></p>
		<p>Then <code>my/repo</code> can be viewed in the browser at <a href="{{.AppURL}}/my/repo" target="_blank">{{.AppURL}}/my/repo</a>.</p>
	</div>
</div>
{{end}}
