{{define "Head"}}<title>Integrations - {{.User.Login|personLabel}} - Sourcegraph</title>
<meta name="robots" content="noindex">
{{end}}

{{define "PersonSettingsBody"}}

{{with .GitHub}}
<div class="panel panel-default panel-main person-settings person-settings-integration github">
	<div class="panel-heading"><i class="fa fa-github"></i> GitHub</div>
	<div class="panel-body">
		<p>To use Sourcegraph with your private repositories on GitHub, <a href="{{.URL}}/settings/tokens">create a GitHub personal access token</a> with <b>repo</b> scope.</p>
		<p><strong>Security note:</strong> any user with read or write access to this Sourcegraph instance can use the instance to access <strong>any</strong> of the GitHub
		repositories within the token's scope. Do not share this instance with anyone to whom you would not grant read/write access to all of your private repositories on GitHub.</p>
		<form class="form-inline access-token-form" action="{{urlTo "person.settings.integrations.update" "User" $.CurrentUser.Login "Integration" "github"}}" method="POST">
			<input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
			<div class="form-group">
				<p class="api-status">
					{{if not .TokenIsPresent}}
						<i class="fa fa-circle disabled"></i> No access token provided.
					{{else if (and .PrivateRemoteRepos .TokenIsValid)}}
						<i class="fa fa-circle success"></i> You have a valid access token.
					{{else if .TokenIsValid}}
					<i class="fa fa-circle warning"></i> No private GitHub repositories found. Make sure your <a href="{{.URL}}/settings/tokens">personal access token</a> has the <b>repo</b> scope enabled, and your account has access to private repositories.
					{{else}}
						<i class="fa fa-circle danger"></i> Invalid access token.
					{{end}}
				</p>
				<input type="text" class="form-control" placeholder="Access Token" name="Token" aria-describedby="github-access-token" required>
				<button type="submit" class="btn btn-default">Update GitHub access token</button>
			</div>
		</form>
		{{if .PrivateRemoteRepos}}
			<div class="repo-list">
				<h3>Available Private GitHub Repositories</h3>
				<form action="{{urlTo "person.settings.integrations.update" "User" $.CurrentUser.Login "Integration" "enable"}}" method="POST">
					<table class="table repo-list">
						{{$host := .Host}}
						{{range $repo := .PrivateRemoteRepos}}
							<tr>
								<td>
									{{if $repo.ExistsLocally}}
										<a href="{{urlToRepo $repo.URI}}">{{trimPrefix $repo.URI $host}}</a>
										<a href="https://{{$repo.URI}}" target="_blank"><i class="fa fa-github github-link"></i></a>
									{{else}}
										{{trimPrefix $repo.URI $host}}
										<a href="https://{{$repo.URI}}" target="_blank"><i class="fa fa-github github-link"></i></a>
									{{end}}
								</td>
								<td>
									{{if $repo.ExistsLocally}}
										<input type="checkbox" checked="true" disabled="true">
									{{else}}
										<input type="checkbox" name="RepoURI[]" value="{{$repo.URI}}" >
									{{end}}
								</td>
							</tr>
						{{end}}
						<tr>
							<td></td>
							<td>
								<input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
								<button type="submit" class="btn btn-success">Submit</button>
							</td>
						</tr>
					</table>
				</form>
			</div>
		{{end}}
	</div>
</div>
{{end}}
{{end}}
