{{define "Head"}}<title>Integrations - {{.User.Login|personLabel}} - Sourcegraph</title>
<meta name="robots" content="noindex">
{{end}}

{{define "PersonSettingsBody"}}

{{with .GitHub}}
<div class="panel panel-default panel-main person-settings person-settings-integration github">
	<div class="panel-heading"><i class="fa fa-github"></i> GitHub</div>
	<div class="panel-body">
		<p>To use Sourcegraph with your private repositories on GitHub, link your GitHub account with your Sourcegraph account via OAuth2.</p>
		<form action={{router.URLToGitHubOAuth}} method="get">
			<div class="form-group">
				<p class="api-status">
					{{if not .TokenIsPresent}}
						<i class="fa fa-circle disabled"></i> No GitHub account linked.
					{{else if (and .Repos .TokenIsValid)}}
						<i class="fa fa-circle success"></i> GitHub account linked to this user.
					{{else if .TokenIsValid}}
					<i class="fa fa-circle warning"></i> No private GitHub repositories found. Make sure your account has access to private repositories.
					{{else}}
						<i class="fa fa-circle danger"></i> Invalid access token.
					{{end}}
				</p>
				<button type="submit" class="btn btn-sgblue">{{if .TokenIsValid}}Sync{{else}}Link{{end}} GitHub Account</button>
			</div>
		</form>
		{{if .Repos}}
			<div class="repo-list">
				<h3>Available GitHub Repositories</h3>
				<form action="{{urlTo "person.settings.integrations.update" "User" $.CurrentUser.Login "Integration" "enable"}}" method="POST">
					<table class="table repo-list">
						{{$host := .Host}}
						{{range $repo := .Repos}}
							<tr>
								<td>
									{{if $repo.ExistsLocally}}
										<a href="{{urlToRepo $repo.URI}}">{{trimPrefix $repo.URI $host}}</a>
										<a href="https://{{$repo.URI}}" target="_blank"><i class="fa fa-github github-link"></i></a>
									{{else}}
										{{trimPrefix $repo.URI $host}}
										<a href="https://{{$repo.URI}}" target="_blank"><i class="fa fa-github github-link"></i></a>
									{{end}}
								</td>
								<td>
									{{if $repo.ExistsLocally}}
										<input type="checkbox" checked="true" disabled="true">
									{{else}}
										<input type="checkbox" name="RepoURI[]" value="{{$repo.URI}}" >
									{{end}}
								</td>
							</tr>
						{{end}}
						<tr>
							<td></td>
							<td>
								<input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
								<button type="submit" class="btn btn-success">Enable</button>
							</td>
						</tr>
					</table>
				</form>
			</div>
		{{end}}
	</div>
</div>
{{end}}
{{end}}
