.container {
    display: flex;
    min-width: 0;
    position: relative;
    padding: 0.5rem 0.75rem !important;
    background-image: none !important;

    .field {
        background-position: right 0.75rem top 0.1rem !important;
    }
}

.focus-container {
    height: auto;

    // Spread standard input paddings in order to fix visually problem
    // with codemirror editor on the code insight creation UI pages.
    // See https://github.com/sourcegraph/sourcegraph/issues/37785
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &:focus-within,
    &:focus {
        border: 1px solid var(--input-focus-border-color);
        box-shadow: var(--search-box-focus-box-shadow);
    }

    &:global(.is-valid) {
        border-color: var(--success);

        :global(.theme-light) &:focus-within {
            box-shadow: 0 0 0 2px var(--success-2);
        }

        :global(.theme-dark) &:focus-within {
            box-shadow: 0 0 0 2px var(--success-3);
        }
    }

    &:global(.is-invalid) {
        border-color: var(--danger);

        :global(.theme-light) &:focus-within {
            box-shadow: 0 0 0 2px var(--danger-2);
        }

        :global(.theme-dark) &:focus-within {
            box-shadow: 0 0 0 2px var(--danger-3);
        }
    }
}

.field {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 0;
    height: auto;

    :global(.scroll-decoration) {
        display: none;
    }

    &--without-field-styles {
        padding: 0;
        border: none;
        box-shadow: none;
    }

    :global(.cm-editor) {
        flex: 1;
    }

    // Fix loading spinner layout position (since line height has non default value
    // loading layout requires layout change)
    // stylelint-disable-next-line selector-class-pattern
    :global(.cm-sg-loading-spinner-container) {
        align-self: center;
    }
}

.editor {
    position: relative;

    &--with-placeholder::before {
        display: block !important;
    }

    &::before {
        content: attr(data-placeholder);
        display: none;
        position: absolute;
        z-index: 1;
        color: var(--text-muted);
        height: 100%;
        width: 100%;
        padding-right: 0.5rem;
        pointer-events: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
