/* stylelint-disable selector-class-pattern */
.payment-token-form-control {
    &__card {
        padding-top: 0.5rem;

        &.StripeElement--focus {
            box-shadow: var(--input-focus-box-shadow);
            border-color: var(--input-focus-border-color);
        }

        &.StripeElement--webkit-autofill {
            background: transparent !important;
        }
    }
}

// The default disabled colors on the light theme look disabled, but on the dark theme they are too vivid, so make
// them less so.
.theme-dark {
    .payment-token-form-control {
        &__card {
            &--disabled {
                opacity: 0.65;
            }
        }
    }
}
