.alert {
    position: relative;
    padding: 1.5rem 1.5rem 1.5rem 5rem;
    color: var(--gray-11);

    &::after {
        content: '';
        position: absolute;
    }
}

.purple-no-icon {
    padding-left: 1.5rem;
    background-color: var(--violet-01);
    color: var(--gray-08);
    :global(.theme-dark) & {
        background-color: var(--pink);
        color: var(--gray-08);
    }
}

.purple-success {
    background-color: var(--violet-01);
    color: var(--violet-06);
    :global(.theme-dark) & {
        background-color: var(--pink);
        color: var(--gray-08);
    }
    &::after {
        // Purple checkmark SVG
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31 25'><path fill='%23a405e1' d='M27 .4a3.4 3.4 0 0 0-2.4 1.1L12 15.6 7 9.3a3.4 3.4 0 0 0-5-.6 3.4 3.4 0 0 0-.5 4.9L9.2 23a3.4 3.4 0 0 0 5.3.1l15.2-17a3.4 3.4 0 0 0-.3-4.9 3.4 3.4 0 0 0-2.5-.8Z'/></svg>");
    }
}

.green-success {
    background-color: #e0f9d5;
    color: #054410;
    :global(.theme-dark) & {
        background-color: #51cf66;
    }
    &::after {
        // Green checkmark SVG
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31 25'><path fill='%23319E44' d='M27 .4a3.4 3.4 0 0 0-2.4 1.1L12 15.6 7 9.3a3.4 3.4 0 0 0-5-.6 3.4 3.4 0 0 0-.5 4.9L9.2 23a3.4 3.4 0 0 0 5.3.1l15.2-17a3.4 3.4 0 0 0-.3-4.9 3.4 3.4 0 0 0-2.5-.8Z'/></svg>");
    }
}

.purple-cody-pro {
    /* stylelint-disable-next-line declaration-property-unit-allowed-list */
    padding-left: calc(1.5rem + 135px + 1.5rem);
    padding-bottom: 1rem;
    background-color: var(--violet-01);
    color: var(--gray-11);
    overflow: hidden;
    :global(.theme-dark) & {
        background-color: var(--pink);
    }
    &::after {
        top: 1.5rem;
        left: 1.5rem;
        /* stylelint-disable-next-line declaration-property-unit-allowed-list */
        width: 135px;
        height: 100%;
        background-image: url('https://storage.googleapis.com/sourcegraph-assets/cody-pro-user.png');
        background-size: cover;
    }
}

.green-cody-pro {
    /* stylelint-disable-next-line declaration-property-unit-allowed-list */
    padding-left: calc(1.5rem + 135px + 1.5rem);
    padding-bottom: 1rem;
    background-color: #e0f9d5;
    color: #054410;
    overflow: hidden;
    :global(.theme-dark) & {
        background-color: #51cf66;
    }
    &::after {
        top: 1.5rem;
        left: 1.5rem;
        /* stylelint-disable-next-line declaration-property-unit-allowed-list */
        width: 135px;
        height: 100%;
        background-image: url('https://storage.googleapis.com/sourcegraph-assets/cody-pro-user.png');
        background-size: cover;
    }
}

.error {
    /* stylelint-disable-next-line declaration-property-unit-allowed-list */
    padding-left: calc(2rem + 124px + 2rem);
    padding-bottom: 1rem;
    background-color: var(--oc-orange-1);
    color: var(--gray-08);
    overflow: hidden;
    :global(.theme-dark) & {
        background-color: var(--oc-orange-4);
    }
    &::after {
        top: 1.5rem;
        left: 1.5rem;
        height: 100%;
        /* stylelint-disable-next-line declaration-property-unit-allowed-list */
        width: 124px;
        background-image: url('https://storage.googleapis.com/sourcegraph-assets/cody-plg-banner-error.png');
    }
}
