.alert {
    display: flex;
    padding: 1.5rem 1.5rem 0rem 3rem;
    border-radius: 3px;
    color: var(--gray-11);
    width:100%;
}

.card {
    height: 100%;
    margin-top:auto;
    margin-right:1rem;
}


.card-clip {
    height: 100px;
    overflow:hidden;
}

.action-button-wrapper {
    padding:1em;
}

.content {
    margin-top:auto;
    padding-bottom:1.5rem;
    & p {
        margin-bottom: 0;
    }
}

.purple {
    background-color: var(--violet-01);
    color: var(--violet-06);

    border:1px solid #D089EC;
    :global(.theme-dark) & {
        background-color: var(--pink);
        color: var(--gray-08);
        border:1px solid #E8D1FF;
    }
}

.green {
    background-color: #e0f9d5;
    color: #054410;
    border:1px solid #95D579;
    :global(.theme-dark) & {
        background-color: #51cf66;
        border:1px solid #BFF9C9;
    }
}

.error {
    background-color: var(--oc-orange-1);
    color: var(--gray-08);
    border:1px solid #FFA94D;
    :global(.theme-dark) & {
        background-color: var(--oc-orange-4);
        border:1px solid #FFE8CC;
    }
}
