// We need to import *both* SCSS variables (e.g., $oc-red-9) *and* CSS variables (e.g.,
// var(--oc-red-9). The SCSS variables are used for SCSS color math at build time, and the CSS
// variables are used at runtime.
@import 'open-color/open-color.scss';
@import 'open-color/open-color.css';

.alert {
    display: flex;
    padding: 1.5rem 1.5rem 0rem 3rem;
    border-radius: 3px;
    color: var(--gray-11);
    width:100%;
}

.card-clip {
    height: 100px;
    overflow:hidden;
}

.content {
    margin-top:auto;
    padding-bottom:1.5rem;
    & p {
        margin-bottom: 0;
    }
}

.purple {
    background-color: var(--violet-01);
    color: var(--violet-06);

    border:var(--border-width) solid var(--brand-secondary);
    :global(.theme-dark) & {
        background-color:var(--pink);
        color:var(--gray-08);
        border-color:var(--purple-01);
    }
}

.green {
    background-color: #e0f9d5;
    color: #054410;
    border:var(--border-width) solid var(--border-green-color);
    :global(.theme-dark) & {
        background-color: #51cf66;
        border-color: #BFF9C9;
    }
}

.error {
    background-color: var(--oc-orange-1);
    color: var(--gray-08);
    border:var(--border-width) solid #FFA94D;
    :global(.theme-dark) & {
        background-color: var(--oc-orange-4);
        border-color: #FFE8CC;
    }
}
