.toggle-container {
    display: flex;

    &__toggle {
        display: block;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 0.25rem;
        }
        border: 1px solid transparent;
        &--active {
            border: 1px solid $color-border-active;
            border-radius: 2px;
            .theme-dark & {
                background: $color-bg-5;
            }
            .theme-light & {
                background: $color-light-bg-3;
            }
        }
    }

    &__copy-query-button {
        opacity: 0;
    }
}
