---
version: 1
interactions:
- request:
    body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tisLocked\n\tisDisabled\n\tviewerPermission\n\tstargazerCount\n\tforkCount\n\trepositoryTopics(first:100)
      {\n\t\tnodes {\n\t\t\ttopic {\n\t\t\t\tname\n\t\t\t}\n\t\t}\n\t}\n}\n\t\nquery($query:
      String!, $type: SearchType!, $after: String, $first: Int!) {\n\tsearch(query:
      $query, type: $type, after: $after, first: $first) {\n\t\trepositoryCount\n\t\tpageInfo
      { hasNextPage,  endCursor }\n\t\tnodes {... on Repository { ...RepositoryFields
      parent { ...RepositoryFields } } }\n\t}\n}","variables":{"first":10,"query":"stars:10000..10100
      created:2007-06-01T00:00:00+00:00..2023-07-28T11:57:12+00:00","type":"REPOSITORY"}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"search":{"repositoryCount":35,"pageInfo":{"hasNextPage":true,"endCursor":"Y3Vyc29yOjEw"},"nodes":[{"id":"R_kgDOJTVMKw","databaseId":624249899,"nameWithOwner":"IDEA-Research/Grounded-Segment-Anything","description":"Grounded-SAM:
      Marrying Grounding DINO with Segment Anything & Stable Diffusion & Recognize
      Anything - Automatically Detect , Segment and Generate Anything","url":"https://github.com/IDEA-Research/Grounded-Segment-Anything","isPrivate":false,"isFork":false,"isArchived":false,"isLocked":false,"isDisabled":false,"viewerPermission":"READ","stargazerCount":10099,"forkCount":878,"repositoryTopics":{"nodes":[{"topic":{"name":"open-vocabulary-detection"}},{"topic":{"name":"open-vocabulary-segmentation"}},{"topic":{"name":"data-generation"}},{"topic":{"name":"automatic-labeling-system"}},{"topic":{"name":"caption"}},{"topic":{"name":"speech"}},{"topic":{"name":"3d-whole-body-pose-estimation"}},{"topic":{"name":"image-editing"}}]},"parent":null},{"id":"MDEwOlJlcG9zaXRvcnk0NTc4ODk4","databaseId":4578898,"nameWithOwner":"HabitRPG/habitica","description":"A
      habit tracker app which treats your goals like a Role Playing Game.","url":"https://github.com/HabitRPG/habitica","isPrivate":false,"isFork":false,"isArchived":false,"isLocked":false,"isDisabled":false,"viewerPermission":"READ","stargazerCount":10097,"forkCount":3757,"repositoryTopics":{"nodes":[{"topic":{"name":"habitica"}},{"topic":{"name":"javascript"}},{"topic":{"name":"[...]
[...]
- request:
    body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tisLocked\n\tisDisabled\n\tviewerPermission\n\tstargazerCount\n\tforkCount\n\trepositoryTopics(first:100)
      {\n\t\tnodes {\n\t\t\ttopic {\n\t\t\t\tname\n\t\t\t}\n\t\t}\n\t}\n}\n\t\nquery($query:
      String!, $type: SearchType!, $after: String, $first: Int!) {\n\tsearch(query:
      $query, type: $type, after: $after, first: $first) {\n\t\trepositoryCount\n\t\tpageInfo
      { hasNextPage,  endCursor }\n\t\tnodes {... on Repository { ...RepositoryFields
      parent { ...RepositoryFields } } }\n\t}\n}","variables":{"after":"Y3Vyc29yOjEw","first":10,"query":"stars:10000..10100
      created:2007-06-01T00:00:00+00:00..2015-06-29T17:58:35+00:00","type":"REPOSITORY"}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"search":{"repositoryCount":18,"pageInfo":{"hasNextPage":false,"endCursor":"Y3Vyc29yOjE4"},"nodes":[{"id":"MDEwOlJlcG9zaXRvcnkxODY5NjI1Nw==","databaseId":18696257,"nameWithOwner":"[...]
[...]
- request:
    body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tisLocked\n\tisDisabled\n\tviewerPermission\n\tstargazerCount\n\tforkCount\n\trepositoryTopics(first:100)
      {\n\t\tnodes {\n\t\t\ttopic {\n\t\t\t\tname\n\t\t\t}\n\t\t}\n\t}\n}\n\t\nquery($query:
      String!, $type: SearchType!, $after: String, $first: Int!) {\n\tsearch(query:
      $query, type: $type, after: $after, first: $first) {\n\t\trepositoryCount\n\t\tpageInfo
      { hasNextPage,  endCursor }\n\t\tnodes {... on Repository { ...RepositoryFields
      parent { ...RepositoryFields } } }\n\t}\n}","variables":{"after":"Y3Vyc29yOjEw","first":10,"query":"stars:10000..10100
      created:2015-06-29T17:58:36+00:00..2023-07-28T11:57:12+00:00","type":"REPOSITORY"}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"search":{"repositoryCount":17,"pageInfo":{"hasNextPage":false,"endCursor":null},"nodes":[]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v4; param=antiope-preview; format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4980"
      X-Ratelimit-Reset:
      - "1690548565"
      X-Ratelimit-Resource:
      - graphql
      X-Ratelimit-Used:
      - "20"
    status: 200 OK
    code: 200
    duration: ""
[...]
