---
version: 1
interactions:
- request:
    body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tisLocked\n\tisDisabled\n\tviewerPermission\n\tstargazerCount\n\tforkCount\n\trepositoryTopics(first:100)
      {\n\t\tnodes {\n\t\t\ttopic {\n\t\t\t\tname\n\t\t\t}\n\t\t}\n\t}\n}\n\t\nquery($query:
      String!, $type: SearchType!, $after: String, $first: Int!) {\n\tsearch(query:
      $query, type: $type, after: $after, first: $first) {\n\t\trepositoryCount\n\t\tpageInfo
      { hasNextPage,  endCursor }\n\t\tnodes { ... on Repository { ...RepositoryFields
      } }\n\t}\n}","variables":{"first":10,"query":"stars:10000..10100","type":"REPOSITORY"}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"search\":{\"repositoryCount\":40,\"pageInfo\":{\"hasNextPage\":true,\"endCursor\":\"Y3Vyc29yOjEw\"},\"nodes\":[{\"id\":\"MDEwOlJlcG9zaXRvcnk1NTc5Nzc=\",\"databaseId\":557977,\"nameWithOwner\":\"socketio/socket.io-client\",\"description\":\"Realtime
      application framework (client)\",\"url\":\"https://github.com/socketio/socket.io-client\",\"isPrivate\":false,\"isFork\":false,\"isArchived\":false,\"isLocked\":false,\"isDisabled\":false,\"viewerPermission\":\"READ\",\"stargazerCount\":10098,\"forkCount\":3106,\"repositoryTopics\":{\"nodes\":[{\"topic\":{\"name\":\"browser\"}},{\"topic\":{\"name\":\"javascript\"}},{\"topic\":{\"name\":\"nodejs\"}},{\"topic\":{\"name\":\"socket-io\"}},{\"topic\":{\"name\":\"websocket\"}}]}},{\"id\":\"MDEwOlJlcG9zaXRvcnkxNTE5Nzc4MTg=\",\"databaseId\":151977818,\"nameWithOwner\":\"felangel/bloc\",\"description\":\"A
      predictable state management library that helps implement the BLoC design pattern\",\"url\":\"https://github.com/felangel/bloc\",\"isPrivate\":false,\"isFork\":false,\"isArchived\":false,\"isLocked\":false[...]
[...]
- request:
    body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tisLocked\n\tisDisabled\n\tviewerPermission\n\tstargazerCount\n\tforkCount\n\trepositoryTopics(first:100)
      {\n\t\tnodes {\n\t\t\ttopic {\n\t\t\t\tname\n\t\t\t}\n\t\t}\n\t}\n}\n\t\nquery($query:
      String!, $type: SearchType!, $after: String, $first: Int!) {\n\tsearch(query:
      $query, type: $type, after: $after, first: $first) {\n\t\trepositoryCount\n\t\tpageInfo
      { hasNextPage,  endCursor }\n\t\tnodes { ... on Repository { ...RepositoryFields
      } }\n\t}\n}","variables":{"after":"Y3Vyc29yOjEw","first":10,"query":"stars:10000..10100
      created:2007-06-01T00:00:00+00:00..2015-04-09T11:33:48+00:00","type":"REPOSITORY"}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"search":{"repositoryCount":16,"pageInfo":{"hasNextPage":false,"endCursor":"Y3Vyc29yOjE2"},"nodes":[{"id":"MDEwOlJlcG9zaXRvcnkxNzE0MTYw","databaseId":1714160,"nameWithOwner":"NaturalNode/natural","description":"general
      natural language facili[...]
[...]
