.welcome-company-logo {
    &--image {
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        // stylelint-disable-next-line declaration-property-unit-whitelist
        height: 115px;
        background-color: red;
    }
}
