.welcome-main-page-demos {
    &__item {
        touch-action: manipulation; // remove iOS tap delay
    }
    &__video {
        // To avoid jitter during loading/switching, calculate height of video based on page
        // dimensions and video aspect ratio.
        min-height: calc((100vw - (12px * 4)) * (1596 / 2535));
        @media screen and (min-width: 1000px) {
            min-height: 550px;
        }
    }
}
