@import './logos';
@import './WelcomeMainPage';

.welcome-area {
    h1 {
        font-size: 54px;
        line-height: normal;
        margin-top: -0.75rem;

        background: radial-gradient(closest-side, #019fde, #b200f8, #f96216);
        background-size: 600% 600%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: bg-animation 90s ease infinite;
        animation: bg-animation 90s ease infinite;

        @keyframes bg-animation {
            0% {
                background-position: 0% 17%;
            }
            50% {
                background-position: 90% 84%;
            }
            100% {
                background-position: 0% 17%;
            }
        }
    }

    .company-logos {
        background-color: red; // TODO!(sqs)
    }
    .modal-integrations {
        .btn-github {
            .logo-icon {
                background-image: url(https://about.sourcegraph.com/integrations/github.png);
            }
        }
        .btn-gitlab {
            .logo-icon {
                background-image: url(https://about.sourcegraph.com/integrations/gitlab.svg);
            }
        }
        .btn-phabricator {
            .logo-icon {
                background-image: url(https://about.sourcegraph.com/integrations/phabricator.png);
            }
        }
        .btn-chrome {
            .logo-icon {
                background-image: url(https://about.sourcegraph.com/integrations/chrome.svg);
            }
        }
        .btn-firefox {
            .logo-icon {
                background-image: url(https://about.sourcegraph.com/integrations/firefox.svg);
            }
        }
        .btn-vim {
            .logo-icon {
                background-image: url(https://about.sourcegraph.com/integrations/vim.svg);
            }
        }
    }
}
