.commit-search-result {
    &__title {
        display: flex;
        align-items: center;

        .breadcrumb {
            flex: 0 0 auto;
        }

        &-person,
        &-message,
        &-signature {
            display: flex;
            align-items: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &-person {
            margin-left: 0.75rem;
            flex: 0 auto;

            .avatar {
                display: inline-block;
                height: 1.5rem;
                width: 1.5rem;
                margin-right: 0.25rem;
            }
        }

        &-message {
            margin-left: 0.75rem;
            flex: 1 1;
            min-width: 50px;
        }

        &-signature {
            flex: 0 auto;
            margin-left: 0.5rem;
        }

        .git-ref-tag {
            font-size: 12px;
        }

        code {
            margin: 0 0.25rem 0 0.125rem;
        }
    }

    &__item {
        &-diff-preview {
            padding: 0 !important;
        }

        .file-header {
            font-weight: bold;
            color: rgba(255, 255, 255, 0.6);
            background-color: rgba(255, 255, 255, 0.05);

            td {
                border-top: solid 1px rgba(255, 255, 255, 0.05);
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
            }
        }

        .hunk-header {
            color: rgba(255, 255, 255, 0.35);
        }
    }
}
