.search-results-info-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text-muted);
    padding-bottom: 0.25rem;
    padding-top: 1rem;

    .alert {
        margin-bottom: 0.5rem;
    }

    .mdi-icon {
        margin-right: 0.125rem;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-left {
            display: flex;
            flex-wrap: wrap;
        }

        &-right {
            flex: 1 0 auto;
            text-align: right;
        }
    }

    &__notice {
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }
}
