.search-results-filter-bars {
    &__row {
        display: flex;
        flex: 0 0 auto;
        padding-left: 1rem;
        align-items: center;

        color: #93a9c8;
        background: $color-bg-1;
        border-bottom: 1px solid $color-border;
        .theme-light & {
            color: $color-light-text-2;
            background: $color-light-bg-1;
            border-bottom: 1px solid $color-light-border;
        }
    }

    &__filters {
        margin-left: 0.5rem;
        display: flex;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        &--no-label {
            margin-left: 0;
        }

        &-quicklink {
            margin: 0.25rem 0.5rem 0.25rem 0;
        }
    }
}
