@import './CommitSearchResult';
@import './RepositorySearchResult';
@import '../../components/ModalContainer';

.search-results-list {
    overflow-y: auto;

    &__more {
        width: 100%;
        text-align: left;
        padding-bottom: 2rem;
    }

    &__jump-to-top {
        color: $color-light-text-1;
        background-color: var(--bg-deep);
        padding: 0.25rem 0.5rem;
        text-align: center;
        border-bottom: 1px solid $color-light-border;
    }
}
