@import './components/ActionContainer';

.repo-settings-options-page {
    &__form {
        margin-bottom: 3rem;
        &-control {
            min-width: 28rem;
            margin-right: 0.5rem;
            margin-bottom: 0.25rem;
        }
        &-notice {
            margin-top: -0.5rem;
        }
    }
}
