@import '../../components/Area';
@import './RepoSettingsIndexPage';
@import './RepoSettingsMirrorPage';
@import './RepoSettingsOptionsPage';

.repo-settings-area {
    overflow: auto;
    &__header {
        &-item {
            padding-left: 0.25rem;
            font-weight: bold;
        }
        &-btn {
            display: inline-flex;
        }
    }

    &__debug-information {
        border-radius: 2px;
        border: solid 1px #cad2e2;
        background-color: #ffffff;
        padding: 1rem;
    }
}
