@import '../../global-styles/breakpoints';

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    @media (--md-breakpoint-up) {
        flex-direction: row;
        align-items: flex-end;
    }
}

.annotation {
    display: block;
    margin-bottom: 0.5rem;
}

.byline {
    display: block;
    margin-top: 0.5rem;
}

.description {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.breadcrumb svg {
    flex-shrink: 0;
}
