port {{ .Port }}

# allow access from all instances
protected-mode no

# limit memory usage, return error when hitting limit
maxmemory 1gb
maxmemory-policy allkeys-lru

# snapshots on disk every minute
dir {{ .Dir }}
appendonly no
save 60 1

# least verbose logging
loglevel warning
