port {{ .Port }}

# allow access from all instances
protected-mode no

# limit memory usage, return error when hitting limit
maxmemory 1gb
maxmemory-policy allkeys-lru

# redis-cache is ephemeral
appendonly no

# least verbose logging
loglevel warning
