.discussions-list {
    display: flex;
    flex-direction: column;
    min-height: 0; /* needed for Firefox/Edge scrolling to work properly; See sourcegraph/sourcegraph#12340 and https://codepen.io/slimsag/pen/mjPXyN */
    &--no-flex {
        display: block;
    }
    &__row {
        display: block;
        padding: 0.75rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        &--active,
        &:hover {
            background-color: $color-bg-2;
        }

        &-top-line,
        &-bottom-line {
            display: flex;
            align-items: baseline;
        }
        &-id {
            margin-left: 0.25rem;
            color: $color-light-text-2;
            .theme-dark & {
                color: #566e9f;
            }
        }
        &-spacer {
            flex: 1;
        }
        &-title {
            overflow: hidden;
            text-overflow: ellipsis;
            color: $color-text-2;
        }
        &:hover &-title {
            text-decoration: underline;
        }
        &-comments-count {
            color: var(--link-color);
            text-decoration: none;
            text-align: right;
        }
    }
}

.theme-light {
    .discussions-list {
        &__row {
            color: $color-light-text-2;
            &-title {
                color: $color-light-text-2;
            }
            &--active,
            &:hover {
                background-color: $color-light-bg-3;
            }
        }
    }
}
