.code-host-connections {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.code-host-connection-trigger {
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
    width: 100%;

    &:hover,
    &--opened {
        background-color: var(--body-bg) !important;
    }
}

.collapse-section {
    border: 1px solid var(--border-color);

    &-button {
        border: none;
    }
}
