.avatar {
    width: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
}

.invite-button {
    height: 1.875rem;
    position: relative;
}

.button {
    text-align: left;
    margin-left: 0.125rem;
    margin-right: 0.125rem;
    padding-top: 0.25rem;
    padding-right: 0.25rem;
}

.button:disabled {
    color: var(--body-color) !important;
    cursor: pointer;
}

.invite-button-overlay {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--body-bg);
    opacity: 0;
    transition: opacity 60ms ease-in-out;
}

.button:focus-within .invite-button-overlay {
    opacity: 1;
}

.invite-button-link {
    padding: 0;
    font-weight: normal;
}

.content {
    width: calc(100% - 3.5rem);
    white-space: nowrap;
}

.clip-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.invitebox:hover {
    .invite-button-overlay {
        opacity: 1;
    }
}

.info {
    font-size: 0.75rem;
}

.info-box {
    font-size: 0.85rem;
}

.info-header {
    font-size: 1rem;
}

.panel {
    height: calc(100% - 1rem);
}
