.home-panels {
    margin-top: 1rem;
    max-width: 90vw;
}

.panel {
    height: 15rem;
}

.tabs {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.tab-panels {
    overflow-y: auto;
    overflow-x: hidden;
}
