.panel-container {
    margin-bottom: 1rem;
}

.header {
    min-height: 2rem;

    &-text {
        margin-bottom: 0.125rem;
        flex-grow: 1;
        align-self: flex-end;
        font-weight: 400;
    }
}

.content {
    overflow-y: auto;
    overflow-x: hidden;
}
