---
version: 1
interactions:
- request:
    body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tviewerPermission\n}\n\tquery
      {\nrepo0: repository(owner: \"sourcegraph\", name: \"Sourcegraph\") { ... on
      Repository { ...RepositoryFields } }\nrepo1: repository(owner: \"keegancsmith\",
      name: \"sqlf\") { ... on Repository { ...RepositoryFields } }\nrepo2: repository(owner:
      \"tsenart\", name: \"VEGETA\") { ... on Repository { ...RepositoryFields } }\nrepo3:
      repository(owner: \"tsenart\", name: \"go-tsz\") { ... on Repository { ...RepositoryFields
      } }\n}","variables":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"message":"This endpoint requires you to be authenticated.","documentation_url":"https://developer.github.com/v3/#authentication"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.antiope-preview; format=json
    status: 401 Unauthorized
    code: 401
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/tsenart/go-tsz
    method: GET
  response:
    body: '{"id":141798075,"node_id":"MDEwOlJlcG9zaXRvcnkxNDE3OTgwNzU=","name":"go-tsz","full_name":"tsenart/go-tsz","private":false,"owner":{"login":"tsenart","id":67471,"node_id":"MDQ6VXNlcjY3NDcx","avatar_url":"https://avatars2.githubusercontent.com/u/67471?v=4","gravatar_id":"","url":"https://api.github.com/users/tsenart","html_url":"https://github.com/tsenart","followers_url":"https://api.github.com/users/tsenart/followers","following_url":"https://api.github.com/users/tsenart/following{/other_user}","gists_url":"https://api.github.com/users/tsenart/gists{/gist_id}","starred_url":"https://api.github.com/users/tsenart/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tsenart/subscriptions","organizations_url":"https://api.github.com/users/tsenart/orgs","repos_url":"https://api.github.com/users/tsenart/repos","events_url":"https://api.github.com/users/tsenart/events{/privacy}","received_events_url":"https://api.github.com/users/tsenart/received_events","type":"User","site_admin":false},"html_url":"https://github.com/tsenart/go-tsz","description":"Time
      series compression algorithm from Facebook''s Gorilla paper","fork":true,"url":"https://api.github.com/repos/tsenart/go-tsz","forks_url":"https://api.github.com/repos/tsenart/go-tsz/forks","keys_url":"https://api.github.com/repos/tsenart/go-tsz/keys{/key_id}","collaborators_url":"https://api.github.com/repos/tsenart/go-tsz/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/tsenart/go-tsz/teams","hooks_url":"https://api.github.com/repos/tsenart/go-tsz/hooks","issue_events_url":"https://api.github.com/repos/tsenart/go-tsz/issues/events{/number}","events_url":"https://api.github.com/repos/tsenart/go-tsz/events","assignees_url":"https://api.github.com/repos/tsenart/go-tsz/assignees{/user}","branches_url":"https://api.github.com/repos/tsenart/go-tsz/branches{/branch}","tags_url":"https://api.github.com/repos/tsenart/go-tsz/tags","blobs_url":"https://api.github.com/repos/tsenart/go-tsz/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/tsenart/go-tsz/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/tsenart/go-tsz/git/refs{/sha}","trees_url":"https://api.github.com/repos/tsenart/go-tsz/git/trees{/sha}","statuses_url":"https://api.github.com/repos/tsenart/go-tsz/statuses/{sha}","languages_url":"https://api.github.com/repos/tsenart/go-tsz/languages","stargazers_url":"https://api.github.com/repos/tsenart/go-tsz/stargazers","contributors_url":"https://api.github.com/repos/tsenart/go-tsz/contributors","subscribers_url":"https://api.github.com/repos/tsenart/go-tsz/subscribers","subscription_url":"https://api.github.com/repos/tsenart/go-tsz/subscription","commits_url":"https://api.github.com/repos/tsenart/go-tsz/commits{/sha}","git_commits_url":"https://api.github.com/repos/tsenart/go-tsz/git/commits{/sha}","comments_url":"https://api.github.com/repos/tsenart/go-tsz/comments{/number}","issue_comment_url":"https://api.github.com/repos/tsenart/go-tsz/issues/comments{/number}","contents_url":"https://api.github.com/repos/tsenart/go-tsz/contents/{+path}","compare_url":"https://api.github.com/repos/tsenart/go-tsz/compare/{base}...{head}","merges_url":"https://api.github.com/repos/tsenart/go-tsz/merges","archive_url":"https://api.github.com/repos/tsenart/go-tsz/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/tsenart/go-tsz/downloads","issues_url":"https://api.github.com/repos/tsenart/go-tsz/issues{/number}","pulls_url":"https://api.github.com/repos/tsenart/go-tsz/pulls{/number}","milestones_url":"https://api.github.com/repos/tsenart/go-tsz/milestones{/number}","notifications_url":"https://api.github.com/repos/tsenart/go-tsz/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/tsenart/go-tsz/labels{/name}","releases_url":"https://api.github.com/repos/tsenart/go-tsz/releases{/id}","deployments_url":"https://api.github.com/repos/tsenart/go-tsz/deployments","created_at":"2018-07-21T09:17:19Z","updated_at":"2018-08-14T23:56:35Z","pushed_at":"2018-08-14T23:56:33Z","git_url":"git://github.com/tsenart/go-tsz.git","ssh_url":"git@github.com:tsenart/go-tsz.git","clone_url":"https://github.com/tsenart/go-tsz.git","svn_url":"https://github.com/tsenart/go-tsz","homepage":"","size":326,"stargazers_count":0,"watchers_count":0,"language":"Go","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"topics":[],"forks":2,"open_issues":0,"watchers":0,"default_branch":"master","temp_clone_token":null,"parent":{"id":41533478,"node_id":"MDEwOlJlcG9zaXRvcnk0MTUzMzQ3OA==","name":"go-tsz","full_name":"dgryski/go-tsz","private":false,"owner":{"login":"dgryski","id":970862,"node_id":"MDQ6VXNlcjk3MDg2Mg==","avatar_url":"https://avatars2.githubusercontent.com/u/970862?v=4","gravatar_id":"","url":"https://api.github.com/users/dgryski","html_url":"https://github.com/dgryski","followers_url":"https://api.github.com/users/dgryski/followers","following_url":"https://api.github.com/users/dgryski/following{/other_us[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/tsenart/VEGETA
    method: GET
  response:
    body: '{"id":12080551,"node_id":"MDEwOlJlcG9zaXRvcnkxMjA4MDU1MQ==","name":"vegeta","full_name":"tsenart/vegeta","private":false,"owner":{"login":"tsenart","id":67471,"node_id":"MDQ6VXNlcjY3NDcx","avatar_url":"https://avatars2.githubusercontent.com/u/67471?v=4","gravatar_id":"","url":"https://api.github.c[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/keegancsmith/sqlf
    method: GET
  response:
    body: '{"id":58958942,"node_id":"MDEwOlJlcG9zaXRvcnk1ODk1ODk0Mg==","name":"sqlf","full_name":"keegancsmith/sqlf","private":false,"owner":{"login":"keegancsmith","id":187831,"node_id":"MDQ6VXNlcjE4NzgzMQ==","avatar_url":"https://avatars1.githubusercontent.com/u/187831?v=4","gravatar_id":"","url":"https[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph/Sourcegraph
    method: GET
  response:
    body: '{"id":41288708,"node_id":"MDEwOlJlcG9zaXRvcnk0MTI4ODcwOA==","name":"sourcegraph","full_name":"sourcegraph/sourcegraph","private":false,"owner":{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","avatar_url":"https://avatars0.githubusercontent.com/u/3979584?v=[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/search/repositories?page=1&per_page=100&q=user%3Atsenart+in%3Aname+patrol
    method: GET
  response:
    body: '{"total_count":1,"incomplete_results":false,"items":[{"id":153657245,"node_id":"MDEwOlJlcG9zaXRvcnkxNTM2NTcyNDU=","name":"patrol","full_name":"tsenart/patrol","private":false,"owner":{"login":"tsenart","id":67471,"node_id":"MDQ6VXNlcjY3NDcx","avatar_url":"https://avatars2.githubusercontent.com/u/67471?v=4","gravatar_id":"","url":"https://api.github.com/users/tsenart","html_url":"https://github.com/tsenart","followers_url":"https://api.github.com/users/tsenart/followers","following_url":"https://api.github.com/users/tsenart/following{/other_user}"[...]
