.card.extension-card {
    min-height: 9rem;
    background-color: var(--extension-card-bg);
    flex: 1;
}

.extension-card .extension-card-body-title {
    color: var(--body-color) !important;
}

.extension-card .extension-card__icon {
    width: 6rem;
    height: 6rem;
}

.extension-card .extension-card-spacer {
    flex: 1;
}

.extension-card .extension-card-footer {
    background: unset;
}

.extension-card .extension-card-body:hover {
    text-decoration: none;
}
.extension-card .extension-card-body:hover .extension-card-body-title,
.extension-card .extension-card-body:focus .extension-card-body-title {
    text-decoration: underline;
    color: var(--link-hover-color);
}

.extension-card .btn-link {
    text-decoration: none !important;
}
