<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package Name="Cody App"
             Manufacturer="Sourcegraph"
             Version="$(var.InstallerMajorVersion).$(var.InstallerMinorVersion).$(var.InstallerBuildVersion).$(var.InstallerRevVersion)"
             ProductCode="{0C5AC665-C900-4269-9C76-3C96DF5AD1D9}"
             UpgradeCode="{54d20194-73ce-41d2-aa4e-02e72f94ed54}"
             Compressed="yes"
             Language="1033"
             InstallerVersion="200">

        <Launch Condition="Installed OR (VersionNT &gt;= 603) OR (VersionNT &gt;= 602 AND MsiNTProductType &lt;&gt; 1)"
                Message="!(loc.UnsupportedOS)" />

        <?if $(var.Platform)~=x64?>
        <!-- We only support AMD64 for Cody -->
        <?else?>
        <?error Unsupported platform: $(var.Platform) ?>
        <?endif?>
        <Launch Condition="VersionNT64" Message="!(loc.ArchMismatch)" />

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>
        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

        <Icon Id="AppIcon" SourceFile="resources/cody.ico"/>
        <Property Id="ARPPRODUCTICON" Value="AppIcon"/>

        <FeatureRef Id="Cody" />
        <FeatureRef Id="Backend" />

        <ui:WixUI Id="AppUI" InstallDirectory="INSTALLDIR" />

        <WixVariable Id="WixUILicenseRtf" Value="resources/license.rtf" />
        <WixVariable Id="WixUIDialogBmp" Value="resources/background.png" />
        <WixVariable Id="WixUIBannerBmp" Value="resources/top.png" />
    </Package>
</Wix>
