@value vars "sourcegraph/components/styles/_vars.css";
@value base "sourcegraph/components/styles/_base.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value layout "sourcegraph/components/styles/_layout.css";
@value typography "sourcegraph/components/styles/_typography.css";

@value c_cool_gray from colors;
@value c_cool_mid_gray from colors;
@value c_cool_pale_gray from colors;
@value font_size_3 from vars;
@value font_size_4 from vars;
@value font_size_5 from vars;
@value media_sm from vars;

.block { display: block; }
.hidden_s { composes: hidden_s from base; }
.relative { position: relative; }

.f4 { composes: f4 from typography; }
.f5 { composes: f5 from typography; }
.tc { composes: tc from typography; }
.cool_gray { composes: cool_gray from colors; }
.cool_mid_gray { composes: cool_mid_gray from colors; }

.inline_block { display: inline-block; }

.flex_container { display: flex; }
.flex { flex: 1 1; }
.flex_icon {
	composes: tc from typography;
	composes: pr3 from base;
}
.w100 { width: 100%; }

@media media_sm {
	.block_s {
		float: none;
		padding-left: 0;
	}
}

.bg {
	composes: bg_pale_blue_gradient from colors;
	flex: 1;
}

.container { composes: containerFixedLeft from layout; }

.center { composes: center from base; }

.bold {
	font-weight: bold;
}

.result { cursor: pointer; }

.result_error {
	composes: red from colors;
}

.result_selected {
	composes: result;
	composes: bg_blue_1 from colors;
}
.result_selected .repo, .result_selected .docstring {
	color: c_cool_gray;
}

code.block {
	word-break: break-all;
}

.docstring {
	composes: cool_mid_gray from colors;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
