.notebook-node {
    &:first-child {
        border-top: 1px solid var(--border-color-2);
    }
    border-bottom: 1px solid var(--border-color-2);
}

.left {
    /* Enables responsive ellipsis text truncation */
    min-width: 0;
}

.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meta {
    font-size: 0.75rem;
    flex-wrap: wrap;
}

.notebook-link {
    font-size: 1rem;
}

.private-badge {
    font-size: 0.625rem;
}

.notebook-star-icon-active {
    color: var(--yellow);
}

.notebook-star-icon {
    font-size: 1rem;
}
