.insight-card {
    max-width: 17rem;
    cursor: pointer;
    overflow: hidden;
}

.insight-card:hover,
.insight-card:focus {
    .insight-card-body {
        background-color: var(--secondary-2);
    }

    .insight-chart {
        filter: grayscale(0%);
        transform: scale(1.05);
    }
}

.insight-card-body {
    background-color: transparent;
    transition: all 0.15s ease-in;
    margin: 0 -1rem -1rem -1rem;
    padding: 1rem;
}

.insight-chart-container {
    overflow: hidden;
    height: 200px;
}

.insight-chart {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: all 0.15s ease-in;
    background-color: transparent;
}
