{{define "Head"}}<title>Builds - {{.Repo.URI}} - Sourcegraph</title>
<meta name="robots" content="noindex">
{{end}}

{{define "RepoBody"}}
<table class="table builds">
	<thead>
		<tr><th>#</th><th>Commit</th><th>Status</th><th>Elapsed</th></tr>
	</thead>
	{{range .BuildsAndCommits}}
	<tr class="{{buildClass .Build}} build" data-href="{{urlToRepoBuild .Build.Repo .Build.ID}}">
		{{template "BuildCells" .}}
	</tr>
	{{end}}
</table>

{{if .PageLinks}}{{template "Pagination" .PageLinks}}{{end}}
{{end}}
