{{define "Head"}}<title>Build {{.Build.Spec.IDString}} - Sourcegraph</title>
<meta name="robots" content="noindex">
{{end}}

{{define "RepoBody"}}
<nav class="page-actions">
	<a class="btn btn-default btn-sm" href="{{urlToRepoSubroute "repo.builds" .Repo.URI}}">&laquo; View all builds</a>
	<a class="btn btn-default btn-sm" href="{{urlToRepoBuildSubroute "repo.build.log" .Repo.URI .Build.ID}}" target="_blank"><i class="fa fa-file-text"></i>&nbsp; Download logs</a>
	<form action="{{urlToRepoSubroute "repo.builds.create" .Repo.URI}}" method="post" class="form-inline">
		<input type="hidden" name="CommitID" value="{{.Build.CommitID}}">
		<input type="hidden" name="Queue" value="true">
		<input type="hidden" name="Force" value="true">
		<button
		{{if not .Commit}}disabled{{else if and .Build.Success (not (isAdmin .Ctx "Builds.Create"))}}disabled{{end}}
		type="submit" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i>&nbsp; Rebuild</button>
		{{if not .Commit}}
		<span class="help-sm-fade">Disabled because the commit could not be retrieved</span>
		{{else if and .Build.Success (not (isAdmin .Ctx "Builds.Create"))}}
		<span class="help-sm-fade">Disabled because the commit is successfully built</span>
		{{end}}
		<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
	</form>
</nav>

<div class="row">
	<div class="col-md-4 col-sm-4">
		<div class="media">
			<header class="repo-build pull-left">
				<h1 class="label label-{{buildClass .Build}}">
					<span class="number">#{{.Build.ID}}</span>
					<span class="status">{{buildStatus .Build}}</span>
				</h1>
			</header>
			<div class="media-body">
				<table class="table repo-build table-condensed">
					{{if not .Build.StartedAt}}<tr><th>Created</th><td>{{template "TimeAgo" .Build.CreatedAt}}</td></tr>{{end}}
					{{if not .Build.EndedAt}}<tr><th>Started</th><td>{{template "TimeAgo" .Build.StartedAt}}</td></tr>{{end}}
					{{if .Build.EndedAt}}<tr><th>Ended</th><td>{{template "TimeAgo" .Build.EndedAt}}</td></tr>{{end}}
					{{if .Build.StartedAt}}<tr><th>Elapsed</th><td>{{duration .Build.StartedAt (minTime .Build.EndedAt now)}}</td></tr>{{end}}
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-8 col-lg-6">
		{{with .Commit}}
		<div class="commit single media repo-build">
			{{template "Commit" .}}
			{{$commitRest := commitRestOfMessage .Message}}
			{{if $commitRest}}
			<pre class="commit-rest">{{$commitRest}}</pre>
			{{end}}
		</div>
	{{else}}
		<p>Commit: <code>{{.Build.CommitID}}</code></p>
		<div class="alert alert-warning">Unable to retrieve commit</div>
		{{end}}
	</div>

</div>

{{if .Build.Failure}}
<div class="alert alert-danger">
{{if .DisableExternalLinks}}
	<strong>Build failed.</strong> Check the logs for more information about why
	this failed.
{{else}}
	<strong>Build failed.</strong> Please see the <a href="https://src.sourcegraph.com/sourcegraph/.docs/troubleshooting/builds/">troubleshooting guide</a> or <a href="mailto:help@sourcegraph.com">contact us</a> for help.
{{end}}
</div>
{{end}}

{{$repo := .Repo}}
<pre id="build-log" data-src="{{urlToRepoBuildSubroute "repo.build.log" $repo.URI .Build.ID}}">
</pre>

{{end}}
