{{define "Head"}}<title>{{.Repo.URI}} - Changeset not found</title>
{{end}}

{{define "RepoBody"}}

<div class="changeset-not-found">
	<h1 class="changeset-title">
		<span class="changeset-id">#{{.Changeset.ID}}</span>{{.Changeset.Title}}
	</h1>

	<p class="subtitle">
		<b>{{.Changeset.Author.Login}}</b> opened the changeset on {{template "DateTime" .Changeset.CreatedAt}}
	</p>

	<div data-react-component="MarkdownView" data-content="{{.Changeset.Description}}"></div>

	<table class="over-threshold-warning">
		<td class="icon">
			<i class="fa fa-icon fa-warning"></i>
		</td>
		<td class="text">
			Changeset branch already merged or deleted.
			{{if (isNil .Changeset.ClosedAt)}}
				<div class="react-close-changeset-button" data-repo="{{.DeltaSpec.Base.URI}}" data-changeset-id="{{.Changeset.ID}}" data-redirect-url="{{urlToRepoChangesets .DeltaSpec.Base.URI false}}"></div>
			{{end}}
		</td>
	</table>
</div>
{{end}}
