{{define "Head"}}<title>{{.Repo.URI}} - Changesets</title>
{{end}}

{{define "RepoBody"}}

<div data-react="AlertView" data-content="Sourcegraph Changes is in beta. Known issues include not storing diffs and commit history for deleted or merged branches." data-closeable="true" data-has-cookie="true"></div>

<div class="changeset-list">
	<ul class="changeset-tabs nav nav-tabs">
		<li class="{{if .Op.Open}}active{{end}}">
			<a href="{{urlToRepoChangesets .Repo.URI false}}"><span class="octicon octicon-git-pull-request"></span>Open</a>
		</li>
		<li class="{{if .Op.Closed}}active{{end}}">
			<a href="{{urlToRepoChangesets .Repo.URI true}}"><span class="octicon octicon-x"></span>Closed</a>
		</li>
	</ul>

	<a class="btn btn-sgblue compare-review" href="{{urlToRepoCompare .Repo.URI .RepoRevSpec.Rev .RepoRevSpec.Rev}}">
		<span class="octicon octicon-git-compare"></span> Create a new changeset
	</a>

	{{$repo := .Repo.URI}}

	<div class="changeset-list-tab-content">
		{{if eq (len .List) 0}}
			<div class="changeset-empty-list">No {{if .Op.Closed}}closed{{else}}open{{end}} changesets.</div>
		{{else}}
			<table>
				<tbody>
				{{range .List}}
					<tr>
						{{$changesetURL := urlToRepoChangeset $repo .ID}}
						<td class="table-cell-id">
							<div class="changeset-id">
								<a href="{{$changesetURL}}">#{{.ID}}</a>
							</div>
						</td>
						<td class="table-cell-title">
							<div class="changeset-title">
								<a href="{{$changesetURL}}">{{.Title}}</a>
							</div>
							<div class="changeset-spec">
								to merge {{.DeltaSpec.Head.Rev}} into {{.DeltaSpec.Base.Rev}}
							</div>
							<div class="changeset-author">
								by <a class="author-name" href="{{urlToUser .Author.Login}}">
									{{if .Author}}{{.Author.Login}}{{end}}
								</a>
							</div>
						</td>
						<td class="table-cell-time">
							<div class="changeset-time">
								{{if .ClosedAt}}
									{{if .Merged}}merged{{else}}closed{{end}} {{template "TimeAgo" .ClosedAt}}
								{{else}}
									opened {{template "TimeAgo" .CreatedAt}}
								{{end}}
							</div>
						</td>
					</tr>
				{{end}}
				</tbody>
			</table>
		{{end}}
	</div>
</div>

{{end}}
