{{define "Head"}}<title>{{.Repo.Name}}@{{truncateCommitID .RepoCommit.ID}} - Sourcegraph</title>
{{end}}

{{define "RepoBody"}}

{{$commitID := .RepoCommit.ID}}
{{$repoURI := .Repo.URI}}

<nav class="page-actions">
	{{range .RepoCommit.Parents}}
	<a class="btn btn-default btn-sm" href="{{urlToRepoCommit $repoURI .}}"
			data-tooltip title="View parent commit {{.}}">
		<span class="octicon octicon-git-commit"></span> Parent {{truncateCommitID .}}
	</a>
	{{end}}
	<a class="btn btn-default btn-sm" href="{{urlToRepoTreeEntry $repoURI .RepoCommit.ID "."}}"
		data-tooltip title="Browse files as of {{.RepoCommit.ID}}">
		<span class="octicon octicon-file-directory"></span> Browse files at this commit
	</a>
</nav>

{{with .RepoCommit}}
<div class="commit single media">
	{{template "Commit" .}}
	{{$commitRest := commitRestOfMessage .Message}}
	{{if $commitRest}}
	<pre class="commit-rest">{{$commitRest}}</pre>
	{{end}}
</div>
{{end}}

{{if .Delta}}
	{{template "commitDelta" $}}
{{end}}

{{if not .RepoCommit.Parents}}
	<div class="alert alert-warning">Can't show diff for first (root) commit.</div>
{{end}}

{{end}}


{{define "commitDelta"}}
{{$Repo := .Repo}}

<div class="delta">
	<script ignore-csp>window.preloadedDiffData = {{json .}}</script>
	<div id="RepoCompareView" data-revision-header="no" class="compare-view"></div>
</div>
{{end}}
