{{define "Head"}}<title>Commits - {{.Repo.URI}} - Sourcegraph</title>
{{end}}

{{define "RepoBody"}}

<div data-react="sourcegraph/repo/RevSwitcherContainer" data-props='{"repo":"{{.CurrentRouteVars.Repo}}","rev":"{{coalesce .CurrentRouteVars.Rev .Repo.DefaultBranch}}","route":"commits"}'></div>

{{if isNil .CommitDays}}
<div class="alert alert-danger"><strong>Error fetching commits.</strong></div>
{{else if not .CommitDays}}
<div class="alert alert-info">No commits found.</div>
{{else}}
{{template "CommitDays" .CommitDays}}
{{if .PageLinks}}{{template "Pagination" .PageLinks}}{{end}}
{{end}}
{{end}}
