{{define "Head"}}<title>{{.Repo.Name}}@{{truncateCommitID .RepoCommit.ID}} - Sourcegraph</title>
{{end}}

{{define "RepoBody"}}

{{$commitID := .RepoCommit.ID}}
{{$repoURI := .Repo.URI}}

<nav class="page-actions">
	{{range .RepoCommit.Parents}}
	<a class="btn btn-default btn-sm" href="{{urlToRepoCommit $repoURI .}}"	title="View parent commit {{.}}">
		Parent {{truncateCommitID .}}
	</a>
	{{end}}
	<a class="btn btn-default btn-sm" href="{{urlToRepoTreeEntry $repoURI .RepoCommit.ID "."}}" title="Browse files as of {{.RepoCommit.ID}}">
		Browse files at this commit
	</a>
</nav>

{{with .RepoCommit}}
<div class="commit single media">
	{{template "Commit" .}}
	{{$commitRest := commitRestOfMessage .Message}}
	{{if $commitRest}}
	<pre class="commit-rest">{{$commitRest}}</pre>
	{{end}}
</div>
{{end}}

{{if .Delta}}
	{{template "commitDelta" $}}
{{end}}

{{if not .RepoCommit.Parents}}
	<div class="alert alert-warning">Can't show diff for first (root) commit.</div>
{{end}}

{{end}}

{{define "commitDelta"}}
{{$Repo := .Repo}}


<div class="delta">
	<div data-react="sourcegraph/delta/FileDiffs" data-props='{"files":{{json .DeltaFiles.FileDiffs}},"stats":{{json .DeltaFiles.Stats}},"baseRepo":"{{.Delta.Base.URI}}","baseRev":"{{.Delta.Base.Rev}}","headRepo":"{{.Delta.Head.URI}}","headRev":"{{.Delta.Head.Rev}}"}'></div>
</div>
{{end}}
