{{define "Head"}}
	<title>{{.Repo.URI}} - Discussions</title>
{{end}}

{{define "RepoBody"}}
	{{with .Discussion}}
		<div class="discussion-thread discussion-thread-page discussions pull-left">
			<div class="container">
				<div class="padded-form">
					<header>
						<h1>
							<div class="contents">
								{{.Title}}<span class="id">#{{.ID}}</span>
							</div>
						</h1>
						<div class="stats">
							<span class="octicon octicon-comment-discussion"></span> {{len .Comments}}
						</div>
						<div class="subtitle">
							<span class="author"><a>@{{.Author.Login}}</a></span>
							<span class="date">{{template "TimeAgo" .CreatedAt}}</span>
							on <a href="{{urlToDef .DefKey}}" class="backtick qualified-name">{{.DefKey.Path}}</a>
						</div>
					</header>
					<main class="body">
						<div data-react-component="MarkdownView" data-content="{{.Description}}"></div>
					</main>
					<ul class="thread-comments">
						{{range .Comments}}
							<li class="thread-comment">
								<div class="signature">
									<a>@{{.Author.Login}}</a> replied <i>{{template "TimeAgo" .CreatedAt}}</i>
								</div>
								<p>
									<div data-react-component="MarkdownView" data-content="{{.Body}}"></div>
								</p>
							</li>
						{{end}}
					</ul>
				</div>
				<form class="add-comment" method="POST" action="{{urlToRepoDiscussion $.Repo.URI .ID}}">
					<div class="padder pull-left">
						{{if not (isNil $.CurrentUser)}}
							You are posting as <a href={{urlToUser $.CurrentUser.Login}}>@{{$.CurrentUser.Login}}</a>
						{{end}}
						<input type="hidden" name="discussion_id" value="{{.ID}}">
						<input type="hidden" name="def_key" value="{{json .DefKey}}">
						<input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
						<textarea name="body" placeholder="Type to comment..."></textarea>
						<input id="add-discussion-comment" type="submit" class="btn btn-sgblue pull-right"></input>
					</div>
				</form>
			</div>
		</div>
	{{end}}

	{{if gt (len .Related) 1}}
		<div class="discussions discussions-list discussions-list-page related-small pull-left">
			<h1>Other discussions</h1>
			<div class="container">
				<ul class="discussions-list">
					{{range .Related}}
						{{if not (eq $.Discussion.ID .ID)}}
							{{template "Discussion" (map "Discussion" . "Repo" $.Repo)}}
						{{end}}
					{{end}}
				</ul>
			</div>
		</div>
	{{end}}
{{end}}
