{{define "Head"}}<title>{{.Repo.Name}} - Sourcegraph</title>
<meta name="description" content="{{repoMetaDescription .Repo}}">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@srcgraph" />
<meta name="twitter:title" content="Repository {{.Repo.URI}}"/>
<meta name="twitter:description" content="{{.Repo.Description}}{{if and .Repo.Description .Repo.HomepageURL}} - {{end}}{{.Repo.HomepageURL}}" />
{{end}}

{{define "RepoBody"}}

<div class="repo-home">
{{template "RepoTree" $}}
</div>

{{end}}
