{{define "Head"}}<title>Cloning {{.Repo.Name}} - Sourcegraph</title>
{{end}}

{{define "RepoBody"}}
<div class="well repo-interstitial repo-no-vcs-data">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-push-3">
				{{if .Repo.Mirror}}
					<p class="alert alert-interstitial">
						<span class="octicon octicon-hourglass"></span>
						<strong>Cloning {{.Repo.VCS}} repository</strong>
						from
						<a href="{{.Repo.HTTPCloneURL}}">{{.Repo.HTTPCloneURL}}</a>&hellip;
					</p>
					<p class="info-interstitial">
						Reload this page in a bit.
					</p>
				{{else}}
					<h3>Nothing here yet.</h3>

					<h4>You can either</h4>

					<hr>

					<h4>...push an existing repository</h4>
					<pre>
git remote add origin {{.Repo.HTTPCloneURL}}
git push -u origin master
					</pre>

					<hr>

					<h4>...or create a new repository</h4>
					<pre>
echo "# {{.Repo.Name}}" >> README.md
git init
git add README.md
git commit -m "initial commit"
git remote add origin {{.Repo.HTTPCloneURL}}
git push -u origin master
					</pre>

				{{end}}
			</div>
		</div>
	</div>
</div>
{{end}}
