{{define "Head"}}<title>{{.Repo.Name}} - Sourcegraph</title>
<meta name="robots" content="noindex">
{{end}}

{{define "RepoBody"}}
<div class="well repo-interstitial repo-not-enabled">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-push-3">
				{{if repoMaybeUnsupported .Repo}}
					<div class="alert alert-danger">
						<strong><span class="octicon octicon-alert"></span> {{with .Repo.Language}}{{.}}{{else}}Repository{{end}} is not supported.</strong>
						Sourcegraph's advanced code search, browsing, and usage examples are only available for Go and Java. If the language was detected incorrectly, or to use only basic repository operations, you can proceed anyway.
					</div>
				{{end}}

				<p class="alert alert-interstitial">
					<span class="octicon octicon-stop"></span>
					<strong>This repository must be enabled</strong> to use on Sourcegraph.
				</p>

				{{if .CurrentUser}}
					<form method="post" action="{{urlToRepoSubroute "repo.enable" .Repo.URI}}">
						<button type="submit" class="btn btn-lg btn-success repo-enable-button">Enable</button>
						<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
					</form>
				{{else}}
					<form action="{{urlToWithReturnTo "log-in" .ReturnTo}}" method="POST" class="navbar-form">
						<button class="btn btn-lg btn-success repo-login" href="#"><span class="octicon octicon-key"></span> Sign in (required)</button>
						<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
					</form>
				{{end}}
			</div>
		</div>
	</div>
</div>
{{end}}
