.user-settings-sidebar {
    width: 12.5rem;

    &__new-org-btn-wrapper {
        .theme-redesign & {
            margin-top: 0.25rem;
        }
    }
    &__new-org-btn {
        .theme-classic & {
            width: 100%;
            height: 100%;
        }
    }
}
