.panel-container {
    &__header {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $color-border;

        .theme-light & {
            border-bottom-color: $color-light-border;
        }

        &-text {
            font-weight: 600 !important;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.05em;
            margin-bottom: 4px;
            flex-grow: 1;
        }
    }
}
