.panel-container {
    margin-bottom: 1rem;

    &__header {
        &-text {
            margin-bottom: 0.25rem;
            flex-grow: 1;
            align-self: flex-end;
        }
    }

    &__action-button-group {
        margin-bottom: 0.25rem;
        font-size: 12px;
    }

    &__action-button {
        font-size: 12px;
        line-height: 16px;
    }

    &__empty-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 3rem;
        justify-content: center;
        background: $color-bg-2;
        height: 100%;

        .theme-light & {
            background: $color-light-bg-2;
        }
    }

    &__content {
        overflow-y: auto;
        overflow-x: hidden;
    }
}
