.filter-button {
    position: relative;

    // Set default border color for the filter marker dot
    &::before {
        color: var(--body-bg);
    }

    // Change the icon color on hover/focus state
    &:hover,
    &:focus {
        .filter-icon {
            fill: var(--body-color);
        }
    }

    // Change the icon and button state with opened filter panel
    &--with-open-panel {
        background-color: var(--color-bg-2);

        // Highlight the filter icon
        .filter-icon {
            fill: var(--body-color);
        }

        &::before {
            color: var(--color-bg-2);
        }
    }

    // Show filter marker dot if we have an applied filter
    &--active {
        &::before {
            content: '';
            width: 0.65rem;
            height: 0.65rem;
            border-radius: 50%;
            background-color: var(--purple);

            position: absolute;
            top: 100%;
            left: 100%;
            border: 1px solid currentColor;
            transform: translate(-100%, -100%);

            &:hover {
                border: 2px solid currentColor;
            }
        }
    }
}

.filter-icon {
    fill: var(--icon-color);
}

.popover {
    display: block;
    border-radius: 0;
}
