$added: #1fa01b;
$changed: #c07a0a;
$deleted: #c91111;

.diff-stat {
    display: flex;
    align-items: center;

    &__total {
        padding-right: 0.125rem;
        // stylelint-disable-next-line declaration-property-unit-whitelist
        margin-bottom: -1px;
    }

    &__square {
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        margin-left: 0.125rem;
    }

    &__added {
        background-color: $added;
    }
    &__text-added {
        color: $added;
    }
    &__changed {
        background-color: $changed;
    }
    &__text-changed {
        color: $changed;
    }
    &__deleted {
        background-color: $deleted;
    }
    &__text-deleted {
        color: lighten($deleted, 10%);
    }
    &__empty {
        background-color: var(--text-muted);
    }
}
