.install-browser-extension-popover {
    width: 31rem;
}

.graphic-container {
    margin-bottom: 2rem;
    width: 11.25rem;
}

.plus-icon {
    color: var(--gray-06);
    height: 1.25rem;
    width: 1.25rem;
}

.logo {
    height: 3.5rem;
    width: 3.5rem;
}
