.wrapper {
    display: grid;
    grid-template-columns: 44fr 56fr;
    gap: 3rem;
    padding: 1.5rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 1.5rem;
}

.bullet-title {
    font-weight: 600;
    font-size: 1rem;
    line-height: 125%;
}

.callout-wrapper {
    position: relative;
    left: -1.5rem;
    margin-top: 1.5rem;
}

.callout {
    position: relative;
    top: -0.2rem;
    vertical-align: baseline;
    margin-right: 1rem;
}
