.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    padding: 1.5rem;
}

.chart {
    min-height: 19.5rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 1.5rem;
}

.bullet-title {
    font-weight: 600;
    font-size: 1rem;
    line-height: 125%;
}
