.avatar {
    width: 3rem;
    height: 3rem;
    max-height: 10rem;
    margin-right: 1rem;
}

.navigation {
    display: flex;
    gap: 0.5rem;

    &-link {
        padding: 0.5rem 0.25rem;
    }
}
