.user-area-header {
    &__title {
        display: flex;
        align-items: center;

        margin-bottom: 0.75rem;
        font-weight: normal;

        &-subtitle {
            opacity: 0.75;
            font-size: 20px;
        }
    }

    &__avatar {
        width: 6rem;
        margin-right: 1rem;
        .user-avatar {
            // Scale proportionally.
            width: 100%;
            height: auto;
            max-height: 10rem;
        }
    }
}
