.visible-changeset-apply-preview-node {
    &__current-state,
    &__action,
    &__information,
    &__show-details {
        @include media-breakpoint-down(xs) {
            // Make it full width in the current row.
            grid-column: 1 / -1;
        }
    }
    &__bg-expanded {
        @include media-breakpoint-up(sm) {
            background-color: rgba($oc-blue-0, 0.5);
        }
    }
    &__status-cell {
        @include media-breakpoint-up(sm) {
            background-color: $oc-blue-0;
        }
    }
    &__list-cell {
        @include media-breakpoint-up(sm) {
            padding: 1rem;
        }
        @include media-breakpoint-down(xs) {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }
    &__expanded-section {
        background-color: rgba($oc-blue-0, 0.5);
        @include media-breakpoint-down(xs) {
            // Make it full width in the current row.
            grid-column: 1 / -1;
        }
        // Make it full width in the current row.
        grid-column: 2 / -1;
    }
}
