.header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0.5rem 0 0.5rem;
}

.separator {
    border-color: var(--dropdown-border-color);
    margin: 0 -1rem;
}

.description {
    display: inline-block;
    margin: 0.75rem 0;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 0;
}
