.form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.heading {
    font-weight: normal;
    margin: 0;
}

.clear-filters {
    margin-left: auto;
    padding: 0;
}

.description {
    display: inline-block;
    color: var(--text-muted);
    margin-bottom: 0.75rem;
}

.separator {
    flex: 1;
    border-color: var(--dropdown-border-color);
    margin: 1rem -1rem;

    &--small {
        margin: 0.75rem -1rem;
    }
}

.fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.buttons {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}
