.checkbox {
    margin-right: 0.25rem;
    position: relative !important; // To disable position absolute from bootstrap
}

.label {
    font-weight: bold;
}

.submit-button {
    margin-bottom: 1rem;
}

// Hide icon in alert
.code-monitoring-alert {
    &::before,
    &::after {
        display: none;
    }
}
