.header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0 0 0.75rem 0;
}

.header-separator {
    margin-top: 0;
    margin-bottom: 0.25rem;
}

.heading {
    margin: 0;
}

.clear-filters {
    margin-left: auto;
    padding: 0;
}

.input {
    font-size: 0.75rem;
    width: 100%;
}

.section-description {
    margin-bottom: 1rem;
    display: block;
}

.panels {
    display: flex;
    flex-direction: column;

    &--horizontal-mode {
        flex-direction: row;
        gap: 1.5rem;
        padding-bottom: 1rem;
    }
}

.panel {
    min-width: 0;
    flex-basis: 50%;
}

.reg-exp-filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    margin-top: -0.25rem;
    padding: 0.75rem 0 0 0;
}

.buttons {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}
