@value base "sourcegraph/components/styles/_base.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value colors "sourcegraph/components/styles/_colors.css";

.label_blue {
	composes: bg_cool_pale_gray from colors;
	composes: f7 b from typography;
	composes: br2 pv0 ph1 from base;
	display: inline-block;
}
