---
version: 1
interactions:
  - request:
      body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tisLocked\n\tisDisabled\n\tviewerPermission\n\tstargazerCount\n\tforkCount\n}\n\t\nquery($query:
      String!, $type: SearchType!, $after: String, $first: Int!) {\n\tsearch(query:
      $query, type: $type, after: $after, first: $first) {\n\t\trepositoryCount\n\t\tpageInfo
      { hasNextPage,  endCursor }\n\t\tnodes { ... on Repository { ...RepositoryFields
      } }\n\t}\n}","variables":{"first":10,"query":"stars:10000..10100","type":"REPOSITORY"}}'
      form: {}
      headers:
        Content-Type:
          - application/json; charset=utf-8
      url: https://api.github.com/graphql
      method: POST
    response:
      body: "{\"data\":{\"search\":{\"repositoryCount\":38,\"pageInfo\":{\"hasNextPage\":true,\"endCursor\":\"Y3Vyc29yOjEw\"},\"nodes\":[{\"id\":\"MDEwOlJlcG9zaXRvcnkxODY3NTQ4MzA=\",\"databaseId\":186754830,\"nameWithOwner\":\"umijs/qiankun\",\"description\":\"\U0001F4E6
      \U0001F680 Blazing fast, simple and complete solution for micro frontends.\",\"url\":\"https://github.com/umijs/qiankun\",\"isPrivate\":false,\"isFork\":false,\"isArchived\":false,\"isLocked\":false,\"isDisabled\":false,\"viewerPermission\":\"READ\",\"stargazerCount\":10100,\"forkCount\":1184},{\"id\":\"MDEwOlJlcG9zaXRvcnkyMTUwMDY5Mg==\",\"databaseId\":21500692,\"nameWithOwner\":\"0xnr/awesome-bigdata\",\"description\":\"A
      curated list of awesome big data frameworks, ressources and other awesomeness.\",\"url\":\"https://github.com/0xnr/awesome-bigdata\",\"isPrivate\":false,\"isFork\":false,\"isArchived\":false,\"isLocked\":false,\"isDisabled\":false,\"viewerPermission\":\"READ\",\"stargazerCount\":10099,\"forkCount\":2295},{\"id\":\"MDEwOlJlcG9zaXRvcnkxOTQ0ODcwMA==\",\"dat[...]
[...]
  - request:
      body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tisLocked\n\tisDisabled\n\tviewerPermission\n\tstargazerCount\n\tforkCount\n}\n\t\nquery($query:
      String!, $type: SearchType!, $after: String, $first: Int!) {\n\tsearch(query:
      $query, type: $type, after: $after, first: $first) {\n\t\trepositoryCount\n\t\tpageInfo
      { hasNextPage,  endCursor }\n\t\tnodes { ... on Repository { ...RepositoryFields
      } }\n\t}\n}","variables":{"after":"Y3Vyc29yOjEw","first":10,"query":"stars:10000..10100
      created:2014-10-10T20:40:32+00:00..2021-07-20T17:21:04+00:00","type":"REPOSITORY"}}'
      form: {}
      headers:
        Content-Type:
          - application/json; charset=utf-8
      url: https://api.github.com/graphql
      method: POST
    response:
      body: "{\"data\":{\"search\":{\"repositoryCount\":20,\"pageInfo\":{\"hasNextPage\":false,\"endCursor\":\"Y3Vyc29yOjIw\"},\"nodes\":[{\"id\":\"MDEwOlJlcG9zaXRvcnkxNDkyMTE2ODg=\",\"databaseId\":149211688,\"nameWithOwner\":\"hoya012/deep_learning_ob[...]
[...]
