---
version: 1
interactions:
- request:
    body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tisLocked\n\tisDisabled\n\tviewerPermission\n\tstargazerCount\n\tforkCount\n\trepositoryTopics(first:100)
      {\n\t\tnodes {\n\t\t\ttopic {\n\t\t\t\tname\n\t\t\t}\n\t\t}\n\t}\n}\n\t\nquery($query:
      String!, $type: SearchType!, $after: String, $first: Int!) {\n\tsearch(query:
      $query, type: $type, after: $after, first: $first) {\n\t\trepositoryCount\n\t\tpageInfo
      { hasNextPage,  endCursor }\n\t\tnodes { ... on Repository { ...RepositoryFields
      } }\n\t}\n}","variables":{"first":10,"query":"stars:10000..10100","type":"REPOSITORY"}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"search":{"repositoryCount":38,"pageInfo":{"hasNextPage":true,"endCursor":"Y3Vyc29yOjEw"},"nodes":[{"id":"MDEwOlJlcG9zaXRvcnkyMDExODgxMjI=","databaseId":201188122,"nameWithOwner":"rocksdanister/lively","description":"Free
      and open-source software that allows users to set animated desktop wallpapers
      and screensavers powered by WinUI 3.","url":"https://github.com/rocksdanister/lively","isPrivate":false,"isFork":false,"isArchived":false,"isLocked":false,"isDisabled":false,"viewerPermission":"READ","stargazerCount":10100,"forkCount":816,"repositoryTopics":{"nodes":[{"topic":{"name":"rainmeter"}},{"topic":{"name":"desktop"}},{"topic":{"name":"wallpaper"}},{"topic":{"name":"widgets"}},{"topic":{"name":"desktop-wallpaper"}},{"topic":{"name":"wallpaper-engine"}},{"topic":{"name":"wallpaperengine"}},{"topic":{"name":"live-wallpaper"}},{"topic":{"name":"windows-app"}},{"topic":{"name":"dynamic-wallpaper"}},{"topic":{"name":"dynamic-desktop"}},{"topic":{"name":"wallpaper-changer"}},{"topic":{"name":"wallpaper-app"}},{"topic":{"name":"screensavers"}},{"topic":{"name":"windows-10"}[...]
