.title-container {
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.table-container {
    h4 {
        font-size: 0.85rem;
        font-weight: 600;
        border-bottom: 1px solid #808080;
    }
}

.row {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    font-size: 0.8rem;
}
