<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/script/htmx.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Sourcegraph Appliance</title>
</head>
<body>
<p>Hello!</p>
</body>
</html>
