.org-avatar {
    border-radius: 100%;
    background: #a2b0cd;
    color: #39496a;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    // TODO: Copied from UserAreaHeader
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    font-size: 1.5rem;
}
