.svg {
    overflow: visible;
}

.link {
    text-decoration: none;

    &:focus .arc-path {
        stroke-width: 3;
        stroke: var(--primary);
    }

    &--fade {
        opacity: 0.5;
    }
}

.arc-path {
    &--fake {
        stroke-width: 3;
        stroke: var(--primary);
        transform: scale(1.03);
    }
}
