---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      X-Github-Api-Version:
      - "2022-11-28"
    url: https://api.github.com/repos/sourcegraph/sourcegraph/branches/test-buildsherrif-branch/protection
    method: GET
  response:
    body: '{"url":"https://api.github.com/repos/sourcegraph/sourcegraph/branches/test-buildsherrif-branch/protection","required_status_checks":{"url":"https://api.github.com/repos/sourcegraph/sourcegraph/branches/test-buildsherrif-branch/protection/required_status_checks","strict":false,"contexts":[],"contexts_url":"https://api.github.com/repos/sourcegraph/sourcegraph/branches/test-buildsherrif-branch/protection/required_status_checks/contexts","checks":[]},"required_signatures":{"url":"https://api.github.com/repos/sourcegraph/sourcegraph/branches/test-buildsherrif-branch/protection/required_signatures","enabled":false},"enforce_admins":{"url":"https://api.github.com/repos/sourcegraph/sourcegraph/branches/test-buildsherrif-branch/protection/enforce_admins","enabled":true},"required_linear_history":{"enabled":true},"allow_force_pushes":{"enabled":false},"allow_deletions":{"enabled":false},"block_creations":{"enabled":false},"required_conversation_resolution":{"enabled":false},"lock_branch":{"enabled":false},"allow_fork_syncing":{"enabled":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fe109c089833c10f89b8d0aea2457c018cffce6071fb2e2bda19fa8ffbfd33c6"
      X-Github-Api-Version-Selected:
      - "2022-11-28"
      X-Github-Media-Type:
      - github.v3; param=luke-cage-preview; format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4871"
      X-Ratelimit-Reset:
      - "1697187415"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "129"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Github-Api-Version:
      - "2022-11-28"
    url: https://api.github.com/repos/sourcegraph/sourcegraph/commits/fac6d4973acad43fcd2f7579a3b496cd92619172
    method: GET
  response:
    body: "{\"sha\":\"fac6d4973acad43fcd2f7579a3b496cd92619172\",\"node_id\":\"C_kwDOAnYEBNoAKGZhYzZkNDk3M2FjYWQ0M2ZjZDJmNzU3OWEzYjQ5NmNkOTI2MTkxNzI\",\"commit\":{\"author\":{\"name\":\"Robert
      Lin\",\"email\":\"robert@bobheadxi.dev\",\"date\":\"2021-12-09T20:19:54Z\"},\"committer\":{\"name\":\"GitHub\",\"email\":\"noreply@github.com\",\"date\":\"2021-12-09T20:19:54Z\"},\"message\":\"tracking-issue:
      add support for OPTIONAL LABEL (#28665)\\n\\nThis adds a new marker, `<!-- OPTIONAL
      LABEL: my-label -->` that allows you to add labels on a tracking issue that
      _do not_ need to be present on child issues for them to be considered part of
      this tracking issue. This is useful for making tracking issues easier to find
      without adding labels to every single issue within the tracking issue.\",\"tree\":{\"sha\":\"5309cc0ecdc14bf9d8f290efa476be5e82c7f546\",\"url\":\"https://api.github.com/repos/sourcegraph/sourcegraph/git/trees/5309cc0ecdc14bf9d8f290efa476be5e82c7f546\"},\"url\":\"https://api.github.com/repos/sourcegraph/sourcegraph/git/commits/fac6d4973acad43fcd2f7579a3b496cd92619172\",\"comment_count\":0,\"verification\":{\"verified\":true,\"reason\":\"valid\",\"signature\":\"-----BEGIN
      PGP SIGNATURE-----\\n\\nwsBcBAABCAAQBQJhsmTqCRBK7hj4Ov3rIwAAW+EIAAGizIb0njr8AV7kcofPG0/J\\nZEKorbs/ttwV3XcjOa98ggJtlV6J3PjYjS6ZQ3J62xuVpeQFLWjmNJyoMezL7ocm\\nkHLBCOdhI62x7pTa0P1o++SgD3dGD/rLBYnibGMyZIyhgjkXhM9yiFNhNgK6ucfx\\nnCNNTXRTwwMeZxUmdYK4IZ/rBY1+Ruiobz2BlSDOJpdKWD6Bq4HfyvT9nsWfgnaf\\n1rJ4cpaLCplw81YsH9LTEi0yC/lmQ5rz/twxJwgFurmi6HUyTg3Ceqatfp2H1J2N\\nNl3P5+VOCWs2vzAU3pMyslNZso9vP+sqIBfF5IW0WEiSMu34j4wGDF7H/UpXETA=\\n=gYvt\\n-----END
      PGP SIGNATURE-----\\n\",\"payload\":\"tree 5309cc0ecdc14bf9d8f290efa476be5e82c7f546\\nparent
      be7f0f51b73b1966254db4aac65b656daa36e2fb\\nauthor Robert Lin <robert@bobheadxi.dev>
      1639081194 -0800\\ncommitter GitHub <noreply@github.com> 1639081194 -0800\\n\\ntracking-issue:
      add support for OPTIONAL LABEL (#28665)\\n\\nThis adds a new marker, `<!-- OPTIONAL
      LABEL: my-label -->` that allows you to add labels on a tracking issue that
      _do not_ need to be present on child issues for them to be considered part of
      this tracking issue. This is useful for making tracking issues easier to find
      without adding labels to every single issue within the tracking issue.\"}},\"url\":\"https://api.github.com/repos/sourcegraph/sourcegraph/commits/fac6d4973acad43fcd2f7579a3b496cd92619172\",\"html_url\":\"https://github.com/sourcegraph/sourcegraph/commit/fac6d4973acad43fcd2f7579a3b496cd92619172\",\"comments_url\":\"https://api.github.com/repos/sourcegraph/sourcegraph/commits/fac6d4973acad43fcd2f7579a3b496cd92619172/comments\",\"author\":{\"login\":\"bobheadxi\",\"id\":23356519,\"node_id\":\"MDQ6VXNlcjIzMzU2NTE5\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/23356519?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/bobheadxi\",\"html_url\":\"https://github.com/bobheadxi\",\"followers_url\":\"https://api.github.com/users/bobheadxi/followers\",\"following_url\":\"https://api.github.com/users/bobheadxi/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/bobheadxi/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/bobheadxi/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/bobheadxi/subscriptions\",\"organizations_url\":\"https://api.github.com/users/bobheadxi/orgs\",\"repos_url\":\"https://api.github.com/users/bobheadxi/repos\",\"events_url\":\"https://api.github.com/users/bobheadxi/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/bobheadxi/received_events\",\"type\":\"User\",\"site_admin\":false},\"committer\":{\"login\":\"web-flow\",\"id\":19864447,\"node_id\":\"MDQ6VXNlcjE5ODY0NDQ3\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/19864447?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/web-flow\",\"html_url\":\"https://github.com/web-flow\",\"followers_url\":\"https://api.github.com/users/web-flow/followers\",\"following_url\":\"https://api.github.com/users/web-flow/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/web-flow/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/web-flow/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/web-flow/subscriptions\",\"organizations_url\":\"https://api.github.com/users/web-flow/orgs\",\"repos_url\":\"https://api.github.com/users/web-flow/repos\",\"events_url\":\"https://api.github.com/users/web-flow/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/web-flow/received_events\",\"type\":\"User\",\"site_admin\":false},\"parents\":[{\"sha\":\"be7f0f51b73b1966254db4aac65b656daa36e2fb\",\"url\":\"https://api.github.com/repos/sourcegraph/sourcegraph/commits/be7f0f51b73b1966254db4aac65b656daa36e2fb\",\"html_url\":\"https://github.com/sourcegraph/sourcegraph/commit/be7f0f51b73b1966254db4aac65b656daa36e2fb\"}],\"stats\":{\"total\":10551,\"additions\":5897,\"deletions\":4654},\"files\":[{\"sha\":\"a841a98899df57f8c08e615e6ca2b7017c85d8ba\",\"filename\":\"internal/cmd/tracking-issue/api.go\",\"status\":\"modified\",\"additions\":1,\"deletions\":1,\"changes\":2,\"blob_url\":\"https://github.com/sourcegraph/sourcegraph/blob/fac6d4973acad43fcd2f7579a3b496cd92619172/internal%2Fcmd%2Ftracking-issue%2Fapi.go\",\"raw_url\":\"https://github.com/sourcegraph/sourcegraph/raw/fac6d4973acad43fcd2f7579a3b496cd92619172/internal%2Fcmd%2Ftracking-issue%2Fapi.go\",\"contents_url\":\"https://api.github.com/repos/sourcegraph/sourcegraph/contents/internal%2Fcmd%2Ftracking-issue%2Fapi.go?ref=fac6d4973acad43fcd2f7579a3b496cd92619172\",\"patch\":\"@@
      -58,7 +58,7 @@ func makeQueries(org string, trackingIssues []*Issue) (queries
      []string) {\\n \\tvar rawTerms [][]string\\n \\tfor _, trackingIssue := range
      trackingIssues {\\n \\t\\tvar labelTerms []string\\n-\\t\\tfor _, label := range
      nonTrackingLabels(trackingIssue.Labels) {\\n+\\t\\tfor _, label := range trackingIssue.IdentifyingLabels()
      {\\n \\t\\t\\tlabelTerms = append(labelTerms, fmt.Sprintf(\\\"label:%q\\\",
      label))\\n \\t\\t}\\n \"},{\"sha\":\"1f[...]
- request:
    body: ""
    form: {}
    headers:
      X-Github-Api-Version:
      - "2022-11-28"
    url: https://api.github.com/repos/sourcegraph/sourcegraph/commits/06a8636c2e0bea69944d8419aafa03ff3992527a
    method: GET
  response:
    body: "{\"sha\":\"06a8636c2e0bea69944d8419aafa03ff3992527a\",\"node_id\":\"C_kwDOAnYEBNoAKDA2YTg2MzZjMmUwYmVhNjk5NDRkODQxOWFhZmEwM2ZmMzk5MjUyN2E\",\"commit\":{\"author\":{\"name\":\"Robert
      Lin\",\"email\":\"robert@bobheadxi.dev\",\"date\":\"2021-12-01T17:46:07Z\"},\"committer\":{\"name\":\"GitHub\",\"email\":\"noreply@github.com\",\"date\":\"2021-12-01T17:46:07Z\"},\"message\":\"httpcli,
      actor: propagate actor on all internal requests (#28117)\\n\\nThis change propagates
      the actor in the context (from the `actor` package) on _all_ outgoing internal
      requests and adds middleware that services can use to pick up actors from incoming
      requests and add it to the request context. The middleware is currently only
      applied to `frontend`'s internal API handler, which already has something similar.
      Also adds metrics to see the number of requests that are user-authent[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Github-Api-Version:
      - "2022-11-28"
    url: https://api.github.com/orgs/sourcegraph/memberships/bobheadxi
    method: GET
  response:
    body: '{"url":"https://api.github.com/orgs/sourcegraph/memberships/bobheadxi","state":"active","role":"admin","organization_url":"https://api.github.com/orgs/sourcegraph","user":{"login":"bobheadxi","id":23356519,"node_id":"MDQ6VXNlcjIzMzU2NTE5","avatar_url":"https://avatars.githubusercontent.com/u/23356519?v=4","gravatar_id":"","url":"https://api.github.com/users/bobheadxi","html_url":"https://github.com/bobheadxi","followers_url":"https://api.github.com/users/bobheadxi/followers","following_url":"https://api.github.com/users/bobheadxi/following{/other_user}","gists_url":"https://api.github.com/users/bobheadxi/gists{/gist_id}","starred_url":"https://api.github.com/users/bobheadxi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bobheadxi/subscriptions","organizations_url":"https://api.github.com/users/bobheadxi/orgs","repos_url":"https://api.github.com/users/bobheadxi/repos","events_url":"https://api.github.com/users/bobheadxi/events{/privacy}","received_events_url":"https://api.github.com/users/bobheadxi/received_events","type":"User","site_admin":false},"organization":{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","url":"https://api.github.com/orgs/sourcegraph","repos_url":"https://api.github.com/orgs/sourcegraph/repos","events_url":"https://api.github.com/orgs/sourcegraph/events","hooks_url":"https://api.github.com/orgs/sourcegraph/hooks","issues_url":"https://api.github.com/orgs/sourcegraph/issues","members_url":"https://api.github.com/orgs/sourcegraph/members{/member}","public_members_url":"https://api.github.com/orgs/sourcegraph/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/3979584?v=4","description":"Code
      AI platform: Cody and Code Search"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"192e71f434bd76d8e1e426ea28fd349e753ff920820c69029d95f8796b9212b3"
      X-Github-Api-Version-Selected:
      - "2022-11-28"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4867"
      X-Ratelimit-Reset:
      - "1697187415"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "133"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Github-Api-Version:
      - "2022-11-28"
    url: https://api.github.com/orgs/sourcegraph/memberships/jhchabran
    method: GET
  response:
    body: '{"url":"https://api.github.com/orgs/sourcegraph/memberships/jhchabran","state":"active","role":"admin","organization_url":"https://api.github.com/orgs/sourcegraph","user":{"login":"jhchabran","id":10151,"node_id":"MDQ6VXNlcjEwMTUx","avatar_url":"https://avatars.githubusercontent.com/u/10151[...]
- request:
    body: |
      {"required_status_checks":{"strict":false,"checks":[],"contexts_url":"https://api.github.com/repos/sourcegraph/sourcegraph/branches/test-buildsherrif-branch/protection/required_status_checks/contexts","url":"https://api.github.com/repos/sourcegraph/sourcegraph/branches/test-buildsherrif-branch/protection/required_status_checks"},"required_pull_request_reviews":{"dismiss_stale_reviews":false,"require_code_owner_reviews":false,"required_approving_review_count":1},"enforce_admins":true,"restrictions":{"users":["bobheadxi","bobheadxi","jhchabran"],"teams":["dev-experience"],"apps":[]},"required_linear_history":true}
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Github-Api-Version:
      - "2022-11-28"
    url: https://api.github.com/repos/sourcegraph/sourcegraph/branches/test-buildsherrif-branch/protection
    method: PUT
  response:
    body: '{"url":"https://api.github.com/repos/sourcegraph/sourcegraph/branches/test-buildsherrif-branch/protection","required_status_checks":{"url":"https://api.github.com/repos/sourcegraph/sourcegraph/branches/test-buildsherrif-branch/protection/required_status_checks","strict":false,"contexts":[],"contexts_url":"https://api.github.com/repos/sourcegraph/sourcegraph/branches/test-buildsherrif-branch/protection/required_status_checks/contexts","checks":[]},"restrictions":{"url":"https://api.github.com/repos/sourcegraph/sourcegraph/branches/test-buildsherrif-branch/protection/restrictions","users_url":"https://api.github.com/repos/sourcegraph/sourcegraph/branches/test-buildsherrif-branch/protection/restrictions/users","teams_url":"https://api.github.com/repos/sourcegraph/sourcegraph/branches/test-buildsherrif-branch/protection/restrictions/teams","apps_url":"https://api.github.com/repos/sourcegraph/sourcegraph/branches/test-buildsherrif-branch/protection/restrictions/apps","users":[{"login":"jhchabran","id":10151,"node_id":"MDQ6VXNlcjEwMTUx","avatar_url":"https://avatars.githubusercontent.com/u/10151?v=4","gravatar_id":"","url":"https://api.github.com/users/jhchabran","html_url":"https://github.com/jhchabran","followers_url":"https://api.github.com/users/jhchabran/followers","following_url":"https://api.github.com/users/jhchabran/following{/other_u[...]
[...]
