---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/oklog/ulid
    method: GET
  response:
    body: '{"id":75744278,"node_id":"MDEwOlJlcG9zaXRvcnk3NTc0NDI3OA==","name":"ulid","full_name":"oklog/ulid","private":false,"owner":{"login":"oklog","id":24411296,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI0NDExMjk2","avatar_url":"https://avatars3.githubusercontent.com/u/24411296?v=4","gravatar_id":"","url":"https://api.github.com/users/oklog","html_url":"https://github.com/oklog","followers_url":"https://api.github.com/users/oklog/followers","following_url":"https://api.github.com/users/oklog/following{/other_user}","gists_url":"https://api.github.com/users/oklog/gists{/gist_id}","starred_url":"https://api.github.com/users/oklog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/oklog/subscriptions","organizations_url":"https://api.github.com/users/oklog/orgs","repos_url":"https://api.github.com/users/oklog/repos","events_url":"https://api.github.com/users/oklog/events{/privacy}","received_events_url":"https://api.github.com/users/oklog/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/oklog/ulid","description":"Universally
      Unique Lexicographically Sortable Identifier (ULID) in Go","fork":false,"url":"https://api.github.com/repos/oklog/ulid","forks_url":"https://api.github.com/repos/oklog/ulid/forks","keys_url":"https://api.github.com/repos/oklog/ulid/keys{/key_id}","collaborators_url":"https://api.github.com/repos/oklog/ulid/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/oklog/ulid/teams","hooks_url":"https://api.github.com/repos/oklog/ulid/hooks","issue_events_url":"https://api.github.com/repos/oklog/ulid/issues/events{/number}","events_url":"https://api.github.com/repos/oklog/ulid/events","assignees_url":"https://api.github.com/repos/oklog/ulid/assignees{/user}","branches_url":"https://api.github.com/repos/oklog/ulid/branches{/branch}","tags_url":"https://api.github.com/repos/oklog/ulid/tags","blobs_url":"https://api.github.com/repos/oklog/ulid/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/oklog/ulid/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/oklog/ulid/git/refs{/sha}","trees_url":"https://api.github.com/repos/oklog/ulid/git/trees{/sha}","statuses_url":"https://api.github.com/repos/oklog/ulid/statuses/{sha}","languages_url":"https://api.github.com/repos/oklog/ulid/languages","stargazers_url":"https://api.github.com/repos/oklog/ulid/stargazers","contributors_url":"https://api.github.com/repos/oklog/ulid/contributors","subscribers_url":"https://api.github.com/repos/oklog/ulid/subscribers","subscription_url":"https://api.github.com/repos/oklog/ulid/subscription","commits_url":"https://api.github.com/repos/oklog/ulid/commits{/sha}","git_commits_url":"https://api.github.com/repos/oklog/ulid/git/commits{/sha}","comments_url":"https://api.github.com/repos/oklog/ulid/comments{/number}","issue_comment_url":"https://api.github.com/repos/oklog/ulid/issues/comments{/number}","contents_url":"https://api.github.com/repos/oklog/ulid/contents/{+path}","compare_url":"https://api.github.com/repos/oklog/ulid/compare/{base}...{head}","merges_url":"https://api.github.com/repos/oklog/ulid/merges","archive_url":"https://api.github.com/repos/oklog/ulid/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/oklog/ulid/downloads","issues_url":"https://api.github.com/repos/oklog/ulid/issues{/number}","pulls_url":"https://api.github.com/repos/oklog/ulid/pulls{/number}","milestones_url":"https://api.github.com/repos/oklog/ulid/milestones{/number}","notifications_url":"https://api.github.com/repos/oklog/ulid/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/oklog/ulid/labels{/name}","releases_url":"https://api.github.com/repos/oklog/ulid/releases{/id}","deployments_url":"https://api.github.com/repos/oklog/ulid/deployments","created_at":"2016-12-06T15:26:52Z","updated_at":"2019-10-14T04:55:51Z","pushed_at":"2019-09-04T08:47:59Z","git_url":"git://github.com/oklog/ulid.git","ssh_url":"git@github.com:oklog/ulid.git","clone_url":"https://github.com/oklog/ulid.git","svn_url":"https://github.com/oklog/ulid","homepage":"http://godoc.org/github.com/oklog/ulid","size":185,"stargazers_count":1726,"watchers_count":1726,"language":"Go","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":69,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"apache-2.0","name":"Apache
      License 2.0","spdx_id":"Apache-2.0","url":"https://api.github.com/licenses/apache-2.0","node_id":"MDc6TGljZW5zZTI="},"topics":[],"forks":69,"open_issues":0,"watchers":1726,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"organization":{"login":"oklog","id":24411296,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI0NDExMjk2","avatar_url":"https://avatars3.githubusercontent.com/u/24411296?v=4","gravatar_id":"","url":"https://api.github.com/users/oklog","html_url":"https://github.com/oklog","followers_url":"https://api.github.com/users/oklog/followers","following_url":"https://api.github.com/users/oklog/following{/other_user}","gists_url":"https://api.github.com/users/oklog/gists{/gist_id}","starred_url":"https://api.github.com/users/oklog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/oklog/subscriptions","organizations_url":"https://api.github.com/users/oklog/orgs","repos_url":"https://api.github.com/users/oklog/repos","events_url":"https://api.github.com/users/oklog/events{/privacy}","received_events_url":"https://api.github.com/users/oklog/received_events","type":"Organization","site_admin":false},"network_count":69,"subscribers_count":34}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6dbe9e68e4775eab69cabb1e32e69702"
      Last-Modified:
      - Mon, 14 Oct 2019 04:55:51 GMT
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; format=json
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4991"
      X-Ratelimit-Reset:
      - "1571049491"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"query":"\n    fragment actor on Actor { avatarUrl, login, url }\n    fragment
      commit on Commit {\n      oid, message, messageHeadline, committedDate, pushedDate,
      url\n      committer {\n        avatarUrl, email, name\n        user { ...actor
      }\n      }\n    }\n    fragment review on PullRequestReview {\n      databaseId\n      author
      { ...actor }\n      authorAssociation\n      body\n      state\n      url\n      createdAt\n      updatedAt\n      commit
      { ...commit }\n    [...]
