@import 'wildcard/src/global-styles/breakpoints';

.modal {
    height: 80vh;
    // `!important` is required to ensure that this rule is applied in the production bundle.
    // It can be removed after addressing the following issue:
    // https://github.com/sourcegraph/sourcegraph/issues/42217
    width: 80vw !important;
}

.content {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.25rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--border-color);
}

.input {
    margin-bottom: 0.75rem;
}

.results {
    overflow: auto;
    flex: 1;
    text-align: left;
    list-style-type: none;
    padding: unset;
}

.focused {
    border-radius: var(--border-radius);
    background-color: var(--color-bg-2);
}

.summary {
    display: flex;
    margin-bottom: 0.5rem;

    @media (--xs-breakpoint-down) {
        flex-direction: column;
        gap: 0.5rem;
    }
}

.search-query {
    display: flex;
    margin-left: auto;
}

.result-count {
    flex: 1;
}

.close-icon {
    color: var(--icon-color);
}

.show-more {
    align-self: center;
}

.tab:hover {
    cursor: pointer;
}
.tab {
    flex: 2 1 auto;
    padding-top: 0.5rem;
}
.tab-centered-text {
    text-align: center;
}
.active-tab {
    background-color: var(--color-bg-2);
}
