.modal {
    z-index: 1000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
    padding: 1rem;
    background-color: var(--color-bg-1);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color-2);
}

.title {
    flex: 1;
}

.header h3 {
    margin-bottom: 0;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid var(--border-color);
}

.input {
    margin-bottom: 0.75rem;
}

.results {
    overflow: hidden auto;
    flex: 1;
    text-align: left;
    list-style-type: none;
    padding: unset;
}

.result-item {
    padding: 0.25rem;
    font-family: var(--monospace-font-family);
}

.focused {
    border-radius: var(--border-radius);
    background-color: var(--color-bg-2);
}

.summary {
    display: flex;
    margin-bottom: 0.5rem;
}

.result-count {
    flex: 1;
}

.shortcuts {
    color: var(--text-muted);
    font-style: italic;
}

.close-button {
    border: none;
    background: transparent;
}

.close-icon {
    color: var(--icon-color);
}

.show-more {
    align-self: center;
}
