.item {
    display: flex;
    align-items: center;

    /*
     * A combination of padding and margin is used to make sure that the
     * box-shadow used to mark the item as focused is visible.
     */
    padding: 0.125rem 0.375rem;
    margin: 0.125rem;
    background-color: var(--code-bg);
}
