.search-result-match {
    text-decoration: none; /* don't use cascading link style */
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: var(--code-bg);
    border: 1px solid var(--border-color-2);
    border-radius: var(--border-radius);
    border-top: 1px solid var(--border-color);
    padding: 0.25rem 0;
    position: relative;

    &-clickable {
        cursor: pointer;
    }

    &:hover {
        background-color: var(--color-bg-1);
        text-decoration: none;
    }

    &:not(:first-child) {
        border-top: 1px solid var(--border-color);
    }

    pre,
    code {
        width: 100%;
        padding: 0;
        margin-bottom: 0;
    }

    table,
    tr,
    td {
        display: flex;
        flex-grow: 1;
        padding: 0;
        margin-bottom: 0;
        :global(.code) {
            padding: 0;
        }
        span:last-child {
            width: 100%;
        }
    }

    tbody {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
}

.icon {
    margin-right: 0.25rem;
}

.match-type {
    white-space: nowrap;
}

.divider-vertical {
    border-bottom: 1px solid var(--border-color-2);
    width: 100%;
    margin: 0.5rem 0;
}

.divider {
    border-right: 1px solid var(--border-color-2);
    height: 1rem;
    margin: 0 0.5rem;
}

.spacer {
    flex: 1;
}

.title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-width: 0;
}

.commit-oid {
    background: var(--code-bg);
    display: inline-block;
    padding: 0.25rem;
}
