doctype html

html
  head
    meta(charset='UTF-8')
    title Sourcegraph (Inject)
    style.
      html, body {
        background-color: rgba(0,0,0,0)
      }
  body
    #root
    script('/js/inject.bundle.js')
