doctype html

html
  head
    title Sourcegraph extension
  body
    h3 Advanced options
    p Warning: changing these options may break your Chrome extension.
    form#sourcegraph_url_form
      label Sourcegraph URL:
      input#sourcegraph_url
      input(type="submit", value="Save")
    label Enable Search:
    input(type="checkbox", id="sourcegraph-enable-search")
    script('/js/options.bundle.js')
