doctype html

html
  head
    title Sourcegraph extension
  body
    form#sourcegraph_url_form
      label Sourcegraph URL: 
      input#sourcegraph_url
      &nbsp;
      input(type="submit", value="Save")
    script(src=env == 'prod' ? '/js/options.bundle.js' : 'https://localhost:3000/js/options.bundle.js')
