doctype html

html
  head
    title Sourcegraph extension
  body
    h3 Advanced options
    p Warning: changing these options may break your Chrome extension.
    form#sourcegraph_url_form
      label Sourcegraph URL:
      input#sourcegraph_url
      input(type="submit", value="Save")
    script(src=env == 'prod' ? '/js/options.bundle.js' : 'https://localhost:3000/js/options.bundle.js')
