.action-item {
    /* Show loader on top of the action's content. This avoids changing the element's width when loading, which looks bad. */
    &--loading {
        position: relative;
    }

    &--link {
        padding: 0;
        display: inline;
        font-weight: 400;
        border: 0;
        vertical-align: baseline;
    }
}

.loader {
    /* Center horizontally. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
