.block {
    background-color: var(--color-bg-1);
}

.highlighted-file-wrapper {
    padding: 0.25rem 1rem 1rem 1rem;

    :global(.is-read-only-notebook) & {
        padding-bottom: 0.25rem;
    }
}

.header {
    display: flex;
    align-items: center;
    padding: 1rem 1rem 0.25rem 1rem;

    :global(.is-read-only-notebook) & {
        padding-top: 0.25rem;
    }
}

.separator {
    margin: 0 0.25rem;
    border-right: 1px solid var(--border-color);
    height: 1rem;
}

.code > div {
    border: 1px solid var(--border-color-2);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    overflow: auto;
    max-height: 32rem;
}
