.bgroup-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.bgroup-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

.hovered {
    border-radius: 100%;
    padding: 0.2rem;
}

.hovered:hover {
    background-color: var(--subtle-bg);
}

.x {
    color: var(--text-muted);
}
