.add-filter-row {
    padding: 0.5rem 0 0.5rem 1rem;

    &--homepage {
        padding-left: 0;
    }

    &__button {
        &:not(:first-child) {
            margin-left: 0.25rem;
        }
    }
}
