$filter-input-margin-y: 0.5rem;
$filter-input-padding: 0.25rem;

.filter-input {
    margin: $filter-input-margin-y 0.25rem;
    border: 1px solid $color-border;
    padding: $filter-input-padding;
    border-radius: 2px;
    background-color: $color-bg-2;

    &--active {
        min-width: 50%;
    }

    &--uneditable {
        width: max-content;
    }

    &__form {
        display: inline-flex;
        vertical-align: bottom;
        align-items: center;
        width: 100%;
    }

    &__input-wrapper {
        display: block;
        position: relative;
        width: 100%;
        flex: 1 1 auto;
    }

    &__input-field {
        width: 100%;
    }

    &__close {
        padding: 0.25rem;
    }

    &__button-text {
        padding: 0;
    }

    &__suggestions {
        position: absolute;
        width: inherit;
        max-width: 100%;
        z-index: 1;
        max-height: 25rem;
        margin: 0;
        overflow-x: hidden;
        overflow-y: auto;
        overflow-y: overlay;
        background-color: #1c2736;
        border: solid 1px #1b548a;
        border-top: none;
        padding: 0;
    }
}

.theme-light {
    .filter-input {
        background-color: $color-light-bg-2;
        border: 1px solid $color-light-border;
    }
}
