@import './FilterInput';
@import './SelectedFiltersRow';
@import './AddFilterRow';
@import './SearchModeToggle';
@import './CheckButton';

.interactive-mode-input {
    width: 100%;

    &__top-nav {
        flex: 0 0 auto;
        max-height: 80%;
        display: flex;
        align-items: flex-start;
        width: 100%;
        padding-bottom: 0.25rem;
    }

    &__search-box-container {
        min-width: 12rem;
        flex: 1 0 auto;
        margin-right: 0.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
