.selected-filters-row {
    padding: 0.5rem;
    display: flex;
    flex: 0 0 auto;
    padding-left: 1rem;
    align-items: center;
    color: #93a9c8;
    background: #151c28;
    border-bottom: 1px solid #2b3750;
    flex-wrap: wrap;

    &--homepage {
        padding: 0.5rem 0;
        background: inherit;
        border-bottom: none;
    }
}

.theme-light {
    .selected-filters-row {
        color: #6d727c;
        background: #ffffff;
        border-bottom: 1px solid #cad2e2;

        &--homepage {
            padding: 0.5rem 0;
            background: inherit;
            border-bottom: none;
        }
    }
}
