.selected-filters-row {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    align-items: center;
    // Prevents jitter when editing or adding a new filter by having a minimum height of
    // the input plus associated margins and padding of the filter input.
    min-height: calc(
        #{$input-height} + #{$input-padding-y} + (#{$filter-input-margin-y} * 2) + (#{$filter-input-padding} * 2)
    );

    padding-left: 1rem;

    color: #93a9c8;
    background: #151c28;
    border-bottom: 1px solid #2b3750;

    &--homepage {
        padding: 0.5rem 0;
        background: inherit;
        border-bottom: none;
    }
}

.theme-light {
    .selected-filters-row {
        color: #6d727c;
        background: #ffffff;
        border-bottom: 1px solid #cad2e2;

        &--homepage {
            padding: 0.5rem 0;
            background: inherit;
            border-bottom: none;
        }
    }
}
