---
version: 1
interactions:
- request:
    body: '{"query":"\n\t\tquery($owner: String!, $name: String!, $first: Int!, $after:
      String, $order: ReleaseOrder!) {\n\t\t\trepository(owner: $owner, name: $name)
      {\n\t\t\t\treleases(first: $first, after: $after, orderBy: $order) {\n\t\t\t\t\tnodes
      {\n\t\t\t\t\t\ttagName\n\t\t\t\t\t\tisDraft\n\t\t\t\t\t\tisPrerelease\n\t\t\t\t\t}\n\t\t\t\t\tpageInfo
      {\n\t\t\t\t\t\thasNextPage\n\t\t\t\t\t\tendCursor\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t","variables":{"first":100,"name":"src-cli","order":{"direction":"DESC","field":"CREATED_AT"},"owner":"sourcegraph"}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repository":{"releases":{"nodes":[{"tagName":"4.0.0-rc.0","isDraft":false,"isPrerelease":true},{"tagName":"3.43.1","isDraft":false,"isPrerelease":false},{"tagName":"3.43.0","isDraft":false,"isPrerelease":false},{"tagName":"3.42.3","isDraft":false,"isPrerelease":false},{"tagName":"3.42.2","isDraft":false,"isPrerelease":false},{"tagName":"3.42.1","isDraft":false,"isPrerelease":false},{"tagName":"3.42.0","isDraft":false,"isPrerelease":false},{"tagName":"3.41.1","isDraft":false,"isPrerelease":false},{"tagName":"3.41.0","isDraft":false,"isPrerelease":false},{"tagName":"3.40.11","isDraft"[...]
- request:
    body: '{"query":"\n\t\tquery($owner: String!, $name: String!, $first: Int!, $after:
      String, $order: ReleaseOrder!) {\n\t\t\trepository(owner: $owner, name: $name)
      {\n\t\t\t\treleases(first: $first, after: $after, orderBy: $order) {\n\t\t\t\t\tnodes
      {\n\t\t\t\t\t\ttagName\n\t\t\t\t\t\tisDraft\n\t\t\t\t\t\tisPrerelease\n\t\t\t\t\t}\n\t\t\t\t\tpageInfo
      {\n\t\t\t\t\t\thasNextPage\n\t\t\t\t\t\tendCursor\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t","variables":{"after":"Y3Vyc29yOnYyOpK5MjAyMC0xMC0yMVQxMjoyNTozNC0wNzowMM4B9cFt","first":100,"name":"src-cli","order":{"direction":"DESC","field":"CREATED_AT"},"owner":"sourcegraph"}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repository":{"releases":{"nodes":[{"tagName":"3.21.2","isDraft":false,"isPrerelease":false},{"tagName":"3.21.1","isDraft":false,"isPrerelease":false},{"tagName":[...]
