---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph/sourcegraph
    method: GET
  response:
    body: '{"id":41288708,"node_id":"MDEwOlJlcG9zaXRvcnk0MTI4ODcwOA==","name":"sourcegraph","full_name":"sourcegraph/sourcegraph","private":false,"owner":{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","avatar_url":"https://avatars0.githubusercontent.com/u/3979584?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph","html_url":"https://github.com/sourcegraph","followers_url":"https://api.github.com/users/sourcegraph/followers","following_url":"https://api.github.com/users/sourcegraph/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph/orgs","repos_url":"https://api.github.com/users/sourcegraph/repos","events_url":"https://api.github.com/users/sourcegraph/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/sourcegraph/sourcegraph","description":"Code
      search and navigation tool (self-hosted)","fork":false,"url":"https://api.github.com/repos/sourcegraph/sourcegraph","forks_url":"https://api.github.com/repos/sourcegraph/sourcegraph/forks","keys_url":"https://api.github.com/repos/sourcegraph/sourcegraph/keys{/key_id}","collaborators_url":"https://api.github.com/repos/sourcegraph/sourcegraph/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/sourcegraph/sourcegraph/teams","hooks_url":"https://api.github.com/repos/sourcegraph/sourcegraph/hooks","issue_events_url":"https://api.github.com/repos/sourcegraph/sourcegraph/issues/events{/number}","events_url":"https://api.github.com/repos/sourcegraph/sourcegraph/events","assignees_url":"https://api.github.com/repos/sourcegraph/sourcegraph/assignees{/user}","branches_url":"https://api.github.com/repos/sourcegraph/sourcegraph/branches{/branch}","tags_url":"https://api.github.com/repos/sourcegraph/sourcegraph/tags","blobs_url":"https://api.github.com/repos/sourcegraph/sourcegraph/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/sourcegraph/sourcegraph/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/sourcegraph/sourcegraph/git/refs{/sha}","trees_url":"https://api.github.com/repos/sourcegraph/sourcegraph/git/trees{/sha}","statuses_url":"https://api.github.com/repos/sourcegraph/sourcegraph/statuses/{sha}","languages_url":"https://api.github.com/repos/sourcegraph/sourcegraph/languages","stargazers_url":"https://api.github.com/repos/sourcegraph/sourcegraph/stargazers","contributors_url":"https://api.github.com/repos/sourcegraph/sourcegraph/contributors","subscribers_url":"https://api.github.com/repos/sourcegraph/sourcegraph/subscribers","subscription_url":"https://api.github.com/repos/sourcegraph/sourcegraph/subscription","commits_url":"https://api.github.com/repos/sourcegraph/sourcegraph/commits{/sha}","git_commits_url":"https://api.github.com/repos/sourcegraph/sourcegraph/git/commits{/sha}","comments_url":"https://api.github.com/repos/sourcegraph/sourcegraph/comments{/number}","issue_comment_url":"https://api.github.com/repos/sourcegraph/sourcegraph/issues/comments{/number}","contents_url":"https://api.github.com/repos/sourcegraph/sourcegraph/contents/{+path}","compare_url":"https://api.github.com/repos/sourcegraph/sourcegraph/compare/{base}...{head}","merges_url":"https://api.github.com/repos/sourcegraph/sourcegraph/merges","archive_url":"https://api.github.com/repos/sourcegraph/sourcegraph/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/sourcegraph/sourcegraph/downloads","issues_url":"https://api.github.com/repos/sourcegraph/sourcegraph/issues{/number}","pulls_url":"https://api.github.com/repos/sourcegraph/sourcegraph/pulls{/number}","milestones_url":"https://api.github.com/repos/sourcegraph/sourcegraph/milestones{/number}","notifications_url":"https://api.github.com/repos/sourcegraph/sourcegraph/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/sourcegraph/sourcegraph/labels{/name}","releases_url":"https://api.github.com/repos/sourcegraph/sourcegraph/releases{/id}","deployments_url":"https://api.github.com/repos/sourcegraph/sourcegraph/deployments","created_at":"2015-08-24T07:27:28Z","updated_at":"2019-10-01T09:15:49Z","pushed_at":"2019-10-01T09:22:54Z","git_url":"git://github.com/sourcegraph/sourcegraph.git","ssh_url":"git@github.com:sourcegraph/sourcegraph.git","clone_url":"https://github.com/sourcegraph/sourcegraph.git","svn_url":"https://github.com/sourcegraph/sourcegraph","homepage":"https://sourcegraph.com","size":320216,"stargazers_count":2662,"watchers_count":2662,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":220,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1000,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"topics":["code-intelligence","code-search","open-source","repo-type-main","sourcegraph"],"forks":220,"open_issues":1000,"watchers":2662,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":false,"allow_rebase_merge":true,"organization":{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","avatar_url":"https://avatars0.githubusercontent.com/u/3979584?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph","html_url":"https://github.com/sourcegraph","followers_url":"https://api.github.com/users/sourcegraph/followers","following_url":"https://api.github.com/users/sourcegraph/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph/orgs","repos_url":"https://api.github.com/users/sourcegraph/repos","events_url":"https://api.github.com/users/sourcegraph/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph/received_events","type":"Organization","site_admin":false},"network_count":220,"subscribers_count":65}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cb8fc68da95254ca37da42c9c0221ed4"
      Last-Modified:
      - Tue, 01 Oct 2019 09:15:49 GMT
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; format=json
      X-Oauth-Scopes:
      - public_repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4999"
      X-Ratelimit-Reset:
      - "1569927658"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/vegeta
    method: GET
  response:
    body: '{"slug":"vegeta","id":2,"name":"vegeta","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SOUR","id":1,"name":"sourcegraph","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/sour/vegeta.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/vegeta/browse"}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@1IK17DGx600x1197085x0'
      X-Asen:
      - SEN-L13789548
      X-Asessionid:
      - 5mp9ji
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"query":"\n\t\tfragment actor on Actor { avatarUrl, login, url }\n\t\tfragment
      pr on PullRequest {\n\t\t  id, title, body, state, url, number, createdAt, updatedAt\n\t\t  author
      { ...actor }\n\t\t  participants(first: 100) { nodes { ...actor } }\n\t\t  reviews(first:
      100) {\n\t\t\tnodes {\n\t\t\t  body, state, url, createdAt, submittedAt\n\t\t\t  author
      { ...actor }\n\t\t\t  commit {\n\t\t\t\toid, message, committedDate, pushedDate,
      url\n\t\t\t\tcommitter {\n\t\t\t\t  avatarUrl, email, name\n\t\t\t\t  user {
      ...actor }\n\t\t\t\t}\n\t\t\t\tstatus {\n\t\t\t\t  state\n\t\t\t\t  contexts
      {\n\t\t\t\t\tavatarUrl, context, description, state, targetUrl, createdAt\n\t\t\t\t\tcreator
      { ...actor }\n\t\t\t\t  }\n\t\t\t\t}\n\t\t\t  }\n\t\t\t}\n\t\t  }\n\t\t}\n\t\tquery
      {\n\tsourcegraph_sourcegraph: repository(owner: \"sourcegraph\", name: \"sourcegraph\")
      {\nsourcegraph_sourcegraph_999: pullRequest(number: 999) { ...pr }\n}\n}","variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"sourcegraph_sourcegraph":{"sourcegraph_sourcegraph_999":{"id":"MDExOlB1bGxSZXF1ZXN0MjMwOTk4Njg2","title":"add
      extension filter to filter bar","body":"Enables adding extension filters to
      the filter bar by rendering the extension filter as filter chips inside the
      filter bar.\r\nWIP for https://github.com/sourcegraph/sourcegraph/issues/962\r\n\r\n>
      This PR updates the CHANGELOG.md file to describe any user-facing changes.\r\n.\r\n","state":"MERGED","url":"https://github.com/sourcegraph/sourcegraph/pull/999","number":999,"createdAt":"2018-11-14T22:07:45Z","updatedAt":"2018-12-04T08:10:07Z","author":{"avatarUrl":"https://avatars2.githubusercontent.com/u/9110008?v=4","login":"vanesa","url":"https://github.com/vanesa"},"participants":{"nodes":[{"avatarUrl":"https://avatars2.githubusercontent.com/u/9110008?v=4","login":"vanesa","url":"https://github.com/vanesa"},{"avatarUrl":"https://avatars0.githubusercontent.com/u/1976?v=4","login":"sqs","url":"https://github.com/sqs"},{"avatarUrl":"https://avatars2.githubusercontent.com/u/3173176?v=4","login":"slimsag","url":"https://github.com/slimsag"}]},"reviews":{"nodes":[{"body":"","state":"COMMENTED","url":"https://github.com/sourcegraph/sourcegraph/pull/999#pullrequestreview-175130382","createdAt":"2018-11-14T23:31:46Z","submittedAt":"2018-11-14T23:31:50Z","author":{"avatarUrl":"https://avatars0.githubusercontent.com/u/1976?v=4","login":"sqs","url":"https://github.com/sqs"},"commit":{"oid":"2e3f122f736f5b7a52eaa6578048ab5cc30968f3","message":"add
      extension filter to filter bar","committedDate":"2018-11-14T22:05:18Z","pushedDate":"2018-11-14T22:05:45Z","url":"https://github.com/sourcegraph/sourcegraph/commit/2e3f122f736f5b7a52eaa6578048ab5cc30968f3","committer":{"avatarUrl":"https://avatars2.githubusercontent.com/u/9110008?v=4","email":"vanesa@sourcegraph.com","name":"Vanesa
      Ortiz","user":{"avatarUrl":"https://avatars2.githubusercontent.com/u/9110008?v=4","login":"vanesa","url":"https://github.com/vanesa"}},"status":{"state":"FAILURE","contexts":[{"avatarUrl":"https://avatars1.githubusercontent.com/oa/46194?s=40&u=45d59e9c4b18ea0bb3f1b83261e6ef7e7906ab31&v=4","context":"buildkite/sourcegraph","description":"Build
      #23608 canceled by Vanesa Ortiz","state":"FAILURE","targetUrl":"https://buildkite.com/sourcegraph/sourcegraph/builds/23608","createdAt":"2018-11-15T02:02:23Z","creator":{"avatarUrl":"https://avatars0.githubusercontent.com/u/10532611?v=4","login":"felixfbecker","url":"https://github.com/felixfbecker"}},{"avatarUrl":"https://avatars1.githubusercontent.com/u/15893131?s=40&v=4","context":"cla-bot","description":"Contributor
      has signed the CLA","state":"SUCCESS","targetUrl":null,"createdAt":"2018-11-14T22:08:08Z","creator":{"avatarUrl":"https://avatars3.githubusercontent.com/u/15893131?v=4","login":"sourcegraph-bot","url":"https://github.com/sourcegraph-bot"}}[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/vegeta/pull-requests/3
    method: GET
  response:
    body: '{"id":3,"version":0,"title":"attacker: Simplify timeout configuration","description":"This
      commit simplifies the timeout configuration internally to make use\r\nof the
      `http.Client.Timeout` field which didn''t exist when this code was\r\noriginally
      written.\r\n\r\nIt also fixes #396: a test flake of `TestTimeout`.","state":"OPEN","open":true,"closed":false,"createdDate":1569855734169,"updatedDate":1569855734169,"fromRef":{"id":"refs/heads/simplify-timeouts","displayId":"simplify-timeouts","latestCommit":"858c0c78b93c45fda144acf68f549734f8aeb6fe","repository":{"slug":"vegeta","id":2,"name":"vegeta","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SOUR","id":1,"name":"sourcegraph","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/sour/vegeta.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/vegeta/browse"}]}}},"toRef":{"id":"refs/heads/master","displayId":"master","latestCommit":"0f5577eaf11a136541b8c667273b6bc5eba51a8b","repository":{"slug":"vegeta","id":2,"name":"vegeta","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SOUR","id":1,"name":"sourcegraph","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/sour/vegeta.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/vegeta/browse"}]}}},"locked":false,"author":{"user":{"name":"milton","emailAddress":"dev@sourcegraph.com","id":1,"displayName":"milton
      woof","active":true,"slug":"milton","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/milton"}]}},"role":"AUTHOR","approved":false,"status":"UNAPPROVED"},"reviewers":[{"user":{"name":"thorsten","emailAddress":"thorsten@sourcegraph.com","id":104,"displayName":"thorsten","active":true,"slug":"thorsten","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/thorsten"}]}},"lastReviewedCommit":"858c0c78b93c45fda144acf68f549734f8aeb6fe","role":"REVIEWER","approved":false,"status":"NEEDS_WORK"}],"participants":[],"links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/vegeta/pull-requests/3"}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@1IK17DGx600x1197086x0'
      X-Asen:
      - SEN-L13789548
      X-Asessionid:
      - v7cy94
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
