.form--sm {
    display: grid;
    grid-auto-flow: row;
    gap: 0.5rem;
}
.form-group--sm {
    min-width: 6rem;
}

.form--lg {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-items: center;
}
.form-group--lg {
    min-width: 6rem;
}
