[hidden] {
    display: none;
}

.floating-panel,
.tail {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;

    &-absolute {
        position: absolute;
    }
}

.floating-panel {
    overflow: auto;
}

.tail {
    width: 1rem;
    height: 0.5rem;

    &::after {
        content: '';
        display: block;
        border-left: 8px solid transparent;
        border-top: 8px solid;
        border-right: 8px solid transparent;
        position: relative;
        z-index: 1;
        border-top-color: var(--border-color);
    }
}
