[hidden] {
    display: none;
}

.floating-panel,
.tail {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;

    &-absolute {
        position: absolute;
    }
}

.floating-panel {
    overflow: auto;
}

.tail {
    width: 1rem;
    height: 0.5rem;

    &::before,
    &::after {
        content: '';
        display: block;
    }

    &::before {
        position: absolute;
        border-left: 9px solid transparent;
        border-top: 9px solid rgba(0, 0, 0, 0.8);
        border-right: 9px solid transparent;
        right: -1px;
        bottom: -1px;
    }

    &::after {
        border-left: 8px solid transparent;
        border-top: 8px solid;
        border-right: 8px solid transparent;
        position: relative;
        z-index: 1;

        border-top-color: var(--border-color);
    }

    &--top-start,
    &--top,
    &--top-end {
        top: -1px;
    }

    &--left-start,
    &--left,
    &--left-end {
        left: -2px;
    }

    &--right-start,
    &--right,
    &--right-end {
        left: 1px;
    }

    &--bottom-start,
    &--bottom,
    &--bottom-end {
        top: 1px;
    }
}
