---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      content-type:
      - application/json
      x-goog-request-params:
      - name=projects%2Ferik-test-kms%2Flocations%2Fus%2FkeyRings%2Ferik-test%2FcryptoKeys%2Ftest-kms
    url: https://cloudkms.googleapis.com/v1/projects/erik-test-kms/locations/us/keyRings/erik-test/cryptoKeys/test-kms?%24alt=json%3Benum-encoding%3Dint
    method: GET
  response:
    body: |
      {
        "name": "projects/erik-test-kms/locations/us/keyRings/erik-test/cryptoKeys/test-kms",
        "primary": {
          "name": "projects/erik-test-kms/locations/us/keyRings/erik-test/cryptoKeys/test-kms/cryptoKeyVersions/1",
          "state": 1,
          "createTime": "2023-09-16T20:50:00.170234412Z",
          "protectionLevel": 1,
          "algorithm": 1,
          "generateTime": "2023-09-16T20:50:00.170234412Z"
        },
        "purpose": 1,
        "createTime": "2023-09-16T20:50:00.170234412Z",
        "nextRotationTime": "2023-12-14T23:00:00Z",
        "rotationPeriod": "7776000s",
        "versionTemplate": {
          "protectionLevel": 1,
          "algorithm": 1
        },
        "destroyScheduledDuration": "86400s"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"projects/erik-test-kms/locations/us/keyRings/erik-test/cryptoKeys/test-kms",
      "plaintext":"MzJieXRlc2xvbmdzZWNyZXQuLi4uLi4uLi4uLi4uLi4=", "plaintextCrc32c":"2336136629"}'
    form: {}
    headers:
      content-type:
      - application/json
      x-goog-request-params:
      - name=projects%2Ferik-test-kms%2Flocations%2Fus%2FkeyRings%2Ferik-test%2FcryptoKeys%2Ftest-kms
    url: https://cloudkms.googleapis.com/v1/projects/erik-test-kms/locations/us/keyRings/erik-test/cryptoKeys/test-kms:encrypt?%24alt=json%3Benum-encoding%3Dint
    method: POST
  response:
    body: |
      {
        "name": "projects/erik-test-kms/locations/us/keyRings/erik-test/cryptoKeys/test-kms/cryptoKeyVersions/1",
        "ciphertext": "CiQAX3/OtqWRlYarHoJFjA0tPDA9prRp+scTfYep/luUw2BvLsISSQAPT8To/yAmuj7QzwSdowtBuCnD8xsMKONs6VuJ09+ILOELH2/4A2NZmAfvKHuzO2RoRoFsn5WZcheUdB8tLhhCWnNVeszSXpI=",
        "ciphertextCrc32c": "2561118397",
        "verifiedPlaintextCrc32c": true,
        "protectionLevel": 1
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"projects/erik-test-kms/locations/us/keyRings/erik-test/cryptoKeys/test-kms",
      "ciphertext":"CiQAX3/OtqWRlYarHoJFjA0tPDA9prRp+scTfYep/luUw2BvLsISSQAPT8To/yAmuj7QzwSdowtBuCnD8xsMKONs6VuJ09+ILOELH2/4A2NZmAfvKHuzO2RoRoFsn5WZcheUdB8tLhhCWnNVeszSXpI="}'
    form: {}
    headers:
      content-type:
      - application/json
      x-goog-request-params:
      - name=projects%2Ferik-test-kms%2Flocations%2Fus%2FkeyRings%2Ferik-test%2FcryptoKeys%2Ftest-kms
    url: https://cloudkms.googleapis.com/v1/projects/erik-test-kms/locations/us/keyRings/erik-test/cryptoKeys/test-kms:decrypt?%24alt=json%3Benum-encoding%3Dint
    method: POST
  response:
    body: |
      {
        "plaintext": "MzJieXRlc2xvbmdzZWNyZXQuLi4uLi4uLi4uLi4uLi4=",
        "plaintextCrc32c": "2336136629",
        "usedPrimary": true,
        "protectionLevel": 1
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
