.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: static;
    min-height: 14rem;
    background: var(--color-bg-1);
    border: 1px solid var(--border-color-1);
    border-radius: 3px;
    transition: min-height 150ms ease-in;
}

.expanded {
    min-height: 56rem;
}

.form {
    width: 100%;
    max-width: 48em;
    display: none;
}

.formExpanded {
    display: block;
}
