.container {
    width: 45.5rem;
    max-width: calc(100vw - 2rem);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    position: static;
    min-height: 14rem;
    background-color: var(--color-bg-1);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    opacity: 1;
    transition: min-height 250ms ease-in;
}

.content-transitioning {
    min-height: 56rem;
    // Hard-code white here as the iframe of HubSpot is not easily configurable and ignores our
    // dark-mode setting.
    background-color: var(--white);
}

.content-submitted {
    min-height: 14rem;
}

.content-inner {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: opacity 250ms ease-out;
}

.content-transitioning .content-inner {
    opacity: 0;
}

.form {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    opacity: 0;
    transition: opacity 150ms ease-in;
}

.form > div {
    width: 100%;
    max-width: 48rem;
}

.form-expanded {
    display: flex;
    opacity: 1;
}
