---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/gitlab-org%2Fgitaly
    method: GET
  response:
    body: '{"id":2009901,"topics":["topic1", "topic2"],"description":"Gitaly is a Git RPC service for handling all
      the git calls made by GitLab","name":"gitaly","name_with_namespace":"GitLab.org
      / gitaly","path":"gitaly","path_with_namespace":"gitlab-org/gitaly","created_at":"2016-11-14T21:07:35.543Z","default_branch":"master","tag_list":["git","gitlab","rpc"],"ssh_url_to_repo":"git@gitlab.com:gitlab-org/gitaly.git","http_url_to_repo":"https://gitlab.com/gitlab-org/gitaly.git","web_url":"https://gitlab.com/gitlab-org/gitaly","readme_url":"https://gitlab.com/gitlab-org/gitaly/blob/master/README.md","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/project/avatar/2009901/gitaly7.png","star_count":168,"forks_count":76,"last_activity_at":"2019-10-24T12:40:27.069Z","namespace":{"id":9970,"name":"GitLab.org","path":"gitlab-org","kind":"group","full_path":"gitlab-org","parent_id":null,"avatar_url":"/uploads/-/system/group/avatar/9970/logo-extra-whitespace.png","web_url":"https://gitlab.com/groups/gitlab-org"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"add54269ca3bfda0908ec842e6ac52f5"
      Gitlab-Lb:
      - fe-08-lb-gprd
      Gitlab-Sv:
      - localhost
    status: 200 OK
    code: 200
    duration: ""
