
.search-box {
	width: 100%;
	font-size: 14px;
	color: #93A9C8;

	&-highlighted-query {
		color: white;
	}

	// Themed React AutoSuggest https://github.com/moroshko/react-autosuggest#theme-optional
	// Class names use the BEM convention http://getbem.com/introduction/
	.react-autosuggest__ {
		&container {
			width: 100%;
			position: relative;
			padding: 8px;
			padding-bottom: 0;
			background-color: #1C2736;
			border-radius: 4px;
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.32);
		}
		&input {
			font-size: 14px;
			height: 32px;
			width: 100%;
			padding: 8px;
			border: none;
			background-color: #151D28;
			color: white;
			border-radius: 2px;
			margin-bottom: 8px;
			&--focused {
				outline: none;
			}
		}
		&suggestions-container {
			max-height: 350px;
			overflow-y: auto;
			overflow-x: hidden;
			margin-left: -8px;
			margin-right: -8px;
			&--open {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
		&suggestions-list {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		&suggestion {
			border-top: 1px solid #2A3A51;
			cursor: pointer;
			padding: 0 11px;
			height: 32px;
			line-height: 32px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			&--highlighted {
				background-color: #2A3A51;
				&:last-child {
					border-bottom-left-radius: 4px;
					border-bottom-right-radius: 4px;
				}
			}
			.icon {
				height: 31px;
				width: 18px;
				text-align: center;
				fill: currentColor;
				display: inline-block;
				vertical-align: top;
				margin-right: 8px;
			}
		}
	}
}
