.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background: radial-gradient(
        130.33% 541.14% at 48.47% 231.96%,
        var(--violet-06) 17.19%,
        var(--violet-07) 43.23%,
        var(--violet-07) 73.44%
    );

    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    align-self: center;
    width: 12rem;
}
