<!DOCTYPE html>
<html>
  <body>
{{- if .IsTest }}
    <p style="color: #523704; padding: 16px; background-color: #FDECCC; font-size: 14px; line-height: 21px; border-radius: 4px; margin-bottom: 50px">
      <span style="font-weight: 700">This email is a preview.</span>&nbsp;<span style="font-weight: 400">Links are disabled.</span>
    </p>
{{- end }}

    <h1 style="font-size: 18px; line-height: 24px">
      Your Sourcegraph code monitor, <b>{{.Description}}</b>, detected <b>{{.TotalCount}}</b> new {{.ResultPluralized}}.
    </h1>

{{- if .IncludeResults }}

    <ul style="list-style-type: none; padding-left: 0;">
{{- range .TruncatedResults }}
      <li>
        {{.ResultType}} match: <a href="{{.CommitURL}}" {{ if $.IsTest }}style="color: #9C9FA6; font-weight: 400; text-decoration: underline; cursor: default"{{ end }}>{{.RepoName}}@{{.CommitID}}</a>
        <pre style="background-color: #e6ebf2; padding: 8px; border-radius: 4px;">{{.Content}}</pre>
      </li>
{{- end }}
    </ul>
{{- end }}

{{- if .DisplayMoreLink }}

    <p style="font-size: 16px; line-height: 24px">
      <a href="{{.SearchURL}}" {{ if .IsTest }}style="color: #9C9FA6; font-weight: 400; text-decoration: underline; cursor: default"{{ end }}>
        ...and {{.TruncatedCount}} more {{.TruncatedResultPluralized}}.
      </a>
    </p>
{{- else }}

    <p style="font-size: 16px; line-height: 24px">
      <a href="{{.SearchURL}}" {{ if .IsTest }}style="color: #9C9FA6; font-weight: 400; text-decoration: underline; cursor: default"{{ end }}>
        View search on Sourcegraph
      </a>
    </p>
{{- end }}
    __
    <p style="font-size: 14px; line-height: 24px">
      You are receiving this notification because you are a recipient on a code monitor.
    </p>
    <p style="font-size: 14px; line-height: 24px">
      <a href="{{.CodeMonitorURL}}" {{ if .IsTest }}style="color: #9C9FA6; font-weight: 400; text-decoration: underline; cursor: default"{{ end }}>
        View code monitor
      </a>
    </p>
    <p style="font-size: 12px; line-height: 24px; margin-bottom: 24px">
      Search results may contain confidential data. To protect your privacy and
      security, Sourcegraph limits what information is contained in this
      notification.
    </p>
    <img src="https://sourcegraph.com/sourcegraph-logo-small.png" width="106" height="20" alt="Sourcegraph logo" />
  </body>
</html>
{{/* This comment forces new line at end of file */}}
