@import 'wildcard/src/global-styles/breakpoints';

.hero {
    padding: 1.5rem;
    display: flex;
}

.hero-image {
    flex: 0;
}

.heading {
    font-size: 1.5rem !important;
}

.create-button {
    width: fit-content;
}

.starting-points-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1rem;

    @media (--sm-breakpoint-down) {
        flex-direction: column;
    }
}

.starting-point {
    width: calc(50% - 2rem);

    @media (--sm-breakpoint-down) {
        width: 100%;
    }
}
