@import './CodeMonitoringNode';

.code-monitoring-page {
    &__start {
        &-subheading {
            font-size: 1rem;
        }

        &-button {
            width: fit-content;
        }

        &-points {
            color: var(--body-color);
            padding-right: 0;
            padding-left: 0;

            &-panel {
                &-container {
                    .col,
                    [class*='col-'] {
                        &:first-child {
                            padding-right: 0.75rem;
                        }
                        &:not(:first-child) {
                            padding-left: 0.75rem;
                        }
                    }
                }
            }
        }
    }

    &__learn-more {
        padding-right: 0;
        padding-left: 0;
    }
}
