.create-monitor-page {
    &__query-input {
        position: relative;
        &-preview-link {
            position: absolute;
            right: 0.375rem;
            top: 0.8rem;
            padding-right: 1.5rem;
        }

        &-field {
            padding-right: 8rem;
        }
    }

    &__actions {
        &--disabled {
            color: $gray-17 !important;
            opacity: 0.5;
        }
    }

    &__triggers {
        &--disabled {
            color: $gray-17 !important;
            opacity: 0.5;
        }
    }
}
