---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/vegeta/pull-requests/2
    method: GET
  response:
    body: '{"id":2,"version":5,"title":"Release testing pr","description":"* Remove
      dump.go\r\n* make make make","state":"MERGED","open":false,"closed":true,"createdDate":1563286307998,"updatedDate":1572432617016,"closedDate":1572432617016,"fromRef":{"id":"refs/heads/release-testing-pr","displayId":"release-testing-pr","latestCommit":"1f63e719a65cad47a0a272d3d6eef05f4da427bb","repository":{"slug":"vegeta","id":2,"name":"vegeta","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SOUR","id":1,"name":"sourcegraph","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/sour/vegeta.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/vegeta/browse"}]}}},"toRef":{"id":"refs/heads/master","displayId":"master","latestCommit":"13613ac741e0f14f179e552ca428401ca83fe28a","repository":{"slug":"vegeta","id":2,"name":"vegeta","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SOUR","id":1,"name":"sourcegraph","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/sour/vegeta.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/vegeta/browse"}]}}},"locked":false,"author":{"user":{"name":"milton","emailAddress":"dev@sourcegraph.com","id":1,"displayName":"milton
      woof","active":true,"slug":"milton","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/milton"}]}},"role":"AUTHOR","approved":false,"status":"UNAPPROVED"},"reviewers":[{"user":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"lastReviewedCommit":"1f63e719a65cad47a0a272d3d6eef05f4da427bb","role":"REVIEWER","approved":false,"status":"UNAPPROVED"}],"participants":[],"links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/vegeta/pull-requests/2"}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@MWNSEUx867x614773x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - ac9gwm
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/vegeta/pull-requests/2/activities?limit=1000
    method: GET
  response:
    body: '{"size":9,"limit":500,"isLastPage":true,"values":[{"id":87,"createdDate":1572432617016,"user":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"action":"MERGED","commit":{"id":"be4d84e9c4b0a15e59c5f52900e6d55c7525b8d3","displayId":"be4d84e9c4b","author":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"authorTimestamp":1572432617000,"committer":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"committerTimestamp":1572432617000,"message":"Merge
      pull request #2 in SOUR/vegeta from release-testing-pr to master\n\n* commit
      ''1f63e719a65cad47a0a272d3d6eef05f4da427bb'':\n  make make make\n  Remove dump.go","parents":[{"id":"13613ac741e0f14f179e552ca428401ca83fe28a","displayId":"13613ac741e","author":{"name":"Tomás
      Senart","emailAddress":"tomas@sourcegraph.com"},"authorTimestamp":1572431324000,"committer":{"name":"Tomás
      Senart","emailAddress":"tomas@sourcegraph.com"},"committerTimestamp":1572431324000,"message":"Merge
      pull request #4 in SOUR/vegeta from encode-comment to master\n\n* commit ''db6f6959b162f5501f43898e1d44c03de5de6202'':\n  Encode
      comment is fun!","parents":[{"id":"0f5577eaf11a136541b8c667273b6bc5eba51a8b","displayId":"0f5577eaf11"},{"id":"db6f6959b162f5501f43898e1d44c03de5de6202","displayId":"db6f6959b16"}]},{"id":"1f63e719a65cad47a0a272d3d6eef05f4da427bb","displayId":"1f63e719a65","author":{"name":"Tomás
      Senart","emailAddress":"tsenart@gmail.com"},"authorTimestamp":1563286282000,"committer":{"name":"Tomás
      Senart","emailAddress":"tsenart@gmail.com"},"committerTimestamp":1563286282000,"message":"make
      make make","parents":[{"id":"7b71906bf3b3ec81a4d013b7f59ceb34b3c4105b","displayId":"7b71906bf3b"}]}]}},{"id":85,"createdDate":1572432552916,"user":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"action":"COMMENTED","commentAction":"ADDED","comment":{"properties":{"repositoryId":2},"id":8,"version":0,"text":"Comment.","author":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"createdDate":1572432552916,"updatedDate":1572432552916,"comments":[{"properties":{"repositoryId":2},"id":9,"version":0,"text":"Reply.","author":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"createdDate":1572432558954,"updatedDate":1572432558954,"comments":[],"tasks":[{"anchor":{"properties":{"repositoryId":2},"id":9,"version":0,"text":"Reply.","author":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"createdDate":1572432558954,"updatedDate":1572432558954,"permittedOperations":{"editable":false,"deletable":false},"type":"COMMENT"},"author":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"createdDate":1572432564000,"id":4,"text":"Task","state":"RESOLVED","permittedOperations":{"deletable":false,"editable":false,"transitionable":true}}],"permittedOperations":{"editable":false,"deletable":false}}],"tasks":[{"anchor":{"properties":{"repositoryId":2},"id":8,"version":0,"text":"Comment.","author":{"name":"tomas","emailAddress":"tomas@sourcegraph.com","id":3,"displayName":"Tomás
      Senart","active":true,"slug":"tomas","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/tomas"}]}},"createdDate":1572432552916,"updatedDate":1572432552916,"permittedOperations":{"editable":false,"deletable":false},"type[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/vegeta/pull-requests/2/commits?limit=1000
    method: GET
  response:
    body: '{"values":[{"id":"1f63e719a65cad47a0a272d3d6eef05f4da427bb","displayId":"1f63e719a65","author":{"name":"Tomás
      Senart","emailAddress":"tsenart@gmail.com"},"authorTimestamp":1563286282000,"committer":{"name":"Tomás
      Senart","emailAddress":"tsenart@gmail.com"},"committerTimestamp":1563286282000,"message":"make
      make make","parents":[{"id":"7b71906bf3b3ec81a4d013b7f59ceb34b3c4105b","displayId":"7b71906bf3b"}]},{"id":"7b71906bf3b3ec81a4d013b7f59ceb34b3c4105b","displayId":"7b71906bf3b","author":{"name":"Tomás
      Senart","emailAddress":"tsenart@gmail.com"},"authorTimestamp":1563286246000,"committer":{"name":"Tomás
      Senart","emailAddress":"tsenart@gmail.com"},"committerTimestamp":1563286246000,"message":"Remove
      dump.go","parents":[{"id":"0f5577eaf11a136541b8c667273b6bc5eba51a8b","displayId":"0f5577eaf11"}]}],"size":2,"isLastPage":true,"start":0,"limit":1000,"nextPageStart":null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@MWNSEUx867x614775x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - swtnr6
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/build-status/1.0/commits/1f63e719a65cad47a0a272d3d6eef05f4da427bb?limit=1000
    method: GET
  response:
    body: '{"size":1,"limit":100,"isLastPage":true,"values":[{"state":"INPROGRESS","key":"thekey","name":"thename","url":"http://example.com","description":"the
      description","dateAdded":1581595091775}],"start":0}'
    headers:
      Content-Type:
      - application/json
      X-Arequestid:
      - '@MWNSEUx867x614776x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - ul7bj1
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
[...]
