---
version: 1
interactions:
- request:
    body: |
      {"title":"This is a test PR","description":"This is the body of a test PR","state":"OPEN","open":true,"closed":false,"fromRef":{"id":"refs/heads/test-pr-bbs-11","repository":{"id":0,"slug":"automation-testing","project":{"key":"SOUR"}}},"toRef":{"id":"refs/heads/master","repository":{"id":0,"slug":"automation-testing","project":{"key":"SOUR"}}},"locked":false}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/automation-testing/pull-requests
    method: POST
  response:
    body: '{"id":69,"version":0,"title":"This is a test PR","description":"This is
      the body of a test PR","state":"OPEN","open":true,"closed":false,"createdDate":1585316944811,"updatedDate":1585316944811,"fromRef":{"id":"refs/heads/test-pr-bbs-11","displayId":"test-pr-bbs-11","latestCommit":"c9324a86ac324cdf48f3db3595d2dd013e43b56c","repository":{"slug":"automation-testing","id":10070,"name":"automation-testing","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SOUR","id":1,"name":"sourcegraph","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/sour/automation-testing.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/automation-testing/browse"}]}}},"toRef":{"id":"refs/heads/master","displayId":"master","latestCommit":"e833db3fe2bdbc28b58cd72def1b0078e77aa171","repository":{"slug":"automation-testing","id":10070,"name":"automation-testing","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SOUR","id":1,"name":"sourcegraph","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/sour/automation-testing.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/automation-testing/browse"}]}}},"locked":false,"author":{"user":{"name":"milton","emailAddress":"dev@sourcegraph.com","id":1,"displayName":"milton
      woof","active":true,"slug":"milton","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/milton"}]}},"role":"AUTHOR","approved":false,"status":"UNAPPROVED"},"reviewers":[],"participants":[],"links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/automation-testing/pull-requests/69"}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/automation-testing/pull-requests/69
      X-Arequestid:
      - '@MWNSEUx829x451858x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - 1og0byl
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/automation-testing/pull-requests/69/activities?limit=1000
    method: GET
  response:
    body: '{"size":1,"limit":500,"isLastPage":true,"values":[{"id":2980,"createdDate":1585316944831,"user":{"name":"milton","emailAddress":"dev@sourcegraph.com","id":1,"displayName":"milton
      woof","active":true,"slug":"milton","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/milton"}]}},"action":"OPENED"}],"start":0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@MWNSEUx829x451859x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - 1c7a941
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/automation-testing/pull-requests/69/commits?limit=1000
    method: GET
  response:
    body: '{"values":[{"id":"c9324a86ac324cdf48f3db3595d2dd013e43b56c","displayId":"c9324a86ac3","author":{"name":"Thorsten
      Ball","emailAddress":"mrnugget@gmail.com"},"authorTimestamp":1573644034000,"committer":{"name":"Thorsten
      Ball","emailAddress":"mrnugget@gmail.com"},"committerTimestamp":1573644034000,"message":"Create
      new file","parents":[{"id":"c75943274b322ffef2230df8f8049de84ddf12c1","displayId":"c75943274b3"}]}],"size":1,"isLastPage":true,"start":0,"limit":1000,"nextPageStart":null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@MWNSEUx829x451861x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - 9q7zvx
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/build-status/1.0/commits/c9324a86ac324cdf48f3db3595d2dd013e43b56c?limit=1000
    method: GET
  response:
    body: '{"size":1,"limit":100,"isLastPage":true,"values":[{"state":"INPROGRESS","key":"thekey","name":"thename","url":"http://example.com","description":"the
      description","dateAdded":1581510032840}],"start":0}'
    headers:
      Content-Type:
      - application/json
      X-Arequestid:
      - '@MWNSEUx829x451862x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - h7tpa4
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
