---
version: 1
interactions:
- request:
    body: '{"query":"\n\t\tfragment actor on Actor { avatarUrl, login, url }\n\t\tfragment
      pr on PullRequest {\n\t\t  id, title, body, state, url, number, createdAt, updatedAt\n\t\t  author
      { ...actor }\n\t\t  participants(first: 100) { nodes { ...actor } }\n\t\t  reviews(first:
      100) {\n\t\t\tnodes {\n\t\t\t  body, state, url, createdAt, submittedAt\n\t\t\t  author
      { ...actor }\n\t\t\t  commit {\n\t\t\t\toid, message, committedDate, pushedDate,
      url\n\t\t\t\tcommitter {\n\t\t\t\t  avatarUrl, email, name\n\t\t\t\t  user {
      ...actor }\n\t\t\t\t}\n\t\t\t\tstatus {\n\t\t\t\t  state\n\t\t\t\t  contexts
      {\n\t\t\t\t\tavatarUrl, context, description, state, targetUrl, createdAt\n\t\t\t\t\tcreator
      { ...actor }\n\t\t\t\t  }\n\t\t\t\t}\n\t\t\t  }\n\t\t\t}\n\t\t  }\n\t\t}\n\t\tquery
      {\n\tsourcegraph_sourcegraph: repository(owner: \"sourcegraph\", name: \"sourcegraph\")
      {\nsourcegraph_sourcegraph_5550: pullRequest(number: 5550) { ...pr }\n}\ntsenart_vegeta:
      repository(owner: \"tsenart\", name: \"vegeta\") {\ntsenart_vegeta_50: pullRequest(number:
      50) { ...pr }\n}\n}","variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"sourcegraph_sourcegraph":{"sourcegraph_sourcegraph_5550":{"id":"MDExOlB1bGxSZXF1ZXN0MzE2ODI5NDE0","title":"Fix
      disableExtension flag for native integrations","body":"This flag should only
      be observed in the browser extension. Calling `observeStorageKey()` breaks native
      integrations.","state":"MERGED","url":"https://github.com/sourcegraph/sourcegraph/pull/5550","number":5550,"createdAt":"2019-09-12T10:06:09Z","updatedAt":"2019-09-13T09:44:39Z","author":{"avatarUrl":"https://avatars1.githubusercontent.com/u/1741180?v=4","login":"lguychard","url":"https://github.com/lguychard"},"participants":{"nodes":[{"avatarUrl":"https://avatars1.githubusercontent.com/u/1741180?v=4","login":"lguychard","url":"https://github.com/lguychard"},{"avatarUrl":"https://avatars3.githubusercontent.com/u/2946214?v=4","login":"unknwon","url":"https://github.com/unknwon"},{"avatarUrl":"https://avatars0.githubusercontent.com/u/10532611?v=4","login":"felixfbecker","url":"https://github.com/felixfbecker"}]},"reviews":{"nodes":[{"body":"Thanks
      for the fix! The chaining logic looks brilliant to me (as a non-FE dev).","state":"APPROVED","url":"https://github.com/sourcegraph/sourcegraph/pull/5550#pullrequestreview-287537086","createdAt":"2019-09-12T15:57:28Z","submittedAt":"2019-09-12T15:57:27Z","author":{"avatarUrl":"https://avatars3.githubusercontent.com/u/2946214?v=4","login":"unknwon","url":"https://github.com/unknwon"},"commit":{"oid":"36734225c6bf58fb5c499b1489def2a7b65af45d","message":"Fix
      disableExtension flag for native integrations\n\nThis flag should only be observed
      in the browser extension. Calling `observeStorageKey()` breaks native integrations.","committedDate":"2019-09-12T10:05:39Z","pushedDate":"2019-09-12T10:05:45Z","url":"https://github.com/sourcegraph/sourcegraph/commit/36734225c6bf58fb5c499b1489def2a7b65af45d","committer":{"avatarUrl":"https://avatars1.githubusercontent.com/u/1741180?v=4","email":"loic@sourcegraph.com","name":"Loïc
      Guychard","user":{"avatarUrl":"https://avatars1.githubusercontent.com/u/1741180?v=4","login":"lguychard","url":"https://github.com/lguychard"}},"status":{"state":"SUCCESS","contexts":[{"avatarUrl":"https://avatars1.githubusercontent.com/oa/46194?s=40&u=45d59e9c4b18ea0bb3f1b83261e6ef7e7906ab31&v=4","context":"buildkite/sourcegraph","description":"Build
      #42686 passed (15 minutes, 37 seconds)","state":"SUCCESS","targetUrl":"https://buildkite.com/sourcegraph/sourcegraph/builds/42686","createdAt":"2019-09-12T10:21:27Z","creator":{"avatarUrl":"https://avatars0.githubusercontent.com/u/10532611?v=4","login":"felixfbecker","url":"https://github.com/felixfbecker"}},{"avatarUrl":"https://avatars2.githubusercontent.com/in/398?s=40&v=4","context":"percy/Sourcegraph","description":"Visual
      review automatically approved, no visual changes found.","state":"SUCCESS","targetUrl":"https://percy.io/Sourcegraph/Sourcegraph/builds/2575964?utm_campaign=Sourcegraph&utm_content=Sourcegraph&utm_source=github_status_public","createdAt":[...]
