.revisions-popover {
    isolation: isolate;
    width: 35rem;
}

.revisions-popover-slim {
    width: 15rem;
    // Override ConnectionPopover default
    min-width: auto;
}

.tabs {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.25rem;
}

.tabs-close {
    color: var(--icon-color);
}
