.tabs {
    background-color: unset;
}

.header-list {
    display: flex;
    gap: 1rem !important;
}

.tab {
    border-bottom: none !important;

    &[data-selected] {
        color: var(--body-color);
    }

    &--completed {
        color: var(--body-color);
    }

    &[data-reach-tab] {
        color: var(--body-color);
    }
}

.panels {
    margin: 1rem auto;
    padding: 1rem 0;
    min-width: 45%;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: none;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    margin: 1rem -1rem -1rem -1rem;
    border-top: 1px solid var(--border-color);

    &-skip {
        margin-right: auto;
    }
}
