:root {
    --human-bubble-color: var(--input-bg);
    --human-text-color: --dark-text;
    --bot-bubble-color: linear-gradient(var(--input-bg), var(--input-bg)) padding-box,
              linear-gradient(130deg, #00CBEC, #A112FF) border-box;
    --bot-text-color: --dark-text
}

.container {
    font-size: 0.85rem;
    padding-top: 1rem;
    flex-grow: 1;
}

.bubble-content pre,
.bubble-content span > code,
.bubble-content p > code {
    /* Our syntax highlighter emits colors intended for dark backgrounds only. */
    background-color: var(--code-background);
}

.bubble-content pre,
.bubble-content code {
    color: var(--code-background);
}

.bot-bubble-content {
    background: var(--bot-bubble-color);
    color: var(--bot-text-color);
    border: 1px solid transparent;
 }

.human-bubble-content {
    border: solid 1px var(--border-color-2);
    background-color: var(--human-bubble-color);
    color: var(--human-text-color);
}

.bubble-loader-dot {
    background-color: var(--bot-text-color);
}

.input-row {
    position: sticky;
    bottom: 0;
    padding: 0.8rem 0.6rem;
    border-top: 1px solid var(--border-color);
    background-color: var(--input-bg);
    margin: 0 8px;
}

.chat-input {
    padding: 1rem 2.5rem 1rem 1rem;
    height: 10vh;
    box-sizing: border-box;
    min-height: 10vh;
    max-height: 30vh;
}
