:root {
    --human-bubble-color: #565eb9;
    --human-text-color: #e1e1e1;
    --bot-bubble-color: #dddddd;
    --bot-text-color: #222222;
}

.container {
    font-size: 0.9rem;
    padding-top: 1rem;
    flex-grow: 1;
}

.bubble-content pre,
.bubble-content span > code,
.bubble-content p > code {
    /* Our syntax highlighter emits colors intended for dark backgrounds only. */
    background-color: var(--code-background);
}

.bubble-content pre,
.bubble-content code {
    color: var(--code-background);
}

.human-bubble-content {
    background-color: var(--human-bubble-color);
    color: var(--human-text-color);
}

.bot-bubble-content {
    background-color: var(--bot-bubble-color);
    color: var(--bot-text-color);
}

.bubble-loader-dot {
    background-color: var(--bot-text-color);
}

.input-row {
    position: sticky;
    bottom: 0;
    border-top: solid 1px var(--border-color);
    padding: 1rem 0.5rem;
    background-color: var(--body-bg);
}

.chat-input {
    padding: 1rem;
    height: 10vh;
    box-sizing: border-box;
    min-height: 10vh;
    max-height: 30vh;
}
