.modal {
    padding: 0.5rem 1rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30rem;
}

.close-button {
    margin-left: auto;
    margin-right: -0.5rem;
}

.alert {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.invited-notification {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.message {
    flex: 1;
}

.container {
    margin-bottom: 1rem;
    width: fit-content;
}

.status {
    padding-top: 0.5rem;
    overflow: hidden;
}
