.input-container {
    width: 100%;
    position: relative;
}

.suggestions-container {
    width: 100%;
    padding: 0.25rem 0;
    border-radius: 5px;
    box-shadow: 0 4px 16px -6px rgba(36, 41, 54, 0.2);
    background-color: var(--color-bg-1);
    overflow: auto;
    max-height: 18rem;
}

.item {
    display: flex;
    align-items: center;
    padding: 0.25rem 1rem;

    &--error {
        color: var(--danger) !important;
    }

    &-name {
        width: 10rem;
        margin-right: 0.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 0;
    }

    &-description {
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow: 1;
        font-size: 0.75rem;
    }

    &:not(:active) {
        > .item-description {
            color: var(--text-muted);
        }
    }

    &--selected {
        background-color: var(--color-bg-3);
    }

    &--highlighted {
        font-weight: 700;
    }

    &:hover,
    &:active,
    &:focus {
        /* Override default focus styles */
        box-shadow: none;
        outline: none;

        background-color: var(--primary);
        color: var(--light-text) !important;

        > .item-description {
            color: var(--light-text);
        }

        .user-name {
            color: var(--light-text) !important;
        }
    }

    &:hover,
    &:active,
    &:focus,
    &--selected {
        /* Badge-secondary variant for improved contrast when background color changes */
        > .item-default {
            background-color: var(--color-bg-1);
            border-color: var(--color-bg-1);
        }
    }
}

.empty-results {
    padding: 0 1rem;
    cursor: default;
}

.user-container {
    gap: 0.5rem;
    height: 2rem;
}

.avatar-container {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.avatar {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.1);
}

.avatar-disabled {
    -webkit-filter: grayscale(100%) brightness(1.5); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) brightness(1.5);
}

.user-name {
    color: var(--text-muted);
}
