.input-container {
    width: 100%;
    position: relative;
}

.suggestions-container {
    overflow: auto;
    max-height: 18rem;
}

.item {
    display: flex;
    align-items: center;
    padding: 0.25rem 1rem;

    &[data-highlighted] {
        .user-name {
            color: inherit;
        }
    }

    &-description {
        display: flex;
        flex-direction: column;
    }
}

.empty-results {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    height: 2rem;
}

.avatar-container {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.avatar {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.1);
}

.avatar-disabled {
    -webkit-filter: grayscale(100%) brightness(1.5); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) brightness(1.5);
}

.user-name {
    color: var(--text-muted);
}

.user-description {
    color: var(--text-muted);
}
