.add-repository-pattern {
    font-weight: normal;
    vertical-align: inherit;
    text-decoration: underline;
}

.loading {
    align-self: center;
    justify-self: start;
    margin: 0 0 0 0.5rem;
}

.container {
    border: 1px solid var(--border-color);
    padding: 1rem;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.input {
    width: 75%;
    margin-right: 1rem;
}

.input-actions {
    width: 25%;
    display: flex;
    justify-content: end;
    align-self: stretch;
}

.input-action {
    &:not(:last-of-type) {
        margin-right: 1rem;
    }

    width: 2rem;
    display: flex;
    justify-content: center;
}

.list {
    max-height: 30rem;
    overflow-y: auto;
}
