.radio-buttons {
    display: block;

    // This resets the base style's intendation of the child elements
    > :global(.form-check) {
        &:not(:first-child) {
            margin-left: 0;
        }
    }
}

.label {
    display: block;
}
