.container-getting-started {
	padding: 1.5rem;
}

.container-getting-started ul {
	padding-inline-start: 1rem;
}

.container-getting-started li {
	line-height: 1.5rem;
}

.outer-container {
	background-color: var(--vscode-sideBar-background);
	border-top: 1px solid var(--vscode-sideBarSectionHeader-border);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.inner-container {
	background-color: var(--vscode-sideBar-background);
	width: 100%;
	height: 100%;
	min-height: 0;
	flex-direction: column;
	overflow-x: scroll;
	display: flex;
	box-sizing: border-box;
}

.non-transcript-container {
	display: flex;
	flex-direction: column;
	overflow: auto;
	flex: 1;
}

.transcript-container {
	display: flex;
	flex-direction: column-reverse;
	overflow: auto;
	flex: 1;
}

.debug-container-placeholder {
	padding: 1rem;
}

.debug-message {
	padding: 1rem;
	margin: 1rem;
	background-color: var(--human-bubble-color);
	border-radius: 1rem;
}

.debug-message > pre {
	white-space: pre-wrap;
	margin: 0;
}

.debug-message:last-child {
	border-bottom: 0;
}

.debug-tab-hidden {
	display: none;
}
