.bubble {
    min-width: 0;
}

.bubble-container {
    padding: 0;
}

.bubble-footer {
    flex-direction: row;
    margin-top: 0.5em;
    font-size: var(--vscode-editor-font-size);
    color: var(--vscode-descriptionForeground);
    align-content: center;
    justify-content: space-between;
}

.bubble-footer-timestamp {
    margin-top: 0.5em;
    align-self: center;
}

.human-bubble-footer .bubble-footer-timestamp {
    display: flex;
    justify-content: flex-end;
}

.bot-bubble-footer {
    display: flex;
}

.bubble-content {
    font-size: var(--vscode-editor-font-size);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    line-height: 150%;
    padding: 16px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    word-break: break-word;
    color: var(--bubble-text-color);
}

.bubble-content *:first-child {
    margin-top: 0 !important;
}

.bubble-content *:last-child {
    margin-bottom: 0 !important;
}

.bubble-content pre {
    padding: 8px;
    border-radius: 8px;
    overflow-x: auto;
}

.bubble-content pre,
.bubble-content p > code {
    /* Our syntax highlighter emits colors intended for dark backgrounds only. */
    background-color: var(--code-background);
}

.bubble-content pre,
.bubble-content code {
    color: white;
}

.human-bubble-content {
    background-color: var(--human-bubble-color);
    color: var(--human-text-color);
    /* background-color: var(--human-bubble-color); */
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 16px;
}

.bot-bubble-content {
    background-color: var(--bot-bubble-color);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 0;
}

.bubble-row {
    display: flex;
    padding: 1rem;
}

.bubble-row:first-child {
    margin-top: auto;
}

.human-bubble-row {
    justify-content: end;
}

.bot-bubble-row {
    justify-content: start;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

.bubble-loader {
    display: flex;
    gap: 4px;
}

.bubble-loader-dot {
    animation: 1s blink infinite;
    width: var(--vscode-editor-font-size) !important;
    height: var(--vscode-editor-font-size) !important;
    border-radius: 6px;
    background-color: var(--vscode-icon-foreground);
}

.bubble-loader-dot:nth-child(2) {
    animation-delay: 250ms;
}

.bubble-loader-dot:nth-child(3) {
    animation-delay: 500ms;
}

.submit-container {
    cursor: pointer;
}

.input-row {
    display: flex;
    margin: 1rem;
    align-items: flex-start;
    position: relative;
    border-top: 1px solid var(--vscode-sideBarSectionHeader-border);
}

.chat-input {
    height: 10%;
    flex: 1;
    resize: none;
    color: var(--vscode-input-foreground);
    border-radius: 14px;
    box-sizing: border-box;
    border: 1px solid var(--vscode-input-border);
    min-height: 10%;
    max-height: 30%;
}

.submit-button {
    margin: 16px;
    bottom: 0;
    right: 0;
    position: absolute;
}

.chat-input {
    outline: none;
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
}

.feedback-button {
    border-radius: 0.5rem;
    background-color: transparent;
    font-weight: normal;
    cursor: pointer;
    width: inherit;
}

.feedback-container {
    display: flex;
    font-size: small;
}

.context-files-collapsed {
    display: flex;
    cursor: pointer;
}

.context-files-expanded {
    display: flex;
}

.context-files-toggle-icon {
    cursor: pointer;
    margin-right: 1em;
}

.context-files-toggle-icon > i {
    font-size: var(--vscode-editor-font-size) !important;
}

.context-files-list-title {
    cursor: pointer;
    font-style: italic;
}

.context-files-list-container {
    padding-inline-start: 1em;
}

.context-files-collapsed .context-files-toggle-icon {
    display: flex;
    align-items: center;
}

.context-files-collapsed-text {
    display: flex;
    align-items: center;
    font-style: italic;
}

.context-file {
    padding: 4px;
}
