@value base "sourcegraph/components/styles/_base.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value breadcrumb "sourcegraph/components/styles/breadcrumb.css";
@value animation "sourcegraph/components/styles/animation.css";

.tree_container {
	composes: cf from base;
	composes: col_9 from grid;
	margin: 0 auto;
}

.tree_common {
	composes: f5 from typography;
	composes: bg_white from colors;
	width: 100%;
}

.input_container {
	composes: ma3 from base;
	display: flex;
}

@value c_near_white from colors;
.list_header {
	display: flex;
	align-items: center;
	composes: mh3 pb1 from base;
	composes: ftracked f6 from typography;
	composes: cool_mid_gray from colors;
}

.list_item_group {
	composes: pb3 from base;
}

.list_item {
	display: flex;
	align-items: center;
	composes: pa3 mh3 bt from base;
	composes: blue b__cool_pale_gray from colors;
	word-wrap: break_word;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	white-space: nowrap;
}

@value c_mid_gray from colors;
.list_item_empty {
	color: c_mid_gray;
}

.content_placeholder {
	composes: shimmer_animation from animation;

	/* HACK: Using c_blue_5 and c_blue_8 doesn't work (vars aren't interpreted), so hardcode them. */
	background: linear-gradient(to right, #E1F0FC 8%, #CFE8FF 18%, #E1F0FC 83%);
}

@value c_dark_blue from colors;
.list_item_selected {
	composes: list_item;
	composes: bg_blue_1 from colors;
	color: c_dark_blue !important;
}

.link {
	composes: pa2 from base;
	composes: link from "sourcegraph/components/styles/link.css";
}

.file_path {
	composes: pl3 from base;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex: 1 1 auto;
	letter-spacing: initial;
	text-transform: none;
}

.path_sep {
	composes: sep from breadcrumb;
}

.path_active {
	composes: active from breadcrumb;
}

.path_inactive {
	composes: inactive from breadcrumb;
}

.hidden {
	display: none;
}


.parent_dir {
	font-weight: bold;
}
.icon {
	padding-right: 1rem;
}
