@import './FormTriggerArea';
@import './FormActionArea.scss';

.code-monitor-form {
    &__card {
        border-radius: 4px;
        // stylelint-disable-next-line declaration-property-unit-whitelist
        margin: calc(1rem - 1px) 0;

        &-link {
            &:hover {
                text-decoration: none;
                color: var(--link-color);
            }
        }

        &--button {
            cursor: pointer;
            // stylelint-disable-next-line declaration-property-unit-whitelist
            margin: calc(1rem - 1px) 0;
            border-radius: 4px;

            &:hover {
                // stylelint-disable-next-line declaration-property-unit-whitelist
                margin: calc(1rem - 2px) -1px calc(1rem - 2px) -1px;
                border: 2px solid #329af0;
            }

            .code-monitor-form__trigger--disabled & {
                margin: 1rem 0;
                cursor: default;
                &:hover {
                    border: 1px solid var(--border-color);
                }
            }

            .code-monitor-form__actions--disabled & {
                margin: 1rem 0;
                cursor: default;
                &:hover {
                    border: 1px solid var(--border-color);
                }
            }
        }
    }

    &__horizontal-rule {
        margin: 2rem 0;
        border-top: 1px solid var(--border-color-2);
    }

    &__owner-dropdown {
        min-width: 50%;
    }

    &__actions {
        &--disabled {
            color: $gray-17 !important;
            opacity: 0.5;
        }
    }

    &__triggers {
        &--disabled {
            color: $gray-17 !important;
            opacity: 0.5;
        }
    }
}
