@import 'wildcard/src/global-styles/breakpoints';

.query-input {
    display: flex;
    align-items: stretch;

    @media (--xs-breakpoint-down) {
        flex-direction: column;
        align-items: flex-start;
    }

    &-preview-link {
        white-space: nowrap;
        font-size: 0.75rem;
        background-color: var(--color-bg-2);
        border: 1px solid var(--input-border-color);
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        display: flex;
        align-items: center;
        padding: 0 0.5rem;

        &-icon {
            max-height: 1rem;
            max-width: 1rem;
        }

        @media (--xs-breakpoint-down) {
            height: 2rem;
            width: 100%;
            border-top: none;
            border-top-right-radius: 0;
            border-bottom-left-radius: 2px;
        }
    }

    &-field {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
        background-color: var(--color-bg-1);
        /* stylelint-disable-next-line declaration-property-unit-allowed-list */
        height: calc(1rem + 0.5rem * 2 + 1px * 2); /* 1rem for text, 0.5rem vertical padding, 1px border */
        display: flex;
        align-items: center;
        flex-grow: 1;
        overflow: hidden;

        &:focus-within {
            border: 1px solid var(--input-focus-border-color);
            box-shadow: var(--search-box-focus-box-shadow);
        }

        @media (--xs-breakpoint-down) {
            border-right: 1px solid var(--input-border-color);
            border-top-right-radius: 2px;
            border-bottom-left-radius: 0;
        }
    }
}

.trigger-label {
    color: var(--link-color);
}

.query-label {
    white-space: pre-wrap;
}

.checklist {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    &-checkbox {
        font-size: 0.65rem;
        margin-right: 0.5rem;
        color: var(--icon-muted);
        flex-shrink: 0;

        &--unchecked {
            /* Make unchecked icon smaller so it doesn't look like a radio button. */

            /* Scale instead of setting font size so that both checked and */

            /* unchecked icons occupy the same space without having to do margin math. */
            transform: scale(0.55);
        }
    }

    &-children {
        &--faded {
            opacity: 0.4;
        }
    }

    &-hint {
        font-size: 0.65rem;
        margin-left: 0.25rem;

        &--faded {
            opacity: 0.4;
        }
    }

    &-tooltip {
        text-align: left;
        max-width: 16rem;
    }
}

.trigger-btn-text {
    color: var(--body-color);
}
