.execution-options-menu-button {
    border-left: 1px solid var(--primary-3);
    &::after {
        // Overwrite left margin -- otherwise it applies a margin to the `VisuallyHidden`
        // and shifts too far left
        margin-left: 0;
    }
}

.execution-option:last-child {
    padding-bottom: 1rem;
}

.execution-option-form {
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.checkbox {
    width: 2rem;
}

.menu-list {
    width: 17rem;
    // NOTE: The default provided by reach-ui is 'nowrap', which causes overflow scroll
    // behavior rather than wrapping.
    white-space: normal;
}

.expanded-info {
    padding: 0 1rem 0 2.25rem;
    overflow-y: hidden;
    width: 100%;
}
