---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/repos?sort=created&visibility=all&page=0&per_page=7
    method: GET
  response:
    body: '[{"id":599563484,"node_id":"R_kgDOI7yc3A","name":"vulnerable-js-test","full_name":"sourcegraph/vulnerable-js-test","private":true,"owner":{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","avatar_url":"https://avatars.githubusercontent.com/u/3979584?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph","html_url":"https://github.com/sourcegraph","followers_url":"https://api.github.com/users/sourcegraph/followers","following_url":"https://api.github.com/users/sourcegraph/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph/orgs","repos_url":"https://api.github.com/users/sourcegraph/repos","events_url":"https://api.github.com/users/sourcegraph/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/sourcegraph/vulnerable-js-test","description":"This
      repo is a test for the Security dependencies feature","fork":false,"url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test","forks_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/forks","keys_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/teams","hooks_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/hooks","issue_events_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/issues/events{/number}","events_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/events","assignees_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/assignees{/user}","branches_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/branches{/branch}","tags_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/tags","blobs_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/git/refs{/sha}","trees_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/statuses/{sha}","languages_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/languages","stargazers_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/stargazers","contributors_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/contributors","subscribers_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/subscribers","subscription_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/subscription","commits_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/commits{/sha}","git_commits_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/git/commits{/sha}","comments_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/comments{/number}","issue_comment_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/issues/comments{/number}","contents_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/contents/{+path}","compare_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/merges","archive_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/downloads","issues_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/issues{/number}","pulls_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/pulls{/number}","milestones_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/milestones{/number}","notifications_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/labels{/name}","releases_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/releases{/id}","deployments_url":"https://api.github.com/repos/sourcegraph/vulnerable-js-test/deployments","created_at":"2023-02-09T12:07:22Z","updated_at":"2023-02-09T12:41:09Z","pushed_at":"2023-02-09T12:45:13Z","git_url":"git://github.com/sourcegraph/vulnerable-js-test.git","ssh_url":"git@github.com:sourcegraph/vulnerable-js-test.git","clone_url":"https://github.com/sourcegraph/vulnerable-js-test.git","svn_url":"https://github.com/sourcegraph/vulnerable-js-test","homepage":null,"size":14,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":false,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":1,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":true,"triage":true,"pull":true}},{"id":599499126,"node_id":"R_kgDOI7uhdg","name":"scip-excel","full_name":"sourcegraph/scip-excel","private":true,"owner":{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","avatar_url":"https://avatars.githubusercontent.com/u/3979584?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph","html_url":"https://github.com/sourcegraph","followers_url":"https://api.github.com/users/sourcegraph/followers","following_url":"https://api.github.com/users[...]
