---
version: 1
interactions:
- request:
    body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tisLocked\n\tisDisabled\n\tviewerPermission\n\tstargazerCount\n\tforkCount\n}\n\t\nquery($query:
      String!, $type: SearchType!, $after: String, $first: Int!) {\n\tsearch(query:
      $query, type: $type, after: $after, first: $first) {\n\t\trepositoryCount\n\t\tpageInfo
      { hasNextPage,  endCursor }\n\t\tnodes { ... on Repository { ...RepositoryFields
      } }\n\t}\n}","variables":{"first":5,"query":"sourcegraph sourcegraph -repo:sourcegraph/about","type":"REPOSITORY"}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"search\":{\"repositoryCount\":464,\"pageInfo\":{\"hasNextPage\":true,\"endCursor\":\"Y3Vyc29yOjU=\"},\"nodes\":[{\"id\":\"MDEwOlJlcG9zaXRvcnk0MTI4ODcwOA==\",\"databaseId\":41288708,\"nameWithOwner\":\"sourcegraph/sourcegraph\",\"description\":\"Code
      Intelligence Platform\",\"url\":\"https://github.com/sourcegraph/sourcegraph\",\"isPrivate\":false,\"isFork\":false,\"isArchived\":false,\"isLocked\":false,\"isDisabled\":false,\"viewerPermission\":\"WRITE\",\"stargazerCount\":7390,\"forkCount\":895},{\"id\":\"MDEwOlJlcG9zaXRvcnkxMzA3NzAwNTM=\",\"databaseId\":130770053,\"nameWithOwner\":\"sourcegraph/src-cli\",\"description\":\"Sourcegraph
      CLI\",\"url\":\"https://github.com/sourcegraph/src-cli\",\"isPrivate\":false,\"isFork\":false,\"isArchived\":false,\"isLocked\":false,\"isDisabled\":false,\"viewerPermission\":\"ADMIN\",\"stargazerCount\":208,\"forkCount\":55},{\"id\":\"MDEwOlJlcG9zaXRvcnkxNTM4NDkxMDM=\",\"databaseId\":153849103,\"nameWithOwner\":\"sourcegraph/deploy-sourcegraph[...]
