{{define "Head"}}<title>{{.Meta.Title}} - The Sourcegraph Blog</title>
{{end}}

{{define "Body"}}
	<div class="row">
		<div class="col-md-10 col-md-offset-1 blog-post">
			<h1>{{nl2br .Meta.Title}}</h1>
			{{if .Meta.Author.Login}}
			<div class="byline">
				By <a href="{{urlToUser .Meta.Author.Login}}">{{.Meta.Author.Name}}</a>
				<span class="date">&mdash; {{template "DateTime" .Meta.Date}}</span>
			</div>
			{{end}}
			<hr class="condensed">
			<div class="body">{{.HTML}}</div>
			<hr>
			{{template "ShareLinks" $}}
		</div>
	</div>
	{{end}}

	{{define "ShareLinks"}}
	<div class="share text-center">
		<ul class="nav nav-pills">
			<li><a href="https://twitter.com/intent/tweet?text={{.Meta.Title}}&related=srcgraph&via=srcgraph&url={{.URL}}" target="_blank"><i class="fa
			fa-twitter"></i> Share on Twitter</a></li>
			<li><a href="https://confirmsubscription.com/h/i/5D5B8C2BFCEEEFA6" target="_blank"><i class="fa fa-envelope"></i>
			Subscribe to email updates</a></li>
		</ul>
	</div>
{{end}}
