bindings/node/** linguist-generated=true
bindings/rust/** linguist-generated=true
src/grammar.json linguist-generated=true
src/node-types.json linguist-generated=true
src/parser.c linguist-generated=true
src/tree_sitter/parser.h linguist-generated=true
