.loading::after {
    width: 0;
    overflow: hidden;
    content: '...';
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4, end) 1500ms infinite;
}

.title-description {
    height: 5.75rem;
}

.avatar {
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.invitable-collaborators {
    height: 15.5rem;
    overflow: auto;
}

.invite-button {
    height: 1.875rem;
}
