{{define "Head"}}<title>Reset password - Sourcegraph</title>
<meta name="robots" content="noindex">
{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-5">
		<h1>Reset your password</h1>
		{{if .CurrentUser}}
		<p>Can't reset password while you're logged in.</p>
		{{else if (not .IsEmailConfigured)}}
		<p>This Sourcegraph server is not configured to send emails. Please ask an admin to generate a reset link for you, and use
		that link to set a new password.</p>
		{{else}}
		<form method="post" action="{{urlTo "forgot-password"}}">
			<div>
				{{with .UserForm.FormError}}<p class="help-block">{{.}}</p>{{end}}
				<label for="email">Email</label>
				{{with .UserForm.FieldError "Email"}}<p class="help-block">{{.}}</p>{{end}}
				<input name="Email" tabindex=1 autofocus class="form-control">
				<p class="help-block">No account yet? <a href="{{urlToWithReturnTo "sign-up" .ReturnTo}}">Sign up.</a></p>
			</div>
			<button type="submit" class="btn btn-primary btn-lg" tabindex=2>Reset</button>
			<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
		</form>
		{{end}}
	</div>
</div>
{{end}}
