{{define "Head"}}<title>Reset password - Sourcegraph</title>
<meta name="robots" content="noindex">
{{end}}

{{define "Body"}}
<div class="row-single-panel">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-body">
				{{if .CurrentUser}}
				<p class="get-started-header">Sorry, you're already signed in!</p>
				<p>Please sign out to reset your password.</p>
				{{else if (not .IsEmailConfigured)}}
				<p class="get-started-header">Sorry, this server can't send emails.</p>
				<p>Please ask an admin to generate a link to reset your password.</p>
				{{else}}
				<p class="get-started-header">Forgot your password?</p>
				<p>It happens to the best of us. <br>Enter your email below and we'll send you a link to recover your password.<br><br></p>
				<div class="form-container">
					<form method="post" action="{{urlTo "forgot-password"}}" class="sign-up">
						{{with .UserForm.FormError}}<p class="help-block">{{.}}</p>{{end}}
						{{with .UserForm.FieldError "Email"}}<p class="help-block">{{.}}</p>{{end}}
						<div class="form-group">
							<input placeholder="Email" name="Email" type="email" class="form-control" required tabindex=1 autofocus>
						</div>
						<button type="submit" class="btn btn-primary btn-block" tabindex=2>RESET PASSWORD</button>
						<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
					</form>
				</div>
				{{end}}
			</div>
		</div>
	</div>
</div>
{{end}}
