{{define "Head"}}<title>Create password - Sourcegraph</title>
<meta name="robots" content="noindex">
{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-5">
		<h1>Make a new password</h1>

		<form method="post" action="{{.PostURL}}" class="log-in">
			<div>
				{{with .PasswordForm.FieldError "Password"}}<p class="help-block">{{.}}</p>{{end}}
				<label for="password">Password</label>
				<input name="Password" type="password" class="form-control" required autofocus id="Password">
			</div>
			<div>
				<label for="ConfirmPassword">Confirm Password</label>
				<input name="ConfirmPassword" type="password" class="form-control" required tabindex=0>
			</div>
			<button type="submit" class="btn btn-primary btn-lg" tabindex=2>Submit</button>
			<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
		</form>
	</div>
</div>
{{end}}
