<html>
	<head>
		{{template "head" .}}
	</head>
	<body>
		<div style="background-color: lightgray;">content</div>
		{{template "comment" .Comment}}
		<div style="background-color: lightgray;">content</div>
	</body>
</html>

{{define "comment"}}
<div class="comment-edit-container">
	<div>
		<div class="avatar-container">
			<a href="{{.User.HTMLURL}}" target="_blank" tabindex=-1>
				<img class="comment-avatar" width="48" height="48" src="{{.User.AvatarURL}}">
			</a>
		</div>
		<div id="comment-{{.ID}}" style="display: flex;" class="list-entry">
			<div class="list-entry-container list-entry-border">
				<div class="list-entry-header" style="display: flex;">
					<span class="content">{{template "user" .User}} commented <a href="#comment-{{.ID}}" onclick="AnchorScroll(this, event);">{{template "time" .CreatedAt}}</a></span>
					<span class="right-icon"><a href="javascript:" title="React" onclick="OpenReactionMenu(this, {{.ID}});"><i class="fa fa-smile-o" style="font-size: 16px;"><sup>+</sup></i></a></span>
					{{if .Editable}}<span class="right-icon"><a href="javascript:" title="Edit" onclick="EditComment({{`edit` | json}}, this);"><span class="octicon octicon-pencil"></span></a></span>{{end}}
				</div>
				<div class="list-entry-body">
					<div class="markdown-body">
						{{with .Body}}
							{{. | gfm}}
						{{else}}
							<i class="gray">No description.</i>
						{{end}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="display: none;">
		{{template "edit-comment" .}}
	</div>
	<div class="comment-reactions-container" data-id="{{.ID}}" data-reactions="{{.Reactions | json}}"></div>
</div>
{{end}}

{{define "user"}}
<a class="black" href="{{.HTMLURL}}" target="_blank"><strong>{{.Login}}</strong></a>
{{end}}

{{define "time"}}<abbr title="{{.Format "Jan _2, 2006, 3:04 PM MST"}}">{{reltime .}}</abbr>{{end}}
