<html>
	<head>
		{{template "scriptless-head" .}}
	</head>
	<body>
		<div style="text-align: right;"><button class="btn btn-success btn-small" onclick="window.location = '{{.BaseURI}}/new';">New thread</button></div>
		{{template "issues" .}}
	</body>
</html>

{{/* HACK: This is a temporary experiment. */}}
{{define "scriptless-head"}}
	{{.HeadPre}}
	<link href="{{.BaseURI}}/assets/style.css" rel="stylesheet" type="text/css" />
{{end}}

{{define "head"}}
	{{template "scriptless-head" .}}
	<script type="text/javascript">
		var State = {{.BaseState | jsonfmt}};
		{{/*var State = {{.BaseState}};*/}}
	</script>
	<script src="{{.BaseURI}}/assets/script/script.js" type="text/javascript"></script>
{{end}}

{{define "issues"}}
<div class="list-entry list-entry-border">
	{{template "issues-nav" .}}
	{{with .Issues}}{{range .}}
	<div class="list-entry-body multilist-entry">
		<div style="display: flex;">
			{{if eq .State "open"}}
				<span style="margin-right: 6px; color: #6cc644;" class="octicon octicon-issue-opened"></span>
			{{else if eq .State "closed"}}
				<span style="margin-right: 6px; color: #bd2c00;" class="octicon octicon-issue-closed"></span>
			{{end}}
			<div style="flex-grow: 1;">
				<div><a class="black" href="{{$.BaseURI}}/{{.ID}}"><strong>{{.Title}}</strong></a></div>
				<div class="gray tiny">#{{.ID}} opened {{template "time" .CreatedAt}} by {{.User.Login}}</div>
			</div>
			<span title="{{.Replies}} replies" class="tiny {{if .Replies}}gray{{else}}lightgray{{end}}"><span class="octicon octicon-comment"></span> {{.Replies}}</span>
		</div>
	</div>
	{{end}}{{else}}
		<div style="text-align: center;">
			<div style="margin-top: 80px; margin-bottom: 80px;">There aren't any {{.Tab}} issues.</div>
		</div>
	{{end}}
</div>
{{end}}
