<html>
	<head>
		{{template "head" .}}
	</head>
	<body>
		{{/* TODO: Make this work with some mock values. */}}
		{{template "issues-nav" .}}
	</body>
</html>

{{define "issues-nav"}}
<nav>
	<ul class="nav nav-tabs">
		{{.Tabs}}
		<button class="btn btn-success btn-small pull-right" onclick="window.location = '{{.BaseURI}}/new';">Create Thread</button>
	</ul>
</nav>
{{end}}
