<html>
	<head>
		{{template "scriptless-head" .}}
	</head>
	<body>
		{{template "issues" .}}
	</body>
</html>

{{/* HACK: This is a temporary experiment. */}}
{{define "scriptless-head"}}
	{{.HeadPre}}
	<link href="{{.BaseURI}}/assets/style.css" rel="stylesheet" type="text/css" />
{{end}}

{{define "head"}}
	{{template "scriptless-head" .}}
	<script type="text/javascript">
		var State = {{.BaseState | jsonfmt}};
		{{/*var State = {{.BaseState}};*/}}
	</script>
	<script src="{{.BaseURI}}/assets/script/script.js" type="text/javascript"></script>
{{end}}

{{define "issues"}}
<div class="list-entry">
	{{template "issues-nav" .}}
	{{with .Issues}}{{range .}}
	<div class="list-entry-body multilist-entry">
		<div class="thread-list-item">
			<span class="id">#{{.ID}}</span>
			<div style="flex-grow: 1;">
				<div class="title"><a href="{{$.BaseURI}}/{{.ID}}">{{.Title}}</a></div>
				<div class="subtitle"> opened {{template "time" .CreatedAt}} by <a href="/~{{.User.Login}}">{{.User.Login}}</a></div>
			</div>
			<span title="{{.Replies}} replies" class="tiny {{if .Replies}}gray{{else}}lightgray{{end}}"><span class="octicon octicon-comment"></span> {{.Replies}}</span>
		</div>
	</div>
	{{end}}{{else}}
		<div style="text-align: center;">
			<div style="margin-top: 80px; margin-bottom: 80px;">There aren't any {{.Tab}} threads.</div>
		</div>
	{{end}}
</div>
{{end}}
