@import '../../branded/src/global-styles/colors';

// Bootstrap configuration before Bootstrap is imported
$border-radius: var(--border-radius);
$border-radius-sm: var(--border-radius);
$border-radius-lg: var(--border-radius);

$font-size-base: 0.875rem;
$line-height-base: (20/14);

:root {
    --border-color: rgba(0, 0, 0, 0.125);
    --mark-bg: var(--mark-bg-light);
}

.sg-icon .icon {
    @extend .icon-inline;
    display: flex;
}

// Note that we define this before selection highlights so that it will override
// the styles of symbol that has both classes applied.
.sourcegraph-document-highlight {
    background-color: var(--secondary);
}

.selection-highlight,
.selection-highlight-sticky {
    background-color: var(--mark-bg);

    .sourcegraph-document-highlight {
        background-color: initial;
    }
}

/* stylelint-disable @sourcegraph/no-restricted-imports */
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities/text';
@import 'bootstrap/scss/utilities/screenreaders';
/* stylelint-enable @sourcegraph/no-restricted-imports */
@import '../../shared/src/global-styles/icons';
@import './highlight';
@import './shared';
