@import '../../branded/src/global-styles/colors';

$font-size-base: 0.875rem;
$line-height-base: (20/14);

:root {
    --border-color: rgba(0, 0, 0, 0.125);
    --mark-bg: var(--mark-bg-light);
    --code-font-family: sfmono-regular, consolas, menlo, dejavu sans mono, monospace;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}

.sg-icon .icon {
    @extend .icon-inline;
    display: flex;
}

// Note that we define this before selection highlights so that it will override
// the styles of symbol that has both classes applied.
.sourcegraph-document-highlight {
    background-color: var(--secondary);
}

.selection-highlight,
.selection-highlight-sticky {
    background-color: var(--mark-bg);

    .sourcegraph-document-highlight {
        background-color: initial;
    }
}

@import '../../branded/src/global-styles/functions.scss';
@import '../../branded/src/global-styles/variables.scss';
@import '../../branded/src/global-styles/mixins.scss';
@import '../../branded/src/global-styles/utilities/text';
@import '../../branded/src/global-styles/utilities/screenreaders';
@import '../../shared/src/global-styles/icons';
@import './highlight';
@import './shared';
