// stylelint-disable

// highlight.js styles
// Adapted from https://github.com/highlightjs/highlight.js/blob/d4dfea242e4e94d8081015702ffebd8686db127c/src/styles/github.css

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333333;
}

.hljs-comment,
.hljs-quote {
    color: #999988;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
    color: #d73a49;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
    color: #008080;
}

.hljs-string,
.hljs-doctag {
    color: #dd1144;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
    color: #005cc5;
}

.hljs-subst {
    font-weight: normal;
}

.hljs-function .hljs-title {
    color: #6f42c1;
}

.hljs-type,
.hljs-class .hljs-title {
    color: #445588;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
    color: #000080;
    font-weight: normal;
}

.hljs-regexp,
.hljs-link {
    color: #009926;
}

.hljs-symbol,
.hljs-bullet {
    color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
    color: #0086b3;
}

.hljs-meta {
    color: #999999;
    font-weight: bold;
}

.hljs-deletion {
    background: #ffdddd;
}

.hljs-addition {
    background: #ddffdd;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
