// Options page CSS entry point

@import '../../branded/src/global-styles/colors.scss';
@import '../../branded/src/components/LoaderInput.scss';
@import '../../branded/src/components/Toggle.scss';
@import '../../shared/src/global-styles/icons.scss';
@import '~@sourcegraph/react-loading-spinner/lib/LoadingSpinner.css';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/input-group';
@import 'bootstrap/scss/custom-forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/alert';

:root {
    // Use the same root size as the webapp to maintain consistency
    font-size: 16px;
}

body {
    // Use a smaller base size than the default 16px,
    // because an options menu should feel more like a
    // natural extension of the browser's UI than a webpage
    font-size: 14px;
}

.options-page {
    width: 26rem;

    &--full {
        margin: 8rem auto;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
    }

    &__section {
        padding: 1rem;
        /* border-top: 1px solid var(--color-border-2); */
        &:first-child {
            border-top: none;
        }
    }

    &__alert {
        background-color: $gray-01;
    }

    &__code-hosts {
        border-style: solid;
        border-width: 1px 0;
        border-color: var(--color-border-2);
    }

    &__input {
        height: calc(2rem + 2px);
    }

    &__split-section {
        display: flex;
    }

    &__split-section__part {
        border-top: 1px solid var(--color-border-2);
        padding: 0.75rem 1rem;
        flex: 50%;
        border-left: 1px solid var(--color-border-2);
        &:first-child {
            border-left: none;
        }
    }

    &__logo {
        width: 10rem;
    }

    &__version {
        margin-left: 2.1rem;
        margin-top: 0.25rem;
    }
}

.code-hosts-section__icon {
    display: inline-block;
    padding: 0.4rem;
    border-radius: 100%;
}

.code-hosts-section__icon--highlighted {
    background-color: $gray-02;
}
