.product-certificate {
    &__bg {
        background-color: var(--body-bg);
    }

    &__logo {
        height: 5rem;
        z-index: 9;
    }
    .btn {
        z-index: 9;
    }
    .card-footer {
        z-index: 9;
    }
}

.theme-light {
    .product-certificate-webpack {
        .product-certificate__bg {
            background-image: url(/.assets/img/bg-sprinkles-2x.png);
        }
    }
}

.theme-dark {
    .product-certificate-webpack {
        .product-certificate__bg {
            background-image: url(/.assets/img/bg-sprinkles-2x.png);
        }
    }
}
