---
version: 1
interactions:
- request:
    body: '{"order":"descending","sortBy":"lastModifiedDate"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20190508T142251Z
      X-Amz-Target:
      - CodeCommit_20150413.ListRepositories
    url: https://codecommit.us-west-1.amazonaws.com/
    method: POST
  response:
    body: '{"repositories":[{"repositoryId":"953fdede-bcf3-40df-9ecf-b4e479d990bc","repositoryName":"empty-repo"},{"repositoryId":"c10c07aa-3450-46fd-b7d2-a0ae41f1c5bb","repositoryName":"stripe-go"},{"repositoryId":"2686d63d-bff4-4a3e-a94f-3e6df904238d","repositoryName":"test2"},{"repositoryId":"c618914b-4ffb-440d-8fb2-11bbc32b8c4f","repositoryName":"__WARNING_DO_NOT_PUT_ANY_PRIVATE_CODE_IN_HERE"},{"repositoryId":"020a4751-0f46-4e19-82bf-07d0989b67dd","repositoryName":"test"}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - b38b7b1e-4826-4656-8029-a04fe044d837
    status: '200 '
    code: 200
    duration: ""
- request:
    body: '{"repositoryNames":["empty-repo","stripe-go","test2","__WARNING_DO_NOT_PUT_ANY_PRIVATE_CODE_IN_HERE","test"]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20190508T142251Z
      X-Amz-Target:
      - CodeCommit_20150413.BatchGetRepositories
    url: https://codecommit.us-west-1.amazonaws.com/
    method: POST
  response:
    body: '{"repositories":[{"Arn":"arn:aws:codecommit:us-west-1:185007729374:empty-repo","accountId":"185007729374","cloneUrlHttp":"https://git-codecommit.us-west-1.amazonaws.com/v1/repos/empty-repo","cloneUrlSsh":"ssh://git-codecommit.us-west-1.amazonaws.com/v1/repos/empty-repo","creationDate":1.507681975302E9,"lastModifiedDate":1.528606941782E9,"repositoryDescription":"Some
      utilities for HTTP services","repositoryId":"953fdede-bcf3-40df-9ecf-b4e479d990bc","repositoryName":"empty-repo"},{"Arn":"arn:aws:codecommit:us-west-1:185007729374:stripe-go","accountId":"185007729374","cloneUrlHttp":"https://git-codecommit.us-west-1.amazonaws.com/v1/repos/stripe-go","cloneUrlSsh":"ssh://git-codecommit.us-west-1.amazonaws.com/v1/repos/stripe-go","creationDate":1.507682138041E9,"defaultBranch":"master","lastModifiedDate":1.518513962145E9,"repositoryDescription":"The
      stripe-go lib","repositoryId":"c10c07aa-3450-46fd-b7d2-a0ae41f1c5bb","repositoryName":"stripe-go"},{"Arn":"arn:aws:codecommit:us-west-1:185007729374:test2","accountId":"185007729374","cloneUrlHttp":"https://git-codecommit.us-west-1.amazonaws.com/v1/repos/test2","cloneUrlSsh":"ssh://git-codecommit.us-west-1.amazonaws.com/v1/repos/test2","creationDate":1.510642294601E9,"defaultBranch":"master","lastModifiedDate":1.5106[...]
