
.references-group {

    margin-bottom: 1px;

    &__icon {
        .icon, svg {
            width: 1.5rem;
            fill: currentColor;
            vertical-align: middle;
        }
        .icon-loader {
            stroke: currentColor;
        }
    }

    &__title {

        padding-left: 1rem;
        height: 2.5rem;

        display: flex;
        align-items: center;
        white-space: nowrap;
        $background-color: #1C2736;
        background-color: $background-color;

        &--expandable {
            cursor: pointer;
        }

        &:hover {
            background-color: darken($background-color, 0.05);
        }

        .breadcrumb {
            flex: 1 1 auto;
            margin: 0 1rem;
        }
    }

    &__expand-icon {
        margin-left: auto;
        margin-right: 15px;

        display: flex;

        .icon, svg {
            fill: currentColor;
            width: 1rem;
            height: 1rem;
        }
    }

    &__reference {
        text-decoration: none; // don't use cascading link style
        display: block;
        padding: 1rem;
        cursor: pointer;
        overflow-x: auto;
        overflow-y: hidden;
        background-color: #070A0D;
        &:hover {
            background-color: #151D28;
        }
        &:not(:first-child) {
            border-top: 1px solid #2A3A51;
        }
    }
}

.references-widget {

    flex: 1 1 50%;
    min-height: 0;

    display: flex;
    flex-direction: column;

    font-family: system;
    user-select: none;
    background: #070A0D;

    &__title-bar {

        flex: none;
        width: 100%;
        height: 2.5rem;

        padding: 0 1rem;
        display: flex;
        align-items: center;

        background-color: #070A0D;

        &-title {
            max-width: 50%;
            margin-right: 25px;
        }

        &-group {
            @extend .ui-title;

            margin-left: 1rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-decoration: none;

            &:hover {
                color: white;
            }

            &--active {
                color: white;
            }
        }
    }

    &__badge {
        height: 1.5rem;
        min-width: 1.5rem;
        margin: 0 0.25rem;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.25rem 0.5rem;

        font-size: 0.857em;
        border-radius: 1rem;
        background-color: #2A3A51;
        color: white;
    }

    &__close-icon {
        flex: none;
        cursor: pointer;
        margin-left: auto;

        display: flex;

        .icon, svg {
            fill: currentColor;
            width: 1rem;
            height: 1rem;
        }

        &:hover {
            color: white;
        }
    }

    &__placeholder {
        padding: 10px 16px;
    }

    &__groups {
        flex: 1 1 auto;
        min-height: 0;
        overflow-y: auto;
    }
}
