@value base "sourcegraph/components/styles/_base.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value form "sourcegraph/components/styles/form.css";

.full_page {
	composes: col_9 col_5_m col_4_l from grid;
	composes: pa2 mv5 center from base;
}

.label_link { composes: label_link from form; }
.mid_text { composes: mid_text from form; }
.sub_text { composes: sub_text from form; }
.error { composes: error from form; }
.success { composes: success from form; }
.form {	composes: stacked from form; }

.divider {
	text-align: center;
	composes: mv2 from base;
}
