{{define "Head"}}<title>{{.StatusCode}} {{.Status}} - Sourcegraph</title>{{end}}

{{define "Body"}}
<div class="error-page">
	<h1>
		<span class="status-code">{{.StatusCode}} </span>
		<span class="status-message">{{.Status}}</span>
	</h1>
	<div class="error-common">
		{{if and (.Err) (.Debug)}}
			<div class="error-message">{{.Err}}</div>
		{{end}}
		<hr />
		<p>Sorry, there’s been a problem.{{if .ErrorID}} To quickly identify this issue, use the ID <b>{{.ErrorID}}</b>.{{end}}</p>
		<p>If this issue persists, please <a href="mailto:support@sourcegraph.com">contact us</a> with steps to reproduce and other useful context{{if .ErrorID}}, and include the id above{{end}}.</p>
	</div>
</div>
{{end}}
