---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma
    method: GET
  response:
    body: '{"id":442285,"node_id":"MDEwOlJlcG9zaXRvcnk0NDIyODU=","name":"fluffy-enigma","full_name":"admiring-austin-120/fluffy-enigma","private":true,"owner":{"login":"admiring-austin-120","id":1610,"node_id":"MDEyOk9yZ2FuaXphdGlvbjE2MTA=","avatar_url":"https://ghe.sgdev.org/avatars/u/1610?","gravatar_id":"","url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120","html_url":"https://ghe.sgdev.org/admiring-austin-120","followers_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/followers","following_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/following{/other_user}","gists_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/gists{/gist_id}","starred_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/starred{/owner}{/repo}","subscriptions_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/subscriptions","organizations_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/orgs","repos_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/repos","events_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/events{/privacy}","received_events_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/received_events","type":"Organization","site_admin":false},"html_url":"https://ghe.sgdev.org/admiring-austin-120/fluffy-enigma","description":"Internal
      repo used in tests in sourcegraph code.","fork":false,"url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma","forks_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/forks","keys_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/keys{/key_id}","collaborators_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/collaborators{/collaborator}","teams_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/teams","hooks_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/hooks","issue_events_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/issues/events{/number}","events_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/events","assignees_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/assignees{/user}","branches_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/branches{/branch}","tags_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/tags","blobs_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/git/blobs{/sha}","git_tags_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/git/tags{/sha}","git_refs_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/git/refs{/sha}","trees_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/git/trees{/sha}","statuses_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/statuses/{sha}","languages_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/languages","stargazers_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/stargazers","contributors_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/contributors","subscribers_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/subscribers","subscription_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/subscription","commits_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/commits{/sha}","git_commits_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/git/commits{/sha}","comments_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/comments{/number}","issue_comment_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/issues/comments{/number}","contents_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/contents/{+path}","compare_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/compare/{base}...{head}","merges_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/merges","archive_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/{archive_format}{/ref}","downloads_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/downloads","issues_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/issues{/number}","pulls_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/pulls{/number}","milestones_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/milestones{/number}","notifications_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/notifications{?since,all,participating}","labels_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/labels{/name}","releases_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/releases{/id}","deployments_url":"https://ghe.sgdev.org/api/v3/repos/admiring-austin-120/fluffy-enigma/deployments","created_at":"2021-10-29T08:48:53Z","updated_at":"2021-11-09T13:36:56Z","pushed_at":"2021-10-29T08:48:53Z","git_url":"git://ghe.sgdev.org/admiring-austin-120/fluffy-enigma.git","ssh_url":"git@ghe.sgdev.org:admiring-austin-120/fluffy-enigma.git","clone_url":"https://ghe.sgdev.org/admiring-austin-120/fluffy-enigma.git","svn_url":"https://ghe.sgdev.org/admiring-austin-120/fluffy-enigma","homepage":"","size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"topics":[],"visibility":"internal","forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"temp_clone_token":"AAAAAAZDAG3F6QJX2QKKZ6TBSUL5A","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"delete_branch_on_merge":false,"organization":{"login":"admiring-austin-120","id":1610,"node_id":"MDEyOk9yZ2FuaXphdGlvbjE2MTA=","avatar_url":"https://ghe.sgdev.org/avatars/u/1610?","gravatar_id":"","url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120","html_url":"https://ghe.sgdev.org/admiring-austin-120","followers_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/followers","following_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/following{/other_user}","gists_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/gists{/gist_id}","starred_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/starred{/owner}{/repo}","subscriptions_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/subscriptions","organizations_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/orgs","repos_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/repos","events_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/events{/privacy}","received_events_url":"https://ghe.sgdev.org/api/v3/users/admiring-austin-120/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"06212834195bc400481b2b6ed4a12ddc"
      Last-Modified:
      - Tue, 09 Nov 2021 13:36:56 GMT
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Enterprise-Version:
      - 2.22.6
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json, github.nebula-preview; format=json
      X-Oauth-Scopes:
      - repo
    status: 200 OK
    code: 200
    duration: ""
