# this response is purposefully trimmed as there are too many public repositories to list
---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repositories
    method: GET
  response:
    body: '[{"id":442201,"node_id":"MDEwOlJlcG9zaXRvcnk0NDIyMDE=","name":"junaed-CodeEval","full_name":"friendly-brown-93/junaed-CodeEval","private":false,"owner":{"login":"friendly-brown-93","id":2375,"node_id":"MDEyOk9yZ2FuaXphdGlvbjIzNzU=","avatar_url":"https://ghe.sgdev.org/avatars/u/2375?","gravatar_id":"","url":"https://ghe.sgdev.org/api/v3/users/friendly-brown-93","html_url":"https://ghe.sgdev.org/friendly-brown-93","followers_url":"https://ghe.sgdev.org/api/v3/users/friendly-brown-93/followers","following_url":"https://ghe.sgdev.org/api/v3/users/friendly-brown-93/following{/other_user}","gists_url":"https://ghe.sgdev.org/api/v3/users/friendly-brown-93/gists{/gist_id}","starred_url":"https://ghe.sgdev.org/api/v3/users/friendly-brown-93/starred{/owner}{/repo}","subscriptions_url":"https://ghe.sgdev.org/api/v3/users/friendly-brown-93/subscriptions","organizations_url":"https://ghe.sgdev.org/api/v3/users/friendly-brown-93/orgs","repos_url":"https://ghe.sgdev.org/api/v3/users/friendly-brown-93/repos","events_url":"https://ghe.sgdev.org/api/v3/users/friendly-brown-93/events{/privacy}","received_events_url":"https://ghe.sgdev.org/api/v3/users/friendly-brown-93/received_events","type":"Organization","site_admin":false},"html_url":"https://ghe.sgdev.org/friendly-brown-93/junaed-CodeEval","description":null,"fork":false,"url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval","forks_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/forks","keys_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/keys{/key_id}","collaborators_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/collaborators{/collaborator}","teams_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/teams","hooks_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/hooks","issue_events_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/issues/events{/number}","events_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/events","assignees_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/assignees{/user}","branches_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/branches{/branch}","tags_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/tags","blobs_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/git/blobs{/sha}","git_tags_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/git/tags{/sha}","git_refs_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/git/refs{/sha}","trees_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/git/trees{/sha}","statuses_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/statuses/{sha}","languages_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/languages","stargazers_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/stargazers","contributors_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/contributors","subscribers_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/subscribers","subscription_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/subscription","commits_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/commits{/sha}","git_commits_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/git/commits{/sha}","comments_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/comments{/number}","issue_comment_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/issues/comments{/number}","contents_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/contents/{+path}","compare_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/compare/{base}...{head}","merges_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/merges","archive_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/{archive_format}{/ref}","downloads_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/downloads","issues_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/issues{/number}","pulls_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/pulls{/number}","milestones_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/milestones{/number}","notifications_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/notifications{?since,all,participating}","labels_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/labels{/name}","releases_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/releases{/id}","deployments_url":"https://ghe.sgdev.org/api/v3/repos/friendly-brown-93/junaed-CodeEval/deployments"},{"id":442202,"node_id":"MDEwOlJlcG9zaXRvcnk0NDIyMDI=","name":"NisargaN-RentABike","full_name":"practical-benz-242/NisargaN-RentABike","private":false,"owner":{"login":"practical-benz-242","id":2374,"node_id":"MDEyOk9yZ2FuaXphdGlvbjIzNzQ=","avatar_url":"https://ghe.sgdev.org/avatars/u/2374?","gravatar_id":"","url":"https://ghe.sgdev.org/api/v3/users/practical-benz-242","html_url":"https://ghe.sgdev.org/practical-b[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3
    method: GET
  response:
    body: '{"current_user_url":"https://ghe.sgdev.org/api/v3/user","current_user_authorizations_html_url":"https://ghe.sgdev.org/settings/connections/applications{/client_id}","authorizations_url":"https://ghe.sgdev.org/api/v3/authorizations","code_search_url":"https://ghe.sgdev.org/api/v3/search/code?q={query}{&page,per_page,sort,order}","commit_search_url":"https://ghe.sgdev.org/api/v3/search/commits?q={query}{&page,per_page,sort,order}","emails_url":"https://ghe.sgdev.org/api/v3/user/emails","emojis_url":"https://ghe.sgdev.org/api/v3/emojis","events_url":"https://ghe.sgdev.org/api/v3/events","feeds_url":"https://ghe.sgdev.org/api/v3/feeds","followers_url":"https://ghe.sgdev.org/api/v3/user/followers","following_url":"https://ghe.sgdev.org/api/v3/user/following{/target}","gists_url":"https://ghe.sgdev.org/api/v3/gists{/gist_id}","hub_url":"https://ghe.sgdev.org/api/v3/hub","issue_search_url":"https://ghe.sgdev.org/api/v3/search/issues?q={query}{&page,per_page,sort,order}","issues_url":"https://ghe.sgdev.org/api/v3/issues","keys_url":"https://ghe.sgdev.org/api/v3/user/keys","label_search_url":"https://ghe.sgdev.org/api/v3/search/labels?q={query}&repository_id={repository_id}{&page,per_page}","notifications_url":"https://ghe.sgdev.org/api/v3/notifications","organization_url":"https://ghe.sgdev.org/api/v3/orgs/{org}","organization_repositories_url":"https://ghe.sgdev.org/api/v3/orgs/{org}/repos{?type,page,per_page,sort}","organization_teams_url":"https://ghe.sgdev.org/api/v3/orgs/{org}/teams","public_gists_url":"https://ghe.sgdev.org/api/v3/gists/public","rate_limit_url":"https://ghe.sgdev.org/api/v3/rate_limit","repository_url":"https://ghe.sgdev.org/api/v3/repos/{owner}/{repo}","repository_search_url":"https://ghe.sgdev.org/api/v3/search/repositories?q={query}{&page,per_page,sort,order}","current_user_repositories_url":"https://ghe.sgdev.org/api/v3/user/repos{?type,page,per_page,sort}","starred_url":"https://ghe.sgdev.org/api/v3/user/starred{/owner}{/repo}","starred_gists_url":"https://ghe.sgdev.org/api/v3/gists/starred","topic_search_url":"https://ghe.sgdev.org/api/v3/search/topics?q={query}{&page,per_page}","user_url":"https://ghe.sgdev.org/api/v3/users/{user}","user_organizations_url":"https://ghe.sgdev.org/api/v3/user/orgs","user_repositories_url":"https://ghe.sgdev.org/api/v3/users/{user}/repos{?type,page,per_page,sort}","user_search_url":"https://ghe.sgdev.org/api/v3/search/users?q={query}{&page,per_page,sort,order}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e421ef20b941ab73f0f4f5dc27f42883a47aa196e0275f457190e0c28911869c"
      X-Github-Enterprise-Version:
      - 3.8.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tisLocked\n\tisDisabled\n\tforkCount\n\tdiskUsage\n\trepositoryTopics(first:100)
      {\n\t\tnodes {\n\t\t\ttopic {\n\t\t\t\tname\n\t\t\t}\n\t\t}\n\t}\n\tstargazerCount\n\tvisibility\n}\n\tquery
      {\nrepo0: repository(owner: \"friendly-brown-93\", name: \"junaed-CodeEval\")
      { ... on Repository { ...RepositoryFields parent { nameWithOwner, isFor[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repositories?per_page=100&since=442327
    method: GET
  response:
    body: '{"message":"Not Found","documentation_url":"https://docs.github.com/enterprise/3.3/rest/reference/repos#list-public-repositories"}'
    headers:
      Content-Type:
        - application/json; charset=utf-8
      Link:
        - <https://ghe.sgdev.org/api/v3/repositories{?since}>; rel="first"
      X-Accepted-Oauth-Scopes:
        - ""
      X-Github-Enterprise-Version:
        - 3.3.0
      X-Github-Media-Type:
        - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
          format=json
      X-Oauth-Scopes:
        - read:org
    status: 404 Not Found
    code: 404
    duration: ""
