# this response is purposefully trimmed as there are too many public repositories to list
---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repositories
    method: GET
  response:
    body: '[{"id":1,"node_id":"MDEwOlJlcG9zaXRvcnkx","name":"sourcegraph-sirupsen-logrus","full_name":"sourcegraph/sourcegraph-sirupsen-logrus","private":false,"owner":{"login":"sourcegraph","id":4,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ=","avatar_url":"https://ghe.sgdev.org/avatars/u/4?","gravatar_id":"","url":"https://ghe.sgdev.org/api/v3/users/sourcegraph","html_url":"https://ghe.sgdev.org/sourcegraph","followers_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/followers","following_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/following{/other_user}","gists_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/gists{/gist_id}","starred_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/starred{/owner}{/repo}","subscriptions_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/subscriptions","organizations_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/orgs","repos_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/repos","events_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/events{/privacy}","received_events_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/received_events","type":"Organization","site_admin":false},"html_url":"https://ghe.sgdev.org/sourcegraph/sourcegraph-sirupsen-logrus","description":null,"fork":false,"url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus","forks_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/forks","keys_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/keys{/key_id}","collaborators_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/collaborators{/collaborator}","teams_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/teams","hooks_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/hooks","issue_events_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/issues/events{/number}","events_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/events","assignees_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/assignees{/user}","branches_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/branches{/branch}","tags_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/tags","blobs_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/git/blobs{/sha}","git_tags_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/git/tags{/sha}","git_refs_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/git/refs{/sha}","trees_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/git/trees{/sha}","statuses_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/statuses/{sha}","languages_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/languages","stargazers_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/stargazers","contributors_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/contributors","subscribers_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/subscribers","subscription_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/subscription","commits_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/commits{/sha}","git_commits_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/git/commits{/sha}","comments_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/comments{/number}","issue_comment_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/issues/comments{/number}","contents_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/contents/{+path}","compare_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/compare/{base}...{head}","merges_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/merges","archive_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/{archive_format}{/ref}","downloads_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/downloads","issues_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/issues{/number}","pulls_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/pulls{/number}","milestones_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/milestones{/number}","notifications_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/notifications{?since,all,participating}","labels_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/labels{/name}","releases_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/releases{/id}","deployments_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/sourcegraph-sirupsen-logrus/deployments"},{"id":2,"node_id":"MDEwOlJlcG9zaXRvcnky","name":"sourcegraph-inconshreveable-ngrok","full_name":"sourcegraph/sourcegraph-inconshreveable-ngrok","private":false,"owner":{"login":"sourcegraph","id":4,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ=","avatar_url":"https://ghe.sgdev.org/avatars/u/4?","gravatar_id":"","url":"https://ghe.sgdev.org/api/v3/users/sourcegraph","html_url":"https://ghe.sgdev.org/sourcegraph","follo[...]
- request:
    body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tisLocked\n\tisDisabled\n\tforkCount\n\tstargazerCount\n}\n\t\nquery($query:
      String!, $type: SearchType!, $after: String, $first: Int!) {\n\tsearch(query:
      $query, type: $type, after: $after, first: $first) {\n\t\trepositoryCount\n\t\tpageInfo
      { hasNextPage,  endCursor }\n\t\tnodes { ... on Repository { ...RepositoryFields
      } }\n\t}\n}","variables":{"first":100,"query":"archived:true is:public","type":"REPOSITORY"}}'
    form: {}
    headers:
      Content-Type:
        - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/graphql
    method: POST
  response:
    body: '{"data":{"search":{"repositoryCount":1,"pageInfo":{"hasNextPage":false,"endCursor":"Y3Vyc29yOjI="},"nodes":[{"id":"MDEwOlJlcG9zaXRvcnkx","databaseId":442312,"nameWithOwner":"sourcegraph/sourcegraph-sirupsen-logrus","description":null,"url":"https://ghe.sgdev.org/sourcegraph/sourcegraph-sirupsen-logrus","isPrivate":false,"isFork":false,"isArchived":true,"isLocked":false,"isDisabled":false,"forkCount":0,"stargazerCount":0}]}}}'
    headers:
      Content-Type:
        - application/json; charset=utf-8
      X-Github-Enterprise-Version:
        - 3.3.0
      X-Github-Media-Type:
        - github.v4; param=antiope-preview; format=json
      X-Ratelimit-Resource:
        - graphql
      X-Ratelimit-Used:
        - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repositories?per_page=100&since=100
    method: GET
  response:
    body: '{"message":"Not Found","documentation_url":"https://docs.github.com/enterprise/3.3/rest/reference/repos#list-public-repositories"}'
    headers:
      Content-Type:
        - application/json; charset=utf-8
      Link:
        - <https://ghe.sgdev.org/api/v3/repositories{?since}>; rel="first"
      X-Accepted-Oauth-Scopes:
        - ""
      X-Github-Enterprise-Version:
        - 3.3.0
      X-Github-Media-Type:
        - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
          format=json
      X-Oauth-Scopes:
        - read:org
    status: 404 Not Found
    code: 404
    duration: ""
