.legend-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    row-gap: 0.25rem;

    // Reset ul styles (bullets, paddings, margins)
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

.legend-item {
    display: flex;
    align-items: flex-start;
    word-break: break-all;
}

.legend-mark-container {
    display: flex;
    align-items: center;

    &::before {
        // Render an invisible "a" symbol in order to improve non-symbol UI element (legend mark)
        // alignment with legend text layout
        content: 'a';
        width: 0;
        visibility: hidden;
    }
}

.legend-mark {
    display: flex;
    align-items: center;
    width: 0.5rem;
    height: 0.5rem;
    flex-shrink: 0;
    margin-right: 0.25rem;
    border-radius: 50%;
}
