.repository-releases-page {
    .filtered-connection__form {
        margin-top: 0 !important;
    }
}

.git-tag-node {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
