---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://src.fedoraproject.org/api/0/projects?fork=false&page=1&pattern=tmux&per_page=100
    method: GET
  response:
    body: "{\n  \"args\": {\n    \"fork\": false, \n    \"namespace\": null, \n    \"owner\":
      null, \n    \"page\": 1, \n    \"pattern\": \"tmux\", \n    \"per_page\": 100,
      \n    \"short\": false, \n    \"tags\": [], \n    \"username\": null\n  }, \n
      \ \"pagination\": {\n    \"first\": \"https://src.fedoraproject.org/api/0/projects?per_page=100&fork=false&pattern=tmux&page=1\",
      \n    \"last\": \"https://src.fedoraproject.org/api/0/projects?per_page=100&fork=false&pattern=tmux&page=1\",
      \n    \"next\": null, \n    \"page\": 1, \n    \"pages\": 1, \n    \"per_page\":
      100, \n    \"prev\": null\n  }, \n  \"projects\": [\n    {\n      \"access_groups\":
      {\n        \"admin\": [], \n        \"collaborator\": [], \n        \"commit\":
      [], \n        \"ticket\": []\n      }, \n      \"access_users\": {\n        \"admin\":
      [\n          \"dcantrell\", \n          \"strobert\"\n        ], \n        \"collaborator\":
      [], \n        \"commit\": [\n          \"filiperosset\"\n        ], \n        \"owner\":
      [\n          \"slankes\"\n        ], \n        \"ticket\": []\n      }, \n      \"close_status\":
      [], \n      \"custom_keys\": [], \n      \"date_created\": \"1501875088\", \n
      \     \"date_modified\": \"1583420461\", \n      \"description\": \"The tmux
      rpms\", \n      \"full_url\": \"https://src.fedoraproject.org/rpms/tmux\", \n
      \     \"fullname\": \"rpms/tmux\", \n      \"id\": 22343, \n      \"milestones\":
      {}, \n      \"name\": \"tmux\", \n      \"namespace\": \"rpms\", \n      \"parent\":
      null, \n      \"priorities\": {}, \n      \"tags\": [], \n      \"url_path\":
      \"rpms/tmux\", \n      \"user\": {\n        \"full_url\": \"https://src.fedoraproject.org/user/slankes\",
      \n        \"fullname\": \"Sven Lankes\", \n        \"name\": \"slankes\", \n
      \       \"url_path\": \"user/slankes\"\n      }\n    }\n  ], \n  \"total_projects\":
      1\n}\n"
    headers:
      Apptime:
      - D=77282
      Content-Type:
      - application/json
      X-Fedora-Appserver:
      - pkgs01.iad2.fedoraproject.org
      X-Fedora-Proxyserver:
      - proxy10.iad2.fedoraproject.org
      X-Fedora-Requestid:
      - YZ0LZMjvV8FYLIoWKLLqQgAABpc
    status: 200 OK
    code: 200
    duration: ""
