.open-link {
    color: var(--link-color);
    border: 0;
    vertical-align: baseline;

    &:focus,
    &:active {
        outline: none;
        box-shadow: none;
    }
}

.blurb {
    &:last-child {
        margin-bottom: 0;
    }
}
