.user-settings-profile-page {
    &__avatar-row {
        display: flex;
        align-items: center;
        min-height: 6rem;
    }
    &__field-column {
        flex: 1;
    }
    &__avatar-column {
        flex: 0 0 auto;
        padding: 0 0.25rem 0 1rem;
        .avatar-icon {
            width: 6rem;
            height: auto;
            max-height: 6rem;
        }
    }

    &__button-row {
        margin: 2.5rem 0;
    }

    &__alert {
        margin-top: 1rem;
    }

    &__activation-container {
        border: 1px solid $dropdown-border-color;
        border-radius: 3px;
        margin-bottom: 1rem;
        overflow: hidden;
    }

    &__activation-header {
        padding: 0.5rem 1rem;
        white-space: normal;
    }
    &__activation-title {
        position: relative;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: normal;

        padding-bottom: 0;
        margin-bottom: 0;
    }
    &__activation-copy {
        position: relative;
        margin-bottom: 0;
        line-height: 20px;
    }
}
