.user-settings-profile-page {
    &__avatar-row {
        display: flex;
        align-items: center;
        min-height: 6rem;
    }
    &__field-column {
        flex: 1;
    }
    &__avatar-column {
        flex: 0 0 auto;
        padding: 0 0.25rem 0 1rem;
        .user-avatar {
            width: 6rem;
            height: auto;
            max-height: 6rem;
        }
    }

    &__button-row {
        margin: 2.5rem 0;
    }

    &__alert {
        margin-top: 1rem;
    }
}
