.hover-overlay--gerrit {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.hover-overlay-mount__gerrit {
    // Styles for the hover overlay
    .hover-overlay__contents code {
        font-family: 'Roboto Mono', 'SF Mono', 'Lucida Console', Monaco, monospace;
        font-size: 12px;
    }
    .hover-overlay__close-button {
        border: none;
        background-color: transparent;
        cursor: pointer;

        svg {
            height: 14px;
        }
    }

    .hover-overlay__actions {
        background-color: rgba(250, 250, 250, 255);
        justify-content: space-around;
        padding: 4px;
    }

    .hover-overlay__action {
        color: rgba(42, 102, 217, 255);
        padding: 5px 4px;
        flex: none;

        text-decoration: none;
        text-transform: uppercase;

        // Copied from Gerrit styles
        font-family: Roboto, -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif;

        &:hover {
            background-color: rgba(0, 0, 0, 0.12);
            border-radius: var(--border-radius);
        }
    }

    .hover-overlay__action svg {
        height: 12px;
        width: 12px;
    }
}
