---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/16606399/merge_requests/6/notes?page=1
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Gitlab-Lb:
      - fe-35-lb-gprd
      Gitlab-Sv:
      - localhost
      Link:
      - <https://gitlab.com/api/v4/projects/16606399/merge_requests/6/notes?activity_filter=all_notes&id=16606399&noteable_id=6&order_by=created_at&page=1&per_page=20&sort=desc>;
        rel="first", <https://gitlab.com/api/v4/projects/16606399/merge_requests/6/notes?activity_filter=all_notes&id=16606399&noteable_id=6&order_by=created_at&page=1&per_page=20&sort=desc>;
        rel="last"
      X-Next-Page:
      - ""
      X-Page:
      - "1"
      X-Per-Page:
      - "20"
      X-Prev-Page:
      - ""
      X-Total:
      - "0"
      X-Total-Pages:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/16606399/merge_requests/6/resource_state_events?page=1
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Gitlab-Lb:
      - fe-17-lb-gprd
      Gitlab-Sv:
      - localhost
      Link:
      - <https://gitlab.com/api/v4/projects/16606399/merge_requests/6/resource_state_events?eventable_id=6&id=16606399&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v4/projects/16606399/merge_requests/6/resource_state_events?eventable_id=6&id=16606399&page=1&per_page=20>;
        rel="last"
      X-Next-Page:
      - ""
      X-Page:
      - "1"
      X-Per-Page:
      - "20"
      X-Prev-Page:
      - ""
      X-Total:
      - "0"
      X-Total-Pages:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/16606399/merge_requests/6/pipelines?page=1
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Gitlab-Lb:
      - fe-09-lb-gprd
      Gitlab-Sv:
      - localhost
      Link:
      - <https://gitlab.com/api/v4/projects/16606399/merge_requests/6/pipelines?id=16606399&merge_request_iid=6&page=1&per_page=15>;
        rel="first", <https://gitlab.com/api/v4/projects/16606399/merge_requests/6/pipelines?id=16606399&merge_request_iid=6&page=1&per_page=15>;
        rel="last"
      X-Next-Page:
      - ""
      X-Page:
      - "1"
      X-Per-Page:
      - "15"
      X-Prev-Page:
      - ""
      X-Total:
      - "0"
      X-Total-Pages:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/43195414
    method: GET
  response:
    body: '{"id":43195414,"description":"","name":"src CLI","name_with_namespace":"Kelli
      Rockwell / src CLI","path":"src-cli-forked","path_with_namespace":"courier-new/src-cli-forked","created_at":"2023-02-03T22:46:25.593Z","default_branch":"master","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:courier-new/src-cli-forked.git","http_url_to_repo":"https://gitlab.com/courier-new/src-cli-forked.git","web_url":"https://gitlab.com/courier-new/src-cli-forked","readme_url":"https://gitlab.com/courier-new/src-cli-forked/-/blob/master/README.md","forks_count":0,"avatar_url":null,"star_count":0,"last_activity_at":"2023-02-03T22:46:25.593Z","namespace":{"id":52422163,"name":"Kelli
      Rockwell","path":"courier-new","kind":"user","full_path":"courier-new","parent_id":null,"avatar_url":"/uploads/-/system/user/avatar/11440943/avatar.png","web_url":"https://gitlab.com/courier-new"},"container_registry_image_prefix":"registry.gitlab.com/courier-new/src-cli-forked","_links":{"self":"https://gitlab.com/api/v4/projects/43195414","issues":"https://gitlab.com/api/v4/projects/43195414/issues","merge_requests":"https://gitlab.com/api/v4/projects/43195414/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/43195414/repository/branches","labels":"https://gitlab.com/api/v4/projects/43195414/labels","events":"https://gitlab.com/api/v4/projects/43195414/events","members":"https://gitlab.com/api/v4/projects/43195414/members","cluster_agents":"https://gitlab.com/api/v4/projects/43195414/cluster_agents"},"packages_enabled":true,"empty_repo":false,"archived":false,"visibility":"public","owner":{"id":11440943,"username":"courier-new","name":"Kelli
      Rockwell","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/11440943/avatar.png","web_url":"https://gitlab.com/courier-new"},"resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2023-02-04T22:46:25.635Z"},"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"container_registry_enabled":true,"service_desk_enabled":true,"service_desk_address":"contact-project+courier-new-src-cli-forked-43195414-issue-@incoming.gitlab.com","can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"enabled","operations_access_level":"enabled","analytics_access_level":"enabled","container_registry_access_level":"enabled","security_and_compliance_access_level":"private","releases_access_level":"enabled","environments_access_level":"enabled","feature_flags_access_level":"enabled","infrastructure_access_level":"enabled","monitor_access_level":"enabled","emails_disabled":null,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":11440943,"forked_from_project":{"id":16606399,"description":"","name":"src
      CLI","name_with_namespace":"sourcegraph / src CLI","path":"src-cli","path_with_namespace":"sourcegraph/src-cli","created_at":"2020-01-30T11:45:14.073Z","default_branch":"master","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:sourcegraph/src-cli.git","http_url_to_repo":"https://gitlab.com/sourcegraph/src-cli.git","web_url":"https://gitlab.com/sourcegraph/src-cli","readme_url":"https://gitlab.com/sourcegraph/src-cli/-/blob/master/README.md","forks_count":4,"avatar_url":null,"star_count":0,"last_activity_at":"2023-02-03T22:48:09.799Z","namespace":{"id":2582152,"name":"sourcegraph","path":"sourcegraph","kind":"group","full_path":"sourcegraph","parent_id":null,"avatar_url":"/uploads/-/system/group/avatar/2582152/3979584.png","web_url":"https://gitlab.com/groups/sourcegraph"}},"mr_default_target_self":false,"import_url":null,"import_type":null,"import_status":"finished","import_error":null,"open_issues_count":0,"runners_token":"GR1348941DBZeB_RxS5_qxzAR4DFQ","ci_default_git_depth":50,"ci_forward_deployment_enabled":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_opt_in_jwt":false,"ci_allow_fork_pipelines_to_run_in_parent_project":true,"public_jobs":true,"build_git_strategy":"fetch","build_timeout":3600,"auto_cancel_pending_pipelines":"enabled","ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"restrict_user_defined_variables":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"issue_branch_template":null,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","autoclose_referenced_issues":true,"keep_latest_artifact":true,"runner_token_expiration_interval":null,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":true,"compliance_frameworks":[],"permissions":{"project_access":{"access_level":50,"notification_level":3},"group_access":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"41bf87171cab9654b1b51059c88948cc"
      Gitlab-Lb:
      - fe-18-lb-gprd
      Gitlab-Sv:
      - localhost
    status: 200 OK
    code: 200
    duration: ""
