---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://src.fedoraproject.org/api/0/projects?fork=true&page=1&pattern=tmux&per_page=5
    method: GET
  response:
    body: "{\n  \"args\": {\n    \"fork\": true, \n    \"namespace\": null, \n    \"owner\":
      null, \n    \"page\": 1, \n    \"pattern\": \"tmux\", \n    \"per_page\": 5,
      \n    \"short\": false, \n    \"tags\": [], \n    \"username\": null\n  }, \n
      \ \"pagination\": {\n    \"first\": \"https://src.fedoraproject.org/api/0/projects?per_page=5&fork=true&pattern=tmux&page=1\",
      \n    \"last\": \"https://src.fedoraproject.org/api/0/projects?per_page=5&fork=true&pattern=tmux&page=2\",
      \n    \"next\": \"https://src.fedoraproject.org/api/0/projects?per_page=5&fork=true&pattern=tmux&page=2\",
      \n    \"page\": 1, \n    \"pages\": 2, \n    \"per_page\": 5, \n    \"prev\":
      null\n  }, \n  \"projects\": [\n    {\n      \"access_groups\": {\n        \"admin\":
      [], \n        \"collaborator\": [], \n        \"commit\": [], \n        \"ticket\":
      []\n      }, \n      \"access_users\": {\n        \"admin\": [], \n        \"collaborator\":
      [], \n        \"commit\": [], \n        \"owner\": [\n          \"asn\"\n        ],
      \n        \"ticket\": []\n      }, \n      \"close_status\": [], \n      \"custom_keys\":
      [], \n      \"date_created\": \"1516987833\", \n      \"date_modified\": \"1516987833\",
      \n      \"description\": \"The tmux rpms\", \n      \"full_url\": \"https://src.fedoraproject.org/fork/asn/rpms/tmux\",
      \n      \"fullname\": \"forks/asn/rpms/tmux\", \n      \"id\": 27544, \n      \"milestones\":
      {}, \n      \"name\": \"tmux\", \n      \"namespace\": \"rpms\", \n      \"parent\":
      {\n        \"access_groups\": {\n          \"admin\": [], \n          \"collaborator\":
      [], \n          \"commit\": [], \n          \"ticket\": []\n        }, \n        \"access_users\":
      {\n          \"admin\": [\n            \"dcantrell\", \n            \"strobert\"\n
      \         ], \n          \"collaborator\": [], \n          \"commit\": [\n            \"filiperosset\"\n
      \         ], \n          \"owner\": [\n            \"slankes\"\n          ],
      \n          \"ticket\": []\n        }, \n        \"close_status\": [], \n        \"custom_keys\":
      [], \n        \"date_created\": \"1501875088\", \n        \"date_modified\":
      \"1583420461\", \n        \"description\": \"The tmux rpms\", \n        \"full_url\":
      \"https://src.fedoraproject.org/rpms/tmux\", \n        \"fullname\": \"rpms/tmux\",
      \n        \"id\": 22343, \n        \"milestones\": {}, \n        \"name\": \"tmux\",
      \n        \"namespace\": \"rpms\", \n        \"parent\": null, \n        \"priorities\":
      {}, \n        \"tags\": [], \n        \"url_path\": \"rpms/tmux\", \n        \"user\":
      {\n          \"full_url\": \"https://src.fedoraproject.org/user/slankes\", \n
      \         \"fullname\": \"Sven Lankes\", \n          \"name\": \"slankes\",
      \n          \"url_path\": \"user/slankes\"\n        }\n      }, \n      \"priorities\":
      {}, \n      \"tags\": [], \n      \"url_path\": \"fork/asn/rpms/tmux\", \n      \"user\":
      {\n        \"full_url\": \"https://src.fedoraproject.org/user/asn\", \n        \"fullname\":
      \"Andreas Schneider\", \n        \"nam[...]
