
.chart-container {
    min-height: 12rem;
    width: 100%;
}

.actions {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.details-action {
    margin-right: auto;
}
