@import 'wildcard/src/global-styles/breakpoints';

.strip {
    display: none;

    :global(.core-workflow-improvements-enabled) & {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-top: 0.75rem;
        position: sticky;
        top: 0.5rem;
        height: min-content;

        @media (--md-breakpoint-down) {
            display: none;
        }
    }
}

.button {
    color: var(--text-muted);

    &[aria-selected='true'] {
        color: var(--body-color);
    }
}

svg.icon {
    width: 1.5rem;
    height: 1.5rem;
}
