# Usage of Architecture Decision Records (ADRs)

This page is an ADR log. Read the first entry to learn about the reasoning and context behind the adoption of ADRs.

Are you considering adding an ADR? Check out the [How-to page](how-to.md)!

To preserve order, individual documents are prefixed by the **current epoch Unix timestamp**.

{{- range .Adrs }}
{{ .Number }}. _{{ .Date }}_ [{{ .Title }}]({{ .Path }})
{{- end }}
