.executor-secret-node {
    &__container {
        padding: 0;
        border: none;
        &:not(:last-child) {
            padding-bottom: 1rem;
        }
        &:not(:first-child) {
            padding-top: 1rem;
            border-top: 1px solid var(--border-color);
        }
    }
}

.wrapper {
    gap: 0.5rem;
}

.link-muted {
    color: var(--text-muted);
    &:hover {
        color: var(--text-muted);
    }
}
