.selector {
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--color-bg-1);
}

.count {
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 1;
    margin-right: 0.714rem;
}

.selected {
    :global(.theme-light) & {
        box-shadow: 0 0 0 2px var(--btn-light-color-variant);
    }

    :global(.theme-dark) & {
        box-shadow: 0 0 0 2px var(--btn-dark-color-variant);
    }
}
