.line-chart {
    display: flex;
    flex-direction: column;

    &--no-interaction {
        pointer-events: none;
    }
}

.content-parent-size {
    flex-grow: 1;
    position: relative;
}

.legend {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    list-style: none;
    margin: 0;
}

.legend-item {
    display: flex;
    margin-right: 0.5rem;
    align-items: center;
}

.legend-mark {
    width: 0.75rem;
    height: 0.75rem;
    flex-shrink: 0;
    margin-right: 0.25rem;
    border-radius: 50%;
}
