.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;

    &:not(:last-child) {
        padding-bottom: 1rem;
    }

    + .row {
        padding-top: 1rem;
    }
}
