.skipped-popover {
    width: 22rem;
    padding: 0;
}

#streaming-progress-button {
    // Transparent rather than none to keep spacing consistent
    border-color: transparent;
    &:hover {
        border-color: var(--secondary-4);
        background-color: var(--secondary-4);
    }
}
