@import 'wildcard/src/global-styles/breakpoints';

.content {
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.25rem;
}


.file-picker {
    width: 65%;
    @media (--sm-breakpoint-down) {
        width: 100%;
    }
}

.input-root {
    display: flex;
    width: 100%;
}

.input {
    // Reserve place for input loader
    padding-right: 2rem;

    &--with-action {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.pick-path {
    flex-shrink: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.reset-path {
    flex-shrink: 0;
    margin-left: 0.5rem;
}

.list {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    gap: 0.5rem;
    padding: 0;
    margin: 1rem 0 0 0.5rem;
    list-style: none;

    &:empty {
        display: none;
    }
    
    svg {
        overflow: initial;
    }
}

.item {
    &:hover {
        background-color: var(--secondary-2);
    }

    &--border {
        border-bottom: 1px solid var(--border-color);
    }
}
