{{define "ErrorCommon"}}
<div class="error-common">
	<hr />
	<p>This error has been logged and will be brought to our attention.
	{{if (not .DisableExternalLinks)}}
	If you would like to provide additional context or track our progress on fixing this issue, please post in <a href="https://src.sourcegraph.com/sourcegraph/.tracker/new">our tracker</a>.{{if .ErrorID}} To enable us to quickly identify this issue in our logs, mention this error id in your post: <b>{{.ErrorID}}</b>.{{end}}</p>
	{{end}}
	{{if and (.Err) (.Debug) (not .DisableExternalLinks)}}
	<div class="error-message">
		{{.Err}}
		<div class="actions">
			<a class="btn btn-default" href="https://src.sourcegraph.com/sourcegraph/.tracker/new">Open thread</a>
			<a class="btn btn-default" href="mailto:help@sourcegraph.com">Contact us</a>
		</div>
	</div>
	{{end}}
</div>
{{end}}
