{{define "ErrorCommon"}}
<div class="error-common">
	{{if and (.Err) (.Debug)}}
	<div class="error-message">
		{{.Err}}
	</div>
	{{end}}
	<hr />
	<p>Sorry, there’s been a problem.{{if .ErrorID}} To quickly identify this issue, use the ID <b>{{.ErrorID}}</b>.{{end}}</p>
	{{if (not .DisableExternalLinks)}}
	<p>If you would like to provide additional context or track our progress on fixing this issue, please post an issue in <a href="https://src.sourcegraph.com/sourcegraph/.tracker/new">our tracker</a>{{if .ErrorID}} and include the id above{{end}}.</p>
	{{end}}
</div>
{{end}}
