@import 'wildcard/src/global-styles/breakpoints';

.git-commit-node {
    padding: 0.75rem 0.5rem 0.5rem;

    &--compact {
        padding-top: 0.5rem;
    }

    &--compact .inner-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media (--xs-breakpoint-down) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &--compact .byline {
        min-width: 25%;

        @media (--md-breakpoint-up) {
            width: 25%;
        }

        flex: none;
        padding-right: 1.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
    }

    &--extra-compact .byline {
        min-width: auto;
        padding-right: 0.5rem;

        @media (--md-breakpoint-up) {
            width: auto;
        }
    }

    &--compact .message {
        flex: 1;
        min-width: 0;
        padding-right: 1rem;
    }

    &--extra-compact .message {
        flex: initial;
        padding-right: 0.5rem;
    }

    &--compact .message-subject {
        font-weight: normal;
    }

    &--compact .oid {
        flex: 0 0 auto;
    }
}

.signature {
    flex: 1 1;
    min-width: 24rem;
    margin-right: 1.5rem;

    &--user-avatar {
        width: 2.75rem !important;
        height: 2.75rem !important;
        font-size: 1.5rem;
    }
}
.commit-message {
    display: flex;
    flex: column wrap;
    align-items: left;
    word-wrap: break-word;
}

.spacer {
    width: 6.25rem;
    justify-self: end;
}

.message {
    display: flex;
    align-items: baseline;
    font-size: 1rem;

    @media (--xs-breakpoint-down) {
        .git-commit-node--compact & {
            flex-wrap: wrap;
            max-width: 100%;
        }
    }

    &-subject {
        flex: 0 1 auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &-link {
        color: var(--body-color);
    }

    &-small {
        font-size: 0.875rem;
    }

    &-extra-small {
        font-size: 0.75rem;
    }

    &-toggle {
        flex: none;
        padding: 0 0.175rem;
        margin-right: 0.5rem;
    }

    &-timestamp {
        flex: none;
        white-space: nowrap;
        margin-bottom: -0.125rem;
    }

    &-body {
        font-size: 0.75rem;
        color: var(--text-muted);
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        overflow: visible;
        max-width: 85%;
        white-space: pre-wrap;
        padding-left: 0.34375rem;
    }
}

.actions {
    flex: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.oid {
    /* Fix vertical alignment of code text relative to the icon in the adjacent button. */
    display: block;
    /* stylelint-disable-next-line declaration-property-unit-allowed-list */
    margin-top: 2px;
    min-width: 1.85rem;
}

.sha-and-parents {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: unset;

    &-sha {
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        margin: 0;
        margin-left: 0.25rem;
        padding: 0;
    }

    &-copy {
        font-size: 0.6875rem;
        padding: 0.25rem;

        &:not(:hover) {
            opacity: 0.8;
        }
    }

    &-label {
        margin-left: 0.25rem;
    }

    &-parent {
        margin-left: 0.25rem;
        font-weight: normal;
        font-size: 1rem;
        color: var(--link-color);
    }
}

.table-row {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: var(--list-group-color);
    text-decoration: var(--list-group-text-decoration);
    background-color: var(--list-group-bg);
    border-bottom: var(--list-group-border-width) solid var(--border-color);

    &:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    &:last-child {
        border-bottom-right-radius: inherit;
        border-bottom-left-radius: inherit;
        border-bottom: 0;
    }

    > td {
        padding: 0 0.25rem;
    }

    &-open {
        border-bottom: 0;
    }
}

.col-byline {
    min-width: 25%;

    @media (--md-breakpoint-up) {
        width: 25%;
    }

    flex: none;
    padding-right: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
}

.font-weight-normal {
    font-weight: normal;
}
