@import 'wildcard/src/global-styles/breakpoints';

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin: 0 0 0 auto;
    padding: 0;
    height: 100%;
    gap: 1rem;

    @media (--xs-breakpoint-down) {
        gap: 0.5rem;
    }
}

.action {
    display: flex;
    align-items: center;
    padding: 0;
}
