@import 'wildcard/src/global-styles/breakpoints';

.navbar {
    display: flex;
    position: relative;
    height: var(--navbar-height);
    min-height: 40px;
    width: 100%;
    border-bottom: 1px solid var(--border-color-2);
    background: var(--color-bg-1);
    padding: 0 1rem;
    align-items: center;
    white-space: nowrap;

    // This is needed so that the mobile hamburger menu is shown above the content of the homepage.
    // This is a temporary fix until we can refactor the navbar mobile menu to use Reach MenuButton and MenuList.
    z-index: 1;
}

.menu {
    display: flex;
    align-self: stretch;
}

.menu-close {
    @media (--xs-breakpoint-down) {
        display: none !important;
    }
}
.menu-button {
    color: var(--icon-color);
    display: none;
    padding: 0;
    @media (--xs-breakpoint-down) {
        display: block;
    }
}

.logo {
    display: flex;
    height: 100%;
    margin: 0;
}

.divider {
    margin: 0 1rem;
    height: 50%;
    border-left: 1px solid var(--border-color-2);
    @media (--xs-breakpoint-down) {
        margin: 0 0.5rem;
    }
}

.list {
    display: flex;
    justify-content: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    gap: 1rem;
    @media (--xs-breakpoint-down) {
        border-radius: var(--border-radius);
        border: 1px solid var(--border-color-2);
        overflow: hidden;
        width: 9.5rem;
        height: auto;
        flex-direction: column;
        top: 0;
        left: 0;
        background: var(--color-bg-1);
        z-index: 1;
        position: absolute;
        transform: translate3d(46px, 40px, 0);
        gap: 0;
    }
}
