@import 'wildcard/src/global-styles/breakpoints';

.navbar {
    display: flex;
    position: relative;
    height: var(--navbar-height);
    min-height: 40px;
    width: 100%;
    border-bottom: 1px solid var(--border-color-2);
    background: var(--color-bg-1);
    padding: 0 1rem;
    align-items: center;
    white-space: nowrap;
}

.menu {
    display: flex;
    align-self: stretch;
}

.logo {
    display: flex;
    height: 100%;
    margin: 0;
}

.divider {
    margin: 0 1rem;
    height: 50%;
    border-left: 1px solid var(--border-color-2);
    @media (--xs-breakpoint-down) {
        margin: 0 0.5rem;
    }
}

.list {
    display: flex;
    justify-content: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    gap: 1rem;
}
