.wrapper {
    isolation: isolate;
}

.menu-list {
    margin-left: -0.625rem;
}

.button {
    padding: 0;
    font-weight: normal;
    border: none;
    height: 100%;
}

.nested-item {
    padding-left: 2rem;
}
