@import 'wildcard/src/global-styles/breakpoints';

.item {
    display: flex;
    align-items: stretch;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    @media (--xs-breakpoint-down) {
        margin: 0;
    }

    &-focusable {
        &:focus-visible {
            outline: none;
            box-shadow: none;

            .item-focusable-content,
            .link-content {
                outline: 1px solid transparent;
                border-radius: var(--border-radius);
                box-shadow: 0 0 0 2px var(--primary-2);
                padding: 0.125rem;
                margin: -0.125rem;
            }

            @media (--xs-breakpoint-down) {
                margin: 0;
                border: 0;
            }
        }
    }
}

.item-focusable-content {
    display: flex;
    align-items: center;
}

.link {
    outline-offset: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--body-color);
    border: none;
    border-radius: 0;
    transition: none;
    font-weight: 400;
    border-bottom: 2px solid transparent; // To prevent jumping when active/hovered
    border-top: 2px solid transparent; // To center the text vertically

    &:hover {
        text-decoration: none;
    }

    @extend .item-focusable;

    &:hover:not(.active):not([aria-disabled='true']) {
        border-bottom: 2px solid var(--border-color-2);

        @media (--xs-breakpoint-down) {
            margin: 0;
            border: 0;
            background-color: var(--link-color);

            .link-content {
                margin-bottom: 0;
            }
            .icon,
            .text {
                color: var(--light-text);
            }
        }
    }

    .link-content {
        display: inline-flex;
        align-items: center;
    }

    @media (--xs-breakpoint-down) {
        padding: 0.75rem 0.625rem;
        flex: 1;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.active {
    border-bottom: 2px solid var(--brand-secondary);

    &:focus-visible {
        margin-top: 0.125rem;
        @media (--xs-breakpoint-down) {
            margin-top: 0;
        }
    }

    @media (--xs-breakpoint-down) {
        border: 0;
        background-color: var(--link-color);
    }

    .text,
    .icon {
        @media (--xs-breakpoint-down) {
            color: var(--light-text);
        }
    }
}

.icon {
    color: var(--header-icon-color);
    border-radius: 3px;

    @media (--md-breakpoint-down) {
        color: var(--icon-color);
    }

    @media (--xs-breakpoint-down) {
        color: var(--body-color);
    }
}

.icon-included {
    display: inline-flex;
    margin-left: 0.25rem;
    white-space: nowrap;

    &.is-compact {
        display: none;
    }
}

.text {
    color: var(--body-color);
}
