@value colors "sourcegraph/components/styles/_colors.css";
@value vars "sourcegraph/components/styles/_vars.css";
@value base "sourcegraph/components/styles/_base.css";
@value modal "sourcegraph/components/styles/modal.css";

@value desktop_base_size, mobile_base_size, media_sm from vars;
@value c_cool_gray from colors;

/*
Stick footer at bottom even if the page content doesn't take up
the entire viewport height.
*/
.main_container {
	display: flex;
	height: 100vh;
	flex-direction: column;
	width: 100%;
}
.main_content {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: scroll;
}

.breadcrumb {
	composes: bb ph3 pv2 from base;
	composes: b__cool_pale_gray_8 bg_white from colors;
	flex-shrink: 0;
}

.main_container_homepage {
	composes: main_container;
}

/* Responsive type scaling */

body {
	overflow-y: hidden;
}

html {
	color: c_cool_gray;
	font-size: desktop_base_size;
	line-height: 1.6;
}

@media only screen and media_sm {
	html {
		font-size: mobile_base_size;
	}
}

.inner_main_content {
    flex: 1;
}