.link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card {
    border-radius: 6px !important;
}

.divider {
    width: 100%;
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
}

.cody-icon {
    margin-left: -15px;
}
