@import 'wildcard/src/global-styles/breakpoints';

.container {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    .footer {
        border-top: 1px solid var(--border-color);
        padding: 0.5rem 1.25rem;
        flex: 0 0 auto;
        color: var(--text-muted);
    }

    .suggestions {
        overflow-y: auto;
        margin: 0 var(--suggestions-padding) var(--suggestions-padding);

        // Don't render the suggestions panel if we don't have any suggestions
        // in order to avoid extra paddings appearance
        &:empty {
            display: none;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            flex: 1;
        }

        [role='rowgroup'] {
            border-bottom: 1px solid var(--border-color);
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;

            &:first-of-type {
                padding-top: 0;
            }

            &:last-of-type {
                border: none;
                padding-bottom: 0;
            }

            // group header
            [role='presentation'] {
                color: var(--text-muted);
                font-size: 0.75rem;
                font-weight: 500;
                margin-bottom: 0.25rem;
                padding: 0 0.5rem;
            }

            /*
                Layout of a row
                The icon is always top aligned next to the label.
                Label and description can wrap around if necessary, in which case the
                action labels are centered.
                On small screens the action labels are shown on a separate row.

                Normal:
                       ┌── inner-row ────────────────────────┐
                       │┌────────────────────────┐           │
               ┌──────┐││┌───────┐┌─────────────┐│┌─────────┐│
               │ Icon ││││ Label ││ Description │││ Actions ││
               └──────┘││└───────┘└─────────────┘│└─────────┘│
                       │└────────────────────────┘           │
                       └─────────────────────────────────────┘

                Wrapped description:
                       ┌─── inner-row ───────────────────────┐
                       │┌────────────────────────┐           │
               ┌──────┐││┌──────────────────────┐│           │
               │ Icon ││││ Label                ││┌─────────┐│
               └──────┘││└──────────────────────┘││ Actions ││
                       ││┌──────────────────────┐│└─────────┘│
                       │││ Description          ││           │
                       ││└──────────────────────┘│           │
                       │└────────────────────────┘           │
                       └─────────────────────────────────────┘

                Mobile:
                       ┌─── inner-row ───────────────────────┐
                       │┌───────────────────────────────────┐│
               ┌──────┐││┌─────────────────────────────────┐││
               │ Icon ││││ Label                           │││
               └──────┘││└─────────────────────────────────┘││
                       ││┌─────────────────────────────────┐││
                       │││ Description                     │││
                       ││└─────────────────────────────────┘││
                       │└───────────────────────────────────┘│
                       │┌───────────────────────────────────┐│
                       ││ Actions                           ││
                       │└───────────────────────────────────┘│
                       └─────────────────────────────────────┘

            */
            [role='row'] {
                display: flex;
                align-items: center;
                padding: 0.25rem 0.5rem;
                border-radius: var(--border-radius);
                font-family: var(--code-font-family);
                font-size: 0.75rem;
                min-height: 1.5rem;

                &[aria-selected='true'] {
                    background-color: var(--subtle-bg);
                    border-radius: 4px;
                }

                &:hover {
                    background-color: var(--color-bg-2);
                    cursor: pointer;
                }

                // Used to make label and actions wrappable
                .inner-row {
                    display: flex;
                    flex: 1;
                    align-items: center;

                    @media (--xs-breakpoint-down) {
                        flex-direction: column;
                        align-items: start;
                        gap: 0.25rem;
                    }
                }

                .label {
                    margin-right: 0.5rem;
                }

                .match {
                    font-weight: bold;
                }

                .description {
                    color: var(--input-placeholder-color);
                }

                .note {
                    font-size: 0.75rem;
                    margin-left: auto;
                    color: var(--text-muted);
                    font-family: var(--font-family-base);
                    display: flex;
                    white-space: nowrap;

                    @media (--xs-breakpoint-down) {
                        margin-left: 0;
                    }

                    > [role='gridcell'] {
                        padding: 0 0.5rem;

                        &:hover {
                            text-decoration: underline;
                        }

                        + [role='gridcell'] {
                            border-left: 1px solid var(--border-color-2);
                        }

                        @media (--xs-breakpoint-down) {
                            &:first-of-type {
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.filter-option {
    font-family: var(--code-font-family);
    font-size: 0.75rem;

    .separator {
        color: var(--search-filter-keyword-color);
    }
}

.icon {
    color: var(--icon-color);
}
