.header {
    margin-top: 0.75rem;
}

.tabs {
    background-color: transparent;
}

.footer {
    border-top: 1px solid var(--border-color);
    padding-top: 0.75rem;
    margin: 0;
}

.filter-form {
    margin-bottom: 0.75rem;
}

.list {
    list-style-type: none;
    margin: 0 -0.125rem;
    padding: 0.125rem;
    max-height: 18rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.item {
    &.active {
        background-color: var(--color-bg-3);
    }

    &.active,
    &:hover {
        .collapse-button {
            @extend .collapse-button, :focus;
            transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
        }
    }

    button {
        font-size: inherit;
        text-align: left;
    }
}

.description {
    background-color: var(--color-bg-1);
    border-top: 1px solid #dbe2f0;
    border-bottom: 1px solid #dbe2f0;
    margin-top: 0.25rem;
    padding: 0.5rem 0.75rem;

    button {
        font-size: inherit;
        text-align: left;
    }

    > * {
        margin-bottom: 0.5rem;
    }

    > :last-child {
        margin-bottom: 0;
    }

    p > code {
        white-space: break-spaces;
    }

    ul {
        // margin-bottom: 1rem is used to have the same bottom spacing as the p
        // elements that (likely) surround this list (the description consists
        // of mainly Markdown)
        margin-bottom: 1rem;
        padding-left: 1rem;
        list-style-type: square;
    }
}

.placeholder {
    font-style: italic;
    color: var(--text-muted);
}

.collapse-button {
    border: none;
    margin: 0;
    padding: 0 0.5rem;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;

    &:focus {
        display: inline-block;
        width: 2rem;
        opacity: 1;
    }
}

.examples {
    white-space: break-spaces;
}
