.keybind {
    background-color: var(--color-bg-2);
    border: 1px solid var(--secondary);
    border-radius: 0.2rem;
    box-shadow: 0px 1px var(--icon-muted);
    font-size: 0.7rem;
    margin-left: 0.5rem;

    color: var(--gray-06);
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    text-decoration: none;
}

.keybind:hover {
    text-decoration: none;
    background-color: var(--color-bg-3);
}

.with-cursor {
    cursor: pointer;
}
