---
version: 1
interactions:
- request:
    body: '{"title":"This title should never change"}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/37741563/merge_requests/1
    method: PUT
  response:
    body: '{"message":"403 Forbidden"}'
    headers:
      Content-Type:
      - application/json
      Gitlab-Lb:
      - fe-13-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-c
    status: 403 Forbidden
    code: 403
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/37741563
    method: GET
  response:
    body: '{"id":37741563,"description":"This repository is archived. Mind the spiderwebs.","name":"archived","name_with_namespace":"Adam
      Harvey / archived","path":"archived","path_with_namespace":"LawnGnome/archived","created_at":"2022-07-11T19:02:11.613Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:LawnGnome/archived.git","http_url_to_repo":"https://gitlab.com/LawnGnome/archived.git","web_url":"https://gitlab.com/LawnGnome/archived","readme_url":"https://gitlab.com/LawnGnome/archived/-/blob/main/README.md","avatar_url":null,"forks_count":0,"star_count":0,"last_activity_at":"2022-07-11T19:02:11.613Z","namespace":{"id":2976484,"name":"Adam
      Harvey","path":"LawnGnome","kind":"user","full_path":"LawnGnome","parent_id":null,"avatar_url":"https://secure.gravatar.com/avatar/36d8c4d60eaed7139aa0ab88378590c0?s=80\u0026d=identicon","web_url":"https://gitlab.com/LawnGnome"},"container_registry_image_prefix":"registry.gitlab.com/lawngnome/archived","_links":{"self":"https://gitlab.com/api/v4/projects/37741563","issues":"https://gitlab.com/api/v4/projects/37741563/issues","merge_requests":"https://gitlab.com/api/v4/projects/37741563/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/37741563/repository/branches","labels":"https://gitlab.com/api/v4/projects/37741563/labels","events":"https://gitlab.com/api/v4/projects/37741563/events","members":"https://gitlab.com/api/v4/projects/37741563/members","cluster_agents":"https://gitlab.com/api/v4/projects/37741563/cluster_agents"},"packages_enabled":true,"empty_repo":false,"archived":true,"visibility":"public","owner":{"id":2383551,"username":"LawnGnome","name":"Adam
      Harvey","state":"active","avatar_url":"https://secure.gravatar.com/avatar/36d8c4d60eaed7139aa0ab88378590c0?s=80\u0026d=identicon","web_url":"https://gitlab.com/LawnGnome"},"resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2022-07-12T19:02:11.636Z"},"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"container_registry_enabled":true,"service_desk_enabled":true,"can_create_merge_request_in":false,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"enabled","operations_access_level":"enabled","analytics_access_level":"enabled","container_registry_access_level":"enabled","security_and_compliance_access_level":"private","emails_disabled":null,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":2383551,"import_url":"https://github.com/sourcegraph-testing/archived.git","import_type":"github","import_status":"finished","import_error":null,"open_issues_count":0,"runners_token":"GR1348941ycoBuYqoDWUatbvWMS2v","ci_default_git_depth":20,"ci_forward_deployment_enabled":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_opt_in_jwt":false,"public_jobs":true,"build_git_strategy":"fetch","build_timeout":3600,"auto_cancel_pending_pipelines":"enabled","build_coverage_regex":null,"ci_config_path":"","shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"restrict_user_defined_variables":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","autoclose_referenced_issues":true,"keep_latest_artifact":true,"runner_token_expiration_interval":null,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":true,"compliance_frameworks":[],"permissions":{"project_access":{"access_level":50,"notification_level":3},"group_access":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f701f776b3d33c7ae130c3b8d93d6d7e"
      Gitlab-Lb:
      - fe-13-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-c
    status: 200 OK
    code: 200
    duration: ""
