---
version: 1
interactions:
- request:
    body: '{"query":"\nquery validateToken {\n\tcurrentUser {\n\t\tusername\n\t}\n}\n","operationName":"validateToken"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://gitlab.com/api/graphql
    method: POST
  response:
    body: '{"data":{"currentUser":{"username":"LawnGnome"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"510062628e07744ce5658488d31e4c06"
      Gitlab-Lb:
      - fe-20-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-d
    status: 200 OK
    code: 200
    duration: ""
