---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/oauth/token/info
    method: GET
  response:
    body: '{"resource_owner_id":7799956,"scope":["read_user","read_api","api"],"expires_in":null,"application":{"uid":"a2148736697e8d87a22ccf0d29fd29f60f40538fcfd26f75326c89f9389c3e43"},"created_at":1623838922,"scopes":["read_user","read_api","api"],"expires_in_seconds":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6e32fb070d83fd277a1927005e85d785"
      Gitlab-Lb:
      - fe-04-lb-gprd
      Gitlab-Sv:
      - web-16-sv-gprd
    status: 200 OK
    code: 200
    duration: ""
