---
version: 1
interactions:
- request:
    body: '{"query":"\nquery version {\n\tmetadata {\n\t\tversion\n\t}\n}\n","operationName":"version"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://gitlab.com/api/graphql
    method: POST
  response:
    body: '{"data":{"metadata":{"version":"15.7.0-pre"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f181f715544ed2825ac6b3103a70a93"
      Gitlab-Lb:
      - fe-28-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-c
    status: 200 OK
    code: 200
    duration: ""
