.repository-commit-page {
    overflow-y: auto;
    position: relative; // For HoverOverlay positioning

    .git-commit-node {
        padding: 0;
    }
    &__card {
        padding-top: 0;
    }
}
