.completion-widget-dropdown {
    cursor: pointer;
    border: 1px solid #dfe2e5;
    box-shadow: 0 0 5px rgba(27, 31, 35, 0.1);

    &__item {
        border-bottom: 1px solid #dfe2e5;
        &--selected {
            color: #ffffff !important;
        }
    }

    &__item:last-child {
        border-bottom: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
}
