.glyph-link:focus .glyph {
    stroke-width: 3;
    // Unfortunately we can't use r styling right now as it's part of SVG 2 spec
    // and for now we use js to track focus on link and change radius of line point with focus
    // but when svg 2 will have broad browser support js implementation on focus should
    // be removed and instead we should control the radius of points using the r attribute styling approach.
    // r: 6;
}

.glyph {
    stroke-width: 2;
    fill: var(--body-bg);

    &--active {
        stroke-width: 3;
    }
}
