.content {
    &--with-cursor {
        cursor: pointer;
    }
}

// We are not able to add our own classnames for grid lines elements
// because of that we have to use nested statements below

.grid-line {
    line {
        stroke: var(--border-color-2);
        stroke-width: 1;
    }
}

.axis-line {
    stroke: var(--border-color);
    stroke-width: 1;

    &--vertical {
        // Hide line axis visually and hide from voice over
        stroke-width: 0;
        display: none;
    }
}

// We are not able to add our own classnames for tick line and text elements
// because of that we have to use nested statements below

.axis-tick {
    // small tick line
    line {
        stroke: var(--border-color);
        stroke-width: 1;
    }

    // tick label
    text {
        fill: var(--text-muted);
        font-size: 0.75rem;
        font-weight: 400;
    }

    &--vertical {
        line {
            // Hide line ticks visually and hide them from voice over
            stroke-width: 0;
            display: none;
        }
    }
}

/*
    Tooltip element from visx package is adding some inline styles by himself.
    There is no way to override them from css unless !important statement.
*/
.tooltip {
    box-shadow: var(--box-shadow) !important;
    border: 1px solid var(--border-color);
    color: var(--body-color) !important;
    background: var(--color-bg-1) !important;

    padding: 0.5rem !important;
}
