.status {
    width: 1.5rem;
    padding-right: 0.5rem;
}

.name {
    button {
        text-align: left;
        border: none;
        display: flex;
        padding: 0;
        margin: 0;
    }

    h4 {
        line-height: var(--icon-inline-md-size);
        overflow-wrap: anywhere;
        margin: 0;
    }
}

.path {
    display: block;
    overflow-wrap: anywhere;
    color: var(--text-muted);
    padding-top: 0.25rem;
}
