.accept-invite-page {
    .icon, .icon svg {
        display: flex;
        width: 1.5rem;
        height: 1.5rem;
        stroke: currentColor;
    }

    &__actions {
        display: flex;
        align-items: center;
    }
}
