// This file defines all the Svelte overrides that eventually get propogated into the global Wildcard JS design system.
// Treat this file as almost a set of recommendations to what we may want to shift all of Wildcard to use.

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-title);
}

body {
    --font-family-base: 'Inter Variable', sans-serif;
    --monospace-font-family: 'Roboto Mono Variable', monospace;
    --code-font-family: var(--monospace-font-family);
    --code-line-height: 1.54;
    --font-size-lg: 1rem;
    --font-size-base: 0.9375rem;
    --font-size-small: 0.875rem;
    --font-size-xs: 0.8125rem;
    --code-font-size: 13px;
    --border-radius: 4px;

    input::placeholder {
        color: var(--text-muted);
    }
}

small {
    font-size: var(--font-size-xs);
}

label {
    margin-bottom: 0;
}

// Theme Light
// Apparently ::backdrop element doesn't support CSS variable if they
// are defined only on the root element, we have to define them for ::backdrop
// pseudo selector as well
.theme-light,
.theme-light ::backdrop {
    // Colors
    --color-bg-1: var(--white);
    --text-body: var(--gray-08);
    --search-result-header-bg: #eef2f5;
    --line-number-color: var(--gray-06);
    --code-bg: var(--white);
    --modal-bg: rgba(219, 226, 240, 0.5);
    --code-selection-bg: rgba(231, 238, 250, 0.8);
    --fuzzy-finder-backdrop: rgba(255, 255, 255, 0.96);

    // Shadows
    --sidebar-shadow: 0 79px 22px 0 rgba(30, 4, 47, 0), 0 51px 20px 0 rgba(30, 4, 47, 0.01),
        0 29px 17px 0 rgba(30, 4, 47, 0.02), 0 13px 13px 0 rgba(30, 4, 47, 0.03), 0 3px 7px 0 rgba(30, 4, 47, 0.04);
    --fileheader-shadow: 0 6px 2px 0 rgba(0, 0, 0, 0), 0 4px 2px 0 rgba(0, 0, 0, 0.01), 0 2px 1px 0 rgba(0, 0, 0, 0.02),
        0 1px 1px 0 rgba(0, 0, 0, 0.03), 0 0 1px 0 rgba(0, 0, 0, 0.04);
    --blame-header-shadow: 0 16px 5px 0 rgba(0, 0, 0, 0), 0 11px 4px 0 rgba(0, 0, 0, 0.01),
        0 6px 4px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.03), 0 1px 1px 0 rgba(0, 0, 0, 0.04);
    --bottom-panel-shadow: 0 -19px 5px 0 rgba(1, 6, 12, 0), 0 -12px 5px 0 rgba(1, 6, 12, 0),
        0 -7px 4px 0 rgba(1, 6, 12, 0.01), 0 -3px 3px 0 rgba(1, 6, 12, 0.02), 0 -1px 2px 0 rgba(1, 6, 12, 0.02);
    --bottom-panel-open-shadow: 0 -50px 14px 0 rgba(1, 6, 12, 0), 0 -32px 13px 0 rgba(1, 6, 12, 0.01),
        0 -18px 11px 0 rgba(1, 6, 12, 0.02), 0 -8px 8px 0 rgba(1, 6, 12, 0.03), 0 -2px 4px 0 rgba(1, 6, 12, 0.04);
    --popover-shadow: 0 174px 49px 0 rgba(0, 0, 0, 0), 0 112px 45px 0 rgba(0, 0, 0, 0.01),
        0 63px 38px 0 rgba(0, 0, 0, 0.02), 0 28px 28px 0 rgba(0, 0, 0, 0.03), 0 7px 15px 0 rgba(0, 0, 0, 0.04);
    --fuzzy-finder-shadow: 0 186px 52px 0 rgba(0, 0, 0, 0), 0 119px 48px 0 rgba(0, 0, 0, 0.01),
        0 67px 40px 0 rgba(0, 0, 0, 0.02), 0 30px 30px 0 rgba(0, 0, 0, 0.03), 0 7px 16px 0 rgba(0, 0, 0, 0.04);
}

// Theme Dark
.theme-dark,
.theme-dark ::backdrop {
    // Colors
    --color-bg-1: var(--gray-12);
    --text-body: var(--gray-05);
    // TODO: `search-result-header-bg` needs to be converted to something that works in the design system colors.
    --search-result-header-bg: #1a1e2b;
    --line-number-color: var(--gray-07);
    --code-selection-bg: var(--color-bg-2);
    --code-bg: var(--gray-12);
    --modal-bg: rgba(52, 58, 77, 0.5);
    --fuzzy-finder-backdrop: rgba(20, 23, 31, 0.96);

    // Shadows
    --sidebar-shadow: 0 240px 80px 0 rgba(12, 1, 19, 0.01), 0 160px 80px 0 rgba(12, 1, 19, 0.02),
        0 120px 60px 0 rgba(12, 1, 19, 0.08), 0 48px 24px 0 rgba(12, 1, 19, 0.16), 0 12px 28px 0 rgba(12, 1, 19, 0.24);
    --blame-header-shadow: 0 25px 7px 0 rgba(0, 0, 0, 0), 0 16px 6px 0 rgba(0, 0, 0, 0.04),
        0 9px 5px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    --fileheader-shadow: 0 6px 2px 0 rgba(15, 2, 24, 0.01), 0 4px 2px 0 rgba(15, 2, 24, 0.05),
        0 2px 1px 0 rgba(15, 2, 24, 0.16), 0 1px 1px 0 rgba(15, 2, 24, 0.27), 0 0 1px 0 rgba(15, 2, 24, 0.31);
    --bottom-panel-shadow: 0 0 4px 0 rgba(1, 6, 12, 0.01), 0 -8px 8px 0 rgba(1, 6, 12, 0.04),
        0 -12px 6px 0 rgba(1, 6, 12, 0.08), 0 -4px 8px 0 rgba(1, 6, 12, 0.16), 0 -2px 4px 0 rgba(1, 6, 12, 0.32);
    --bottom-panel-open-shadow: 0 -32px 12px 0 rgba(0, 0, 0, 0.02), 0 -24px 12px 0 rgba(0, 0, 0, 0.04),
        0 -16px 8px 0 rgba(0, 0, 0, 0.08), 0 -8px 4px 0 rgba(0, 0, 0, 0.16), 0 -2px 4px 0 rgba(0, 0, 0, 0.32);
    --popover-shadow: 0 174px 49px 0 rgba(0, 0, 0, 0.01), 0 112px 45px 0 rgba(0, 0, 0, 0.05),
        0 63px 38px 0 rgba(0, 0, 0, 0.16), 0 28px 28px 0 rgba(0, 0, 0, 0.27), 0 7px 15px 0 rgba(0, 0, 0, 0.31);
    --fuzzy-finder-shadow: 0 186px 52px 0 rgba(0, 0, 0, 0.01), 0 119px 48px 0 rgba(0, 0, 0, 0.03),
        0 67px 40px 0 rgba(0, 0, 0, 0.06), 0 30px 30px 0 rgba(0, 0, 0, 0.12), 0 7px 16px 0 rgba(0, 0, 0, 0.24);
}
