// This file defines all the Svelte overrides that eventually get propogated into the global Wildcard JS design system.

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

// Shadows
.theme-light {
    --sidebar-shadow: 0px 79px 22px 0px rgba(30, 4, 47, 0.00), 0px 51px 20px 0px rgba(30, 4, 47, 0.01), 0px 29px 17px 0px rgba(30, 4, 47, 0.02), 0px 13px 13px 0px rgba(30, 4, 47, 0.03), 0px 3px 7px 0px rgba(30, 4, 47, 0.04);
    --fileheader-shadow: 0px 6px 2px 0px rgba(0, 0, 0, 0.00), 0px 4px 2px 0px rgba(0, 0, 0, 0.01), 0px 2px 1px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0.03), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
    --bottom-panel-shadow: 0px -37px 10px 0px rgba(1, 6, 12, 0.00), 0px -24px 10px 0px rgba(1, 6, 12, 0.01), 0px -13px 8px 0px rgba(1, 6, 12, 0.02), 0px -6px 6px 0px rgba(1, 6, 12, 0.03), 0px -1px 3px 0px rgba(1, 6, 12, 0.04);
}

.theme-dark {
    --sidebar-shadow: 0px 318px 89px 0px rgba(12, 1, 19, 0.01), 0px 203px 81px 0px rgba(12, 1, 19, 0.05), 0px 114px 69px 0px rgba(12, 1, 19, 0.16), 0px 51px 51px 0px rgba(12, 1, 19, 0.27), 0px 13px 28px 0px rgba(12, 1, 19, 0.31);
    --fileheader-shadow: 0px 6px 2px 0px rgba(15, 2, 24, 0.01), 0px 4px 2px 0px rgba(15, 2, 24, 0.05), 0px 2px 1px 0px rgba(15, 2, 24, 0.16), 0px 1px 1px 0px rgba(15, 2, 24, 0.27), 0px 0px 1px 0px rgba(15, 2, 24, 0.31);
    --bottom-panel-shadow: 0px -37px 10px 0px rgba(1, 6, 12, 0.01), 0px -24px 10px 0px rgba(1, 6, 12, 0.05), 0px -13px 8px 0px rgba(1, 6, 12, 0.16), 0px -6px 6px 0px rgba(1, 6, 12, 0.27), 0px -1px 3px 0px rgba(1, 6, 12, 0.31);
}
