.add-credential-modal {
    &__container {
        max-height: 40rem;
        overflow-y: auto;
    }

    &__step-ruler {
        height: 0.125rem;
        width: 100%;
        border-radius: 0.125rem;
        &--purple {
            background-color: var(--logo-purple);
        }
        &--blue {
            background-color: var(--logo-blue);
        }
        &--gray {
            background-color: var(--border-color);
        }
    }
}
