.code-host-connection-node {
    :global(.theme-redesign) & {
        &__container {
            border: 0;
            padding: 0;
            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
            + .code-host-connection-node__container {
                border-top: 1px solid var(--border-color);
                padding-top: 0.5rem;
            }
        }
    }
}
