---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/repos?limit=1000&visibility=private
    method: GET
  response:
    body: '{"size":1000,"limit":1000,"isLastPage":false,"values":[{"slug":"ijt-repo-testing-sg-3.6","id":10052,"name":"ijt-repo-testing-sg-3.6","hierarchyId":"41b740db15abc10cb3b9","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"IJ","id":24,"name":"ijt-project-testing-sg-3-6","description":"throwaway","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/IJ"}]}},"public":false,"archived":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/ij/ijt-repo-testing-sg-3.6.git","name":"http"},{"href":"ssh://git@bitbucket.sgdev.org:7999/ij/ijt-repo-testing-sg-3.6.git","name":"ssh"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/IJ/repos/ijt-repo-testing-sg-3.6/browse"}]}},{"slug":"notion-blog","id":16971,"name":"notion-blog","hierarchyId":"9269db018abc664f95b4","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"IJ","id":24,"name":"ijt-project-te[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/repos?limit=1000&start=202834&visibility=private
    method: GET
  response:
    body: '{"size":631,"limit":1000,"isLastPage":true,"values":[{"slug":"public-repo3691","id":9645,"name":"public-repo3691","hierarchyId":"db941940f7a658a893de","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":false,"project":{"key":"PUBL[...]
