:root {
    --tooltip-font-size: 0.75rem; // 12px
    --tooltip-line-height: 1.02rem; // 16.32px / 16px, per Figma
    --tooltip-max-width: 256px;
    --tooltip-color: var(--light-text);
    --tooltip-border-radius: var(--border-radius);
    --tooltip-padding-y: 0.25rem;
    --tooltip-padding-x: 0.5rem;
    --tooltip-margin: 0;
}

.tooltip-content {
    font-size: var(--tooltip-font-size);
    line-height: var(--tooltip-line-height);
    max-width: var(--tooltip-max-width);
    background-color: var(--tooltip-bg);
    border-radius: var(--tooltip-border-radius);
    color: var(--tooltip-color);
    padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
    user-select: text;
    word-wrap: break-word;
    border: none;
    min-width: 0;
}

.tooltip-arrow {
    --tail-background: var(--tooltip-bg);
    --tail-border: none;

    // Override tail border translation shift due to wrong floor calculations
    // that introduces slightly wrong but noticeable visual regression in case of
    // tooltip tail UI.
    // see https://github.com/sourcegraph/sourcegraph/pull/43336#pullrequestreview-1157228460
    &[data-side='top'] {
        top: -2px;
    }

    &[data-side='left'] {
        left: -2px;
    }

    &[data-side='right'] {
        left: 2px;
    }

    &[data-side='bottom'] {
        top: 2px;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////
// The styles below are all needed to properly support and style tooltips on disabled triggers.
/////////////////////////////////////////////////////////////////////////////////////////////////

.tooltip-wrapper {
    display: inline-flex;
    user-select: text;
}

.tooltip-trigger-container {
    display: inline-block;
    position: relative;
}

.tooltip-trigger-disabled-overlay {
    cursor: not-allowed;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999999;
}
