:root {
    --blob-status-bar-height: 2rem;
    // Used to calculate status bar `bottom` along with scrollbar width.
    --blob-status-bar-vertical-gap: 1rem;
    // Used to calculate status bar `right` along with scrollbar width.
    --blob-status-bar-horizontal-gap: 0.5rem;
}

.blob-status-bar-container {
    position: relative;
}

.content {
    isolation: isolate;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;

    background-color: var(--body-bg);

    // Add border to repo revision container content
    // but enable variable margin-bottom (by setting it on child div)
    // without having to repeat border styles.
    > div:first-of-type {
        border: 1px solid var(--border-color);
        border-top-left-radius: 0.1875rem;
        border-top-right-radius: 0.1875rem;
        border-bottom: none;
    }
}
