.title {
    margin-bottom: 1.5rem;
}

.input-wrapper {
    display: flex;
    margin-top: 1.5rem;
}

.form-input {
    flex-grow: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 1;
}
