.root {
    position: relative;
    width: 100%;
    display: flex;
}

.input-wrapper {
    // Spread standard input paddings in order to fix visually problem
    // with codemirror editor on the code insight creation UI pages.
    // See https://github.com/sourcegraph/sourcegraph/issues/37785
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    // Fix loading spinner layout position (since line height has non default value
    // loading layout requires layout change)
    // stylelint-disable-next-line selector-class-pattern
    :global(.cm-sg-loading-spinner-container) {
        align-self: center;
    }
}

.regex-button {
    align-self: flex-start;
    background-color: var(--input-disabled-bg);
}

.preview-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}
