---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.sgdev.org/api/v4/projects?min_access_level=20&per_page=100&simple=true&visibility=private
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Link:
      - <https://gitlab.sgdev.org/api/v4/projects?imported=false&membership=false&min_access_level=20&order_by=created_at&owned=false&page=1&per_page=100&repository_checksum_failed=false&simple=true&sort=desc&starred=false&statistics=false&visibility=private&wiki_checksum_failed=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
        rel="first", <https://gitlab.sgdev.org/api/v4/projects?imported=false&membership=false&min_access_level=20&order_by=created_at&owned=false&page=1&per_page=100&repository_checksum_failed=false&simple=true&sort=desc&starred=false&statistics=false&visibility=private&wiki_checksum_failed=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
        rel="last"
      X-Next-Page:
      - ""
      X-Page:
      - "1"
      X-Per-Page:
      - "100"
      X-Prev-Page:
      - ""
      X-Total:
      - "0"
      X-Total-Pages:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.sgdev.org/api/v4/projects?min_access_level=20&per_page=100&simple=true&visibility=internal
    method: GET
  response:
    body: '[{"id":371334,"description":"A ready-to-go template for Swift-based iOS
      development.","name":"GetSchwifty","name_with_namespace":"Petri Last / GetSchwifty","path":"getschwifty","path_with_namespace":"petri.last/getschwifty","created_at":"2023-06-29T09:26:32.021Z","default_branch":"master","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.sgdev.org:petri.last/getschwifty.git","http_url_to_repo":"https://gitlab.sgdev.org/petri.last/getschwifty.git","web_url":"https://gitlab.sgdev.org/petri.last/getschwifty","readme_url":"https://gitlab.sgdev.org/petri.last/getschwifty/-/blob/master/README.md","forks_count":0,"avatar_url":null,"star_count":0,"last_activity_at":"2023-09-11T07:38:44.207Z","namespace":{"id":106548,"name":"Petri
      Last","path":"petri.last","kind":"user","full_path":"petri.last","parent_id":null,"avatar_url":"https://secure.gravatar.com/avatar/51965a4ab94bea1eb5372f9f94f680a1?s=80\u0026d=identicon","web_url":"https://gitlab.sgdev.org/petri.last"}}]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e6076c9c08d66e209d2675c4b8a701ee"
      Link:
      - <https://gitlab.sgdev.org/api/v4/projects?imported=false&membership=false&min_access_level=20&order_by=created_at&owned=false&page=1&per_page=100&repository_checksum_failed=false&simple=true&sort=desc&starred=false&statistics=false&visibility=internal&wiki_checksum_failed=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
        rel="first", <https://gitlab.sgdev.org/api/v4/projects?imported=false&membership=false&min_access_level=20&order_by=created_at&owned=false&page=1&per_page=100&repository_checksum_failed=false&simple=true&sort=desc&starred=false&statistics=false&visibility=internal&wiki_checksum_failed=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
        rel="last"
      X-Next-Page:
      - ""
      X-Page:
      - "1"
      X-Per-Page:
      - "100"
      X-Prev-Page:
      - ""
      X-Total:
      - "1"
      X-Total-Pages:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.sgdev.org/api/v4/projects?per_page=100&simple=true&visibility=private
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Link:
      - <https://gitlab.sgdev.org/api/v4/projects?imported=false&membership=false&order_by=created_at&owned=false&page=1&per_page=100&repository_checksum_failed=false&simple=true&sort=desc&starred=false&statistics=false&visibility=private&wiki_checksum_failed=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
        rel="first", <https://gitlab.sgdev.org/api/v4/projects?imported=false&membership=false&order_by=created_at&owned=false&page=1&per_page=100&repository_checksum_failed=false&simple=true&sort=desc&starred=false&statistics=false&visibility=private&wiki_checksum_failed=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
        rel="last"
      X-Next-Page:
      - ""
      X-Page:
      - "1"
      X-Per-Page:
      - "100"
      X-Prev-Page:
      - ""
      X-Total:
      - "0"
      X-Total-Pages:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.sgdev.org/api/v4/projects?per_page=100&simple=true&visibility=internal
    method: GET
  response:
    body: '[{"id":371345,"description":null,"name":"Internal Project","name_with_namespace":"Booking-Test-Group
      / Internal Project","path":"internal-project","path_with_namespace":"booking-test-group/internal-project","created_at":"2024-02-13T17:14:18.495Z","de[...]
