@value base "sourcegraph/components/styles/_base.css";
@value layout "sourcegraph/components/styles/_layout.css";

.container_fixed { composes: containerFixed from layout; }

.actions {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.user_actions {
	composes: actions;
	composes: mv3 from base;
}

.onboarding_container {
	composes: container_fixed;
	composes: mb4 pt5 pb5 ph3 from base;
	max-width: 850px;
}

.inline_actions {
	composes: user_actions;
	display: inline-block;
}

.github_button {
	composes: mr3 mb2 from base;
	z-index: 10;
}

.action_button {
	composes: mh2 ph2 mb2 from base;
}

.action_link {
	composes: action_button;
	border-color: transparent;
}
