/* stylelint-disable */
.sourcegraph-testcase * {
    box-sizing: border-box;
}

.sourcegraph-testcase .container {
    display: flex;
    /* flex: 1; */
    position: relative;
}

.sourcegraph-testcase .left {
    max-width: 60%;
    min-width: 8rem;
    /* flex: 0; */
}

.sourcegraph-testcase .blob-container {
    flex: 1;
    min-height: 0;
    min-width: 0;
    display: flex;
}

.sourcegraph-testcase .blob {
    flex: 1;
    position: relative;
    overflow: auto;
    padding-top: 0.5rem;
    tab-size: 4;
    -moz-tab-size: 4;
    display: flex;
}

.sourcegraph-testcase code.code {
    flex: 1;
}

.sourcegraph-testcase code.code {
    font-family: SFMono-Regular, Consolas, Menlo, DejaVu Sans Mono, monospace;
    font-size: 12px;
    line-height: 16px;
}

.sourcegraph-testcase code.code {
    white-space: pre;
}

.sourcegraph-testcase code.code table {
    border-collapse: collapse;
}

.sourcegraph-testcase code.code td.line {
    text-align: right;
    padding-left: 0.5rem;
    min-width: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: top;
}

.sourcegraph-testcase td.line::before {
    content: attr(data-line);
}

.sourcegraph-testcase td.code {
    width: 100%;
    padding-left: 1rem;
    white-space: pre;
}
