.line-chart {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1;
    overflow: hidden;

    &--no-interaction {
        pointer-events: none;
    }

    &--horizontal {
        flex-direction: row;
    }
}

.content-parent-size {
    flex-grow: 1;
    min-height: 10rem;
    position: relative;
    flex-basis: 50%;
}

.legend {
    margin-top: 0.75rem;

    &--horizontal {
        margin-top: 0;
        flex-grow: 1;
        flex-shrink: 0;
        min-width: 11rem;
        margin-left: 1rem;
        max-width: 30%;
    }
}

.legend-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    // Reset ul styles (bullets, paddings, margins)
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.2;

    &--horizontal {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

.legend-item {
    display: flex;
    align-items: baseline;
    min-width: 0;
}

.legend-item-text {
    overflow: hidden;
}

.legend-mark {
    align-self: baseline;
    width: 0.5rem;
    height: 0.5rem;
    flex-shrink: 0;
    margin-right: 0.25rem;
    border-radius: 50%;
}
