.modal-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10000000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(128, 128, 128, 0.5);

    &__dialog {
        max-width: 31.25rem;
        min-height: 20rem;
        padding-top: 4.375rem;
        align-self: center;
    }

    &__close {
        float: right;
        padding: 0.625rem;
    }
}
