.container {
    font-size: 0.9rem;
    flex: 1;
    height: auto !important;
    min-height: 0.1rem;
}

.transcript-item {
    background: linear-gradient(var(--body-bg), var(--body-bg)) padding-box,
        linear-gradient(268deg, #00cbec, #a112ff) border-box;
    border-color: transparent;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-style: none !important; // Override the Transcript...last-child row
}

.transcript-action > ol {
    padding: 0;
}

.human-transcript-item {
    background: var(--input-bg);
    border-color: var(--border-color-2);
}

.transcript-item pre,
.transcript-item span > code,
.transcript-item p > code {
    /* Our syntax highlighter emits colors intended for dark backgrounds only. */
    background-color: var(--code-background);
}

.transcript-item pre {
    border-top: solid 1px var(--border-color-2);
    border-bottom: solid 1px var(--border-color-2);
    border-radius: 0 !important;
    padding: 0.625rem !important;
    background: var(--subtle-bg);
}

.transcript-item code {
    color: var(--code-background);
}

.transcript-item ul,
.transcript-item ol {
    padding-left: 2rem;
}

.main-wrapper {
    height: 100%;
    overflow: hidden;
    filter: drop-shadow(0 0 4px rgba(36, 41, 54, 0.1));
}

.scroll-button-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 1.25rem;
    bottom: 5.625rem;
    z-index: 5;
    width: 100%;
    position: sticky;
}

.scroll-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.75rem;
    height: 1.75rem;
    border-radius: 0.25rem;
    padding: 0.3125rem;

    border: var(--btn-border-width) solid var(--border-color-2);
    color: var(--body-color);
    background-color: var(--input-bg);

    cursor: pointer;
}

.input-row {
    position: sticky;
    bottom: 0;
    padding: 0.8rem 1rem;
    border-top: 1px solid var(--border-color);
    background-color: var(--input-bg);
}

.chat-input {
    padding: 0.6rem 1.5rem 0.8rem 0.8rem;
    max-height: 200px;
    border-color: var(--border-color-2);
    background-color: var(--body-bg);
    border-radius: var(--border-radius) !important;
}

.cody-sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color-2);
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    position: sticky;
    top: 0;
    background-color: var(--input-bg);
    z-index: 3;
}

.cody-sidebar {
    background-color: var(--input-bg);
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.submit-button {
    right: 0.6rem !important;
    // stylelint-disable-next-line declaration-property-unit-allowed-list
    bottom: 1px !important;
    color: var(--body-color) !important;
}

.code-blocks-copy-button {
    top: 8px !important;
    right: 8px !important;
    border: 1px solid var(--border-color-2) !important;
    border-radius: 4px !important;
    font-size: 0.8rem !important;
    // stylelint-disable-next-line declaration-property-unit-allowed-list
    padding: 1px 8px;
    background-color: var(--color-bg-2) !important;
}
