---
version: 1
interactions:
- request:
    body: |
      {"text":"test-comment"}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/automation-testing/pull-requests/59/comments?version=4
    method: POST
  response:
    body: '{"properties":{"repositoryId":10070},"id":2793,"version":0,"text":"test-comment","author":{"name":"erik","emailAddress":"erik@sourcegraph.com","id":152,"displayName":"Erik
      Seliger","active":true,"slug":"erik","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/erik"}]}},"createdDate":1618449547126,"updatedDate":1618449547126,"comments":[],"tasks":[],"severity":"NORMAL","state":"OPEN","permittedOperations":{"editable":true,"transitionable":true,"deletable":true}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/automation-testing/pull-requests/59/comments/2793?version=4
      X-Arequestid:
      - '@1MUQQ7Jx79x454561x0'
      X-Asessionid:
      - 1d1kcjr
      X-Auserid:
      - "152"
      X-Ausername:
      - erik
    status: 201 Created
    code: 201
    duration: ""
