---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/default-reviewers/1.0/projects/SOUR/repos/automation-testing/reviewers?sourceRefId=refs%2Fheads%2Ftest-pr-bbs-12&sourceRepoId=10070&targetRefId=refs%2Fheads%2Fmaster&targetRepoId=10070
    method: GET
  response:
    body: '[{"name":"erik","emailAddress":"erik@sourcegraph.com","id":152,"displayName":"Erik
      Seliger","active":true,"slug":"erik","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/erik"}]}},{"name":"thorsten","emailAddress":"thorsten@sourcegraph.com","id":104,"displayName":"thorsten","active":true,"slug":"thorsten","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/thorsten"}]}}]'
    headers:
      Content-Type:
      - application/json
      X-Arequestid:
      - '@TO58QJx717x103582x0'
      X-Asessionid:
      - m5ltrf
      X-Auserid:
      - "152"
      X-Ausername:
      - erik
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"title":"This is a test PR","description":"This is the body of a test PR","state":"OPEN","open":true,"closed":false,"fromRef":{"id":"refs/heads/test-pr-bbs-12","repository":{"id":10070,"slug":"automation-testing","project":{"key":"SOUR"}}},"toRef":{"id":"refs/heads/master","repository":{"id":10070,"slug":"automation-testing","project":{"key":"SOUR"}}},"locked":false,"reviewers":[{"user":{"name":"erik"}},{"user":{"name":"thorsten"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/automation-testing/pull-requests
    method: POST
  response:
    body: '{"id":139,"version":0,"title":"This is a test PR","description":"This is
      the body of a test PR","state":"OPEN","open":true,"closed":false,"createdDate":1619783866982,"updatedDate":1619783866982,"fromRef":{"id":"refs/heads/test-pr-bbs-12","displayId":"test-pr-bbs-12","latestCommit":"c9324a86ac324cdf48f3db3595d2dd013e43b56c","repository":{"slug":"automation-testing","id":10070,"name":"automation-testing","hierarchyId":"1c17e4711a8a022d0a9a","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SOUR","id":1,"name":"sourcegraph","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/sour/automation-testing.git","name":"http"},{"href":"ssh://git@bitbucket.sgdev.org:7999/sour/automation-testing.git","name":"ssh"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/automation-testing/browse"}]}}},"toRef":{"id":"refs/heads/master","displayId":"master","latestCommit":"db0a6e3b7bcd9963cfaa69bd3f87e04a803900ac","repository":{"slug":"automation-testing","id":10070,"name":"automation-testing","hierarchyId":"1c17e4711a8a022d0a9a","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SOUR","id":1,"name":"sourcegraph","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/sour/automation-testing.git","name":"http"},{"href":"ssh://git@bitbucket.sgdev.org:7999/sour/automation-testing.git","name":"ssh"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/automation-testing/browse"}]}}},"locked":false,"author":{"user":{"name":"erik","emailAddress":"erik@sourcegraph.com","id":152,"displayName":"Erik
      Seliger","active":true,"slug":"erik","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/erik"}]}},"role":"AUTHOR","approved":false,"status":"UNAPPROVED"},"reviewers":[{"user":{"name":"thorsten","emailAddress":"thorsten@sourcegraph.com","id":104,"displayName":"thorsten","active":true,"slug":"thorsten","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/thorsten"}]}},"role":"REVIEWER","approved":false,"status":"UNAPPROVED"}],"participants":[],"links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/automation-testing/pull-requests/139"}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/automation-testing/pull-requests/139
      X-Arequestid:
      - '@TO58QJx717x103583x0'
      X-Asessionid:
      - 1ms0048
      X-Auserid:
      - "152"
      X-Ausername:
      - erik
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/automation-testing/pull-requests/139/activities?limit=1000
    method: GET
  response:
    body: '{"size":1,"limit":500,"isLastPage":true,"values":[{"id":3892,"createdDate":1619783867010,"user":{"name":"erik","emailAddress":"erik@sourcegraph.com","id":152,"displayName":"Erik
      Seliger","active":true,"slug":"erik","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/erik"}]}},"action":"OPENED"}],"start":0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@TO58QJx717x103584x0'
      X-Asessionid:
      - 14801hl
      X-Auserid:
      - "152"
      X-Ausername:
      - erik
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/automation-testing/pull-requests/139/commits?limit=1000
    method: GET
  response:
    body: '{"values":[{"id":"c9324a86ac324cdf48f3db3595d2dd013e43b56c","displayId":"c9324a86ac3","author":{"name":"Thorsten
      Ball","emailAddress":"mrnugget@gmail.com"},"authorTimestamp":1573644034000,"committer":{"name":"Thorsten
      Ball","emailAddress":"mrnugget@gmail.com"},"committerTimestamp":1573644034000,"message":"Create
      new file","parents":[{"id":"c75943274b322ffef2230df8f8049de84ddf12c1","displayId":"c75943274b3"}]}],"size":1,"isLastPage":true,"start":0,"limit":1000,"nextPageStart":null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@TO58QJx717x103585x0'
      X-Asessionid:
      - 1wrr2j8
      X-Auserid:
      - "152"
      X-Ausername:
      - erik
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/build-status/1.0/commits/c9324a86ac324cdf48f3db3595d2dd013e43b56c?limit=1000
    method: GET
  response:
    body: '{"size":1,"limit":500,"isLastPage":true,"values":[{"state":"INPROGRESS","key":"thekey","name":"thename","url":"http://example.com","description":"the
      description","dateAdded":1581510032840}],"start":0}'
    headers:
      Content-Type:
      - application/json
      X-Arequestid:
      - '@TO58QJx717x103586x0'
      X-Asessionid:
      - 14mayqi
      X-Auserid:
      - "152"
      X-Ausername:
      - erik
    status: 200 OK
    code: 200
    duration: ""
