---
version: 1
interactions:
- request:
    body: '{"query":"\nfragment actor on Actor {\n  avatarUrl\n  login\n  url\n}\n\nfragment\nreview on PullRequestReview {\n  databaseId\n  author {\n    ...actor\n  }\n  authorAssociation\n  body\n  state\n  url\n  createdAt\n  updatedAt\n  commit\n{\n    ...commit\n  }\n  includesCreatedEdit\n}\n\nfragment pr on PullRequest\n{\n  id\n  title\n  body\n  state\n  url\n  number\n  createdAt\n  updatedAt\n  headRefOid\n  baseRefOid\n  headRefName\n  baseRefName\n  author\n{\n    ...actor\n  }\n}\nmutation\tCreatePullRequest($input:CreatePullRequestInput!)\n{\n  createPullRequest(input:$input) {\n    pullRequest {\n      ... pr\n    }\n  }\n}","variables":{"input":{"repositoryId":"MDEwOlJlcG9zaXRvcnkyMjExNDc1MTM=","baseRefName":"master","headRefName":"always-open-pr","title":"This\nis a test PR","body":"This is the description of the test PR"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"createPullRequest":{"pullRequest":null}},"errors":[{"type":"UNPROCESSABLE","path":["createPullRequest"],"locations":[{"line":269,"column":3}],"message":"A
      pull request already exists for sourcegraph:always-open-pr."}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.antiope-preview; format=json
      X-Oauth-Scopes:
      - read:org, repo
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"query":"\n\nfragment\nactor on Actor {\n  avatarUrl\n  login\n  url\n}\n\nfragment\nrepo on Repository {\n  id\n  name\n  owner {\n    login\n  }\n}\n\nfragment\npr on PullRequest {\n  id\n  title\n  body\n  state\n  url\n  number\n  createdAt\n  updatedAt\n  headRefOid\n  baseRefOid\n  headRefName\n  baseRefName\n  reviewDecision\n  isDraft\n  author\n{\n    ...actor\n  }\n  baseRepository {\n    ...repo\n  }\n  headRepository\n{\n    ...repo\n  }\n}\nquery {\nrepository(owner:\n\"sourcegraph\", name: \"automation-testing\") {\npullRequests(baseRefName:\n\"master\", headRefName: \"always-open-pr\", first: 1, states: OPEN) { \nnodes{\n... pr }\n}\n}\n}","variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{  "data": {    "repository": {      "pullRequests": {        "nodes": [          {            "id": "MDExOlB1bGxSZXF1ZXN0MzM5NzUyNDQy",            "title": "This is a test PR that is always open (keep it open!)",            "body": "Feel free to ignore this. This is a test PR that is always open and is sometimes updated.",            "state": "OPEN",            "url": "https://github.com/sourcegraph/automation-testing/pull/1",            "number": 1,            "createdAt": "2019-11-12T06:40:21Z",            "updatedAt": "2023-02-03T20:42:20Z",            "headRefOid": "37406e7dfa4466b80d1da183d6477aac16b1e58c",            "baseRefOid": "c75943274b322ffef2230df8f8049de84ddf12c1",            "headRefName": "always-open-pr",            "baseRefName": "master",            "reviewDecision": "REVIEW_REQUIRED",            "isDraft": false,            "author": {              "avatarUrl": "https://avatars3.githubusercontent.com/u/1185253?v=4",              "login": "mrnugget",              "url": "https://github.com/mrnugget"            },            "baseRepository": {              "id": "MDEwOlJlcG9zaXRvcnkyMjExNDc1MTM=",              "name": "automation-testing",              "owner": {                "login": "sourcegraph"              }            },            "headRepository": {              "id": "MDEwOlJlcG9zaXRvcnkyMjExNDc1MTM=",              "name": "automation-testing",              "owner": {                "login": "sourcegraph"              }            }          }        ]      }    }  }}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.antiope-preview; format=json
      X-Oauth-Scopes:
      - read:org, repo
    status: 200 OK
    code: 200
    duration: ""
