---
version: 1
interactions:
- request:
    body: '{"body":"test-comment"}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/16606088/merge_requests/2/notes
    method: POST
  response:
    body: '{"id":552054539,"type":null,"body":"test-comment","attachment":null,"author":{"id":5005329,"name":"Erik
      Seliger","username":"eseliger","state":"active","avatar_url":"https://secure.gravatar.com/avatar/2582d91847f35b619bea3bd0f910964d?s=80\u0026d=identicon","web_url":"https://gitlab.com/eseliger"},"created_at":"2021-04-15T01:24:03.306Z","updated_at":"2021-04-15T01:24:03.306Z","system":false,"noteable_id":48629396,"noteable_type":"MergeRequest","resolvable":false,"confidential":false,"noteable_iid":2,"commands_changes":{}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"159d66b1b17addcb551cdcabbfb16efa"
      Gitlab-Lb:
      - fe-12-lb-gprd
      Gitlab-Sv:
      - api-06-sv-gprd
      X-Gitlab-Feature-Category:
      - code_review
    status: 201 Created
    code: 201
    duration: ""
