---
version: 1
interactions:
- request:
    body: '{"source_branch":"test-pr-4","target_branch":"main","title":"This is a
      test PR","description":"This is the description of the test PR","remove_source_branch":true}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/40370047/merge_requests
    method: POST
  response:
    body: '{"id":224166704,"iid":13,"project_id":40370047,"title":"This is a test
      PR","description":"This is the description of the test PR","state":"opened","created_at":"2023-05-17T02:37:19.370Z","updated_at":"2023-05-17T02:37:19.370Z","merged_by":null,"merge_user":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch":"main","source_branch":"test-pr-4","user_notes_count":0,"upvotes":0,"downvotes":0,"author":{"id":11440943,"username":"courier-new","name":"Kelli
      Rockwell","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/11440943/avatar.png","web_url":"https://gitlab.com/courier-new"},"assignees":[],"assignee":null,"reviewers":[],"source_project_id":40370047,"target_project_id":40370047,"labels":[],"draft":false,"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"checking","detailed_merge_status":"preparing","sha":"ac5346012ad196d62c4acf4d5c06e04d2f7c051e","merge_commit_sha":null,"squash_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":true,"reference":"!13","references":{"short":"!13","relative":"!13","full":"batch-changes-testing/batch-changes-test-repo!13"},"web_url":"https://gitlab.com/batch-changes-testing/batch-changes-test-repo/-/merge_requests/13","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":false,"squash_on_merge":false,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":false,"blocking_discussions_resolved":true,"approvals_before_merge":null,"subscribed":true,"changes_count":null,"latest_build_started_at":null,"latest_build_finished_at":null,"first_deployed_to_production_at":null,"pipeline":null,"head_pipeline":null,"diff_refs":null,"merge_error":null,"user":{"can_merge":true}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c74cac4b635763889859b106702943f1"
      Gitlab-Lb:
      - fe-36-lb-gprd
      Gitlab-Sv:
      - localhost
      X-Gitlab-Meta:
      - '{"correlation_id":"2133bff13528f1c25e43a46b39790555","version":"1"}'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/40370047/merge_requests/13/notes?page=1
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Gitlab-Lb:
      - fe-04-lb-gprd
      Gitlab-Sv:
      - localhost
      Link:
      - <https://gitlab.com/api/v4/projects/40370047/merge_requests/13/notes?activity_filter=all_notes&id=40370047&noteable_id=13&order_by=created_at&page=1&per_page=20&sort=desc>;
        rel="first", <https://gitlab.com/api/v4/projects/40370047/merge_requests/13/notes?activity_filter=all_notes&id=40370047&noteable_id=13&order_by=created_at&page=1&per_page=20&sort=desc>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"a6af0306d675d6c6ed2803ffb104ad29","version":"1"}'
      X-Next-Page:
      - ""
      X-Page:
      - "1"
      X-Per-Page:
      - "20"
      X-Prev-Page:
      - ""
      X-Total:
      - "0"
      X-Total-Pages:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/40370047/merge_requests/13/resource_state_events?page=1
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Gitlab-Lb:
      - fe-06-lb-gprd
      Gitlab-Sv:
      - localhost
      Link:
      - <https://gitlab.com/api/v4/projects/40370047/merge_requests/13/resource_state_events?eventable_id=13&id=40370047&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v4/projects/40370047/merge_requests/13/resource_state_events?eventable_id=13&id=40370047&page=1&per_page=20>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"4caab4d6097547af21379f127626d758","version":"1"}'
      X-Next-Page:
      - ""
      X-Page:
      - "1"
      X-Per-Page:
      - "20"
      X-Prev-Page:
      - ""
      X-Total:
      - "0"
      X-Total-Pages:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/40370047/merge_requests/13/pipelines?page=1
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Gitlab-Lb:
      - fe-16-lb-gprd
      Gitlab-Sv:
      - localhost
      Link:
      - <https://gitlab.com/api/v4/projects/40370047/merge_requests/13/pipelines?id=40370047&merge_request_iid=13&page=1&per_page=15>;
        rel="first", <https://gitlab.com/api/v4/projects/40370047/merge_requests/13/pipelines?id=40370047&merge_request_iid=13&page=1&per_page=15>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"efc8d68257c097f957d6197ffa8c8954","version":"1"}'
      X-Next-Page:
      - ""
      X-Page:
      - "1"
      X-Per-Page:
      - "15"
      X-Prev-Page:
      - ""
      X-Total:
      - "0"
      X-Total-Pages:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
