img.avatar-md {
	border-radius: $border-radius-base;
	width: 40px;
	height: 40px;
	max-width: 40px;
	max-height: 40px;
	display: inline-block;
}

img.avatar-sm {
	border-radius: $border-radius-base;
	width: 24px;
	height: 24px;
	max-width: 24px;
	max-height: 24px;
	display: inline-block;
	transition: transform .2s ease-out;
}
img.avatar-sm:hover {
	transition: transform .2s ease-out;
	transform: scale(1.2);
}
