// _code_file contains styles for the code browsing view.

.token-popover {
	@include z-index(token-popover);
	max-width: 360px;
	min-width: 120px;

	&.found {
		background-color: transparentize(#222, 0.12);
	}
	&.error {
		background-color: transparentize(#a00, 0.12);
	}
	.error-message {
		font-size: $font-size-small;
	}

	border: solid 1px lighten($popover-border-color, 5%);
	border-radius: 2px;
	position: fixed;
	padding: 7px;
	color: #eee;
	word-wrap: break-word;

	.title {
		.name { font-weight: bold; }
	}

	p { margin: 5px 0 0 0; }

	pre {
		font-family: $font-family-monospace;
		font-size: $font-size-base;
		padding: 0;
		margin-bottom: 0;
	}

	.repo {
		color: #bbb;
		margin-top: 4px;
		display: block;
		font-size: 13px;
	}
}

.blob-scroller {
	overflow-x: auto;
	overflow-y: hidden;
}

.line-numbered-code {
	width: 100%;
}

.file-diff-hunk .line-number {
	width: 50px;
}

.file-container {
	.line-numbered-code {
		display: block;
		.line-content {
			width: 100%;
		}
	}

	.context-menu {
		@include z-index(context-menu);
		opacity: 0.98;
		position: absolute;
		min-width: 100px;
		width: 100%;
		height: auto;

		ul {
			box-shadow: 1px 1px 3px #ddd;
			background: #f9f9f9;
			border-radius: 2px;
			position: absolute;
			list-style: none;
			margin: 0;
			padding: 0;
			border: 1px solid #cfcfcf;
			font-size: 12px;
			line-height: 16px;

			li {
				cursor: pointer;
				margin: 0;
				padding: 3px 10px 3px 7px;
				color: #333;
				font-family: $font-family-monospace;

				.name {
					font-weight: bold;
				}
				&:hover {
					color: #fff;
					background-color: #2a74ac;
				}
			}
		}
	}
}

.code-file-toolbar {
	background-color: $file-toolbar-bg;
	border-bottom: solid 1px $content-border-color;
	padding: 8px;

	.file-breadcrumb {
		display: inline-block;

		& > i {
			margin-right: 10px;
			font-size: 14px;
			&.fa-spinner { font-size: 16px; }
		}

		.path-component {
			a {
				margin-top: 10px;
			}
		}

		.build-indicator {
			margin-left: 10px;
		}

		.build-info {
			font-size: 13px;
			margin-left: 5px;
			color: #888;
			a {
				color: $link-color;
			}
		}
	}

	.actions {
		float: right;
	}
}

.card {
	display: block;
	border: $content-border;
	border-radius: $border-radius-base;
	background-color: #fff;
}

.token-details {
	width: 100%;
	@include z-index(token-popover);

	&.closed {
		opacity: 0;
		height: 0 !important;
		width: 0 !important;
	}

	.qualified-name {
		font-family: $font-family-monospace;
		word-wrap: break-word;
		.name {
			font-weight: bold;
		}
	}
}

.examples-card {
	.example-navigation {
		.prev {
			margin-right: 7px;
		}
		.all {
			text-transform: uppercase;
		}
	}
}
.example {
	border: $content-border;
	margin-bottom: $padding-large-vertical;

	footer {
		padding: 4px 15px 4px 10px;
		background-color: $panel-default-heading-bg;
		color: $panel-default-text;
		font-size: 12px;
		position: relative;
		height: 25px;

		a {
			text-decoration: none;
		}
	}

	header {
		padding: 4px 15px 4px 10px;
		background-color: $panel-default-heading-bg;
		color: $panel-default-text;
		font-size: 12px;

		.fa-spinner {
			margin-left: 10px;
		}

		a {
			cursor: pointer;
			text-decoration: none;
			overflow-wrap: break-word;
		}
	}

	.body {
		position: relative;
		border: 1px solid #dfdfdf;
		border-width: 1px 0;
		overflow-x: auto;
	}

	.line-numbered-code td {
		clear: both;
		font-size: 80%;
		background-color: $line-content-bg;
	}
}
