pre.code {
	border: 0;
	border-radius: 0;
	white-space: nowrap;
	background-color: transparent;
}

pre code {
	display: block;
	border: none;
	border-radius: 0;
}

pre code {
	overflow: auto;
	white-space: pre;
}

.code-box {
	background: #ffffff;
	border: 1px solid #979797;
}

.line-numbered-code td {
	overflow: visible;
	white-space: pre-wrap;
}

/* this class can be used to insert Markdown (backtick-style) entries in
the middle of prose */
.backtick {
	font-family: $font-family-monospace;
	border: 1px solid #eaeaea;
	padding: 2px 3px;
}

pre code, .line-numbered-code td {
	tab-size: 4;

	padding-top: 0;
	padding-bottom: 0;

	line-height: $code-line-height;
	font-size: $code-font-size;
	font-family: $font-family-monospace;

	a.ref, a.ann-link, a.defn-popover {
		text-decoration: none;
	}
	a:focus {
		outline-offset: 0;
	}

	span.match {
		background: $token-hover-color;
		color: $text-color !important;
	}

	a.def.highlight {
		font-weight: bold;
	}
}

.line-numbered-code {
	word-wrap: break-word;
	table-layout: fixed;
	border-collapse: separate;

	.line {
		&:first-child {
			> td {
				padding-top: 5px !important;
			}
		}
	}

	.line-number {
		min-width: 50px;
		text-align: right;
		vertical-align: top;
		background-color: $line-number-bg;
		color: $line-number-text;
		// match code
		font-family: $font-family-monospace;
		font-size: $code-font-size;
		line-height: $code-line-height;

		color: $line-number-text;

		padding: $line-number-padding;

		user-select: none;
		&:before { content: attr(data-line); }

		cursor: pointer;
	}

	.line-content {
		padding-left: 11px;
	}

	.inline-content {
		@include base-font;
		padding: 10px;

		.inline-form {
			max-width: 640px;

			.markdown-textarea, & > input, & > textarea {
				margin-bottom: $line-height-computed / 2;
			}

			input, textarea {
				width: 100%;
				border: solid 1px #eee;
				padding: 6px;
				background-color: #fafafa;
				&:focus {
					background-color: $white;
				}
			}

			textarea {
				height: 80px;
			}

			textarea:focus {
				position: relative;
			}
		}
	}

	tr:hover .line-number {
		color: darken($line-number-text, 10%);
	}

	&.static-code-view {
		a.ref {
			&:hover {
				background: $token-hover-color;
				box-shadow: inset 0px 0px 0px 1px $token-hover-border;
			}
		}
	}
}

.main-byte-range {
	> .line-content {
		background-color: $active-code-bg;
		animation: highlight-flash 1s;
	}
}

@keyframes highlight-flash {
	5% { background-color: $active-code-flash-bg; }
}
