// content-view refers to the general view structure where there is a
// file or diff with sidebar cards.
.content-view {
	$content-width: 690px;
	$sidebar-width: 290px;

	display: flex;
	align-items: flex-start;

	& > .content {
		flex: 0.65 0 $content-width;
		width: $content-width;
		max-width: $content-width * 1.4;
	}
	& > .sidebar {
		flex: 0.35 1 $sidebar-width;
		width: $sidebar-width;
	}

	@media (max-width: $content-width + 10px) {
		& > .content {
			max-width: 100%;
		}
	}
}

.card {
	$padding-card: 8px;

	header, section {
		padding: $padding-card;
	}

	header {
		@include clearfix;
		background-color: $heading-bg-color;
		color: $heading-text-color;
		border-top: $content-border;
		border-bottom: $content-border;

		&:first-child {
			border-top: none;
		}
	}
}
