// content-view refers to the general view structure where there is a
// file or diff with sidebar cards.
.content-view {
	$content-width: 760px;
	$sidebar-width: 360px;
	$sidebar-margin: $grid-gutter-width/2;

	display: flex;
	justify-content: center;
	align-items: flex-start;

	& > .content {
		flex-basis: $content-width;
		max-width: $content-width;
	}
	& > .sidebar {
		flex-basis: 360px;
		padding-left: $sidebar-margin;
		margin-right: $sidebar-margin;
		& > * {
			width: 100%;
			min-width: 360px;
		}
	}

	@media (max-width: $screen-xs-max) {
		& > .content {
			flex-basis: 100%;
			max-width: initial;
			border: none;
		}
		& > .sidebar {
			display: none;
		}
	}

	@media (min-width: $container-lg + $sidebar-margin + ($sidebar-width*2)) {
		overflow-x: visible;
		& > .content {
			flex-basis: 100%;
			max-width: initial;
		}
		& > .sidebar {
			left: $sidebar-margin;
			padding-left: 0;
			margin-right: 0;
			flex-basis: 0;
		}
	}
}

@media (max-width: $screen-xs-max) {
	body > .container {
		padding: 0;
		& > .repo-body {
			margin-top: 0;
		}
	}
}

.card {
	$padding-card: 8px;

	header, section {
		padding: $padding-card;
	}

	header {
		@include clearfix;
		background-color: $heading-bg-color;
		color: $heading-text-color;
		border-top: $content-border;
		border-bottom: $content-border;

		&:first-child {
			border-top: none;
		}
	}
}
