table.coverage {
		.success {
				background-color: lighten($brand-success, 30%);
		}
		.fail {
				background-color: lighten($brand-danger, 30%);
		}
		.unbuilt {
				background-color: $gray-lighter;
		}
		.hover-area {
				.hide {
						display: none;
				}
				&:hover {
						.hide {
								display: block !important;
						}
				}
		}
}
