.dashboard .repos {
	h4 {
		margin: 0;
		.repo-attr-icon {
			margin-right: 3px;
		}
	}
	p.description, p.updated {
		margin: 7px 0 0 0;
	}
	p.updated {
		font-size: $font-size-small;
		color: $text-muted;
	}
}
