.dashboard {
	.dashboard-container {
		margin-top: 55px;
	}

	.dash-repos {
		border: none;

		.dash-repos-header {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-bottom: $padding-large-vertical;
			border-bottom: $content-border;

			.your-repos {
				margin-top: 0;
				flex: 9;
			}

			.add-repo-btn {
				flex: 1;
				align-items: center;
				justify-content: center;

				width: 50%;
				height: 40px;
				text-align: center;
			}

			.plus-btn {
				display: inline-block;
				background-color: $btn-primary-color;

				width: 16px;
				height: 19px;
				border-radius: 2px;
				margin-right: 10px;
			}

			.plus {
				display: inline-block;
				color: $btn-primary-bg;
			}

			.add-repo-label {
				display: inline-block;
			}
		}

		.repos-list nav {
			@include clearfix;
			border: none;
			padding: 25px 0;
			$list-button-height: 36px;

			.toggles {
				height: $list-button-height;
				display: inline-block;
				margin-top: 0px;
				min-width: 285px;

				.toggle {
					width: 94px;
					height: 36px;
					margin-top: 0px;
					text-transform: uppercase;
					font-size: 12px;
				}
			}

			.search-bar {
				height: $list-button-height;
				display: block;
				width: 240px;
				margin-top: $padding-large-vertical;

				@media (min-width: $screen-sm-min) {
					float: right;
					display: inline-block;
					margin-top: 0;
				}

				.search-addon {
					background-color: white;
					color: #7794ae;
				}

				.search-input {
					border-right: none;
					transition: none;
					&:focus + .search-addon {
						border-color: $input-border-focus;
					}
				}
			}
		}

		.disabled {
			background-color: $pale-grey;
		}

		.disabled-reason {
			font-style: italic;
			color: $text-disabled;
			font-size: $font-size-small;
		}

		h4 {
			margin-bottom: $padding-base-vertical;
			color: $text-header;
			font-size: 20px;
			font-weight: 400;

			.repo-attr-icon {
				margin-right: 10px;
				color: $cloudy-blue;
			}
		}
		p.description {
			font-weight: 400;
			font-size: 16px;
			color: $text-light;
			margin-bottom: 15px;
		}
		p.updated {
			font-weight: 700;
			font-size: $font-size-small;
			color: $text-disabled;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		.hover-pointer {
			cursor: pointer;
		}
	}

	.dash-users {
		text-align: center;

		.add-user-btn {
			display: inline-block;
			float: right;
		}

		.panel-heading {
			@include clearfix;
			background-color: $body-bg;
			h5 {
				display: inline-block;
				margin-top: 9px;
				margin-bottom: 0;
			}
		}

		.users-list {
			padding-top: 0;
			padding-bottom: 0;

			.list-group {
				margin-bottom: $padding-base-vertical;
			}

			.list-group-item {
				display: flex;
				align-items: center;
				justify-content: center;

				height: 45px;
				text-align: left;
				border: none;
				border-bottom: $content-border;
				margin-top: 1px;
				padding: $padding-base-vertical 0;

				&:last-child {
					border-bottom: none;
				}

				.avatar-sm {
					flex: 1
				}

				.user-name {
					margin-left: 15px;
					margin-top: 4px;
					flex: 5;
				}

				.user-permissions {
					margin-top: 4px;
					flex: 1;
				}
			}
		}

		.plus-btn {
			display: inline-block;
			background-color: $btn-primary-bg;

			width: 16px;
			height: 16px;
			border-radius: 2px;
			margin-right: 10px;
		}

		h5 {
			display: inline-block;
			float: left;
		}

	}

	.selectable-list-widget {
		.widget-body {
			display: flex;
			flex-wrap: wrap;
			padding-right: $padding-base-horizontal;

			.category-menu {
				flex: 1;
				text-transform: uppercase;
				margin-left: 10px;
				padding-right: $padding-large-horizontal;
				margin-top: 2px;
				text-align: left;
				font-size: 12px;
				letter-spacing: 0.6px;

				a {
					text-decoration: none;
					color: $text-color;
					cursor: pointer;
					&:hover, &.category-active {
						color: $link-color;
						border-bottom: solid 2px $link-color;
					}
				}

				.category-menu-label {
					color: $headings-color;
				}

				.category-label {
					margin-left: 7px;
					margin-bottom: 15px;
				}
			}

			.list-control {
				flex: 4;
			}
		}
	}

	.selectable-list {
		margin-bottom: 0px;
		border: $content-border;

		.header {
			background-color: initial;
			font-size: 13px;
			color: #bbbbbb;

			.search-bar {
				display: flex;
				border: none !important;
				border-color: transparent !important;

				.search-icon {
					flex: 1;
					padding: 10px;
					padding-right: 0;
				}

				.search-input {
					flex: 15;
					border: none !important;
					border-color: transparent !important;
				}
			}

			.table-controls {
				display: flex;
				height: 34px;

				border-top: $content-border;
				border-bottom: $content-border;
				background-color: $select-list-bg;

				.select-all {
					flex: 1;
					padding: 7px;
				}
				.name {
					flex: 15;
					padding: 9px;
					text-align: left;
					margin-right: 25px;
				}
			}
		}
		.body {
			height: 273px;
			background-color: $select-list-bg;
			display: block;

			.table-row {
				display: flex;

				.select {
					flex: 1;
					padding: 7px;
				}
				.name {
					flex: 15;
					padding: 7px;
					text-align: left;
					border-bottom: $content-border;
					&.unselectable {
						color: $text-disabled;
					}
				}
				.unselectable-label {
					float: right;
					font-size: 10px;
					padding-top: 4px;
					font-style: italic;
					color: #bbbbbb;
				}
				input.unselectable {
					visibility: hidden;
				}
			}
		}

		.list-group {
			height: 100%;
			margin-bottom: 0px;
			overflow: auto;
		}

		.list-group-item {
			border: none;
			border-bottom: $content-border;
			margin-bottom: 0px;
			margin-left: auto;
			margin-right: auto;
			width: 95%;
		}

		.repo-name {
			margin-left: 10px;
		}

	}

	.add-repos-widget, .add-users-widget {
		.add-repo-label {
			margin-top: 20px;
		}

		.selectable-list-widget {
			margin-top: 25px;
		}
	}

	.widget-footer {
		width: 80%;
		margin: auto;
		margin-top: 25px;
		margin-bottom: 10px;

	}

	.widget-footer, .github-link-welcome > footer {
		button {
			height: 48px;
			max-width: 370px;
			font-size: 13px;
			letter-spacing: 1px;
			text-transform: uppercase;
			border-radius: 2px;
			color: $body-bg;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.invite-user-form {
		text-align: center;
	}
}
