$font-assets-path: "/.assets/font";

// ----------------------------------------------------------------------------
// Circular
// ----------------------------------------------------------------------------

/* Circular-Book */
@font-face {
	font-family: "Circular";
	font-style: normal;
	font-weight: 400;
	src: url($font-assets-path + "/circular/circular-book.ttf") format("truetype");
}

/* Circular-Book Italic */
@font-face {
	font-family: "Circular";
	font-style: italic;
	font-weight: 400;
	src: url($font-assets-path + "/circular/circular-book-italic.ttf") format("truetype");
}

/* Circular-Medium */
@font-face {
	font-family: "Circular";
	font-style: normal;
	font-weight: 500;
	src: url($font-assets-path + "/circular/circular-medium.ttf") format("truetype");
}

/* Circular-Medium Italic */
@font-face {
	font-family: "Circular";
	font-style: italic;
	font-weight: 500;
	src: url($font-assets-path + "/circular/circular-medium-italic.ttf") format("truetype");
}

/* Circular-Bold */
@font-face {
	font-family: "Circular";
	font-style: normal;
	font-weight: 700;
	src: url($font-assets-path + "/circular/circular-bold.ttf") format("truetype");
}

/* Circular-Bold Italic */
@font-face {
	font-family: "Circular";
	font-style: italic;
	font-weight: 700;
	src: url($font-assets-path + "/circular/circular-bold-italic.ttf") format("truetype");
}

/* Circular-Black */
@font-face {
	font-family: "Circular";
	font-style: normal;
	font-weight: 800;
	src: url($font-assets-path + "/circular/circular-black.ttf") format("truetype");
}

/* Circular-Black Italic */
@font-face {
	font-family: "Circular";
	font-style: italic;
	font-weight: 800;
	src: url($font-assets-path + "/circular/circular-black-italic.ttf") format("truetype");
}

@charset "UTF-8";

@font-face {
	font-family: "sourcegraph-icons";
	src:url($font-assets-path + "/sourcegraph-icons/sourcegraph-icons.eot");
	src:url($font-assets-path + "/sourcegraph-icons/sourcegraph-icons.eot?#iefix") format("embedded-opentype"),
		url($font-assets-path + "/sourcegraph-icons/sourcegraph-icons.woff") format("woff"),
		url($font-assets-path + "/sourcegraph-icons/sourcegraph-icons.ttf") format("truetype"),
		url($font-assets-path + "/sourcegraph-icons/sourcegraph-icons.svg#sourcegraph-icons") format("svg");
	font-weight: normal;
	font-style: normal;

}

[data-icon]:before {
	font-family: "sourcegraph-icons" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="sg-icon-"]:before,
[class*=" sg-icon-"]:before {
	font-family: "sourcegraph-icons" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sg-icon {
	vertical-align: middle;
}

.sg-icon-private:before {
	content: "\62";
}
.sg-icon-public:before {
	content: "\63";
}
.sg-icon-plus-box:before {
	content: "\65";
}

