.sep {
	color: $gray-light;
	padding: 0 0.2em;
}

[data-href]:hover {
	cursor: pointer;
}

.alert-info {
	a {
		// Blue links are difficult to see on a blue background.
		// Make links stand out more by underlining.
		text-decoration: underline;
	}
}
