.route-repo-godoc {
	h2 {
		margin-top: 0;
	}
	h3 {
		margin-top: 21px;
	}
	h4 {
		margin-top: 28px;
	}

	.sourcegraph-sourcebox .sourcegraph-footer {
		display: none;
	}

	pre {
		background-color: #f5f5f5 !important;
		border: solid 1px #ccc !important;
	}
	code {
		padding-left: 0;
	}

	a.permalink {
		opacity: 0;
		font-size: $font-size-base;
	}
	h3:hover, h4:hover {
		a.permalink {
			opacity: 1;
			&:hover i { text-decoration: underline; }
		}
	}

	.ref-count {
		font-size: $font-size-base;
		a {
			display: inline-block;
			padding: 0 3px;
			color: $gray;
		}
	}
}

.route-godoc {
	.howto {
		background-color: lighten(yellow, 35%);
		padding: 3px 5px;
		margin: -3px -5px;
	}

	#search-form {
		display: none !important;
	}
}

.bookmarklet {
	border: solid 1px $link-color;
	background-color: lighten($link-color, 53%);
	border-radius: 4px;
	padding: 2px 5px;
}
