.route-repo-godoc {
	h2 {
		margin-top: 0;
	}
	h3 {
		margin-top: 21px;
	}
	h4 {
		margin-top: 28px;
	}

	.sourcegraph-sourcebox .sourcegraph-footer {
		display: none;
	}

	pre {
		background-color: #f5f5f5 !important;
		border: solid 1px #ccc !important;
	}
	code {
		padding-left: 0;
	}

	a.permalink {
		opacity: 0;
		font-size: $font-size-base;
	}
	h3:hover, h4:hover {
		a.permalink {
			opacity: 1;
			&:hover i { text-decoration: underline; }
		}
	}

	.ref-count {
		font-size: $font-size-base;
		a {
			display: inline-block;
			padding: 0 3px;
			color: $gray;
		}
	}
}
