#loading {
	@include z-index(loading-indicator);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.3);
	display: none;
	pointer-events: none;

	.loading-indicator {
		position: absolute;

		top: 40vh;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;

		font-size: 3.0em;
		background-color: $sg-blue-color;
		padding: 10px 20px;
		border-radius: 15px;
		display: inline-block;
		.asterisk-animation {
			animation: asterisk-animation 1.5s infinite linear;
			-moz-animation: asterisk-animation 1.5s infinite linear;
			-webkit-animation: asterisk-animation 1.5s infinite linear;
		}
		animation: loading-indicator-animation 4s infinite linear;
		-moz-animation: loading-indicator-animation 4s infinite linear;
		-webkit-animation: loading-indicator-animation 4s infinite linear;
	}
}

$asterisk-from-color: lighten($sg-blue-color, 55%);
$asterisk-to-color: lighten($sg-blue-color, 15%);
@keyframes asterisk-animation {
	0% { color: $asterisk-from-color; }
	75% { color: $asterisk-to-color; }
	100% { color: $asterisk-from-color; }
}
@-moz-keyframes asterisk-animation {
	0% { color: $asterisk-from-color; }
	75% { color: $asterisk-to-color; }
	100% { color: $asterisk-from-color; }
}
@-webkit-keyframes asterisk-animation {
	0% { color: $asterisk-from-color; }
	75% { color: $asterisk-to-color; }
	100% { color: $asterisk-from-color; }
}
$loading-indicator-from-color: lighten($sg-blue-color, 8%);
$loading-indicator-to-color: lighten($sg-blue-color, 30%);
@keyframes loading-indicator-animation {
	0% { background-color: $loading-indicator-from-color; }
	50% { background-color: $loading-indicator-to-color; }
	100% { background-color: $loading-indicator-from-color; }
}
@-moz-keyframes loading-indicator-animation {
	0% { background-color: $loading-indicator-from-color; }
	50% { background-color: $loading-indicator-to-color; }
	100% { background-color: $loading-indicator-from-color; }
}
@-webkit-keyframes loading-indicator-animation {
	0% { background-color: $loading-indicator-from-color; }
	50% { background-color: $loading-indicator-to-color; }
	100% { background-color: $loading-indicator-from-color; }
}
