// Allows application of bootstrap dropdown list styles to nested lists
// contained in a dropdown menu.
@mixin dropdown-list() {
	list-style: none;
	padding: 0;
	> li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: $line-height-base;
		color: $dropdown-link-color;
		white-space: nowrap; // prevent links from randomly breaking onto new lines
	}
}

@function z-index($key) {
	@return map-get($z-index, $key);
}

@mixin z-index($key) {
	z-index: map-get($z-index, $key);
}

@mixin disable-user-select() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
