.motd {
	position: relative;
	top: 0;
	width: 100%;
	height: $motd-height;
	text-align: center;
	white-space: nowrap;
	font-size: $font-size-base * 0.95;
	background-color: $alert-warning-bg;
	border-bottom: solid 1px darken($alert-warning-border, 5%);
	padding: 5px 10px;
	z-index: $zindex-navbar-fixed + 1;
}

body.has-motd {
	// Check that these stay consistent with _nav.scss and _code_file.scss.
	header.page-header {
		height: $navbar-height + $subnav-height + $motd-height;
	}

	.code-file-toolbar {
		top: $navbar-height + $subnav-height + $motd-height !important;
	}

	.token-details {
			margin-top: $motd-height;
	}
}
