$navbar-height: 40px;
$navbar-padding-vertical: 10px;
$nav-link-padding: 4px;
$navbar-inverse-brand-color: lighten($navbar-inverse-link-color, 15%);

nav.global {
	display: flex;
	align-items: center;
	& > * {
		margin: 0;
		padding: $nav-link-padding;
		font-size: $font-size-large;
		line-height: 1;
	}
	& > .context {
		flex: 1 0 auto;
	}

	background-color: #F4F4F4;
	border-bottom: 1px solid #eaeaf2;

	.logo {
		$size: $navbar-height - (2*$nav-link-padding);
		img {
			height: $size;
			width: $size;
			&:hover {
				animation: spin 0.5s ease-in-out 1;
				@keyframes spin { 50% { transform: rotate(180deg) scale(1.2) } 100% { transform: rotate(180deg) scale(1)} }
			}
		}
		padding: (2*$nav-link-padding);
	}

	.repo {
		font-size: 2rem;
		span {
			display: inline-block;
		}
		span.part {
			padding: 0px 8px;
			color: #555;
		}
		.name {
			font-weight: bold;
		}
	}

	.current-user {
		padding: (2*$nav-link-padding);

		.name {
			font-weight: bold;
		}
	}

	.actions > li {
		display: inline-block;
		margin-right: (2*$nav-link-padding);
	}

	& > ul, & > ul > li {
		list-style-type: none;
	}
}
