#nav {
	.navbar-brand {
		$size: $navbar-height - 14px;
		img {
			height: $size;
			width: $size;

			&:hover {
				animation: spin 0.4s ease-in-out 1;
				@keyframes spin { 100% { transform:rotate(360deg); } }
			}
		}
		padding-top: ($navbar-height - $size)/2;
		padding-bottom: ($navbar-height - $size)/2;
		padding: $nav-link-padding;
	}

	.current-user.name {
		font-weight: bold;
	}

	.navbar-form {
		margin: 0;
		padding: 0;
		border: none;
		box-shadow: none;
		.btn-link {
			padding-top:    10px;
			padding-bottom: 10px;
		}
	}

	.title {
		font-size: 20px;
		span {
			display: inline-block;
		}
		span.part {
			padding: 0px 8px;
		}
		a {
			display: inline-block !important;
			font-weight: bold;
			color: white;
			display: inline;
		}
	}
}

// Don't collapse or stack on small screens.
.no-collapse-nav {
	ul.navbar-right {
		float: right !important;
	}
	.navbar-header {
		float: left !important;
	}
	li {
		float: left !important;
	}
}
