.onboarding-container {
	position: fixed;
	left: 50%;
	top: 45px;
	transform: translate(-50%);
	text-align: center;
	z-index: 50;
}

.onboarding-overlay {
	max-width: 500px;
	min-width: 300px;
	width: 500px;
	margin: 0 auto;
	margin-top: 20px;
	display: inline-block;

	.panel {
		box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
	}

	.panel-heading {
		height: 77px;
	}
	.panel-heading-1 {
		background-color: rgba(15, 181, 242, 0.09);
	}
	.panel-heading-2 {
		background-color: rgba(96, 101, 245, 0.09);
	}
	.panel-heading-3 {
		background-color: rgba(14, 195, 211, 0.09);
	}

	.avatar-container {
		margin-top: 55px;
	}

	.header-text {
		font-size: 24px;
		font-face: Circular-Book;
		color: #4d5a64;
	}
	.normal-text {
		font-size: 16px;
		font-face: Circular-Book;
		padding: 5px;
		margin-bottom: 17px;
		color: #7794ae;;
	}

	.welcome-header {
		margin-top: 16.8px;
		margin-bottom: 22px;
	}
	.normal-header {
		margin-top: 14px;
		margin-bottom: 17px;
	}


	.footer {
		width: 80%;
		margin: auto;
		margin-top: 39px;
		margin-bottom: 62px;
		font-size: 13px;
		font-face: Circular-Bold;

		button {
			letter-spacing: 1px;
			text-transform: uppercase;
			border-radius: 2px;
			font-size: 13px;
			color: #ffffff;
			height: 48px;
		}

		a {
			color: #7794ae;
			text-decoration: none;
			cursor: pointer;
			text-transform: uppercase;
		}

		p {
			margin-top: 14px;
		}

	}

	.onboarding-progress-bar {
		.dot-container {
			display: -webkit-flex;
			display: flex;
			margin-top:19px;
			margin-left: auto;
			margin-right: auto;

			.dot-wrapper {
				-webkit-flex: 1;
				flex: 1;
			}
			.dot {
				width: 18px;
				height: 18px;
				border-radius: 25px;
				background-color: white;
				display: inline-block;
			}
			.smaller-dot {
				width: 8px;
				height: 8px;
				margin-top: 3px;
				margin-left: auto;
				margin-right: auto;
				border-radius: 5px;
			}
			.smallest-dot {
				width: 6px;
				height: 6px;
				margin-top: 4px;
				margin-left: auto;
				margin-right: auto;
				border-radius: 5px;
			}
			.dot-0 {
				border: solid 2px #0ec3d3;
				background-color: #0ec3d3;
			}
			.dot-1 {
				border: solid 2px #0fb6f2;
				background-color: #0fb6f2;
			}
			.dot-2 {
				border: solid 2px #6065f5;
				background-color: #6065f5;
			}
			.dot-3 {
				border: solid 2px #6065f5;
				background-color: #b114f7;
			}
			.dot-3-inner {
				border: solid 2px #b114f7 !important;
				background-color: #b114f7;
			}
			.dot-incomplete {
				background-color: white !important;
			}
		}
		.dot-carat {
			width: 0;
			height: 0;
			opacity: 0.4;
			margin: 2px auto;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;

			border-bottom: 5px solid #6065f5;
		}

		.bar {
			border-style: solid;
			border-image-slice: 1;
			border-width: 1px;
			margin-top: -24px;
			margin-left: auto;
			margin-right: auto;
			height: 2px;
			width: 75%;
			// border: solid 2px #0ec3d3;
		}
		.bar-0 {
			border-image-source: -webkit-linear-gradient(right, #0fb6f2 0%, #0ec3d3 100%);
			border-image-source: -o-linear-gradient(right, #0fb6f2 0%, #0ec3d3 100%);
			border-image-source: linear-gradient(to left, #0fb6f2 0%, #0ec3d3 100%);
		}

		.bar-1 {
			border-image-source: -webkit-linear-gradient(right, #0fb6f2 0%, #0ec3d3 100%);
			border-image-source: -o-linear-gradient(right, #0fb6f2 0%, #0ec3d3 100%);
			border-image-source: linear-gradient(to left, #0fb6f2 0%, #0ec3d3 100%);
		}

		.bar-2 {
			border-image-source: -webkit-linear-gradient(left, #0ec3d3 0%, #0fb6f2 22%, #0fb6f2 51%, #0fb6f2 78%, #6065f5 100%);
			border-image-source: -o-linear-gradient(left, #0ec3d3 0%, #0fb6f2 22%, #0fb6f2 51%, #0fb6f2 78%, #6065f5 100%);
			border-image-source: linear-gradient(to right, #0ec3d3 0%, #0fb6f2 22%, #0fb6f2 51%, #0fb6f2 78%, #6065f5 100%);
		}

		.bar-3 {
			border-image-source: -webkit-linear-gradient(left, #0ec3d3 0%, #0fb6f2 22%, #0fb6f2 51%, #0fb6f2 78%, #6065f5 100%);
			border-image-source: -o-linear-gradient(left, #0ec3d3 0%, #0fb6f2 22%, #0fb6f2 51%, #0fb6f2 78%, #6065f5 100%);
			border-image-source: linear-gradient(to right, #0ec3d3 0%, #0fb6f2 22%, #0fb6f2 51%, #0fb6f2 78%, #6065f5 100%);
		}
	}

	.submit-form {
		button {
			margin-top: 39px;
			letter-spacing: 1px;
			text-transform: uppercase;
		}

		a {
			color: #7794ae;
			text-decoration: none;
			cursor: pointer;
			text-transform: uppercase;
		}

		p {
			margin-top: 14px;
		}

		width: 80%;
		margin: auto;
		font-size: 13px;
		font-face: Circular-Bold;
	}
}

.avatar-container {
	position: relative;
	width: 115.5px;
	height: 115.5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.avatar-github {
	opacity: 0.5;
	background-color: #0fb6f2;
}

.github-link-success-icon {
	width: 40px;
	height: 40px;
	background-color: #78e198;
	border: solid 4px #ffffff;
	// float: right;
	position: absolute;
	bottom: 0px;
	right: -8px;
	border-radius: 50%;
	// display: inline-block;

	.check-icon {
		color: #37a358;
		font-size: 16px;
		position: absolute;
		bottom: 5px;
		left: 9px;
	}
}


.list-picker {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
  	flex-wrap: wrap;

	.category-menu {
		-webkit-flex: 1;
		flex: 1;
		text-transform: uppercase;
		margin-left: 10px;
		margin-right: 20px;
		margin-top: 2px;
		text-align: left;
		font-size: 12px;
		letter-spacing: 0.6px;
		font-face: Circular-Bold;
		a {
			text-decoration: none;
			cursor: pointer;
		}

		.category-menu-label {
			color: #4d5a64;
		}

		.category-label {
			margin-left: 7px;
			margin-bottom: 15px;

			a {
				color: #7794ae;
			}
		}

		a.category-active {
			color: #0fb6f2;
			border-bottom: solid 2px #0fb6f2;
		}
	}

	.list {
		-webkit-flex: 4;
		flex: 4;
	}
}

.selectable-list {
	margin-bottom: 0px;
	border: 1px solid rgba(172,177,214,0.3);

	input[type="checkbox"] {
    	display:none;
	}
	input[type="checkbox"] {
    	display: inline-block;
		width: 16px;
		height: 16px;
		background-color: #0dceb7;
	}

	input[type="checkbox"] + label span {
		display: inline-block;
		width: 16px;
		height: 16px;
		background-color: #0dceb7;
	    margin:-1px 4px 0 0;
	    vertical-align:middle;
	    cursor:pointer;
	}

	.header {
		background-color: initial;
		height: 82px;
		font-size: 13px;
		color: #bbbbbb;
		// padding-top: 5px;

		.search-bar {
			display: -webkit-flex;
			display: flex;
			border: none !important;
		    border-color: transparent !important;

			.search-icon {
				-webkit-flex: 1;
				flex: 1;
				padding: 7px;
			}

			.search-input {
				-webkit-flex: 15;
				flex: 15;
				border: none !important;
				border-color: transparent !important;
			}
		}

		.table-controls {
			display: -webkit-flex;
			display: flex;
			height: 34px;

			border-top: 1px solid rgba(172,177,214,0.3);
			border-bottom: 1px solid rgba(172,177,214,0.3);
			background-color: #fcfcfc;

			.select-all {
				-webkit-flex: 1;
				flex: 1;
				padding: 7px;
			}
			.name {
				-webkit-flex: 15;
				flex: 15;
				padding: 7px;
				text-align: left;
			}
		}
	}
	.body {
		height: 273px;
		background-color: #fcfcfc;
		display: block;

		.table-row {
			display: -webkit-flex;
			display: flex;

			.select {
				-webkit-flex: 1;
				flex: 1;
				padding: 7px;
			}
			.name {
				-webkit-flex: 15;
				flex: 15;
				padding: 7px;
				text-align: left;
				border-bottom: 1px solid rgba(172,177,214,0.3);
			}
		}
	}

	.list-group {
		height: 100%;
		margin-bottom: 0px;
		overflow: auto;
	}

	.list-group-item {
		border: none;
		border-bottom: 1px solid rgba(172,177,214,0.3);
		margin-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
		width: 95%;
	}

	.repo-name {
		margin-left: 10px;
	}

}
