// ----------------------------------------------------------------------------
// Bootstrap
// ----------------------------------------------------------------------------

b, strong {
	color: $text-strong-color;
}

.form-control {
	box-shadow: none;
	margin: 5px;
}

.email {
	width: 300px !important;
}

.btn {
	&.btn-primary,
	&.btn-secondary,
	&.btn-success,
	&.btn-info,
	&.btn-danger,
	&.btn-warning, {
		border: transparent 1px;
		&:focus {
			background-color: inherit;
		}
	}

	&.btn-primary {
		&:focus {
			background-color: $btn-primary-bg;
		}
	}
	&.btn-secondary {
		&:focus {
			background-color: $btn-secondary-bg;
		}
	}
	&.btn-success {
		&:focus {
			background-color: $btn-success-bg;
		}
	}
	&.btn-info {
		&:focus {
			background-color: $btn-info-bg;
		}
	}
	&.btn-danger {
		&:focus {
			background-color: $btn-danger-bg;
		}
	}
	&.btn-warning {
		&:focus {
			background-color: $btn-warning-bg;
		}
	}
	&.btn-default {
		&:hover {
			background-color: $btn-default-hover-bg;
			border-color: $btn-default-hover-color;
			color: $btn-default-hover-color;
		}
		&:focus {
			background-color: inherit;
		}
	}

	&:focus, &:active:focus {
		outline: none;
	}
}

.btn.btn-secondary {
	@include button-variant($white, $brand-secondary, darken($brand-secondary, 10%));
}

.open > .btn-default.dropdown-toggle {
	box-shadow: none;
	background-color: $btn-default-hover-bg;
	border-color: $btn-default-hover-color;
	color: $btn-default-hover-color;
	&:hover,
	&:focus {
		background-color: $btn-default-hover-bg;
		border-color: $btn-default-hover-color;
		color: $btn-default-hover-color;
	}
}

.btn-default.dropdown-toggle {
	&:focus {
		background-color: $btn-default-bg;
		border-color: $btn-default-color;
		color: $btn-default-dark;
	}
}

hr {
	margin-top: $font-size-base;
	margin-bottom: $font-size-base;
}

.modal-content {
	border: $content-border;
	@include box-shadow($panel-box-shadow);
}
