.person-settings.panel {
	.avatar {
		img {
			width: 64px;
			height: 64px;
		}
		button {
			vertical-align: top;
		}
	}

	input[type=submit] {
		float: right;
	}
}

.person-settings {
	margin: 20px;
	.sign-out-form {
		margin-top: -4px;
	}
}
