header.repo-build {
	h1 {
		display: inline-block;
		padding: $padding-large-vertical $padding-large-horizontal;
		font-size: $font-size-large;
		font-weight: normal;
		min-width: 180px;
		.number, .status { display: block; }
		.number {
			font-size: 2.4em;
			font-weight: bold;
			padding-bottom: 5px;
			text-align: center;
		}
	}
}

table.repo-build {
	th { width: 80px; }
}

.build-log {
	padding: $padding-base-vertical $padding-base-horizontal;
	font-size: $font-size-small;
	font-family: $font-family-monospace;
	color: #efefef;
	background-color: $gray-darker;
	white-space: pre-wrap;
	overflow: scroll;
	max-width: 100%;
}
