.navbar-header {
	$repo-text-color: #636363;
	.navbar-brand.repo {
		font-size: 1.4em;
		margin-right: 10px;
		.repo-attr-icon {
			font-size: 1.1em;
			color: $repo-text-color;
			margin-left: 1px;
			margin-right: 5px;
			vertical-align: middle;
			display: inline-block;
		}
	.repo-link {
		color: $repo-text-color;
	}
		.name {
			font-weight: bold;
		}
	}
}

.repo-rev-switcher {
	.search-section {
		padding: 0 5px;
		input {
				width: 100%;
				margin-bottom: -4px;
		}
	}
	.list-section {
		@include dropdown-list;
		max-height: 360px;
		overflow-y: scroll;
		a {
			cursor: pointer;
			&:hover {
				background-color: $light-blue;
			}
		}
	}
}

.current-rev > a {
	font-weight: bold !important;
	& > i.fa {
		padding-right: 3px;
		margin-left: -10px;
	}
}

.route-repo .subnav.repo .repo-link .name {
	font-weight: bold;
}

.route-repo {
	.panel-heading { font-weight: bold; }
	.panel-heading a { color: #222; }
}

.fork, .mirror {
	color: $gray-light;
}

// columns

div.repo-body {
	padding-top: 11px;

	&.repo-body-full-width {
		max-width: none;
	}

	.nav {
		a {
			color: $dark-blue;
		}
	}

	h1 {
		margin-top: 0;
	}

	& > .well {
		margin-top: 30px;
	}

	.repo-meta {
		margin-top: 0.75em;
		.description {
			font-size: $font-size-base * 1.05;
			color: $gray-dark;
		}
	}

	.clone-url-container {
		max-width: 30em;

		.clone-url-wrap {
			position: relative;
			float: right;
			padding: 2px;
		}

		.clone-copy {
			position: absolute;
			top: 3px;
			z-index: 3;
			padding: 1px 2px 0px 5px;
			right: 4px;
			border-radius: 0px 2px 2px 0px;
			width: 30px;
			height: 28px;
			padding-left: -8px;
		}

		.clone-type {
			position: absolute;
			left: -3px;
			z-index: 3;
			top: 2px;
			font-weight: bold;
			border-radius: 0;
			height: 30px;
			padding-top: 6px;
		}

		#clone-url-value {
			background-color: white;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-right: 33px;
			padding-left:  59px;
			width: auto;
			max-width: 30em;
		}
	}
}

.alert-container {
	padding: 0;
	margin-bottom: 14px;
	.alert-body {
		padding: ($alert-padding - 2px) $alert-padding;
		.btn {
			margin-right: 4px;
			font-weight: bold;
		}
		label {
			font-weight: normal;
		}
	}
	.alert-footer {
		background-color: $panel-footer-bg;
		border: solid 1px $table-border-color;
		border-top-width: 0;
		padding: $padding-small-vertical $alert-padding;
		color: $gray;
		font-size: $font-size-small;
	}
}
