
[data-react="sourcegraph/repo/RevSwitcherContainer"] {
	display: inline-block;
}

.repo-home {
	display: flex;
	flex-wrap: wrap;
}

.repo-rev-switcher {
	display: inline-block;
	padding-left: 10px;
	margin-top: -3px;
	.button {
		color: $btn-default-dark;
		font-weight: bold;
		&:not(&:hover) {
			.caret {
				color: $btn-default-color;
			}
		}
		padding: 2px 12px;
		label {
			margin-bottom: 0;
		}
	}

	.search-section {
		padding: 0 5px;
		input {
				width: 100%;
				margin-bottom: -4px;
		}
		.form-control {
			margin: 0;
		}
	}
	.list-section {
		@include dropdown-list;
		max-height: 360px;
		overflow-y: scroll;
		a {
			cursor: pointer;
		}

		li.disabled {
			a {
				color: #ccc;
				pointer-events: none;
			}
		}
	}
}

.current-rev > a {
	font-weight: bold !important;
	& > i.fa {
		padding-right: 3px;
		margin-left: -10px;
	}
}

.fork, .mirror {
	color: $gray-light;
}

// columns

div.repo-body {
	margin-top: 18px;

	h1 {
		margin-top: 0;
	}

	& > .well {
		margin-top: 30px;
	}

	.repo-meta {
		.description {
			font-size: $font-size-base;
			color: $heading-text-color;
			padding-top: $padding-small-vertical;
		}
	}
}

.alert-container {
	padding: 0;
	margin-bottom: 14px;
	.alert-body {
		padding: ($alert-padding - 2px) $alert-padding;
		.btn {
			margin-right: 4px;
			font-weight: bold;
		}
		label {
			font-weight: normal;
		}
	}
	.alert-footer {
		background-color: $panel-footer-bg;
		border: solid 1px $table-border-color;
		border-top-width: 0;
		padding: $padding-small-vertical $alert-padding;
		color: $gray;
		font-size: $font-size-small;
	}
}
