.sidebar {

	.list-group-heading {
		color: lighten($list-group-link-color, 20%);
		padding-left: 10px;
		text-transform: uppercase;
		font-weight: bold;
	}

	.list-group-item {
		& > a {
			display: block;
			text-decoration: none;
		}
		.count {
			margin-right: 8px;
		}

		&.active {
			background-color: $panel-default-heading-bg;
			border: none;
			border-radius: 0;
			&, a {
				color: $text-color;
				font-weight: bold;
			}
		}
	}

	.well {
		margin-top: 40px;
		color: $text-quieted;
		background: none;
		border: none;
	}
}

// .avatar-collage
.sidebar {
	.list-group-item {
		ul.people.avatar-tiles {
			opacity: 0.28;
			margin-top: 10px;
			li {
				padding: 0;
			}
			img.avatar {
				border-radius: 0;
			}
		}

		&:hover ul.people { opacity: inherit; }
	}
}
