.theme-default, .rendered-markdown code {
	color: $jet-black;
	.pln {
		color: $jet-black;
	}
	.str {
		color: $code-orange;
	}
	.kwd {
		color: $code-blue;
	}
	.com {
		color: $code-grey;
	}
	.typ {
		color: $code-violet;
	}
	.lit {
		color: $code-turquoise;
	}
	.pun, .opn, .clo {
		color: $dark-blue-grey;
	}
	.tag {
		color: $code-blue;
	}
	.atn {
		color: $jet-black;
	}
	.atv {
		color: $code-turquoise;
	}
	.dec, .var {
		color: $code-turquoise;
	}
	.fun {
		color: $code-pink;
	}

	.highlight-primary {
		background: $token-hover-color;
		outline: solid 3px $token-hover-color;
	}
}

pre.theme-default code {
	background-color: $white;
}
