.column {
    width: 12.5rem;
}

.header {
    color: var(--body-color) !important; // Override .web-content h3 + h4 color
}

.divider {
    border-color: var(--border-color-2);
}

.inactive-category {
    &:hover {
        background-color: var(--color-bg-2);
    }
}

.banner {
    margin-top: 2.25rem;
}

.banner-icon {
    height: 3.125rem;
    width: 3.5rem;
}
