.extensions-area {
    width: 100%;

    :global(.navbar-expand) {
        padding-bottom: 0;
        padding-top: 0.5rem;
    }
}

.content {
    height: 100%;
}

.title {
    text-decoration: none !important;
    color: var(--body-color);
}
