.trigger-button {
    display: flex;
    align-items: center;
    background-color: var(--input-bg);
    font-weight: normal;
    max-width: 22rem;

    &--text {
        display: flex;
        align-items: baseline;
        gap: 0.5rem;

        /*
            Without min-width with value, the flex child containing the other text elements
            won’t narrow past the “implied width” of those text elements.

            More info (https://css-tricks.com/flexbox-truncated-text/)
        */
        min-width: 0;
        white-space: nowrap;
        margin-right: 0.25rem;
    }

    &--icon {
        flex-shrink: 0;
        margin-left: auto;
        // Compensate inner view box SVG padding
        margin-right: -0.25rem;
        color: var(--icon-color);
    }
}

.badge {
    max-width: 8rem;
    flex-shrink: 0;
}

.popover {
    display: flex;
}

.combobox {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 25rem;
    min-width: 22rem;

    &-unchanged {
        [data-user-value] {
            font-weight: normal;
        }
    }

    &--input-container {
        padding: 0.5rem;
        position: sticky;
        top: 0;
        z-index: 1;
        border-bottom: 1px solid var(--border-color);
        background: var(--dropdown-bg);
    }

    &--input {
        font-size: 0.75rem;
        padding-bottom: 0.25rem;
    }

    &--list {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        @-moz-document url-prefix('') {
            scrollbar-width: thin;
            scrollbar-color: var(--text-muted);
        }
    }

    &--option-group {
        [data-group-heading] {
            position: sticky;
            top: calc(-0.25rem - 1px);
            background-color: var(--body-bg);
        }
    }

    &--option {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        gap: 0.5rem;
        padding-left: 1rem;

        &[data-highlighted] {
            /* Badge-secondary variant for improved contrast when background color changes */
            .badge {
                background-color: var(--color-bg-1);
                border-color: var(--color-bg-1);
            }
        }

        &-selected {
            background-color: var(--color-bg-3);

            /* Badge-secondary variant for improved contrast when background color changes */
            .badge {
                background-color: var(--color-bg-1);
                border-color: var(--color-bg-1);
            }
        }
    }
}

.no-results-found {
    display: flex;
    align-items: baseline;
    padding: 0.25rem 1rem;
}

.limited-access {
    background: linear-gradient(90.64deg, rgba(228, 211, 252, 0.25) 3.11%, rgba(215, 240, 253, 0.25) 83.64%);
    padding: 0.5rem;
    margin: 0.5rem 0.75rem;
    border-radius: 0.25rem;

    h3 {
        margin-bottom: 0.25rem;
        color: var(--purple);
        text-transform: uppercase;
        font-size: 0.6875rem;
        font-weight: 500;
    }

    p {
        margin: 0;
        font-size: 0.75rem;
    }
}
