---
version: 1
interactions:
- request:
    body: '{"name":"web","config":{"url":"https://target-url.com/github-webhooks","content_type":"json","secret":"secret","insecure_ssl":"0","token":""},"events":["push"],"active":true,"url":""}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: POST
  response:
    body: '{"type":"Repository","id":110,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-25T10:50:20Z","created_at":"2022-07-25T10:50:20Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/110","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/110/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/110/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/110/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fe77f46040fa2c2b0a95ba1b032b88e5870cd04081dbac9a02601d2662915336"'
      Location:
      - https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/110
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: GET
  response:
    body: '[{"type":"Repository","id":110,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-25T10:50:20Z","created_at":"2022-07-25T10:50:20Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/110","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/110/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/110/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/110/deliveries","last_response":{"code":500,"status":"hookshot_error","message":"no
      such host"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bd1edca37728e93e4a1b6a158492efde578445bf488d42c05f42e825b818975e"
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '""'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/110
    method: DELETE
  response:
    body: ""
    headers:
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"name":"web","config":{"url":"https://target-url.com/github-webhooks","content_type":"json","secret":"secret","insecure_ssl":"0","token":""},"events":["push"],"active":true,"url":""}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sd9/sourcegraph/hooks
    method: POST
  response:
    body: '{"type":"Repository","id":370463037,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-25T10:50:21Z","created_at":"2022-07-25T10:50:21Z","url":"https://api.github.com/repos/sd9/sourcegraph/hooks/370463037","test_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/370463037/test","ping_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/370463037/pings","deliveries_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/370463037/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bad7dfff0875208d8453033782e645345d1051a040e18125af6e37e987b13499"'
      Location:
      - https://api.github.com/repos/sd9/sourcegraph/hooks/370463037
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4999"
      X-Ratelimit-Reset:
      - "1658749821"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "1"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sd9/sourcegraph/hooks
    method: GET
  response:
    body: '[{"type":"Repository","id":370463037,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-25T10:50:21Z","created_at":"2022-07-25T10:50:21Z","url":"https://api[...]
- request:
    body: '""'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sd9/sourcegraph/hooks/370463037
    method: DELETE
  response:
    body: ""
    headers:
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4997"
      X-Ratelimit-Reset:
      - "1658749821"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "3"
    status: 204 No Content
    code: 204
    duration: ""
