---
version: 1
interactions:
- request:
    body: '{"name":"web","config":{"url":"https://target-url.com/github-webhooks","content_type":"json","secret":"secret","insecure_ssl":"0","token":""},"events":["push"],"active":true,"url":""}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: POST
  response:
    body: '{"type":"Repository","id":91,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-21T00:21:35Z","created_at":"2022-07-21T00:21:35Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/91","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/91/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/91/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/91/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"65da02195c287a3f0ebfec0a330672e5b242e8411bd5d0903b6828c87d04d788"'
      Location:
      - https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/91
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: GET
  response:
    body: '[{"type":"Repository","id":91,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-21T00:21:35Z","created_at":"2022-07-21T00:21:35Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/91","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/91/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/91/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/91/deliveries","last_response":{"code":500,"status":"hookshot_error","message":"no
      such host"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0ed30c53de173a7ba9e0e1c22800a5c44400144c10d76934a4ab1ebb6c370b58"
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '""'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/91
    method: DELETE
  response:
    body: ""
    headers:
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 204 No Content
    code: 204
    duration: ""
