---
version: 1
interactions:
- request:
    body: '{"name":"web","config":{"url":"https://target-url.com/github-webhooks","content_type":"json","secret":"secret","insecure_ssl":"0","token":""},"events":["push"],"active":true,"url":""}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sd9/sourcegraph/hooks
    method: POST
  response:
    body: '{"type":"Repository","id":369938390,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-22T04:31:01Z","created_at":"2022-07-22T04:31:01Z","url":"https://api.github.com/repos/sd9/sourcegraph/hooks/369938390","test_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/369938390/test","ping_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/369938390/pings","deliveries_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/369938390/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bafd85013c06fab006337eea74ccf06631234ac99a752255829d2103eb7f92fd"'
      Location:
      - https://api.github.com/repos/sd9/sourcegraph/hooks/369938390
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4999"
      X-Ratelimit-Reset:
      - "1658467861"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "1"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sd9/sourcegraph/hooks
    method: GET
  response:
    body: '[{"type":"Repository","id":369938390,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-22T04:31:01Z","created_at":"2022-07-22T04:31:01Z","url":"https://api.github.com/repos/sd9/sourcegraph/hooks/369938390","test_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/369938390/test","ping_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/369938390/pings","deliveries_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/369938390/deliveries","last_response":{"code":null,"status":"unused","message":null}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44e1fc5203ac96181d6e297ee631de184eb7cf857a35af23ba7f4117e7a8f2e3"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4998"
      X-Ratelimit-Reset:
      - "1658467861"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "2"
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '""'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sd9/sourcegraph/hooks/369938390
    method: DELETE
  response:
    body: ""
    headers:
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4997"
      X-Ratelimit-Reset:
      - "1658467861"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "3"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"name":"web","config":{"url":"https://target-url.com/github-webhooks","content_type":"json","secret":"secret","insecure_ssl":"0","token":""},"events":["push"],"active":true,"url":""}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: POST
  response:
    body: '{"type":"Repository","id":109,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-22T04:31:03Z","created_at":"2022-07-22T04:31:03Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/109","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/109/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/109/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/109/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"82f3e73da8ad472e6637d8cd06c47b313bfa73144b2b1ee90b1da52253e9e768"'
      Location:
      - https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/109
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: GET
  response:
    body: '[{"type":"Repository","id":109,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-22T04:31:03Z","created_at":"2022-07-22T04:31:03Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/109","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/109/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/109/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/109/deliveries","last_response":{"code":500,"status":"hookshot_error","message":"no
      such host"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e4de616564bfbbb8e502bd266c813f0c0aba3e2b1c0c34db31eb51f195f64526"
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '""'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/109
    method: DELETE
  response:
    body: ""
    headers:
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 204 No Content
    code: 204
    duration: ""
