---
version: 1
interactions:
- request:
    body: '{"name":"web","config":{"url":"https://target-url.com/github-webhooks","content_type":"json","secret":"secret","insecure_ssl":"0","token":""},"events":["push"],"active":true,"url":""}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sd9/sourcegraph/hooks
    method: POST
  response:
    body: '{"type":"Repository","id":370632035,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-26T09:31:26Z","created_at":"2022-07-26T09:31:26Z","url":"https://api.github.com/repos/sd9/sourcegraph/hooks/370632035","test_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/370632035/test","ping_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/370632035/pings","deliveries_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/370632035/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"798250f0e0d3bcf1bd7b25cbaeda84db9ba111ac56b3cf3428ded3afb4edd82c"'
      Location:
      - https://api.github.com/repos/sd9/sourcegraph/hooks/370632035
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4999"
      X-Ratelimit-Reset:
      - "1658831486"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "1"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sd9/sourcegraph/hooks
    method: GET
  response:
    body: '[{"type":"Repository","id":370632035,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-26T09:31:26Z","created_at":"2022-07-26T09:31:26Z","url":"https://api.github.com/repos/sd9/sourcegraph/hooks/370632035","test_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/370632035/test","ping_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/370632035/pings","deliveries_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/370632035/deliveries","last_response":{"code":null,"status":"unused","message":null}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"135a619612af379ae98992f994589c539d5dffd6d6ba8d4184758d59f80cac15"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4998"
      X-Ratelimit-Reset:
      - "1658831486"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "2"
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sd9/sourcegraph/hooks/370632035
    method: DELETE
  response:
    body: ""
    headers:
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4997"
      X-Ratelimit-Reset:
      - "1658831486"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "3"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"name":"web","config":{"url":"https://target-url.com/github-webhooks","content_type":"json","secret":"secret","insecure_ssl":"0","token":""},"events":["push"],"active":true,"url":""}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: POST
  response:
    body: '{"type":"Repository","id":111,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-26T09:31:28Z","created_at":"2022-07-26T09:31:28Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/111","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/111/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/111/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/111/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2ace0fea4756107795a81e0af23435ddd13cf34c25bbd5465245d629d89018ca"'
      Location:
      - https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/111
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: GET
  response:
    body: '[{"type":"Repository","id":111,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-26T09:31:28Z","created_at":"2022-07-26T09:31:28Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/111","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/111/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/111/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/111/deliveries","last_response":{"code":500,"status":"hookshot_error","message":"no
      such host"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fbbfd944c0df93316a110eb55cf449653febc1f0114cca85687beacb7dfd7b61"
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/111
    method: DELETE
  response:
    body: ""
    headers:
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 204 No Content
    code: 204
    duration: ""
