---
version: 1
interactions:
- request:
    body: '{"name":"web","config":{"url":"https://target-url.com/github-webhooks","content_type":"json","secret":"secret","insecure_ssl":"0","token":""},"events":["push"],"active":true,"url":""}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sd9/sourcegraph/hooks
    method: POST
  response:
    body: '{"type":"Repository","id":369840388,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-21T14:55:05Z","created_at":"2022-07-21T14:55:05Z","url":"https://api.github.com/repos/sd9/sourcegraph/hooks/369840388","test_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/369840388/test","ping_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/369840388/pings","deliveries_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/369840388/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8d9f02882b365ecbeff3d22be9afe9b8bad64af60b696ec24cd3826bc420ba62"'
      Location:
      - https://api.github.com/repos/sd9/sourcegraph/hooks/369840388
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4999"
      X-Ratelimit-Reset:
      - "1658418905"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "1"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sd9/sourcegraph/hooks
    method: GET
  response:
    body: '[{"type":"Repository","id":369840388,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-21T14:55:05Z","created_at":"2022-07-21T14:55:05Z","url":"https://api.github.com/repos/sd9/sourcegraph/hooks/369840388","test_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/369840388/test","ping_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/369840388/pings","deliveries_url":"https://api.github.com/repos/sd9/sourcegraph/hooks/369840388/deliveries","last_response":{"code":null,"status":"unused","message":null}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8ec45d9de656549ce9b3867278b70af4dfee0bdd9135f15f1fcc37bedba9d8ec"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4998"
      X-Ratelimit-Reset:
      - "1658418905"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "2"
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '""'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sd9/sourcegraph/hooks/369840388
    method: DELETE
  response:
    body: ""
    headers:
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4997"
      X-Ratelimit-Reset:
      - "1658418905"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "3"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"name":"web","config":{"url":"https://target-url.com/github-webhooks","content_type":"json","secret":"secret","insecure_ssl":"0","token":""},"events":["push"],"active":true,"url":""}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: POST
  response:
    body: '{"type":"Repository","id":108,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-21T14:55:07Z","created_at":"2022-07-21T14:55:07Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/108","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/108/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/108/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/108/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"04f7a1ae8725f6e1072e13b8292d8bf844df11e8f8434cd5da18455c826d346c"'
      Location:
      - https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/108
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: GET
  response:
    body: '[{"type":"Repository","id":108,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-21T14:55:07Z","created_at":"2022-07-21T14:55:07Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/108","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/108/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/108/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/108/deliveries","last_response":{"code":500,"status":"hookshot_error","message":"no
      such host"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c0a03ccc1e71e4311d2c1c769e2d31c3fc99b8d342759a7cc9b29f7d705ffa8f"
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '""'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/108
    method: DELETE
  response:
    body: ""
    headers:
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 204 No Content
    code: 204
    duration: ""
