---
version: 1
interactions:
- request:
    body: '{"name":"web","config":{"url":"https://target-url.com/github-webhooks","content_type":"json","secret":"secret","insecure_ssl":"0","token":""},"events":["push"],"active":true,"url":""}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: POST
  response:
    body: '{"type":"Repository","id":107,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-21T01:02:13Z","created_at":"2022-07-21T01:02:13Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/107","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/107/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/107/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/107/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"431794567b4ada35220fad33af0155af87d0fdd7ccbeb0767dd9d9c40d474e1e"'
      Location:
      - https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/107
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: GET
  response:
    body: '[{"type":"Repository","id":107,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://target-url.com/github-webhooks"},"updated_at":"2022-07-21T01:02:13Z","created_at":"2022-07-21T01:02:13Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/107","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/107/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/107/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/107/deliveries","last_response":{"code":500,"status":"hookshot_error","message":"no
      such host"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e609d8be5bfb61a662b9db2b1b6dfa1e4e6779392f52c5129c26693344d27385"
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '""'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/107
    method: DELETE
  response:
    body: ""
    headers:
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 204 No Content
    code: 204
    duration: ""
