---
version: 1
interactions:
- request:
    body: '{"query":"\nmutation CreatePullRequestComment($input: AddCommentInput!)
      {\n  addComment(input: $input) {\n    subject { id }\n  }\n}\n","variables":{"input":{"subjectId":"MDExOlB1bGxSZXF1ZXN0MzQxMDU5OTY5","body":"test-comment"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"addComment":{"subject":{"id":"MDExOlB1bGxSZXF1ZXN0MzQxMDU5OTY5"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; param=antiope-preview; format=json
      X-Oauth-Scopes:
      - read:discussion, read:org, repo, workflow
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4987"
      X-Ratelimit-Reset:
      - "1618450390"
      X-Ratelimit-Used:
      - "13"
    status: 200 OK
    code: 200
    duration: ""
