---
version: 1
interactions:
- request:
    body: '{"query":"\nmutation CreatePullRequestComment($input: AddCommentInput!)
      {\n  addComment(input: $input) {\n    subject { id }\n  }\n}\n","variables":{"input":{"subjectId":"MDExOlB1bGxSZXF1ZXN0MzQxMDU5OTY5","body":"test-comment"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"addComment":{"subject":{"id":"MDExOlB1bGxSZXF1ZXN0MzQxMDU5OTY5"}}},"extensions":{"warnings":[{"type":"DEPRECATION","message":"The
      id MDExOlB1bGxSZXF1ZXN0MzQxMDU5OTY5 is deprecated. Update your cache to use
      the next_global_id from the data payload.","data":{"legacy_global_id":"MDExOlB1bGxSZXF1ZXN0MzQxMDU5OTY5","next_global_id":"PR_kwDODS5xec4UVCmB"},"link":"https://docs.github.com"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v4; param=antiope-preview; format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4913"
      X-Ratelimit-Reset:
      - "1687551677"
      X-Ratelimit-Resource:
      - graphql
      X-Ratelimit-Used:
      - "87"
    status: 200 OK
    code: 200
    duration: ""
