---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/orgs?per_page=100
    method: GET
  response:
    body: '[{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","url":"https://api.github.com/orgs/sourcegraph","repos_url":"https://api.github.com/orgs/sourcegraph/repos","events_url":"https://api.github.com/orgs/sourcegraph/events","hooks_url":"https://api.github.com/orgs/sourcegraph/hooks","issues_url":"https://api.github.com/orgs/sourcegraph/issues","members_url":"https://api.github.com/orgs/sourcegraph/members{/member}","public_members_url":"https://api.github.com/orgs/sourcegraph/public_members{/member}","avatar_url":"https://avatars0.githubusercontent.com/u/3979584?v=4","description":"Code
      search and navigation for teams (self-hosted, OSS)"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"975d662cadf693f37bac91da3f47130e"
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; format=json,
        github.machine-man-preview; format=json
      X-Oauth-Scopes:
      - read:org, repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4998"
      X-Ratelimit-Reset:
      - "1580893526"
    status: 200 OK
    code: 200
    duration: ""
