---
version: 1
interactions:
- request:
    body: '{"query":"query GetAuthenticatedUser {\n    viewer {\n        login\n        avatarUrl\n        url\n    }\n}","variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"viewer":{"login":"eseliger","avatarUrl":"https://avatars.githubusercontent.com/u/19534377?v=4","url":"https://github.com/eseliger"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; param=antiope-preview; format=json
      X-Oauth-Scopes:
      - read:discussion, read:org, repo, workflow
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4994"
      X-Ratelimit-Reset:
      - "1618276660"
      X-Ratelimit-Used:
      - "6"
    status: 200 OK
    code: 200
    duration: ""
