---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/orgs?per_page=100
    method: GET
  response:
    body: '[{"login":"mesos","id":229272,"node_id":"MDEyOk9yZ2FuaXphdGlvbjIyOTI3Mg==","url":"https://api.github.com/orgs/mesos","repos_url":"https://api.github.com/orgs/mesos/repos","events_url":"https://api.github.com/orgs/mesos/events","hooks_url":"https://api.github.com/orgs/mesos/hooks","issues_url":"https://api.github.com/orgs/mesos/issues","members_url":"https://api.github.com/orgs/mesos/members{/member}","public_members_url":"https://api.github.com/orgs/mesos/public_members{/member}","avatar_url":"https://avatars2.githubusercontent.com/u/229272?v=4","description":"DISCLAIMER:
      The Apache Software Foundation does not govern or endorse repositories within
      this organization"},{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","url":"https://api.github.com/orgs/sourcegraph","repos_url":"https://api.github.com/orgs/sourcegraph/repos","events_url":"https://api.github.com/orgs/sourcegraph/events","hooks_url":"https://api.github.com/orgs/sourcegraph/hooks","issues_url":"https://api.github.com/orgs/sourcegraph/issues","mem[...]
