---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/orgs?per_page=100&page=1
    method: GET
  response:
    body: '[{"login":"sgtest","id":5858054,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU4NTgwNTQ=","url":"https://api.github.com/orgs/sgtest","repos_url":"https://api.github.com/orgs/sgtest/repos","events_url":"https://api.github.com/orgs/sgtest/events","hooks_url":"https://api.github.com/orgs/sgtest/hooks","issues_url":"https://api.github.com/orgs/sgtest/issues","members_url":"https://api.github.com/orgs/sgtest/members{/member}","public_members_url":"https://api.github.com/orgs/sgtest/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/5858054?v=4","description":null},{"login":"sourcegraph-vcr-repos","id":65169595,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY1MTY5NTk1","url":"https://api.github.com/orgs/sourcegraph-vcr-repos","repos_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/repos","events_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/events","hooks_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/hooks","issues_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/issues","members_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/members{/member}","public_members_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/65169595?v=4","description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a68debe1eca2c4d713ad05cdb022245fe5808f74b9f8ad65df72deefbee9a86d"
      Github-Authentication-Token-Expiration:
      - 2022-03-17 18:41:55 UTC
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Oauth-Scopes:
      - read:org, repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4999"
      X-Ratelimit-Reset:
      - "1647061375"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
