---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sourcegraph
    method: GET
  response:
    body: '{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","url":"https://api.github.com/orgs/sourcegraph","repos_url":"https://api.github.com/orgs/sourcegraph/repos","events_url":"https://api.github.com/orgs/sourcegraph/events","hooks_url":"https://api.github.com/orgs/sourcegraph/hooks","issues_url":"https://api.github.com/orgs/sourcegraph/issues","members_url":"https://api.github.com/orgs/sourcegraph/members{/member}","public_members_url":"https://api.github.com/orgs/sourcegraph/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/3979584?v=4","description":"Code
      search and navigation for teams (self-hosted, OSS)","name":"Sourcegraph","company":null,"blog":"https://sourcegraph.com","location":null,"email":"hi@sourcegraph.com","twitter_username":null,"is_verified":true,"has_organization_projects":true,"has_repository_projects":true,"public_repos":372,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/sourcegraph","created_at":"2013-03-26T22:29:42Z","updated_at":"2021-08-04T20:09:10Z","type":"Organization"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7af3f7bc40365920c1df783e28e66aeb9f5b6eab03703ec1b6e46b54b5a23861"
      Last-Modified:
      - Wed, 04 Aug 2021 20:09:10 GMT
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4982"
      X-Ratelimit-Reset:
      - "1629925059"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "18"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sourcegraph-vcr
    method: GET
  response:
    body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/orgs#get-an-organization"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4981"
      X-Ratelimit-Reset:
      - "1629925059"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "19"
    status: 404 Not Found
    code: 404
    duration: ""
