---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sourcegraph-vcr-repos/repos?sort=created&page=1&per_page=100&type=
    method: GET
  response:
    body: '[{"id":263034151,"node_id":"MDEwOlJlcG9zaXRvcnkyNjMwMzQxNTE=","name":"private-org-repo-1","full_name":"sourcegraph-vcr-repos/private-org-repo-1","private":true,"owner":{"login":"sourcegraph-vcr-repos","id":65169595,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY1MTY5NTk1","avatar_url":"https://avatars.githubusercontent.com/u/65169595?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph-vcr-repos","html_url":"https://github.com/sourcegraph-vcr-repos","followers_url":"https://api.github.com/users/sourcegraph-vcr-repos/followers","following_url":"https://api.github.com/users/sourcegraph-vcr-repos/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph-vcr-repos/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph-vcr-repos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph-vcr-repos/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph-vcr-repos/orgs","repos_url":"https://api.github.com/users/sourcegraph-vcr-repos/repos","events_url":"https://api.github.com/users/sourcegraph-vcr-repos/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph-vcr-repos/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/sourcegraph-vcr-repos/private-org-repo-1","description":null,"fork":false,"url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1","forks_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/forks","keys_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/keys{/key_id}","collaborators_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/teams","hooks_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/hooks","issue_events_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/issues/events{/number}","events_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/events","assignees_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/assignees{/user}","branches_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/branches{/branch}","tags_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/tags","blobs_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/git/refs{/sha}","trees_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/git/trees{/sha}","statuses_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/statuses/{sha}","languages_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/languages","stargazers_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/stargazers","contributors_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/contributors","subscribers_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/subscribers","subscription_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/subscription","commits_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/commits{/sha}","git_commits_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/git/commits{/sha}","comments_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/comments{/number}","issue_comment_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/issues/comments{/number}","contents_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/contents/{+path}","compare_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/compare/{base}...{head}","merges_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/merges","archive_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/downloads","issues_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/issues{/number}","pulls_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/pulls{/number}","milestones_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/milestones{/number}","notifications_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/labels{/name}","releases_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/releases{/id}","deployments_url":"https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/deployments","created_at":"2020-05-11T12:20:32Z","updated_at":"2020-05-11T12:20:42Z","pushed_at":"2020-05-11T12:20:40Z","git_url":"git://github.com/sourcegraph-vcr-repos/private-org-repo-1.git","ssh_url":"git@github.com:sourcegraph-vcr-repos/private-org-repo-1.git","clone_url":"https://github.com/sourcegraph-vcr-repos/private-org-repo-1.git","svn_url":"https://github.com/sourcegraph-vcr-repos/private-org-repo-1","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"bsd-2-clause","name":"BSD
      2-Clause \"Simplified\" License","spdx_id":"BSD-2-Clause","url":"https://api.github.com/licenses/bsd-2-clause","node_id":"MDc6TGljZW5zZTQ="},"topics":[],"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true}},{"id":263033761,"node_id":"MDEwOlJlcG9zaXRvcnkyNjMwMzM3NjE=","name":"public-org-repo-1","full_name":"sourcegraph-vcr-repos/public-org-repo-1","private":false,"owner":{"login":"sourcegraph-vcr-repos","id":65169595,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY1MTY5NTk1","avatar_url":"https://avatars.githubusercontent.com/u/65169595?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph-vcr-repos","html_url":"https://github.com/sourcegraph-vcr-repos","followers_url":"https://api.github.c[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sourcegraph-vcr-repos/repos?sort=created&page=2&per_page=100&type=
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4140b9aeab0aa5805b9a90fe57ccc900c66b631ae2394de0e2238301e85bcb43"'
      Link:
      - <https://api.github.com/organizations/65169595/repos?sort=created&page=1&per_page=100&type=>;
        rel="prev", <https://api.github.com/organizations/65169595/repos?sort=created&page=1&per_page=100&type=>;
        rel="last", <https://api.github.com/organizations/65169595/repos?sort=created&page=1&per_page=100&type=>;
        rel="first"
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4974"
      X-Ratelimit-Reset:
      - "1629906603"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "26"
    status: 200 OK
    code: 200
    duration: ""
