---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/organizations?since=0&per_page=100
    method: GET
  response:
    body: '[{"login":"sourcegraph","id":4,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ=","url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph","repos_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph/repos","events_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph/events","hooks_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph/hooks","issues_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph/issues","members_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph/members{/member}","public_members_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph/public_members{/member}","avatar_url":"https://ghe.sgdev.org/avatars/u/4?","description":null},{"login":"sourcegraph-c","id":10,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEw","url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph-c","repos_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph-c/repos","events_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph-c/events","hooks_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph-c/hooks","issues_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph-c/issues","members_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph-c/members{/member}","public_mem[...]
[...]
