---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/collaborators?page=1&per_page=100
    method: GET
  response:
    body: '[{"login":"sourcegraph-dogfood-user","id":39098008,"node_id":"MDQ6VXNlcjM5MDk4MDA4","avatar_url":"https://avatars2.githubusercontent.com/u/39098008?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph-dogfood-user","html_url":"https://github.com/sourcegraph-dogfood-user","followers_url":"https://api.github.com/users/sourcegraph-dogfood-user/followers","following_url":"https://api.github.com/users/sourcegraph-dogfood-user/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph-dogfood-user/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph-dogfood-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph-dogfood-user/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph-dogfood-user/orgs","repos_url":"https://api.github.com/users/sourcegraph-dogfood-user/repos","events_url":"https://api.github.com/users/sourcegraph-dogfood-user/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph-dogfood-user/received_events","type":"User","site_admin":false,"permissions":{"admin":false,"push":false,"pull":true}},{"login":"sourcegraph-vcr","id":63290851,"node_id":"MDQ6VXNlcjYzMjkwODUx","avatar_url":"https://avatars3.githubusercontent.com/u/63290851?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph-vcr","html_url":"https://github.com/sourcegraph-vcr","followers_url":"https://api.github.com/users/sourcegraph-vcr/followers","following_url":"https://api.github.com/users/sourcegraph-vcr/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph-vcr/gists{/gist_id}[...]
