---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/search/repositories?page=1&per_page=100&q=org%3Asourcegraph-vcr-repos
    method: GET
  response:
    body: '{"total_count":1,"incomplete_results":false,"items":[{"id":263033761,"node_id":"MDEwOlJlcG9zaXRvcnkyNjMwMzM3NjE=","name":"public-org-repo-1","full_name":"sourcegraph-vcr-repos/public-org-repo-1","private":false,"owner":{"login":"sourcegraph-vcr-repos","id":65169595,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY1MTY5NTk1","avatar_url":"https://avatars.githubusercontent.com/u/65169595?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph-vcr-repos","html_url":"https://github.com/sourcegraph-vcr-repos","followers_url":"https://api.github.com/users/sourcegraph-vcr-repos/followers","following_url":"https://api.github.com/users/sourcegraph-vcr-repos/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph-vcr-repos/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph-vcr-repos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph-vcr-repos/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph-vcr-repos/orgs","repos_url":"https://api.github.com/users/sourcegraph-vcr-repos/repos","events_url":"https://api.github.com/users/sourcegraph-vcr-repos/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph-vcr-repos/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/sourcegraph-vcr-repos/public-org-repo-1","description":null,"fork":false,"url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1","forks_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/forks","keys_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/keys{/key_id}","collaborators_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/teams","hooks_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/hooks","issue_events_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/issues/events{/number}","events_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/events","assignees_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/assignees{/user}","branches_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/branches{/branch}","tags_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/tags","blobs_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/git/refs{/sha}","trees_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/git/trees{/sha}","statuses_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/statuses/{sha}","languages_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/languages","stargazers_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/stargazers","contributors_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/contributors","subscribers_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/subscribers","subscription_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/subscription","commits_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/commits{/sha}","git_commits_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/git/commits{/sha}","comments_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/comments{/number}","issue_comment_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/issues/comments{/number}","contents_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/contents/{+path}","compare_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/compare/{base}...{head}","merges_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/merges","archive_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/downloads","issues_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/issues{/number}","pulls_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/pulls{/number}","milestones_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/milestones{/number}","notifications_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/labels{/name}","releases_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/releases{/id}","deployments_url":"https://api.github.com/repos/sourcegraph-vcr-repos/public-org-repo-1/deployments","created_at":"2020-05-11T12:18:50Z","updated_at":"2020-05-11T12:19:16Z","pushed_at":"2020-05-11T12:18:51Z","git_url":"git://github.com/sourcegraph-vcr-repos/public-org-repo-1.git","ssh_url":"git@github.com:sourcegraph-vcr-repos/public-org-repo-1.git","clone_url":"https://github.com/sourcegraph-vcr-repos/public-org-repo-1.git","svn_url":"https://github.com/sourcegraph-vcr-repos/public-org-repo-1","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
      License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":true},"score":1.0}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Api-Version-Selected:
      - "2022-11-28"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "30"
      X-Ratelimit-Remaining:
      - "29"
      X-Ratelimit-Reset:
      - "1700141638"
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - "1"
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
