---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/teams?page=1&per_page=100
    method: GET
  response:
    body: '[{"name":"private-access","id":3878345,"node_id":"MDQ6VGVhbTM4NzgzNDU=","slug":"private-access","description":"","privacy":"closed","url":"https://api.github.com/organizations/65169595/team/3878345","html_url":"https://github.com/orgs/sourcegraph-vcr-repos/teams/private-access","members_url":"https://api.github.com/organizations/65169595/team/3878345/members{/member}","repositories_url":"https://api.github.com/organizations/65169595/team/3878345/repos","permission":"pull","permissions":{"pull":true,"triage":false,"push":false,"maintain":false,"admin":false},"parent":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bf35402c1af48970708ad1dd71de0ffd4bedc9a45314a37a9d4204ca60bda701"
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4964"
      X-Ratelimit-Reset:
      - "1629906603"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "36"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph-vcr-repos/private-org-repo-1/teams?page=2&per_page=100
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4140b9aeab0aa5805b9a90fe57ccc900c66b631ae2394de0e2238301e85bcb43"'
      Link:
      - <https://api.github.com/repositories/263034151/teams?page=1&per_page=100>;
        rel="prev", <https://api.github.com/repositories/263034151/teams?page=1&per_page=100>;
        rel="last", <https://api.github.com/repositories/263034151/teams?page=1&per_page=100>;
        rel="first"
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4963"
      X-Ratelimit-Reset:
      - "1629906603"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "37"
    status: 200 OK
    code: 200
    duration: ""
