---
version: 1
interactions:
- request:
    body: '{"query":"\n\t  query($name: String!, $owner: String!, $after: String,
      $first: Int!) {\n\t\trepository(name: $name, owner: $owner) {\n\t\t  defaultBranchRef
      {\n\t\t\ttarget {\n\t\t\t  ... on Commit {\n\t\t\t\thistory(after: $after, first:
      $first) {\n\t\t\t\t  pageInfo { hasNextPage, endCursor }\n\t\t\t\t  nodes {\n\t\t\t\t\tauthors(first:
      50) {\n\t\t\t\t\t  nodes {\n\t\t\t\t\t\temail\n\t\t\t\t\t\tname\n\t\t\t\t\t\tuser
      {\n\t\t\t\t\t\t\tlogin\n\t\t\t\t\t\t}\n\t\t\t\t\t\tavatarUrl\n\t\t\t\t\t\tdate\n\t\t\t\t\t  }\n\t\t\t\t\t}\n\t\t\t\t  }\n\t\t\t\t}\n\t\t\t  }\n\t\t\t}\n\t\t  }\n\t\t}\n\t  }\n\t","variables":{"first":100,"name":"etcd","owner":"sourcegraph-testing"}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repository":{"defaultBranchRef":{"target":{"history":{"pageInfo":{"hasNextPage":true,"endCursor":"461eb90e5e85791f08332657dfdfa1a60677edf5
      99"},"nodes":[{"authors":{"nodes":[{"email":"eric@eric-fritz.com","name":"Eric
      Fritz","user":{"login":"efritz"},"avatarUrl":"https://avatars.githubusercontent.com/u/103087?v=4","date":"2021-05-12T18:17:49-05:00"}]}},{"authors":{"nodes":[{"email":"eric@eric-fritz.com","name":"Eric
      Fritz","user":{"login":"efritz"},"avatarUrl":"https://avatars.githubusercontent.com/u/103087?v=4","date":"2021-05-12T17:42:19-05:00"}]}},{"authors":{"nodes":[{"email":"eric@eric-fritz.com","name":"Eric
      Fritz","user":{"login":"efritz"},"avatarUrl":"https://avatars.githubusercontent.com/u/103087?v=4","date":"2021-05-12T17:38:55-05:00"}]}},{"authors":{"nodes":[{"email":"mrnugget@gmail.com","[...]
