---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/meta
    method: GET
  response:
    body: <html><body>You are being <a href="https://ghe.sgdev.org/login?return_to=https%3A%2F%2Fghe.sgdev.org%2Fapi%2Fmeta">redirected</a>.</body></html>
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://ghe.sgdev.org/login?return_to=https%3A%2F%2Fghe.sgdev.org%2Fapi%2Fmeta
      Status:
      - 302 Found
    status: 302 Found
    code: 302
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/login?return_to=https%3A%2F%2Fghe.sgdev.org%2Fapi%2Fmeta
    method: GET
  response:
    body: "\n\n\n\n<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n\n\n\n
      \ <link crossorigin=\"use-credentials\" media=\"all\" integrity=\"sha512-jFUBCdWOA1Ov3xo3oFMBwsdP4Up2K1bRnP4QYI5WqvpaIYxWVek89k2M0oyTbNhYMViGtxJB3Vdwcw8ln8hGQw==\"
      rel=\"stylesheet\" href=\"https://ghe.sgdev.org/assets/frameworks-8c550109d58e0353afdf1a37a05301c2.css\"
      />\n  <link crossorigin=\"use-credentials\" media=\"all\" integrity=\"sha512-d8tnxebCP3jW0DJ3E/CIxAfZO2DHR3H4J+hsV7zj/WJ6Sgbb9kpbCwvcjO3mwjFcfB9zax/eM4AGVGnSN/voXw==\"
      rel=\"stylesheet\" href=\"https://ghe.sgdev.org/assets/site-77cb67c5e6c23f78d6d0327713f088c4.css\"
      />\n    <link crossorigin=\"use-credentials\" media=\"all\" integrity=\"sha512-bD23ylMqNMwsN738nmXqC7WKj68pszUlu8+ixC+x0IbvmB0H8N0HP2VGbBRiq7dsdk84QV0UGvmXSv/SrNqmyQ==\"
      rel=\"stylesheet\" href=\"https://ghe.sgdev.org/assets/github-6c3db7ca532a34cc2c37bdfc9e65ea0b.css\"
      />\n    \n    \n    \n    \n\n\n  <meta name=\"viewport\" content=\"width=device-width\">\n
      \ \n  <title>Sign in to your account · GitHub</title>\n    <meta name=\"description\"
      content=\"GitHub is where people build software. More than 50 million people
      use GitHub to discover, fork, and contribute to over 100 million projects.\">\n
      \   <link rel=\"search\" type=\"application/opensearchdescription+xml\" href=\"/opensearch.xml\"
      title=\"GitHub\">\n  <link rel=\"fluid-icon\" href=\"https://ghe.sgdev.org/fluidicon.png\"
      title=\"GitHub\">\n  <meta property=\"fb:app_id\" co[...]
- request:
    body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tisLocked\n\tisDisabled\n\tforkCount\n\tvisibility\n\tstargazerCount\n}\n\t\nquery($query:
      String!, $type: SearchType!, $after: String, $first: Int!) {\n\tsearch(query:
      $query, type: $type, after: $after, first: $first) {\n\t\trepositoryCount\n\t\tpageInfo
      { hasNextPage,  endCursor }\n\t\tnodes { ... on Repository { ...RepositoryFields
      } }\n\t}\n}","variables":{"first":1,"query":"repo:admiring-austin-120/fluffy-enigma","type":"REPOSITORY"}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/graphql
    method: POST
  response:
    body: <html><body>You are being <a href="https://ghe.sgdev.org/login?return_to=https%3A%2F%2Fghe.sgdev.org%2Fgraphql">redirected</a>.</body></html>
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://ghe.sgdev.org/login?return_to=https%3A%2F%2Fghe.sgdev.org%2Fgraphql
      Status:
      - 302 Found
    status: 302 Found
    code: 302
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/login?return_to=https%3A%2F%2Fghe.sgdev.org%2Fgraphql
    method: GET
  response:
    body: ""
    headers:
      Content-Type:
      - text/html
      Status:
      - 406 Not Acceptable
    status: 406 Not Acceptable
    code: 406
    duration: ""
