---
version: 1
interactions:
- request:
    body: '{"message":"I''m a new commit from a VCR test!","tree":"851e666a00cd0cf74f1558ac5664fe431d3b1935","parents":["9d04a0d8733dafbb5d75e594a9ec525c49dfc975"],"author":{"name":"Sourcegraph
      VCR Test","email":"dev@sourcegraph.com","date":"2023-06-01T12:00:00Z"},"committer":{"name":"Sourcegraph
      VCR Test","email":"dev@sourcegraph.com","date":"2023-06-01T12:00:00Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph/automation-testing/git/commits
    method: POST
  response:
    body: '{"sha":"9f815d128eae9f1066353ca41c297cdc0ef94662","node_id":"C_kwDODS5xedoAKDlmODE1ZDEyOGVhZTlmMTA2NjM1M2NhNDFjMjk3Y2RjMGVmOTQ2NjI","url":"https://api.github.com/repos/sourcegraph/automation-testing/git/commits/9f815d128eae9f1066353ca41c297cdc0ef94662","html_url":"https://github.com/sourcegraph/automation-testing/commit/9f815d128eae9f1066353ca41c297cdc0ef94662","author":{"name":"Sourcegraph
      VCR Test","email":"dev@sourcegraph.com","date":"2023-06-01T12:00:00Z"},"committer":{"name":"Sourcegraph
      VCR Test","email":"dev@sourcegraph.com","date":"2023-06-01T12:00:00Z"},"tree":{"sha":"851e666a00cd0cf74f1558ac5664fe431d3b1935","url":"https://api.github.com/repos/sourcegraph/automation-testing/git/trees/851e666a00cd0cf74f1558ac5664fe431d3b1935"},"message":"I''m
      a new commit from a VCR test!","parents":[{"sha":"9d04a0d8733dafbb5d75e594a9ec525c49dfc975","url":"https://api.github.com/repos/sourcegraph/automation-testing/git/commits/9d04a0d8733dafbb5d75e594a9ec525c49dfc975","html_url":"https://github.com/sourcegraph/automation-testing/commit/9d04a0d8733dafbb5d75e594a9ec525c49dfc975"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2435b8e0f39290910f74525e227054da3b2f8f42cb251c028290f6dc8c8fec61"'
      Location:
      - https://api.github.com/repos/sourcegraph/automation-testing/git/commits/9f815d128eae9f1066353ca41c297cdc0ef94662
      X-Github-Api-Version-Selected:
      - "2022-11-28"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4949"
      X-Ratelimit-Reset:
      - "1685668692"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "51"
    status: 201 Created
    code: 201
    duration: ""
