---
version: 1
interactions:
- request:
    body: '{"organization":"sourcegraph-testing"}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph/automation-testing/forks
    method: POST
  response:
    body: '{"id":443210682,"node_id":"R_kgDOGmrbug","name":"automation-testing","full_name":"sourcegraph-testing/automation-testing","private":false,"owner":{"login":"sourcegraph-testing","id":57702698,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3NzAyNjk4","avatar_url":"https://avatars.githubusercontent.com/u/57702698?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph-testing","html_url":"https://github.com/sourcegraph-testing","followers_url":"https://api.github.com/users/sourcegraph-testing/followers","following_url":"https://api.github.com/users/sourcegraph-testing/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph-testing/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph-testing/orgs","repos_url":"https://api.github.com/users/sourcegraph-testing/repos","events_url":"https://api.github.com/users/sourcegraph-testing/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/sourcegraph-testing/automation-testing","description":"This
      repository is used to test opening and closing pull request with Automation","fork":true,"url":"https://api.github.com/repos/sourcegraph-testing/automation-testing","forks_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/forks","keys_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/keys{/key_id}","collaborators_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/teams","hooks_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/hooks","issue_events_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/issues/events{/number}","events_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/events","assignees_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/assignees{/user}","branches_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/branches{/branch}","tags_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/tags","blobs_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/git/refs{/sha}","trees_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/git/trees{/sha}","statuses_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/statuses/{sha}","languages_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/languages","stargazers_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/stargazers","contributors_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/contributors","subscribers_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/subscribers","subscription_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/subscription","commits_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/commits{/sha}","git_commits_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/git/commits{/sha}","comments_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/comments{/number}","issue_comment_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/issues/comments{/number}","contents_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/contents/{+path}","compare_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/compare/{base}...{head}","merges_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/merges","archive_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/downloads","issues_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/issues{/number}","pulls_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/pulls{/number}","milestones_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/milestones{/number}","notifications_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/labels{/name}","releases_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/releases{/id}","deployments_url":"https://api.github.com/repos/sourcegraph-testing/automation-testing/deployments","created_at":"2021-12-30T23:59:09Z","updated_at":"2021-12-30T23:59:10Z","pushed_at":"2021-12-30T22:57:42Z","git_url":"git://github.com/sourcegraph-testing/automation-testing.git","ssh_url":"git@github.com:sourcegraph-testing/automation-testing.git","clone_url":"https://github.com/sourcegraph-testing/automation-testing.git","svn_url":"https://github.com/sourcegraph-testing/automation-testing","homepage":null,"size":705,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"organization":{"login":"sourcegraph-testing","id":57702698,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3NzAyNjk4","avatar_url":"https://avatars.githubusercontent.com/u/57702698?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph-testing","html_url":"https://github.com/sourcegraph-testing","followers_url":"https://api.github.com/users/sourcegraph-testing/followers","following_url":"https://api.github.com/users/sourcegraph-testing/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph-testing/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph-testing/orgs","repos_url":"https://api.github.com/users/sourcegraph-testing/repos","events_url":"https://api.github.com/users/sourcegraph-testing/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph-testing/received_events","type":"Organization","site_admin":false},"parent":{"id":221147513,"node_id":"MDEwOlJlcG9zaXRvcnkyMjExNDc1MTM=","name":"automation-testing","full_name":"sourcegraph/automation-testing","private":false,"owner":{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","avatar_url":"https://avatars.githubusercontent.com/u/3979584?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph","html_url":"https://github.com/sourcegraph","followers_url":"https://api.github.com/users/sourcegraph/followers","following_url"[...]
