---
version: 1
interactions:
- request:
    body: '{"message":"New commit from VCR test!","tree":"9398082230ccd0ea7249b601d364e518dcd89271","parents":["58dd8da9d9099a823c814c528b29b72c9b2ac98b"],"author":{"name":"Sourcegraph
      VCR Test","email":"dev@sourcegraph.com","date":"2023-06-01T12:00:00Z"},"committer":{"name":"Sourcegraph
      VCR Test","email":"dev@sourcegraph.com","date":"2023-06-01T12:00:00Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph/automation-testing/git/commits
    method: POST
  response:
    body: '{"sha":"58377a8785c955d5f61293dda65657afddbc8dfc","node_id":"C_kwDODS5xedoAKDU4Mzc3YTg3ODVjOTU1ZDVmNjEyOTNkZGE2NTY1N2FmZGRiYzhkZmM","url":"https://api.github.com/repos/sourcegraph/automation-testing/git/commits/58377a8785c955d5f61293dda65657afddbc8dfc","html_url":"https://github.com/sourcegraph/automation-testing/commit/58377a8785c955d5f61293dda65657afddbc8dfc","author":{"name":"Sourcegraph
      VCR Test","email":"dev@sourcegraph.com","date":"2023-06-01T12:00:00Z"},"committer":{"name":"Sourcegraph
      VCR Test","email":"dev@sourcegraph.com","date":"2023-06-01T12:00:00Z"},"tree":{"sha":"9398082230ccd0ea7249b601d364e518dcd89271","url":"https://api.github.com/repos/sourcegraph/automation-testing/git/trees/9398082230ccd0ea7249b601d364e518dcd89271"},"message":"New
      commit from VCR test!","parents":[{"sha":"58dd8da9d9099a823c814c528b29b72c9b2ac98b","url":"https://api.github.com/repos/sourcegraph/automation-testing/git/commits/58dd8da9d9099a823c814c528b29b72c9b2ac98b","html_url":"https://github.com/sourcegraph/automation-testing/commit/58dd8da9d9099a823c814c528b29b72c9b2ac98b"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cdb3a3ff85d83e3465ad2751b1db276fea9e6ec3d0cb10f640c13bbc76283b6d"'
      Location:
      - https://api.github.com/repos/sourcegraph/automation-testing/git/commits/58377a8785c955d5f61293dda65657afddbc8dfc
      X-Github-Api-Version-Selected:
      - "2022-11-28"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4991"
      X-Ratelimit-Reset:
      - "1685668692"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "9"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"sha":"58377a8785c955d5f61293dda65657afddbc8dfc","force":true}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph/automation-testing/git/refs/heads/ready-to-update
    method: PATCH
  response:
    body: '{"ref":"refs/heads/ready-to-update","node_id":"MDM6UmVmMjIxMTQ3NTEzOnJlZnMvaGVhZHMvcmVhZHktdG8tdXBkYXRl","url":"https://api.github.com/repos/sourcegraph/automation-testing/git/refs/heads/ready-to-update","object":{"sha":"58377a8785c955d5f61293dda65657afddbc8dfc","type":"commit","url":"https://api.github.com/repos/sourcegraph/automation-testing/git/commits/58377a8785c955d5f61293dda65657afddbc8dfc"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac7ee35847853e99968ca8eaa05cf5e76a9278acd18fb3df2f67f457ff5db745"
      X-Github-Api-Version-Selected:
      - "2022-11-28"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4990"
      X-Ratelimit-Reset:
      - "1685668692"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
[...]
