---
version: 1
interactions:
- request:
    body: '{"sha":"fakeshalolfakeshalolfakeshalolfakeshalol","force":true}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph/automation-testing/git/refs/heads/ready-to-update
    method: PATCH
  response:
    body: '{"message":"The sha parameter must be exactly 40 characters and contain
      only [0-9a-f].","documentation_url":"https://docs.github.com/rest/reference/git#update-a-reference"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Api-Version-Selected:
      - "2022-11-28"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4988"
      X-Ratelimit-Reset:
      - "1685668692"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "12"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
