---
version: 1
interactions:
- request:
    body: '{"query":"\nfragment RepositoryFields on Repository {\n\tid\n\tdatabaseId\n\tnameWithOwner\n\tdescription\n\turl\n\tisPrivate\n\tisFork\n\tisArchived\n\tviewerPermission\n}\n\tquery
      {\nrepo0: repository(owner: \"sourcegraph\", name: \"about\") { ... on Repository
      { ...RepositoryFields } }\nrepo1: repository(owner: \"sourcegraph\", name: \"sourcegraph\")
      { ... on Repository { ...RepositoryFields } }\n}","variables":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repo0":{"id":"MDEwOlJlcG9zaXRvcnkxNDk1MTg3ODM=","databaseId":149518783,"nameWithOwner":"sourcegraph/about","description":"Sourcegraph
      blog, feature announcements, and website (sourcegraph.com)","url":"https://github.com/sourcegraph/about","isPrivate":false,"isFork":false,"isArchived":false,"viewerPermission":"ADMIN"},"repo1":{"id":"MDEwOlJlcG9zaXRvcnk0MTI4ODcwOA==","databaseId":41288708,"nameWithOwner":"sourcegraph/sourcegraph","description":"Code
      search and navigation tool (self-hosted)","url":"https://github.com/sourcegraph/sourcegraph","isPrivate":false,"isFork":false,"isArchived":false,"viewerPermission":"ADMIN"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Oauth-Scopes:
      - repo
    status: 200 OK
    code: 200
    duration: ""
