.home-page {
    // For the other sub-pages in the RepoArea, we use a child selector to add the
    // border and radius to the sub-page containers. Since we use the Container
    // component here, we already have a pair of borders and had duplicate borders
    // without it. This should be removed once we can get rid of that child selector.
    border: none !important;
    border-radius: 0 !important;
    height: 100%;

    :global(.batch-change-badge) {
        top: 0;
    }
}

.git-commit-node {
    padding-left: 0;
    padding-right: 0;

    &-message-subject {
        opacity: 0.9;
    }

    :global(.btn) {
        opacity: 0.85;
    }
}

.container {
    overflow-y: auto;
    height: 100%;
    flex: 1;
    background-color: var(--code-bg);
}

.section {
    flex-direction: row;
    width: 100%;
    max-width: var(--media-xl);
    margin-bottom: 1rem;
}

.item {
    flex-direction: row;
    margin-bottom: 0.25rem;
    width: 100%;
    display: flex;
    border: 1px solid var(--border-color-2);
    border-radius: 3px !important;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.item-badge {
    height: fit-content;
}

.item-batch-change-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
