.readme {
    max-height: 30rem;
    overflow: hidden;
    margin-top: 1rem;
    padding: 0 0.2rem 0 0.2rem;

    // Mimic the header style of a markdown readme
    &-pre-header {
        max-width: 50rem;
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 0.5rem;
    }

    &-pre {
        max-width: 50rem;
        white-space: pre-wrap;
        word-break: break-all;
    }

    &-fader {
        width: 100%;
        height: 2.5rem;
        margin-top: -2.5rem;
        position: relative;
        background: linear-gradient(to bottom, transparent, var(--code-bg) 50%);
    }

    &-more-link {
        display: block;
        margin-top: 0.25rem;
    }
}

.readme-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    // 30rem for the readme height + 1.5rem for the link that will be rendered
    // below it and additional margin.
    height: 31.5rem;
}

.card-col-header-wrapper {
    background-color: var(--color-bg-2);

    a {
        color: var(--link-color-2);
    }
}

.file-item {
    border-bottom: 1px solid var(--border-color);

    &:last-child {
        border-bottom: none;
    }
}

.card-col-header {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bar-svg {
    border-radius: 5px;
}

.diff-stat-added {
    fill: var(--diff-add-fg);
}

.diff-stat-deleted {
    fill: var(--diff-remove-fg);
}

.meter-container {
    padding-top: 0.125rem;
}

.tree-entry {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-left: -0.25rem;
    margin-right: -0.25rem;
    padding: 0.125rem 0.25rem;

    break-inside: avoid-column;

    &:hover {
        background-color: var(--color-bg-1);
    }

    &--no-columns {
        max-width: 18rem;
    }
}

.sort-dsc-icon {
    padding: 0;
    margin: -0.125rem 0 0 0;
    color: var(--icon-muted);
}

.sort-asc-icon {
    padding: 0;
    margin: -0.625rem 0 0 0;
    color: var(--icon-muted);
}

.sort-selected-icon {
    color: var(--icon-color);
}
