@import '../../search/input/SearchButton';
@import '../../insights/components/InsightsViewGrid/InsightsViewGrid';
@import './TreeEntriesSection';

.tree-page {
    overflow-y: auto;
    flex: 1;
    background-color: var(--code-bg);

    // We need to increase specificity here, because the child selector from where
    // this is set has higher specificity than this plain one.
    // stylelint-disable-next-line selector-max-id
    &__container:not(#\9) {
        border: none;
        border-radius: 0;
        padding-bottom: 2rem;
    }

    &__title {
        display: flex;
        align-items: center;
        margin-left: -0.25rem; // icon flush with left
    }

    &__section {
        width: 100%;

        max-width: map-get($grid-breakpoints, xl);

        &-search {
            display: flex;
            .search-help {
                margin-left: 0.25rem;
                // stylelint-disable-next-line declaration-property-unit-whitelist
                margin-top: -2px;
            }
        }
    }

    .git-commit-node {
        padding-left: 0;
        padding-right: 0;
        .git-commit-node__message-subject {
            opacity: 0.9;
        }
        .btn {
            opacity: 0.85;
        }
    }
}
