@import 'wildcard/src/global-styles/breakpoints';

.bar-svg {
    border-radius: 5px;
}

.diff-stat-added {
    fill: var(--diff-add-fg);
}

.diff-stat-deleted {
    fill: var(--diff-remove-fg);
}


.readme-container {
    max-height: 30rem;
    overflow: hidden;
    position: relative;
    margin-top: 1rem;
    padding-left: 0;
}

.readme-fader {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    transition: ease-in;
    background: linear-gradient(to bottom, transparent, 75%, var(--code-bg));
}

.readme-fader-invisible {
    visibility: hidden;
}

.readme {
    padding: 0 0.25rem;
}

.readme-more {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    transition: ease-in;
}

.meter-container {
    padding-top: 0.125rem;
}

.menu {
    .text {
        @media (--lg-breakpoint-down) {
            display: none;
        }
    }
}

.tree-entry {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-left: -0.25rem;
    margin-right: -0.25rem;
    padding: 0.125rem 0.25rem;

    break-inside: avoid-column;

    &:hover {
        background-color: var(--color-bg-1);
    }

    &--no-columns {
        max-width: 18rem;
    }
}

.sort-dsc-icon {
    padding: 0;
    margin: -0.125rem 0 0 0;
    color: var(--icon-muted);
}

.sort-asc-icon {
    padding: 0;
    margin: -0.625rem 0 0 0;
    color: var(--icon-muted);
}

.sort-selected-icon {
    color: var(--icon-color);
}
