@import 'wildcard/src/global-styles/breakpoints';

.tree-page {
    // For the other sub-pages in the RepoArea, we use a child selector to add the
    // border and radius to the sub-page containers. Since we use the Container
    // component here, we already have a pair of borders and had duplicate borders
    // without it. This should be removed once we can get rid of that child selector.
    border: none !important;
    border-radius: 0 !important;
    height: 100%;

    :global(.batch-change-badge) {
        top: 0;
    }
}

.header {
    width: 100%;
    max-width: var(--media-xl);
    padding-left: 0;
    flex: 1 1 auto;
}

.menu {
    .text {
        @media (--sm-breakpoint-down) {
            display: none;
        }
    }
    width: 100%;
    flex-shrink: 0;
    padding-right: 0;
}

.container {
    overflow-y: auto;
    height: 100%;
    flex: 1;
    background-color: var(--code-bg);
}
