@import 'wildcard/src/global-styles/breakpoints';

.tree-page {
    // For the other sub-pages in the RepoArea, we use a child selector to add the
    // border and radius to the sub-page containers. Since we use the Container
    // component here, we already have a pair of borders and had duplicate borders
    // without it. This should be removed once we can get rid of that child selector.
    border: none !important;
    border-radius: 0 !important;
    height: 100%;

    :global(.batch-change-badge) {
        top: 0;
    }
}

.header {
    width: 100%;
    max-width: var(--media-xl);
}

.git-commit-node {
    padding: 0.25rem 0;

    &-message-subject {
        opacity: 0.9;
    }

    :global(.btn) {
        opacity: 0.85;
    }
}

.file-stat-selector {
    margin: -0.125rem 0 0 0;
    height: 1rem;
}

.bar-svg {
    border-radius: 5px;
}

.diff-stat-added {
    fill: var(--diff-add-fg);
}

.diff-stat-deleted {
    fill: var(--diff-remove-fg);
}

.container {
    overflow-y: auto;
    height: 100%;
    flex: 1;
    background-color: var(--code-bg);
}

.section {
    width: 100%;
    max-width: var(--media-xl);
}

.readme-container {
    max-height: 30rem;
    overflow: hidden;
    position: relative;
    margin-top: 1rem;
    padding-left: 0;
}

.readme-fader {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    transition: ease-in;
    background-image: linear-gradient(transparent, 75%, var(--code-bg));
}

.readme-fader-invisible {
    visibility: hidden;
}

.readme {
    padding: 0 0.25rem;
}

.readme-more {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    visibility: hidden;
}

.readme-more-visible {
    visibility: visible;
    transition: ease-in;
}

.meter-container {
    padding-top: 0.125rem;
}

.card-col-header-wrapper {
    background-color: var(--color-bg-2);

    a {
        color: var(--link-color-2);
    }
}

.card-col-header {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu {
    .text {
        @media (--lg-breakpoint-down) {
            display: none;
        }
    }
}

.tree-entry {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-left: -0.25rem;
    margin-right: -0.25rem;
    padding: 0.125rem 0.25rem;

    break-inside: avoid-column;

    &:hover {
        background-color: var(--color-bg-1);
    }

    &--no-columns {
        max-width: 18rem;
    }
}

.sort-dsc-icon {
    padding: 0;
    margin: -0.125rem 0 0 0;
    color: var(--icon-muted);
}

.sort-asc-icon {
    padding: 0;
    margin: -0.625rem 0 0 0;
    color: var(--icon-muted);
}

.sort-selected-icon {
    color: var(--icon-color);
}
