---
version: 1
interactions:
- request:
    body: '{"name":"sourcegraph-testing-vcr-fork-test-repo-already-forked"}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph-testing/vcr-fork-test-repo-already-forked/forks
    method: POST
  response:
    body: '{"id":597209164,"node_id":"R_kgDOI5iwTA","name":"sourcegraph-testing-vcr-fork-test-repo-already-forked","full_name":"sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked","private":false,"owner":{"login":"sourcegraph-vcr","id":63290851,"node_id":"MDQ6VXNlcjYzMjkwODUx","avatar_url":"https://avatars.githubusercontent.com/u/63290851?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph-vcr","html_url":"https://github.com/sourcegraph-vcr","followers_url":"https://api.github.com/users/sourcegraph-vcr/followers","following_url":"https://api.github.com/users/sourcegraph-vcr/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph-vcr/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph-vcr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph-vcr/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph-vcr/orgs","repos_url":"https://api.github.com/users/sourcegraph-vcr/repos","events_url":"https://api.github.com/users/sourcegraph-vcr/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph-vcr/received_events","type":"User","site_admin":false},"html_url":"https://github.com/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked","description":"This
      repo is intended to be used for recording batch changes VCR tests","fork":true,"url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked","forks_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/forks","keys_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/keys{/key_id}","collaborators_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/teams","hooks_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/hooks","issue_events_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/issues/events{/number}","events_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/events","assignees_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/assignees{/user}","branches_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/branches{/branch}","tags_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/tags","blobs_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/git/refs{/sha}","trees_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/git/trees{/sha}","statuses_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/statuses/{sha}","languages_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/languages","stargazers_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/stargazers","contributors_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/contributors","subscribers_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/subscribers","subscription_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/subscription","commits_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/commits{/sha}","git_commits_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/git/commits{/sha}","comments_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/comments{/number}","issue_comment_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/issues/comments{/number}","contents_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/contents/{+path}","compare_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/compare/{base}...{head}","merges_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/merges","archive_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/downloads","issues_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/issues{/number}","pulls_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/pulls{/number}","milestones_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/milestones{/number}","notifications_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/labels{/name}","releases_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/releases{/id}","deployments_url":"https://api.github.com/repos/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked/deployments","created_at":"2023-02-03T21:47:54Z","updated_at":"2023-02-03T21:47:14Z","pushed_at":"2023-02-03T21:47:15Z","git_url":"git://github.com/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked.git","ssh_url":"git@github.com:sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked.git","clone_url":"https://github.com/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked.git","svn_url":"https://github.com/sourcegraph-vcr/sourcegraph-testing-vcr-fork-test-repo-already-forked","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"parent":{"id":597208999,"node_id":"R_kgDOI5ivpw","name":"vcr-fork-test-repo-already-forked","full_name":"sourcegraph-testing/vcr-fork-test-repo-already-forked","private":false,"owner":{"login":"sourcegraph-testing","id":57702698,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3NzAyNjk4","avatar_url":"https://avatars.githubusercontent.com/u/57702698?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph-testing","html_url":"https://github.com/sourcegraph-testing","followers_url":"https://api.github.com/[...]
