---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo
    method: GET
  response:
    body: '{"id":597201990,"node_id":"R_kgDOI5iURg","name":"vcr-fork-test-repo","full_name":"sourcegraph-vcr/vcr-fork-test-repo","private":false,"owner":{"login":"sourcegraph-vcr","id":63290851,"node_id":"MDQ6VXNlcjYzMjkwODUx","avatar_url":"https://avatars.githubusercontent.com/u/63290851?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph-vcr","html_url":"https://github.com/sourcegraph-vcr","followers_url":"https://api.github.com/users/sourcegraph-vcr/followers","following_url":"https://api.github.com/users/sourcegraph-vcr/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph-vcr/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph-vcr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph-vcr/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph-vcr/orgs","repos_url":"https://api.github.com/users/sourcegraph-vcr/repos","events_url":"https://api.github.com/users/sourcegraph-vcr/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph-vcr/received_events","type":"User","site_admin":false},"html_url":"https://github.com/sourcegraph-vcr/vcr-fork-test-repo","description":"My
      preciouuussss repo, it''s not a fork.","fork":false,"url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo","forks_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/forks","keys_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/teams","hooks_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/hooks","issue_events_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/issues/events{/number}","events_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/events","assignees_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/assignees{/user}","branches_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/branches{/branch}","tags_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/tags","blobs_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/languages","stargazers_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/stargazers","contributors_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/contributors","subscribers_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/subscribers","subscription_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/subscription","commits_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/contents/{+path}","compare_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/merges","archive_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/downloads","issues_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/issues{/number}","pulls_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/labels{/name}","releases_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/releases{/id}","deployments_url":"https://api.github.com/repos/sourcegraph-vcr/vcr-fork-test-repo/deployments","created_at":"2023-02-03T21:20:23Z","updated_at":"2023-02-03T21:20:23Z","pushed_at":"2023-02-03T21:20:23Z","git_url":"git://github.com/sourcegraph-vcr/vcr-fork-test-repo.git","ssh_url":"git@github.com:sourcegraph-vcr/vcr-fork-test-repo.git","clone_url":"https://github.com/sourcegraph-vcr/vcr-fork-test-repo.git","svn_url":"https://github.com/sourcegraph-vcr/vcr-fork-test-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","security_and_analysis":{"secret_scanning":{"status":"disabled"},"secret_scanning_push_protection":{"status":"disabled"}},"network_count":0,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5499f64bfe706382c9246dbe048d5be954b2f6156c863cb3f9ff3fd28dcfc291"
      Last-Modified:
      - Fri, 03 Feb 2023 21:20:23 GMT
      X-Github-Api-Version-Selected:
      - "2022-11-28"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "28"
    status: 200 OK
    code: 200
    duration: ""
