---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph/automation-testing/commits/refs/heads/duplicate-commits-on-me
    method: GET
  response:
    body: '{"sha":"42bd1f384592c6dacac5c5f8c4aff5e9ead66954","node_id":"C_kwDODS5xedoAKDQyYmQxZjM4NDU5MmM2ZGFjYWM1YzVmOGM0YWZmNWU5ZWFkNjY5NTQ","commit":{"author":{"name":"Kelli
      Rockwell","email":"kellirockwell@gmail.com","date":"2023-06-02T03:54:09Z"},"committer":{"name":"Kelli
      Rockwell","email":"kellirockwell@gmail.com","date":"2023-06-02T03:54:09Z"},"message":"Test
      commit from VCR tests","tree":{"sha":"00c2308a9244a5b46d0812884a169f5df1bba817","url":"https://api.github.com/repos/sourcegraph/automation-testing/git/trees/00c2308a9244a5b46d0812884a169f5df1bba817"},"url":"https://api.github.com/repos/sourcegraph/automation-testing/git/commits/42bd1f384592c6dacac5c5f8c4aff5e9ead66954","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/sourcegraph/automation-testing/commits/42bd1f384592c6dacac5c5f8c4aff5e9ead66954","html_url":"https://github.com/sourcegraph/automation-testing/commit/42bd1f384592c6dacac5c5f8c4aff5e9ead66954","comments_url":"https://api.github.com/repos/sourcegraph/automation-testing/commits/42bd1f384592c6dacac5c5f8c4aff5e9ead66954/comments","author":{"login":"courier-new","id":8942601,"node_id":"MDQ6VXNlcjg5NDI2MDE=","avatar_url":"https://avatars.githubusercontent.com/u/8942601?v=4","gravatar_id":"","url":"https://api.github.com/users/courier-new","html_url":"https://github.com/courier-new","followers_url":"https://api.github.com/users/courier-new/followers","following_url":"https://api.github.com/users/courier-new/following{/other_user}","gists_url":"https://api.github.com/users/courier-new/gists{/gist_id}","starred_url":"https://api.github.com/users/courier-new/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/courier-new/subscriptions","organizations_url":"https://api.github.com/users/courier-new/orgs","repos_url":"https://api.github.com/users/courier-new/repos","events_url":"https://api.github.com/users/courier-new/events{/privacy}","received_events_url":"https://api.github.com/users/courier-new/received_events","type":"User","site_admin":false},"committer":{"login":"courier-new","id":8942601,"node_id":"MDQ6VXNlcjg5NDI2MDE=","avatar_url":"https://avatars.githubusercontent.com/u/8942601?v=4","gravatar_id":"","url":"https://api.github.com/users/courier-new","html_url":"https://github.com/courier-new","followers_url":"https://api.github.com/users/courier-new/followers","following_url":"https://api.github.com/users/courier-new/following{/other_user}","gists_url":"https://api.github.com/users/courier-new/gists{/gist_id}","starred_url":"https://api.github.com/users/courier-new/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/courier-new/subscriptions","organizations_url":"https://api.github.com/users/courier-new/orgs","repos_url":"https://api.github.com/users/courier-new/repos","events_url":"https://api.github.com/users/courier-new/events{/privacy}","received_events_url":"https://api.github.com/users/courier-new/received_events","type":"User","site_admin":false},"parents":[{"sha":"58dd8da9d9099a823c814c528b29b72c9b2ac98b","url":"https://api.github.com/repos/sourcegraph/automation-testing/commits/58dd8da9d9099a823c814c528b29b72c9b2ac98b","html_url":"https://github.com/sourcegraph/automation-testing/commit/58dd8da9d9099a823c814c528b29b72c9b2ac98b"}],"stats":{"total":1,"additions":1,"deletions":0},"files":[{"sha":"20827fef1e80d5483dd316d77275fb122d4d98f0","filename":"new-file.txt","status":"added","additions":1,"deletions":0,"changes":1,"blob_url":"https://github.com/sourcegraph/automation-testing/blob/42bd1f384592c6dacac5c5f8c4aff5e9ead66954/new-file.txt","raw_url":"https://github.com/sourcegraph/automation-testing/raw/42bd1f384592c6dacac5c5f8c4aff5e9ead66954/new-file.txt","contents_url":"https://api.github.com/repos/sourcegraph/automation-testing/contents/new-file.txt?ref=42bd1f384592c6dacac5c5f8c4aff5e9ead66954","patch":"@@
      -0,0 +1 @@\n+Hey I''m a new file!"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d4f1d2e2e71c9ee4d2fa15f91d30ba94e4036e7e9fb5b368a617c294a977cc43"
      Last-Modified:
      - Fri, 02 Jun 2023 03:54:09 GMT
      X-Github-Api-Version-Selected:
      - "2022-11-28"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "24"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"message":"Test commit from VCR tests","tree":"00c2308a9244a5b46d0812884a169f5df1bba817","parents":["58dd8da9d9099a823c814c528b29b72c9b2ac98b"]}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph/automation-testing/git/commits
    method: POST
  response:
    body: '{"sha":"d0dee216cbdb14a40d7b73cef3cbe0a435b268df","node_id":"C_kwDODS5xedoAKGQwZGVlMjE2Y2JkYjE0YTQwZDdiNzNjZWYzY2JlMGE0MzViM[...]
- request:
    body: '{"sha":"d0dee216cbdb14a40d7b73cef3cbe0a435b268df","force":true}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph/automation-testing/git/refs/heads/duplicate-commits-on-me
    method: PATCH
  response:
    body: '{"ref":"refs/heads/duplicate-commits-on-me","node_id":"MDM6UmVmMjIxMTQ3NTEzOnJlZnMvaGVhZHMvZHVwbGljYXRlLWNvbW1pdHMtb24tbWU=","url":"https://api.github.com/repos/sourcegraph/automation-testing/git/refs/heads/duplicate-commits-on-me","object":{"sha":"d0dee216cbdb14a40d7b73cef3cbe0a435b268df","type":"commit","url":"https://api.github.com/repos/sourcegraph/automation-testing/git/commits/d0dee216cbdb14a40d7b73cef3cbe0a435b268df"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e1172e0b8feb55390fbf700a4a0eeb123adc2e2ba73c8d375071b4876f3c2fb3"
      X-Github-Api-Version-Selected:
      - "2022-11-28"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "26"
    status: 200 OK
    code: 200
    duration: ""
