---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/16606088/merge_requests/2
    method: GET
  response:
    body: '{"id":48629396,"iid":2,"project_id":16606088,"title":"a8n: Allow filtering
      campaigns based on their state","description":"","state":"opened","created_at":"2020-01-30T13:04:48.674Z","updated_at":"2020-01-30T13:04:48.674Z","merged_by":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch":"master","source_branch":"a8n/campaign-list-filter","user_notes_count":0,"upvotes":0,"downvotes":0,"author":{"id":3294801,"name":"Ryan
      Blunden","username":"ryan-blunden","state":"active","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/user/avatar/3294801/avatar.png","web_url":"https://gitlab.com/ryan-blunden"},"assignees":[],"assignee":null,"reviewers":[],"source_project_id":16606088,"target_project_id":16606088,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"cannot_be_merged","sha":"02cf15ec43a2e8818a1e0cac2da5ca9766ce1cdc","merge_commit_sha":null,"squash_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":false,"reference":"!2","references":{"short":"!2","relative":"!2","full":"sourcegraph/sourcegraph!2"},"web_url":"https://gitlab.com/sourcegraph/sourcegraph/-/merge_requests/2","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":false,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":true,"blocking_discussions_resolved":true,"approvals_before_merge":null,"subscribed":false,"changes_count":"9","head_pipeline":null,"diff_refs":{"base_sha":"743138714c8d9ec92ee96d9f200729814de7d2fb","head_sha":"02cf15ec43a2e8818a1e0cac2da5ca9766ce1cdc","start_sha":"c4f4bea6111b65a362e7ec529e4b1879e774e522"},"merge_error":null,"first_contribution":true,"user":{"can_merge":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c62181a60a1e024fa9e3cb5a5df10f40"
      Gitlab-Lb:
      - fe-06-lb-gprd
      Gitlab-Sv:
      - api-12-sv-gprd
      X-Gitlab-Feature-Category:
      - code_review
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/16606088/merge_requests/2/notes?page=1
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Gitlab-Lb:
      - fe-06-lb-gprd
      Gitlab-Sv:
      - api-06-sv-gprd
      Link:
      - <https://gitlab.com/api/v4/projects/16606088/merge_requests/2/notes?activity_filter=all_notes&id=16606088&noteable_id=2&order_by=created_at&page=1&per_page=20&sort=desc>;
        rel="first", <https://gitlab.com/api/v4/projects/16606088/merge_requests/2/notes?activity_filter=all_notes&id=16606088&noteable_id=2&order_by=created_at&page=1&per_page=20&sort=desc>;
        rel="last"
      X-Gitlab-Feature-Category:
      - code_review
      X-Next-Page:
      - ""
      X-Page:
      - "1"
      X-Per-Page:
      - "20"
      X-Prev-Page:
      - ""
      X-Total:
      - "0"
      X-Total-Pages:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/16606088/merge_requests/2/resource_state_events?page=1
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Gitlab-Lb:
      - fe-07-lb-gprd
      Gitlab-Sv:
      - api-13-sv-gprd
      Link:
      - <https://gitlab.com/api/v4/projects/16606088/merge_requests/2/resource_state_events?eventable_iid=2&id=16606088&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v4/projects/16606088/merge_requests/2/resource_state_events?eventable_iid=2&id=16606088&page=1&per_page=20>;
        rel="last"
      X-Gitlab-Feature-Category:
      - code_review
      X-Next-Page:
      - ""
      X-Page:
      - "1"
      X-Per-Page:
      - "20"
      X-Prev-Page:
      - ""
      X-Total:
      - "0"
      X-Total-Pages:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/16606088/merge_requests/2/pipelines?page=1
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Gitlab-Lb:
      - fe-03-lb-gprd
      Gitlab-Sv:
      - api-06-sv-gprd
      Link:
      - <https://gitlab.com/api/v4/projects/16606088/merge_requests/2/pipelines?id=16606088&merge_request_iid=2&page=1&per_page=>;
        rel="first", <https://gitlab.com/api/v4/projects/16606088/merge_requests/2/pipelines?id=16606088&merge_request_iid=2&page=1&per_page=>;
        rel="last"
      X-Gitlab-Feature-Category:
      - code_review
      X-Next-Page:
      - ""
      X-Page:
      - "1"
      X-Per-Page:
      - "20"
      X-Prev-Page:
      - ""
      X-Total:
      - "0"
      X-Total-Pages:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
