---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/users?limit=1
    method: GET
  response:
    body: '{"size":1,"limit":1,"isLastPage":false,"values":[{"name":"aharvey","emailAddress":"aharvey@sourcegraph.com","id":203,"displayName":"Adam
      Harvey","active":true,"slug":"aharvey","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey"}]}}],"start":0,"nextPageStart":1}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@9KC48Ux148x17313342x0'
      X-Asessionid:
      - 1l2rt0u
      X-Auserid:
      - "203"
      X-Ausername:
      - aharvey
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/~aharvey/repos/go
    method: GET
  response:
    body: '{"errors":[{"context":null,"message":"Repository ~aharvey/go does not exist.","exceptionName":"com.atlassian.bitbucket.repository.NoSuchRepositoryException"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@9KC48Ux148x17313344x0'
      X-Asessionid:
      - zadtf6
      X-Auserid:
      - "203"
      X-Ausername:
      - aharvey
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SGDEMO/repos/go
    method: POST
  response:
    body: '{"slug":"go","id":10153,"name":"go","hierarchyId":"d501682e55fecfa03127","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"origin":{"slug":"go","id":10060,"name":"go","hierarchyId":"d501682e55fecfa03127","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SGDEMO","id":26,"name":"Sourcegraph
      Demo","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SGDEMO"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/sgdemo/go.git","name":"http"},{"href":"ssh://git@bitbucket.sgdev.org:7999/sgdemo/go.git","name":"ssh"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SGDEMO/repos/go/browse"}]}},"project":{"key":"~AHARVEY","id":63,"name":"Adam
      Harvey","type":"PERSONAL","owner":{"name":"aharvey","emailAddress":"aharvey@sourcegraph.com","id":203,"displayName":"Adam
      Harvey","active":true,"slug":"aharvey","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey"}]}},"links":{"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey"}]}},"public":false,"links":{"clone":[{"href":"ssh://git@bitbucket.sgdev.org:7999/~aharvey/go.git","name":"ssh"},{"href":"https://bitbucket.sgdev.org/scm/~aharvey/go.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey/repos/go/browse"}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://bitbucket.sgdev.org/rest/api/1.0/projects/~AHARVEY/repos/go
      X-Arequestid:
      - '@9KC48Ux148x17313345x0'
      X-Asessionid:
      - 1i9dv5r
      X-Auserid:
      - "203"
      X-Ausername:
      - aharvey
    status: 201 Created
    code: 201
    duration: ""
