---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/users?limit=1
    method: GET
  response:
    body: '{"size":1,"limit":1,"isLastPage":false,"values":[{"name":"aharvey","emailAddress":"aharvey@sourcegraph.com","id":203,"displayName":"Adam
      Harvey","active":true,"slug":"aharvey","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey"}]}}],"start":0,"nextPageStart":1}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@9KC48Ux148x17313335x0'
      X-Asessionid:
      - 1syzm87
      X-Auserid:
      - "203"
      X-Ausername:
      - aharvey
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/~aharvey/repos/old-talk
    method: GET
  response:
    body: '{"slug":"old-talk","id":10094,"name":"old-talk","hierarchyId":"1ddde8e2724a0c65782f","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"~AHARVEY","id":63,"name":"Adam
      Harvey","type":"PERSONAL","owner":{"name":"aharvey","emailAddress":"aharvey@sourcegraph.com","id":203,"displayName":"Adam
      Harvey","active":true,"slug":"aharvey","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey"}]}},"links":{"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey"}]}},"public":false,"links":{"clone":[{"href":"ssh://git@bitbucket.sgdev.org:7999/~aharvey/old-talk.git","name":"ssh"},{"href":"https://bitbucket.sgdev.org/scm/~aharvey/old-talk.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey/repos/old-talk/browse"}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@9KC48Ux148x17313336x0'
      X-Asessionid:
      - 1qhoqvt
      X-Auserid:
      - "203"
      X-Ausername:
      - aharvey
    status: 200 OK
    code: 200
    duration: ""
