---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/users?limit=1
    method: GET
  response:
    body: '{"errors":[{"context":null,"message":"Authentication failed. Please check
      your credentials and try again.","exceptionName":"com.atlassian.bitbucket.auth.IncorrectPasswordAuthenticationException"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@LSXTKNx950x235301x4'
    status: 401 Unauthorized
    code: 401
    duration: ""
