---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/16606399/merge_requests/6
    method: GET
  response:
    body: '{"id":203458494,"iid":6,"project_id":16606399,"title":"Update README.md","description":"","state":"opened","created_at":"2023-02-03T22:48:08.513Z","updated_at":"2023-02-03T22:48:10.068Z","merged_by":null,"merge_user":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch":"master","source_branch":"hello-world","user_notes_count":0,"upvotes":0,"downvotes":0,"author":{"id":11440943,"username":"courier-new","name":"Kelli
      Rockwell","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/11440943/avatar.png","web_url":"https://gitlab.com/courier-new"},"assignees":[],"assignee":null,"reviewers":[],"source_project_id":43195414,"target_project_id":16606399,"labels":[],"draft":false,"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","detailed_merge_status":"mergeable","sha":"f1143d212147dda485e5645058f7f1e53fc23b90","merge_commit_sha":null,"squash_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":true,"allow_collaboration":true,"allow_maintainer_to_push":true,"reference":"!6","references":{"short":"!6","relative":"!6","full":"sourcegraph/src-cli!6"},"web_url":"https://gitlab.com/sourcegraph/src-cli/-/merge_requests/6","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":false,"squash_on_merge":false,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":false,"blocking_discussions_resolved":true,"approvals_before_merge":null,"subscribed":true,"changes_count":"1","latest_build_started_at":null,"latest_build_finished_at":null,"first_deployed_to_production_at":null,"pipeline":null,"head_pipeline":null,"diff_refs":{"base_sha":"c5a7ae0c5e82e439049568a0db674fc2a52d6ba6","head_sha":"f1143d212147dda485e5645058f7f1e53fc23b90","start_sha":"c5a7ae0c5e82e439049568a0db674fc2a52d6ba6"},"merge_error":null,"first_contribution":true,"user":{"can_merge":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"96601f4ad53334300417e15e3e6aabb5"
      Gitlab-Lb:
      - fe-19-lb-gprd
      Gitlab-Sv:
      - localhost
    status: 200 OK
    code: 200
    duration: ""
[...]
