---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/users?limit=1
    method: GET
  response:
    body: '{"size":1,"limit":1,"isLastPage":false,"values":[{"name":"aharvey","emailAddress":"aharvey@sourcegraph.com","id":203,"displayName":"Adam
      Harvey","active":true,"slug":"aharvey","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey"}]}}],"start":0,"nextPageStart":1}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@LSXTKNx1055x255855x3'
      X-Asessionid:
      - 1mym2kd
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/~milton/repos/BAT-vcr-fork-test-repo
    method: GET
  response:
    body: '{"errors":[{"context":null,"message":"Repository ~milton/BAT-vcr-fork-test-repo
      does not exist.","exceptionName":"com.atlassian.bitbucket.repository.NoSuchRepositoryException"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@LSXTKNx1055x255857x2'
      X-Asessionid:
      - qc0snn
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: |
      {"name":"BAT-vcr-fork-test-repo"}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/BAT/repos/vcr-fork-test-repo
    method: POST
  response:
    body: '{"slug":"bat-vcr-fork-test-repo","id":24374,"name":"BAT-vcr-fork-test-repo","description":"This
      repo is intended to be used for recording batch changes VCR tests","hierarchyId":"0e8e237d3bcf0c1a6dc4","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"origin":{"slug":"vcr-fork-test-repo","id":24373,"name":"vcr-fork-test-repo","description":"This
      repo is intended to be used for recording batch changes VCR tests","hierarchyId":"0e8e237d3bcf0c1a6dc4","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"BAT","id":183,"name":"batch-changes-testing","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/BAT"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/bat/vcr-fork-test-repo.git","name":"http"},{"href":"ssh://git@bitbucket.sgdev.org:7999/bat/vcr-fork-test-repo.git","name":"ssh"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/BAT/repos/vcr-fork-test-repo/browse"}]}},"project":{"key":"~MILTON","id":2,"name":"milton
      woof","type":"PERSONAL","owner":{"name":"milton","emailAddress":"dev@sourcegraph.com","id":1,"displayName":"milton
      woof","active":true,"slug":"milton","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/milton"}]}},"links":{"self":[{"href":"https://bitbucket.sgdev.org/users/milton"}]}},"public":false,"links":{"clone":[{"href":"ssh://git@bitbucket.sgdev.org:7999/~milton/bat-vcr-fork-test-repo.git","name":"ssh"},{"href":"https://bitbucket.sgdev.org/scm/~milton/bat-vcr-fork-test-repo.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/users/milton/repos/bat-vcr-fork-test-repo/browse"}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://bitbucket.sgdev.org/rest/api/1.0/projects/~MILTON/repos/bat-vcr-fork-test-repo
      X-Arequestid:
      - '@LSXTKNx1055x255858x1'
      X-Asessionid:
      - 1abldkx
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 201 Created
    code: 201
    duration: ""
