---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/users?limit=1
    method: GET
  response:
    body: '{"size":1,"limit":1,"isLastPage":false,"values":[{"name":"aharvey","emailAddress":"aharvey@sourcegraph.com","id":203,"displayName":"Adam
      Harvey","active":true,"slug":"aharvey","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey"}]}}],"start":0,"nextPageStart":1}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@9KC48Ux148x17313337x0'
      X-Asessionid:
      - rn5abl
      X-Auserid:
      - "203"
      X-Ausername:
      - aharvey
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/~aharvey/repos/read-only
    method: GET
  response:
    body: '{"slug":"read-only","id":10144,"name":"read-only","description":"This is
      a repo that is set up for read permission only for normal users.","hierarchyId":"2cfec0809f9af046556c","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"origin":{"slug":"read-only","id":10103,"name":"read-only","description":"This
      is a repo that is set up for read permission only for normal users.","hierarchyId":"2cfec0809f9af046556c","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SOUR","id":1,"name":"sourcegraph","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR"}]}},"public":false,"links":{"clone":[{"href":"ssh://git@bitbucket.sgdev.org:7999/sour/read-only.git","name":"ssh"},{"href":"https://bitbucket.sgdev.org/scm/sour/read-only.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/read-only/browse"}]}},"project":{"key":"~AHARVEY","id":63,"name":"Adam
      Harvey","type":"PERSONAL","owner":{"name":"aharvey","emailAddress":"aharvey@sourcegraph.com","id":203,"displayName":"Adam
      Harvey","active":true,"slug":"aharvey","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey"}]}},"links":{"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/~aharvey/read-only.git","name":"http"},{"href":"ssh://git@bitbucket.sgdev.org:7999/~aharvey/read-only.git","name":"ssh"}],"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey/repos/read-only/browse"}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@9KC48Ux148x17313338x0'
      X-Asessionid:
      - 11joxah
      X-Auserid:
      - "203"
      X-Ausername:
      - aharvey
    status: 200 OK
    code: 200
    duration: ""
