---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/users?limit=1
    method: GET
  response:
    body: '{"errors":[{"context":null,"message":"You are not permitted to access this
      resource","exceptionName":"com.atlassian.bitbucket.AuthorisationException"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@TCJ96Jx759x12219076x15'
    status: 401 Unauthorized
    code: 401
    duration: ""
