---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/users?limit=1
    method: GET
  response:
    body: '{"size":1,"limit":1,"isLastPage":false,"values":[{"name":"aharvey","emailAddress":"aharvey@sourcegraph.com","id":203,"displayName":"Adam
      Harvey","active":true,"slug":"aharvey","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey"}]}}],"start":0,"nextPageStart":1}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@1KBB873x1070x1023865x1'
      X-Asessionid:
      - 126co7b
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/~milton/repos/~milton-vcr-fork-test-repo
    method: GET
  response:
    body: '{"errors":[{"context":null,"message":"Repository ~milton/~milton-vcr-fork-test-repo
      does not exist.","exceptionName":"com.atlassian.bitbucket.repository.NoSuchRepositoryException"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@1KBB873x1070x1023867x1'
      X-Asessionid:
      - 12h6b37
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: |
      {"name":"milton-vcr-fork-test-repo"}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/~milton/repos/vcr-fork-test-repo
    method: POST
  response:
    body: '{"errors":[{"context":"name","message":"This repository URL is already
      taken.","exceptionName":null}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@1KBB873x1070x1023868x1'
      X-Asessionid:
      - 161vlmb
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 409 Conflict
    code: 409
    duration: ""
