---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/users?limit=1
    method: GET
  response:
    body: '{"size":1,"limit":1,"isLastPage":false,"values":[{"name":"aharvey","emailAddress":"aharvey@sourcegraph.com","id":203,"displayName":"Adam
      Harvey","active":true,"slug":"aharvey","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/aharvey"}]}}],"start":0,"nextPageStart":1}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@TCJ96Jx759x12219485x3'
      X-Asessionid:
      - 12yp3xp
      X-Auserid:
      - "253"
      X-Ausername:
      - engineers
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/~engineers/repos/BAT-vcr-fork-test-repo-already-forked
    method: GET
  response:
    body: '{"errors":[{"context":null,"message":"Repository ~engineers/BAT-vcr-fork-test-repo-already-forked
      does not exist.","exceptionName":"com.atlassian.bitbucket.repository.NoSuchRepositoryException"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@TCJ96Jx592x10818095x6'
      X-Asessionid:
      - 1eam9jw
      X-Auserid:
      - "253"
      X-Ausername:
      - engineers
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: |
      {"name":"BAT-vcr-fork-test-repo-already-forked"}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/BAT/repos/vcr-fork-test-repo-already-forked
    method: POST
  response:
    body: '{"slug":"bat-vcr-fork-test-repo-already-forked","id":216957,"name":"BAT-vcr-fork-test-repo-already-forked","description":"This
      repo is intended to be used for recording batch changes VCR tests","hierarchyId":"50e35bb364814ab459dc","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"origin":{"slug":"vcr-fork-test-repo-already-forked","id":24378,"name":"vcr-fork-test-repo-already-forked","description":"This
      repo is intended to be used for recording batch changes VCR tests","hierarchyId":"50e35bb364814ab459dc","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"BAT","id":183,"name":"batch-changes-testing","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/BAT"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/bat/vcr-fork-test-repo-already-forked.git","name":"http"},{"href":"ssh://git@bitbucket.sgdev.org:7999/bat/vcr-fork-test-repo-already-forked.git","name":"ssh"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/BAT/repos/vcr-fork-test-repo-already-forked/browse"}]}},"project":{"key":"~ENGINEERS","id":102,"name":"Sourcegraph
      Engineers","type":"PERSONAL","owner":{"name":"engineers","emailAddress":"engineering-team@sourcegraph.com","id":253,"displayName":"Sourcegraph
      Engineers","active":true,"slug":"engineers","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/engineers"}]}},"links":{"self":[{"href":"https://bitbucket.sgdev.org/users/engineers"}]}},"public":false,"links":{"clone":[{"href":"ssh://git@bitbucket.sgdev.org:7999/~engineers/bat-vcr-fork-test-repo-already-forked.git","name":"ssh"},{"href":"https://bitbucket.sgdev.org/scm/~engineers/bat-vcr-fork-test-repo-already-forked.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/users/engineers/repos/bat-vcr-fork-test-repo-already-forked/browse"}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@TCJ96Jx759x12219662x8'
      X-Asessionid:
      - a9iuyw
      X-Auserid:
      - "253"
      X-Ausername:
      - engineers
    status: 201 Created
    code: 201
    duration: ""
