---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/16606399/merge_requests/1
    method: GET
  response:
    body: '{"id":133326225,"iid":1,"project_id":16606399,"title":"Test PR on fork","description":"","state":"opened","created_at":"2022-01-01T01:22:11.850Z","updated_at":"2022-01-01T01:22:11.850Z","merged_by":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch":"master","source_branch":"LawnGnome-master-patch-12923","user_notes_count":0,"upvotes":0,"downvotes":0,"author":{"id":2383551,"username":"LawnGnome","name":"Adam
      Harvey","state":"active","avatar_url":"https://secure.gravatar.com/avatar/36d8c4d60eaed7139aa0ab88378590c0?s=80\u0026d=identicon","web_url":"https://gitlab.com/LawnGnome"},"assignees":[],"assignee":null,"reviewers":[],"source_project_id":32487131,"target_project_id":16606399,"labels":[],"draft":false,"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"47c975fef3717c45b36737a0a1241700c00b07ef","merge_commit_sha":null,"squash_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":true,"allow_collaboration":true,"allow_maintainer_to_push":true,"reference":"!1","references":{"short":"!1","relative":"!1","full":"sourcegraph/src-cli!1"},"web_url":"https://gitlab.com/sourcegraph/src-cli/-/merge_requests/1","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":false,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":false,"blocking_discussions_resolved":true,"approvals_before_merge":null,"subscribed":true,"changes_count":"1","latest_build_started_at":null,"latest_build_finished_at":null,"first_deployed_to_production_at":null,"pipeline":null,"head_pipeline":null,"diff_refs":{"base_sha":"c5a7ae0c5e82e439049568a0db674fc2a52d6ba6","head_sha":"47c975fef3717c45b36737a0a1241700c00b07ef","start_sha":"c5a7ae0c5e82e439049568a0db674fc2a52d6ba6"},"merge_error":null,"first_contribution":true,"user":{"can_merge":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"23129298cc25969410c2b0244506c634"
      Gitlab-Lb:
      - fe-07-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-c
    status: 200 OK
    code: 200
    duration: ""
[...]
