:root {
    --chat-bubble-border-radius: 6px;
}

.inner-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.transcript-container {
    flex: 1;
}

.bubble-container {
    padding: 0;
}

.bubble-row {
    display: flex;
    padding: 0.3rem 1rem 0.3rem 1rem;
}

.human-bubble-row {
    justify-content: end;
}

.bot-bubble-row {
    justify-content: start;
}

.bubble {
    min-width: 0;
    max-width: min(93%, 980px);
}

.bubble-content {
    padding: 1rem;
    border-top-right-radius: var(--chat-bubble-border-radius);
    border-top-left-radius: var(--chat-bubble-border-radius);
    word-break: break-word;
    line-height: 150%;
}

.bubble-content *:first-child {
    margin-top: 0 !important;
}

.bubble-content *:last-child {
    margin-bottom: 0 !important;
}

.bubble-content pre {
    padding: 0.5rem;
    border-radius: 0.5rem;
    overflow-x: auto;
}

.human-bubble-content {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: var(--chat-bubble-border-radius);
}

.bot-bubble-content {
    border-bottom-right-radius: var(--chat-bubble-border-radius);
    border-bottom-left-radius: 0;
}

.bubble-footer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-size: 0.63rem;
}

.human-bubble-footer {
    justify-content: flex-end;
}

.bubble-footer-timestamp {
    margin-top: 0.1rem;
    align-self: center;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

.bubble-loader {
    display: flex;
    justify-content: space-between;
}

.bubble-loader-dot {
    animation: 1s blink infinite;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
}

.bubble-loader-dot:nth-child(2) {
    animation-delay: 250ms;
}

.bubble-loader-dot:nth-child(3) {
    animation-delay: 500ms;
}

.input-row {
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    position: relative;
}

.chat-input {
    flex: 1;
    border-radius: var(--border-radius);
    resize: none;
}

.submit-button {
    position: absolute;
    right: 0.6rem;
    bottom: 0.46rem;
    fill: currentColor;
    opacity: 0.8;
    margin: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--body-color);
}

.submit-button:hover {
    opacity: 1;
}
