.tipsContainer {
    padding: 0 23px;
}

.tipsContainer ul {
    padding-inline-start: 1rem;
}

.tipsContainer li {
    line-height: 1.5rem;
}

.code-block {
    padding: 1em;
    white-space: break-spaces;
}

.blockquote {
    margin-left: 0;
}
