.brand-logo--spin {
    &:hover {
        @keyframes spin {
            50% {
                transform: rotate(180deg) scale(1.2);
            }
            100% {
                transform: rotate(180deg) scale(1);
            }
        }

        @media (prefers-reduced-motion: no-preference) {
            animation: spin 0.5s ease-in-out 1;
        }
    }
}
