.field {
    min-height: 34px;
    height: auto;
    position: relative;

    &:focus-within,
    &:focus {
        border: 1px solid var(--input-focus-border-color);
        box-shadow: 0 0 0 2px rgba(28, 126, 214, 0.25);
    }

    &:global(.is-valid) {
        border-color: var(--success);

        :global(.theme-light) &:focus-within {
            box-shadow: 0 0 0 2px var(--success-2);
        }

        :global(.theme-dark) &:focus-within {
            box-shadow: 0 0 0 2px var(--success-3);
        }
    }

    &:global(.is-invalid) {
        border-color: var(--danger);

        :global(.theme-light) &:focus-within {
            box-shadow: 0 0 0 2px var(--danger-2);
        }

        :global(.theme-dark) &:focus-within {
            box-shadow: 0 0 0 2px var(--danger-3);
        }
    }

    :global(.scroll-decoration) {
        display: none;
    }

    &::before {
        content: attr(data-placeholder);
        display: none;
        position: absolute;
        z-index: 1;
        color: var(--text-muted);
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: transparent;
        pointer-events: none;
    }

    &--with-placeholder {
        &::before {
            display: block;
        }
    }
}
