.container {
    display: flex;
    min-width: 0;
    position: relative;
    padding: 0.375rem 0.75rem !important;
    background-image: none !important;

    .monaco-field {
        background-position: right 0.75rem top 0.175rem !important;
    }
}

.focus-container {
    height: auto;

    &:focus-within,
    &:focus {
        border: 1px solid var(--input-focus-border-color);
        box-shadow: 0 0 0 2px rgba(28, 126, 214, 0.25);
    }

    &:global(.is-valid) {
        border-color: var(--success);

        :global(.theme-light) &:focus-within {
            box-shadow: 0 0 0 2px var(--success-2);
        }

        :global(.theme-dark) &:focus-within {
            box-shadow: 0 0 0 2px var(--success-3);
        }
    }

    &:global(.is-invalid) {
        border-color: var(--danger);

        :global(.theme-light) &:focus-within {
            box-shadow: 0 0 0 2px var(--danger-2);
        }

        :global(.theme-dark) &:focus-within {
            box-shadow: 0 0 0 2px var(--danger-3);
        }
    }
}

.monaco-field {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 0;
    height: auto;

    :global(.scroll-decoration) {
        display: none;
    }

    :global(.monaco-editor),
    :global(.monaco-editor-background) {
        background-color: var(--input-bg) !important;
    }

    &--without-field-styles {
        padding: 0;
        border: none;
        box-shadow: none;
    }
}

.editor {
    position: relative;

    &--with-placeholder::before {
        display: block !important;
    }

    &::before {
        content: attr(data-placeholder);
        display: none;
        position: absolute;
        z-index: 1;
        color: var(--text-muted);
        height: 100%;
        width: 100%;
        padding-right: 0.5rem;
        pointer-events: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
