
.textarea {
    margin: 0; // todo: [crafting-normalize] reset textarea margin in FF
    overflow: auto; // for ie, https://css-tricks.com/textarea-tricks/#article-header-id-8
    resize: none;
    box-sizing: border-box;
}
