.chart {
    min-height: 13rem;
    flex-grow: 1;
    width: 100%;
    position: relative;
    flex-basis: 13rem;
}

.chart-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.action-link {
    margin-top: -0.25rem;
    flex-shrink: 0;
}

.legend {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.legend-item {
    width: 6rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
}

.capture-group {
    display: flex;
    height: 100%;
}
