.event-log {
    :global(.theme-redesign) & {
        border: 0;
        padding: 0;
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
        + .event-log {
            padding-top: 0.5rem;
            border-top: 1px solid var(--border-color);
        }
    }
}
