########################
# GLOBAL VALUES
########################

# public hostname for your Sourcegraph instance (e.g., the hostname of the URL you type into your browser)
# SRC_APP_HOST=http://localhost

# public port for your Sourcegraph instance (e.g., the port of the URL you type into your web browser)
# SRC_APP_PORT=3080

############################
# LOCAL FILESYSTEM SETUP
############################

# the mapping from URL path to directory path in gitserver
ORIGIN_MAP=local/!local/%

# the directory on the host machine that contains local git repositories
# GIT_PARENT_DIRECTORY=/Users/user/path/to/folder
