.section {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color-2);

    &:last-of-type {
        border-bottom: none;
    }
}

.split-section-part {
    padding: 0.75rem 1rem;
    flex: 50%;
    border-left: 1px solid var(--border-color-2);
    text-align: center;

    &:first-child {
        border-left: none;
    }
}

.logo {
    width: 9.5rem;

    /* On Chrome and Firefox, the SVG element's height is automatically
        taken from the viewbox. On Safari, it must be explicitly set: */
    height: 1.625rem;
}

.version {
    margin-left: 2rem;
    margin-top: 0.25rem;
}

.permission-text {
    margin-top: 0.75rem;
}

.icon {
    display: inline-flex;
    place-items: center;
    padding: 0.5rem;
    border-radius: 100%;
}

.link {
    font-weight: bold;
}

.popover[data-reach-combobox-popover] {
    margin: 0;
    padding: 0.25rem 0;
    background: var(--color-bg-1);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    box-shadow: var(--dropdown-shadow);

    :global(.theme-dark) & {
        background-color: var(--input-bg);
    }

    &,
    [data-suggested-value] {
        font-size: 0.875rem;
        font-weight: normal;
    }

    [data-reach-combobox-list] {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    [data-reach-combobox-option] {
        list-style: none;
        margin: 0;
        padding: 0.5rem 0.75rem;
        cursor: pointer;

        &:hover,
        &[aria-selected='true'] {
            background: var(--color-bg-3);
        }
    }
}
