.options-page {
    width: 26rem;
    color: var(--body-color);

    &--full {
        margin: 8rem auto;
    }

    &__section {
        padding: 1rem;
        border-bottom: 1px solid var(--border-color-2);

        &:last-of-type {
            border-bottom: none;
        }
    }

    &__logo {
        width: 9.5rem;

        /* On Chrome and Firefox, the SVG element's height is automatically
        taken from the viewbox. On Safari, it must be explicitly set: */
        height: 1.625rem;
    }

    &__version {
        margin-left: 2rem;
        margin-top: 0.25rem;
    }

    &__permission-text {
        margin-top: 0.75rem;
    }

    &__icon-container {
        right: 0.5rem;
        top: 0;
    }

    &__icon-check {
        margin: 0 0.25rem;
    }

    &__icon-loading {
        padding: 0.25rem;
    }

    &__input-disabled {
        display: none;
    }

    &__text-error {
        color: var(--danger);
    }

    &__open-new-icon {
        width: 0.9rem;
        height: 0.9rem;
        vertical-align: text-bottom;
    }

    &__text-link {
        color: var(--link-color);
        font-weight: normal;

        &:focus,
        &:active {
            outline: none;
            box-shadow: none;
        }
    }
}
