.section {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color-2);

    &:last-of-type {
        border-bottom: none;
    }
}

.split-section-part {
    padding: 0.75rem 1rem;
    flex: 50%;
    border-left: 1px solid var(--border-color-2);
    text-align: center;

    &:first-child {
        border-left: none;
    }
}

.logo {
    width: 9.5rem;

    /* On Chrome and Firefox, the SVG element's height is automatically
        taken from the viewbox. On Safari, it must be explicitly set: */
    height: 1.625rem;
}

.version {
    margin-left: 2rem;
    margin-top: 0.25rem;
}

.permission-text {
    margin-top: 0.75rem;
}

.suggestion-remove-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:hover {
        background: var(--color-bg-3);
    }
}
