.git-ref-node {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid var(--border-color);
    &:first-of-type {
        border-top: 1px solid var(--border-color);
    }
}
