.repo-revision-sidebar-symbols {
    .theme-redesign & {
        padding-top: 0.75rem;
        &-node {
            &:first-of-type {
                padding-top: 0.75rem;
            }
            &__link {
                padding: 0 0 0.25rem 0;
            }
        }
    }
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;

    &-node {
        &__link {
            display: block;
            padding: 0.125rem 0.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $secondary;
            &--active,
            &:hover {
                background-color: var(--color-bg-3);
                .theme-redesign & {
                    text-decoration: none;
                    color: var(--body-color);
                    border-radius: var(--border-radius);
                }
            }
        }

        &__name {
            color: var(--body-color);
        }

        &__container-name {
            margin-left: 0.25rem;
        }

        &__path {
            &::before {
                content: ' – ';
            }
        }

        &__container-name,
        &__path {
            .theme-dark & {
                color: #566e9f;
            }
        }
    }
}
