.repo-revision-sidebar-symbols {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding-top: 0.5rem;

    &-node {
        font-size: 0.875rem;
    }
}

.form {
    padding-bottom: 0.75rem;
    :global(.form-control) {
        height: 1.75rem;
        font-size: 0.75rem;
        padding: 0.5rem;
    }
}

.summary-container {
    border-top: none !important;
    border-bottom: 1px solid var(--border-color) !important;
    padding: 0 0.25rem 0.5rem 0.25rem !important;
    min-height: 0 !important;
}

.link {
    display: block;
    padding: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-muted);

    &--active,
    &:hover {
        background-color: var(--color-bg-3);
        text-decoration: none;
        color: var(--body-color);
        border-radius: var(--border-radius);
    }
}

.name {
    color: var(--body-color);
}

.container-name {
    margin-left: 0.5rem;
}

.form-container {
    position: sticky;
    top: 0;
    background-color: var(--body-bg);
}
