@import 'wildcard/src/global-styles/breakpoints';

.repo-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    @media (--md-breakpoint-up) {
        min-width: 800px;
    }

    @media (--md-breakpoint-up) and (--lg-breakpoint-down) {
        flex-direction: column;
    }

    :global(.navbar-nav) {
        white-space: nowrap;

        :global(.nav-item) {
            display: flex;
            align-items: stretch;

            :global(.nav-link) {
                user-select: none;
            }
        }
    }
}

.breadcrumb {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.action-list {
    gap: 0.625rem;
    margin-left: auto;
}

.action-list-item:not(:empty) {
    /* Have a small gap between buttons so they are visually distinct when pressed */
    /* stylelint-disable-next-line declaration-property-unit-allowed-list */
    margin-left: 1px;
}

.icon-chevron {
    opacity: 0.6;
    margin: auto;
}

.spacer {
    flex: 1 1 0;
}

.breadcrumb-wrap {
    @media (--md-breakpoint-up) {
        flex-wrap: nowrap !important;
    }
}
