.repo-revision-sidebar-symbols {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding-top: 0.5rem;

    &-node {
        font-size: 0.875rem;
    }
}

.form {
    padding-bottom: 0.75rem;
    :global(.form-control) {
        height: 1.75rem;
        font-size: 0.75rem;
        padding: 0.5rem;
    }
}

.summary-container {
    border-top: none !important;
    border-bottom: 1px solid var(--border-color) !important;
    padding: 0 0.25rem 0.5rem 0.25rem !important;
    min-height: 0 !important;
}

.form-container {
    position: sticky;
    top: 0;
    background-color: var(--body-bg);
}

.tree-node {
    // Account for the sticky input box at the top of the sidebar
    scroll-margin-top: 2.75rem;
}
