.tabpanels {
    margin-top: 0.25rem;
    height: calc(100% - 2.25rem);
}

.close-icon {
    color: var(--link-color);
}

.toggle {
    display: flex;
    justify-content: center;
    left: 0;
    width: 2rem;
    height: 2rem;
    z-index: 1;
    isolation: isolate;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: var(--icon-color);
    background-color: var(--body-bg);

    &:hover {
        background-color: var(--color-bg-3);
    }
}

.panel {
    --panel-bg-color: transparent;
}

.panel-handle {
    right: calc(-1 * var(--panel-handle-size));
}
