.feature-tour {
    --tour-bg: var(--white);

    :global(.theme-dark) {
        --tour-bg: var(--gray-08);
    }

    background: var(--tour-bg);
    border: none;
    border-radius: 10px;

    :global(.shepherd-arrow::after) {
        border-bottom-color: var(--tour-bg);
    }

    &__step {
        width: 17rem;
    }
}
