.feature-tour {
    background: var(--color-bg-2);
    border: none;
    border-radius: 10px;

    :global(.shepherd-arrow::after) {
        border-bottom-color: var(--color-bg-2);
    }

    &__step {
        width: 17rem;
    }
}
