.filter-chip {
    padding: 0 0.25rem;
    border-radius: 2px;
    margin: 0.25rem 0.5rem 0.25rem 0;

    border-color: var(--border-color-2);

    .theme-dark & {
        background: $color-bg-2;
        color: $color-text-1;
    }
    .theme-light & {
        color: $color-light-text-1;
        background: transparent;
    }

    &:hover:not(&--selected) {
        border-color: var(--border-color);
        .theme-dark & {
            background: $color-bg-3;
            color: #ffffff;
        }
        .theme-light & {
            background: $color-light-bg-4;
            color: $color-light-text-6;
        }
    }

    &__count {
        display: inline-block;
        margin-left: 0.25rem;
        padding: 0 0.2rem;

        .theme-light & {
            background: $color-light-bg-2;
            color: $color-light-text-2;
        }

        .theme-dark & {
            background: $color-bg-3;
        }

        &--selected {
            .theme-dark & {
                background: $color-bg-2;
            }
            .theme-light & {
                background: $color-light-bg-1;
            }
        }
    }

    &-repo {
        padding-right: 0;
    }

    &--selected {
        border-color: var(--border-color);
        .theme-dark & {
            color: $color-text;
            background: $color-bg-5;
        }
        .theme-light & {
            background: $color-light-bg-3;
        }
    }
}
