.highlight-tour {
    background: var(--tour-bg);
    border: none;
    border-radius: 10px;

    .shepherd-arrow::after {
        border-bottom-color: var(--tour-bg);
    }

    &__step {
        width: 17rem;
    }
}
