.root {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    color: var(--body-color);
    background-color: var(--color-bg-1);

    border: 1px solid var(--border-color-2);
    border-radius: var(--border-radius);

    box-shadow: var(--dropdown-shadow);

    // This is in a separate class so that we can render the widget in a
    // different context with a different layout
    &.fixed {
        position: fixed;
        right: 0.75rem;
        bottom: 0.75rem;

        &.open {
            width: 20rem;
        }
    }

    h2 {
        font-size: 0.75rem;
        margin: 0;
        font-weight: 600;
    }

    h3 {
        font-size: 0.75rem;
        margin: 0;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        overflow-y: auto;
        flex: 1;

        li:first-child {
            border-top: 1px solid var(--border-color);
        }

        li {
            border-bottom: 1px solid var(--border-color);
        }
    }

    .entry {
        display: block;
        padding: 0.75rem 0.5rem;
        font-size: 0.75rem;
        overflow-wrap: anywhere;
        background-color: var(--color-bg-0);

        &.selected {
            background-color: var(--color-bg-2);

            :global(.theme-dark) & {
                background-color: var(--color-bg-3);
            }
        }
    }

    &.open {
        max-height: 95vh;
    }

    small {
        color: var(--text-muted);
    }
}

.new-note {
    background-color: var(--color-bg-2);

    :global(.theme-dark) & {
        background-color: var(--color-bg-3);
    }
}

.header {
    .open & {
        border-radius: 0;
        border-bottom: 1px solid var(--border-color-2);

        // Hides the item count in the header
        small {
            display: none;
        }

        .toggle-icon {
            transform: rotate(180deg);
        }
    }
}
