.root {
    position: fixed;
    right: 0.5rem;
    bottom: 0;

    color: var(--body-color);
    background-color: var(--color-bg-1);

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    box-shadow: var(--dropdown-shadow);
    border: 1px solid var(--border-color-2);
    overflow: hidden;

    h4 {
        margin: 0;
        font-weight: 600;
    }

    ul {
        padding: 0;
        margin: 0.25rem 0 0.25rem 0.5rem;
        list-style: none;
        overflow-y: auto;
        flex: 1;

        .entry {
            display: block;
            padding: 0.25rem;
            border-radius: 3px;
            font-size: 0.75rem;
            overflow-wrap: anywhere;
            margin-right: 0.5rem;

            &:hover {
                background-color: var(--color-bg-2);
                text-decoration: none;
            }
        }
    }

    .close-button {
        float: right;
    }

    .open-visible {
        display: none;
    }

    &.open {
        width: 15rem;
        max-height: 95vh;
        display: flex;
        flex-direction: column;

        .open-visible {
            display: initial;
        }

        .header {
            border-bottom: 1px solid var(--border-color-2);
        }
    }
}
