@import 'wildcard/src/global-styles/breakpoints';

.streaming-search-results {
    display: flex;
    flex-direction: column;
    width: 100%;

    :global(.theme-redesign) & {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        height: min-content;

        @media (--md-breakpoint-down) {
            grid-template-columns: auto;
            grid-template-rows: auto auto 1fr;
        }
    }

    &__sidebar {
        :global(.theme-redesign) & {
            grid-column: 1;
            grid-row: 1 / span 2;

            @media (--md-breakpoint-down) {
                grid-column: 1;
                grid-row: 2;
                display: none;

                &--show {
                    display: block;
                }
            }
        }
    }

    &__infobar {
        :global(.theme-redesign) & {
            grid-column: 2;
            grid-row: 1;

            @media (--md-breakpoint-down) {
                grid-column: 1;
                grid-row: 1;
                padding-left: 1rem;
            }
        }
    }

    &__container {
        :global(.theme-redesign) & {
            overflow-y: visible;
            overflow-x: hidden;
            grid-column: 2;
            grid-row: 2;

            @media (--md-breakpoint-down) {
                grid-column: 1;
                grid-row: 3;
                padding-left: 1rem;
            }
        }
    }
}
