.gh-org-item {
    border: 0;
    padding: 0;
    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    + .gh-org-item {
        border-top: 1px solid var(--border-color);
        padding-top: 1rem;
    }
}

.gh-org-icon {
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
}
