@value c_blue rgba(15, 182, 242, 1);
@value c_blue-text rgba(0, 146, 214, 1);
@value c_blue-8 rgba(15, 182, 242, .8);
@value c_blue-5 rgba(15, 182, 242, .5);
@value c_blue-2 rgba(15, 182, 242, .2);
@value c_blue-1 rgba(15, 182, 242, .1);
@value c_faded-blue rgb(155, 194, 215);
@value c_dark-blue rgba(0, 82, 140, 1);
@value c_dark-blue-2 rgb(0, 166, 222);
@value c_pale-blue rgba(247, 249, 255, 1);

@value c_purple rgba(177, 20, 247, 1);
@value c_purple-8 rgba(177, 20, 247, .8);
@value c_purple-5 rgba(177, 20, 247, .5);
@value c_purple-2 rgba(177, 20, 247, .2);
@value c_purple-1 rgba(177, 20, 247, .1);
@value c_light-purple rgba(232, 195, 250, 1);
@value c_dark-purple rgba(123, 13, 172, 1);

@value c_orange rgba(249, 99, 22, 1);
@value c_orange-8 rgba(249, 99, 22, .8);
@value c_orange-5 rgba(249, 99, 22, .5);
@value c_orange-2 rgba(249, 99, 22, .2);
@value c_orange-1 rgba(249, 99, 22, .2);
@value c_dark-orange rgba(230, 70, 0, 1);

@value c_green rgba(13, 206, 183, 1);
@value c_green-text rgba(10, 166, 148, 1);
@value c_green-8 rgba(13, 206, 183, .8);
@value c_green-5 rgba(13, 206, 183, .5);
@value c_green-2 rgba(13, 206, 183, .2);
@value c_dark-green rgba(5, 128, 128, 100);

@value c_yellow #FFC770;

@value c_red rgba(246, 106, 106, 1);
@value c_red-text rgba(242, 73, 73, 1);
@value c_red-8 rgba(246, 106, 106, .8);
@value c_red-5 rgba(246, 106, 106, .5);
@value c_red-2 rgba(246, 106, 106, .2);

@value c_cool-gray rgba(52, 73, 102, 1);
@value c_cool-gray-8 rgba(52, 74, 102, .8);
@value c_cool-gray-5 rgba(52, 74, 102, .5);
@value c_cool-gray-2 rgba(52, 74, 102, .2);
@value c_cool-gray-1 rgba(52, 74, 102, .1);
@value c_cool-dark-gray rgba(26, 48, 77, 1);

@value c_cool-mid-gray rgba(119, 147, 174, 1);
@value c_cool-pale-gray rgba(213, 229, 242, 1);

@value c_dark-gray #333;
@value c_mid-gray #555;
@value c_gray #777;
@value c_silver #999;
@value c_light-silver #aaa;
@value c_light-gray #eee;
@value c_near-white #fafafa;
@value c_moon-gray #ccc;
@value c_black-90 rgba( 0, 0, 0, .9 );
@value c_black-80 rgba( 0, 0, 0, .8 );
@value c_black-70 rgba( 0, 0, 0, .7 );
@value c_black-60 rgba( 0, 0, 0, .6 );
@value c_black-50 rgba( 0, 0, 0, .5 );
@value c_black-40 rgba( 0, 0, 0, .4 );
@value c_black-30 rgba( 0, 0, 0, .3 );
@value c_black-20 rgba( 0, 0, 0, .2 );
@value c_black-10 rgba( 0, 0, 0, .1 );
@value c_black-05 rgba( 0, 0, 0, .05 );
@value c_black-025 rgba( 0, 0, 0, .025 );
@value c_black-0125 rgba( 0, 0, 0, .0125 );
@value c_white-90 rgba( 255, 255, 255, .9 );
@value c_white-80 rgba( 255, 255, 255, .8 );
@value c_white-70 rgba( 255, 255, 255, .7 );
@value c_white-60 rgba( 255, 255, 255, .6 );
@value c_white-50 rgba( 255, 255, 255, .5 );
@value c_white-40 rgba( 255, 255, 255, .4 );
@value c_white-30 rgba( 255, 255, 255, .3 );
@value c_white-20 rgba( 255, 255, 255, .2 );
@value c_white-10 rgba( 255, 255, 255, .1 );
@value c_white-05 rgba( 255, 255, 255, .05 );
@value c_white-025 rgba( 255, 255, 255, .025 );
@value c_white-0125 rgba( 255, 255, 255, .0125 );

/* Colors */
.blue { color: c_blue-text; }
.blue-8 { color: c_blue-8; }
.blue-5 { color: c_blue-5; }
.blue-2 { color: c_blue-2; }
.blue-1 { color: c_blue-1; }
.faded-blue { color: c_faded-blue; }
.pale-blue { color: c_pale-blue; }
.dark-blue { color: c_dark-blue; }
.green { color: c_green-text; }
.green-8 { color: c_green-8; }
.green-5 { color: c_green-5; }
.green-2 { color: c_green-2; }
.dark-green { color: c_dark-green; }
.yellow { color: c_yellow; }
.orange { color: c_orange; }
.orange-8 { color: c_orange-8; }
.orange-5 { color: c_orange-5; }
.orange-2 { color: c_orange-2; }
.orange-1 { color: c_orange-1; }
.red { color: c_red-text; }
.red-8 { color: c_red-8; }
.red-5 { color: c_red-5; }
.red-2 { color: c_red-2; }
.purple { color: c_purple; }
.purple-8 { color: c_purple-8; }
.purple-5 { color: c_purple-5; }
.purple-2 { color: c_purple-2; }
.purple-1 { color: c_purple-1; }
.light-purple { color: c_light-purple; }
.cool-gray { color: c_cool-gray; }
.cool-gray-8 { color: c_cool-gray-8; }
.cool-gray-5 { color: c_cool-gray-5; }
.cool-gray-2 { color: c_cool-gray-2; }
.cool-gray-1 { color: c_cool-gray-1; }
.cool-mid-gray { color: c_cool-mid-gray; }
.cool-pale-gray { color: c_cool-pale-gray; }

.black { color: black; }
.dark-gray { color: c_dark-gray; }
.mid-gray { color: c_mid-gray; }
.gray { color: c_gray; }
.silver { color: c_silver; }
.light-silver { color: c_light-silver; }
.light-gray { color: c_light-gray; }
.near-white { color: c_near-white; }
.moon-gray { color: c_moon-gray; }
.white { color: white; }
.white-90 { color: c_white-90; }
.white-80 { color: c_white-80; }
.white-70 { color: c_white-70; }
.white-60 { color: c_white-60; }
.white-50 { color: c_white-50; }
.white-40 { color: c_white-40; }
.white-30 { color: c_white-30; }
.white-20 { color: c_white-20; }
.white-10 { color: c_white-10; }
.white-05 { color: c_white-05; }
.white-025 { color: c_white-025; }
.white-0125 { color: c_white-0125; }
.black-90 { color: c_black-90; }
.black-80 { color: c_black-80; }
.black-70 { color: c_black-70; }
.black-60 { color: c_black-60; }
.black-50 { color: c_black-50; }
.black-40 { color: c_black-40; }
.black-30 { color: c_black-30; }
.black-20 { color: c_black-20; }
.black-10 { color: c_black-10; }
.black-05 { color: c_black-05; }
.black-025 { color: c_black-025; }
.black-0125 { color: c_black-0125; }
.transparent { color: transparent; }

/* Backgrounds */
.bg-blue { background-color: c_blue; }
.bg-blue-8 { background-color: c_blue-8; }
.bg-blue-5 { background-color: c_blue-5; }
.bg-blue-2 { background-color: c_blue-2; }
.bg-blue-1 { background-color: c_blue-1; }
.bg-faded-blue { background-color: c_faded-blue; }
.bg-pale-blue { background-color: c_pale-blue; }
.bg-dark-blue { background-color: c_dark-blue; }
.bg-blue-gradient {
	background-image: linear-gradient(-180deg, c_blue 0%, c_blue-text 100%);
}
.bg-pale-blue-gradient {
	background-image: linear-gradient(0deg, c_cool-pale-gray 0%, #F1F5F7 80%);
}

.bg-green { background-color: c_green; }
.bg-green-8 { background-color: c_green-8; }
.bg-green-5 { background-color: c_green-5; }
.bg-green-2 { background-color: c_green-2; }

.bg-yellow { background-color: c_yellow; }

.bg-orange { background-color: c_orange; }
.bg-orange-8 { background-color: c_orange-8; }
.bg-orange-5 { background-color: c_orange-5; }
.bg-orange-2 { background-color: c_orange-2; }
.bg-orange-1 { background-color: c_orange-1; }

.bg-red { background-color: c_red; }
.bg-red-8 { background-color: c_red-8; }
.bg-red-5 { background-color: c_red-5; }
.bg-red-2 { background-color: c_red-2; }

.bg-purple { background-color: c_purple; }
.bg-purple-8 { background-color: c_purple-8; }
.bg-purple-5 { background-color: c_purple-5; }
.bg-purple-2 { background-color: c_purple-2; }
.bg-purple-1 { background-color: c_purple-1; }
.bg-light-purple { background-color: c_light-purple; }
.bg-purple-gradient {
	background-image: linear-gradient(-180deg, c_purple 0%, c_dark-purple 100%);
}

.bg-cool-mid-gray { background-color: c_cool-mid-gray; }
.bg-cool-pale-gray { background-color: c_cool-pale-gray; }
.bg-cool-gray { background-color: c_cool-gray; }
.bg-cool-gray-8 { background-color: c_cool-gray-8; }
.bg-cool-gray-2 { background-color: c_cool-gray-2; }
.bg-cool-gray-1 { background-color: c_cool-gray-1; }

.bg-black { background-color: black; }
.bg-dark-gray { background-color: c_dark-gray; }
.bg-mid-gray { background-color: c_mid-gray; }
.bg-gray { background-color: c_gray; }
.bg-silver { background-color: c_silver; }
.bg-light-silver { background-color: c_light-silver; }
.bg-light-gray { background-color: c_light-gray; }
.bg-moon-gray { background-color: c_moon-gray; }

.bg-near-white { background-color: c_near-white; }
.bg-white { background-color: white; }
.bg-white-90 { background-color: c_white-90; }
.bg-white-80 { background-color: c_white-80; }
.bg-white-70 { background-color: c_white-70; }
.bg-white-60 { background-color: c_white-60; }
.bg-white-50 { background-color: c_white-50; }
.bg-white-40 { background-color: c_white-40; }
.bg-white-30 { background-color: c_white-30; }
.bg-white-20 { background-color: c_white-20; }
.bg-white-10 { background-color: c_white-10; }
.bg-white-05 { background-color: c_white-05; }
.bg-white-025 { background-color: c_white-025; }
.bg-white-0125 { background-color: c_white-0125; }
.bg-pale-white-gradient {
	background-image: linear-gradient(-1deg, c_near-white 0%, white 100%);
}
.bg-black-90 { background-color: c_black-90; }
.bg-black-80 { background-color: c_black-80; }
.bg-black-70 { background-color: c_black-70; }
.bg-black-60 { background-color: c_black-60; }
.bg-black-50 { background-color: c_black-50; }
.bg-black-40 { background-color: c_black-40; }
.bg-black-30 { background-color: c_black-30; }
.bg-black-20 { background-color: c_black-20; }
.bg-black-10 { background-color: c_black-10; }
.bg-black-05 { background-color: c_black-05; }
.bg-black-025 { background-color: c_black-025; }
.bg-black-0125 { background-color: c_black-0125; }
.bg-transparent { background-color: transparent; }

/* Borders */
.b--blue { border-color: c_blue; }
.b--blue-8 { border-color: c_blue-8; }
.b--blue-5 { border-color: c_blue-5; }
.b--blue-2 { border-color: c_blue-2; }
.b--blue-1 { border-color: c_blue-1; }
.b--faded-blue { border-color: c_faded-blue; }
.b--pale-blue { border-color: c_pale-blue; }
.b--dark-blue { border-color: c_dark-blue; }
.b--green { border-color: c_green; }
.b--green-8 { border-color: c_green-8; }
.b--green-5 { border-color: c_green-5; }
.b--green-2 { border-color: c_green-2; }
.b--yellow { border-color: c_yellow; }
.b--orange { border-color: c_orange; }
.b--orange-8 { border-color: c_orange-8; }
.b--orange-5 { border-color: c_orange-5; }
.b--orange-2 { border-color: c_orange-2; }
.b--orange-1 { border-color: c_orange-1; }
.b--light-orange { border-color: c_light-orange; }
.b--dark-orange { border-color: c_dark-orange; }
.b--red { border-color: c_red; }
.b--red-8 { border-color: c_red-8; }
.b--red-5 { border-color: c_red-5; }
.b--red-2 { border-color: c_red-2; }
.b--purple { border-color: c_purple; }
.b--purple-8 { border-color: c_purple-8; }
.b--purple-5 { border-color: c_purple-5; }
.b--purple-2 { border-color: c_purple-2; }
.b--purple-1 { border-color: c_purple-1; }
.b--light-purple { border-color: c_light-purple; }
.b--cool-gray { border-color: c_cool-gray; }
.b--cool-gray-2 { border-color: c_cool-gray-2; }
.b--cool-gray-5 { border-color: c_cool-gray-5; }
.b--cool-gray-8 { border-color: c_cool-gray-8; }
.b--cool-mid-gray { border-color: c_cool-mid-gray; }
.b--cool-pale-gray { border-color: c_cool-pale-gray; }
.b--black { border-color: black; }
.b--dark-gray { border-color: c_dark-gray; }
.b--mid-gray { border-color: c_mid-gray; }
.b--gray { border-color: c_gray; }
.b--silver { border-color: c_silver; }
.b--light-silver { border-color: c_light-silver; }
.b--light-gray { border-color: c_light-gray; }
.b--near-white { border-color: c_near-white; }
.b--moon-gray { border-color: c_moon-gray; }
.b--white { border-color: white; }
.b--white-90 { border-color: c_white-90; }
.b--white-80 { border-color: c_white-80; }
.b--white-70 { border-color: c_white-70; }
.b--white-60 { border-color: c_white-60; }
.b--white-50 { border-color: c_white-50; }
.b--white-40 { border-color: c_white-40; }
.b--white-30 { border-color: c_white-30; }
.b--white-20 { border-color: c_white-20; }
.b--white-10 { border-color: c_white-10; }
.b--white-05 { border-color: c_white-05; }
.b--white-025 { border-color: c_white-025; }
.b--white-0125 { border-color: c_white-0125; }
.b--black-90 { border-color: c_black-90; }
.b--black-80 { border-color: c_black-80; }
.b--black-70 { border-color: c_black-70; }
.b--black-60 { border-color: c_black-60; }
.b--black-50 { border-color: c_black-50; }
.b--black-40 { border-color: c_black-40; }
.b--black-30 { border-color: c_black-30; }
.b--black-20 { border-color: c_black-20; }
.b--black-10 { border-color: c_black-10; }
.b--black-05 { border-color: c_black-05; }
.b--black-025 { border-color: c_black-025; }
.b--black-0125 { border-color: c_black-0125; }
.b--transparent { border-color: transparent; }
