@value vars "./_vars.css";
@value colors "./_colors.css";
@value base "./_base.css";

/* Type */

@value desktop_base_size, mobile_base_size from vars;
@value font_size_1, font_size_2, font_size_3, font_size_4, font_size_5, font_size_6, font_size_7, code_font_size_1, code_font_size_2 from vars;

/* Responsive variables */
@value media_sm, media_ns, media_md, media_lg from vars;

/* Color variables */
@value c_orange, c_blue_text, c_dark_blue, c_cool_gray_5 from colors;

/*
	 TYPE SCALE
*/

/* Type Scale */
.f1 {
	font-size: font_size_1;
	line-height: 1.45;
}
.f2 {
	font-size: font_size_2;
	line-height: 1.45;
}
.f3 {
	font-size: font_size_3;
	line-height: 1.45;
}
.f4 {
	font-size: font_size_4;
	line-height: 1.45;
}
.f5 {
	font-size: font_size_5;
	line-height: 1.45;
}
.f6 {
	font-size: font_size_6;
	line-height: 1.45;
}
.f7 {
	font-size: font_size_7;
	line-height: 1.45;
}

.code_normal {
	font-size: code_font_size_2;
	line-height: 1.45;
}

.code_large {
	font-size: code_font_size_1;
	line-height: 1.65;
}

.code_deftitle {
	font-family: Menlo, Consolas, Monaco, monospace;
	font-size: 18.75px;
	line-height: 1.45;
}


/*
	 MEASURE
	 (http://tachyons.io/docs/typography/measure/)
*/
/* Measure is limited to ~75 characters */
.measure { max-width: 30em; }
/* Measure is limited to ~45 characters */
.measure_narrow { max-width: 20em; }
/* Book paragraph style - paragraphs are indented with no vertical spacing. */
.indent { text-indent: 1em; margin-top: 0; margin-bottom: 0; }
/* Combine this class with a width to truncate text */
.truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

/*
	 FONT FAMILY GROUPS
*/
code, .code { font-family: Menlo, Consolas, Monaco, monospace; }

html {
	font-family: -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', 'San Francisco', 'SFNS Display', 'Roboto', 'Lucida Grande', 'avenir next', avenir, 'Helvetica', Ubuntu, 'segoe ui', arial, sans-serif;
}

/*
	 FONT STYLE
*/
.i { font-style: italic; }
.fs_normal { font-style: normal; }

/*
	 FONT WEIGHT
*/
.normal { font-weight: normal; }
.b { font-weight: bold; }
.fw1 { font-weight: 100; }
.fw2 { font-weight: 200; }
.fw3 { font-weight: 300; }
.fw4 { font-weight: 400; }
.fw5 { font-weight: 500; }
.fw6 { font-weight: 600; }
.fw7 { font-weight: 700; }
.fw8 { font-weight: 800; }
.fw9 { font-weight: 900; }

/*
	 LETTER SPACING
*/
.tracked { letter-spacing: .09em; }
.tracked_tight { letter-spacing: -.05em; }
.tracked_mega { letter-spacing: .18em; }

/*
	 LINE HEIGHT / LEADING
*/
.lh_solid { line-height: 1; }
.lh_title { line-height: 1.3; }
.lh_copy { line-height: 1.6; }

/*
	 VERTICAL ALIGN
*/
.v_base { vertical-align: baseline; }
.v_sub { vertical-align: sub; }
.v_sup { vertical-align: super; }
.v_txt_top { vertical-align: text-top; }
.v_txt_btm { vertical-align: text-bottom; }
.v_mid { vertical-align: middle; }
.v_top { vertical-align: top; }
.v_btm { vertical-align: bottom; }

/*
	TEXT ALIGN
*/
.tl { text-align: left; }
.tr { text-align: right; }
.tc { text-align: center; }


/* LINKS */

/* Can't use "composes" on tag names */
a {
	text-decoration: none;
	color: c_blue_text;
}
a:hover {
	text-decoration: none;
	color: c_dark_blue;
}

.link {
	text-decoration: none;
	color: c_blue_text;
}
.link:hover {
	text-decoration: none;
	color: c_dark_blue;   /* TODO: can't use compose on pseudoelements. */
}

.link_subtle { color: inherit; }
.link_subtle:hover { color: c_cool_gray_8; }

/*
	 TEXT DECORATION
*/
.strike { text-decoration: line-through; }
.underline { text-decoration: underline; }
.no_underline { text-decoration: none; }

@media screen and media_ns {
	.f_6_ns, .f_headline_ns { font-size: 6rem; }
	.f_5_ns, .f_subheadline_ns { font-size: 5rem; }
	.f1_ns { font-size: font_size_1; }
	.f2_ns { font-size: font_size_2; }
	.f3_ns { font-size: font_size_3; }
	.f4_ns { font-size: font_size_4; }
	.f5_ns { font-size: font_size_5; }
	.f6_ns { font-size: font_size_6; }
	.measure_ns { max-width: 30em; }
	.measure_narrow_ns { max-width: 20em; }
	.indent_ns { text-indent: 1em; margin-top: 0; margin-bottom: 0; }
	.truncate_ns { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
}
@media screen and media_md {
	.f_6_m, .f_headline_m { font-size: 6rem; }
	.f_5_m, .f_subheadline_m { font-size: 5rem; }
	.f1_m { font-size: font_size_1; }
	.f2_m { font-size: font_size_2; }
	.f3_m { font-size: font_size_3; }
	.f4_m { font-size: font_size_4; }
	.f5_m { font-size: font_size_5; }
	.f6_m { font-size: font_size_6; }
	.measure_m { max-width: 30em; }
	.measure_narrow_m { max-width: 20em; }
	.indent_m { text-indent: 1em; margin-top: 0; margin-bottom: 0; }
	.truncate_m { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
}
@media screen and media_lg {
	.f_6_l, .f_headline_l { font-size: 6rem; }
	.f_5_l, .f_subheadline_l { font-size: 5rem; }
	.f1_l { font-size: font_size_1; }
	.f2_l { font-size: font_size_2; }
	.f3_l { font-size: font_size_3; }
	.f4_l { font-size: font_size_4; }
	.f5_l { font-size: font_size_5; }
	.f6_l { font-size: font_size_6; }
	.measure_l { max-width: 30em; }
	.measure_narrow_l { max-width: 20em; }
	.indent_l { text-indent: 1em; margin-top: 0; margin-bottom: 0; }
	.truncate_l { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
}

.header {
	composes: f3 f2_ns;
	composes: dark_gray from colors;
}

.header::after {
	content: '';
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	width: 35px;
	height: 3px;
	background-color: c_orange;
}

/* @TODO(chexee): deprecate these in favor of the react component */

.header_center {
	composes: header tc;
}
.header_center::after {
	content: '';
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 35px;
	height: 3px;
	background-color: c_orange;
}

.header_center_padded {
	composes: header_center;
}
.header_center_padded::after {
	content: '';
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	width: 35px;
	height: 3px;
	opacity: .9;
	background-color: c_orange;
}

.header_left {
	composes: header tl;
}
.header_left::after {
	content: '';
	display: block;
	margin-right: auto;
	width: 35px;
	height: 3px;
	background-color: c_orange;
}

.subheader {
	composes: f3 lh_copy;
	composes: silver from colors;
}

.section_header {
	composes: f2 b;
	composes: mid_gray from colors;
}

.subsection_header {
	composes: b f4 tracked;
	composes: mid_gray from colors;
	text-transform: uppercase;
}
.subsection_header::after {
	content: '';
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 35px;
	height: 3px;
	opacity: .9;
	background-color: c_orange;
}

.small_text {
	composes: f6;
	composes: silver from colors;
}

.error_text {
	composes: f5;
	composes: red from colors;
}

.normal_text {
	composes: f4;
	composes: mid_gray from colors;
}

.heavy_text {
	composes: f3;
	composes: mid_gray from colors;
}

.empty_state_text {
	composes: f4;
	composes: mid_gray from colors;
	font-style: italic;
}
