@value base "sourcegraph/components/styles/_base.css";
@value colors "sourcegraph/components/styles/_colors.css";

.sep {
	composes: ph1 from base;
	composes: cool_mid_gray from colors;
}

.link {
	composes: link from "./link.css";
}

.active {
	composes: link from "./link.css";
}

.inactive {
	color: inherit !important;
}
.inactive:hover {
	color: inherit !important; /* don't show hover effect for inactive components */
}

.link:hover, .active:hover, .inactive:hover {
	text-decoration: underline;
}
