@value base "./base.css";
@value colors "./colors.css";
@value typography "./typography.css";

@value btn-transition: all 0.4s;

@value c_blue, c_green, c_orange, c_dark-gray, c_black-50, c_purple, c_light-gray, c_red, c_blue, c_dark-blue-2 from colors;

.btn {
    composes: tc fw5 from typography;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    transition: btn-transition;
}
.btn:focus {
    outline: 0;
}

.btn[disabled],
.disabled,
.disabled:hover,
.disabled:focus,
.disabled:active {
    border: none;
    background-image: none;
    filter: alpha(opacity=70);
    opacity: 0.70;
    cursor: not-allowed;
    box-shadow: none;
}

/* Get rid of the inner focus border. */
.btn::-moz-focus-inner{
    padding: 0;
    border: 0;
}

.large {
    composes: pa4 br2 from base;
    font-size: 1.25rem !important;
}
.normal {
    composes: ph3 br2 from base;
    padding-top: 9px;
    padding-bottom: 9px;
}
.small {
    composes: pa2 br2 from base;
}
.tiny {
    composes: fa6 from typography;
    composes: br2 ph3 pv1 from base;
}

/* block button fits to width of container */
.block {
    composes: btn;
    display: block;
    width: 100%;
}

/* outline buttons */
.outline {
    composes: btn;
    composes: ba bw2 from base;
    composes: bg-white from colors;
    background-image: none;
}
.outline-primary {
    composes: outline;
    composes: b--blue-5 blue from colors;
}
.outline-primary:hover,
.outline-primary:focus {
    border-color: c_blue;
    color: c_blue;
}

.outline-success {
    composes: outline;
    composes: b--green-8 green-8 from colors;
}
.outline-success:hover,
.outline-success:focus {
    border-color: c_green;
    color: c_green;
}

.outline-danger {
    composes: outline;
    composes: b--red-8 red-8 from colors;
}
.outline-danger:hover,
.outline-danger:focus {
    border-color: c_red;
    color: c_red;
}

.outline-info {
    composes: outline;
    composes: b--blue-8 blue-8 from colors;
}
.outline-info:hover,
.outline-info:focus {
    border-color: c_blue;
    color: c_blue;
}

.outline-warning {
    composes: outline;
    composes: b--orange-8 orange-8 from colors;
}
.outline-warning:hover,
.outline-warning:focus {
    border-color: c_orange;
    color: c_orange;
}

.outline-default {
    composes: outline;
    composes: b--gray dark-gray from colors;
}
.outline-default:hover,
.outline-default:focus {
    border-color: c_dark-gray;
    color: c_dark-gray;
}

/* "active" state for button links */
/* Set this as <Link activeClassName={buttonStyles["outline-active"]} /> */
/* Overrides child button's styles. */
.outline-active {
    composes: outline;
    color: c_purple !important;
    border-color: c_purple !important;
}
.outline-active:hover,
.outline-active:focus {
    color: c_purple !important;
    border-color: c_purple !important;
}
.outline-active > button {
    border: none;
    color: c_purple !important;;
}

/* solid buttons */
.solid {
	border-style: solid;
	border-width: 2px;
	composes: btn;
}

.solid-default {
    composes: solid;
    composes: dark-gray bg-light-gray b--moon-gray from colors;
}

.solid-primary {
    composes: solid;
    composes: white bg-blue b--blue from colors;
}

.solid-primary:hover,
.solid-primary:focus {
    color: white;
    background: c_dark-blue-2;
    border-color: c_dark-blue-2;
}

.solid-success {
    composes: solid;
    composes: white bg-green b--green from colors;
}

.solid-danger {
    composes: solid;
    composes: white bg-red b--red from colors;
}

.solid-info {
    composes: solid;
    composes: white bg-blue b--blue from colors;
}

.solid-warning {
    composes: solid;
    composes: white bg-orange b--orange from colors;
}
