@media screen {
	:global .code a {
		text-decoration: none;
		color: #00a4de;
	}
	:global .pln {
		color: #435c79;
	}
	:global .str {
		color: #f14648;
	}
	:global .kwd {
		color: #00a4de;
	}
	:global .com {
		color: #89a4bc;
	}
	:global .typ {
		color: #8f2dba;
	}
	:global .lit {
		color: #f14648;
	}
	:global .pun,
	:global .opn,
	:global .clo {
		color: #435c79;
	}
	:global .tag {
		color: #00a4de;
	}
	:global .atn {
		color: #8f2dba;
	}
	:global .atv {
		color: #15b8ae;
	}
	:global .dec,
	:global .var {
		color: #15b8ae;
	}
	:global .fun {
		color: #00a4de;
	}
}
