@value c_navy #001F3F;
@value c_blue rgba(0, 116, 217, 1);
@value c_blue-8 rgba(0, 116, 217, .8);
@value c_blue-5 rgba(0, 116, 217, .5);
@value c_blue-2 rgba(0, 116, 217, .2);
@value c_blue-1 rgba(0, 116, 217, .1);
@value c_light-blue rgba(77, 193, 255, 1); /* 30% lightened */
@value c_dark-blue rgba(0, 40, 141, 1); /* 30% darkened */
@value c_brand-blue #0698EE;
@value c_aqua #7FDBFF;
@value c_teal #39CCCC;
@value c_olive #3D9970;
@value c_green #2ECC40;
@value c_lime #01FF70;
@value c_yellow #FFDC00;
@value c_orange rgba(255, 133, 27, 1);
@value c_orange-8 rgba(255, 133, 27, .8);
@value c_orange-5 rgba(255, 133, 27, .5);
@value c_orange-2 rgba(255, 133, 27, .2);
@value c_orange-1 rgba(255, 133, 27, .2);
@value c_light-orange rgba(255, 210, 104, 1); /* 30% lightened */
@value c_dark-orange rgba(179, 57, 0, 1); /* 30% darkened */
@value c_brand-orange #EB602E;
@value c_red #FF4136;
@value c_fuchsia #F012BE;
@value c_purple rgba(177, 13, 201, 1);
@value c_purple-8 rgba(177, 13, 201, .8);
@value c_purple-5 rgba(177, 13, 201, .5);
@value c_purple-2 rgba(177, 13, 201, .2);
@value c_purple-1 rgba(177, 13, 201, .1);
@value c_light-purple rgba(254, 90, 255, 1); /* 30% lightened */
@value c_dark-purple rgba(101, 0, 125, 1); /* 30% darkened */
@value c_brand-purple #9D00D8;
@value c_maroon #85144B;

@value c_black black;
@value c_dark-gray #333;
@value c_mid-gray #555;
@value c_gray #777;
@value c_silver #999;
@value c_light-silver #aaa;
@value c_light-gray #eee;
@value c_near-white #f4f4f4;
@value c_moon-gray #ccc;
@value c_white #fff;
@value c_black-90 rgba( 0, 0, 0, .9 );
@value c_black-80 rgba( 0, 0, 0, .8 );
@value c_black-70 rgba( 0, 0, 0, .7 );
@value c_black-60 rgba( 0, 0, 0, .6 );
@value c_black-50 rgba( 0, 0, 0, .5 );
@value c_black-40 rgba( 0, 0, 0, .4 );
@value c_black-30 rgba( 0, 0, 0, .3 );
@value c_black-20 rgba( 0, 0, 0, .2 );
@value c_black-10 rgba( 0, 0, 0, .1 );
@value c_black-05 rgba( 0, 0, 0, .05 );
@value c_black-025 rgba( 0, 0, 0, .025 );
@value c_black-0125 rgba( 0, 0, 0, .0125 );
@value c_white-90 rgba( 0, 0, 0, .9 );
@value c_white-80 rgba( 0, 0, 0, .8 );
@value c_white-70 rgba( 0, 0, 0, .7 );
@value c_white-60 rgba( 0, 0, 0, .6 );
@value c_white-50 rgba( 0, 0, 0, .5 );
@value c_white-40 rgba( 0, 0, 0, .4 );
@value c_white-30 rgba( 0, 0, 0, .3 );
@value c_white-20 rgba( 0, 0, 0, .2 );
@value c_white-10 rgba( 0, 0, 0, .1 );
@value c_white-05 rgba( 0, 0, 0, .05 );
@value c_white-025 rgba( 0, 0, 0, .025 );
@value c_white-0125 rgba( 0, 0, 0, .0125 );

/* Colors */
.navy { color: c_navy; }
.blue { color: c_blue; }
.blue-8 { color: c_blue-8; }
.blue-5 { color: c_blue-5; }
.blue-2 { color: c_blue-2; }
.blue-1 { color: c_blue-1; }
.light-blue { color: c_light-blue; }
.dark-blue { color: c_dark-blue; }
.brand-blue { color: c_brand-blue; }
.aqua { color: c_aqua; }
.teal { color: c_teal; }
.olive { color: c_olive; }
.green { color: c_green; }
.lime { color: c_lime; }
.yellow { color: c_yellow; }
.orange { color: c_orange; }
.orange-8 { color: c_orange-8; }
.orange-5 { color: c_orange-5; }
.orange-2 { color: c_orange-2; }
.orange-1 { color: c_orange-1; }
.light-orange { color: c_light-orange; }
.dark-orange { color: c_dark-orange; }
.brand-orange { color: c_brand-orange; }
.red { color: c_red; }
.fuchsia { color: c_fuchsia; }
.purple { color: c_purple; }
.purple-8 { color: c_purple-8; }
.purple-5 { color: c_purple-5; }
.purple-2 { color: c_purple-2; }
.purple-1 { color: c_purple-1; }
.light-purple { color: c_light-purple; }
.dark-purple { color: c_dark-purple; }
.brand-purple { color: c_brand-purple; }
.maroon { color: c_maroon; }
.black { color: c_black; }
.near-black { color: c_black; }
.dark-gray { color: c_dark-gray; }
.mid-gray { color: c_mid-gray; }
.gray { color: c_gray; }
.silver { color: c_silver; }
.light-silver { color: c_light-silver; }
.light-gray { color: c_light-gray; }
.near-white { color: c_near-white; }
.moon-gray { color: c_moon-gray; }
.white { color: c_white; }
.white-90 { color: c_white-90; }
.white-80 { color: c_white-80; }
.white-70 { color: c_white-70; }
.white-60 { color: c_white-60; }
.white-50 { color: c_white-50; }
.white-40 { color: c_white-40; }
.white-30 { color: c_white-30; }
.white-20 { color: c_white-20; }
.white-10 { color: c_white-10; }
.white-05 { color: c_white-05; }
.white-025 { color: c_white-025; }
.white-0125 { color: c_white-0125; }
.black-90 { color: c_black-90; }
.black-80 { color: c_black-80; }
.black-70 { color: c_black-70; }
.black-60 { color: c_black-60; }
.black-50 { color: c_black-50; }
.black-40 { color: c_black-40; }
.black-30 { color: c_black-30; }
.black-20 { color: c_black-20; }
.black-10 { color: c_black-10; }
.black-05 { color: c_black-05; }
.black-025 { color: c_black-025; }
.black-0125 { color: c_black-0125; }
.transparent { color: transprent; }

/* Backgrounds */
.bg-navy { background-color: c_navy; }
.bg-blue { background-color: c_blue; }
.bg-blue-8 { background-color: c_blue-8; }
.bg-blue-5 { background-color: c_blue-5; }
.bg-blue-2 { background-color: c_blue-2; }
.bg-blue-1 { background-color: c_blue-1; }
.bg-light-blue { background-color: c_light-blue; }
.bg-dark-blue { background-color: c_dark-blue; }
.bg-brand-blue { background-color: c_brand-blue; }
.bg-aqua { background-color: c_aqua; }
.bg-teal { background-color: c_teal; }
.bg-olive { background-color: c_olive; }
.bg-green { background-color: c_green; }
.bg-lime { background-color: c_lime; }
.bg-yellow { background-color: c_yellow; }
.bg-orange { background-color: c_orange; }
.bg-orange-8 { background-color: c_orange-8; }
.bg-orange-5 { background-color: c_orange-5; }
.bg-orange-2 { background-color: c_orange-2; }
.bg-orange-1 { background-color: c_orange-1; }
.bg-light-orange { background-color: c_light-orange; }
.bg-dark-orange { background-color: c_dark-orange; }
.bg-brand-orange { background-color: c_brand-orange; }
.bg-red { background-color: c_red; }
.bg-fuchsia { background-color: c_fuchsia; }
.bg-purple { background-color: c_purple; }
.bg-purple-8 { background-color: c_purple-8; }
.bg-purple-5 { background-color: c_purple-5; }
.bg-purple-2 { background-color: c_purple-2; }
.bg-purple-1 { background-color: c_purple-1; }
.bg-light-purple { background-color: c_light-purple; }
.bg-dark-purple { background-color: c_dark-purple; }
.bg-brand-purple { background-color: c_brand-purple; }
.bg-maroon { background-color: c_maroon; }
.bg-black { background-color: c_black; }
.bg-near-black { background-color: c_black; }
.bg-dark-gray { background-color: c_dark-gray; }
.bg-mid-gray { background-color: c_mid-gray; }
.bg-gray { background-color: c_gray; }
.bg-silver { background-color: c_silver; }
.bg-light-silver { background-color: c_light-silver; }
.bg-light-gray { background-color: c_light-gray; }
.bg-near-white { background-color: c_near-white; }
.bg-white { background-color: c_white; }
.bg-white-90 { background-color: c_white-90; }
.bg-white-80 { background-color: c_white-80; }
.bg-white-70 { background-color: c_white-70; }
.bg-white-60 { background-color: c_white-60; }
.bg-white-50 { background-color: c_white-50; }
.bg-white-40 { background-color: c_white-40; }
.bg-white-30 { background-color: c_white-30; }
.bg-white-20 { background-color: c_white-20; }
.bg-white-10 { background-color: c_white-10; }
.bg-white-05 { background-color: c_white-05; }
.bg-white-025 { background-color: c_white-025; }
.bg-white-0125 { background-color: c_white-0125; }
.bg-black-90 { background-color: c_black-90; }
.bg-black-80 { background-color: c_black-80; }
.bg-black-70 { background-color: c_black-70; }
.bg-black-60 { background-color: c_black-60; }
.bg-black-50 { background-color: c_black-50; }
.bg-black-40 { background-color: c_black-40; }
.bg-black-30 { background-color: c_black-30; }
.bg-black-20 { background-color: c_black-20; }
.bg-black-10 { background-color: c_black-10; }
.bg-black-05 { background-color: c_black-05; }
.bg-black-025 { background-color: c_black-025; }
.bg-black-0125 { background-color: c_black-0125; }
.bg-transparent { background-color: transprent; }

/* Borders */
.b--navy { border-color: c_navy; }
.b--blue { border-color: c_blue; }
.b--blue-8 { border-color: c_blue-8; }
.b--blue-5 { border-color: c_blue-5; }
.b--blue-2 { border-color: c_blue-2; }
.b--blue-1 { border-color: c_blue-1; }
.b--light-blue { border-color: c_light-blue; }
.b--dark-blue { border-color: c_dark-blue; }
.b--brand-blue { border-color: c_brand-blue; }
.b--aqua { border-color: c_aqua; }
.b--teal { border-color: c_teal; }
.b--olive { border-color: c_olive; }
.b--green { border-color: c_green; }
.b--lime { border-color: c_lime; }
.b--yellow { border-color: c_yellow; }
.b--orange { border-color: c_orange; }
.b--orange-8 { border-color: c_orange-8; }
.b--orange-5 { border-color: c_orange-5; }
.b--orange-2 { border-color: c_orange-2; }
.b--orange-1 { border-color: c_orange-1; }
.b--light-orange { border-color: c_light-orange; }
.b--dark-orange { border-color: c_dark-orange; }
.b--brand-orange { border-color: c_brand-orange; }
.b--red { border-color: c_red; }
.b--fuchsia { border-color: c_fuchsia; }
.b--purple { border-color: c_purple; }
.b--purple-8 { border-color: c_purple-8; }
.b--purple-5 { border-color: c_purple-5; }
.b--purple-2 { border-color: c_purple-2; }
.b--purple-1 { border-color: c_purple-1; }
.b--light-purple { border-color: c_light-purple; }
.b--dark-purple { border-color: c_dark-purple; }
.b--brand-purple { border-color: c_brand-purple; }
.b--maroon { border-color: c_maroon; }
.b--black { border-color: c_black; }
.b--near-black { border-color: c_black; }
.b--dark-gray { border-color: c_dark-gray; }
.b--mid-gray { border-color: c_mid-gray; }
.b--gray { border-color: c_gray; }
.b--silver { border-color: c_silver; }
.b--light-silver { border-color: c_light-silver; }
.b--light-gray { border-color: c_light-gray; }
.b--near-white { border-color: c_near-white; }
.b--white { border-color: c_white; }
.b--white-90 { border-color: c_white-90; }
.b--white-80 { border-color: c_white-80; }
.b--white-70 { border-color: c_white-70; }
.b--white-60 { border-color: c_white-60; }
.b--white-50 { border-color: c_white-50; }
.b--white-40 { border-color: c_white-40; }
.b--white-30 { border-color: c_white-30; }
.b--white-20 { border-color: c_white-20; }
.b--white-10 { border-color: c_white-10; }
.b--white-05 { border-color: c_white-05; }
.b--white-025 { border-color: c_white-025; }
.b--white-0125 { border-color: c_white-0125; }
.b--black-90 { border-color: c_black-90; }
.b--black-80 { border-color: c_black-80; }
.b--black-70 { border-color: c_black-70; }
.b--black-60 { border-color: c_black-60; }
.b--black-50 { border-color: c_black-50; }
.b--black-40 { border-color: c_black-40; }
.b--black-30 { border-color: c_black-30; }
.b--black-20 { border-color: c_black-20; }
.b--black-10 { border-color: c_black-10; }
.b--black-05 { border-color: c_black-05; }
.b--black-025 { border-color: c_black-025; }
.b--black-0125 { border-color: c_black-0125; }
.b--transparent { border-color: transprent; }

/* Fills for SVG */
.fill-navy { fill: c_navy; }
.fill-blue { fill: c_blue; }
.fill-blue-8 { fill: c_blue-8; }
.fill-blue-5 { fill: c_blue-5; }
.fill-blue-2 { fill: c_blue-2; }
.fill-blue-1 { fill: c_blue-1; }
.fill-light-blue { fill: c_light-blue; }
.fill-dark-blue { fill: c_dark-blue; }
.fill-brand-blue { fill: c_brand-blue; }
.fill-aqua { fill: c_aqua; }
.fill-teal { fill: c_teal; }
.fill-olive { fill: c_olive; }
.fill-green { fill: c_green; }
.fill-lime { fill: c_lime; }
.fill-yellow { fill: c_yellow; }
.fill-orange { fill: c_orange; }
.fill-orange-8 { fill: c_orange-8; }
.fill-orange-5 { fill: c_orange-5; }
.fill-orange-2 { fill: c_orange-2; }
.fill-orange-1 { fill: c_orange-1; }
.fill-light-orange { fill: c_light-orange; }
.fill-dark-orange { fill: c_dark-orange; }
.fill-brand-orange { fill: c_brand-orange; }
.fill-red { fill: c_red; }
.fill-fuchsia { fill: c_fuchsia; }
.fill-purple { fill: c_purple; }
.fill-purple { fill: c_purple; }
.fill-purple-8 { fill: c_purple-8; }
.fill-purple-5 { fill: c_purple-5; }
.fill-purple-2 { fill: c_purple-2; }
.fill-purple-1 { fill: c_purple-1; }
.fill-light-purple { fill: c_light-purple; }
.fill-dark-purple { fill: c_dark-purple; }
.fill-brand-purple { fill: c_brand-purple; }
.fill-maroon { fill: c_maroon; }
.fill-black { fill: c_black; }
.fill-near-black { fill: c_black; }
.fill-dark-gray { fill: c_dark-gray; }
.fill-mid-gray { fill: c_mid-gray; }
.fill-gray { fill: c_gray; }
.fill-silver { fill: c_silver; }
.fill-light-silver { fill: c_light-silver; }
.fill-light-gray { fill: c_light-gray; }
.fill-near-white { fill: c_near-white; }
.fill-white { fill: c_white; }
.fill-white-90 { fill: c_white-90; }
.fill-white-80 { fill: c_white-80; }
.fill-white-70 { fill: c_white-70; }
.fill-white-60 { fill: c_white-60; }
.fill-white-50 { fill: c_white-50; }
.fill-white-40 { fill: c_white-40; }
.fill-white-30 { fill: c_white-30; }
.fill-white-20 { fill: c_white-20; }
.fill-white-10 { fill: c_white-10; }
.fill-white-05 { fill: c_white-05; }
.fill-white-025 { fill: c_white-025; }
.fill-white-0125 { fill: c_white-0125; }
.fill-black-90 { fill: c_black-90; }
.fill-black-80 { fill: c_black-80; }
.fill-black-70 { fill: c_black-70; }
.fill-black-60 { fill: c_black-60; }
.fill-black-50 { fill: c_black-50; }
.fill-black-40 { fill: c_black-40; }
.fill-black-30 { fill: c_black-30; }
.fill-black-20 { fill: c_black-20; }
.fill-black-10 { fill: c_black-10; }
.fill-black-05 { fill: c_black-05; }
.fill-black-025 { fill: c_black-025; }
.fill-black-0125 { fill: c_black-0125; }
.fill-transparent { fill: transprent; }

/* Strokes for SVG */
.stroke-navy { stroke: c_navy; }
.stroke-blue { stroke: c_blue; }
.stroke-blue-8 { stroke: c_blue-8; }
.stroke-blue-5 { stroke: c_blue-5; }
.stroke-blue-2 { stroke: c_blue-2; }
.stroke-blue-1 { stroke: c_blue-1; }
.stroke-light-blue { stroke: c_light-blue; }
.stroke-dark-blue { stroke: c_dark-blue; }
.stroke-brand-blue { stroke: c_brand-blue; }
.stroke-aqua { stroke: c_aqua; }
.stroke-teal { stroke: c_teal; }
.stroke-olive { stroke: c_olive; }
.stroke-green { stroke: c_green; }
.stroke-lime { stroke: c_lime; }
.stroke-yellow { stroke: c_yellow; }
.stroke-orange { stroke: c_orange; }
.stroke-orange-8 { stroke: c_orange-8; }
.stroke-orange-5 { stroke: c_orange-5; }
.stroke-orange-2 { stroke: c_orange-2; }
.stroke-orange-1 { stroke: c_orange-1; }
.stroke-light-orange { stroke: c_light-orange; }
.stroke-dark-orange { stroke: c_dark-orange; }
.stroke-brand-orange { stroke: c_brand-orange; }
.stroke-red { stroke: c_red; }
.stroke-fuchsia { stroke: c_fuchsia; }
.stroke-purple { stroke: c_purple; }
.stroke-purple { stroke: c_purple; }
.stroke-purple-8 { stroke: c_purple-8; }
.stroke-purple-5 { stroke: c_purple-5; }
.stroke-purple-2 { stroke: c_purple-2; }
.stroke-purple-1 { stroke: c_purple-1; }
.stroke-light-purple { stroke: c_light-purple; }
.stroke-dark-purple { stroke: c_dark-purple; }
.stroke-brand-purple { stroke: c_brand-purple; }
.stroke-maroon { stroke: c_maroon; }
.stroke-black { stroke: c_black; }
.stroke-near-black { stroke: c_black; }
.stroke-dark-gray { stroke: c_dark-gray; }
.stroke-mid-gray { stroke: c_mid-gray; }
.stroke-gray { stroke: c_gray; }
.stroke-silver { stroke: c_silver; }
.stroke-light-silver { stroke: c_light-silver; }
.stroke-light-gray { stroke: c_light-gray; }
.stroke-near-white { stroke: c_near-white; }
.stroke-white { stroke: c_white; }
.stroke-white-90 { stroke: c_white-90; }
.stroke-white-80 { stroke: c_white-80; }
.stroke-white-70 { stroke: c_white-70; }
.stroke-white-60 { stroke: c_white-60; }
.stroke-white-50 { stroke: c_white-50; }
.stroke-white-40 { stroke: c_white-40; }
.stroke-white-30 { stroke: c_white-30; }
.stroke-white-20 { stroke: c_white-20; }
.stroke-white-10 { stroke: c_white-10; }
.stroke-white-05 { stroke: c_white-05; }
.stroke-white-025 { stroke: c_white-025; }
.stroke-white-0125 { stroke: c_white-0125; }
.stroke-black-90 { stroke: c_black-90; }
.stroke-black-80 { stroke: c_black-80; }
.stroke-black-70 { stroke: c_black-70; }
.stroke-black-60 { stroke: c_black-60; }
.stroke-black-50 { stroke: c_black-50; }
.stroke-black-40 { stroke: c_black-40; }
.stroke-black-30 { stroke: c_black-30; }
.stroke-black-20 { stroke: c_black-20; }
.stroke-black-10 { stroke: c_black-10; }
.stroke-black-05 { stroke: c_black-05; }
.stroke-black-025 { stroke: c_black-025; }
.stroke-black-0125 { stroke: c_black-0125; }
.stroke-transparent { stroke: transprent; }
