@value base "sourcegraph/components/styles/_base.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value menu "sourcegraph/components/styles/menu.css";
@value c_cool-mid-gray from colors;


.wrapper {
	display: inline-block;
	line-height: 1.45;
	cursor: pointer;
	vertical-align: top;
}

.wrapper-disabled {
	composes: wrapper;
	cursor: not-allowed;
}

.dropdown-menu {
	position: absolute;
	width: 10rem;
}

.icon {
	font-size: 1.5rem;
}

.center-icon {
	fill: c_cool-mid-gray;
	vertical-align: middle;
}

.toggle {
	padding-left: 5px;
	fill: currentColor;
}

.open-arrow {
	transform: rotate(90deg);
}

.dropdown-menu-open {
	composes: container from menu;
	display: block;
}

.dropdown-menu-closed {
	display: none;
}

.list-section {
	max-height: 360px;
	composes: ma0 ph0 from base;
}

.item { composes: item from menu; }
.item-content { composes: item-content from menu; }
.item-current { composes: item from menu; }
.item-content-current {
	composes: item-content-current from menu;
}
.item-content-current .item-name {
	font-weight: bold;
}

.item-icon {
	vertical-align: middle;
	user-select: none;
	composes: pr1 from base;
}
.item-icon-hidden {
	composes: icon;
	opacity: 0;
}
