@value base "sourcegraph/components/styles/_base.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value menu "sourcegraph/components/styles/menu.css";
@value c_cool_mid_gray from colors;


.wrapper {
	display: inline-block;
	line-height: 1.45;
	cursor: pointer;
	vertical-align: top;
}

.wrapper_disabled {
	composes: wrapper;
	cursor: not-allowed;
}

.dropdown_menu {
	position: absolute;
	width: 10rem;
	z-index: 1;
}

.icon {
	font-size: 1.5rem;
}

.center_icon {
	fill: c_cool_mid_gray;
	vertical-align: middle;
}

.toggle {
	padding-left: 5px;
	fill: currentColor;
}

.open_arrow {
	transform: rotate(90deg);
}

.dropdown_menu_open {
	composes: container from menu;
	display: block;
}

.dropdown_menu_closed {
	display: none;
}

.list_section {
	max-height: 360px;
	composes: ma0 ph0 from base;
}

.item { composes: item from menu; }
.item_content { composes: item_content from menu; }
.item_current { composes: item from menu; }
.item_content_current {
	composes: item_content_current from menu;
}
.item_content_current .item_name {
	font-weight: bold;
}

.item_icon {
	vertical-align: middle;
	user-select: none;
	composes: pr1 from base;
}
.item_icon_hidden {
	composes: icon;
	opacity: 0;
}
