@value base "sourcegraph/components/styles/_base.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value typography "sourcegraph/components/styles/_typography.css";

.stacked {

}
.stacked label {
	display: block;
}
.stacked label span {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0.25rem;	
}
.stacked input {
	display: block;
	margin: 0.3rem 0 1.5rem;
}
.stacked button {
	margin-top: 1.5rem;
	font-weight: bold;
}

.label_link {
	float: right;
}
.mid_text {
	composes: mt3 mb3 pa0 from base;
}
.sub_text {
	composes: mt4 mb1 pa0 from base;
}

.button {
	composes: mh3 from base;
}

.error {
	composes: pb3 pt2 from base;
	composes: error_text tc from typography;
}

.success {
	composes: pb3 pt2 from base;
	composes: f5 tc from typography;
	composes: green from colors;
}
