@value base "sourcegraph/components/styles/_base.css";
@value typography "sourcegraph/components/styles/_typography.css";

.container {
	composes: pt6 from base;
	composes: pb6 from base;
}

.cloning_title {
	composes: header_center from typography;
}

.cloning_subtext {
	composes: pt4 from base;
	composes: subheader tc from typography;
}
