.focus-border {
	border-color: #0074D9;
}

/* TODO: cannot compose on pseudo elements */
.text_input_border:focus {
	outline: none;
	border-color: #0074D9;
}

.text_input_border {
	composes: br2 ba b--light-silver from "./tachyons.css"; /* borders */
}

.text_input_common {
	composes: f3 from "./tachyons.css";
	composes: pa3 from "./tachyons.css";
	composes: blue from "./colors.css";
	composes: sans-serif from "./tachyons.css";
	composes: text_input_border;
}

/* TODO: figure out how to avoid vendor prefixing */
.text_input_common::-webkit-input-placeholder {
	color: #aaa;
}

.text_input {
	composes: text_input_common;
}
