@value base "./_base.css";
@value colors "./_colors.css";
@value typography "./_typography.css";

@value c_blue-8 from colors;
@value c_light-silver from colors;
@value c_red from colors;

.border {
	composes: br2 ba from base;
	composes: b--moon-gray from colors;
}

.focus-border {
	composes: b--blue-8 from colors;
}

.common:focus {
	outline: none;
	border-color: c_blue-8; /* TODO: can't use compose on pseudoelements. */
	background-color: white;
}

.common:focus:invalid {
	outline: none;
	border-color: c_red;
}

.common {
	composes: border;
	padding: 7px 8px;
	appearance: none;
	composes: bg-near-white from colors;
}

.common::-webkit-input-placeholder {
	color: c_light-silver; /* TODO: can't use compose on pseudoelements. */
}
.common:-moz-placeholder {
	color: c_light-silver; /* TODO: can't use compose on pseudoelements. */
}
.common::-moz-placeholder {
	color: c_light-silver; /* TODO: can't use compose on pseudoelements. */
}
.common:-ms-input-placeholder {
	color: c_light-silver; /* TODO: can't use compose on pseudoelements. */
}

.input {
	composes: common;
	display: inline-block;
}

.block {
	composes: common;
	display: block;
	width: 100%;
}
