.list_group {
	composes: db from "sourcegraph/components/styles/tachyons.css";
}

.list_item {
	composes: db h2 pa2 from "sourcegraph/components/styles/tachyons.css";
}

.list_section {
	composes: db b f3 pa2 from "sourcegraph/components/styles/tachyons.css";
}

.list_section_label {
}
