@value base "sourcegraph/components/styles/_base.css";
@value colors "sourcegraph/components/styles/_colors.css";

@value c_blue, c_cool-pale-gray from colors;

.normal {}

.node {
	composes: pl0 from base;
	position: relative;
}

.node:before {
	content: "";
	display: block;
	width: 1px;
	background-color: c_cool-pale-gray;
	position: absolute;
	top: 0.6rem;
	bottom: 0.6rem;
	left: 0.3rem;
}

.node li {
	list-style-type: none;
	margin-right: 16px;
	position: relative;
}

.node li:before {
	content: "";
	background: white;
	border: 2px c_blue solid;
	border-radius: 50%;
	display: inline-block;
	width: 7px;
	height: 7px;
	margin-right: 16px;
}
