@value base "./_base.css";

.loader {
	display: inline-block;
}

.stretch {
	composes: ph2 from base;
}

.loader_label {
	display: inline-block;
	animation: sk_bouncedelay 1.4s infinite ease-in-out both;
}

.loader1 {
	composes: loader_label;
	animation-delay: -0.32s;
}

.loader2 {
	composes: loader_label;
	animation-delay: -0.16s;
}

.loader3 {
	composes: loader_label;
}

@keyframes sk_bouncedelay {
	0%, 80%, 100% {
		transform: scale(0);
	} 40% {
		transform: scale(1.0);
	}
}
