@value base "sourcegraph/components/styles/_base.css";
@value colors "sourcegraph/components/styles/_colors.css";

@value c_blue-1, c_cool-gray, c_cool-pale-gray-5 from colors;

.container {
	composes: ph0 pv2 ma0 br3 ba from base;
	composes: bg-white b--cool-gray-2 from colors;
	overflow: auto;
	min-width: 12rem;
	max-height: 800px;
	z-index: 100;
}

.item {
	composes: ph3 from base;
	cursor: pointer;
}

.item a {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: c_cool-gray;
	display: block;
}

.item:hover,
.item:hover a {
	color: c_cool-gray;
}

.item:hover {	background-color: c_cool-pale-gray-5; }

.inactive {	composes: pv2 ph3 from base; }
