@value base "./_base.css";
@value colors "./_colors.css";
@value c_black-05, c_black-10 from colors;

.panel {
	composes: bg-white from colors;
}

.low { box-shadow: 0 2px 5px 1px c_black-05; }
.high { box-shadow: 0 2px 25px 0 c_black-10; }

.hover { transition: all 550ms cubic-bezier(0.175, 0.885, 0.320, 1); }

.high-hover:hover {
	box-shadow: 0 10px 35px 0 c_black-05;
	transform: scale(1.03, 1.03);
}

.low-hover:hover {
	box-shadow: 0 2px 15px 4px c_black-05;
	transform: scale(1.02, 1.02);
}
