@value base "./_base.css";
@value colors "./_colors.css";

@value c_cool_gray_2 from colors;

.container {
	position: relative;
	cursor: pointer;
}

.popover {
	composes: shadow_gray from colors;
	composes: br3 from base;
	display: flex;
	flex: 1 1 auto;
	min-width: 100px;
	cursor: initial;
	position: absolute;
	top: 97%;
}

/* Triangle pointer */
.popover:before {
	content: "";
	background: white;
	border-left: 1px c_cool_gray_2 solid;
	border-top: 1px c_cool_gray_2 solid;
	display: block;
	height: 8px;
	position: absolute;
	right: 16px;
	top: -5px;
	transform: rotate(45deg) skew(-10deg, -10deg);
	width: 8px;
	z-index: 101;
}

.popover_left {
	composes: popover;
	right: -8px;
}

.popover_right {
	composes: popover;
	left: -8px;
}
