@value base "./_base.css";
@value colors "./_colors.css";
@value typography "./_typography.css";

@value c_cool-mid-gray, c_red from colors;

.select {
	composes: br2 ba mt2 from base;
	composes: bg-white from colors;
	box-sizing: border-box;
	padding: 8px 38px 8px 15px;
	transition: all 0.25s ease-in-out;
	appearance: none;
	font-family: inherit;
	font-weight: inherit;
	outline: none;
}

.border-red { composes: b--red from colors; }
.border-neutral { composes: b--cool-mid-gray-5 from colors; }

.icon { fill: c_cool-mid-gray; }
.block { width: 100%; }

.red { composes: red from colors; }
.red-fill { fill: c_red; }
.small { composes: f7 from typography; }
