@value base "./_base.css";
@value vars "./_vars.css";
@value colors "./_colors.css";
@value typography "./_typography.css";

@value c_dark-purple from colors;
@value c_dark-blue from colors;
@value media-sm from vars;

.hidden-s { composes: hidden-s from base; }
.hide { display: none; }

.tab {	composes: mh2 from base; }

.vertical {
	composes: pv1 ph3 mb1 from base;
	display: block;
	margin-left: -1px;
}

.horizontal {
	composes: pb3 ph2 mh2 from base;
	padding-top: 12px;
	display: inline-block;
	margin-bottom: -1px;
}

.inactive { composes: cool-mid-gray from colors; }
.vertical.inactive { padding-left: 1.3rem; }

.active { composes: bw3 from base; }
.horizontal.active { border-bottom-style: solid; }
.vertical.active { border-left-style: solid; }

.blue { composes: b--blue blue from colors; }
.blue:hover { color: c_dark-blue; }
.purple { composes: b--purple purple from colors; }
.purple:hover { color: c_dark-purple; }

.small { composes: f5 from typography; }
.large { composes: f3 from typography; }

.icon {
	composes: v-mid from typography;
	composes: hidden-s from base;
	margin-right: 8px;
	position: relative;
	top: -1px;
}

@media media-sm {
	.tab {
		margin-left: 2px;
		margin-right: 2px;
	}
}