@value base "./_base.css";
@value vars "./_vars.css";
@value colors "./_colors.css";
@value typography "./_typography.css";

@value c_dark-purple, c_purple, c_cool-mid-gray from colors;
@value c_dark-blue from colors;
@value media-sm from vars;

.hidden-s { composes: hidden-s from base; }
.hide { display: none; }

.vertical {
	composes: pv1 ph3 mb2 from base;
	display: block;
	margin-left: -1px;
}

.horizontal {
	composes: pb2 ph2 mh2 from base;
	padding-top: 12px;
	display: inline-block;
	margin-bottom: -1px;
}

.inactive {
	composes: cool-mid-gray b--transparent from colors;
	composes: bb bw3 from base;
}
.inactive a { color: c_cool-mid-gray; }
.vertical.inactive { padding-left: 1.3rem; }

.active { composes: bw3 from base; }
.horizontal.active { border-bottom-style: solid; }
.vertical.active { border-left-style: solid; }

.blue { composes: b--blue blue from colors; }
.blue:hover { color: c_dark-blue; }

.purple { composes: b--purple purple from colors; }
.active.purple a { color: c_purple; }
.purple:hover, .purple a:hover { color: c_dark-purple; }

.small { composes: f5 from typography; }
.large { composes: f3 from typography; }

.icon {
	composes: v-mid from typography;
	composes: hidden-s from base;
	margin-right: 8px;
	position: relative;
	top: -1px;
}
.component-icon {
	font-size: 1.5rem;
	composes: pr2 from base;
}

@media media-sm {
	.tab {
		margin-left: 2px;
		margin-right: 2px;
	}
}
