@value base "./_base.css";
@value colors "./_colors.css";
@value typography "./_typography.css";

@value c_dark-purple from colors;

.container {
	composes: cf bb from base;
	composes: b--black-05 from colors;
	composes: tc from typography;
}

.tab {
	composes: pa2 mh2 from base;
	display: inline-block;
}

.tab-inactive {
	composes: tab;
	composes: cool-mid-gray from colors;
}

.tab-active {
	composes: tab;
	composes: bb bw3 from base;
	composes: b from typography;
}

.blue { composes: b--blue blue from colors; }
.purple { composes: b--purple purple from colors; }
.purple:hover { color: c_dark-purple; }

.small { composes: f5 from typography; }
.large { composes: f3 from typography; }
