@value vars "./_vars.css";
@value colors "./colors.css";
@value base "./base.css";

/* Type */

@value desktop-base-size, mobile-base-size from vars;
@value font-size-1, font-size-2, font-size-3, font-size-4, font-size-5, font-size-6 from vars;

/* Responsive variables */
@value media-sm, media-ns, media-md, media-lg from vars;

/* Color variables */
@value c_orange from colors;

/*
	 TYPE SCALE
*/

/* Type Scale */
.f1 {
	font-size: font-size-1;
	line-height: 1.45;
}
.f2 {
	font-size: font-size-2;
	line-height: 1.45;
}
.f3 {
	font-size: font-size-3;
	line-height: 1.45;

.f4 {
	font-size: font-size-4;
	line-height: 1.45;
}
.f5 {
	font-size: font-size-5;
	line-height: 1.45;
}
.f6 {
	font-size: font-size-6;
	line-height: 1.45;
}

/*
	 MEASURE
	 (http://tachyons.io/docs/typography/measure/)
*/
/* Measure is limited to ~75 characters */
.measure { max-width: 30em; }
/* Measure is limited to ~45 characters */
.measure-narrow { max-width: 20em; }
/* Book paragraph style - paragraphs are indented with no vertical spacing. */
.indent { text-indent: 1em; margin-top: 0; margin-bottom: 0; }
/* Combine this class with a width to truncate text */
.truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

/*
	 FONT FAMILY GROUPS
*/
code, .code { font-family: Menlo, Consolas, Monaco, monospace; }

html {
	font-family: -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', 'San Francisco', 'SFNS Display', 'Roboto', 'Lucida Grande', 'avenir next', avenir, 'helvetica neue', 'helvetica', Ubuntu, 'segoe ui', arial, sans-serif;
}

/*
	 FONT STYLE
*/
.i { font-style: italic; }
.fs-normal { font-style: normal; }

/*
	 FONT WEIGHT
*/
.normal { font-weight: normal; }
.b { font-weight: bold; }
.fw1 { font-weight: 100; }
.fw2 { font-weight: 200; }
.fw3 { font-weight: 300; }
.fw4 { font-weight: 400; }
.fw5 { font-weight: 500; }
.fw6 { font-weight: 600; }
.fw7 { font-weight: 700; }
.fw8 { font-weight: 800; }
.fw9 { font-weight: 900; }

/*
	 LETTER SPACING
*/
.tracked { letter-spacing: .09em; }
.tracked-tight { letter-spacing: -.05em; }
.tracked-mega { letter-spacing: .18em; }

/*
	 LINE HEIGHT / LEADING
*/
.lh-solid { line-height: 1; }
.lh-title { line-height: 1.3; }
.lh-copy { line-height: 1.6; }

/*
	 VERTICAL ALIGN
*/
.v-base { vertical-align: baseline; }
.v-sub { vertical-align: sub; }
.v-sup { vertical-align: super; }
.v-txt-top { vertical-align: text-top; }
.v-txt-btm { vertical-align: text-bottom; }
.v-mid { vertical-align: middle; }
.v-top { vertical-align: top; }
.v-btm { vertical-align: bottom; }

/*
	TEXT ALIGN
*/
.tl { text-align: left; }
.tr { text-align: right; }
.tc { text-align: center; }

/*
	 TEXT DECORATION
*/
.strike { text-decoration: line-through; }
.underline { text-decoration: underline; }
.no-underline { text-decoration: none; }

@media screen and media-ns {
	.f-6-ns, .f-headline-ns { font-size: 6rem; }
	.f-5-ns, .f-subheadline-ns { font-size: 5rem; }
	.f1-ns { font-size: font-size-1; }
	.f2-ns { font-size: font-size-2; }
	.f3-ns { font-size: font-size-3; }
	.f4-ns { font-size: font-size-4; }
	.f5-ns { font-size: font-size-5; }
	.f6-ns { font-size: font-size-6; }
	.measure-ns { max-width: 30em; }
	.measure-narrow-ns { max-width: 20em; }
	.indent-ns { text-indent: 1em; margin-top: 0; margin-bottom: 0; }
	.truncate-ns { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
}
@media screen and media-md {
	.f-6-m, .f-headline-m { font-size: 6rem; }
	.f-5-m, .f-subheadline-m { font-size: 5rem; }
	.f1-m { font-size: font-size-1; }
	.f2-m { font-size: font-size-2; }
	.f3-m { font-size: font-size-3; }
	.f4-m { font-size: font-size-4; }
	.f5-m { font-size: font-size-5; }
	.f6-m { font-size: font-size-6; }
	.measure-m { max-width: 30em; }
	.measure-narrow-m { max-width: 20em; }
	.indent-m { text-indent: 1em; margin-top: 0; margin-bottom: 0; }
	.truncate-m { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
}
@media screen and media-lg {
	.f-6-l, .f-headline-l { font-size: 6rem; }
	.f-5-l, .f-subheadline-l { font-size: 5rem; }
	.f1-l { font-size: font-size-1; }
	.f2-l { font-size: font-size-2; }
	.f3-l { font-size: font-size-3; }
	.f4-l { font-size: font-size-4; }
	.f5-l { font-size: font-size-5; }
	.f6-l { font-size: font-size-6; }
	.measure-l { max-width: 30em; }
	.measure-narrow-l { max-width: 20em; }
	.indent-l { text-indent: 1em; margin-top: 0; margin-bottom: 0; }
	.truncate-l { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
}

.header {
	composes: f3 f2-ns;
	composes: dark-gray from colors;
}

.header::after {
	content: '';
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	width: 35px;
	height: 3px;
	opacity: .9;
	background-color: c_orange;
}


.header-center {
	composes: header tc;
}
.header-center::after {
	content: '';
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 35px;
	height: 3px;
	opacity: .9;
	background-color: c_orange;
}

.header-center-padded {
	composes: header-center;
}
.header-center-padded::after {
	content: '';
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	width: 35px;
	height: 3px;
	opacity: .9;
	background-color: c_orange;
}

.header-left {
	composes: header tl;
}
.header-left::after {
	content: '';
	display: block;
	margin-right: auto;
	width: 35px;
	height: 3px;
	opacity: .9;
	background-color: c_orange;
}

.subheader {
	composes: f3 lh-copy;
	composes: silver from colors;
}

.section-header {
	composes: f2 b;
	composes: mid-gray from colors;
}

.subsection-header {
	composes: b f4 tracked;
	composes: mid-gray from colors;
	text-transform: uppercase;
}
.subsection-header::after {
	content: '';
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 35px;
	height: 3px;
	opacity: .9;
	background-color: c_orange;
}

.small-text {
	composes: f6;
	composes: silver from colors;
}

.error-text {
	composes: f5;
	composes: red from colors;
}

.normal-text {
	composes: f4;
	composes: mid-gray from colors;
}

.heavy-text {
	composes: f3;
	composes: mid-gray from colors;
}

.empty-state-text {
	composes: f4;
	composes: mid-gray from colors;
	font-style: italic;
}
