#header {
	background-color: var(--header-bg);
	border-bottom: solid 1px var(--border-color);
}

#header > .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#header a {
	color: var(--text-color);
}

#header #logo {
	margin: 0 calc(0.5*var(--spacing)) calc(0.25*var(--spacing)) 0;
	font-size: 1.25rem;
	white-space: nowrap;
}

#header #logo a {
	text-decoration: none;
}

#header .user .accounts {
	font-size: 0.7rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: calc(0.5*var(--spacing));
}

#header .user .accounts > li {
	display: flex;
}