.feedback-prompt {
    &__menu {
        text-align: center;
        border-radius: 8px !important;
        width: 22rem;
    }
    &__textarea {
        resize: none;
        margin: 1rem 0;
    }
    &__alert {
        white-space: initial;
    }
    &__list {
        width: 57.55%;
        &-ranking {
            height: 2.25rem;
            width: 2.25rem;
            &:focus {
                box-shadow: none;
            }
            &:hover:not(&--active),
            &:focus:not(&--active) {
                transition: all 0.2s cubic-bezier(0.5, -1, 0.5, 2);
                border: 1px solid $gray-13 !important;
                transform: scale(1.12);
                filter: none;
            }

            &--active {
                border: none !important;
                transform: scale(1.6);
                // &:focus {
                //     border: 1px solid $gray-13 !important;
                // }
            }
            &--inactive {
                filter: grayscale(1);
                border: none !important;
            }
        }
    }
}
