.logo {
    height: 1.5rem;
    width: 1.5rem;
}

.link {
    color: var(--body-color);
    border-radius: var(--border-radius);
}

.feedback-trigger {
    border: 1px solid var(--border-color);
    white-space: normal;

    &:hover {
        border: 1px solid var(--header-icon-color);
    }
}

.fuzzy-finder-item {
    border-width: 1px;
    border-color: var(--brand-secondary);
}

.fuzzy-finder-shortcut {
    position: relative;
    right: 2rem;
}

.search-nav-bar {
    // It has level 2 because of repo container page elements operate with
    // first level of z-indexes
    z-index: 2;
    width: 100%;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid var(--border-color-2);
    background-color: var(--color-bg-1);
}

.list {
    width: 100%;
    overflow: hidden;
}
