.buttons {
    padding: 0 3.3rem;
    display: flex;
    justify-content: space-around;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25rem;
    width: 2.25rem;
    margin-bottom: 0;
    border-radius: 50%;
    transition: box-shadow 50ms ease-in;

    &:focus-within {
        transition-delay: 0;

        > .emoji {
            box-shadow: var(--focus-box-shadow);
            border: 1px solid transparent;
            border-radius: 50%;
        }
    }
}

.border {
    z-index: 1;
    position: absolute;
    display: flex;
    height: 2.25rem;
    width: 2.25rem;
    cursor: pointer;
    margin: 0;
    border-radius: 50%;
    transform-origin: center center;
    transition: transform 0.15s ease, box-shadow 0.2s ease;
    border: 1px solid var(--border-color-2);

    &:hover {
        transform: scale(1.08);
        :global(.theme-light) & {
            border-color: var(--border-color);
        }
    }
    &:active {
        cursor: pointer;
        transform: scale(0.99);
    }
    &--active,
    &--inactive {
        border: none;
    }
}

.emoji {
    transform-origin: center center;

    &--active {
        animation: pop 150ms;
        transform: scale(1.285555);
    }
    &--inactive {
        filter: grayscale(1);
    }

    > svg {
        // For some reason, the icons are slightly clipped on their right edge
        // in Firefox. This prevents that from happening.
        overflow: visible;
    }
}

.input {
    opacity: 0;
    position: absolute;
}

@keyframes pop {
    from {
        transform: scale(0.95);
    }
    20% {
        transform: scale(1.6);
    }
    to {
        transform: scale(1.285555);
    }
}
