.icon-radio-buttons {
    padding: 0 4rem;

    &__label {
        height: 2.25rem;
        width: 2.25rem;
        display: block;
        cursor: pointer;
        margin: 0;
        border-radius: 50%;
        border: 1px solid $gray-02;

        &:hover:not(&--active),
        &:focus {
            transition: all 0.2s cubic-bezier(0.5, -1, 0.5, 2);
            border: 1px solid $gray-13 !important;
            transform: scale(1.12);
            filter: none;
        }

        &:focus {
            box-shadow: none;
        }

        &--input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        &--active {
            border: none;
            transform: scale(1.6);
        }
        &--inactive {
            filter: grayscale(1);
            border: none !important;
        }
    }
}
