.icon-radio-buttons {
    padding: 0 3.6875rem;
    display: flex;
    justify-content: space-around;

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.25rem;
        width: 2.25rem;
        cursor: pointer;
        margin: 0;
        border-radius: 50%;
        border: 1px solid var(--color-bg-4);

        &:hover:not(&--active),
        &:focus {
            border: 1px solid var(--color-bg-5);
            transition: all 0.3s cubic-bezier(0.5, -1, 0.5, 2);
            transform: scale(1.12);
            filter: none;
        }

        &--active {
            border: none;
            transform: scale(1.6);
        }
        &--inactive {
            filter: grayscale(1);
            border: none;
        }
    }

    &__input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}
