.prefix-text {
    flex-shrink: 0;
    padding: 0.25rem 0.5rem;
    height: 100%;
    border: 1px solid var(--input-border-color);
    background: var(--input-border-color);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    color: var(--link-color);
    display: flex;
    align-items: center;
    font-weight: normal;
}

.input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
