.toast {
    max-width: 520px;
}

.footer-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 0.375rem;

    label {
        font-size: 0.75rem;
        line-height: 136%;
        letter-spacing: -0.25px;
    }
}

.checkbox-button {
    border-radius: 20px;
}

.checkbox-button-active {
    display: flex;
    background-color: var(--border-primary-color) !important;
    color: var(--white) !important;

    > :global(.form-check) {
        padding-left: 0.39rem;
    }
    > svg.checkbox-icon {
        fill: var(--white) !important; // Overides default btn icon fill
    }

    label {
        color: var(--white) !important; // Overides default hover state for outlined-secondary button
    }
    &:not(:disabled):not(.disabled):hover:not(.focus):not(:focus) {
        background-color: var(--border-primary-color);
    }

    input[type='checkbox']:checked {
        display: none;
    }
}

.input,
.textarea {
    margin-top: 1rem;

    > div {
        font-size: 0.75rem;
    }
}

.done {
    display: flex;
    justify-content: flex-end;
}
.toast-subtitle {
    font-weight: 500;
    font-size: 0.875rem;
}
.thankyou-toast-content {
    font-size: 0.875rem;
    line-height: 142%;
}
.ref-link-list {
    padding-left: 1.25rem;
    color: var(--link-color);
}
