.empty-command-list {
    position: relative;
    color: $gray-17;
    padding: 1rem;

    &__title {
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    &__text {
        line-height: 150%;
        margin-bottom: 2rem;
    }

    &__illustration {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}

.theme-dark {
    .empty-command-list {
        color: $gray-06;
    }
}
