@value colors "sourcegraph/components/styles/_colors.css";
@value vars "sourcegraph/components/styles/_vars.css";

@value c_cool_dark_gray_2, c_cool_gray, c_cool_gray2, c_cool_gray_2, c_cool_gray_5, c_cool_mid_gray, c_cool_mid_gray_3, c_cool_mid_gray_5, c_cool_mid_gray_8, c_cool_pale_gray, c_cool_pale_gray_5, c_cool_pale_gray_8, c_cool_dark_gray, c_blue, c_blue_text, c_blue_2, c_blue_5, c_blue_8, c_black_30, c_black_20, c_black_10, c_purple, c_cool_dark_gray, c_green, c_orange_L1, c_blue_gray_L3 from colors;

@value font_size_7 from vars;

:global .monaco-editor.vs-dark {
	font-family: inherit;
}

/* Make cursor look less like a text insertion cursor. */
:global .monaco-editor .cursor {
	width: 0px !important;
}
/* FEATURE zap2Way: show text insertion cursor */
:global body.zap2Way .monaco-editor .cursor {
	width: 2px !important;
}

/* Highlight the line underneath the cursor. */
:global .monaco-editor .current-line {
	background-color: c_black_20;
	border: none !important;
}

/* Display hover tooltips above global nav. */
:global .monaco-editor .monaco-editor-hover {
	z-index: 101;
	box-sizing: content-box;
}

:global .monaco-editor.vs-dark .monaco-editor-hover {
	background-color: c_cool_dark_gray;
}

:global .monaco-editor.vs-dark .monaco-editor-hover .hover-row:last-child {
	color: white;
}

:global .monaco-editor .context-view {
	z-index: 100;
}

/* Add a bit more space between line numbers and code */
:global .monaco-editor .monaco-scrollable-element .lines-content {
	padding-left: 0.5rem;
}

/* Code view */

:global .monaco-editor.vs-dark .reference-zone-widget .preview .monaco-editor {
	background-color: c_black_10 !important;
}

/* Ref tree */

:global .monaco-editor.vs-dark .reference-zone-widget .ref-tree {
	background-color: c_cool_gray2 !important;
	color: white;
}

/*
	Style scrollbar
*/

:global .monaco-editor .monaco-scrollable-element .decorationsOverviewRuler {
	background-color: c_cool_mid_gray_3;
}

:global .monaco-editor .scrollbar .slider {
	background-color: c_cool_mid_gray_5 !important;
}

@value blue: rgba(92, 192, 255, 1);

/* Transition when link becomes a goto-def link */
:global div.monaco-editor.vs-dark .goto-definition-link {
	background-color: c_cool_mid_gray_8;
	color: white !important;
	font-weight: bold;
	text-decoration: none;
}

/* Pointer on tokens. */
:global div.monaco-editor.vs-dark .mtk1,
:global div.monaco-editor.vs-dark .mtk2,
:global div.monaco-editor.vs-dark .mtk3,
:global div.monaco-editor.vs-dark .mtk4,
:global div.monaco-editor.vs-dark .mtk5,
:global div.monaco-editor.vs-dark .mtk6,
:global div.monaco-editor.vs-dark .mtk7,
:global div.monaco-editor.vs-dark .mtk8,
:global div.monaco-editor.vs-dark .mtk9,
:global div.monaco-editor.vs-dark .mtk10,
:global div.monaco-editor.vs-dark .mtk11,
:global div.monaco-editor.vs-dark .mtk12,
:global div.monaco-editor.vs-dark .mtk13,
:global div.monaco-editor.vs-dark .mtk14,
:global div.monaco-editor.vs-dark .mtk15 {
	cursor: pointer;
}

:global div.monaco-editor.vs-dark,
:global div.monaco-editor.vs-dark .monaco-editor-background,
:global div.monaco-diff-editor.monaco-editor-background.vs-dark {
	background-color: c_cool_dark_gray;
}

:global div.monaco-editor.vs-dark .line-numbers {
	color: c_cool_mid_gray_3;
	cursor: default !important;
}
:global div.monaco-editor.vs-dark .line-numbers:hover {
	color: c_cool_mid_gray;
}

/* File tree */
:global .explorer-folders-view .monaco-tree-row {
	line-height: 30px;
	font-size: 1rem;
}

:global .vs-dark .explorer-folders-view .monaco-tree .monaco-tree-rows > .monaco-tree-row.has-children > .content:before {
	background-image: url('data:image/svg+xml, <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M10.656375,18.1633125 C10.3635,18.4569375 9.888375,18.4569375 9.59475,18.1640625 C9.3015,17.8711875 9.3015,17.3956875 9.594375,17.1028125 L14.696625,12.0065625 L9.594375,6.9099375 C9.3015,6.6166875 9.3015,6.1415625 9.59475,5.8486875 C9.888375,5.5554375 10.3635,5.5558125 10.656375,5.8494375 L16.289625,11.4759375 C16.582875,11.7684375 16.583625,12.2428125 16.291125,12.5356875 C16.290375,12.5360625 16.290375,12.5364375 16.289625,12.5368125 L10.656375,18.1633125 Z" id="Fill" fill="white"></path></svg>');
}

:global .vs-dark .explorer-folders-view .monaco-tree .monaco-tree-rows > .monaco-tree-row.expanded > .content:before {
	background-image: url('data:image/svg+xml, <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M12.5240625,16.27845 C12.2315625,16.571325 11.7568125,16.5717 11.4639375,16.278825 C11.4635625,16.278825 11.4631875,16.278825 11.4631875,16.27845 L5.8366875,10.64895 C5.5396875,10.359825 5.5329375,9.8847 5.8220625,9.5877 C6.1111875,9.291075 6.5863125,9.2847 6.8833125,9.57345 L6.8975625,9.5877 L11.9934375,14.686575 L17.0896875,9.5877 C17.3788125,9.290325 17.8535625,9.28395 18.1509375,9.5727 C18.4483125,9.86145 18.4546875,10.336575 18.1659375,10.633575 C18.1610625,10.638825 18.1561875,10.644075 18.1509375,10.64895 L12.5240625,16.27845 Z" id="Fill" fill="white"></path></svg>');
}

:global .explorer-folders-view .monaco-tree-row .sub-content::before {
	flex:none;
	margin-top:4px;
}

:global .vs-dark .monaco-list .monaco-list-row.selected {
	font-weight:bold;
	background:rgba(0, 145, 234);
}

/* Style Code lens */

:global div.monaco-editor .codelens-decoration {
	border-radius: 3px;
	margin-top: 0.1rem;
	margin-left: -2px;
	transition: all 200ms ease-in-out;
}

:global div.monaco-editor .codelens-decoration > span,
:global div.monaco-editor .codelens-decoration > a {
	background-color: c_cool_gray_2;
	border-radius: 3px;
	color: c_cool_pale_gray_5;
	display: inline-block;
	font-size: 0.925rem;
	height: 19px !important;
	opacity: 0.9;
	padding: 0 7px 2px 7px;
	text-decoration: none;
	text-overflow: ellipsis;
	transition: all 200ms ease-in-out;
	user-select: none;
	white-space: nowrap;
}

:global div.monaco-editor.vs-dark .codelens-decoration > a:hover {
	background-color: c_cool_gray_5;
	color: c_cool_pale_gray_8 !important;
	opacity: 1;
	text-decoration: none;
}

:global div.monaco-editor.vs-dark .codelens-decoration > a:active {
	background-color: c_black_30;
	color: c_cool_pale_gray !important;
}


:global div.monaco-editor .codelens-decoration.invisible-cl {
	background-color: c_cool_gray_2;
	height: 24px !important;
	min-width: 120px;
}

:global .monaco-workbench-container {
	/* Default position:absolute causes https://github.com/sourcegraph/sourcegraph/issues/3277. */
	position: fixed !important;
}

:global .monaco-workbench > .part.sidebar.left {
	background-color: c_cool_gray;
}

:global .monaco-workbench > .part > .composite.title {
	height: 45px;
	opacity: 0;
	transition: opacity 500ms ease-in-out;
}

:global .monaco-workbench > .part > .composite.title > .title-actions,
:global .monaco-workbench > .part > .composite.title > .title-label > span {
	display: none;
}

:global .monaco-tree .monaco-tree-wrapper .monaco-tree-rows {
	color: rgba(213,229,242,1);
}

:global .monaco-sash.vertical {
	display: none;
}

:global .monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title {
	overflow: initial !important;
}

/*:global #workbench\.parts\.editor {
	box-shadow: -2px 0 3px 0px rgba(0,0,0,0.1);
}*/

:global .monaco-menu-container .monaco-menu {
	background: white;
	border-radius: 3px;
}

:global .vs-dark .monaco-workbench .editor-one.monaco-editor-background {
	background: c_cool_dark_gray;
}

:global .vs-dark .monaco-workbench .editor.part.empty.monaco-editor-background {
	background: c_cool_dark_gray;
}

:global .monaco-workbench > .part.sidebar > .content {
	background: c_cool_gray2;
}

:global .monaco-workbench > .part > .content .progress-container {
	top: 43px !important; /* 45px - 2px, just below title bar */
}

:global .context-view.monaco-menu-container {
	box-shadow: none !important;
	border-radius: 3px;
}

:global .ref-tree.inline {
	height: 100%;
}

:global .monaco-editor.vs-dark .bracket-match {
	display: none
}

:global .monaco-workbench > .part > .title {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

:global .monaco-tree .monaco-tree-rows > .monaco-tree-row > .content > .sidebar-references > .code-content > .function {
	padding-top: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
}

:global .monaco-tree .monaco-tree-rows > .monaco-tree-row > .content > .sidebar-references > .code-content > .function .author-details > img {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	border-radius: 8px;
}

:global .monaco-tree .monaco-tree-rows > .monaco-tree-row > .content > .sidebar-references > .code-content > .function .author-details .name {
	display: inline-block;
	padding-left: 6px;
}

:global .monaco-tree .monaco-tree-rows > .monaco-tree-row > .content > .sidebar-references > .code-content > .function .author-details {
	padding-top: 10px;
	color: #5d7eac;
}

:global .monaco-tree .monaco-tree-rows > .monaco-tree-row > .content > .sidebar-references > .code-content > .function .file-details {
	padding-top: 10px;
	color: #5d7eac;
	overflow: hidden;
	text-overflow: ellipsis;
	direction: rtl;
	text-align: left;
}

:global .monaco-tree .monaco-tree-rows > .monaco-tree-row > .content > .sidebar-references > .code-content > .divider-container {
	padding-top: 10px;
	width: 100%;
}

:global .monaco-tree .monaco-tree-rows > .monaco-tree-row > .content > .sidebar-references > .code-content > .divider-container > .divider {
	width: 100%;
	height: 1px;
	background-color: rgba(201, 211, 227, 0.3);
}

:global .sg-sidebar .monaco-tree {
	flex: 1 1 auto;
}

:global .monaco-editor.vs-dark .view-overlays .selected-text {
	background-color: #0091ea !important;
}

:global .monaco-workbench > .editor > .content > .one-editor-silo > .container > .editor-container {
	/*height: calc(100% - 45px - 38px) !important;*/
	height: calc(100% - 45px) !important;
}

:global .global-message-list {
    position: relative !important;
}

:global .monaco-workbench > .part.statusbar > .statusbar-item a:not([disabled]):not(disabled) {
	color: rgba(255, 255, 255, 0.9);
}

:global .editor.modified {
	left: 32px !important;
}

:global .editor.original > .monaco-editor > .overflow-guard {
	width: 32px !important;
}

/* Quickopen */

:global .quick-open-widget {
	background-color: rgb(35, 48, 67) !important;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5) !important;
	z-index: 50; /* so it is above the modal overlay */
	border-radius: 0px 0px 3px 3px !important;
}

:global .quick-open-widget .quick-open-input {
	max-width: 586px !important;
	padding: 8px !important;
	padding-top: 10px !important;
	height: 58px;
}

:global .quick-open-widget .progress-container {
	top: 57px !important;
}

:global .quick-open-widget input {
	background-color: rgb(62, 87, 121) !important;
	padding: 8px !important;
	color: white !important;
	height: 40px !important;
	border-radius: 3px !important;
}

:global .quick-open-widget input::placeholder {
	color: rgb(201, 212, 227) !important;
}

:global .quick-open-widget input:focus {
	outline: none !important;
}

:global .quick-open-widget .quick-open-input .monaco-inputbox {
	height: 40px !important;
}

:global .quick-open-widget .monaco-tree-row {
	height: 40px !important;
	color: white !important;
}

:global .quick-open-widget .monaco-tree-row .quick-open-help-entry-label {
	color: blue !important;
}

:global .quick-open-widget .monaco-tree-row .content {
	display: flex;
	align-items: center;
	padding: 10px;
}

:global .quick-open-widget .monaco-tree-row .results-group-separator {
	margin-left: 0px;
}

:global .quick-open-widget .monaco-tree-row .results-group {
	display: none;
}

:global .quick-open-widget .monaco-tree-row.focused {
	background-color: rgb(62, 87, 121) !important;
}

:global .quick-open-widget div.monaco-tree-row:hover {
	background-color: rgb(62, 87, 121) !important;
}

:global .quick-open-widget .monaco-tree-row .results-group-separator {
	border-top: none;
}

:global .quick-open-widget .quick-open-tree .quick-open-entry .quick-open-entry-icon.dirty {
	display: none;
}


/* Status bar */

:global .statusbar-item.left.statusbar-entry > a {
	padding-top: 4px !important;
}

:global .monaco-workbench > .part.statusbar > .statusbar-item a {
	color: c_cool_dark_gray_2 !important;
	/*padding: 0 5px 0 5px !important;*/
	margin-left: .5rem !important;
	transition: all 0.25s;
}

:global .monaco-workbench > .part.statusbar > .statusbar-item a:hover,
:global .monaco-workbench > .part.statusbar > .statusbar-item > .dropdown.send-feedback:hover {
	color: c_cool_mid_gray !important;
	background-color: c_black_20 !important;
}

:global .monaco-workbench > .part.statusbar > .statusbar-item > .dropdown.send-feedback > .dropdown-label.send-feedback {
	background-image: url("data:image/svg+xml,%3Csvg fill='%235d7eac' viewBox='8 8 48 48' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M43.25 38c-1.4 0-4.12 4-11.25 4s-9.86-4-11.25-4c-.4-.03-.72.26-.75.65v.1c0 1.3 4.5 7.25 12 7.25s12-5.96 12-7.25c.03-.4-.26-.72-.65-.75h-.1M40 24c-2.67 0-4 3.1-4 6 0 1.3.17 2 .75 2 1.2 0 1.66-1 3.25-1 1.6 0 2.05 1 3.25 1 .58 0 .75-.7.75-2 0-2.9-1.33-6-4-6m-16 0c-2.67 0-4 3.1-4 6 0 1.3.17 2 .75 2 1.2 0 1.66-1 3.25-1 1.6 0 2.05 1 3.25 1 .58 0 .75-.7.75-2 0-2.9-1.33-6-4-6m8 32C18.75 56 8 45.26 8 32 8 18.75 18.75 8 32 8c13.26 0 24 10.75 24 24 0 13.26-10.74 24-24 24' id='a'/%3E%3C/defs%3E%3Cuse fill-rule='evenodd' xlink:href='%23a'/%3E%3C/svg%3E") !important;
	background-repeat: no-repeat;
	background-position: 8px center;
	background-size: 20px;
	width: auto;
}

:global .monaco-workbench > .part.statusbar > .statusbar-item > .dropdown.send-feedback > .dropdown-label.send-feedback:before {
	content: "Feedback";
    display: inline-block;
    padding: 4px 8px 4px 40px;
    line-height: 1.5;
}

:global .monaco-workbench > .part.statusbar > .statusbar-item > .dropdown.send-feedback > .dropdown-label.send-feedback:hover {
	background-image: url("data:image/svg+xml,%3Csvg fill='%2393a9c8' viewBox='8 8 48 48' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M43.25 38c-1.4 0-4.12 4-11.25 4s-9.86-4-11.25-4c-.4-.03-.72.26-.75.65v.1c0 1.3 4.5 7.25 12 7.25s12-5.96 12-7.25c.03-.4-.26-.72-.65-.75h-.1M40 24c-2.67 0-4 3.1-4 6 0 1.3.17 2 .75 2 1.2 0 1.66-1 3.25-1 1.6 0 2.05 1 3.25 1 .58 0 .75-.7.75-2 0-2.9-1.33-6-4-6m-16 0c-2.67 0-4 3.1-4 6 0 1.3.17 2 .75 2 1.2 0 1.66-1 3.25-1 1.6 0 2.05 1 3.25 1 .58 0 .75-.7.75-2 0-2.9-1.33-6-4-6m8 32C18.75 56 8 45.26 8 32 8 18.75 18.75 8 32 8c13.26 0 24 10.75 24 24 0 13.26-10.74 24-24 24' id='a'/%3E%3C/defs%3E%3Cuse fill-rule='evenodd' xlink:href='%23a'/%3E%3C/svg%3E") !important;
}

/* SCM Viewlet */
:global .scm-editor {
	display: none;
}

:global .scm-status .monaco-list-row {
	line-height: 30px;
	font-size: 1rem;
}

/* Shadow Overrides */
:global .vs-dark .monaco-workbench .monaco-scrollable-element .shadow.top,
:global .monaco-scrollable-element > .shadow.top,
:global .monaco-editor.vs-dark .scroll-decoration,
:global .monaco-workbench > .part.statusbar {
	box-shadow:none !important;
}

