.theme-light {
    --input-group-addon-color: var(--gray-08);
    --input-group-addon-bg: var(--gray-03);
    --input-group-addon-border-color: var(--gray-03);
}

.theme-dark {
    --input-group-addon-color: var(--gray-01);
    --input-group-addon-bg: var(--gray-08);
    --input-group-addon-border-color: var(--gray-08);
}

//
// Base styles
//
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap; // For form validation feedback
    align-items: stretch;
    width: 100%;

    > .form-control,
    > .custom-select,
    > .loader-input {
        position: relative; // For focus state's z-index
        flex: 1 1 auto;
        width: 1%;
        min-width: 0; // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
        margin-bottom: 0;

        + .form-control,
        + .custom-select {
            margin-left: calc(-1 * var(--input-border-width));
        }

        &:not(:last-child),
        // Support form-control nested within `loader-input`
        &:not(:last-child) > .form-control {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:not(:first-child),
        // Support form-control nested within `loader-input`
        &:not(:first-child) > .form-control {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    // Bring the "active" form control to the top of surrounding elements
    > .form-control:focus,
    > .custom-select:focus,
    > .loader-input:focus > .form-control {
        z-index: 3;
    }
}

// Prepend and append
//
// While it requires one extra layer of HTML for each, dedicated prepend and
// append elements allow us to 1) be less clever, 2) simplify our selectors, and
// 3) support HTML5 form validation.

.input-group-prepend,
.input-group-append {
    display: flex;

    .input-group-text + .input-group-text {
        margin-left: calc(-1 * var(--input-border-width));
    }
}

.input-group-prepend {
    margin-right: calc(-1 * var(--input-border-width));
}
.input-group-append {
    margin-left: calc(-1 * var(--input-border-width));
}

// Textual addons
//
// Serves as a catch-all element for any text or radio/checkbox input you wish
// to prepend or append to an input.

.input-group-text {
    display: flex;
    align-items: center;
    padding: var(--input-padding-y) var(--input-padding-x);
    margin-bottom: 0; // Allow use of <label> elements by overriding our default margin-bottom
    font-size: var(--font-size-base);
    font-weight: 400;
    line-height: var(--line-height-base);
    color: var(--input-group-addon-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--input-group-addon-bg);
    border: var(--input-border-width) solid var(--input-group-addon-border-color);
    border-radius: var(--border-radius);

    // Nuke default margins from checkboxes and radios to vertically center within.
    input[type='radio'],
    input[type='checkbox'] {
        margin-top: 0;
    }
}

// Prepend and append rounded corners
//
// These rulesets must come after the sizing ones to properly override sm and lg
// border-radius values when extending. They're more specific than we'd like
// with the `.input-group >` part, but without it, we cannot override the sizing.

.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
