// This file is a fork from SearachBox.module.scss and contains JetBrains specific UI changes

@import 'wildcard/src/global-styles/breakpoints';

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    min-width: 12rem;
    min-height: 2rem;
    border-top: 1px solid var(--jb-border-color);

    @media (--xs-breakpoint-down) {
        display: inline;
        padding: 0.5rem;
    }

    &__background-container {
        display: flex;
        flex-grow: 1;
        align-items: center;
        background-color: var(--code-bg);
        height: 100%;

        @media (--xs-breakpoint-down) {
            height: auto;
            border: none;
            display: inline;
        }

        &:first-child {
            border-left-color: var(--input-border-color);
        }
    }

    &__focus-container {
        // stylelint-disable-next-line declaration-property-unit-allowed-list
        height: 1.5rem;
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        // stylelint-disable-next-line declaration-property-unit-allowed-list
        margin: 2px;
        border: 1px solid transparent;
        border-radius: var(--border-radius);

        &__icon {
            padding-left: 0.25rem;
            padding-right: 0.75rem;
            color: var(--jb-icon-color);
        }

        &:focus-within {
            border: 1px solid var(--input-focus-border-color);
            box-shadow: 0 0 0 2px rgba(28, 126, 214, 0.25);
        }

        @media (--xs-breakpoint-down) {
            height: auto;
            flex-wrap: wrap;
            display: inline;
            padding-left: 0;
            margin-left: 0;

            &:focus-within {
                border: none;
                box-shadow: none;
            }
        }
    }

    &__version-context-dropdown,
    &__context-dropdown {
        margin-left: 0.25rem;

        @media (--xs-breakpoint-down) {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0.5rem;
        }

        > * > button {
            border: 1px solid var(--jb-border-color) !important;
        }
    }

    &__separator {
        // stylelint-disable-next-line declaration-property-unit-allowed-list
        width: 1px;
        height: 1.125rem;
        background-color: var(--border-color-2);

        @media (--xs-breakpoint-down) {
            display: none;
        }
    }

    &__input {
        // stylelint-disable-next-line declaration-property-unit-allowed-lis
        margin-top: 1px;
        @media (--xs-breakpoint-down) {
            display: inline-block;
            width: 100%;
            border: 1px solid var(--input-border-color);
            border-radius: var(--border-radius);
            padding: 0.375rem 0.5rem;

            &:focus-within,
            &:focus {
                border: 1px solid var(--input-focus-border-color);
                box-shadow: 0 0 0 2px rgba(28, 126, 214, 0.25);
            }
        }
    }

    &__toggles {
        padding-right: 0.5rem;
        padding-left: 0.35rem;

        @media (--xs-breakpoint-down) {
            // Important is kept to give this display a higher priority at this screen size
            //  since ToggleContainer has an opposing display of flex
            display: inline-flex !important;
            margin-top: 0.75rem;
            padding-left: 0;
        }
    }

    &__button {
        display: flex;

        @media (--xs-breakpoint-down) {
            display: inline-flex;
            flex-direction: row-reverse;
            margin-top: 0.5rem;
            float: right;
        }
    }
}
