---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: GET
  response:
    body: '[{"type":"Repository","id":10,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","token":"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","url":"https://firstwebhook.com/enqueue-repo-update"},"updated_at":"2022-07-14T06:34:10Z","created_at":"2022-07-14T06:34:10Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/10","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/10/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/10/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/10/deliveries","last_response":{"code":500,"status":"hookshot_error","message":"no
      such host"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a1f2d06ed7067dbc90c339158356dbfc890e236f0fc37a7b7ca063d88c947de1"
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; format=json
    status: 200 OK
    code: 200
    duration: ""
