.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2rem;
    column-gap: 1rem;
    margin-top: 1rem;
}

.feedback-prompt {
    text-align: center;
    width: 20rem;
    padding: 1rem;
}

.feedback-trigger {
    margin-left: -0.75rem;
}
