.org-avatar {
    border-radius: 100%;
    background: #a2b0cd;
    color: #39496a;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &--md {
        font-size: 10px;
        height: 1.5rem;
        width: 1.5rem;
    }

    &--lg {
        font-size: 20px;
        height: 3.5rem;
        width: 3.5rem;
    }
}
