.editorconfig
.github/**
.gitignore
.prettierignore
.vscode-test/**
.vscode/**
**/*.map
out/test/**
prettier.config.json
src/**
test/**
tsconfig.json
.eslintrc.js
.eslintignore
.vscode
node_modules
out/
src/
webpack.config.js
