.editorconfig
.eslintignore
.eslintrc.js
.github/**
.gitignore
.prettierignore
.stylelintrc.json
.vscode-test/**
.vscode/**
*.vsix
*.map
**/*.map
**/*.ts
**/tsconfig*.json
dist/*.vsix
node_modules/**
out/**
prettier.config.json
scripts/**
src/**
test/**
tests/**
tsconfig.json
webviews/**
pnpm-lock.yaml
