---
version: 1
interactions:
- request:
    body: '{"name":"web","config":{"url":"https://repoupdater.com/github-webhooks","content_type":"json","secret":"secret","insecure_ssl":"0","token":"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"},"events":["push"],"active":true,"url":""}'
    form: {}
    headers:
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: POST
  response:
    body: '{"type":"Repository","id":13,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","token":"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","url":"https://repoupdater.com/github-webhooks"},"updated_at":"2022-07-19T02:46:32Z","created_at":"2022-07-19T02:46:32Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/13","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/13/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/13/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/13/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"29d99368bcd8dfee4038d14539e9458c03eb5cf87e8d316db7800e81b2219520"'
      Location:
      - https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/13
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; format=json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: GET
  response:
    body: '[{"type":"Repository","id":13,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","token":"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","url":"https://repoupdater.com/github-webhooks"},"updated_at":"2022-07-19T02:46:32Z","created_at":"2022-07-19T02:46:32Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/13","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/13/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/13/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/13/deliveries","last_response":{"code":500,"status":"hookshot_error","message":"no
      such host"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fc0641a84d8ab13889d61e03a7d7fed060533c27c25941884fff87ab323dd381"
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; format=json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/13
    method: DELETE
  response:
    body: ""
    headers:
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; format=json
    status: 204 No Content
    code: 204
    duration: ""
