---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: GET
  response:
    body: '[{"type":"Repository","id":25,"name":"web","active":true,"events":["push"],"config":{"url":"https://a125-116-15-22-254.ap.ngrok.io/github-webhooks","content_type":"json","secret":"********","insecure_ssl":"0","token":"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"},"updated_at":"2022-07-19T03:40:51Z","created_at":"2022-07-19T03:40:51Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/25","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/25/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/25/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/25/deliveries","last_response":{"code":200,"status":"active","message":"OK"}},{"type":"Repository","id":26,"name":"web","active":true,"events":["push"],"config":{"url":"https://fcba-116-15-22-254.ap.ngrok.io/github-webhooks","content_type":"json","secret":"********","insecure_ssl":"0","token":"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"},"updated_at":"2022-07-19T07:32:23Z","created_at":"2022-07-19T07:32:23Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/26","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/26/test","ping_url":"https://ghe[...]
