---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/labels/archived/labeled?REPOSITORY=&limit=1000
    method: GET
  response:
    body: '{"size":1,"limit":1000,"isLastPage":true,"values":[{"slug":"archived-repo","id":10073,"name":"archived-repo","hierarchyId":"05788c1a4ffadf0ff5d8","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"PUBLIC","id":4,"name":"Public","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/PUBLIC"}]}},"public":false,"labelableType":"REPOSITORY","links":{"clone":[{"href":"ssh://git@bitbucket.sgdev.org:7999/public/archived-repo.git","name":"ssh"},{"href":"https://bitbucket.sgdev.org/scm/public/archived-repo.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/PUBLIC/repos/archived-repo/browse"}]}}],"start":0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@157E7ZCx771x3281103x0'
      X-Asessionid:
      - 81jid2
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOURCEGRAPH/repos?limit=1000
    method: GET
  response:
    body: '{"size":1,"limit":1000,"isLastPage":true,"values":[{"slug":"jsonrpc2","id":10066,"name":"jsonrpc2","hierarchyId":"baae97879aa9c31e1fe9","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SOURCEGRAPH","id":28,"name":"Sourcegraph
      e2e testing","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOURCEGRAPH"}]}},"public":false,"links":{"clone":[{"href":"ssh://git@bitbucket.sgdev.org:7999/sourcegraph/jsonrpc2.git","name":"ssh"},{"href":"https://bitbucket.sgdev.org/scm/sourcegraph/jsonrpc2.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SOURCEGRAPH/repos/jsonrpc2/browse"}]}}],"start":0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@157E7ZCx771x3281104x0'
      X-Asessionid:
      - bozo50
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
