---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0374332bc13ce28962a163197d8f5d4b324004514fe6112651d57f58770f9159"'
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"web","config":{"url":"https://example.com/github-webhooks","content_type":"json","secret":"1a6d09c46f8c4236e16867b6ddca758275d5a9dc57e2b707a3935f1458b24f12","insecure_ssl":"0","token":""},"events":["push"],"active":true,"url":""}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: POST
  response:
    body: '{"type":"Repository","id":104,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://example.com/github-webhooks"},"updated_at":"2022-07-21T00:43:59Z","created_at":"2022-07-21T00:43:59Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/104","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/104/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/104/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/104/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1122a04c9958e542bb03ffac968f76290f1a0ea2e89929315a203a93781658ed"'
      Location:
      - https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/104
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: "null"
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/104/tests
    method: POST
  response:
    body: ""
    headers:
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '""'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/104
    method: DELETE
  response:
    body: ""
    headers:
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 204 No Content
    code: 204
    duration: ""
