---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: GET
  response:
    body: '[{"type":"Repository","id":112,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://example.com/github-webhooks"},"updated_at":"2022-07-26T13:52:51Z","created_at":"2022-07-26T13:52:51Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/112","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/112/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/112/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/112/deliveries","last_response":{"code":404,"status":"missing","message":"Invalid
      HTTP Response: 404"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dda4e239df7de2b18f9687a65d534b830b1a76575b684b58da99a01cee344f97"
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"repo":"ghe.sgdev.org/milton/test"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: http://127.0.0.1:8080/enqueue-repo-update
    method: POST
  response:
    body: '{"id":1,"name":"ghe.sgdev.org/milton/test","url":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
