---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/milton/test/hooks
    method: GET
  response:
    body: '[{"type":"Repository","id":113,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://example.com/github-webhooks"},"updated_at":"2022-08-04T10:58:33Z","created_at":"2022-08-04T10:58:33Z","url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/113","test_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/113/test","ping_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/113/pings","deliveries_url":"https://ghe.sgdev.org/api/v3/repos/milton/test/hooks/113/deliveries","last_response":{"code":404,"status":"missing","message":"Invalid
      HTTP Response: 404"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8e1530ebe817e96a6dde15b958930e2194bfe0f98a7d968d5ce17f9e4269dd85"
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
