@import 'wildcard/src/global-styles/breakpoints';

.alert {
    position: absolute;
    bottom: calc(var(--toggle-big-height) + 0.25rem);
    left: calc(var(--toggle-big-width) / 2);
    transform: translateX(-50%);
    width: max-content;

    /* hide alerts for narrow screens */
    display: none;
}

.actions {
    width: 16rem;
}

@media (--md-breakpoint-up) {
    .alert {
        display: block;
    }

    .toggle-wrapper {
        justify-content: flex-end;
    }
}
