.password-reset-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    &__content {
        margin: auto;
        background-color: #151D28;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
    }
    
    &__form {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        max-width: 280px;
    }

    &__error {
        color: red;
    }

    &__submit {
        margin: 0 auto;
    }
}
