.sign-in-page {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    &__mode {
        color: #93A9C8;
        font-size: inherit;
        cursor: pointer;
        &:hover {
            color: #FFFFFF;
        }

        &--active {
            color: #FFFFFF;
        }
    }

    &__mode-divider {
        padding: 0 1rem;
    }

    &__error {
        color: red;
    }

    &__pass-reset-link {
        padding-top: 0.25rem;
        margin-left: .5rem;
        float: left;
    }

    &__submit-button {
        float: right;
        margin-right: .5rem;
    }
}
