---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/labels/archived/labeled?REPOSITORY=&limit=1000
    method: GET
  response:
    body: '{"size":1,"limit":1000,"isLastPage":true,"values":[{"slug":"archived-repo","id":10073,"name":"archived-repo","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"PUBLIC","id":4,"name":"Public","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/PUBLIC"}]}},"public":false,"labelableType":"REPOSITORY","links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/public/archived-repo.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/PUBLIC/repos/archived-repo/browse"}]}}],"start":0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@MWNSEUx861x1958187x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - 1g2ziuk
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/automation-testing
    method: GET
  response:
    body: '{"slug":"automation-testing","id":10070,"name":"automation-testing","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SOUR","id":1,"name":"sourcegraph","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/sour/automation-testing.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/automation-testing/browse"}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@MWNSEUx861x1958188x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - klqu4p
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/automation-testing/pull-requests/69
    method: GET
  response:
    body: '{"id":69,"version":0,"title":"This is a test PR","description":"This is
      the body of a test PR","state":"OPEN","open":true,"closed":false,"createdDate":1585316944811,"updatedDate":1585316944811,"fromRef":{"id":"refs/heads/test-pr-bbs-11","displayId":"test-pr-bbs-11","latestCommit":"c9324a86ac324cdf48f3db3595d2dd013e43b56c","repository":{"slug":"automation-testing","id":10070,"name":"automation-testing","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SOUR","id":1,"name":"sourcegraph","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/sour/automation-testing.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/automation-testing/browse"}]}}},"toRef":{"id":"refs/heads/master","displayId":"master","latestCommit":"e833db3fe2bdbc28b58cd72def1b0078e77aa171","repository":{"slug":"automation-testing","id":10070,"name":"automation-testing","scmId":"git","state":"AVAILABLE","statusMessage":"Available","forkable":true,"project":{"key":"SOUR","id":1,"name":"sourcegraph","public":false,"type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR"}]}},"public":false,"links":{"clone":[{"href":"https://bitbucket.sgdev.org/scm/sour/automation-testing.git","name":"http"}],"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/automation-testing/browse"}]}}},"locked":false,"author":{"user":{"name":"milton","emailAddress":"dev@sourcegraph.com","id":1,"displayName":"milton
      woof","active":true,"slug":"milton","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/milton"}]}},"role":"AUTHOR","approved":false,"status":"UNAPPROVED"},"reviewers":[],"participants":[],"links":{"self":[{"href":"https://bitbucket.sgdev.org/projects/SOUR/repos/automation-testing/pull-requests/69"}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@MWNSEUx861x1958189x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - 56j8jd
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/automation-testing/pull-requests/69/activities?limit=1000
    method: GET
  response:
    body: '{"size":2,"limit":500,"isLastPage":true,"values":[{"id":3002,"createdDate":1588169581133,"user":{"name":"milton","emailAddress":"dev@sourcegraph.com","id":1,"displayName":"milton
      woof","active":true,"slug":"milton","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/milton"}]}},"action":"COMMENTED","commentAction":"ADDED","comment":{"properties":{"repositoryId":10070},"id":2570,"version":0,"text":"A
      comment","author":{"name":"milton","emailAddress":"dev@sourcegraph.com","id":1,"displayName":"milton
      woof","active":true,"slug":"milton","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/milton"}]}},"createdDate":1588169581133,"updatedDate":1588169581133,"comments":[],"tasks":[],"permittedOperations":{"editable":true,"deletable":true}}},{"id":2980,"createdDate":1585316944831,"user":{"name":"milton","emailAddress":"dev@sourcegraph.com","id":1,"displayName":"milton
      woof","active":true,"slug":"milton","type":"NORMAL","links":{"self":[{"href":"https://bitbucket.sgdev.org/users/milton"}]}},"action":"OPENED"}],"start":0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@MWNSEUx861x1958191x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - 16b3l91
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/automation-testing/pull-requests/69/commits?limit=1000
    method: GET
  response:
    body: '{"values":[{"id":"c9324a86ac324cdf48f3db3595d2dd013e43b56c","displayId":"c9324a86ac3","author":{"name":"Thorsten
      Ball","emailAddress":"mrnugget@gmail.com"},"authorTimestamp":1573644034000,"committer":{"name":"Thorsten
      Ball","emailAddress":"mrnugget@gmail.com"},"committerTimestamp":1573644034000,"message":"Create
      new file","parents":[{"id":"c75943274b322ffef2230df8f8049de84ddf12c1","displayId":"c75943274b3"}]}],"size":1,"isLastPage":true,"start":0,"limit":1000,"nextPageStart":null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@MWNSEUx861x1958192x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - on6ac1
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/build-status/1.0/commits/c9324a86ac324cdf48f3db3595d2dd013e43b56c?limit=1000
    method: GET
  response:
    body: '{"size":1,"limit":100,"isLastPage":true,"values":[{"state":"INPROGRESS","key":"thekey","name":"thename","url":"http://example.com","description":"the
      description","dateAdded":1581510032840}],"start":0}'
    headers:
      Content-Type:
      - application/json
      X-Arequestid:
      - '@MWNSEUx861x1958193x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - 1htbv10
      X-Auserid:
      - "1"
      X-Ausername:
      - milton
    status: 200 OK
    code: 200
    duration: ""
