/*
This sets the colors for all styles
It should be imported into app.scss
*/

@import 'open-color/open-color';

// Semantic/state colors (theme-agnostic)
$color-primary: $oc-blue-7;
$color-secondary: #93a9c8;
$color-success: $oc-teal-7;
$color-danger: $oc-red-7;
$color-info: $oc-cyan-7;

// Dark Theme

$color-bg-1: #151c28;
$color-bg-2: #1d2535;
$color-bg-3: #2b3750;
$color-bg-4: #0e121b;
$color-text: #c9d4e3;
$color-text-1: #a2b0cd;
$color-text-2: #f2f4f8;
$color-text-3: white;
$color-border: #2b3750;

// TODO add Basics color standards to Dark Theme

// Light Theme
// Basics
$color-light-bg-1: white;
$color-light-bg-2: #f2f4f8;
$color-light-bg-3: #cad2e2;
$color-light-bg-4: #e4e9f1;
$color-light-bg-5: #566e9f;
$color-light-bg-6: #070a0d;
$color-light-text-1: #2b3750;
$color-light-text-2: #6078a9;
$color-light-text-3: rgba(57, 73, 106, 0.5);
$color-light-text-4: white;
$color-light-text-5: #07090d;

$color-light-border: #cad2e2;
$color-light-border-2: #e4e9f1;
