.alert {
    padding: $spacer;
    border: 1px solid transparent;
    background: unset !important;
}

@mixin alert-variant($name) {
    .alert-#{$name} {
        background-color: var(--#{$name}) !important;
        border-color: var(--#{$name}-border);
        color: var(--#{$name}-contrast);
    }
}
@each $name, $color in $theme-colors {
    @include alert-variant($name);
}
