.badge {
    display: inline-block;
    padding: $spacer * 0.5;
    line-height: 1;
    white-space: nowrap;
    font-size: var(--font-size-sm);
}

@mixin badge-variant($name) {
    .badge-#{$name} {
        background-color: var(--#{$name});
        color: var(--#{$name}-contrast);
    }
}
@each $name, $color in $theme-colors {
    @include badge-variant($name);
}
