@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/button-group';

.btn-link {
    // No underline on .btn-link because it frequently contains icons, in which case the underline
    // appears in the space between the icon and text label, which looks weird.
    text-decoration: none !important;
}

// Light theme button variants
.theme-light {
    @each $color, $value in $theme-colors-light {
        .btn-#{$color} {
            @include button-variant($value, $value);
        }
    }
}

// This class is meant for clickable icons
// It is NOT meant for buttons with icons in it
.btn-icon {
    margin: 0;
    padding: 0;
    background: transparent;
    color: inherit;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;

    .icon {
        @extend .icon-inline;
    }

    &:focus-visible:not(:disabled):not(.disabled) {
        box-shadow: 0 0 0 2px rgba($primary, 0.5);
    }

    &:hover:not(:disabled):not(.disabled) {
        color: #ffffff;

        .theme-light & {
            color: $color-light-text-2;
        }
    }
}

.btn.btn-sm {
    @extend small;
}
