$card-spacer: $spacer;

.card {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    border: 1px solid var(--border-color);
}

.card-body {
    padding: $spacer;
}

.card-title {
    margin-bottom: $spacer;
}

.card-header,
.card-footer {
    background-color: var(--bg-muted);
    padding: $card-spacer;
    margin-top: 0;
    margin-bottom: 0;
}

.card-header {
    border-bottom: 1px solid var(--border-color);
}

.card-footer {
    border-top: 1px solid var(--border-color);
}
