code {
    font-family: var(--code-font-family);
    font-size: 12px;
    line-height: 16px;
    white-space: pre;
}

kbd {
    font-family: var(--code-font-family);
    display: inline-block;
    line-height: 16px;
    height: 1.125rem;
    font-size: 12px;
    padding: 0 0.25rem;
    margin: 0 0.125rem;
    vertical-align: middle;
    border-radius: 3px;
    color: var(--border-color);
    background-color: var(--bg-muted);
}
