@import 'bootstrap/scss/forms';

.theme-dark {
    --input-bg: #0e121b;
    --input-disabled-bg: #2b3750;
    --input-border-color: #2b3750;
    --input-color: #f2f4f8;
    --input-placeholder-color: rgba(#f2f4f8, 0.5);
}

.theme-light {
    --input-bg: white;
    --input-disabled-bg: #e4e9f1;
    --input-border-color: #e4e9f1;
    --input-color: #2b3750;
    --input-placeholder-color: rgba(#2b3750, 0.5);
}
