@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/custom-forms';
@import 'bootstrap/scss/input-group';

.theme-dark {
    --input-bg: #0e121b;
    --input-disabled-bg: #2b3750;
    --input-border-color: #2b3750;
    --input-color: #f2f4f8;
    --input-placeholder-color: rgba(#f2f4f8, 0.5);
    --input-group-addon-color: #{$color-text-1};
    --input-group-addon-bg: #{$color-bg-5};
    --input-group-addon-border-color: #{$color-bg-5};
}

.theme-light {
    --input-bg: #ffffff;
    --input-disabled-bg: #e4e9f1;
    --input-border-color: #e4e9f1;
    --input-color: #2b3750;
    --input-placeholder-color: rgba(#2b3750, 0.5);
    --input-group-addon-color: #{$color-light-text-1};
    --input-group-addon-bg: #{$color-light-bg-4};
    --input-group-addon-border-color: #{$color-light-bg-4};
}

// Prevent Firefox's default red outline for inputs
:not(output):-moz-ui-invalid:not(:focus) {
    box-shadow: none;
}
:not(output):-moz-ui-invalid:-moz-focusring:not(:focus) {
    box-shadow: none;
}

.bg-form-control {
    background-color: $input-bg !important;
}

// Support input groups with a focus ring around the entire group.
.form-control-focus {
    @include box-shadow($input-box-shadow);
    background-color: $input-focus-bg !important;
    border: $input-border-width solid $input-focus-border-color !important;
}
