/**
 * Global style for user avatars.
 */
.avatar-icon {
    border-radius: 50%;
}

// Formats an icon so that it appears inline in the text
// with height matching the text
.icon-inline {
    // SVGs already include padding to account for text baseline,
    // so align with the bottom of the text
    vertical-align: bottom !important;
    display: inline-flex;
    align-items: center;
}

svg.icon-inline,
img.icon-inline,
.icon-inline svg {
    // stylelint-disable-next-line declaration-property-unit-whitelist
    width: $line-height-base * 1em;
    // stylelint-disable-next-line declaration-property-unit-whitelist
    height: $line-height-base * 1em;

    // Match color of the text.
    fill: currentColor;
}

// Special case for the loader
.icon-inline > .icon-loader {
    stroke: currentColor;
}

// @sourcegraph/react-loading-spinner coloring
.theme-light {
    --loading-spinner-outer-color: #{rgba(0, 0, 0, 0.3)};
    --loading-spinner-inner-color: #{rgba(0, 0, 0, 1)};
}
.theme-dark {
    --loading-spinner-outer-color: #{rgba(255, 255, 255, 0.3)};
    --loading-spinner-inner-color: #{rgba(255, 255, 255, 1)};
}
