$modal-backdrop-bg: #000000;
$modal-backdrop-opacity: 0.9;
$modal-content-bg: var(--body-bg);
$modal-content-border-color: var(--border-color);
$modal-content-color: var(--body-color);
$modal-footer-border-color: var(--border-color);
$modal-header-border-color: var(--border-color);
$modal-header-padding: map-get($spacers, 3);
$modal-inner-padding: map-get($spacers, 3);

@import 'bootstrap/scss/modal';
