.modal-open {
    overflow: hidden;
    .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-modal;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

$modal-dialog-margin: map-get($spacers, 5);
.modal-dialog {
    position: relative;
    width: auto;
    margin: $modal-dialog-margin;
    // allow clicks to pass through for custom click handling to close modal
    pointer-events: none;
}

.modal-dialog-scrollable {
    display: flex; // IE10/11
    max-height: calc(100% - #{$modal-dialog-margin * 2});

    .modal-content {
        max-height: calc(100vh - #{$modal-dialog-margin * 2}); // IE10/11
        overflow: hidden;
    }

    .modal-header,
    .modal-footer {
        flex-shrink: 0;
    }

    .modal-body {
        overflow-y: auto;
    }
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - #{$modal-dialog-margin * 2});

    // Ensure `modal-dialog-centered` extends the full height of the view (IE10/11)
    &::before {
        display: block; // IE10
        height: calc(100vh - #{$modal-dialog-margin * 2});
        content: '';
    }

    // Ensure `.modal-body` shows scrollbar (IE10/11)
    &.modal-dialog-scrollable {
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .modal-content {
            max-height: none;
        }

        &::before {
            content: none;
        }
    }
}

// Actual modal
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
    // counteract the pointer-events: none; in the .modal-dialog
    color: var(--body-color);
    pointer-events: auto;
    background-color: var(--body-bg);
    background-clip: padding-box;
    border: 1px solid var(--border-color);
    // Remove focus outline from opened modal
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-modal-backdrop;
    width: 100vw;
    height: 100vh;
    background-color: rgba($black, 0.85);
}
