$table-cell-padding: $spacer;
$table-border-width: 1px;

.table {
    width: 100%;
    margin-bottom: $spacer;

    th,
    td {
        padding: $table-cell-padding;
        border-top: $table-border-width solid var(--border-color);
    }

    thead th {
        vertical-align: bottom;
        border-bottom: (2 * $table-border-width) solid var(--border-color);
    }

    tbody + tbody {
        border-top: (2 * $table-border-width) solid var(--border-color);
    }
}
