$table-cell-padding: map-get($spacers, 2);
$table-hover-bg: #0e121b;
$table-border-color: #2b3750;

$table-hover-bg-light: #f2f4f8;
$table-border-color-light: #e4e9f1;

@import 'bootstrap/scss/tables';

.theme-light {
    .table {
        th,
        td {
            border-top: $table-border-width solid $table-border-color-light;
        }

        thead th {
            border-bottom: (2 * $table-border-width) solid $table-border-color-light;
        }

        tbody + tbody {
            border-top: (2 * $table-border-width) solid $table-border-color-light;
        }
    }

    .table-hover {
        tbody tr {
            @include hover {
                background-color: $table-hover-bg-light;
            }
        }
    }
}
