@import 'bootstrap/scss/tables';

.theme-light {
    .table {
        th,
        td {
            border-top: $table-border-width solid $table-border-color-light;
        }

        thead th {
            border-bottom: (2 * $table-border-width) solid $table-border-color-light;
        }

        tbody + tbody {
            border-top: (2 * $table-border-width) solid $table-border-color-light;
        }
    }

    .table-hover {
        tbody tr {
            @include hover {
                background-color: $table-hover-bg-light;
            }
        }
    }
}
