body {
    font-family: var(--sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: #{$spacer * 2};
}

a {
    color: var(--link-color);

    &:hover {
        color: var(--link-hover-color);
    }
    &:not(:hover) {
        text-decoration: none;
    }
}

.small {
    font-size: var(--font-size-sm);
}

.text-muted {
    color: var(--text-muted);
}

.text-monospace {
    font-family: var(--code-font-family);
}
