body {
    font-family: var(--sans-serif);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 0;
    margin-bottom: #{$spacer * 2};
}

h1,
.h1 {
    font-size: calc(var(--font-size-base) * 2);
}

h2,
.h2 {
    font-size: calc(var(--font-size-base) * 1.5);
}

h3,
.h3 {
    font-size: calc(var(--font-size-base) * 1.25);
}

h4,
.h4 {
    font-size: calc(var(--font-size-base) * 1.125);
}

h5,
.h5 {
    font-size: calc(var(--font-size-base));
}

h6,
.h6 {
    font-size: calc(var(--font-size-base));
}

a {
    color: var(--link-color);
    text-decoration: var(--link-decoration);

    &:hover {
        color: var(--link-hover-color);
        text-decoration: var(--link-hover-decoration);
    }
}

.small {
    font-size: var(--font-size-sm);
}

.text-center {
    text-align: center;
}

.text-muted {
    color: var(--text-muted);
}

.text-monospace {
    font-family: var(--code-font-family);
}

.font-weight-normal {
    font-weight: normal !important;
}

.font-weight-bold {
    font-weight: bold !important;
}
