// We intentionally want to style all descendants with these classes.
// stylelint-disable selector-max-compound-selectors

.web-content {
    .theme-dark & {
        color: var(--body-color);

        --body-color: #{$gray-06};
        --link-color: #329af0;
    }
    .theme-light & {
        --link-color: #1c7cd6;
    }

    h1,
    h2 {
        color: $gray-08;
        font-weight: 500;

        .theme-light & {
            color: $gray-17;
        }
    }

    h3 {
        color: $gray-08;
        font-weight: 500;

        .theme-light & {
            color: $gray-15;
        }
    }

    h4 {
        font-weight: 500;

        .theme-light & {
            color: $gray-14;
        }
    }

    h5 {
        color: $gray-04;
        font-weight: normal;

        .theme-light & {
            color: $gray-13;
        }
    }
    h6 {
        color: $gray-04;
        font-weight: 600;

        .theme-light & {
            color: $gray-13;
        }
    }

    strong {
        .theme-dark & {
            color: $gray-11;
        }
    }

    .search-keyword {
        color: #329af0;

        .theme-light & {
            color: #1c7cd6;
        }
    }

    // Search examples that link to the results page should use this class.
    .search-query-link {
        color: $white;

        .theme-light & {
            color: $body-color-light;
        }
    }

    .dash-list {
        list-style: none;
        margin-left: 0;
        padding-left: 0;

        li::before {
            content: '–';
        }
    }

    .caret-list {
        list-style: none;
        margin-left: 0;
        padding-left: 0;

        li::before {
            content: '>';
        }
    }
}
