$z-index-product-certificate-bg: 0;
$z-index-extension-card-toggle: 1;
$z-index-hover-overlay-close-button: 1;
$z-index-badge-decoration-attachment-contents: 1;
$z-index-repo-rev-container-sidebar-toggle: 1; // overlay the content when sidebar is closed
$z-index-repo-rev-sidebar-toggle: 1;
$z-index-resizable-handle: 1;
$z-index-query-input-suggestions: 1;
$z-index-query-input-loading-notifier: 1;
$z-index-filter-input-suggestions: 1;
$z-index-product-certificate-logo: 9;
$z-index-product-certificate-btn: 9;
$z-index-product-certificate-card-footer: 9;
$z-index-notifications: 90;
$z-index-toast: 100;
$z-index-hover-overlay: 100;
$z-index-close-delete-campaign-prompt-details-menu: 100;
$z-index-activation-dropdown-confetti: 1000;
$z-index-command-list-popover: 1100;
$z-index-global-debug: 10000;
$z-index-resizable-ghost: 999999;
$z-index-modal-container: 10000000;
$z-index-completion-widget: 99999999;
