@import './SettingsSidebar';
@import './team/Team';
@import './team/AcceptInvitePage';
@import './EditorAuthPage';

.settings-page {
    flex: 1 1 auto;
    display: flex;
    margin-top: 1em;
    line-height: 1.5rem;
    overflow: hidden;
    border-radius: 0.25rem;

    &__content {
        flex: 1 1 auto;
        padding: 1rem;
        background-color: #151D28;
        overflow-y: auto;
    }

    &__form {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
    }
}
