.settings-sidebar {
    flex: 0 0 auto;
    width: 15.75rem;
    background-color: #1C2736;

    display: flex;
    flex-direction: column;
    white-space: nowrap;

    &__header {
        color: #93A9C8;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        vertical-align: middle;
    }

    &__header-title {
        flex: 0 1 auto;
    }

    &__header-icon {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        display: flex;
    }

    &__items {
        overflow: hidden;
        position: relative;
    }

    &__item {

        width: 100%;
        list-style: none;
        user-select: none;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;

        &--active {
            color: white;
        }

        &-header, &-link {
            height: 100%;
            margin-left: -100%;
            padding-left: 100%;
            padding-top: .25rem;
            padding-bottom: .25rem;
            display: flex;
        }

        &-link:hover {
            background-color: rgba(42,58,81,0.7);
        }

        &-icon {
            margin-right: .5rem;
        }
    }
}
