.settings-sidebar {
    flex: 0 0 auto;
    width: 15.75rem;
    background-color: #1c2736;

    display: flex;
    flex-direction: column;
    white-space: nowrap;

    &__header {
        color: #93a9c8;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        vertical-align: middle;
        background: #151c28;

        &-account-settings {
            background: #1c2736;
        }
    }

    &__header-title {
        flex: 0 1 auto;
    }

    &__header-icon {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        display: flex;
    }

    &__items {
        overflow: hidden;
        position: relative;
    }

    &__item {
        width: 100%;
        list-style: none;
        user-select: none;
        display: flex;
        flex-direction: column;

        &-header,
        &-link {
            height: 100%;
            padding: 0.5rem 0;
            display: flex;
            align-items: center;
        }

        &-link:hover {
            background-color: rgba(42, 58, 81, 0.7);
        }

        &-icon {
            margin-right: 0.5rem;
            margin-left: 0.5rem;
        }

        .avatar {
            height: 1.5rem;
            width: 1.5rem;
        }

        &--active {
            background: #1c7cd6;
            color: #f2f4f8;

            &:hover {
                background: #1c7cd6;
                color: #f2f4f8;
            }
        }
    }

    &__profile {
        display: flex;
        overflow: hidden;

        &-avatar-column {
            flex: 0 0 auto;
            display: flex;
            padding-left: 0.5rem;
            margin-right: 0.5rem;
        }

        &-content {
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        &-row {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__download-editor {
        border-top: 1px solid #2b3750;
        padding: 0.5rem;
        text-align: center;

        &-button {
            background-color: #2b3750;
            color: #93a9c8;
        }

        &-button:hover {
            background-color: rgba(42, 58, 81, 0.7);
            color: #f2f4f8;
        }
    }
}
