.settings-file-container {
    width: 100%;
    margin-top: 2.5rem;
    line-height: 120%;
}

.settings-file {
    &__actions {
        display: flex;
    }

    &__action {
        display: flex;
        align-items: center;
    }

    &__error {
        color: $color-error;
        margin: 0.5rem 0;

        &-icon {
            vertical-align: middle;
            margin-right: 0.25rem;
        }
    }

    &__contents {
        width: 100%;
        overflow-x: scroll;
        border: 1px solid #2b3750;
        border-radius: 2px;
        padding: 0.5rem 1rem;

        background-color: #0e121b;
        height: 20rem;
        overflow-y: auto;
        color: $color-text;
    }
}

.theme-light {
    .settings-file {
        &__contents {
            border-color: $color-light-border;
            background-color: inherit;
            color: inherit;
        }
    }
}
