.settings-sidebar {
    flex: 0 0 auto;
    width: 15.75rem;
    background-color: #1C2736;

    display: flex;
    flex-direction: column;
    white-space: nowrap;

    &__header {
        color: #93A9C8;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        vertical-align: middle;
        background: #151C28;
        &-account-settings {
            background: #1C2736;
        }
    }

    &__header-title {
        flex: 0 1 auto;
    }

    &__header-icon {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        display: flex;
    }

    &__items {
        overflow: hidden;
        position: relative;
    }

    &__item {

        width: 100%;
        list-style: none;
        user-select: none;
        display: flex;
        flex-direction: column;

        &-header, &-link {
            height: 100%;
            padding: .5rem 0;
            display: flex;
            align-items: center;
        }

        &-link:hover {
            background-color: rgba(42,58,81,0.7);
        }

        &-icon {
            margin-right: .5rem;
            margin-left: .5rem;
        }

        .avatar {
            height: 1.5rem;
            width: 1.5rem;
        }

        &--active {
            background: #1C7CD6;
            color: #F2F4F8;
            &:hover {
                background: #1C7CD6;
                color: #F2F4F8;
            }
        }
    }

    &__profile {
        display: flex;
        overflow: hidden;
        &-avatar-column {
            flex: 0 0 auto;
            display: flex;
            padding-left: .5rem;
            margin-right: .5rem;
        }
        &-content {
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
        &-row {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__download-editor {
        border-top: 1px solid #2B3750;
        padding: 0.5rem;
        text-align: center;
        &-button {
            background-color: #2B3750;
            color: #93A9C8;
        }
        &-button:hover {
            background-color: rgba(42,58,81,0.7);
            color: #F2F4F8;
        }
    }
}
