.tab-menu-container {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	min-width: 10rem;
	border-bottom: 1px solid var(--vscode-editorGroupHeader-tabsBorder);
	background-color: var(--vscode-editorGroupHeader-tabsBackground);
}

.tab-menu-item {
	padding: 12px 16px;
	margin: 0;
	cursor: pointer;
	user-select: none;
	border-right: 1px solid var(--vscode-tab-border);
	background-color: var(--vscode-tab-inactiveBackground);
	color: var(--vscode-tab-inactiveForeground);
}

.tab-menu-item-selected {
	color: var(--vscode-tab-activeForeground);
	background-color: var(--vscode-tab-activeBackground);
}