.menuSelectedItem {
    background-color: var(--dropdown-link-active-bg);
    color: var(--dropdown-link-active-color);
  }

  .customMenuButton {
    width: 165px;
    display: flex;
    justify-content: space-between;
  }

  .emptyState {
    color: var(--gray-05);
    display: flex;
    flex-direction: column;
    padding: 0.9375rem 2.5rem;
    align-items: center;
    justify-content: center;
  }

  .emptyStateContainer {
    display: flex;
    width:65%;
    text-align: center;
  }
