.menuSelectedItem {
    background-color: var(--dropdown-link-active-bg);
    color: var(--dropdown-link-active-color);
  }

  .customMenuWidth {
    width: 165px;
  }

  .emptyState {
    color: var(--gray-05);
    padding: 0.9375rem 2.5rem;
  }

