.resizable {
    isolation: isolate;
    $handle-size: 0.35rem;
    z-index: 1;
    &--left {
        width: $handle-size;
        margin-right: calc(-1 * #{$handle-size});
        cursor: col-resize;
    }
    &--right {
        width: $handle-size;
        margin-left: calc(-1 * #{$handle-size});
        cursor: col-resize;
    }
    &--top {
        height: $handle-size;
        margin-bottom: calc(-1 * #{$handle-size});
        cursor: row-resize;
    }
}
