.resizable {
    $handle-size: 0.35rem;

    &--left {
        border-left: 3px solid var(--color-bg-2);
        margin-right: calc(-1 * #{$handle-size});
        cursor: col-resize;
    }
    &--right {
        border-right: 3px solid var(--color-bg-2);
        margin-left: calc(-1 * #{$handle-size});
        cursor: col-resize;
    }
    &--top {
        border-top: 3px solid var(--color-bg-2);
        margin-top: calc(-1 * #{$handle-size});
        cursor: row-resize;
    }
}
