.result-container {
    position: relative;

    border: 0 solid var(--border-color);
    border-top-width: 1px;
    &:last-child {
        border-bottom-width: 1px;
    }

    &__header {
        padding: 0.5rem 0.5rem;

        position: sticky;
        top: 0;

        display: flex;
        align-items: center;
        white-space: nowrap;
        $background-color: $card-cap-bg;

        background-color: $background-color;

        &--collapsible {
            cursor: pointer;
        }

        &-title {
            flex: 1 1 auto;
            margin: 0 0.25rem;
            overflow: hidden;
        }

        p {
            margin-bottom: 0;
        }

        &:not(:only-of-type) {
            border-bottom: 1px solid var(--border-color);
        }
    }

    &__toggle-matches-container {
        display: flex;
    }

    // Custom icons are <img src> URLs. We can't use .icon-inline for these, because CSS can't style
    // SVGs included with <img src>. So, use CSS filters to make the icons light (in dark themes) and
    // dark (in light themes).
    .icon-inline__filtered {
        .theme-dark & {
            filter: contrast(0) saturate(700%) grayscale(100%) sepia(70%) hue-rotate(180deg) brightness(120%);
        }
        .theme-light & {
            filter: brightness(0%);
        }
    }
}
