.list-item {
    &:not(:first-of-type) {
        border-top: 1px solid var(--border-color);
    }
}

.links {
    display: block;
    padding: 0.375rem 0.25rem;
    font-size: 0.75rem;

    &:hover {
        text-decoration: none;
    }
}

.list-item-description {
    .link:hover & {
        text-decoration: underline;
    }
}

.suggestion {
    display: inline-block; // Prevent partially wrapping the query with other text
    font-size: 0.6875rem;
}
