body {
    font-family: system-ui, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.header {
    background-color: Canvas;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px ButtonBorder;
    padding: 0.75rem 1rem;
}

.header h1 {
    margin: 0;
    font-size: 1.25rem;
    fill: currentColor;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main {
    background-color: black;
    flex: 1;
    overflow: hidden;
}

.alert {
    margin: 0 1rem;
}
