@import '@sourcegraph/cody-ui/src/index.css';

:root {
    color-scheme: dark;

    /* LoadingSpinner */
    --gray-05: #a6b6d9;
    --gray-07: #5e6e8c;
    --gray-08: #343a4d;
    --white: #ffffff;

    /* Alert */
    --danger: #c92a2a;
    --danger-2: #6b1515;
    --danger-3: #801b1b;
    --danger-4: #3d0a0a;
    --danger-text: #fa5252;
}

body {
    margin: 0;
    font-size: 14px;
    height: 100vh;
}

#root {
    height: 100%;
}
