cmd/server/dockerfile.go

# Web
.nyc_output/
coverage/
node_modules/
out/
package-lock.json
package-lock.json
puppeteer/
src/backend/graphqlschema.ts
yarn-error.log
/ui/assets/*
!/ui/assets/img
!/ui/assets/img/*
/.bin
/vendor/.bin
