---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.bitbucket.org/2.0/user
    method: GET
  response:
    body: '{"username": "sourcegraph-testing", "has_2fa_enabled": null, "display_name":
      "Sourcegraph Testing", "account_id": "623316f53fbb880068413f6b", "links": {"hooks":
      {"href": "https://api.bitbucket.org/2.0/workspaces/%7B4b85b785-1433-4092-8512-20302f4a03be%7D/hooks"},
      "self": {"href": "https://api.bitbucket.org/2.0/users/%7B4b85b785-1433-4092-8512-20302f4a03be%7D"},
      "repositories": {"href": "https://api.bitbucket.org/2.0/repositories/%7B4b85b785-1433-4092-8512-20302f4a03be%7D"},
      "html": {"href": "https://bitbucket.org/%7B4b85b785-1433-4092-8512-20302f4a03be%7D/"},
      "avatar": {"href": "https://secure.gravatar.com/avatar/f964dc31564db8243e952bdaeabbe884?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FST-2.png"},
      "snippets": {"href": "https://api.bitbucket.org/2.0/snippets/%7B4b85b785-1433-4092-8512-20302f4a03be%7D"}},
      "nickname": "Sourcegraph Testing", "created_on": "2022-03-17T11:11:13.234825+00:00",
      "is_staff": false, "location": null, "account_status": "active", "type": "user",
      "uuid": "{4b85b785-1433-4092-8512-20302f4a03be}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"gz[fb05780d8edaad6069fa5c038d40fc2c]"'
      X-Accepted-Oauth-Scopes:
      - account
      X-Credential-Type:
      - apppassword
      X-Dc-Location:
      - Micros
      X-Oauth-Scopes:
      - pipeline, pullrequest:write, account
      X-Render-Time:
      - "0.0509819984436"
      X-Request-Count:
      - "252"
      X-Static-Version:
      - e82c15c517a3
      X-Usage-Input-Ops:
      - "0"
      X-Usage-Output-Ops:
      - "0"
      X-Usage-System-Time:
      - "0.000764"
      X-Usage-User-Time:
      - "0.031082"
      X-Version:
      - e82c15c517a3
      X-View-Name:
      - bitbucket.apps.bb.api.v20.handlers.CurrentUserHandler
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli
    method: GET
  response:
    body: '{"scm": "git", "has_wiki": false, "links": {"watchers": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/watchers"},
      "branches": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/refs/branches"},
      "tags": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/refs/tags"},
      "commits": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/commits"},
      "clone": [{"href": "https://sourcegraph-testing@bitbucket.org/sourcegraph-testing/src-cli.git",
      "name": "https"}, {"href": "git@bitbucket.org:sourcegraph-testing/src-cli.git",
      "name": "ssh"}], "self": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli"},
      "source": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/src"},
      "html": {"href": "https://bitbucket.org/sourcegraph-testing/src-cli"}, "avatar":
      {"href": "https://bytebucket.org/ravatar/%7Bb090a669-ac7b-44cd-9610-02d027cb39f3%7D?ts=default"},
      "hooks": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/hooks"},
      "forks": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/forks"},
      "downloads": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/downloads"},
      "pullrequests": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests"}},
      "created_on": "2022-03-17T11:17:48.581867+00:00", "full_name": "sourcegraph-testing/src-cli",
      "owner": {"display_name": "Sourcegraph Testing", "uuid": "{4b85b785-1433-4092-8512-20302f4a03be}",
      "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7B4b85b785-1433-4092-8512-20302f4a03be%7D"},
      "html": {"href": "https://bitbucket.org/%7B4b85b785-1433-4092-8512-20302f4a03be%7D/"},
      "avatar": {"href": "https://secure.gravatar.com/avatar/f964dc31564db8243e952bdaeabbe884?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FST-2.png"}},
      "type": "user", "nickname": "Sourcegraph Testing", "account_id": "623316f53fbb880068413f6b"},
      "size": 3543642, "uuid": "{b090a669-ac7b-44cd-9610-02d027cb39f3}", "type": "repository",
      "website": null, "override_settings": {"branching_model": true, "default_merge_strategy":
      true}, "description": "", "has_issues": false, "slug": "src-cli", "is_private":
      true, "name": "src-cli", "language": "", "fork_policy": "no_public_forks", "project":
      {"links": {"self": {"href": "https://api.bitbucket.org/2.0/workspaces/sourcegraph-testing/projects/SOUR"},
      "html": {"href": "https://bitbucket.org/sourcegraph-testing/workspace/projects/SOUR"},
      "avatar": {"href": "https://bitbucket.org/account/user/sourcegraph-testing/projects/SOUR/avatar/32?ts=1647515868"}},
      "type": "project", "name": "sourcegraph-testing", "key": "SOUR", "uuid": "{a862a17c-1726-47a2-bcd1-d9b37313b350}"},
      "mainbranch": {"type": "branch", "name": "master"}, "workspace": {"slug": "sourcegraph-testing",
      "type": "workspace", "name": "Sourcegraph Testing", "links": {"self": {"href":
      "https://api.bitbucket.org/2.0/workspaces/sourcegraph-testing"}, "html": {"href":
      "https://bitbucket.org/sourcegraph-testing/"}, "avatar": {"href": "https://bitbucket.org/workspaces/sourcegraph-testing/avatar/?ts=1647515473"}},
      "uuid": "{4b85b785-1433-4092-8512-20302f4a03be}"}, "updated_on": "2022-04-06T17:10:35.157791+00:00"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"gz[caaa886246443257e1fc217e7c9c788f]"'
      X-Accepted-Oauth-Scopes:
      - repository
      X-Credential-Type:
      - apppassword
      X-Dc-Location:
      - Micros
      X-Oauth-Scopes:
      - pipeline, pullrequest:write, account
      X-Render-Time:
      - "0.0855920314789"
      X-Request-Count:
      - "3582"
      X-Static-Version:
      - e82c15c517a3
      X-Usage-Input-Ops:
      - "0"
      X-Usage-Output-Ops:
      - "0"
      X-Usage-System-Time:
      - "0.002295"
      X-Usage-User-Time:
      - "0.040223"
      X-Version:
      - e82c15c517a3
      X-View-Name:
      - bitbucket.apps.repo2.api.v20.repo.RepositoryHandler
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"src-cli-fork-00","workspace":{"slug":"sourcegraph-testing"}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/forks
    method: POST
  response:
    body: '{"scm": "git", "has_wiki": false, "links": {"watchers": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli-fork-00/watchers"},
      "branches": {"href": "https://ap[...]
- request:
    body: '{"workspace":{"slug":"sourcegraph-testing"}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/forks
    method: POST
  response:
    body: '{"type": "error", "error": {"fields": {"name": ["You already have a repository
      with this name."]}, "message": "Repository with this Slug and Owner already
      exists."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - repository:write
      X-Credential-Type:
      - apppassword
      X-Dc-Location:
      - Micros
      X-Oauth-Scopes:
      - pipeline, pullrequest:write, account
      X-Render-Time:
      - "0.0866961479187"
      X-Request-Count:
      - "1605"
      X-Static-Version:
      - e82c15c517a3
      X-Usage-Input-Ops:
      - "0"
      X-Usage-Output-Ops:
      - "0"
      X-Usage-System-Time:
      - "0.003281"
      X-Usage-User-Time:
      - "0.047473"
      X-Version:
      - e82c15c517a3
      X-View-Name:
      - bitbucket.apps.repo2.api.v20.repo.RepositoryForksHandler
    status: 400 Bad Request
    code: 400
    duration: ""
