---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/0/statuses
    method: GET
  response:
    body: Not Found
    headers:
      Content-Type:
      - text/plain
      Etag:
      - '"9d1ead73e678fa2f51a70a933b0bf017"'
      X-Accepted-Oauth-Scopes:
      - pullrequest
      X-Credential-Type:
      - apppassword
      X-Dc-Location:
      - Micros
      X-Oauth-Scopes:
      - pipeline, pullrequest:write, account
      X-Render-Time:
      - "0.0543618202209"
      X-Request-Count:
      - "3063"
      X-Static-Version:
      - e82c15c517a3
      X-Usage-Input-Ops:
      - "0"
      X-Usage-Output-Ops:
      - "0"
      X-Usage-System-Time:
      - "0.000000"
      X-Usage-User-Time:
      - "0.036065"
      X-Version:
      - e82c15c517a3
      X-View-Name:
      - bitbucket.apps.commitstatus.api.v20.handlers.PRStatusHandler
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/1/statuses
    method: GET
  response:
    body: '{"pagelen": 30, "values": [], "page": 1, "size": 0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"70c5532f07a4a20bdda1c854fb242741"'
      X-Accepted-Oauth-Scopes:
      - pullrequest
      X-Credential-Type:
      - apppassword
      X-Dc-Location:
      - Micros
      X-Oauth-Scopes:
      - pipeline, pullrequest:write, account
      X-Render-Time:
      - "0.0648319721222"
      X-Request-Count:
      - "2129"
      X-Static-Version:
      - e82c15c517a3
      X-Usage-Input-Ops:
      - "0"
      X-Usage-Output-Ops:
      - "0"
      X-Usage-System-Time:
      - "0.005340"
      X-Usage-User-Time:
      - "0.033338"
      X-Version:
      - e82c15c517a3
      X-View-Name:
      - bitbucket.apps.commitstatus.api.v20.handlers.PRStatusHandler
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/6/statuses
    method: GET
  response:
    body: '{"pagelen": 30, "values": [{"key": "715267314", "description": "", "repository":
      {"links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli"},
      "html": {"href": "https://bitbucket.org/sourcegraph-testing/src-cli"}, "avatar":
      {"href": "https://bytebucket.org/ravatar/%7Bb090a669-ac7b-44cd-9610-02d027cb39f3%7D?ts=default"}},
      "type": "repository", "name": "src-cli", "full_name": "sourcegraph-testing/src-cli",
      "uuid": "{b090a669-ac7b-44cd-9610-02d027cb39f3}"}, "url": "https://bitbucket.org/sourcegraph-testing/src-cli/addon/pipelines/home#!/results/2",
      "links": {"commit": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/commit/dfc25177e43229dc6cd39c6eeb3800257696547a"},
      "self": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/commit/dfc25177e43229dc6cd39c6eeb3800257696547a/statuses/build/715267314"}},
      "refname": "pipeline-test-pr", "state": "SUCCESSFUL", "created_on": "2022-04-14T20:50:05.708892+00:00",
      "commit": {"hash": "dfc25177e43229dc6cd39c6eeb3800257696547a", "type": "commit",
      "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/commit/dfc25177e43229dc6cd39c6eeb3800257696547a"},
      "html": {"href": "https://bitbucket.org/sourcegraph-testing/src-cli/commits/dfc25177e43229dc6cd39c6eeb3800257696547a"}}},
      "updated_on": "2022-04-14T20:50:14.138747+00:00", "type": "build", "name": "Pipeline
      #2 for pipeline-test-pr"}], "page": 1, "size": 1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"gz[4a994df9a5243d394b4462a9d9b37790]"'
      X-Accepted-Oauth-Scopes:
      - pullrequest
      X-Credential-Type:
      - apppassword
      X-Dc-Location:
      - Micros
      X-Oauth-Scopes:
      - pipeline, pullrequest:write, account
      X-Render-Time:
      - "0.066477060318"
      X-Request-Count:
      - "3443"
      X-Static-Version:
      - e82c15c517a3
      X-Usage-Input-Ops:
      - "0"
      X-Usage-Output-Ops:
      - "0"
      X-Usage-System-Time:
      - "0.005678"
      X-Usage-User-Time:
      - "0.038268"
      X-Version:
      - e82c15c517a3
      X-View-Name:
      - bitbucket.apps.commitstatus.api.v20.handlers.PRStatusHandler
    status: 200 OK
    code: 200
    duration: ""
