---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/0
    method: GET
  response:
    body: Not Found
    headers:
      Content-Type:
      - text/plain
      Etag:
      - '"9d1ead73e678fa2f51a70a933b0bf017"'
      X-Accepted-Oauth-Scopes:
      - pullrequest
      X-Credential-Type:
      - apppassword
      X-Dc-Location:
      - Micros
      X-Oauth-Scopes:
      - pipeline, pullrequest:write, account
      X-Render-Time:
      - "0.0718009471893"
      X-Request-Count:
      - "1692"
      X-Static-Version:
      - 59cf4fcf4761
      X-Usage-Input-Ops:
      - "0"
      X-Usage-Output-Ops:
      - "0"
      X-Usage-System-Time:
      - "0.003937"
      X-Usage-User-Time:
      - "0.039924"
      X-Version:
      - 59cf4fcf4761
      X-View-Name:
      - bitbucket.apps.pullrequests.api.v20.handlers.PullRequestHandler
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/1
    method: GET
  response:
    body: '{"rendered": {"description": {"raw": "This PR is _always_ open.", "markup":
      "markdown", "html": "<p>This PR is <em>always</em> open.</p>", "type": "rendered"},
      "title": {"raw": "Always open PR", "markup": "markdown", "html": "<p>Always
      open PR</p>", "type": "rendered"}}, "type": "pullrequest", "description": "This
      PR is _always_ open.", "links": {"decline": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/1/decline"},
      "diffstat": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/diffstat/sourcegraph-testing/src-cli:8bbb22dda4e7%0D12fba599d6b6?from_pullrequest_id=1"},
      "commits": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/1/commits"},
      "self": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/1"},
      "comments": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/1/comments"},
      "merge": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/1/merge"},
      "html": {"href": "https://bitbucket.org/sourcegraph-testing/src-cli/pull-requests/1"},
      "activity": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/1/activity"},
      "request-changes": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/1/request-changes"},
      "diff": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/diff/sourcegraph-testing/src-cli:8bbb22dda4e7%0D12fba599d6b6?from_pullrequest_id=1"},
      "approve": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/1/approve"},
      "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/1/statuses"}},
      "title": "Always open PR", "close_source_branch": false, "reviewers": [{"display_name":
      "Sourcegraph Testing", "uuid": "{4b85b785-1433-4092-8512-20302f4a03be}", "links":
      {"self": {"href": "https://api.bitbucket.org/2.0/users/%7B4b85b785-1433-4092-8512-20302f4a03be%7D"},
      "html": {"href": "https://bitbucket.org/%7B4b85b785-1433-4092-8512-20302f4a03be%7D/"},
      "avatar": {"href": "https://secure.gravatar.com/avatar/f964dc31564db8243e952bdaeabbe884?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FST-2.png"}},
      "type": "user", "nickname": "Sourcegraph Testing", "account_id": "623316f53fbb880068413f6b"}],
      "id": 1, "destination": {"commit": {"hash": "12fba599d6b6", "type": "commit",
      "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/commit/12fba599d6b6"},
      "html": {"href": "https://bitbucket.org/sourcegraph-testing/src-cli/commits/12fba599d6b6"}}},
      "repository": {"links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli"},
      "html": {"href": "https://bitbucket.org/sourcegraph-testing/src-cli"}, "avatar":
      {"href": "https://bytebucket.org/ravatar/%7Bb090a669-ac7b-44cd-9610-02d027cb39f3%7D?ts=default"}},
      "type": "repository", "name": "src-cli", "full_name": "sourcegraph-testing/src-cli",
      "uuid": "{b090a669-ac7b-44cd-9610-02d027cb39f3}"}, "branch": {"name": "master"}},
      "created_on": "2022-03-21T05:51:36.103720+00:00", "summary": {"raw": "This PR
      is _always_ open.", "markup": "markdown", "html": "<p>This PR is <em>always</em>
      open.</p>", "type": "rendered"}, "source": {"commit": {"hash": "8bbb22dda4e7",
      "type": "commit", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/commit/8bbb22dda4e7"},
      "html": {"href": "https://bitbucket.org/sourcegraph-testing/src-cli/commits/8bbb22dda4e7"}}},
      "repository": {"links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli"},
      "html": {"href": "https://bitbucket.org/sourcegraph-testing/src-cli"}, "avatar":
      {"href": "https://bytebucket.org/ravatar/%7Bb090a669-ac7b-44cd-9610-02d027cb39f3%7D?ts=default"}},
      "type": "repository", "name": "src-cli", "full_name": "sourcegraph-testing/src-cli",
      "uuid": "{b090a669-ac7b-44cd-9610-02d027cb39f3}"}, "branch": {"name": "always-open"}},
      "comment_count": 0, "state": "OPEN", "task_count": 0, "participants": [{"participated_on":
      null, "state": null, "role": "REVIEWER", "user": {"display_name": "Sourcegraph
      Testing", "uuid": "{4b85b785-1433-4092-8512-20302f4a03be}", "links": {"self":
      {"href": "https://api.bitbucket.org/2.0/users/%7B4b85b785-1433-4092-8512-20302f4a03be%7D"},
      "html": {"href": "https://bitbucket.org/%7B4b85b785-1433-4092-8512-20302f4a03be%7D/"},
      "avatar": {"href": "https://secure.gravatar.com/avatar/f964dc31564db8243e952bdaeabbe884?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FST-2.png"}},
      "type": "user", "nickname": "Sourcegraph Testing", "account_id": "623316f53fbb880068413f6b"},
      "type": "participant", "approved": false}], "reason": "", "updated_on": "2022-03-21T05:52:54.228673+00:00",
      "author": {"display_name": "Adam Harvey", "uuid": "{39a35a46-ae0c-4017-91ec-1562988daa73}",
      "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7B39a35a46-ae0c-4017-91ec-1562988daa73%7D"},
      "html": {"href": "https://bitbucket.org/%7B39a35a46-ae0c-4017-91ec-1562988daa73%7D/"},
      "avatar": {"href": "https://secure.gravatar.com/avatar/94883264abf62a96cbe120877ab0f087?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAH-2.png"}},
      "type": "user", "nickname": "Adam Harvey", "account_id": "70121:96070aaa-b19c-4c9e-82fe-cfdd7dca533e"},
      "merge_commit": null, "closed_by": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"gz[d960d732852fff21492f9efb858ca2e1]"'
      X-Accepted-Oauth-Scopes:
      - pullrequest
      X-Credential-Type:
      - apppassword
      X-Dc-Location:
      - Micros
      X-Oauth-Scopes:
      - pipeline, pullrequest:write, account
      X-Render-Time:
      - "0.161159992218"
      X-Request-Count:
      - "1029"
      X-Static-Version:
      - 59cf4fcf4761
      X-Usage-Input-Ops:
      - "0"
      X-Usage-Output-Ops:
      - "0"
      X-Usage-System-Time:
      - "0.006631"
      X-Usage-User-Time:
      - "0.094975"
      X-Version:
      - 59cf4fcf4761
      X-View-Name:
      - bitbucket.apps.pullrequests.api.v20.handlers.PullRequestHandler
    status: 200 OK
    code: 200
    duration: ""
