---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/0/decline
    method: POST
  response:
    body: Not Found
    headers:
      Content-Type:
      - text/plain
      X-Accepted-Oauth-Scopes:
      - pullrequest:write
      X-Credential-Type:
      - apppassword
      X-Dc-Location:
      - Micros
      X-Oauth-Scopes:
      - pipeline, pullrequest:write, account
      X-Render-Time:
      - "0.0842368602753"
      X-Request-Count:
      - "1727"
      X-Static-Version:
      - 8429279cb147
      X-Usage-Input-Ops:
      - "0"
      X-Usage-Output-Ops:
      - "0"
      X-Usage-System-Time:
      - "0.005331"
      X-Usage-User-Time:
      - "0.033671"
      X-Version:
      - 8429279cb147
      X-View-Name:
      - bitbucket.apps.pullrequests.api.v20.handlers.PullRequestDeclineHandler
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/2/decline
    method: POST
  response:
    body: '{"rendered": {"description": {"raw": "This is a PR created by the Sourcegraph
      test suite.", "markup": "markdown", "html": "<p>This is a PR created by the
      Sourcegraph test suite.</p>", "type": "rendered"}, "title": {"raw": "Sourcegraph
      test branch-00", "markup": "markdown", "html": "<p>Sourcegraph test branch-00</p>",
      "type": "rendered"}}, "links": {"decline": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/2/decline"},
      "diffstat": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/diffstat/sourcegraph-testing/src-cli:b4087d003ddc%0D12fba599d6b6?from_pullrequest_id=2"},
      "commits": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/2/commits"},
      "self": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/2"},
      "comments": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/2/comments"},
      "merge": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/2/merge"},
      "html": {"href": "https://bitbucket.org/sourcegraph-testing/src-cli/pull-requests/2"},
      "activity": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/2/activity"},
      "request-changes": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/2/request-changes"},
      "diff": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/diff/sourcegraph-testing/src-cli:b4087d003ddc%0D12fba599d6b6?from_pullrequest_id=2"},
      "approve": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/2/approve"},
      "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/2/statuses"}},
      "close_source_branch": false, "reviewers": [], "created_on": "2022-04-01T21:49:29.957136+00:00",
      "id": 2, "closed_on": "2022-04-01T22:16:26.648207+00:00", "title": "Sourcegraph
      test branch-00", "destination": {"commit": {"hash": "12fba599d6b6", "type":
      "commit", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/commit/12fba599d6b6"},
      "html": {"href": "https://bitbucket.org/sourcegraph-testing/src-cli/commits/12fba599d6b6"}}},
      "repository": {"links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli"},
      "html": {"href": "https://bitbucket.org/sourcegraph-testing/src-cli"}, "avatar":
      {"href": "https://bytebucket.org/ravatar/%7Bb090a669-ac7b-44cd-9610-02d027cb39f3%7D?ts=default"}},
      "type": "repository", "name": "src-cli", "full_name": "sourcegraph-testing/src-cli",
      "uuid": "{b090a669-ac7b-44cd-9610-02d027cb39f3}"}, "branch": {"name": "master"}},
      "comment_count": 0, "source": {"commit": {"hash": "b4087d003ddc", "type": "commit",
      "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/commit/b4087d003ddc"},
      "html": {"href": "https://bitbucket.org/sourcegraph-testing/src-cli/commits/b4087d003ddc"}}},
      "repository": {"links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli"},
      "html": {"href": "https://bitbucket.org/sourcegraph-testing/src-cli"}, "avatar":
      {"href": "https://bytebucket.org/ravatar/%7Bb090a669-ac7b-44cd-9610-02d027cb39f3%7D?ts=default"}},
      "type": "repository", "name": "src-cli", "full_name": "sourcegraph-testing/src-cli",
      "uuid": "{b090a669-ac7b-44cd-9610-02d027cb39f3}"}, "branch": {"name": "branch-00"}},
      "state": "DECLINED", "type": "pullrequest", "description": "This is a PR created
      by the Sourcegraph test suite.", "reason": "", "task_count": 0, "merge_commit":
      null, "closed_by": {"display_name": "Sourcegraph Testing", "uuid": "{4b85b785-1433-4092-8512-20302f4a03be}",
      "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7B4b85b785-1433-4092-8512-20302f4a03be%7D"},
      "html": {"href": "https://bitbucket.org/%7B4b85b785-1433-4092-8512-20302f4a03be%7D/"},
      "avatar": {"href": "https://secure.gravatar.com/avatar/f964dc31564db8243e952bdaeabbe884?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FST-2.png"}},
      "type": "user", "nickname": "Sourcegraph Testing", "account_id": "623316f53fbb880068413f6b"},
      "author": {"display_name": "Sourcegraph Testing", "uuid": "{4b85b785-1433-4092-8512-20302f4a03be}",
      "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7B4b85b785-1433-4092-8512-20302f4a03be%7D"},
      "html": {"href": "https://bitbucket.org/%7B4b85b785-1433-4092-8512-20302f4a03be%7D/"},
      "avatar": {"href": "https://secure.gravatar.com/avatar/f964dc31564db8243e952bdaeabbe884?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FST-2.png"}},
      "type": "user", "nickname": "Sourcegraph Testing", "account_id": "623316f53fbb880068413f6b"},
      "summary": {"raw": "This is a PR created by the Sourcegraph test suite.", "markup":
      "markdown", "html": "<p>This is a PR created by the Sourcegraph test suite.</p>",
      "type": "rendered"}, "participants": [], "updated_on": "2022-04-01T22:16:26.648214+00:00"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - pullrequest:write
      X-Credential-Type:
      - apppassword
      X-Dc-Location:
      - Micros
      X-Oauth-Scopes:
      - pipeline, pullrequest:write, account
      X-Render-Time:
      - "0.298424005508"
      X-Request-Count:
      - "1094"
      X-Static-Version:
      - 8429279cb147
      X-Usage-Input-Ops:
      - "192"
      X-Usage-Output-Ops:
      - "8"
      X-Usage-System-Time:
      - "0.009231"
      X-Usage-User-Time:
      - "0.098537"
      X-Version:
      - 8429279cb147
      X-View-Name:
      - bitbucket.apps.pullrequests.api.v20.handlers.PullRequestDeclineHandler
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/2/decline
    method: POST
  response:
    body: '{"type": "error", "error": {"fields": {"newstatus": ["This pull request
      is already closed."]}, "message": "newstatus: This pull request is already closed."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - pullrequest:write
      X-Credential-Type:
      - apppassword
      X-Dc-Location:
      - Micros
      X-Oauth-Scopes:
      - pipeline, pullrequest:write, account
      X-Render-Time:
      - "0.112703800201"
      X-Request-Count:
      - "2059"
      X-Static-Version:
      - 8429279cb147
      X-Usage-Input-Ops:
      - "0"
      X-Usage-Output-Ops:
      - "0"
      X-Usage-System-Time:
      - "0.003290"
      X-Usage-User-Time:
      - "0.054199"
      X-Version:
      - 8429279cb147
      X-View-Name:
      - bitbucket.apps.pullrequests.api.v20.handlers.PullRequestDeclineHandler
    status: 400 Bad Request
    code: 400
    duration: ""
