---
version: 1
interactions:
- request:
    body: '{"title":"Sourcegraph test branch-fork-00","description":"This is a PR
      created by the Sourcegraph test suite.","source":{"branch":{"name":"branch-fork-00"},"repository":{"full_name":"aharvey-sg/src-cli-testing"}},"destination":{"branch":{"name":"this-branch-should-never-exist"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests
    method: POST
  response:
    body: '{"type": "error", "error": {"fields": {"destination": ["branch not found:
      this-branch-should-never-exist"]}, "message": "destination: branch not found:
      this-branch-should-never-exist"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - pullrequest:write
      X-Credential-Type:
      - apppassword
      X-Dc-Location:
      - Micros
      X-Oauth-Scopes:
      - pipeline, pullrequest:write, account
      X-Render-Time:
      - "0.103582143784"
      X-Request-Count:
      - "1250"
      X-Static-Version:
      - 8429279cb147
      X-Usage-Input-Ops:
      - "56"
      X-Usage-Output-Ops:
      - "0"
      X-Usage-System-Time:
      - "0.002376"
      X-Usage-User-Time:
      - "0.046760"
      X-Version:
      - 8429279cb147
      X-View-Name:
      - bitbucket.apps.pullrequests.api.v20.handlers.RepositoryPullRequestsHandler
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: '{"title":"Sourcegraph test branch-fork-00","description":"This is a PR
      created by the Sourcegraph test suite.","source":{"branch":{"name":"branch-fork-00"},"repository":{"full_name":"aharvey-sg/src-cli-testing"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests
    method: POST
  response:
    body: '{"rendered": {"description": {"raw": "This is a PR created by the Sourcegraph
      test suite.", "markup": "markdown", "html": "<p>This is a PR created by the
      Sourcegraph test suite.</p>", "type": "rendered"}, "title": {"raw": "Sourcegraph
      test branch-fork-00", "markup": "markdown", "html": "<p>Sourcegraph test branch-fork-00</p>",
      "type": "rendered"}}, "type": "pullrequest", "description": "This is a PR created
      by the Sourcegraph test suite.", "links": {"decline": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/3/decline"},
      "diffstat": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/diffstat/aharvey-sg/src-cli-testing:2332036bc524%0D12fba599d6b6?from_pullrequest_id=3"},
      "commits": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/3/commits"},
      "self": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/3"},
      "comments": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/3/comments"},
      "merge": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/3/merge"},
      "html": {"href": "https://bitbucket.org/sourcegraph-testing/src-cli/pull-requests/3"},
      "activity": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/3/activity"},
      "request-changes": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/3/request-changes"},
      "diff": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/diff/aharvey-sg/src-cli-testing:2332036bc524%0D12fba599d6b6?from_pullrequest_id=3"},
      "approve": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/3/approve"},
      "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/3/statuses"}},
      "title": "Sourcegraph test branch-fork-00", "close_source_branch": false, "reviewers":
      [], "id": 3, "destination": {"commit": {"hash": "12fba599d6b6", "type": "commit",
      "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/commit/12fba599d6b6"},
      "html": {"href": "https://bitbucket.org/sourcegraph-testing/src-cli/commits/12fba599d6b6"}}},
      "repository": {"links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli"},
      "html": {"href": "https://bitbucket.org/sourcegraph-testing/src-cli"}, "avatar":
      {"href": "https://bytebucket.org/ravatar/%7Bb090a669-ac7b-44cd-9610-02d027cb39f3%7D?ts=default"}},
      "type": "repository", "name": "src-cli", "full_name": "sourcegraph-testing/src-cli",
      "uuid": "{b090a669-ac7b-44cd-9610-02d027cb39f3}"}, "branch": {"name": "master"}},
      "created_on": "2022-04-01T21:59:13.338702+00:00", "summary": {"raw": "This is
      a PR created by the Sourcegraph test suite.", "markup": "markdown", "html":
      "<p>This is a PR created by the Sourcegraph test suite.</p>", "type": "rendered"},
      "source": {"commit": {"hash": "2332036bc524", "type": "commit", "links": {"self":
      {"href": "https://api.bitbucket.org/2.0/repositories/aharvey-sg/src-cli-testing/commit/2332036bc524"},
      "html": {"href": "https://bitbucket.org/aharvey-sg/src-cli-testing/commits/2332036bc524"}}},
      "repository": {"links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/aharvey-sg/src-cli-testing"},
      "html": {"href": "https://bitbucket.org/aharvey-sg/src-cli-testing"}, "avatar":
      {"href": "https://bytebucket.org/ravatar/%7Bfe48edd2-06ab-4ec8-9e85-0958a5c84511%7D?ts=default"}},
      "type": "repository", "name": "src-cli-testing", "full_name": "aharvey-sg/src-cli-testing",
      "uuid": "{fe48edd2-06ab-4ec8-9e85-0958a5c84511}"}, "branch": {"name": "branch-fork-00"}},
      "comment_count": 0, "state": "OPEN", "task_count": 0, "participants": [], "reason":
      "", "updated_on": "2022-04-01T21:59:13.573867+00:00", "author": {"display_name":
      "Sourcegraph Testing", "uuid": "{4b85b785-1433-4092-8512-20302f4a03be}", "links":
      {"self": {"href": "https://api.bitbucket.org/2.0/users/%7B4b85b785-1433-4092-8512-20302f4a03be%7D"},
      "html": {"href": "https://bitbucket.org/%7B4b85b785-1433-4092-8512-20302f4a03be%7D/"},
      "avatar": {"href": "https://secure.gravatar.com/avatar/f964dc31564db8243e952bdaeabbe884?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FST-2.png"}},
      "type": "user", "nickname": "Sourcegraph Testing", "account_id": "623316f53fbb880068413f6b"},
      "merge_commit": null, "closed_by": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.bitbucket.org/2.0/repositories/sourcegraph-testing/src-cli/pullrequests/3
      X-Accepted-Oauth-Scopes:
      - pullrequest:write
      X-Credential-Type:
      - apppassword
      X-Dc-Location:
      - Micros
      X-Oauth-Scopes:
      - pipeline, pullrequest:write, account
      X-Render-Time:
      - "0.425275087357"
      X-Request-Count:
      - "1594"
      X-Static-Version:
      - 8429279cb147
      X-Usage-Input-Ops:
      - "856"
      X-Usage-Output-Ops:
      - "0"
      X-Usage-System-Time:
      - "0.012591"
      X-Usage-User-Time:
      - "0.158561"
      X-Version:
      - 8429279cb147
      X-View-Name:
      - bitbucket.apps.pullrequests.api.v20.handlers.RepositoryPullRequestsHandler
    status: 201 Created
    code: 201
    duration: ""
[...]
