{{define "Head"}}<title>Register - Sourcegraph</title>
{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-6 col-md-push-3">
		<form id="register-client" method="post">
			<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
			<h2>Register your Sourcegraph server</h2>
			<p>
				Let's name your Sourcegraph server and connect it to your user account via OAuth2.
			</p>
			<div class="form-group">
				<label for="ClientName">Name your Sourcegraph server:</label>
				<input type="text" class="form-control" name="ClientName" id="ClientName" placeholder="My Company" required autofocus>
			</div>
			<p class="notice help-block">
				We collect aggregate information from your server to make Sourcegraph better. <a href="https://src.sourcegraph.com/sourcegraph/.docs/management/data_collection/" target="_blank">See details.</a>
			</p>

			<button class="btn btn-md btn-primary pull-right" type="submit">Continue</button>
		</form>
	</div>
{{end}}
