{{define "Head"}}<title>Register Client - Sourcegraph</title>
{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-6 col-md-push-3">
		<form id="register-client" method="post">
			<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
			<h2>Register your Sourcegraph instance</h2>
			<p>
				Let's name your instance and connect it to your user account via OAuth2.
			</p>
			<div class="form-group">
				<label for="ClientName">Company:</label>
				<input type="text" class="form-control" name="ClientName" id="ClientName" placeholder="Nondescript Inc." autofocus>
			</div>
			<button class="btn btn-md btn-primary pull-right" type="submit">Continue</button>
		</form>
	</div>
{{end}}
