---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3
    method: GET
  response:
    body: '{"current_user_url":"https://ghe.sgdev.org/api/v3/user","current_user_authorizations_html_url":"https://ghe.sgdev.org/settings/connections/applications{/client_id}","authorizations_url":"https://ghe.sgdev.org/api/v3/authorizations","code_search_url":"https://ghe.sgdev.org/api/v3/search/code?q={query}{&page,per_page,sort,order}","commit_search_url":"https://ghe.sgdev.org/api/v3/search/commits?q={query}{&page,per_page,sort,order}","emails_url":"https://ghe.sgdev.org/api/v3/user/emails","emojis_url":"https://ghe.sgdev.org/api/v3/emojis","events_url":"https://ghe.sgdev.org/api/v3/events","feeds_url":"https://ghe.sgdev.org/api/v3/feeds","followers_url":"https://ghe.sgdev.org/api/v3/user/followers","following_url":"https://ghe.sgdev.org/api/v3/user/following{/target}","gists_url":"https://ghe.sgdev.org/api/v3/gists{/gist_id}","hub_url":"https://ghe.sgdev.org/api/v3/hub","issue_search_url":"https://ghe.sgdev.org/api/v3/search/issues?q={query}{&page,per_page,sort,order}","issues_url":"https://ghe.sgdev.org/api/v3/issues","keys_url":"https://ghe.sgdev.org/api/v3/user/keys","label_search_url":"https://ghe.sgdev.org/api/v3/search/labels?q={query}&repository_id={repository_id}{&page,per_page}","notifications_url":"https://ghe.sgdev.org/api/v3/notifications","organization_url":"https://ghe.sgdev.org/api/v3/orgs/{org}","organization_repositories_url":"https://ghe.sgdev.org/api/v3/orgs/{org}/repos{?type,page,per_page,sort}","organization_teams_url":"https://ghe.sgdev.org/api/v3/orgs/{org}/teams","public_gists_url":"https://ghe.sgdev.org/api/v3/gists/public","rate_limit_url":"https://ghe.sgdev.org/api/v3/rate_limit","repository_url":"https://ghe.sgdev.org/api/v3/repos/{owner}/{repo}","repository_search_url":"https://ghe.sgdev.org/api/v3/search/repositories?q={query}{&page,per_page,sort,order}","current_user_repositories_url":"https://ghe.sgdev.org/api/v3/user/repos{?type,page,per_page,sort}","starred_url":"https://ghe.sgdev.org/api/v3/user/starred{/owner}{/repo}","starred_gists_url":"https://ghe.sgdev.org/api/v3/gists/starred","topic_search_url":"https://ghe.sgdev.org/api/v3/search/topics?q={query}{&page,per_page}","user_url":"https://ghe.sgdev.org/api/v3/users/{user}","user_organizations_url":"https://ghe.sgdev.org/api/v3/user/orgs","user_repositories_url":"https://ghe.sgdev.org/api/v3/users/{user}/repos{?type,page,per_page,sort}","user_search_url":"https://ghe.sgdev.org/api/v3/search/users?q={query}{&page,per_page,sort,order}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"34473402a070f645b0e0293cf62e5a38"
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Enterprise-Version:
      - 2.22.6
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Oauth-Scopes:
      - read:org, repo
    status: 200 OK
    code: 200
    duration: ""
