---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://dev.azure.com/sgtestazure/_apis/git/repositories?api-version=7.0
    method: GET
  response:
    body: '{"value":[{"id":"2128ab2d-8459-4359-9939-221e92f3aeb1","name":"sgtestazure3","url":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/2128ab2d-8459-4359-9939-221e92f3aeb1","project":{"id":"dc493f7d-0b57-4de2-a59b-3f74ff3ea334","name":"sgtestazure","url":"https://dev.azure.com/sgtestazure/_apis/projects/dc493f7d-0b57-4de2-a59b-3f74ff3ea334","state":"wellFormed","revision":11,"visibility":"private","lastUpdateTime":"2023-01-20T19:22:47.403Z"},"defaultBranch":"refs/heads/master","size":1076199250,"remoteUrl":"https://sgtestazure@dev.azure.com/sgtestazure/sgtestazure/_git/sgtestazure3","sshUrl":"git@ssh.dev.azure.com:v3/sgtestazure/sgtestazure/sgtestazure3","webUrl":"https://dev.azure.com/sgtestazure/sgtestazure/_git/sgtestazure3","isDisabled":false,"isInMaintenance":false},{"id":"d66c87ea-6548-4a67-9f1f-560528393e73","name":"sgtestazure2","url":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/d66c87ea-6548-4a67-9f1f-560528393e73","project":{"id":"dc493f7d-0b57-4de2-a59b-3f74ff3ea334","name":"sgtestazure","url":"https://dev.azure.com/sgtestazure/_apis/projects/dc493f7d-0b57-4de2-a59b-3f74ff3ea334","state":"wellFormed","revision":11,"visibility":"private","lastUpdateTime":"2023-01-20T19:22:47.403Z"},"defaultBranch[...]
