---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://gerrit.sgdev.org/a/projects/?S=0&n=25&type=CODE
    method: GET
  response:
    body: |
      )]}'
      {
        "beatrix": {
          "id": "beatrix",
          "state": "ACTIVE"
        },
        "idan-temp": {
          "id": "idan-temp",
          "state": "ACTIVE"
        },
        "k8s-gerrit": {
          "id": "k8s-gerrit",
          "state": "ACTIVE"
        },
        "sourcegraph": {
          "id": "sourcegraph",
          "state": "ACTIVE"
        },
        "sourcegraph/create": {
          "id": "sourcegraph%2Fcreate",
          "state": "ACTIVE"
        },
        "src-cli": {
          "id": "src-cli",
          "state": "ACTIVE"
        }
      }
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://gerrit.sgdev.org/a/projects/?S=50&n=1
    method: GET
  response:
    body: |
      )]}'
      {}
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
