---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.sgdev.org/api/v4/groups/small-test-group/projects?per_page=100
    method: GET
  response:
    body: '[{"id":371312,"description":null,"name":"non-empty-repo","name_with_namespace":"small-test-group
      / non-empty-repo","path":"non-empty-repo","path_with_namespace":"small-test-group/non-empty-repo","created_at":"2023-03-27T16:42:38.858Z","default_branch":"main","tag_list":[],"topics":["topic1", "topic2"],"ssh_url_to_repo":"git@gitlab.sgdev.org:small-test-group/non-empty-repo.git","http_url_to_repo":"https://gitlab.sgdev.org/small-test-group/non-empty-repo.git","web_url":"https://gitlab.sgdev.org/small-test-group/non-empty-repo","readme_url":"https://gitlab.sgdev.org/small-test-group/non-empty-repo/-/blob/main/README.md","avatar_url":null,"forks_count":0,"star_count":0,"last_activity_at":"2023-03-27T16:42:38.858Z","namespace":{"id":560490,"name":"small-test-group","path":"small-test-group","kind":"group","full_path":"small-test-group","parent_id":null,"avatar_url":null,"web_url":"https://gitlab.sgdev.org/groups/small-test-group"},"_links":{"self":"https://gitlab.sgdev.org/api/v4/projects/371312","issues":"https://gitlab.sgdev.org/api/v4/projects/371312/issues","merge_requests":"https://gitlab.sgdev.org/api/v4/projects/371312/merge_requests","repo_branches":"https://gitlab.sgdev.org/api/v4/projects/371312/repository/branches","labels":"https://gitlab.sgdev.org/api/v4/projects/371312/labels","events":"https://gitlab.sgdev.org/api/v4/projects/371312/events","members":"https://gitlab.sgdev.org/api/v4/projects/371312/members","cluster_agents":"https://gitlab.sgdev.org/api/v4/projects/371312/cluster_agents"},"packages_enabled":true,"empty_repo":false,"archived":false,"visibility":"private","resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2023-03-28T16:42:38.908Z"},"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"container_registry_enabled":false,"service_desk_enabled":false,"service_desk_address":null,"can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"private","operations_access_level":"enabled","analytics_access_level":"enabled","container_registry_access_level":"disabled","security_and_compliance_access_level":"private","emails_disabled":null,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1,"import_url":null,"import_type":null,"import_status":"none","open_issues_count":0,"ci_default_git_depth":20,"ci_forward_deployment_enabled":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_opt_in_jwt":false,"ci_allow_fork_pipelines_to_run_in_parent_project":true,"public_jobs":true,"build_timeout":3600,"auto_cancel_pending_pipelines":"enabled","ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"restrict_user_defined_variables":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"auto_devops_enabled":true,"auto_devops_deploy_strategy":"continuous","autoclose_referenced_issues":true,"repository_storage":"default","keep_latest_artifact":true,"runner_token_expiration_interval":null,"requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":true,"compliance_frameworks":[]},{"id":371311,"description":null,"name":"empty-repo","name_with_namespace":"small-test-group
      / empty-repo","path":"empty-repo","path_with_namespace":"small-test-group/empty-repo","created_at":"2023-03-27T16:42:20.257Z","default_branch":"main","tag_list":[],"topics":["topic1", "topic2"],"ssh_url_to_repo":"git@gitlab.sgdev.org:small-test-group/empty-repo.git","http_url_to_repo":"https://gitlab.sgdev.org/small-test-group/empty-repo.git","web_url":"https://gitlab.sgdev.org/small-test-group/[...]
