---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/orgs/sourcegraph/repos?sort=created&page=1&per_page=100&type=internal
    method: GET
  response:
    body: '[{"id":1057033,"node_id":"MDEwOlJlcG9zaXRvcnkxMDU3MDMz","name":"Petri-Test","full_name":"sourcegraph/Petri-Test","private":true,"owner":{"login":"sourcegraph","id":4,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ=","avatar_url":"https://ghe.sgdev.org/avatars/u/4?","gravatar_id":"","url":"https://ghe.sgdev.org/api/v3/users/sourcegraph","html_url":"https://ghe.sgdev.org/sourcegraph","followers_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/followers","following_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/following{/other_user}","gists_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/gists{/gist_id}","starred_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/starred{/owner}{/repo}","subscriptions_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/subscriptions","organizations_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/orgs","repos_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/repos","events_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/events{/privacy}","received_events_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/received_events","type":"Organization","site_admin":false},"html_url":"https://ghe.sgdev.org/sourcegraph/Petri-Test","description":null,"fork":false,"url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test","forks_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/forks","keys_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/keys{/key_id}","collaborators_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/collaborators{/collaborator}","teams_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/teams","hooks_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/hooks","issue_events_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/issues/events{/number}","events_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/events","assignees_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/assignees{/user}","branches_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/branches{/branch}","tags_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/tags","blobs_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/git/blobs{/sha}","git_tags_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/git/tags{/sha}","git_refs_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/git/refs{/sha}","trees_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/git/trees{/sha}","statuses_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/statuses/{sha}","languages_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/languages","stargazers_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/stargazers","contributors_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/contributors","subscribers_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/subscribers","subscription_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/subscription","commits_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/commits{/sha}","git_commits_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/git/commits{/sha}","comments_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/comments{/number}","issue_comment_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/issues/comments{/number}","contents_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/contents/{+path}","compare_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/compare/{base}...{head}","merges_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/merges","archive_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/{archive_format}{/ref}","downloads_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/downloads","issues_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/issues{/number}","pulls_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/pulls{/number}","milestones_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/milestones{/number}","notifications_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/notifications{?since,all,participating}","labels_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/labels{/name}","releases_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/releases{/id}","deployments_url":"https://ghe.sgdev.org/api/v3/repos/sourcegraph/Petri-Test/deployments","created_at":"2023-07-11T06:21:22Z","updated_at":"2023-07-11T06:21:22Z","pushed_at":"2024-06-25T12:20:55Z","git_url":"git://ghe.sgdev.org/sourcegraph/Petri-Test.git","ssh_url":"git@ghe.sgdev.org:sourcegraph/Petri-Test.git","clone_url":"https://ghe.sgdev.org/sourcegraph/Petri-Test.git","svn_url":"https://ghe.sgdev.org/sourcegraph/Petri-Test","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":false,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"internal","forks":0,"open_issues":1,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true}},{"id":1057032,"node_id":"MDEwOlJlcG9zaXRvcnkxMDU3MDMy","name":"sourcegraph_internal_repo","full_name":"sourcegraph/sourcegraph_internal_repo","private":true,"owner":{"login":"sourcegraph","id":4,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ=","avatar_url":"https://ghe.sgdev.org/avatars/u/4?","gravatar_id":"","url":"https://ghe.sgdev.org/api/v3/users/sourcegraph","html_url":"https://ghe.sgdev.org/sourcegraph","followers_url":"https://ghe.sgdev.org/api/v3/users/sourcegraph/followers","following_url":"[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/orgs/sourcegraph-c/repos?sort=created&page=1&per_page=100&type=internal
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4ba65ec56646cbbcc8d4188956ba3fa14207344a9eb8a97bbc4d8a1594fca71f"'
      X-Github-Enterprise-Version:
      - 3.8.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/user/orgs?per_page=100&page=1
    method: GET
  response:
    body: '[{"login":"sourcegraph","id":4,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ=","url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph","repos_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph/repos","events_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph/events","hooks_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph/hooks","issues_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph/issues","members_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph/members{/member}","public_members_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph/public_members{/member}","avatar_url":"https://ghe.sgdev.org/avatars/u/4?","description":null},{"login":"sourcegraph-c","id":10,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEw","url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph-c","repos_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph-c/repos","events_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph-c/events","hooks_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph-c/hooks","issues_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph-c/issues","members_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph-c/members{/member}","public_members_url":"https://ghe.sgdev.org/api/v3/orgs/sourcegraph-c/public_members{/member}","avatar_url":"https://ghe.sgdev.org/avatars/u/10?","description":""}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5ae3fc7310e530367e5bdc8f2e834ffba3bc37060ec413e14fb113e3f3fd6d7e"
      Link:
      - <https://ghe.sgdev.org/api/v3/user/orgs?per_page=100&page=1>; rel="last"
      X-Github-Enterprise-Version:
      - 3.8.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
    status: 200 OK
    code: 200
    duration: ""
