---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://gerrit-review.googlesource.com/projects/?S=0&n=25
    method: GET
  response:
    body: |
      )]}'
      {"Core-Plugins":{"id":"Core-Plugins","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/Core-Plugins/","target":"_blank"}]},"Public-Plugins":{"id":"Public-Plugins","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/Public-Plugins/","target":"_blank"}]},"Public-Projects":{"id":"Public-Projects","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/Public-Projects/","target":"_blank"}]},"TestRepo":{"id":"TestRepo","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/TestRepo/","target":"_blank"}]},"apps/analytics-etl":{"id":"apps%2Fanalytics-etl","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/apps/analytics-etl/","target":"_blank"}]},"apps/kibana-dashboard":{"id":"apps%2Fkibana-dashboard","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/apps/kibana-dashboard/","target":"_blank"}]},"apps/reviewit":{"id":"apps%2Freviewit","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/apps/reviewit/","target":"_blank"}]},"aws-gerrit":{"id":"aws-gerrit","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/aws-gerrit/","target":"_blank"}]},"bazlets":{"id":"bazlets","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/bazlets/","target":"_blank"}]},"buck":{"id":"buck","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/buck/","target":"_blank"}]},"bucklets":{"id":"bucklets","state":"READ_ONLY","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/bucklets/","target":"_blank"}]},"docker-gerrit":{"id":"docker-gerrit","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/docker-gerrit/","target":"_blank"}]},"executablewar":{"id":"executablewar","state":"READ_ONLY","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/executablewar/","target":"_blank"}]},"gcompute-tools":{"id":"gcompute-tools","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gcompute-tools/","target":"_blank"}]},"gerrit":{"id":"gerrit","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit/","target":"_blank"}]},"gerrit-attic":{"id":"gerrit-attic","state":"READ_ONLY","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-attic/","target":"_blank"}]},"gerrit-bug-reporter":{"id":"gerrit-bug-reporter","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-bug-reporter/","target":"_blank"}]},"gerrit-ci-scripts":{"id":"gerrit-ci-scripts","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-ci-scripts/","target":"_blank"}]},"gerrit-fe-dev-helper":{"id":"gerrit-fe-dev-helper","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-fe-dev-helper/","target":"_blank"}]},"gerrit-installer":{"id":"gerrit-installer","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-installer/","target":"_blank"}]},"gerrit-linter":{"id":"gerrit-linter","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-linter/","target":"_blank"}]},"gerrit-load-tests":{"id":"gerrit-load-tests","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-load-tests/","target":"_blank"}]},"gerrit-monitoring":{"id":"gerrit-monitoring","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-monitoring/","target":"_blank"}]},"gerrit-release-tools":{"id":"gerrit-release-tools","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-release-tools/","target":"_blank"}]},"gerrit-switch":{"id":"gerrit-switch","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-switch/","target":"_blank"}]}}
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://gerrit-review.googlesource.com/projects/?S=0&n=25&type=CODE
    method: GET
  response:
    body: |
      )]}'
      {"TestRepo":{"id":"TestRepo","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/TestRepo/","target":"_blank"}]},"apps/analytics-etl":{"id":"apps%2Fanalytics-etl","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/apps/analytics-etl/","target":[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://gerrit-review.googlesource.com/projects/?S=25&n=25
    method: GET
  response:
    body: |
      )]}'
      {"git-repo":{"id":"git-repo","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/git-repo/","target":"_blank"}]},"gitblit":{"id":"gitblit","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gitblit/","target":"_blank"}]},"gitfs":{"id":"gitfs","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gitfs/","target":"_blank"}]},"gitiles":{"id":"gitiles","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gitiles/","target":"_blank"}]},"gs-maven-wagon":{"id":"gs-maven-wagon","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gs-maven-wagon/","target":"_blank"}]},"gwtexpui":{"id":"gwtexpui","state":"READ_ONLY","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gwtexpui/","target":"_blank"}]},"gwtjsonrpc":{"id":"gwtjsonrpc","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gwtjsonrpc/","target":"_blank"}]},"gwtorm":{"id":"gwtorm","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gwtorm/","target":"_blank"}]},"homepage":{"id":"homepage","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/homepage/","target":"_blank"}]},"homepage-test":{"id":"homepage-test","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/homepage-test/","target":"_blank"}]},"java-prettify":{"id":"java-prettify","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/java-prettify/","target":"_blank"}]},"k8s-gerrit":{"id":"k8s-gerrit","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/k8s-gerrit/","target":"_blank"}]},"libs/modules/repomanager/cassandra":{"id":"libs%2Fmodules%2Frepomanager%2Fcassandra","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/libs/modules/repomanager/cassandra/","target":"_blank"}]},"modules/cache-chroniclemap":{"id":"modules%2Fcache-chroniclemap","state":"ACTIVE","web_links":[{"name":"browse","url":"https://ger[...]
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://gerrit-review.googlesource.com/projects/?S=200&n=25
    method: GET
  response:
    body: |
      )]}'
      {"plugins/wmf-fixshadowuser":{"id":"plugins%2Fwmf-fixshadowuser","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/plugins/wmf-fixshadowuser/","target":"_blank"}]},"plugins/x-docs":{"id":"plugins%2Fx-docs","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/plugins/x-docs/","target":"_blank"}]},"plugins/zookeeper-refdb":{"id":"plugins%2Fzookeeper-refdb","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/plugins/zookeeper-refdb/","target":"_blank"}]},"plugins/zuul":{"id":"plugins%2Fzuul","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/plugins/zuul/","target":"_blank"}]},"plugins/zuul-results-summary":{"id":"plugins%2Fzuul-results-summary","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/plugins/zuul-results-summary/","target":"_blank"}]},"plugins/zuul-status":{"id":"plugins%2Fzuul-status","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/plugins/zuul-status/","target":"_blank"}]},"polymer-bridges":{"id":"polymer-bridges","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/polymer-bridges/","target":"_blank"}]},"prolog-cafe":{"id":"prolog-cafe","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/prolog-cafe/","target":"_blank"}]},"summit/2015":{"id":"summit%2F2015","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/summit/2015/","target":"_blank"}]},"summit/2016":{"id":"summit%2F2016","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/summit/2016/","target":"_blank"}]},"summit/2017":{"id":"summit%2F2017","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/summit/2017/","target":"_blank"}]},"summit/2018":{"id":"summit%2F2018","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/summit/2018/","target":"_blank"}]},"summit/2019":{"id":"summit%2F2019","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/summit/2019/","target":"_blank"}]},"summit/2021":{"id":"summit%2F2021","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/summit/2021/","target":"_blank"}]},"training/gerrit":{"id":"training%2Fgerrit","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/training/gerrit/","target":"_blank"}]},"training/sample":{"id":"training%2Fsample","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/training/sample/","target":"_blank"}]},"zoekt":{"id":"zoekt","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/zoekt/","target":"_blank"}]},"zookeeper-refdb":{"id":"zookeeper-refdb","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/zookeeper-refdb/","target":"_blank"}]},"zuul/config":{"id":"zuul%2Fconfig","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/zuul/config/","target":"_blank"}]},"zuul/jobs":{"id":"zuul%2Fjobs","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/zuul/jobs/","target":"_blank"}]},"zuul/ops":{"id":"zuul%2Fops","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/zuul/ops/","target":"_blank"}]}}
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
