---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://src.fedoraproject.org/api/0/projects?fork=false&page=1&pattern=ac%2A&per_page=25
    method: GET
  response:
    body: "{\n  \"args\": {\n    \"fork\": false, \n    \"namespace\": null, \n    \"owner\":
      null, \n    \"page\": 1, \n    \"pattern\": \"ac*\", \n    \"per_page\": 25,
      \n    \"short\": false, \n    \"tags\": [], \n    \"username\": null\n  }, \n
      \ \"pagination\": {\n    \"first\": \"https://src.fedoraproject.org/api/0/projects?per_page=25&fork=false&pattern=ac%2A&page=1\",
      \n    \"last\": \"https://src.fedoraproject.org/api/0/projects?per_page=25&fork=false&pattern=ac%2A&page=2\",
      \n    \"next\": \"https://src.fedoraproject.org/api/0/projects?per_page=25&fork=false&pattern=ac%2A&page=2\",
      \n    \"page\": 1, \n    \"pages\": 2, \n    \"per_page\": 25, \n    \"prev\":
      null\n  }, \n  \"projects\": [\n    {\n      \"access_groups\": {\n        \"admin\":
      [], \n        \"collaborator\": [], \n        \"commit\": [], \n        \"ticket\":
      []\n      }, \n      \"access_users\": {\n        \"admin\": [], \n        \"collaborator\":
      [], \n        \"commit\": [], \n        \"owner\": [\n          \"mikep\"\n
      \       ], \n        \"ticket\": []\n      }, \n      \"close_status\": [],
      \n      \"custom_keys\": [], \n      \"date_created\": \"1585231237\", \n      \"date_modified\":
      \"1585231245\", \n      \"description\": \"The academic-admin package\", \n
      \     \"full_url\": \"https://src.fedoraproject.org/rpms/academic-admin\", \n
      \     \"fullname\": \"rpms/academic-admin\", \n      \"id\": 41405, \n      \"milestones\":
      {}, \n      \"name\": \"academic-admin\", \n      \"namespace\": \"rpms\", \n
      \     \"parent\": null, \n      \"priorities\": {}, \n      \"tags\": [], \n
      \     \"url_path\": \"rpms/academic-admin\", \n      \"user\": {\n        \"full_url\":
      \"https://src.fedoraproject.org/user/mikep\", \n        \"fullname\": \"W. Michael
      Petullo\", \n        \"name\": \"mikep\", \n        \"url_path\": \"user/mikep\"\n
      \     }\n    }, \n    {\n      \"access_groups\": {\n        \"admin\": [],
      \n        \"collaborator\": [], \n        \"commit\": [], \n        \"ticket\":
      []\n      }, \n      \"access_users\": {\n        \"admin\": [], \n        \"collaborator\":
      [], \n        \"commit\[...]
[...]
