---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://try.gitea.io/api/v1/repos/search?exclusive=true&limit=100&order=asc&private=false&sort=created&uid=3
    method: GET
  response:
    body: |
      {"ok":true,"data":[{"id":14996,"owner":{"id":3,"login":"lunny","login_name":"","full_name":"","email":"xiaolunwen@gmail.com","avatar_url":"https://secure.gravatar.com/avatar/271fc56bcea89c6f69ab0024b59b3f81?d=identicon","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2016-12-14T13:28:52Z","restricted":false,"active":false,"prohibit_login":false,"location":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"lunny"},"name":"baRSS","full_name":"lunny/baRSS","description":"","empty":false,"private":false,"fork":false,"template":false,"parent":null,"mirror":false,"size":1066,"language":"Objective-C","languages_url":"https://try.gitea.io/api/v1/repos/lunny/baRSS/languages","html_url":"https://try.gitea.io/lunny/baRSS","ssh_url":"git@try.gitea.io:lunny/baRSS.git","clone_url":"https://try.gitea.io/lunny/baRSS.git","original_url":"https://github.com/relikd/baRSS","website":"","stars_count":0,"forks_count":0,"watchers_count":1,"open_issues_count":1,"open_pr_counter":0,"release_counter":8,"default_branch":"master","archived":false,"created_at":"2019-12-14T13:35:44Z","updated_at":"2020-12-19T13:38:00Z","permissions":{"admin":false,"push":false,"pull":true},"has_issues":true,"internal_tracker":{"enable_time_tracker":true,"allow_only_contributors_to_track_time":true,"enable_issue_dependencies":true},"has_wiki":true,"has_pull_requests":true,"has_projects":false,"ignore_whitespace_conflicts":false,"allow_merge_commits":true,"allow_rebase":true,"allow_rebase_explicit":true,"allow_squash_merge":true,"allow_rebase_update":true,"default_delete_branch_after_merge":false,"default_merge_style":"merge","avatar_url":"","internal":false,"mirror_interval":"","mirror_updated":"0001-01-01T00:00:00Z","repo_transfer":null},{"id":30260,"owner":{"id":3,"login":"lunny","login_name":"","full_name":"","email":"xiaolunwen@gmail.com","avatar_url":"https://secure.gravatar.com/avatar/271fc56bcea89c6f69ab0024b59b3f81?d=identicon","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2016-12-14T13:28:52Z","restricted":false,"active":false,"prohibit_login":false,"location":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"usern[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://try.gitea.io/api/v1/repos/search?includeDesc=true&limit=100&order=asc&private=false&q=random+block&sort=created
    method: GET
  response:
    body: |
      {"ok":true,"data":[{"id":19395,"owner":{"id":34597,"login":"DaemonPhenex","login_name":"","full_name":"","email":"demonphoenix42@gmail.com","avatar_url":"https://secure.gravatar.com/avatar/351991f420cbdb512d5e1e38d7c8e3df?d=identicon","language":"","is_admin":false,"last_log[...]
