---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://gerrit-review.googlesource.com/projects/?S=0&n=25&type=CODE
    method: GET
  response:
    body: |
      )]}'
      {"TestRepo":{"id":"TestRepo","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/TestRepo/","target":"_blank"}]},"apps/analytics-etl":{"id":"apps%2Fanalytics-etl","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/apps/analytics-etl/","target":"_blank"}]},"apps/kibana-dashboard":{"id":"apps%2Fkibana-dashboard","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/apps/kibana-dashboard/","target":"_blank"}]},"apps/reviewit":{"id":"apps%2Freviewit","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/apps/reviewit/","target":"_blank"}]},"aws-gerrit":{"id":"aws-gerrit","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/aws-gerrit/","target":"_blank"}]},"bazlets":{"id":"bazlets","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/bazlets/","target":"_blank"}]},"buck":{"id":"buck","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/buck/","target":"_blank"}]},"bucklets":{"id":"bucklets","state":"READ_ONLY","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/bucklets/","target":"_blank"}]},"docker-gerrit":{"id":"docker-gerrit","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/docker-gerrit/","target":"_blank"}]},"executablewar":{"id":"executablewar","state":"READ_ONLY","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/executablewar/","target":"_blank"}]},"gcompute-tools":{"id":"gcompute-tools","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gcompute-tools/","target":"_blank"}]},"gerrit":{"id":"gerrit","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit/","target":"_blank"}]},"gerrit-attic":{"id":"gerrit-attic","state":"READ_ONLY","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-attic/","target":"_blank"}]},"gerrit-bug-reporter":{"id":"gerrit-bug-reporter","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-bug-reporter/","target":"_blank"}]},"gerrit-ci-scripts":{"id":"gerrit-ci-scripts","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-ci-scripts/","target":"_blank"}]},"gerrit-fe-dev-helper":{"id":"gerrit-fe-dev-helper","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-fe-dev-helper/","target":"_blank"}]},"gerrit-installer":{"id":"gerrit-installer","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-installer/","target":"_blank"}]},"gerrit-linter":{"id":"gerrit-linter","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-linter/","target":"_blank"}]},"gerrit-load-tests":{"id":"gerrit-load-tests","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-load-tests/","target":"_blank"}]},"gerrit-monitoring":{"id":"gerrit-monitoring","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-monitoring/","target":"_blank"}]},"gerrit-release-tools":{"id":"gerrit-release-tools","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-release-tools/","target":"_blank"}]},"gerrit-switch":{"id":"gerrit-switch","state":"ACTIVE","web_links":[{"name":"browse","url":"https://gerrit.googlesource.com/gerrit-switch/","target":"_blank"}]}}
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
