---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://dev.azure.com/sgtestazure/sgtestazure/_apis/git/repositories?api-version=7.0
    method: GET
  response:
    body: '{"value":[{"id":"7510b0b2-8a36-4f57-b7f2-155ccb1518bf","name":"sgtestazure-sgtestazure2","url":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/7510b0b2-8a36-4f57-b7f2-155ccb1518bf","project":{"id":"dc493f7d-0b57-4de2-a59b-3f74ff3ea334","name":"sgtestazure","url":"https://dev.azure.com/sgtestazure/_apis/projects/dc493f7d-0b57-4de2-a59b-3f74ff3ea334","state":"wellFormed","revision":11,"visibility":"private","lastUpdateTime":"2023-01-20T19:22:47.403Z"},"defaultBranch":"refs/heads/main","size":3399,"remoteUrl":"https://sgtestazure@dev.azure.com/sgtestazure/sgtestazure/_git/sgtestazure-sgtestazure2","sshUrl":"git@ssh.dev.azure.com:v3/sgtestazure/sgtestazure/sgtestazure-sgtestazure2","webUrl":"https://dev.azure.com/sgtestazure/sgtestazure/_git/sgtestazure-sgtestazure2","isFork":true,"isDisabled":false,"isInMaintenance":false},{"id":"24e14246-72f0-4e77-8a64-15eee49ef60b","name":"sgtestazure-sgtestazure3","url":"https://dev.azure.com/sgtestazure/dc493f7d-0b57-4de2-a59b-3f74ff3ea334/_apis/git/repositories/24e14246-72f0-4e77-8a64-15eee49ef60b","project":{"id":"dc493f7d-0b57-4de2-a59b-3f74ff3ea334","name":"sgtestazure","url":"https://dev.azure.com/sgtestazure/_apis/projects/dc493f7d-0b57-4de2-a59b-3f74ff3ea334","state":"wellFormed","revision":11,"visibility":"private","lastUpdateTime":"2023-01-20T19:22:47.403Z"},"d[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://dev.azure.com/sgtestazure/sg%20test%20with%20spaces/_apis/git/repositories?api-version=7.0
    method: GET
  response:
    body: '{"value":[{"id":"7a7a0959-9c79-47f5-9d42-319c735179ce","name":"sg test
      with spaces","url":"https://dev.azure.com/sgtestazure/8c1230da-3631-41e8-8df3-c94a705227d8/_apis/git/repositories/7a7a0959-9c79-47f5-9d42-319c735179ce","project":{"id":"8c1230da-3631-41e8-8df3-c94a705227d8","name":"sg
      test with spaces","description":"test project with spaces","url":"https://dev.azure.com/sgtestazure/_apis/projects/8c1230da-3631-41e8-8df3-c94a705227d8","state":"wellFormed","revision":19,"visibility":"private","lastUpdateTime":"2023-01-24T18:08:42.87Z"},"size":0,"remoteUrl":"https://sgtestazure@dev.azure.com/sgtestazure/sg%20test%20with%20spaces/_git/sg%20test%20with%20spaces","sshUrl":"git@ssh.dev.azure.com:v3/sgtestazure/sg%20test%20with%20spaces/sg%20test%20with%20spaces","webUrl":"https://dev.azure.com/sgtestazure/sg%20te[...]
