---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.sgdev.org/api/v4/projects/main-group%2Fwiki-repo
    method: GET
  response:
    body: '{"id":371308,"description":null,"name":"wiki-repo","name_with_namespace":"main-group
      / wiki-repo","path":"wiki-repo","path_with_namespace":"main-group/wiki-repo","created_at":"2023-03-20T15:20:57.649Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.sgdev.org:main-group/wiki-repo.git","http_url_to_repo":"https://gitlab.sgdev.org/main-group/wiki-repo.git","web_url":"https://gitlab.sgdev.org/main-group/wiki-repo","readme_url":null,"avatar_url":null,"forks_count":0,"star_count":0,"last_activity_at":"2023-03-20T15:22:48.904Z","namespace":{"id":189583,"name":"main-group","path":"main-group","kind":"group","full_path":"main-group","parent_id":null,"avatar_url":null,"web_url":"https://gitlab.sgdev.org/groups/main-group"},"_links":{"self":"https://gitlab.sgdev.org/api/v4/projects/371308","issues":"https://gitlab.sgdev.org/api/v4/projects/371308/issues","merge_requests":"https://gitlab.sgdev.org/api/v4/projects/371308/merge_requests","repo_branches":"https://gitlab.sgdev.org/api/v4/projects/371308/repository/branches","labels":"https://gitlab.sgdev.org/api/v4/projects/371308/labels","events":"https://gitlab.sgdev.org/api/v4/projects/371308/events","members":"https://gitlab.sgdev.org/api/v4/projects/371308/members","cluster_agents":"https://gitlab.sgdev.org/api/v4/projects/371308/cluster_agents"},"packages_enabled":true,"empty_repo":false,"archived":false,"visibility":"private","resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2023-03-21T15:20:57.890Z"},"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"container_registry_enabled":false,"service_desk_enabled":false,"service_desk_address":null,"can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"private","operations_access_level":"enabled","analytics_access_level":"enabled","container_registry_access_level":"disabled","security_and_compliance_access_level":"private","emails_disabled":null,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1,"import_url":null,"import_type":null,"import_status":"none","import_error":null,"open_issues_count":0,"runners_token":"GR1348941yL8xqksrKj3uvG5tL5KY","ci_default_git_depth":20,"ci_forward_deployment_enabled":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_opt_in_jwt":false,"ci_allow_fork_pipelines_to_run_in_parent_project":true,"public_jobs":true,"build_git_strategy":"fetch","build_timeout":3600,"auto_cancel_pending_pipelines":"enabled","ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"restrict_user_defined_variables":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","autoclose_referenced_issues":true,"repository_storage":"default","keep_latest_artifact":true,"runner_token_expiration_interval":null,"requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":true,"compliance_frameworks":[],"permissions":{"project_access":null,"group_access":{"access_level":50,"notification_level":3}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"19440c05215bdc23c681f905ecfe2a4a"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.sgdev.org/api/v4/projects/main-group%2Fempty-repo
    method: GET
  response:
    body: '{"id":371310,"description":null,"name":"empty-repo","name_with_namespace":"main-group
      / empty-repo","path":"empty-repo","path_with_namespace":"main-group/empty-repo","created_at":"2023-03-25T15:18:48.831Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_rep[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.sgdev.org/api/v4/projects/main-group%2Frepo000154897
    method: GET
  response:
    body: '{"id":323291,"description":null,"name":"repo000154897","name_with_namespace":"main-group
      / repo000154897","path":"repo000154897","path_with_namespace":"main-group/repo000154897","created_at":"2022-12-30T07:12:30.318Z","default_branch":"main","tag_list":[],"topics":[],[...]
