@value base "sourcegraph/components/styles/_base.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value layout "sourcegraph/components/styles/_layout.css";

.tc { composes: tc from typography; }
.cool-mid-gray { composes: cool-mid-gray from colors; }
.inline-block { display: inline-block; }

.bg {
	composes: bg-pale-blue-gradient from colors;
	flex: 1;
}

.container-fixed { composes: containerFixed from layout; }
