@value base "sourcegraph/components/styles/_base.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value typography "sourcegraph/components/styles/_typography.css";

.cool-mid-gray { composes: cool-mid-gray from colors; }

.container {
	composes: center pb6 from base;
	composes: bg-white bg-pale-blue-gradient from colors;
	min-height: 100vh;
	width: 100%;
}

.container-fixed {
	composes: center pt5 pb5 from base;
	width: 100%;
	max-width: 600px;
}

.panel-container {
	display: flex;
	composes: center from base;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: -40px;
}

.panel-item {
	display: flex;
	composes: pl4 pr4 pb5 from base;
	align-content: center;
	text-align: center;
	max-width: 310px;
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	composes: pt3 pb4 from base;
}

.anon-section {
	composes: col-7-ns from grid;
	composes: mt4 ph3 center from base;
	text-align: center;
}

.anon-title {
	composes: f1 b from typography;
	composes: pt5 pb3 center from base;
	max-width: 700px;
}

.anon-header-sub {
	composes: normal-text from typography;
	composes: pb4 from base;
}

.list {
	display: flex;
	composes: col-8 from grid;
	composes: mt4 ph3 center from base;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
}

.setup-container {
	display: flex;
	align-content: center;
	composes: pa3 from base;
	composes: col-6-ns col-11-s col-11-m from grid;
	max-width: 500px;
	max-height: 500px;
}

.info-box {
	align-items: center;
	flex: 1 1 0;
	composes: ph3 pt2 pb2 ba br3 from base;
	border-color: #eee;
	cursor: pointer;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	transition: box-shadow 0.1s linear;
}

.info-box:hover{
	background-color:rgba(177, 20, 247, .01);
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.completed-box {
	align-items: center;
	flex: 1 1 0;
	composes: ph3 pt2 pb2 ba br3 from base;
	border-color: #eee;
	background-color: #dddddd;
	opacity: 0.7;
}


.text-box {
	display: inline-block;
	composes: pl3 from base;
	text-align: center;
}

.title {
	composes: heavy-text b from typography;
	composes: pb2 from base;
}

.subtitle {
	composes: normal-text from typography;
	composes: pb2 from base;
}

.img {
	min-width: 60px;
	height: 60px;
	align-self: center;
	composes: pl3 pr3 pt4 pb3 from base;
}
