@value base "sourcegraph/components/styles/base.css";
@value grid "sourcegraph/components/styles/grid.css";
@value colors "sourcegraph/components/styles/colors.css";
@value typography "sourcegraph/components/styles/typography.css";
@value grid "sourcegraph/components/styles/grid.css";


.container {
	composes: center from base;
}

.anon-section {
	composes: col-7-ns from grid;
	composes: mt4 ph3 center from base;
	text-align: center;
}

.anon-title {
	composes: f1 b from typography;
	composes: pt5 pb3 center from base;
	max-width: 700px;
}

.anon-header-sub {
	composes: normal-text from typography;
	composes: pb4 from base;
}

.list {
	display: flex;
	composes: col-8 from grid;
	composes: mt4 ph3 center from base;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
}

.setup-container {
	display: flex;
	align-content: center;
	composes: pa3 from base;
	composes: col-6-ns col-11-s col-11-m from grid;
	max-width: 500px;
	max-height: 500px;
}

.info-box {
	align-items: center;
	flex: 1 1 0;
	composes: ph3 pt2 pb2 ba br3 from base;
	border-color: #eee;
	cursor: pointer;	
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	transition: box-shadow 0.1s linear;
}

.info-box:hover{
	background-color:rgba(177, 20, 247, .01);
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.completed-box {
	align-items: center;
	flex: 1 1 0;
	composes: ph3 pt2 pb2 ba br3 from base;
	border-color: #eee;
	background-color: #dddddd;
	opacity: 0.7;
}


.text-box {
	display: inline-block;
	composes: pl3 from base;
	text-align: center;
}

.title {
	composes: heavy-text b from typography;
	composes: pb2 from base;
}

.subtitle {
	composes: normal-text from typography;
	composes: pb2 from base;
}

.img {
	width: 100px;
	height: 100px;
	align-self: center;
	composes: pa3 from base;
}