---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/16606399/fork
    method: POST
  response:
    body: '{"id":32487131,"description":"","name":"src CLI","name_with_namespace":"Adam
      Harvey / src CLI","path":"src-cli","path_with_namespace":"LawnGnome/src-cli","created_at":"2021-12-31T22:11:59.119Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:LawnGnome/src-cli.git","http_url_to_repo":"https://gitlab.com/LawnGnome/src-cli.git","web_url":"https://gitlab.com/LawnGnome/src-cli","readme_url":null,"avatar_url":null,"forks_count":0,"star_count":0,"last_activity_at":"2021-12-31T22:11:59.119Z","namespace":{"id":2976484,"name":"Adam
      Harvey","path":"LawnGnome","kind":"user","full_path":"LawnGnome","parent_id":null,"avatar_url":"https://secure.gravatar.com/avatar/36d8c4d60eaed7139aa0ab88378590c0?s=80\u0026d=identicon","web_url":"https://gitlab.com/LawnGnome"},"container_registry_image_prefix":"registry.gitlab.com/lawngnome/src-cli","_links":{"self":"https://gitlab.com/api/v4/projects/32487131","issues":"https://gitlab.com/api/v4/projects/32487131/issues","merge_requests":"https://gitlab.com/api/v4/projects/32487131/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/32487131/repository/branches","labels":"https://gitlab.com/api/v4/projects/32487131/labels","events":"https://gitlab.com/api/v4/projects/32487131/events","members":"https://gitlab.com/api/v4/projects/32487131/members"},"packages_enabled":true,"empty_repo":true,"archived":false,"visibility":"public","owner":{"id":2383551,"username":"LawnGnome","name":"Adam
      Harvey","state":"active","avatar_url":"https://secure.gravatar.com/avatar/36d8c4d60eaed7139aa0ab88378590c0?s=80\u0026d=identicon","web_url":"https://gitlab.com/LawnGnome"},"resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2022-01-01T22:11:59.130Z"},"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"container_registry_enabled":true,"service_desk_enabled":true,"service_desk_address":"contact-project+lawngnome-src-cli-32487131-issue-@incoming.gitlab.com","can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"enabled","operations_access_level":"enabled","analytics_access_level":"enabled","container_registry_access_level":"enabled","emails_disabled":null,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":2383551,"forked_from_project":{"id":16606399,"description":"","name":"src
      CLI","name_with_namespace":"sourcegraph / src CLI","path":"src-cli","path_with_namespace":"sourcegraph/src-cli","created_at":"2020-01-30T11:45:14.073Z","default_branch":"master","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:sourcegraph/src-cli.git","http_url_to_repo":"https://gitlab.com/sourcegraph/src-cli.git","web_url":"https://gitlab.com/sourcegraph/src-cli","readme_url":"https://gitlab.com/sourcegraph/src-cli/-/blob/master/README.md","avatar_url":null,"forks_count":2,"star_count":0,"last_activity_at":"2020-09-11T21:46:06.120Z","namespace":{"id":2582152,"name":"sourcegraph","path":"sourcegraph","kind":"group","full_path":"sourcegraph","parent_id":null,"avatar_url":"/uploads/-/system/group/avatar/2582152/3979584.png","web_url":"https://gitlab.com/groups/sourcegraph"}},"import_status":"scheduled","import_error":null,"open_issues_count":0,"runners_token":"yze76jaYLj-Httye92-e","ci_default_git_depth":50,"ci_forward_deployment_enabled":true,"ci_job_token_scope_enabled":false,"public_jobs":true,"build_git_strategy":"fetch","build_timeout":3600,"auto_cancel_pending_pipelines":"enabled","build_coverage_regex":null,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"restrict_user_defined_variables":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","autoclose_referenced_issues":true,"keep_latest_artifact":true,"approvals_before_merge":0,"mirror":false,"external_authorization_classification_label":"","marked_for_deletion_at":null,"marked_for_deletion_on":null,"requirements_enabled":true,"security_and_compliance_enabled":true,"compliance_frameworks":[],"issues_template":null,"merge_requests_template":null,"merge_pipelines_enabled":false,"merge_trains_enabled":false}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"264f81c00761ae847ace00a5ab873bdb"
      Gitlab-Lb:
      - fe-17-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-d
    status: 201 Created
    code: 201
    duration: ""
