---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/user
    method: GET
  response:
    body: '{"id":4850933,"username":"sourcegraph-dotcom-bot","name":"Sourcegraph Bot","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/4850933/avatar.png","web_url":"https://gitlab.com/sourcegraph-dotcom-bot","created_at":"2019-10-24T15:39:16.376Z","bio":"","location":"","public_email":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":"Sourcegraph","job_title":"","pronouns":null,"bot":false,"work_information":"Sourcegraph","followers":0,"following":0,"is_followed":false,"local_time":"12:41
      AM","last_sign_in_at":"2022-10-20T01:15:52.656Z","confirmed_at":"2019-10-24T15:39:28.336Z","last_activity_on":"2022-11-23","email":"dev@sourcegraph.com","theme_id":1,"color_scheme_id":1,"projects_limit":100000,"current_sign_in_at":"2022-11-14T18:59:05.306Z","identities":[],"can_create_group":true,"can_create_project":true,"two_factor_enabled":true,"external":false,"private_profile":false,"commit_email":"dev@sourcegraph.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c2421fd8d410950cec745b9a128d4cc5"
      Gitlab-Lb:
      - fe-02-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-d
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/sourcegraph-dotcom-bot%2Fsourcegraph-src-cli
    method: GET
  response:
    body: '{"id":41288308,"description":"","name":"sourcegraph-src-cli","name_with_namespace":"Sourcegraph
      Bot / sourcegraph-src-cli","path":"sourcegraph-src-cli","path_with_namespace":"sourcegraph-dotcom-bot/sourcegraph-src-cli","created_at":"2022-11-23T00:04:50.059Z","default_branch":"master","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:sourcegraph-dotcom-bot/sourcegraph-src-cli.git","http_url_to_repo":"https://gitlab.com/sourcegraph-dotcom-bot/sourcegraph-src-cli.git","web_url":"https://gitlab.com/sourcegraph-dotcom-bot/sourcegraph-src-cli","readme_url":"https://gitlab.com/sourcegraph-dotcom-bot/sourcegraph-src-cli/-/blob/master/README.md","avatar_url":null,"forks_count":0,"star_count":0,"last_activity_at":"2022-11-23T00:04:50.059Z","namespace":{"id":6373771,"name":"Sourcegraph
      Bot","path":"sourcegraph-dotcom-bot","kind":"user","full_path":"sourcegraph-dotcom-bot","parent_id":null,"avatar_url":"/uploads/-/system/user/avatar/4850933/avatar.png","web_url":"https://gitlab.com/sourcegraph-dotcom-bot"},"container_registry_image_prefix":"registry.gitlab.com/sourcegraph-dotcom-bot/sourcegraph-src-cli","_links":{"self":"https://gitlab.com/api/v4/projects/41288308","issues":"https://gitlab.com/api/v4/projects/41288308/issues","merge_requests":"https://gitlab.com/api/v4/projects/41288308/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/41288308/repository/branches","labels":"https://gitlab.com/api/v4/projects/41288308/labels","events":"https://gitlab.com/api/v4/projects/41288308/events","members":"https://gitlab.com/api/v4/projects/41288308/members","cluster_agents":"https://gitlab.com/api/v4/projects/41288308/cluster_agents"},"packages_enabled":true,"empty_repo":false,"archived":false,"visibility":"public","owner":{"id":4850933,"username":"sourcegraph-dotcom-bot","name":"Sourcegraph
      Bot","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/4850933/avatar.png","web_url":"https://gitlab.com/sourcegraph-dotcom-bot"},"resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2022-11-24T00:04:50.086Z"},"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"container_registry_enabled":true,"service_desk_enabled":true,"service_desk_address":"contact-project+sourcegraph-dotcom-bot-sourcegraph-src-cli-41288308-issue-@incoming.gitlab.com","can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"enabled","operations_access_level":"enabled","analytics_access_level":"enabled","container_registry_access_level":"enabled","security_and_compliance_access_level":"private","releases_access_level":"enabled","emails_disabled":null,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":4850933,"forked_from_project":{"id":16606399,"description":"","name":"src
      CLI","name_with_namespace":"sourcegraph / src CLI","path":"src-cli","path_with_namespace":"sourcegraph/src-cli","created_at":"2020-01-30T11:45:14.073Z","default_branch":"master","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:sourcegraph/src-cli.git","http_url_to_repo":"https://gitlab.com/sourcegraph/src-cli.git","web_url":"https://gitlab.com/sourcegraph/src-cli","readme_url":"https://gitlab.com/sourcegraph/src-cli/-/blob/master/README.md","avatar_url":null,"forks_count":3,"star_count":0,"last_activity_at":"2022-01-11T16:11:41.070Z","namespace":{"id":2582152,"name":"sourcegraph","path":"sourcegraph","kind":"group","full_path":"sourcegraph","parent_id":null,"avatar_url":"/uploads/-/system/group/avatar/2582152/3979584.png","web_url":"https://gitlab.com/groups/sourcegraph"}},"mr_default_target_self":false,"import_url":null,"import_type":null,"import_status":"finished","import_error":null,"open_issues_count":0,"runners_token":"GR1348941RDdTjf9AeVt4FYuYoTsM","ci_default_git_depth":50,"ci_forward_deployment_enabled":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_opt_in_jwt":false,"ci_allow_fork_pipelines_to_run_in_parent_project":true,"public_jobs":true,"build_git_strategy":"fetch","build_timeout":3600,"auto_cancel_pending_pipelines":"enabled","ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"restrict_user_defined_variables":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"issue_branch_template":null,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","autoclose_referenced_issues":true,"keep_latest_artifact":true,"runner_token_expiration_interval":null,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":true,"compliance_frameworks":[],"permissions":{"project_access":{"access_level":50,"notification_level":3},"group_access":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aa1718c8ec860128855ae7204b912811"
      Gitlab-Lb:
      - fe-19-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-c
    status: 200 OK
    code: 200
    duration: ""
