.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 18.75rem;
    max-width: 80%;
    height: 100%;
    transform: unset;
    border: none;
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.close-filters {
    position: sticky;
    bottom: 0.5rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
}
