.invite-form {
    margin-bottom: 1rem;
    text-align: right;

    &__email {
        flex: 1 1 auto;

    }
    &__submit-button {
        margin-left: .5rem;
        flex: 0 0 auto;
    }

    &__invited-text {
        opacity: 0;
        transition: opacity 500ms ease-out;
        &--visible {
            opacity: 1;
        }
    }

    &__container {
        display: flex;
        width: 100%;
        max-width: 21rem;
    }
}
