.license-invalid-page {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
 
    &__warning-sign {
        height: 3rem;
        width: 3rem;
        display: inline-block;
        fill: currentColor;
    }
}