.search2-help {
    display: flex;
    font-size: 0.8em;
    align-items: center;

    .icon-help {
        flex: 0 0 auto;
        width: 1rem;
        height: 1rem;
        margin-right: 0.125rem;
    }
}
