@import './Suggestion';

.query-input2 {
    flex: 1 0 auto;
    position: relative;

    &__suggestions {
        position: absolute;
        width: 100%;
        z-index: 1;
        max-height: 25rem;
        margin: 0;
        overflow-x: hidden;
        overflow-y: auto;
        overflow-y: overlay;
        background-color: #1c2736;
        border: solid 1px rgb(27, 84, 138);
        border-top: none;
    }

    &__input {
        background: #1c2736;
        padding: 0.25rem 0.5rem;
        height: 100%;
    }
}

.theme-light {
    .query-input2 {
        &__suggestions {
            background-color: $color-light-bg-2;
            border-top: none;
        }

        &__input {
            background: $color-light-bg-1;
        }
    }
}
