@import './Suggestion';

.query-input2 {
    flex: 1 0 auto;
    position: relative;

    &__input {
        width: 100%;
        height: 100%;
        background-color: #1c2736;
        -webkit-appearance: none;
        border: solid 1px rgb(51, 68, 90);
        outline: none;
        color: white;
        font-size: inherit;
        &::placeholder {
            color: #93a9c8;
        }
        &:focus {
            border-color: #1c7cd6;
        }
    }

    &__suggestions {
        position: absolute;
        width: 100%;
        z-index: 1;
        max-height: 25rem;
        margin: 0;
        overflow-x: hidden;
        overflow-y: auto;
        overflow-y: overlay;
        background-color: #1c2736;
        border: solid 1px rgb(27, 84, 138);
        border-top: none;
    }
}
