.saved-query-form {
    background-color: darken($color-page-background, 15%);
    padding: 1.5rem;

    &__error {
        margin-top: 1rem;
        color: $color-error;

        &-icon {
            vertical-align: middle;
        }
    }

    .ui-text-box {
        &:not(:first-child) {
            margin-top: 0.5rem;
        }
    }

    &__button {
        margin-top: 0.5rem;

        &:not(:first-child) {
            margin-left: 0.5rem;
        }
    }
}

.theme-light {
    .saved-query-form {
        background: $color-light-bg-2;

        &__button-cancel {
            background: $color-light-bg-4;

            &:hover {
                background: $color-light-bg-3;
            }
        }

        .ui-text-box {
            background: $color-light-bg-1;
        }
    }
}
