@import './CommitSearchResult';
@import './FileMatch';
@import './ResultContainer';
@import './SearchAlert';

.search-results2 {
    width: 100%;
    padding-top: 0.5rem;

    &__header {
        color: #93a9c8;
        margin-bottom: 0.5rem;
        text-align: right;
    }
}
