@import './CommitSearchResult';
@import './FileMatch';
@import './ResultContainer';
@import './SearchAlert';

.search-results2 {
    width: 100%;
    padding: 0.5rem 5rem;

    @media (max-width: $media-lg) {
        padding-left: 0;
        padding-right: 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        color: #93a9c8;
        padding-bottom: 0.5rem;

        &-notice {
            display: flex;
            align-items: center;
        }
    }
}

.theme-light {
    .search-results2 {
        &__header {
            &:first-child {
                border-bottom: 1px solid $color-light-border;
            }
            color: $color-light-text-2;
        }
    }
}
