.search-navbar-item2 {
    padding: 0.25rem 0.5rem;
    max-width: 36rem;

    &__row {
        display: flex;
        padding: 0.125rem 0;

        > :not(:first-child) {
            margin-left: 0.35rem;
        }
    }

    .query-input2__input,
    .search-scope2__select {
        @extend .form-control-sm;
    }

    .search-button2__label {
        display: none;
    }

    .scope-label2:hover {
        background-color: #1c2736;
    }
}

.theme-light {
    .scope-label2:hover {
        background-color: inherit;
    }
}
