.search-navbar-item2 {
    padding: 0.25rem 0.5rem;
    max-width: 36rem;

    &__row {
        display: flex;
        padding: 0.125rem 0;

        > :not(:first-child) {
            margin-left: 0.35rem;
        }
    }

    .query-input2__input {
        padding: 0.02rem 0.4rem;
    }

    .search-button2__label {
        display: none;
    }

    .search-scope2__select {
        padding: 0.2rem 0.25rem;
    }

    .scope-label2:hover {
        background-color: #1c2736;
    }
}
