.repogroup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    padding-bottom: 4rem;

    &__container {
        flex: 1 1 auto;
        flex-grow: 0;
        margin-top: 4rem;
        width: 49rem;
        max-width: 90%;
        position: relative;
    }

    &__content {
        display: grid;
        grid-template-columns: 7fr 5fr;
        width: 100%;
        padding: 2rem;
    }

    &__repo-card {
        padding: 1rem;
    }

    &__column {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__repogroup-text {
        color: #1c7cd6;
    }

    &__subheading {
        margin-top: 1.5rem;
    }

    &__repo-list-icon {
        margin-right: 0.5rem;
    }

    &__example-bar {
        width: fit-content;
        height: fit-content;
    }

    &__repo-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
