.modal {
    width: 100%;
    max-width: 50rem;
}

.header {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    flex-flow: nowrap;
}

.content {
    min-height: 5rem;
}

.actions-container {
    border-top: 1px solid var(--border-color);
    padding-top: 1rem;
    margin-top: 1rem;
}

.actions {
    padding: 1rem 0.5rem 0;
    display: flex;
    justify-content: flex-end;
}

.input-row {
    display: flex;
    align-items: center;

    &-button {
        align-self: stretch;
    }
}

.list {
    max-height: 15rem;
    overflow-y: auto;
}

.list-container {
    // Ensure no layout shifts regardless of content/error
    min-height: 3rem;
}

.select {
    max-width: 6rem;
}
