@value base "sourcegraph/components/styles/_base.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value tooltips "sourcegraph/components/styles/tooltips.css";
@value breadcrumb "sourcegraph/components/styles/breadcrumb.css";
@value animation "sourcegraph/components/styles/animation.css";

.tree-container {
	composes: cf from base;
	composes: col-9 from grid;
	margin: 0 auto;
}

.tree-common {
	composes: f4 from typography;
	composes: bg-white from colors;
	width: 100%;
}

.input-container {
	composes: ma3 from base;
	display: flex;
}

@value c_near-white from colors;
.list-header {
	display: flex;
	align-items: center;
	composes: mh3 pb1 from base;
	composes: ftracked f6 from typography;
	composes: gray from colors;
}

.list-item-group {
	composes: pb3 from base;
}

.list-item {
	display: flex;
	align-items: center;
	composes: pa3 mh3 bt from base;
	composes: blue b--black-20 from colors;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	white-space: nowrap;
}

@value c_mid-gray from colors;
.list-item-empty {
	color: c_mid-gray;
}

.content-placeholder {
	composes2: bg-blue-1 from colors;
	composes: shimmer-animation from animation;

	/* HACK: Using c_blue-5 and c_blue-8 doesn't work (vars aren't interpreted), so hardcode them. */
	background: linear-gradient(to right, #E1F0FC 8%, #CFE8FF 18%, #E1F0FC 83%);
}

@value c_dark-blue from colors;
.list-item-selected {
	composes: list-item;
	composes: bg-blue-1 from colors;
	color: c_dark-blue !important;
}

.link {
	composes: pa2 from base;
	composes: link from "sourcegraph/components/styles/link.css";
}

.file-path {
	composes: pl3 from base;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex: 1 1 auto;
	letter-spacing: initial;
	text-transform: none;
}

.path-sep {
	composes: sep from breadcrumb;
}

.path-active {
	composes: active from breadcrumb;
}

.path-inactive {
	composes: inactive from breadcrumb;
}

.hidden {
	display: none;
}


.parent-dir {
	font-weight: bold;
}
.icon {
	padding-right: 1rem;
}
