.input_group {
	composes: input_group from "sourcegraph/components/styles/input.css";
	composes: flex items-center from "sourcegraph/components/styles/flexbox.css";
	composes: br2 ba b--light-silver from "sourcegraph/components/styles/tachyons.css";
	composes: focus-border from "sourcegraph/components/styles/input.css";
	width: 100%;
}

.input {
	composes: text_input from "sourcegraph/components/styles/input.css";
	composes: flex-auto  from "sourcegraph/components/styles/flexbox.css";
	border: none;
}

.input_addon {
	composes: f5 from "sourcegraph/components/styles/tachyons.css";
	composes: mr3 pv2 ph3 from "sourcegraph/components/styles/tachyons.css";
	composes: br3 from "sourcegraph/components/styles/tachyons.css";
	composes: dark-gray from "sourcegraph/components/styles/tachyons.css";
	composes: code from "sourcegraph/components/styles/tachyons.css";
	composes: bg-black-20 from "sourcegraph/components/styles/tachyons.css";
	box-shadow: 0 1px 0 rgba(0,0,0,.2),0 0 0 2px #fff inset;
	text-shadow: 0 1px 0 #fff;
}


.tree {
	composes: db from "sourcegraph/components/styles/tachyons.css";

	.search-input-group {
		@include z-index(tree-search-modal);
		@include box-shadow(0 2px 8px transparentize(#000, 0.6));

		.tree-search-input {
			position: relative;

			input {
				font-size: 18px;
				width: 100%;
				padding: $table-cell-padding 12px;
				border: 1px solid $white;
				border-bottom: $content-border;
				background-color: $white;
				&:focus {
					outline: none;
				}
			}

			.input-group-addon {
				background-color: white;
				border: none;
				border-bottom: solid 1px rgba(191, 194, 208, 0.44);
				color: $dark-blue-grey;


			}
		}

		ul.tree-search-file-list, ul.tree-search-symbol-list {
			list-style: none;
			list-style-type: none;
			padding: 0;
			margin: 0;
			border-width: 0 1px 1px 1px;
			background-color: $white;
			font-weight: normal;

			li {
				padding: $table-cell-padding 12px;
				border-bottom: $content-border;

				&.selected {
					background-color: darken($white, 5)
				}

				.name {
					font-weight: bold;
				}

				.fa {
					margin-right: 10px;
				}
			}
		}
	}

	.search-input-group-overlay {
		position: fixed;
		width: 700px;
		top: 10%;
		max-height: 600%;
		overflow-y: scroll;
		left: 50%;
		margin-left: -350px;
	}

	.file-path {
		padding-left: 13px;
		font-size: 12px;
	}
}

.tree_overlay {
	composes: tree;
	composes: overlay from "sourcegraph/components/styles/Overlay.css";
}
