@value tachyons "sourcegraph/components/styles/tachyons.css";

.input_group {
	composes: input_group from "sourcegraph/components/styles/input.css";
	composes: flex items-center from "sourcegraph/components/styles/flexbox.css";
	composes: br2 ba b--light-silver from tachyons;
	composes: ma3 from tachyons;
	composes: focus-border from "sourcegraph/components/styles/input.css";
	max-width: 100%;
}

.input {
	composes: text_input from "sourcegraph/components/styles/input.css";
	composes: flex-auto  from "sourcegraph/components/styles/flexbox.css";
	border: none;
}

.input_addon {
	composes: f5 from tachyons;
	composes: mr3 pv2 ph3 from tachyons;
	composes: br3 from tachyons;
	composes: dark-gray from tachyons;
	composes: code from tachyons;
	composes: bg-black-20 from tachyons;
	box-shadow: 0 1px 0 rgba(0,0,0,.2),0 0 0 2px #fff inset;
	text-shadow: 0 1px 0 #fff;
}

.list_header {
	composes: b f3 ph3 pt4 pb2 tracked from tachyons;
	composes: black from "sourcegraph/components/styles/colors.css";
	text-transform: uppercase;
}

.list_item {
	composes: pa3 from tachyons;
	composes: mh3 from tachyons;
	composes: bt b--black-20 from tachyons;
	composes: sans-serif from tachyons;
}

.list_item_icon {
	composes: blue from "sourcegraph/components/styles/colors.css";
	composes: pr3 from tachyons;
}

.directory_nav_icon {
	composes: blue from "sourcegraph/components/styles/colors.css";
	float: right;
}

.list_item_selected {
	composes: list_item;
	composes: f3 from tachyons;
	background-color: rgba(235, 96, 46, .1);
}

.file_path {
	composes: pl3 f4 sans-serif normal from tachyons;
	letter-spacing: initial;
	text-transform: none;
}

.icon {
	composes: pr3 from tachyons;
}

.tree {
	composes: f4 from tachyons;
	display: block;
	background-color: rgb(256, 256, 256);
}

.tree_modal {
	composes: tree;
	composes: modal_panel from "sourcegraph/components/styles/modals.css";
}
