.root {
    display: flex;
    gap: 1rem;
    padding-bottom: 2rem;
}

.navigation {
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: stretch;
    list-style: none;

    &-item-link {
        width: 100%;
        text-align: start;

        &:hover {
            background-color: var(--color-bg-2);
        }
    }
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
