---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/repos?sort=created&visibility=private&page=1&per_page=100&affiliation=owner,collaborator
    method: GET
  response:
    body: '[{"id":263034073,"node_id":"MDEwOlJlcG9zaXRvcnkyNjMwMzQwNzM=","name":"private-user-repo-1","full_name":"sourcegraph-vcr/private-user-repo-1","private":true,"owner":{"login":"sourcegraph-vcr","id":63290851,"node_id":"MDQ6VXNlcjYzMjkwODUx","avatar_url":"https://avatars.githubusercontent.com/u/63290851?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph-vcr","html_url":"https://github.com/sourcegraph-vcr","followers_url":"https://api.github.com/users/sourcegraph-vcr/followers","following_url":"https://api.github.com/users/sourcegraph-vcr/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph-vcr/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph-vcr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph-vcr/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph-vcr/orgs","repos_url":"https://api.github.com/users/sourcegraph-vcr/repos","events_url":"https://api.github.com/users/sourcegraph-vcr/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph-vcr/received_events","type":"User","site_admin":false},"html_url":"https://github.com/sourcegraph-vcr/private-user-repo-1","description":null,"fork":false,"url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1","forks_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/forks","keys_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/keys{/key_id}","collaborators_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/teams","hooks_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/hooks","issue_events_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/issues/events{/number}","events_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/events","assignees_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/assignees{/user}","branches_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/branches{/branch}","tags_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/tags","blobs_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/git/refs{/sha}","trees_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/git/trees{/sha}","statuses_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/statuses/{sha}","languages_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/languages","stargazers_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/stargazers","contributors_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/contributors","subscribers_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/subscribers","subscription_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/subscription","commits_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/commits{/sha}","git_commits_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/git/commits{/sha}","comments_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/comments{/number}","issue_comment_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/issues/comments{/number}","contents_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/contents/{+path}","compare_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/compare/{base}...{head}","merges_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/merges","archive_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/downloads","issues_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/issues{/number}","pulls_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/pulls{/number}","milestones_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/milestones{/number}","notifications_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/labels{/name}","releases_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/releases{/id}","deployments_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/deployments","created_at":"2020-05-11T12:20:12Z","updated_at":"2020-05-11T12:20:17Z","pushed_at":"2020-05-11T12:20:14Z","git_url":"git://github.com/sourcegraph-vcr/private-user-repo-1.git","ssh_url":"git@github.com:sourcegraph-vcr/private-user-repo-1.git","clone_url":"https://github.com/sourcegraph-vcr/private-user-repo-1.git","svn_url":"https://github.com/sourcegraph-vcr/private-user-repo-1","homepage":null,"size":14,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"gpl-3.0","name":"GNU
      General Public License v3.0","spdx_id":"GPL-3.0","url":"https://api.github.com/licenses/gpl-3.0","node_id":"MDc6TGljZW5zZTk="},"topics":[],"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ddd7abce7ca6fc2df426cea3120015735b6281d612cd32f378e779a41555fc4b"
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Oauth-Scopes:
      - read:org, repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4973"
      X-Ratelimit-Reset:
      - "1630080367"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "27"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/repos?sort=created&visibility=private&page=2&per_page=100&affiliation=owner,collaborator
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"29c83384d463e905870e7153e8cdd7298050c4ef8ee029baed1cfbf26ce9ff30"'
      Link:
      - <https://api.github.com/user/repos?sort=created&visibility=private&page=1&per_page=100&affiliation=owner%2Ccollaborator>;
        rel="prev", <https://api.github.com/user/repos?sort=created&visibility=private&page=1&per_page=100&affiliation=owner%2Ccollaborator>;
        rel="last", <https://api.github.com/user/repos?sort=created&visibility=private&page=1&per_page=100&affiliation=owner%2Ccollaborator>;
        rel="first"
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Oauth-Scopes:
      - read:org, repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4972"
      X-Ratelimit-Reset:
      - "1630080367"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "28"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/orgs?per_page=100&page=1
    method: GET
  response:
    body: '[{"login":"sourcegraph-vcr-repos","id":65169595,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY1MTY5NTk1","url":"https://api.github.com/orgs/sourcegraph-vcr-repos","repos_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/repos","events_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/events","hooks_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/hooks","issues_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/issues","members_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/members{/member}","public_members_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/65169595?v=4","description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fcfdf7f84f6a98ab11e1535247cf7d478170fa172c7b68f563039cee3a0bc39c"
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Oauth-Scopes:
      - read:org, repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4971"
      X-Ratelimit-Reset:
      - "1630080367"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "29"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sourcegraph-vcr-repos
    method: GET
  response:
    body: '{"login":"sourcegraph-vcr-repos","id":65169595,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY1MTY5NTk1","url":"https://api.github.com/orgs/sourcegraph-vcr-repos","repos_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/repos","events_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/events","hooks_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/hooks","issues_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/issues","members_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/members{/member}","public_members_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/65169595?v=4","description":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":1,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/sourcegraph-vcr-repos","created_at":"2020-05-11T12:18:26Z","updated_at":"2020-05-11T12:18:26Z","type":"Organization","total_private_repos":2,"owned_private_repos":2,"private_gists":0,"disk_usage":2,"collaborators":1,"billing_email":"joe+sourcegraph-vcr@sourcegraph.com","default_repository_permission":"none","members_can_create_repositories":true,"two_factor_requirement_enabled":false,"members_can_create_pages":true,"members_can_create_public_pages":true,"members_can_create_private_pages":true,"plan":{"name":"free","space":976562499,"private_repos":10000,"filled_seats":4,"seats":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ca97a24e0c34b4cac98d301287b8850ed1f68670b9fe2de516066f56d11ba268"
      Last-Modified:
      - Mon, 11 May 2020 12:18:26 GMT
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Oauth-Scopes:
      - read:org, repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4970"
      X-Ratelimit-Reset:
      - "1630080367"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "30"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/memberships/orgs/sourcegraph-vcr-repos
    method: GET
  response:
    body: '{"url":"https://api.github.com/orgs/sourcegraph-vcr-repos/memberships/sourcegraph-vcr","state":"active","role":"admin","organization_url":"https://api.github.com/orgs/sourcegraph-vcr-repos","user":{"login":"sourcegraph-vcr","id":63290851,"node_id":"MDQ6VXNlcjYzMjkwODUx","avatar_url":"https://avatars.githubusercontent.com/u/63290851?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph-vcr","html_url":"https://github.com/sourcegraph-vcr","followers_url":"https://api.github.com/users/sourcegraph-vcr/followers","following_url":"https://api.github.com/users/sourcegraph-vcr/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph-vcr/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph-vcr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph-vcr/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph-vcr/orgs","repos_url":"https://api.github.com/users/sourcegraph-vcr/repos","events_url":"https://api.github.com/users/sourcegraph-vcr/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph-vcr/received_events","type":"User","site_admin":false},"organization":{"login":"sourcegraph-vcr-repos","id":65169595,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY1MTY5NTk1","url":"https://api.github.com/orgs/sourcegraph-vcr-repos","repos_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/repos","events_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/events","hooks_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/hooks","issues_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/issues","members_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/members{/member}","public_members_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/65169595?v=4","description":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"84b910d6556ab0e4683c44702a03c968d0d2def7f41accec25fcf4911912dfcc"
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Oauth-Scopes:
      - read:org, repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4969"
      X-Ratelimit-Reset:
      - "1630080367"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "31"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/teams?per_page=100&page=1
    method: GET
  response:
    body: '[{"name":"private-access","id":3878345,"node_id":"MDQ6VGVhbTM4NzgzNDU=","slug":"private-access","description":"","privacy":"closed","url":"https://api.github.com/organizations/65169595/team/3878345","html_url":"https://github.com/orgs/sourcegraph-vcr-repos/teams/private-access","members_url":"https://api.github.com/organizations/65169595/team/3878345/members{/member}","repositories_url":"https://api.github.com/organizations/65169595/team/3878345/repos","permission":"pull","created_at":"2020-06-05T08:02:22Z","updated_at":"2020-06-05T08:02:22Z","members_count":2,"repos_count":1,"organization":{"login":"sourcegraph-vcr-repos","id":65169595,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY1MTY5NTk1","url":"https://api.github.com/orgs/sourcegraph-vcr-repos","repos_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/repos","events_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/events","hooks_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/hooks","issues_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/issues","members_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/members{/member}","public_members_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/65169595?v=4","description":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":1,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/sourcegraph-vcr-repos","created_at":"2020-05-11T12:18:26Z","updated_at":"2020-05-11T12:18:26Z","type":"Organization"},"parent":null},{"name":"all_read_only","id":5058995,"node_id":"T_kwDOA-Jou84ATTGz","slug":"all_read_only","description":"all_read_only","privacy":"closed","url":"https://api.github.com/organizations/65169595/team/5058995","html_url":"https://github.com/orgs/sourcegraph-vcr-repos/teams/all_read_only","members_url":"https://api.github.com/organizations/65169595/team/5058995/members{/member}","repositories_url":"https://api.github.com/organizations/65169595/team/5058995/repos","permission":"pull","created_a[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sourcegraph-vcr-repos/repos?sort=created&page=1&per_page=100&type=
    method: GET
  response:
    body: '[{"id":399894286,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk4OTQyODY=","name":"test_all_read_only","full_name":"sourcegraph-vcr-repos/test_all_read_only","private":true,"owner":{"login":"sourcegraph-vcr-repos","id":65169595,"node_id":"MDEyOk9yZ2FuaXphdGlvb[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sourcegraph-vcr-repos/teams/private-access/repos?page=1&per_page=100
    method: GET
  response:
    body: '[{"id":263034151,"node_id":"MDEwOlJlcG9zaXRvcnkyNjMwMzQxNTE=","name":"private-org-repo-1","full_name":"sourcegraph-vcr-repos/private-org-repo-1","private":true,"owner":{"login":"sourcegraph-vcr-repos","id":65169595,"node_id":"MDEyOk9yZ2FuaXphdGl[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sourcegraph-vcr-repos/teams/all_read_only/repos?page=1&per_page=100
    method: GET
  response:
    body: '[{"id":263034151,"node_id":"MDEwOlJlcG9zaXRvcnkyNjMwMzQxNTE=","name":"private-org-repo-1","full_name":"sourcegraph-vcr-repos/private-org-repo-1","private":true,"owner":{"login":"sourcegraph-vcr-repos","id":65169595,"node_id":"MDEyOk9yZ2FuaXphdGlv[...]
[...]
