/* TODO(sqs): duplicative of client/web/src/enterprise/insights/pages/dashboards/dashboard-page/DashboardPage.module.scss */
.feedback-prompt {
    text-align: center;
    width: 20rem;
    padding: 1rem;
}
