@value base "sourcegraph/components/styles/_base.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value layout "sourcegraph/components/styles/_layout.css";

@keyframes frame {
	from {
		border-color: black
	}
	to {
		border-color: white
	}
}

.centered_button {
	composes: tc from typography;
	composes: pa3 from base;
}

.container {
	composes: containerFixed from layout;
	composes: col_12_ns col_11 from grid;
	composes: ph4 from base;
	max-width: 640px;
}
.container_wide {
	composes: container;
	max-width: 900px !important;
}

.faqs_div {
	padding: 20px;
	border-width: 5px;
	border-color: gray;
	border-style: white;
}

.faqs_div_selected {
	padding: 20px;
	border-width: 5px;
	animation-duration: 2000ms;
	animation-name: frame;
	animation-timing-function: linear;
	border-color: white;
	border-style: solid;
}

.faqs_content {
	composes: pv4 from base;
	composes: containerFixed from layout;
	composes: ph4 from base;
	max-width: 640px;
	padding: 20px;
}

.content {
	composes: container;
	composes: pv4 from base;
}
.content_wide {
	composes: content;
	composes: container_wide;
}
.p {
	composes: mt3 mb3 from base;
}
.content table td {
	padding: 9px 9px 0 0;
}
.cta {
	composes: tc from typography;
	composes: pt3 pb4 from base;
}
.white { composes: white from colors; }
.h {
	composes: mt5 from base;
}
.h5 {
	composes: h;
	margin-bottom: -15px;
}
.subtitle {
	font-weight: normal;
	font-size: 1.75rem;
}
.icon {
	vertical-align: middle;
	user-select: none;
	composes: f4 from typography;
	composes: pr1 from base;
}
.footer {
	composes: mt6 from base;
	composes: tc from typography;
}
.sidebox {
}
@media screen and (min-width: 48em) {
	.sidebox {
		float: right;
		max-width: 40%;
	}
}

/* Pricing */
.plans {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.plan {
	min-width: 150px;
}
.plan_box {

}
@media screen and (min-width: 48em) {
	.plan {
		flex: 1 1 28%;
		max-width: 275px;
		composes: mh3 from base;
	}
	.plan_box {
		composes: mb5 from base;
		margin-right: 0 !important; /* cancel media query composed rule below */
	}
}
@media screen and (max-width: 48em) {
	.plan {
		flex: 1 0 100%;
		display: flex;
		margin-bottom: 75px;
		margin-left: 0 !important; /* cancel media query composed rule above */
	}
	.plan_box {
		composes: mr4 from base;
		margin-bottom: 0 !important; /* cancel media query composed rule above */
		flex: 0 0 150px;
	}
}
.plan_panel {
	composes: pt3 pb2 ph3 mb2 br3 from base;
	composes: tc from typography;
}
.currency {
	composes: f3 from typography;
	font-style: italic;
	vertical-align: 2rem;
	font-weight: normal;
	opacity: 0.85;
}
.amount {
	font-size: 4.5rem;
}
.plan_cta {
	composes: fw6 from typography;
}
.plan_cta_noop {
	cursor: default;
}
.details {
	font-size: 1.3rem; /* f4 was slightly too big */
	composes: pl1 pr1 from base;
}
.details_list {
	composes: mt0 from base;
	padding-left: 1.6rem; /* bullets flush with left */
}
.details_list li {
	margin-bottom: 1.1rem;
}
.details_cumulative {
	font-weight: normal;
}

/* Master Plan */
.mp_body p, .mp_body li {
	line-height: 1.7;

	/* system font for long body text */
	font-family: '--apple-system', 'BlinkMacSystemFont', '.SFNSText-Regular', 'San Francisco', 'SFNS Display', 'Roboto', 'Lucida Grande', 'avenir next', 'helvetica', 'ubuntu', 'segoe ui', 'arial', sans-serif;
}
.button_sep {
	composes: mv3 from base;
}
.mailchimp_embed {
	
}
.mailchimp_input {
	display: inline-block;
	composes: mr1 from base;
}
.mailchimp_button {}
