apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:30090
    isDefault: true
    editable: false
  - name: Jaeger
    type: Jaeger
    access: proxy
    url: http://jaeger-query:16686/-/debug/jaeger
