---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects?order_by=last_activity_at&per_page=100&search=vegeta
    method: GET
  response:
    body: '[{"id":4373093,"description":"A GIS-based model that simulates the spatio-temporal
      effect of woodfuel harvesting on the landscape vegetation and that accounts
      for savings in non-renewable woody biomass from reduced consumption.","name":"mofuss","name_with_namespace":"mofuss
      / mofuss","path":"mofuss","path_with_namespace":"mofuss/mofuss","created_at":"2017-10-12T18:53:40.865Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:mofuss/mofuss.git","http_url_to_repo":"https://gitlab.com/mofuss/mofuss.git","web_url":"https://gitlab.com/mofuss/mofuss","readme_url":null,"avatar_url":null,"star_count":1,"forks_count":0,"last_activity_at":"2019-03-26T16:06:52.370Z","namespace":{"id":2068622,"name":"mofuss","path":"mofuss","kind":"user","full_path":"mofuss","parent_id":null}},{"id":11162444,"description":"Market
      Place that connects the local vegetable producers to the clients, to ensure
      that vegetables that you consume are the freshest.\r\nDeveloped only to academic
      purpose. \r\nDiscipline: MAS (Modelação e Análise de Sistemas)\r\nDone with:
      Rui Coelho","name":"VegiCity","name_with_namespace":"Rafael Teixeira / VegiCity","path":"vegicity","path_with_namespace":"rgtzths/vegicity","created_at":"2019-03-05T15:10:04.755Z","tag_list":[],"ssh[...]
