.shimmer-container {
    position: relative;
    overflow: hidden;
    background: var(--code-bg);
    height: 1.2rem;
}

.shimmer-animate::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, #14171f 100%, #1b1f29 100%);
    animation: shimmer 2s ease-out infinite;
    content: '';
}

.shimmer-animate-slower::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, #14171f 100%, #1b1f29 100%);
    animation: shimmer 2.5s ease-out infinite;
    content: '';
}

@keyframes shimmer {
    100% {
        transform: translateX(0%);
        opacity: 0;
    }
}
