.dir-page,
.dir-page-entry {
    overflow-y: auto;
    padding: 2rem;

    &__head {
        display: flex;
        align-items: center;
        font-weight: normal;
        margin-bottom: 0;
    }

    &__empty-cell {
        padding: 0 !important;
        margin: 0;
    }

    &__head-commit-spacer-cell {
        width: 2rem;
    }

    &__table {
        border-collapse: collapse;
        table-layout: fixed;
        white-space: nowrap;
    }

    &__head-row {
        border: none !important;
    }

    &__commit-message-cell {
        color: $color-secondary;
        opacity: 0.75;
    }

    &__committer-cell {
        width: 16%;

        @media screen and (max-width: $media-xl) {
            display: none;
        }

        .avatar-icon {
            height: 1.5rem;
            clip-path: circle(11px at 12px 12px);
            margin-right: 0.75rem;
        }

        .avatar {
            display: inline;
        }
    }

    &__date-cell {
        width: 20%;

        @media screen and (min-width: $media-xl) {
            min-width: 12%;
        }
    }

    &__commit-hash-cell {
        width: 4.75rem;
        font-family: monospace;

        @media screen and (max-width: $media-xl) {
            display: none;
        }
    }

    &__commit-hash-link {
        color: inherit;
    }

    &__name-cell {
        width: 18%;

        @media screen and (min-width: $media-xl) {
            width: 15%;
        }
    }

    &__return-arrow-cell {
        width: 100%;
    }

    &__return-arrow-link {
        color: inherit;
    }

    &__icons-centered {
        display: flex;
        align-items: center;
    }

    &__name-link {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: inherit;
    }

    &__icon-top {
        fill: currentColor;
        width: 2.25rem;
        height: 2.25rem;
        margin-right: 0.4rem;
    }

    &__icon {
        margin-right: 0.4rem;
    }
}

.theme-light {
    .dir-page,
    .dir-page-entry {
        &__commit-message-cell {
            color: inherit;
        }

        &__return-arrow-link {
            color: inherit;
        }
    }
}
