
@import '../components/Breadcrumb';

.repo-nav {
    flex: none;
    height: 3rem;

    display: flex;
    align-items: center;

    border-bottom: 1px solid #233043;

    svg, .icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: currentColor;
        display: inline-block;
    }

    &__rev {
        flex: none;
        margin-left: 0.25rem;
        margin-right: 1rem;

        display: flex;
        cursor: pointer;
        align-items: center;
        border: 1px solid #93A9C8;
        padding-left: .5rem;
        border-radius: .125rem;
        user-select: none;
        max-width: 8rem;
        transition: all 100ms ease-in;

        &:hover {
            border-color: white;
            color: white;
        }

        &-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__path {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        overflow: hidden;
        min-width: 0;
    }

    &__action {
        display: flex;
        align-items: center;
        color: #93A9C8;
        margin-left: 1rem;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;

        .icon {
            margin-right: 0.25rem;
        }

        &-text {
            @media (max-width: $media-lg) {
                display: none;
            }
        }
    }
}
