
.repo-nav {
    flex: none;
    height: 3rem;

    display: flex;
    align-items: center;

    border-bottom: 1px solid #233043;
    font-size: .75em;

    a, .path a {
        text-decoration: none;
    }

    svg.icon {
        width: 1rem;
        height: 1rem;
        display: inherit;
        fill: currentColor;
        margin-right: 5px;
        margin-left: 5px;
    }

    svg.github-icon {
        display: inherit;
        fill: currentColor;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    .explorer, &__rev {
        display: flex;
        cursor: pointer;
        align-items: center;
        margin-right: 1.5em;
        margin-left: .75em;

        .group-icon {
            margin: 0px 10px;
            width: 0.5rem;
            height: 0.5rem;
        }
    }
    &__rev {
        border: 0.0625rem solid #93A9C8;
        line-height: 1.5rem;
        padding-left: .5rem;
        border-radius: .125rem;
        user-select: none;
    }

    .path {
        flex: 1;
        display: flex;
        align-items: center;

        .separator {
            padding: 0px 5px;
        }
    }

    .share {
        display: flex;
        align-items: center;
        color: #93A9C8;
        margin-right: 10px;
        cursor: pointer;
    }

    .view-external {
        display: flex;
        align-items: center;
        color: #93A9C8;
    }
}
