
@import './RepoNav';
@import './Blob';

.repository {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 0;

    border-bottom: 1px solid #233043;

    &__content {
        flex: 1 1 auto;
        display: flex;
        min-height: 0;
    }

    &__sidebar {
        flex: 0 0 auto;
        width: 15.75rem;

        display: flex;
        flex-direction: column;
    }

    &__tree-header {
        flex: none;
        width: 100%;
    }

    &__tree {
        flex: 1 1 auto;
        width: 100%;
        overflow: auto;
    }

    &__viewer {
        flex: 1 1 auto;

        display: flex;
        flex-direction: column;
        min-height: 0;
        min-width: 0;

        background-color: #151D28;
    }

    &__no-file {
        padding-top: 128px;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;

        color: #93A9C8;
    }

    &__icon-fab {
        border-radius: 100%;
        width: 96px;
        height: 96px;
        background-color: #233043;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            fill: currentColor;
            width: 64px;
            height: 64px;
        }
    }

    &__uri-title {
        font-size: 32px;
        margin-top: 16px;
        font-family: system;
        line-height: 40px;
    }

    &__subtitle {
        font-size: 12px;
        line-height: 16px;
        margin-top: 8px;
    }

    &__blob-placeholder {
        flex: 1 1 50%;
    }
}

.ref-panel {
    flex: 2;
    overflow: auto;
    background-color: #070A0D;
}
