
@import './RepoNav';
@import './RevSwitcher';
@import './Blob';
@import './DirectoryPage';
@import './marketing/Toast';
@import '../tree/Tree';
@import '../tree/TreeHeader';

.repository {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 0;

    border-bottom: 1px solid #233043;

    &__blob-alert {
        font-family: system;
        font-size: .875rem;
        color: #93A9C8;
        background-color: #1c2736;
        display: flex;
        padding: .5em;
        line-height: 2em;
    }

    &__content {
        flex: 1 1 auto;
        display: flex;
        min-height: 0;
    }

    &__sidebar {
        flex: 0 0 auto;

        display: flex;
        flex-direction: column;
        position: relative;

        max-width: 60%;

        background: #1C2736;

        &:not(&--open) {
            width: 0;
        }
        &--open .tree {
            width: 14rem;
        }
    }


    &__sidebar-toggle {
        position: absolute;
        top: 0;
        left: -2.5rem;
        width: 2.5rem;
        height: 2.5rem;
        z-index: 20;

        display: flex;
        justify-content: center;

        background: #1C2736;
        border-radius: 0.25rem 0 0 0.25rem;

        @media (max-width: $media-md) {
            // Make toggle float over code and file tree instead of off to the right
            left: inherit;
            right: -2.5rem;
            border-radius: 0 0 0.25rem;
        }
    }

    &__viewer {
        flex: 1 1 auto;
        z-index: 10; // Overlay the sidebar when sidebar is closed

        display: flex;
        position: relative;
        flex-direction: column;
        min-height: 0;
        min-width: 0;

        background-color: #0E121B;
    }

    &__blob-placeholder {
        flex: 1 1 50%;
    }

    &__full-width-toggle {
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        top: 0;
        right: -2.5rem;
        z-index: 1; // Outline should overlay blob

        display: flex;
        justify-content: center;

        border-radius: 0 0.25rem 0.25rem 0;
        background: #1C2736;

        @media (max-width: $media-md) {
            // toggle is not useful on such a small screen, since we're always 100%.
            display: none;
        }
    }
}
