@import '../components/Breadcrumb';

.repo-nav {
    flex: none;
    height: 3rem;
    padding: 0 1.25rem 0 0.25rem;

    display: flex;
    align-items: center;

    border-bottom: 1px solid #233043;

    &__path {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        overflow: hidden;
        min-width: 0;
        padding-right: 1rem;
    }

    &__action {
        display: flex;
        align-items: center;
        color: #93a9c8;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;

        // Prevent attempts to copy the breadcrumb from also copying this element's text.
        &:not(:first-of-type) {
            margin-left: 1rem;
        }

        &-text {
            margin-left: 0.5rem;

            @media (max-width: $media-md) {
                display: none;
            }
        }
    }
}

.theme-light {
    .repo-nav {
        border: none;
    }
}
