.repo-rev-switcher {
    width: 0;
    height: 0;
    z-index: 1;

    &__inner {
        background: #1c2736;
        border: 0.0625rem solid #2A3A51;
        border-radius: .25rem;
        font-size: .875rem;
        width: 16rem;
        display: flex;
        flex-direction: column;
    }

    &__input {
        margin: .5rem;
        padding: .5rem;
        border: none;
        outline: none;
        background: #151D28;
        color: white;
        font-size: inherit;
        line-height: 1.5rem;
        &::placeholder {
            color: #93A9C8;
        }
    }
    &__list-view {
        overflow: auto;
        background: #233043;
        max-height: 36.25rem;
    }
    &__list-item {
        display: inline-block;
        width: 100%;
        height: 2.5rem;
        cursor: pointer;
        padding: .25rem .5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: .75rem;
        line-height: 1rem;
        &:hover {
            background: #2A3A51;
        }
        &--selected {
            background: #2A3A51;
            &:hover {
                background: #2A3A51;
            }
        }
        >span.icon {
            background: #2A3A51;
            display: inline-block;
            width: 2.5rem;
            height: 2rem;
            margin-right: .5rem;
            fill: currentColor;
            vertical-align: middle;
            padding-left: .6875rem;
            padding-top: .4375rem;
            >svg.icon {
                width: 1.125rem;
                height: 1.125rem;
            }
        }
    }
}
