.tooltip {
    background-color: #1c2736;
    max-width: 450px;
    min-width: 275px;
    border: solid 1px #2a3a51;
    color: #93a9c8;
    z-index: 100;
    position: absolute;
    overflow: auto;
    border-radius: 3px;
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);

    &__title {
        flex: 1;
        word-wrap: break-word;
        margin-left: 0;
        padding: 0;
    }

    &__divider {
        display: flex;
        border-bottom: 1px solid #2a3a51;
        padding: 0.5rem;
    }

    &__doc {
        padding: 0.5rem;
        max-height: 150px;
        overflow: auto;

        margin-bottom: 0;
        font-family: system;
        border-bottom: 1px solid #2a3a51;

        p:not(:first-child) {
            margin-top: 0.5rem;
        }
    }

    &__actions {
        display: flex;
        text-align: center;
        font-family: system;
    }

    &__action {
        flex: 1;
        cursor: pointer;
        text-decoration: none;
        padding: 0.5rem;
        color: white;

        &:not(:last-child) {
            border-right: 1px solid #2a3a51;
        }

        &:hover {
            background-color: rgba(57, 77, 105, 0.2);
        }
    }

    &__more-actions {
        font-style: italic;
        color: white;
        padding: 0.5rem;
        font-family: system;
    }

    &__close-icon {
        cursor: pointer;
        margin-left: 0.75rem;

        &:hover {
            color: white;
        }

        svg {
            fill: currentColor;
        }
    }

    &__loading {
        padding: 0.5rem;
        font-family: system;
    }

    &__definition-icon {
        margin-right: 0.75rem;
    }

    &__references-icon {
        margin-right: 0.75rem;
    }
}

.theme-light {
    .tooltip {
        background-color: $color-light-bg-2;
        border: solid 1px $color-light-border;
        color: inherit;

        &__divider {
            border-bottom: 1px solid $color-light-border;
        }

        &__doc {
            border-bottom: 1px solid $color-light-border;
        }

        &__action {
            color: inherit;

            &:not(:last-child) {
                border-right: 1px solid $color-light-border;
            }

            &:hover {
                background-color: $color-light-bg-4;
            }
        }

        &__more-actions {
            color: inherit;
        }

        &__close-icon {
            &:hover {
                color: inherit;
            }
        }
    }
}
