.file-path-breadcrumbs {
    display: flex;
    align-items: center;

    .part-directory {
        flex: 1 1 1em;
        max-width: fit-content;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }

    .part-last {
        font-weight: bold;
    }

    &__separator {
        // IMPORTANT
        //
        // This needs to be margin, not padding, because padding can become
        // spaces when copy-pasted in Chrome, while margin is ignored.
        margin: 0 0.125rem;
    }
}
