@import '../tree/Tree';
@import './blob/BlobPage';
@import './TreePage';
@import './GitRef';
@import '../marketing/Toast';
@import './RepoRevSidebar';
@import './RevisionsPopover';
@import './commits/RepositoryCommitsPage';

.repo-rev-container {
    flex: 1 1 auto;

    display: flex;
    min-height: 0;

    position: relative; // for sidebar toggle

    &__sidebar {
        &-toggle {
            background-color: var(--bg-muted);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1; // overlay the content when sidebar is closed
        }

        &-resizable {
            max-width: 60%;
            min-width: 8rem;
            &--open .tree {
                width: 16rem;
            }
        }
    }

    &__content {
        flex: 1 1 auto;

        display: flex;
        flex-direction: column;
        min-height: 0;
        min-width: 0;

        background-color: var(--bg-muted);
    }
}
