@import './CommitSearchResult';
@import '../../components/FileMatch';
@import './RepositorySearchResult';
@import '../../components/ResultContainer';
@import '../../components/ModalContainer';
@import '../../symbols/SymbolIcon';

.search-results-list {
    overflow-y: auto;
    padding: 1rem 2.5rem;

    &__more {
        width: 100%;
        text-align: left;
        padding-bottom: 2rem;
    }

    &__jump-to-top {
        color: $color-light-text-1;
        background-color: $color-light-bg-2;
        padding: 0.25rem 0.5rem;
        text-align: center;
        border-bottom: 1px solid $color-light-border;
    }

    // In narrow windows, make the results flush with the left/right sides,
    // but we still need padding for the header and alerts.
    @include media-breakpoint-down(lg) {
        &__list {
            padding-left: 0;
            padding-right: 0;
        }

        &__info-row-left {
            margin-left: 0.5rem;
        }

        &__alert {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }
}

.theme-dark {
    .search-results-list {
        &__jump-to-top {
            color: $color-text-2;
            background-color: $color-bg-2;
            border-bottom-color: $color-border;
        }
    }
}
