.filled {
    background-color: var(--primary-4);
    border-radius: var(--border-radius);
    margin: 1rem 0;
    padding: 0.313rem 1.125rem;
}

.outlined {
    background-color: var(--color-bg-1);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.5rem;
}

.underlined {
    background: linear-gradient(to left, var(--blue) 0%, var(--purple) 100%) left bottom no-repeat;
    background-size: 100% 1px;
    padding: 0.375rem 0.5rem;
}
