.hero-page {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 0;
    padding-top: 8rem;
    text-align: center;
    align-items: center;
    overflow-y: auto;
}

.cta {
    margin-top: 1rem;
}

.subtitle {
    margin-top: 1rem;
}

.title {
    font-size: 2rem;
    margin: 1rem 0 0;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: normal;
}

.icon-wrapper {
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
    min-height: 6rem;
    background-color: var(--color-bg-2);
    display: flex;
    align-items: center;
    justify-content: center;

    :global(.mdi-icon) {
        fill: currentColor;
        width: 4rem;
        height: 4rem;
    }
}

.icon {
    --icon-inline-size: 4rem;
}

.less-padding {
    padding-top: 4rem;
}

.default-padding {
    padding-top: 8rem;
}
