.page-selector {
    display: flex;
    align-items: center;
    justify-content: center;

    &__pages {
        display: flex;
        list-style: none;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    &__button {
        min-width: 2.5rem;
    }
}
