.page-header {
    &__annotation {
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
    }

    &__byline {
        font-size: 0.75rem;
        margin-top: 0.75rem;
    }

    & .page-header__icon {
        height: 2rem;
        width: 2rem;
    }
}
