.scroll-wrapper {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--code-bg);

    &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--oc-gray-4);
    }

    &::-webkit-scrollbar-track {
        background-color: var(--oc-gray-1);
    }

    @-moz-document url-prefix('') {
        scrollbar-width: thin;
        scrollbar-color: var(--oc-gray-1);
    }

    :global(.theme-dark) & {
        &::-webkit-scrollbar-thumb {
            background-color: var(--oc-gray-8);
        }

        &::-webkit-scrollbar-track {
            background-color: var(--oc-gray-7);
        }

        @-moz-document url-prefix('') {
            scrollbar-width: thin;
            scrollbar-color: var(--oc-gray-6);
        }
    }
}

.footer {
    margin-top: auto;
}
