---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects?per_page=100&search=gokulkarthick
    method: GET
  response:
    body: '[{"id":927197,"description":"","name":"gokulkarthick","name_with_namespace":"Gokul
      Karthick / gokulkarthick","path":"gokulkarthick","path_with_namespace":"gokulkarthick/gokulkarthick","created_at":"2016-03-02T10:30:48.552Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gokulkarthick/gokulkarthick.git","http_url_to_repo":"https://gitlab.com/gokulkarthick/gokulkarthick.git","web_url":"https://gitlab.com/gokulkarthick/gokulkarthick","readme_url":"https://gitlab.com/gokulkarthick/gokulkarthick/blob/master/README.md","avatar_url":null,"star_count":0,"forks_count":0,"last_activity_at":"2016-03-02T10:30:49.086Z","namespace":{"id":509170,"name":"gokulkarthick","path":"gokulkarthick","topics":["topic1", "topic2"],"kind":"user","full_path":"gokulkarthick","parent_id":null}}]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2e213a0bf612bec448cc4972d255ca73"
      Link:
      - <https://gitlab.com/api/v4/projects?membership=false&owned=false&page=1&per_page=100&repository_checksum_failed=false&search=gokulkarthick&simple=false&sort=desc&starred=false&statistics=false&wiki_checksum_failed=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
        rel="first", <https://gitlab.com/api/v4/projects?membership=false&owned=false&page=1&per_page=100&repository_checksum_failed=false&search=gokulkarthick&simple=false&sort=desc&starred=false&statistics=false&wiki_checksum_failed=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
        rel="last"
      X-Next-Page:
      - ""
      X-Page:
      - "1"
      X-Per-Page:
      - "100"
      X-Prev-Page:
      - ""
      X-Total:
      - "1"
      X-Total-Pages:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects?per_page=100&search=dotfiles-vegetableman
    method: GET
  response:
    body: '[{"id":8781514,"topics":["topic1", "topic2"],"description":null,"name":"dotfiles-vegetableman","name_with_namespace":"guld
      / dotfiles-vegetableman","path":"dotfiles-vegetableman","path_with_namespace":"guld/dotfiles-vegetableman","created_at":"2018-10-09T18:3[...]
