---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/sg-test.d%2Frepo-gitrepo
    method: GET
  response:
    body: '{"id":14359850,"description":"","topics":["topic1", "topic2"],"name":"repo-gitrepo","name_with_namespace":"sg-test.d
      / repo-gitrepo","path":"repo-gitrepo","path_with_namespace":"sg-test.d/repo-gitrepo","created_at":"2019-09-17T20:40:07.383Z","default_branch":null,"tag_list":[],"ssh_url_to_repo":"git@gitlab.com:sg-test.d/repo-gitrepo.git","http_url_to_repo":"https://gitlab.com/sg-test.d/repo-gitrepo.git","web_url":"https://gitlab.com/sg-test.d/repo-gitrepo","readme_url":null,"avatar_url":null,"star_count":0,"forks_count":0,"last_activity_at":"2019-09-17T20:40:07.383Z","namespace":{"id":6089138,"name":"sg-test.d","path":"sg-test.d","kind":"group","full_path":"sg-test.d","parent_id":null,"avatar_url":null,"web_url":"https://gitlab.com/groups/sg-test.d"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8c1521b5ed1f7a03ba5f5594b2852968"
      Gitlab-Lb:
      - fe-19-lb-gprd
      Gitlab-Sv:
      - localhost
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://gitlab.com/api/v4/projects/sg-test.d%2Frepo-git
    method: GET
  response:
    body: '{"id":14359033,"topics":["topic1", "topic2"],"description":"","name":"repo-git","name_with_namespace":"sg-test.d
      / repo-git","path":"repo-git","path_with_namespace":"sg-test.d/repo-git","created_at":"2019-09-17T19:42:09.270Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:sg-test.d/repo-git.git","http_url_to_repo":"https://gitlab.com/sg-test.d/repo-git.git","web_url":"https://gitlab.com/sg-test.d/repo-git","readme_url":"https://gitlab.com/sg-test.d/repo-git/blob/master/README.md","avatar_url":null,"star_count":0,"forks_count":0,"last_activity_at":"2019-09-17T19:42:09.270Z","namespace":{"id":6089138,"name":"sg-test.d","path":"sg-test.d","kind":"group","full_path":"sg-test.d","parent_id":null,"avatar_url":null,"web_url":"https://gitlab.com/groups/sg-test.d"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"190091a3dbf853dbbbcee3af3d84dc31"
      Gitlab-Lb:
      - fe-17-lb-gprd
      Gitlab-Sv:
      - localhost
    status: 200 OK
    code: 200
    duration: ""
