.action-container {
    margin: 1.5rem 0;
    padding: 1rem;

    border: 1px solid var(--border-color);
    border-radius: 0.125rem;
}

.row {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.title {
    margin-bottom: 0;
}

.btn {
    display: flex;
    align-items: center;
    flex: 0 0 auto;

    &-container {
        margin-left: 1.5rem;
        flex: 0 0 auto;
        align-self: flex-start;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-subtitle {
        color: var(--danger);
    }
}

.flash {
    opacity: 0;
    transition: opacity 500ms ease-out;

    &--visible {
        opacity: 1;
    }
}

.content {
    flex-shrink: 1;
    min-width: 0;
}
