.references-container {
    height: 100%;
    display: flex;
    overflow-x: hidden;
}

.resizable-group {
    --panel-bg-color: transparent;

    min-width: 6rem;
    padding-top: 0.5rem;
    overflow-y: auto;
    padding-right: 0.55rem;
    margin-right: 0.55rem;
}

.resizable-handle {
    --panel-handle-bg-color: transparent;

    transition: opacity 0.15s;

    &:hover {
        --panel-handle-bg-color: var(--border-color-2);
    }
}

.group-list {
    flex: 1;
    border-right: none;
    overflow-x: hidden;
}

.file-locations {
    flex: 1;
    width: 100%;
    margin-right: -1rem;
}
