.location-button {
    display: flex;
    flex: none;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
    font-size: 0.75rem;
    line-height: (16/12);
    border: none;
    outline: none;

    &:focus-visible {
        // Show item outline over the active item background instead of cutting it.
        z-index: 2;
    }

    &:global(.active) {
        background-color: var(--primary);
        margin-top: 0;

        &:hover {
            color: var(--light-text);
        }

        .location-badge {
            color: var(--light-text);
        }
    }
}

.location-name {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;

    min-width: 0;

    &-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        direction: rtl;
    }
}

.location-count {
    opacity: 1;
    color: var(--primary);
}
