/*
This is the main entry point for all styles
It should import all component stylesheets
*/

// Use duplicate selectors for the light-theme
// stylelint-disable no-duplicate-selectors

// Media breakpoints
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;

@import '../../shared/src/global-styles/colors.scss';

// Bootstrap configuration before Bootstrap is imported
$border-radius: 2px;
$border-radius-sm: 1px;
$border-radius-lg: 4px;
$font-size-base: 0.875rem;
$line-height-base: (20/14);

$box-shadow: 0 0.25rem 0.5rem rgba($gray-19, 0.07);

$grid-gutter-width: 1.5rem;

// No max width except for xl.
$container-max-widths: (
    xl: 1140px,
);

$body-color: var(--body-color);
$body-bg: var(--body-bg);

$text-muted: var(--text-muted);

// Borders
$border-color: var(--border-color);
.theme-dark {
    --border-color: #{$color-border};
}
.theme-light {
    --border-color: #{$color-light-border};
}

// Links

$link-color: var(--link-color);
$link-hover-color: var(--link-hover-color);

// Alerts

$alert-bg-level: 5;
$alert-border-level: -1;
$alert-color-level: -10;

$alert-bg-level-light: -10;
$alert-border-level-light: -9;
$alert-color-level-light: 6;

$alert-padding-y: 0.75rem;
$alert-padding-x: 0.75rem;

// Badges

$badge-font-size: 0.75em;
$badge-font-weight: 600;
$badge-padding-y: 0.34em;
$badge-padding-x: 0.6em;

// Tooltips

$tooltip-bg: $gray-19;

// Forms

$form-check-input-margin-y: 0.2em;
$input-btn-focus-width: 2px;
$input-focus-border-color: $primary;
// The default focus ring for buttons is very hard to see, raise opacity.
// We only show the focus ring when using the keyboard, when the focus ring
// should be clearly visible.
$btn-focus-box-shadow: 0 0 0 $input-btn-focus-width rgba($primary, 0.8);

// Forms don't manipulate the colors at compile time,
// which is why we can use CSS variables for theming here
// That's nice because the forms theming CSS would otherwise
// be way more complex than it is for other components
$input-bg: var(--input-bg);
$input-disabled-bg: var(--input-disabled-bg);
$input-border-color: var(--input-border-color);
$input-color: var(--input-color);
$input-placeholder-color: var(--input-placeholder-color);
$input-group-addon-color: var(--input-group-addon-color);
$input-group-addon-bg: var(--input-group-addon-bg);
$input-group-addon-border-color: var(--input-group-addon-border-color);

// Dropdown
$dropdown-bg: var(--dropdown-bg);
$dropdown-border-color: var(--dropdown-border-color);
$dropdown-divider-bg: var(--border-color);
$dropdown-link-color: var(--body-color);
$dropdown-link-hover-color: var(--dropdown-link-hover-color);
$dropdown-link-hover-bg: var(--dropdown-link-hover-bg);
$dropdown-link-active-color: #ffffff;
$dropdown-link-active-bg: var(--primary);
$dropdown-link-disabled-color: var(--text-muted);
$dropdown-header-color: var(--dropdown-header-color);
$dropdown-item-padding-y: 0.25rem;
$dropdown-item-padding-x: 0.5rem;
$dropdown-padding-y: $dropdown-item-padding-y;

// Tables

$table-cell-padding: 0.625rem;
$table-hover-bg: #0e121b;
$table-border-color: #2b3750;

$table-hover-bg-light: #f2f4f8;
$table-border-color-light: #e4e9f1;

// Progress
$progress-height: auto;

// Collapsible
$collapsible-expand-btn-width: 1.25rem;

$hr-border-color: var(--border-color);
$hr-margin-y: 0.25rem;

$code-bg: var(--body-bg);

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/progress';
@import 'bootstrap/scss/tooltip';
@import 'bootstrap/scss/transitions';
@import './global-styles/badge';
@import './global-styles/card';
@import './global-styles/dropdown';
@import './global-styles/modal';
@import './global-styles/nav';
@import './global-styles/type';
@import '../../shared/src/global-styles/icons';
@import './global-styles/list-group';
@import './global-styles/tables';
@import './global-styles/code';
@import './global-styles/buttons';
@import './global-styles/alert';
@import './global-styles/forms';
@import './global-styles/highlight';
@import './global-styles/web-content';

* {
    box-sizing: border-box;
}

html {
    // Base for layout rem values
    font-size: 16px;
}

// stylelint-disable-next-line selector-max-id
html,
body,
#root {
    height: 100%;
}

// Document highlight is the background color for tokens which are matched with
// a result from a document highlight provider. e.g. for references of the token
// currently being hovered over.
//
// Note that we define this before selection highlights so that it will override
// the styles of symbol that has both classes applied.
.sourcegraph-document-highlight {
    background-color: var(--secondary);
}

// Selection highlight is the background color for matched/highlighted tokens,
// e.g. for search results, for identifying the token currently being hovered over,
// or identifying the token the references panel is toggled for
.selection-highlight,
.selection-highlight-sticky {
    background-color: rgba(217, 72, 15, 0.5);
}

.theme-light {
    .selection-highlight,
    .selection-highlight-sticky {
        background-color: rgba(255, 192, 120, 0.5);
    }
}

.app {
    &__error {
        > hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border-color: #93a9c8;
        }

        &-text {
            margin-top: 1rem;
            background-color: #233043;
            padding: 1rem;
        }
    }
}

.spacer {
    flex: 1;
}

.flex-1 {
    flex: 1;
}

.flex-shrink-past-contents {
    flex-shrink: 1;
    min-width: 0;
}

.cursor-pointer {
    cursor: pointer;
}

// Our simple popovers only need these styles. We don't want the caret or special font sizes from
// Bootstrap's popover CSS.
.popover-inner {
    background-color: var(--body-bg);
    border: solid 1px var(--border-color);
    border-radius: $border-radius;
}

// Show a focus ring when performing keyboard navigation. Uses the polyfill at
// https://github.com/WICG/focus-visible because few browsers support :focus-visible.
:focus:not(:focus-visible) {
    outline: none;
}
:focus-visible {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
}

// Hide the given element from Percy.
.percy-hide,
.monaco-editor .cursor {
    @media only percy {
        visibility: hidden !important;
    }
}

// Pages
@import './Layout';
@import './api/ApiConsole';
@import './extensions/ExtensionsArea';
@import './extensions/extension/ExtensionArea';
@import './global/GlobalAlerts';
@import './global/GlobalDebug';
@import './global/Notices';
@import './savedSearches/index';
@import './search/input/SearchPage';
@import './search/SearchConsolePage';
@import './repogroups/RepogroupPage';
@import './search/queryBuilder/index';
@import './search/results/SearchResults';
@import './settings/SettingsFile';
@import './site-admin/init/SiteInitPage';
@import './site-admin/SiteAdmin';
@import './tree/Tree';
@import './nav/GlobalNavbar';
@import './nav/NavLinks';
@import './auth/ResetPasswordPage';
@import './auth/SignInPage';
@import './auth/SignUpPage';
@import './auth/OrDivider';
@import './repo/GitReferenceTag';
@import './repo/RepoContainer';
@import './repo/FilePathBreadcrumbs.scss';
@import './repo/settings/RepoSettingsArea';
@import './components/LoaderInput';
@import './components/CodeSnippet';
@import './components/PageHeader';
@import './components/completion/CompletionWidgetDropdown';
@import './components/CopyableText';
@import './components/FilteredConnection';
@import './components/SaveToolbar';
@import './components/DecoratedTextLines';
@import './components/HeroPage';
@import './components/ModalPage';
@import './components/RadioButtons';
@import './components/tooltip/Tooltip';
@import './components/CtaBanner.scss';
@import './user/settings/UserSettingsArea';
@import './site-admin/SiteAdminAlert';
@import './site/DockerForMacAlert';
@import './user/UserAvatar';
@import './user/area/UserArea';
@import './org/OrgsArea';
@import './components/Collapsible';
@import './components/DismissibleAlert';
@import './marketing/SurveyPage';
@import './components/branding/BrandLogo';
@import './components/SingleValueCard';
@import './components/SearchResult';
@import './components/SearchResultMatch';
@import './components/diff/FileDiffNode';
@import './components/externalServices/AddExternalServicesPage';
@import '~@sourcegraph/react-loading-spinner/lib/LoadingSpinner.css';

@import '../../shared/src/index';

:root {
    // Skip Reach UI styles. See https://reacttraining.com/reach-ui/styling/.
    --reach-menu-button: 1;
    --reach-accordion: 1;
}

// TODO(sqs): hack, copied from dropdown.scss
[data-reach-listbox-popover]:focus-within {
    border-radius: 4px;
    box-shadow: 0 0 12px 0 rgba(0, 27, 76, 0.085);
    outline: none !important;
    border: solid 1px var(--border-color);
}
