/*
This is the main entry point for all styles. It should import all component stylesheets.
*/

// Bootstrap configuration before Bootstrap is imported

// Disable superfluous visual effects.
$enable-rounded: false;
$enable-transitions: false;

@import './global-styles/index';

@import 'bootstrap/scss/functions';
// @import 'bootstrap/scss/variables';

///////////////////////////////////////

* {
    box-sizing: border-box;
}

html {
    // Base for layout rem values
    font-size: 16px;
}

// stylelint-disable-next-line selector-max-id
html,
body,
#root {
    height: 100%;
}

// Selection highlight is the background color for matched/highlighted tokens,
// e.g. for search results, for identifying the token currently being hovered over,
// or identifying the token the references panel is toggled for
.selection-highlight {
    background-color: rgba(255, 192, 120, 0.5);
}
// Same as above, but indicates highlighting for a fixed hover (vs. e.g.
// an ephemeral mouseover on some token).
.selection-highlight-sticky {
    background-color: rgba(255, 192, 120, 0.5);
}

.form-control::placeholder {
    opacity: 0.5;
}

.spacer {
    flex: 1;
}

// Pages
@import './Layout';
@import './api/APIConsole';
@import './extensions/ExtensionsArea';
@import './extensions/extension/ExtensionArea';
@import './global/GlobalAlerts';
@import './global/GlobalDebug';
@import './global/Notices';
@import './search/input/ScopePage';
@import './search/input/SearchPage';
@import './search/results/SearchResults';
@import './settings/SettingsFile';
@import './site-admin/SiteInitPage';
@import './site-admin/SiteAdmin';
@import './tree/Tree';
@import './nav/GlobalNavbar';
@import './nav/NavLinks';
@import './auth/ResetPasswordPage';
@import './auth/SignInPage';
@import './auth/SignUpPage';
@import './repo/GitRefTag';
@import './repo/RepoContainer';
@import './repo/settings/RepoSettingsArea';
@import './components/completion/CompletionWidgetDropdown';
@import './components/CopyableText';
@import './components/FilteredConnection';
@import './components/SaveToolbar';
@import './components/DecoratedTextLines';
@import './components/HeroPage';
@import './components/ModalPage';
@import './components/RadioButtons';
@import './components/Select';
@import './components/tooltip/Tooltip';
@import './user/settings/UserSettingsArea';
@import './site-admin/SiteAdminAlert';
@import './site/DockerForMacAlert';
@import './user/area/UserArea';
@import './org/OrgsArea';
@import './open/OpenPage';
@import './components/AnimatedAlert';
@import './components/DismissibleAlert';
@import './marketing/SurveyPage';
@import './components/SingleValueCard';
@import './repo/blob/discussions/DiscussionsTree';
@import './components/SearchResult';
@import './components/SearchResultMatch';
@import '~@sourcegraph/react-loading-spinner/lib/LoadingSpinner.css';

@import '../../shared/src/index';
