.step-input {
    flex-basis: 6rem;
    margin-right: 1rem;
}

// For some groups in a form we need to change a standard
// visual behavior of legend label (reset font size and weight)
.group-label {
    font-size: 0.875rem;
    font-weight: 500;
}
