{{define "Head"}}<title>Builds - Sourcegraph</title>
<meta name="robots" content="noindex">
{{end}}

{{define "Body"}}
<h1>Builds</h1>

<ul class="nav nav-tabs">
	{{$currentOpt:=.Opt}}
	{{range .Tabs}}
	<li {{if schemaMatchesExceptListAndSortOptions .BuildListOptions $currentOpt}}class="active"{{end}}><a href="{{urlWithSchema .BuildListOptions}}">{{.Name}}</a></li>
	{{end}}
</ul>

{{if .Builds}}
<table class="table builds">
	<thead>
		<tr><th>Repo</th><th>#</th><th>Commit</th><th>Status</th><th>Elapsed</th></tr>
	</thead>
	{{range .Builds}}
	{{template "BuildRow" .}}
	{{end}}
</table>
{{else}}
<br>
<div class="alert alert-info">No matching builds found.</div>
{{end}}

{{if .PageLinks}}{{template "Pagination" .PageLinks}}{{end}}
{{end}}

{{define "BuildRow"}}
<tr class="build {{buildClass .}}" data-href="{{urlToRepoBuild .Repo .ID}}">
	<th>
		{{template "RepoLink" (repoLink .Repo)}}
	</th>
	{{template "BuildCells" .}}
</tr>
{{end}}
