---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/repos?sort=created&visibility=private&page=1&per_page=100&affiliation=owner,collaborator
    method: GET
  response:
    body: '[{"id":263034073,"node_id":"MDEwOlJlcG9zaXRvcnkyNjMwMzQwNzM=","name":"private-user-repo-1","full_name":"sourcegraph-vcr/private-user-repo-1","private":true,"owner":{"login":"sourcegraph-vcr","id":63290851,"node_id":"MDQ6VXNlcjYzMjkwODUx","avatar_url":"https://avatars.githubusercontent.com/u/63290851?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph-vcr","html_url":"https://github.com/sourcegraph-vcr","followers_url":"https://api.github.com/users/sourcegraph-vcr/followers","following_url":"https://api.github.com/users/sourcegraph-vcr/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph-vcr/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph-vcr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph-vcr/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph-vcr/orgs","repos_url":"https://api.github.com/users/sourcegraph-vcr/repos","events_url":"https://api.github.com/users/sourcegraph-vcr/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph-vcr/received_events","type":"User","site_admin":false},"html_url":"https://github.com/sourcegraph-vcr/private-user-repo-1","description":null,"fork":false,"url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1","forks_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/forks","keys_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/keys{/key_id}","collaborators_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/teams","hooks_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/hooks","issue_events_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/issues/events{/number}","events_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/events","assignees_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/assignees{/user}","branches_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/branches{/branch}","tags_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/tags","blobs_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/git/refs{/sha}","trees_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/git/trees{/sha}","statuses_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/statuses/{sha}","languages_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/languages","stargazers_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/stargazers","contributors_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/contributors","subscribers_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/subscribers","subscription_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/subscription","commits_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/commits{/sha}","git_commits_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/git/commits{/sha}","comments_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/comments{/number}","issue_comment_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/issues/comments{/number}","contents_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/contents/{+path}","compare_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/compare/{base}...{head}","merges_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/merges","archive_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/downloads","issues_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/issues{/number}","pulls_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/pulls{/number}","milestones_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/milestones{/number}","notifications_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/labels{/name}","releases_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/releases{/id}","deployments_url":"https://api.github.com/repos/sourcegraph-vcr/private-user-repo-1/deployments","created_at":"2020-05-11T12:20:12Z","updated_at":"2020-05-11T12:20:17Z","pushed_at":"2020-05-11T12:20:14Z","git_url":"git://github.com/sourcegraph-vcr/private-user-repo-1.git","ssh_url":"git@github.com:sourcegraph-vcr/private-user-repo-1.git","clone_url":"https://github.com/sourcegraph-vcr/private-user-repo-1.git","svn_url":"https://github.com/sourcegraph-vcr/private-user-repo-1","homepage":null,"size":14,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"gpl-3.0","name":"GNU
      General Public License v3.0","spdx_id":"GPL-3.0","url":"https://api.github.com/licenses/gpl-3.0","node_id":"MDc6TGljZW5zZTk="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3178a3570975af330cbc5978dd6da9e8af00bd11f0bb036aa7de9e661d60fe7a"
      X-Github-Api-Version-Selected:
      - "2022-11-28"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4985"
      X-Ratelimit-Reset:
      - "1695037441"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "15"
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/orgs?per_page=100&page=1
    method: GET
  response:
    body: '[{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","url":"https://api.github.com/orgs/sourcegraph","repos_url":"https://api.github.com/orgs/sourcegraph/repos","events_url":"https://api.github.com/orgs/sourcegraph/events","hooks_url":"https://api.github.com/orgs/sourcegraph/hooks","issues_url":"https://api.github.com/orgs/sourcegraph/issues","members_url":"https://api.github.com/orgs/sourcegraph/members{/member}","public_members_url":"https://api.github.com/orgs/sourcegraph/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/3979584?v=4","description":"Code
      AI platform: Cody and Code Search"},{"login":"sgtest","id":5858054,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU4NTgwNTQ=","url":"https://api.github.com/orgs/sgtest","repos_url":"https://api.github.com/orgs/sgtest/repos","events_url":"https://api.github.com/orgs/sgtest/events","hooks_url":"https://api.github.com/orgs/sgtest/hooks","issues_url":"https[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sourcegraph
    method: GET
  response:
    body: '{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","url":"https://api.github.com/orgs/sourcegraph","repos_url":"https://api.github.com/orgs/sourcegraph/repos","events_url":"https://api.github.com/orgs/sourcegraph/events","hooks_url":"https://api.github.com/orgs/sourcegraph/hooks","issues_url":"https://api.github.com/orgs/sourcegraph/issues","members_url":"https://api.github.com/orgs/sourcegraph/members{/member}","public_members_url":"https://api.github.com/orgs/sourcegraph/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/3979584?v=4","description":"Code
      AI platform: Cody and Code Search","name":"Sourcegraph","company":null,"blog":"https://sourcegraph.com","location":null,"email":"hi@sourcegraph.com","twitter_username":"sourcegraph","is_verified":true,"has_organization_projects":true,"has_repository_projects":true,"public_repos":516,"public_gists":0,"followers":534,"following":0,"html_url":"https://github.com/sourcegraph","created_at":"2013-03-26T22:29:42Z","updated_at":"2023-06-18T19:16:25Z","archived_at":null,"type":"Organization","total_private_repos":312,"owned_private_repos":311,"private_gists":null,"disk_usage":null,"collaborators":null,"billing_email":null,"default_repository_permission":null,"members_can_create_repositories":true,"two_factor_requirement_enabled":null,"members_allowed_repository_creation_type":"all","members_can_create_public_repositories":true,"members_can_create_private_repositories":true,"members_can_create_internal_repositories":false,"members_can_create_pages":true,"members_can_fork_private_repositories":false,"web_commit_signoff_required":false,"members_can_create_public_pages":true,"members_can_create_private_pages":true,"plan":{"name":"team","space":976562499,"private_repos":999999,"filled_seats":213,"seats":233}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b37e657dc2a9cb2eb9fee80a93710d5855789f45783197d130b1bf391fe26a69"
      Last-Modified:
      - Sun, 18 Jun 2023 19:16:25 GMT
      X-Github-Api-Version-Selected:
      - "2022-11-28"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4983"
      X-Ratelimit-Reset:
      - "1695037441"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "17"
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/memberships/orgs/sourcegraph
    method: GET
  response:
    body: '{"url":"https://api.github.com/orgs/sourcegraph/memberships/sourcegraph-vcr","state":"active","role":"member","organization_url":"https://api.github.com/orgs/sourcegraph","user":{"login":"sourcegraph-vcr","id":63290851,"node_id":"MDQ6VXNlcjYzMjkwODUx","avatar_url":"https://avatars.githubusercontent.com/u/63290851?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph-vcr","html_url":"https://github.com/sourcegraph-vcr","followers_url":"https://api.github.com/users/sourcegraph-vcr/followers","following_url":"https://api.github.com/users/sourcegraph-vcr/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph-vcr/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph-vcr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph-vcr/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph-vcr/orgs","repos_url":"https://api.github.com/users/sourcegraph-vcr/repos","events_url":"https://api.github.com/users/sourcegraph-vcr/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph-vcr/received_events","type":"User","site_admin":false},"organization":{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","url":"https://api.github.com/orgs/sourcegraph","repos_url":"https://api.github.com/orgs/sourcegraph/repos","events_url":"https://api.github.com/orgs/sourcegraph/events","hooks_url":"https://api.github.com/orgs/sourcegraph/hooks","issues_url":"https://api.github.com/orgs/sourcegraph/issues","members_url":"https://api.github.com/orgs/sourcegraph/members{/member}","public_members_url":"https://api.github.com/orgs/sourcegraph/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/3979584?v=4","description":"Code
      AI platform: Cody and Code Search"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f87cacd108d9c5ceee2525cba02ff18122fac94767301687a3726455dc87aa0"
      X-Github-Api-Version-Selected:
      - "2022-11-28"
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4982"
      X-Ratelimit-Reset:
      - "1695037441"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "18"
      X-Varied-Accept:
      - application/vnd.github.jean-grey-preview+json,application/vnd.github.mercy-preview+json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sgtest
    method: GET
  response:
    body: '{"login":"sgtest","id":5858054,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU4NTgwNTQ=","url":"https://api.github.com/orgs/sgtest","repos_url":"https://api.github.com/orgs/sgtest/repos","events_url":"https://api.github.com/orgs/sgtest/events","hooks_url":"https://api.github.com/orgs/sgtest/hooks","issues_url":"https:/[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/memberships/orgs/sgtest
    method: GET
  response:
    body: '{"url":"https://api.github.com/orgs/sgtest/memberships/sourcegraph-vcr","state":"active","role":"member","organization_url":"https://api.github.com/orgs/sgtest","user":{"login":"sourcegraph-vcr","id":63290851,"node_id":"MDQ6VXNlcjYzMjkwODUx","avatar_url":"https://avatars.githubusercontent.[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sourcegraph-testing
    method: GET
  response:
    body: '{"login":"sourcegraph-testing","id":57702698,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3NzAyNjk4","url":"https://api.github.com/orgs/sourcegraph-testing","repos_url":"https://api.github.com/orgs/sourcegraph-testing/repos","events_url":"https://api.github.com/orgs/sourcegraph-testing/events","hooks_url[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/memberships/orgs/sourcegraph-testing
    method: GET
  response:
    body: '{"url":"https://api.github.com/orgs/sourcegraph-testing/memberships/sourcegraph-vcr","state":"active","role":"member","organization_url":"https://api.github.com/orgs/sourcegraph-testing","user":{"login":"sourcegraph-vcr","id":63290851,"node_id":"MDQ6VXNlcjYzMjkwODUx","avatar_u[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sourcegraph-vcr-repos
    method: GET
  response:
    body: '{"login":"sourcegraph-vcr-repos","id":65169595,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY1MTY5NTk1","url":"https://api.github.com/orgs/sourcegraph-vcr-repos","repos_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/repos","events_url":"https://api.github.com/orgs/sourcegraph-vcr-repos/events",[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/memberships/orgs/sourcegraph-vcr-repos
    method: GET
  response:
    body: '{"url":"https://api.github.com/orgs/sourcegraph-vcr-repos/memberships/sourcegraph-vcr","state":"active","role":"admin","organization_url":"https://api.github.com/orgs/sourcegraph-vcr-repos","user":{"login":"sourcegraph-vcr","id":63290851,"node_id":"MDQ6VXNlcjYzMjkwODUx","ava[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/teams?per_page=100&page=1
    method: GET
  response:
    body: '[{"name":"Everyone","id":626894,"node_id":"MDQ6VGVhbTYyNjg5NA==","slug":"everyone","description":"Everyone
      at the company","privacy":"secret","notification_setting":"notifications_enabled","url":"https://api.github.com/organizations/3979584/team/626894","html_url":"https://github.com/orgs/sourcegraph/teams/everyone","members_url":"https://api.github.com/organizations/3979584/team/626894/members{/member}","repositories_url":"https://api.github.com/organizations/3979584/team/626894/repos","permission":"pull","created_at":"2014-01-07T01:59:18Z","updated_at":"2020-05-06T16:26:51Z","members_count":187,"repos_count":376,"organization":{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","url":"https://api.github.com/orgs/sourcegraph","repos_url":"https://api.github.com/orgs/sourcegraph/repos","events_url":"https://api.github.com/orgs/sourcegraph/events","hooks_url":"https://api.github.com/orgs/sourcegraph/hooks","issues_url":"https://api.github.com/orgs/sourcegraph/issues","members_url":"https://api.github.com/orgs/sourcegraph/members{/member}","public_members_url":"https://api.github.com/orgs/sourcegraph/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/3979584?v=4","description":"Code
      AI platform: Cody and Code Search","name":"Sourcegraph","company":null,"blog":"https://sourcegraph.com","location":null,"email":"hi@sourcegraph.com","twitter_username":"sourcegraph","is_verified":true,"has_organization_projects":true,"has_repository_projects":true,"public_repos":516,"public_gists":0,"followers":534,"following":0,"html_url":"https://github.com/sourcegraph","created_at":"2013-03-26T22:29:42Z","updated_at":"2023-06-18T19:16:25Z","archived_at":null,"type":"Organization"},"parent":null},{"name":"private-access","id":3878345,"node_id":"MDQ6VGVhbTM4NzgzNDU=","slug":"private-access","description":"","privacy":"closed","notification_setting":"notifications_enabled","url":"https://api.github.com/organizations/65169595/team/3878345","html_url":"https://github.com/orgs/sourcegraph-vcr-repos/teams/private-access","members_url":"https://api.github.com/organizations/65169595/team/3878345/members{/member}","repositories_url":"https://api.github.com/organizations/65169595/team/387834[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sourcegraph-vcr-repos/repos?sort=created&page=1&per_page=100&type=
    method: GET
  response:
    body: '[{"id":399894286,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk4OTQyODY=","name":"test_all_read_only","full_name":"sourcegraph-vcr-repos/test_all_read_only","private":true,"owner":{"login":"sourcegraph-vcr-repos","id":65169595,"node_id":"MDEyOk9yZ2FuaXphdGlvb[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/orgs/sourcegraph/teams/everyone/repos?page=1&per_page=100
    method: GET
  response:
    body: "[{\"id\":456726080,\"node_id\":\"R_kgDOGzkWQA\",\"name\":\".github\",\"full_name\":\"sourcegraph/.github\",\"private\":false,\"owner\":{\"login\":\"sourcegraph\",\"id\":3979584,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=\",\"avatar_url\":\"https://avatars.gi[...]
[...]
