---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/repos?sort=created&visibility=private&page=1&per_page=100
    method: GET
  response:
    body: '[{"id":399894286,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk4OTQyODY=","name":"test_all_read_only","full_name":"sourcegraph-vcr-repos/test_all_read_only","private":true,"owner":{"login":"sourcegraph-vcr-repos","id":65169595,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY1MTY5NTk1","avatar_url":"https://avatars.githubusercontent.com/u/65169595?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph-vcr-repos","html_url":"https://github.com/sourcegraph-vcr-repos","followers_url":"https://api.github.com/users/sourcegraph-vcr-repos/followers","following_url":"https://api.github.com/users/sourcegraph-vcr-repos/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph-vcr-repos/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph-vcr-repos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph-vcr-repos/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph-vcr-repos/orgs","repos_url":"https://api.github.com/users/sourcegraph-vcr-repos/repos","events_url":"https://api.github.com/users/sourcegraph-vcr-repos/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph-vcr-repos/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/sourcegraph-vcr-repos/test_all_read_only","description":null,"fork":false,"url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only","forks_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/forks","keys_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/keys{/key_id}","collaborators_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/teams","hooks_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/hooks","issue_events_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/issues/events{/number}","events_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/events","assignees_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/assignees{/user}","branches_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/branches{/branch}","tags_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/tags","blobs_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/git/refs{/sha}","trees_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/git/trees{/sha}","statuses_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/statuses/{sha}","languages_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/languages","stargazers_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/stargazers","contributors_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/contributors","subscribers_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/subscribers","subscription_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/subscription","commits_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/commits{/sha}","git_commits_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/git/commits{/sha}","comments_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/comments{/number}","issue_comment_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/issues/comments{/number}","contents_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/contents/{+path}","compare_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/compare/{base}...{head}","merges_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/merges","archive_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/downloads","issues_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/issues{/number}","pulls_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/pulls{/number}","milestones_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/milestones{/number}","notifications_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/labels{/name}","releases_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/releases{/id}","deployments_url":"https://api.github.com/repos/sourcegraph-vcr-repos/test_all_read_only/deployments","created_at":"2021-08-25T16:56:03Z","updated_at":"2021-08-25T16:56:06Z","pushed_at":"2021-08-25T16:56:04Z","git_url":"git://github.com/sourcegraph-vcr-repos/test_all_read_only.git","ssh_url":"git@github.com:sourcegraph-vcr-repos/test_all_read_only.git","clone_url":"https://github.com/sourcegraph-vcr-repos/test_all_read_only.git","svn_url":"https://github.com/sourcegraph-vcr-repos/test_all_read_only","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"topics":[],"forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true}},{"id":263034151,"node_id":"MDEwOlJlcG9zaXRvcnkyNjMwMzQxNTE=","name":"private-org-repo-1","full_name":"sourcegraph-vcr-repos/private-org-repo-1","private":true,"owner":{"login":"sourcegraph-vcr-repos","id":65169595,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY1MTY5NTk1","avatar_url":"https://avatars.githubusercontent.com/u/65169595?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph-vcr-repos","html_url":"https://github.com/sourcegraph-vcr-repos","followers_url":"https://api.github.[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/user/repos?sort=created&visibility=private&page=2&per_page=100
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e83491e8e7daca72e1fb091193dc660500fdf27f893e8e8385f0857f97a96c21"'
      Github-Authentication-Token-Expiration:
      - 2021-09-25 19:00:13 UTC
      Link:
      - <https://api.github.com/user/repos?sort=created&visibility=private&page=1&per_page=100>;
        rel="prev", <https://api.github.com/user/repos?sort=created&visibility=private&page=1&per_page=100>;
        rel="last", <https://api.github.com/user/repos?sort=created&visibility=private&page=1&per_page=100>;
        rel="first"
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview;
        format=json
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4953"
      X-Ratelimit-Reset:
      - "1630436467"
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - "47"
    status: 200 OK
    code: 200
    duration: ""
