@import './ChartViewContent';

.view-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    // Allow view contents to scroll vertically
    overflow-y: auto;

    &__markdown {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        // Prevent overflow of misbehaving extensions
        overflow-x: hidden;

        // TODO(sqs): hack, otherwise headers in server-side generated markdown are cut off
        h1 a.anchor {
            padding-left: 0.5rem !important;
        }
    }
}
