.container {
    width: 31rem;
    padding: 0.75rem;
}

.toggle {
    border-radius: var(--border-radius) !important;
}

.title {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.copy-text {
    font-size: 0.875rem;
}

.icon {
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    color: var(--merged-3);

    svg {
        width: 3rem;
        height: 3rem;
        margin-right: 0 !important;
    }
}
