@import 'wildcard/src/global-styles/breakpoints';

.container {
    width: 100%;
    display: grid;
    // minmax(0, 1fr) for the contents column so it shrinks down. This causes
    // horizontal scrollbars to appear on the search results code chunks instead
    // of on the whole page.
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'sidebar infobar'
        'sidebar contents';
    height: min-content;
    padding: 0.5rem 1rem 0 1rem;
    column-gap: 1rem;

    :global(.core-workflow-improvements-enabled) & {
        grid-template-columns: minmax(0, 1fr) auto;
        grid-template-areas:
            'infobar  sidebar'
            'contents sidebar';

        &--with-sidebar-hidden {
            grid-template-columns: 1fr;
            grid-template-areas:
                'infobar'
                'contents';
        }
    }

    @media (--md-breakpoint-down) {
        &,
        :global(.core-workflow-improvements-enabled) & {
            grid-template-columns: minmax(0, 1fr);
            grid-template-rows: auto auto 1fr;
            grid-template-areas:
                'infobar'
                'sidebar'
                'contents';
        }
    }
}

.sidebar {
    grid-area: sidebar;

    :global(.core-workflow-improvements-enabled) .container--with-sidebar-hidden & {
        display: none;

        @media (--md-breakpoint-down) {
            &--show-mobile {
                display: block;
            }
        }
    }

    @media (--md-breakpoint-down) {
        display: none;

        &--show-mobile {
            display: block;
        }
    }
}

.sidebar-button-strip {
    grid-area: button-strip;
}

.infobar {
    grid-area: infobar;
    margin-bottom: 0.25rem;
}

.contents {
    grid-area: contents;
}

.alert-area {
    max-width: 65rem;
    margin: auto;
}
