.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.chart-container {
    min-height: 11.375rem;
    max-height: 11.375rem;
    width: 100%;
    margin-top: 0.5rem;
}

.actions {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-content: space-between;
    align-items: center;
}

.details-action {
    margin-right: auto;
}
