.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.chart-container {
    min-height: 12.75rem;
    max-height: 12.75rem;
    width: 100%;
    margin-top: 1rem;
}

.actions {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.details-action {
    margin-right: auto;
}
