.tablist {
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
}

.header {
    margin-top: 0.75rem;
}

.footer {
    border-top: 1px solid var(--border-color);
    padding-top: 0.75rem;
}

.filterForm {
    margin-bottom: 0.75rem;
}

.list {
    list-style-type: none;
    margin: 0 -0.125rem;
    padding: 0.125rem;
    max-height: 18rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.item {
    &.active {
        background-color: var(--color-bg-3);
    }

    &.active,
    &:hover {
        .collapse-button {
            @extend .collapse-button, :focus;
        }
    }

    button {
        font-size: inherit;
    }
}

.description {
    background-color: var(--color-bg-1);
    border-top: 1px solid #dbe2f0;
    border-bottom: 1px solid #dbe2f0;
    margin-top: 0.25rem;
    padding: 0.5rem 0.75rem;
}

.placeholder {
    font-style: italic;
    color: var(--text-muted);
}

.collapse-button {
    border: none;
    margin: 0;
    padding: 0;
    width: 0;

    // Force the button's box-shadow to always show over the sibling element's border
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: width 0.1s ease-in-out;

    svg {
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
    }
}

.collapse-button:focus {
    width: 16px;

    svg {
        opacity: 1;
    }
}
