@value base "sourcegraph/components/styles/_base.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value typography "sourcegraph/components/styles/_typography.css";

/* Def tooltip */
.tooltip {
	position: fixed;
	z-index: 1000;
	max-width: 460px;
	min-width: 120px;
	composes: br1 pa3 br2 from base;
	composes: bg_cool_gray white from colors;
}
.content {
	composes: f7 from typography;
	line-height: 1.5;
}
.tooltipTitle {
	composes: code fw5 from typography;
	word-wrap: break_word;
	white-space: pre-line;
	line-height: normal;
}
.tooltipTitle :global .name {
	font-weight: bold;
}
.doc {
	overflow-y: hidden;
	word-wrap: break_word;
}
.doc p {
	margin: 5px 0 0;
}
.repo {
	display: block;
	composes: mt2 from base;
	composes: light_gray from colors;
	composes: f6 from typography;
}
