@value base "sourcegraph/components/styles/_base.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value vars "sourcegraph/components/styles/_vars.css";
@value layout "sourcegraph/components/styles/_layout.css";

@value c_blue_text, c_dark_blue, c_cool_pale_gray, c_cool_gray from colors;
@value code_font_size_2 from vars;

pre {
	background-color: c_cool_gray;
	border-radius: 3px;
	color: c_cool_pale_gray;
	font-size: code_font_size_2;
	line-height: 1.45em;
	padding: 1rem;
}

.container_fixed { composes: containerFixed from layout; }
.flex_grow { flex_grow: 1; }

.cool_mid_gray { composes: cool_mid_gray from colors; }
.bg_cool_pale_gray_2 { composes: bg_cool_pale_gray_2 from colors; }
.b__cool_pale_gray { composes: b__cool_pale_gray from colors; }

.break_word { word-wrap: break_word; }
.link_subtle { composes: link_subtle from typography; }
.normal { composes: normal from typography; }
.f7 { composes: f7 from typography; }

.icon_cool_mid_gray { fill: c_blue_text; }
.link_icon {}
.link_icon:hover svg{ fill: c_dark_blue; }

/* Align with Repo text */
.node_list_item:before { margin-right: 26px }

.def { composes: purple from colors; }

.authors {
	composes: mt2 ml2 mb2 from base;
	display: flex;
}

.icon {
	font-size: 1.5rem;
	padding-top: 5px;
	padding-right: 10px;
	float: left;
}

@media screen and (max-width: 48em) {
	.full_width_sm {
		margin-left: -2rem;
		margin-right: -2rem;
	}
}
