.grid {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: 'header actions';
    header {
        grid-area: header;
    }

    button {
        grid-area: actions;
    }

    span {
        grid-area: actions;
    }
}
