.root {
    flex: 1;
    min-height: 0;
    position: relative;
    isolation: isolate;

    display: grid;
    grid-template-areas: 'chart';

    // Hack for generating a proper scoped css nested class
    // see https://css-tricks.com/using-sass-control-scope-bem-naming/
    $self: &;

    // stylelint-disable-next-line selector-class-pattern
    &--withLegend {
        grid-template-areas:
            'chart'
            'legend';
        gap: 0.75rem;

        // Chart section can grow and take all space if we don't have any legends
        // Legends section can grow until the chart section is bigger than 12rem.
        grid-template-rows: minmax(8rem, 2fr) minmax(auto, min-content);

        &#{ $self }--horizontal {
            grid-template-areas: 'chart legend';
            grid-template-columns: auto minmax(10rem, 30%);

            .legend-list {
                flex-wrap: nowrap;
                flex-direction: column;
            }
        }
    }
}

.responsive-container {
    grid-area: chart;
    position: relative;
    overflow: hidden;

    &:hover,
    &:focus-within {
        .alert-overlay {
            display: none;
        }
    }
}

.chart {
    width: 100%;
    height: 100%;
    position: absolute;
}

.legend-list-container {
    grid-area: legend;

    &::-webkit-scrollbar {
        width: 0.25rem;
        height: 0.25rem;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        box-shadow: inset 0 0 6px var(--text-muted);
    }

    @-moz-document url-prefix('') {
        scrollbar-width: thin;
        scrollbar-color: var(--text-muted);
    }
}

.legend-list-item {
    // Reset wildcard button styles
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: inherit;
    text-align: left;
    line-height: inherit;
    display: flex;
    border: none;
}

.alert-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
