.header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0.75rem 1rem;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid var(--border-color);
}

.heading {
    margin: 0;
}

.clear-filters {
    margin-left: auto;
    padding: 0;
}

.input {
    font-size: 0.75rem;
    width: 100%;
}

.section-description {
    margin-bottom: 1rem;
    display: block;
}

.panel {
    padding-right: 1rem;
}

.reg-exp-filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    margin-top: -0.25rem;
    padding: 0.75rem 1rem;
}

.buttons {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}
