@value colors "sourcegraph/components/styles/_colors.css";

@value c_cool_mid_gray from colors;

.cool_mid_gray_fill { fill: c_cool_mid_gray; }
.relative { position: relative; }
.absolute { position: absolute; }
.flex_fill { flex: 1 0; }

.layer_btm { z-index: -1; }
