@value colors "sourcegraph/components/styles/_colors.css";

@value c_cool-mid-gray from colors;

.cool-mid-gray-fill { fill: c_cool-mid-gray; }
.relative { position: relative; }
.absolute { position: absolute; }
.flex-fill { flex: 1 0; }

.layer-btm { z-index: -1; }
