@value vars "sourcegraph/components/styles/_vars.css";
@value base "sourcegraph/components/styles/_base.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value layout "sourcegraph/components/styles/_layout.css";
@value typography "sourcegraph/components/styles/_typography.css";

.container {
}

@value SearchSettings "sourcegraph/search/styles/SearchSettings.css";
.search-settings {
	composes: groups-bb from SearchSettings;
}
.search-settings-inner {
	composes: container;
	composes: ph3 mh2 from base;
}

.results {
	composes: container;
	composes: mh0 from base;
}

.bottom-border {
	composes: bb from base;
	composes: b--cool-pale-gray from colors;
}

.result {
	composes: bottom-border;
	composes: ph4 pt3 pb3 from base;
}
