<h1>
    {{.Issue.Title}}
</h1>
{{$BaseUri := .BaseURI}}
{{$ctx := .Ctx}}
<script src="{{$BaseUri}}/assets/reply.js"></script>
<h4>Status: {{.Issue.Status}}</h4>
{{range .Issue.Events}}
    {{(render $ctx .)}}
{{end}}
<div>
    <h3>Join the conversation:</h3>
    <form action="{{$BaseUri}}/{{.Issue.UID}}" method="POST">
			<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <textarea name="reply" rows="10" cols="80"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>

{{if .Creator}}
<h3>Is this issue resolved?</h3>
<form action="{{$BaseUri}}/{{.Issue.UID}}/close" method="POST">
    <input type="submit" value="Close issue">
</form>
{{end}}
