@import 'wildcard/src/global-styles/breakpoints';

.block-menu {
    position: absolute;
    margin-left: 0.5rem;
    padding-top: 1rem;

    width: 12rem;
    // Collapse menu to show just icons on small screens
    @media (--md-breakpoint-down) {
        width: 2rem;
    }

    left: 100%;
    top: 0;

    display: flex;
    flex-direction: column;
}

.main-action-button-wrapper {
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid var(--border-color);
}

.action-button {
    &:not(:disabled):hover {
        background-color: var(--color-bg-2);
    }
}

.hide-on-small-screen {
    visibility: visible;

    @media (--md-breakpoint-down) {
        visibility: hidden;
        display: none;
    }
}
