.button {
    cursor: pointer;
    fill: var(--text-muted);

    &:hover,
    &[aria-expanded='true'] {
        background-color: var(--color-bg-2) !important;
    }
}

.button-icon {
    fill: var(--icon-color);

    &--active {
        fill: var(--body-color);
    }
}

.item[data-reach-menu-item] {
    padding: 0.25rem 0.75rem;
}
