.cxp-status {
    min-width: 24vw;
    max-width: 50vw;

    &__client {
        &-actions {
            visibility: hidden;
        }
        &:hover &-actions {
            visibility: visible;
        }
    }
}
