.extension-card {
    flex: 1;
    position: relative;

    &--added {
        background-color: rgba(215, 240, 219, 0.5);
        border-color: #c7e9cd;
        color: #20612e;
    }

    &__name {
        /* $web-styles/link-secondary/dark */
        color: $gray-10;
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        object-fit: contain;
    }

    &__toggle {
        z-index: 1;
    }

    &__footer {
        background: unset;
    }
}

.theme-light {
    .extension-card {
        &__name {
            color: #6078a9;
        }
    }
}
