.extension-card {
    flex: 1;
    position: relative;

    &__body-title {
        color: var(--body-color) !important;
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        object-fit: contain;
    }

    &__footer {
        background: unset;
    }

    &__toggle {
        z-index: 1;
    }

    &__body:hover {
        text-decoration: none;
    }
    &__body:hover &__body-title,
    &__body:focus &__body-title {
        text-decoration: underline;
        color: var(--link-hover-color);
    }

    .btn-link {
        text-decoration: none !important;
    }
}
