.extensions-list {
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        grid-auto-rows: minmax(4rem, auto);
        gap: $spacer * 0.75;
    }

    &__category {
        color: $gray-08;
        margin-top: 2rem;
    }
}

.theme-light {
    .extensions-list {
        &__category {
            color: $gray-15;
        }
    }
}
