.extension-card {
    flex: 1;
    position: relative;

    &__icon {
        width: 3rem;
        height: 3rem;
        object-fit: contain;
    }

    &__footer {
        background: unset;
    }

    &__disabled-feedback {
        position: absolute;
        top: -1.625rem;
        // feedback is centered on top of toggle, so right is pr (0.5rem) + 50% of toggle width (1.0625rem)
        right: 1.5625rem;
        transform: translateX(50%);
        z-index: 1;
    }
}
