@import '../../shared/src/index';

:root {
    --primary-opacity-2: #{transparentize($primary, 0.8)};
}

.theme-light {
    --extension-card-bg: #{lighten($color-light-bg-2, 2.5%)};
}
.theme-dark {
    --extension-card-bg: #{$color-bg-2};
}
