.sidebar-container {
    padding: 0;
    margin-top: 0.125rem;
    color: var(--vscode-sideBar-foreground);

    & [data-reach-tabs] {
        // Override our default background color.
        background: none;
    }
}

.text {
    font-size: var(--vscode-font-size) !important;
    color: var(--white);
}

.button,
.button:link,
.button:visited {
    font-size: var(--vscode-font-size) !important;
    background-color: var(--primary);
    color: var(--white);
}

.input {
    font-size: var(--vscode-font-size) !important;
    color: var(--gray);
}

.title {
    text-transform: uppercase;
    font-size: var(--vscode-font-size) !important;
    color: var(--white);
}
