.sidebar-container {
    padding: 0;
    margin-top: 0.125rem;
    color: var(--vscode-sideBar-foreground);
    margin-bottom: 1.5rem;

    & [data-reach-tabs] {
        // Override our default background color.
        background: none;
    }

    a,
    ul,
    li,
    span,
    button {
        font-size: var(--vscode-editor-font-size) !important;
    }

    &__sticky-box {
        @media (--md-breakpoint-down) {
            // Sidebar shouldn't be sticky in smaller screens
            position: static !important;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 1.5rem;
        }

        @media (--xs-breakpoint-down) {
            display: block;
        }
    }
}

.text {
    font-size: var(--vscode-editor-font-size) !important;
    color: var(--vscode-foreground);
}

.description {
    // font-size: var(--vscode-font-size) !important;
    font-size: var(--vscode-editor-font-size) !important;
    color: var(--vscode-descriptionForeground);
}

.textLink {
    font-size: var(--vscode-font-size) !important;
    color: var(--vscode-textLink-foreground);
}

.buttonText {
    font-size: var(--vscode-font-size) !important;
    color: var(--vscode-button-foreground);
}

.button,
.button:link,
.button:visited {
    font-size: var(--vscode-font-size) !important;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
}

.button:hover {
    font-size: var(--vscode-font-size) !important;
    background-color: var(--vscode-button-hoverBackground);
    color: var(--vscode-button-foreground);
}

.input {
    font-size: var(--vscode-font-size) !important;
    color: var(--vscode-input-foreground);
}

.cta-title {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--vscode-editor-font-size) !important;
    color: var(--vscode-textPreformat-foreground);
    margin-top: 0;
    margin-bottom: 0.25rem;
}

.cta-container {
    letter-spacing: 0.5px;
    font-size: var(--vscode-editor-font-size) !important;
    color: var(--vscode-foreground);
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.cta-paragraph {
    margin-bottom: 0.5rem;
}

.cta-warning-text {
    letter-spacing: 0.5px;
    font-size: var(--vscode-editor-font-size) !important;
    color: var(--vscode-errorForeground);
    margin-top: 0;
    margin-bottom: 0.25rem;
}

.cta-error-container {
    letter-spacing: 0.5px;
    font-weight: 600;
    background: var(--vscode-inputValidation-errorBackground) !important;
    font-size: var(--vscode-editor-font-size) !important;
    color: var(--vscode-input-foreground) !important;
    margin-top: 0.25rem;
    padding: 0.2rem;
}

.cta-input {
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
    font-weight: var(--vscode-editor-font-weight);
    border: 0;
    width: 100%;
    font-size: var(--vscode-editor-font-size) !important;

    &:active {
        border-color: var(--vscode-inputOption-activeBorder);
    }

    &:focus {
        border-color: var(--vscode-inputOption-activeBorder);
    }
}

.cta-button {
    background-color: var(--vscode-button-background);
    font-weight: var(--vscode-editor-font-weight);
    border: 0;
    width: 100%;
    font-size: var(--vscode-editor-font-size) !important;

    &:hover {
        background-color: var(--vscode-button-hoverBackground);
    }
}

.cta-link {
    font-size: var(--vscode-font-size) !important;
    color: var(--vscode-textLink-foreground) !important;
}
