.toggle-container {
    display: flex;
    align-items: center;
}

.separator {
    /* stylelint-disable-next-line declaration-property-unit-allowed-list */
    width: 1px;
    height: 1.125rem;
    margin: 0 0.5rem 0 0.375rem;
    background-color: var(--border-color-2);
}

.copy-query-button {
    color: var(--search-filter-keyword-color) !important;
    padding: 0.125rem;
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    width: 1.5rem;
    height: 1.5rem;

    &:not(:last-child) {
        margin-right: 0.125rem;
    }

    &:hover {
        background-color: var(--color-bg-2);
    }

    &:focus {
        box-shadow: none;
    }

    &:active {
        /* stylelint-disable-next-line declaration-property-unit-allowed-list */
        border: 2px solid var(--primary);
    }

    &.disabled,
    &.disabled:hover {
        background-color: var(--color-bg-3);
        color: var(--text-muted);
        cursor: default;
        opacity: 1;

        :global(.theme-light) & {
            background-color: var(--color-bg-2);
        }

        &:active {
            border-color: transparent;
        }
    }

    &--active {
        background-color: var(--primary);
        color: #ffffff !important;

        &:hover {
            background-color: var(--primary);
        }
    }

    &--non-interactive {
        /* marked !important to overwrite .btn's cursor property */
        cursor: unset !important;

        &:not(.toggle--active):hover {
            background-color: transparent;
        }
    }
}

.case-sensitivity-toggle {
    svg {
        transform: scale(1.172); // Override to set precisely
    }
}

.regular-expression-toggle {
    svg {
        transform: scale(1.031); // Override to set precisely
        /* stylelint-disable-next-line declaration-property-unit-allowed-list */
        margin-top: -1px; // Override to set precisely
    }
}

.structural-search-toggle {
    svg {
        transform: scale(1.031); // Override to set precisely
    }
}
