.layout {}

.header {

}

.logo {
    height: 1.5rem;
}

.logo-text {
    color: var(--body-color);
    font-family: var(--code-font-family);
    letter-spacing: normal;
    font-size: 1.1rem;
    font-weight: normal;
}
