
.form-series-input {
    display: flex;
    flex-direction: column;

    &__field + &__field {
        margin-top: 1.5rem;
    }

    &__color {
        background-color: transparent;
        padding: 0;
    }

    &__button {
        display: inline-block;
        align-self: flex-start;
        padding: 8px 12px;
        background-color: var(--secondary);
        border-radius: 4px;
        border: none;
        color: var(--oc-black);

        & + & {
            margin-left: 0.5rem;
        }

        &--cancel {
            border: 1px solid var(--border-color-2);
            background-color: transparent;
        }
    }
}
