// Every block inside of the overlay should have equal horizontal padding.
// Only `contents` has bigger padding on the right to avoid close button overlap on scroll.
.hover-overlay__alerts {
    --hover-overlay-horizontal-padding: 1rem;
    --hover-overlay-separator-color: var(--border-color);

    padding-left: var(--hover-overlay-horizontal-padding);
    padding-right: var(--hover-overlay-horizontal-padding);
    display: grid;
    flex-direction: column;
    row-gap: 0.75rem;
    // `padding-top` and `border` are required to separate alerts block from the scrollable content.
    // Otherwise text scrolls right from the alert border which doesn't look good.
    border-top: 1px solid var(--hover-overlay-separator-color);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    // Make sure HoverOverlay doesn't get too large even with large alerts.
    overflow-y: auto;
    max-height: 20rem;
}
