.icon-inline, .sg-icon .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .icon-inline svg, .sg-icon .icon svg {
    width: 1.25em;
    height: 1.25em;
    fill: currentColor; }

.sg-icon .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.selection-highlight,
.selection-highlight span,
.selection-highlight-sticky,
.selection-highlight-sticky span {
  background-color: rgba(3, 102, 214, 0.3); }

.sg-tooltip {
  background-color: #fafbfc;
  max-width: 450px;
  min-width: 275px;
  border: solid 1px #afb2b7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #242945;
  font-size: 12px;
  z-index: 30;
  position: absolute;
  overflow: auto;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
          box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15); }
  .sg-tooltip .tooltip__title {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; }
  .sg-tooltip__title-container {
    border-bottom: 1px solid #e1e4e8;
    padding: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .sg-tooltip__title {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    word-wrap: break-word;
    margin: 0 0.5rem;
    padding: 0 !important;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .sg-tooltip__doc {
    padding: 16px;
    max-height: 150px;
    overflow: auto;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border-bottom: 1px solid #e1e4e8; }
    .sg-tooltip__doc p:not(:first-child) {
      margin-top: 0.5rem; }
    .sg-tooltip__doc p:last-child {
      margin-bottom: 0; }
  .sg-tooltip__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding: 12px; }
  .sg-tooltip__action {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    cursor: pointer; }
  .sg-tooltip__more-actions {
    font-style: italic;
    color: #005cc5;
    padding: 12px; }
  .sg-tooltip__close-icon {
    cursor: pointer;
    color: #586069; }
    .sg-tooltip__close-icon:hover {
      color: #24292e; }
  .sg-tooltip__definition-icon {
    margin-right: 0.5rem; }
  .sg-tooltip__references-icon {
    margin-right: 0.5rem; }
  .sg-tooltip__loading {
    padding: 12px; }

/**
 * styles for highlight.js
 */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333; }

.hljs-comment,
.hljs-quote {
  color: #6a737d;
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold; }

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080; }

.hljs-string,
.hljs-doctag {
  color: #d14; }

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #d73a49;
  font-weight: bold; }

.hljs-subst {
  font-weight: normal; }

.hljs-type,
.hljs-class .hljs-title {
  color: #6f42c1;
  font-weight: bold; }

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal; }

.hljs-regexp,
.hljs-link {
  color: #009926; }

.hljs-symbol,
.hljs-bullet {
  color: #990073; }

.hljs-built_in,
.hljs-builtin-name {
  color: #005cc5; }

.hljs-meta {
  color: #333;
  font-weight: bold; }

.hljs-deletion {
  background: #fdd; }

.hljs-addition {
  background: #dfd; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

/*
    Options page css
*/
.options {
  font-size: 14px; }
  .options__container {
    color: #2b3750;
    width: 400px;
    height: 400px; }
    .options__container-full {
      width: 100%;
      max-width: 800px;
      margin: 0 auto; }
  .options__logo {
    height: 24px; }
  .options__overlay-header {
    color: #2b3750;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: solid #e4e9f1 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 16px; }
  .options__overlay-container {
    height: 22px; }
  .options__overlay-title {
    font-size: 14px;
    padding-left: 0px; }
  .options__overlay-icon {
    height: 24px; }
  .options__version {
    padding-right: 8px;
    line-height: 24px;
    font-size: 14px;
    float: right;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    color: #566e9f; }
  .options__section {
    padding: 1rem; }
    .options__section-borderless {
      border-bottom: 0;
      padding-bottom: 0; }
    .options__section-header {
      font-size: 16px;
      font-weight: 400; }
    .options__section-subheader {
      padding: 8px 0px;
      font-size: 14px;
      font-weight: 200; }
    .options__section-contents {
      font-size: 14px;
      padding-top: 4px; }
  .options__divider {
    height: 1px;
    border-bottom: solid #e4e9f1 1px;
    width: 100%; }
  .options__alert {
    font-size: 14px;
    border-radius: 2px; }
    .options__alert-warning {
      color: black;
      background-color: #f2f4f8;
      margin-bottom: 0;
      border-color: white;
      padding: 8px; }
  .options__input {
    color: #2b3750;
    cursor: pointer;
    margin-bottom: 0; }
    .options__input-checkbox {
      width: 15px;
      height: 15px; }
    .options__input-field {
      height: 32px;
      font-size: 14px;
      border-color: #e4e9f1; }
    .options__input-button {
      height: 32px; }
    .options__input-label {
      padding-top: 2px; }
  .options__button-icon {
    vertical-align: middle;
    padding-bottom: 1px; }
    .options__button-icon-add {
      color: #2b3750;
      background-color: #f2f4f8;
      border-color: #e4e9f1; }
      .options__button-icon-add:hover {
        background-color: #e4e9f1;
        border-color: #e4e9f1;
        color: #2b3750; }
  .options__row-close {
    color: rgba(43, 55, 80, 0.5);
    position: absolute;
    background-color: transparent;
    right: 10px;
    top: 5px;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 0; }
    .options__row-close:hover {
      color: #2b3750; }
  .options__list-group {
    padding-top: 1rem; }
  .options__group-item {
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    border-left: 0px;
    border-right: 0px;
    padding-left: 10px; }
    .options__group-item-text {
      padding-right: 5px;
      height: 16px;
      color: #2b3750; }
    .options__group-item-disabled {
      color: #2b3750;
      background-color: #f2f4f8 !important;
      cursor: auto; }
  .options__item-badge {
    font-weight: normal;
    background-color: #566e9f; }
  .options__footer {
    margin-right: auto !important;
    border: 0;
    padding-top: 0; }
  .options__installation-cta {
    padding-top: 1rem; }
  .options__cta {
    background-color: #1c7cd6; }
  .options__link {
    color: #1c7cd6; }

.sg-options-label {
  padding-left: 5px; }

.sg-option-container {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 5px; }

.sg-section-header {
  margin-bottom: 5px; }

.sg-section-subheader {
  margin-top: 0px; }

.sg-advanced-options-label {
  padding-right: 5px; }

.sg-save-button {
  margin-left: 5px; }

.sg-cancel-button {
  margin-left: 5px; }

.sg-url-input {
  width: 150px; }

.sg-options {
  width: 350px;
  display: none; }

.tree-mount {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  pointer-events: none;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  .tree-mount::before {
    will-change: transform; }

.tree {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  overflow: auto;
  white-space: pre;
  line-height: 20px;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .tree:focus {
    outline: none; }
  .tree table {
    border-spacing: 0; }
  .tree__row {
    color: #cad2e2;
    width: 100%;
    display: table; }
    .tree__row:hover {
      background-color: rgba(42, 58, 81, 0.7);
      cursor: pointer;
      text-decoration: none !important; }
    .tree__row--selected {
      color: #1c7cd6;
      width: 100%;
      display: table;
      background-color: #1c7cd6 !important; }
  .tree__row-icon {
    color: white !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1.1em;
    height: 1.1em; }
  .tree__row-contents {
    color: #cad2e2 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    cursor: pointer; }
    .tree__row-contents:hover {
      text-decoration: none !important; }
  .tree__row-label {
    text-decoration: none !important;
    margin-left: 0.25rem;
    color: white !important; }

.tree-layer {
  width: 100%; }

.tree-row {
  width: 100%;
  color: white; }

.tab-bar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px; }
  .tab-bar__tab, .tab-bar__spacer, .tab-bar__end-fragment-other-element {
    border-radius: 0;
    border-bottom: solid 3px #2b3750; }
  .tab-bar__spacer, .tab-bar__tab--inactive, .tab-bar__end-fragment-other-element {
    opacity: 0.6; }
  .tab-bar__tab--flex-grow {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .tab-bar__tab--active {
    border-bottom-color: #1c7cd6; }
  .tab-bar__spacer {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.sidebar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  white-space: nowrap; }
  .sidebar__header {
    color: #93a9c8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem;
    vertical-align: middle;
    background: #1c2736; }
  .sidebar__header-title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }
  .sidebar__header-icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-right: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .sidebar__items, .sidebar__action {
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .sidebar__items {
    background: #151c28;
    border: 1px solid #2b3750;
    border-radius: 0.125rem; }
  .sidebar__item {
    width: 100%;
    list-style: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .sidebar__item-header, .sidebar__item-link {
      height: 100%;
      padding: 0.5rem 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .sidebar__item-link {
      padding-left: 0.75rem; }
    .sidebar__item-link:hover {
      background-color: rgba(42, 58, 81, 0.7);
      text-decoration: none; }
    .sidebar__item-action {
      padding-left: 0.5rem;
      padding-right: 0.5rem; }
    .sidebar__item-icon {
      margin-right: 0.5rem;
      margin-left: -0.125rem; }
    .sidebar__item .avatar {
      height: 1.5rem;
      width: 1.5rem; }
    .sidebar__item--active {
      background: #1c7cd6;
      color: #f2f4f8;
      margin-left: -1px;
      margin-right: -1px;
      border-left: solid 1px #1c7cd6;
      border-right: solid 1px #1c7cd6; }
      .sidebar__item--active:hover {
        background: #1c7cd6;
        color: #f2f4f8;
        text-decoration: none; }
    .sidebar__item:first-child .sidebar__item--active {
      margin-top: -1px;
      border-top: solid 1px #1c7cd6;
      border-top-right-radius: 0.125rem;
      border-top-left-radius: 0.125rem; }
    .sidebar__item:last-child .sidebar__item--active {
      margin-bottom: -1px;
      border-bottom: solid 1px #1c7cd6;
      border-bottom-right-radius: 0.125rem;
      border-bottom-left-radius: 0.125rem; }
  .sidebar__spacer {
    height: 0.125rem;
    margin-top: 0.125rem; }
  .sidebar__link {
    width: 50%;
    cursor: pointer; }
  .sidebar__action {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center; }
    .sidebar__action-button {
      background-color: #2b3750;
      color: #93a9c8;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .sidebar__action-button:hover {
      background-color: rgba(42, 58, 81, 0.7);
      color: #f2f4f8;
      text-decoration: none; }
    .sidebar__action-icon {
      margin-right: 0.125rem; }

.repo-rev-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative; }
  .repo-rev-container__sidebar {
    background: #24292e; }
    .repo-rev-container__sidebar-toggle {
      background: white;
      position: absolute;
      z-index: 1; }
    .repo-rev-container__sidebar-resizable {
      min-width: 8rem; }
      .repo-rev-container__sidebar-resizable--open .tree {
        width: 16rem; }
  .repo-rev-container__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 0;
    min-width: 0;
    background-color: white; }

.repo-rev-sidebar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-right: 1px solid #2b3750;
  width: 100%; }
  .repo-rev-sidebar:not(.repo-rev-sidebar--open) {
    width: 0; }
  .repo-rev-sidebar__tab {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #c9d4e3 !important; }
  .repo-rev-sidebar__close-button {
    font-size: 12px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.125rem; }
  .repo-rev-sidebar--no-symbols .repo-rev-sidebar__tab,
  .repo-rev-sidebar--no-symbols .tab-bar__spacer,
  .repo-rev-sidebar--no-symbols .repo-rev-sidebar__close-button {
    border: none !important; }
  .repo-rev-sidebar-toggle {
    top: 0.6rem;
    left: 0.6rem;
    pointer-events: auto;
    width: 2rem;
    height: 2rem;
    margin-right: -1.25rem;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0.25rem; }
    .repo-rev-sidebar-toggle .icon {
      width: 1.125rem;
      height: 1.125rem; }

.tab-btn {
  background-color: #24292e;
  padding: 3px 0px 3px 10px;
  font-size: 12px;
  display: inline-block;
  border: none; }

.resizable {
  pointer-events: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%; }
  .resizable--top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .resizable__handle {
    position: relative;
    opacity: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: #2b3750;
    -webkit-transition-property: width margin-bottom margin-left opacity;
    transition-property: width margin-bottom margin-left opacity;
    -webkit-transition-duration: 0.125s;
            transition-duration: 0.125s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    z-index: 1; }
    .resizable__handle--right {
      height: 100%;
      width: 0.165rem;
      margin-left: calc(-1 * 0.165rem);
      cursor: ew-resize;
      top: 0;
      bottom: 0;
      right: 0; }
    .resizable__handle--top {
      width: 100%;
      height: 0.165rem;
      margin-bottom: calc(-1 * 0.165rem);
      cursor: ns-resize;
      top: 0;
      left: 0;
      right: 0; }
    .resizable__handle:hover, .resizable__handle--resizing {
      opacity: 1 !important; }
    .resizable__handle--resizing {
      -webkit-filter: brightness(1.25);
              filter: brightness(1.25); }
  .resizable__ghost {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 999999; }
    .resizable__ghost--resizing {
      display: block; }

.site-alert {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: white;
  font-size: 16px;
  border-radius: 0;
  border-width: 0 0 1px; }
  .site-alert__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none; }
    .site-alert__link:hover span.underline {
      text-decoration: underline; }
    .site-alert__link-icon {
      margin-right: 0.25rem; }

.phabricator-alert {
  width: auto; }

.sg-alert {
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: #f2f4f8; }
  .sg-alert-success {
    border: 1px solid #37b24d;
    background: rgba(43, 138, 62, 0.5); }
  .sg-alert-warning {
    border: 1px solid #f59f00;
    background: rgba(230, 119, 0, 0.5); }
  .sg-alert-info {
    border: 1px solid #15aabf;
    background: rgba(21, 170, 191, 0.5); }
  .sg-alert-danger {
    border: 1px solid #f03e3e;
    background: rgba(201, 42, 42, 0.5); }
  .sg-alert-primary {
    border: 1px solid #2b3750;
    background: #1d2535; }
  .sg-alert a {
    text-decoration: underline;
    font-weight: bold;
    color: inherit; }
    .sg-alert a:hover, .sg-alert a:focus {
      color: white; }
  .sg-alert .btn-icon:hover, .sg-alert .btn-icon:focus {
    color: white; }

/*# sourceMappingURL=style.bundle.css.map*/