.activation-dropdown {
    width: 21rem;
    z-index: 999;

    // added the !important flag, to prevent overide by style (dropdown-menu) should be handled within migration task

    padding-bottom: 0 !important;
    overflow: hidden;

    &[data-reach-menu-list],
    &[data-reach-menu-items] {
        background-color: var(--dropdown-bg);
        border: 1px solid var(--dropdown-border-color);
    }
}

.activation-dropdown-button {
    display: flex;
    border: none;
    color: var(--link-color);
}

.activation-dropdown-header {
    white-space: normal;
    border-bottom: 1px solid var(--dropdown-border-color);
    // added the !important flag, to prevent overide by style (dropdown-item-text) should be handled within migration task
    padding: 0.25rem 0.75rem 0 0.75rem !important;

    &:hover {
        text-decoration: none;
    }
}

.checklist {
    .activation-dropdown-header {
        border: 0;
    }

    :global(.list-group-item) {
        border: 0;
    }
}

.progress-bar-container {
    display: inline-block;
    width: 1rem;
    margin-top: -0.125rem;
    margin-left: 0.375rem;
}

.circular-progress-bar {
    // stylelint-disable-next-line selector-class-pattern
    :global(.CircularProgressbar-trail) {
        stroke: var(--dropdown-border-color);
    }
    // stylelint-disable-next-line selector-class-pattern
    :global(.CircularProgressbar-path) {
        stroke: var(--oc-green-4);
    }
}
.confetti {
    z-index: 1000;
}
