:root {
    --btn-padding-y-sm: 0.375rem;
    --icon-inline-md-size: #{(20 / 14)}em;
    --icon-inline-size: #{(16 / 14)}em;
    --btn-padding-y-lg: 0.5rem;
    --btn-padding-x-lg: 1rem;
    --font-size-lg: 1.09375rem;
    --btn-line-height-lg: 1.5;
    --btn-border-width: 1px;
    --btn-padding-x: 0.75rem;
    --btn-active-box-shadow: inset 0 3px 5px rgba(var(--black), 0.125);
    --btn-icon-disabled-light-color: #797d8a;
    --btn-icon-disabled-dark-color: #959ba7;
}

.btn {
    // Use placeholder-selector to extend only styles defined for `label`.
    font-weight: 500;
    letter-spacing: -(0.1/14) + em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: var(--body-color);
    background-color: transparent;
    border: 1px solid transparent;
    user-select: none;
    font-size: 0.875rem;
    line-height: 1.4285714286;
    border-radius: var(--border-radius);
    padding: 0.375rem 0.75rem;

    &:disabled {
        cursor: not-allowed;
        // This is needed to properly support Tooltip behavior on disabled buttons
        pointer-events: none;
    }

    &:hover {
        color: var(--body-color);
        text-decoration: none;
    }
}

.btn-link {
    color: var(--link-color);
    background-color: var(--link-1);

    &:global(.disabled),
    &:disabled {
        :global(.theme-light) & {
            opacity: 0.2;
        }

        :global(.theme-dark) & {
            opacity: 0.4;
        }
    }

    &:not(:disabled):not(:global(.disabled)) {
        &:hover:not(:global(.focus)):not(:focus) {
            text-decoration: underline;
            color: var(--link-hover-color);
        }

        &:focus,
        &:global(.focus),
        &:active,
        &:global(.active) {
            text-decoration: underline;

            :global(.theme-light) & {
                box-shadow: 0 0 0 2px var(--primary-2);
            }

            :global(.theme-dark) & {
                box-shadow: 0 0 0 2px var(--primary-3);
            }
        }
    }
}

.btn.btn-block {
    display: block;
    width: 100%;
}

.btn-inline {
    display: inline-block;
}

.btn-sm {
    // Use string interpolation and calc() to avoid using Sass own max() function.
    // See: https://github.com/sass/node-sass/issues/2815#issuecomment-575926329
    font-size: calc(min(0.75rem, #{(11/12)}em));
    line-height: 1rem;
    letter-spacing: -(0.25/12) + em;
    padding: var(--btn-padding-y-sm) 0.5rem;
}

.btn.btn-lg {
    padding: var(--btn-padding-y-lg) var(--btn-padding-x-lg);
    font-size: var(--font-size-lg);
    line-height: var(--btn-line-height-lg);
}

// This class is meant for clickable icons. It is NOT meant for buttons with icons in it or for nav
// items.
.btn-icon {
    margin: 0;
    padding: 0;
    background: transparent;
    color: inherit;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;

    &:focus-visible:not(:disabled):not(:global(.disabled)) {
        box-shadow: 0 0 0 2px var(--primary-2);
    }

    &:hover:not(:disabled):not(:global(.disabled)) {
        color: var(--body-color);
    }

    // Add color for disabled state of button icon
    &:disabled {
        :global(.theme-light) & {
            color: var(--btn-icon-disabled-light-color);
        }

        :global(.theme-dark) & {
            color: var(--btn-icon-disabled-dark-color);
        }
    }
}

@mixin button-variant(
    $name,
    $base-color,
    $light-color-variant,
    $dark-color-variant,
    $text-color: var(--light-text),
    $disabled-text-color: var(--light-text)
) {
    .btn-#{$name} {
        color: $text-color;
        border-color: $base-color;
        background-color: $base-color;

        &:global(.disabled),
        &:disabled {
            opacity: 1;
            background-color: $light-color-variant;
            border-color: $light-color-variant;
            color: $disabled-text-color;
        }

        &:not(:disabled):not(:global(.disabled)) {
            &:hover:not(:global(.focus)):not(:focus) {
                color: $text-color;
                background-color: $dark-color-variant;
            }

            &:focus,
            &:global(.focus),
            &:active,
            &:global(.active) {
                color: $text-color;
                background-color: $base-color;
                border-color: var(--body-bg);

                :global(.theme-light) & {
                    box-shadow: 0 0 0 2px $light-color-variant;
                }

                :global(.theme-dark) & {
                    box-shadow: 0 0 0 2px $dark-color-variant;
                }
            }
        }
    }

    :global(.show) > .btn-#{$name} :global(.dropdown-toggle) {
        color: $text-color;
        background-color: $base-color;
        border-color: var(--body-bg);

        :global(.theme-light) & {
            box-shadow: 0 0 0 2px $light-color-variant;
        }
        :global(.theme-dark) & {
            box-shadow: 0 0 0 2px $dark-color-variant;
        }
    }

    .btn-outline-#{$name} {
        color: var(--body-color);
        border-color: $base-color;
        background-color: transparent;

        &:global(.disabled),
        &:disabled {
            opacity: 1;
            color: var(--text-disabled);
            border-color: $light-color-variant;
        }

        &:not(:disabled):not(:global(.disabled)) {
            // Set inlined icons to match outline border
            // except [data-caret] attribute (which can be used for button carret
            svg:not([data-caret]) {
                fill: $base-color;
            }

            &:hover:not(:global(.focus)):not(:focus) {
                background-color: var(--color-bg-1);
                :global(.theme-light) & {
                    color: $dark-color-variant;
                    border-color: $dark-color-variant;

                    svg {
                        fill: $dark-color-variant;
                    }
                }
                :global(.theme-dark) & {
                    color: $base-color;
                    border-color: $base-color;
                }
            }

            &:focus,
            &:global(.focus),
            &:active,
            &:global(.active) {
                color: var(--body-color);
                border-color: var(--body-bg);
                background-color: var(--body-bg);
                outline: none;

                :global(.theme-light) & {
                    box-shadow: 0 0 0 2px $light-color-variant;
                }

                :global(.theme-dark) & {
                    box-shadow: 0 0 0 2px $dark-color-variant;
                }
            }
        }
    }

    :global(.show) > .btn-outline-#{$name}:global(.dropdown-toggle) {
        color: var(--body-color);
        border-color: var(--body-bg);
        background-color: var(--body-bg);
        :global(.theme-light) & {
            box-shadow: 0 0 0 2px $light-color-variant;
        }
        :global(.theme-dark) & {
            box-shadow: 0 0 0 2px $dark-color-variant;
        }
    }
}

@include button-variant(
    $name: 'primary',
    $base-color: var(--primary),
    $light-color-variant: var(--primary-2),
    $dark-color-variant: var(--primary-3)
);

@include button-variant(
    $name: 'secondary',
    $base-color: var(--secondary),
    $light-color-variant: var(--secondary-2),
    $dark-color-variant: var(--secondary-3),
    // Use darker text colors for contrast
    $text-color: var(--body-color),
    $disabled-text-color: var(--text-disabled)
);

@include button-variant(
    $name: 'success',
    $base-color: var(--success),
    $light-color-variant: var(--success-2),
    $dark-color-variant: var(--success-3)
);

@include button-variant(
    $name: 'danger',
    $base-color: var(--danger),
    $light-color-variant: var(--danger-2),
    $dark-color-variant: var(--danger-3)
);

@include button-variant(
    $name: 'warning',
    $base-color: var(--warning),
    $light-color-variant: var(--warning-2),
    $dark-color-variant: var(--warning-3),
    // Use darker text colors for contrast
    $text-color: var(--dark-text),
    $disabled-text-color: var(--text-disabled)
);

@include button-variant(
    $name: 'info',
    $base-color: var(--info),
    $light-color-variant: var(--info-2),
    $dark-color-variant: var(--info-3),
    // Use darker text colors for contrast
    $text-color: var(--dark-text),
    $disabled-text-color: var(--text-disabled)
);

@include button-variant(
    $name: 'merged',
    $base-color: var(--merged),
    $light-color-variant: var(--merged-2),
    $dark-color-variant: var(--merged-3)
);

:global(.theme-dark),
:global(.theme-light) {
    // btn-secondary needs specific styles to ensure good contrast
    .btn-secondary,
    .btn-outline-secondary {
        &:global(.disabled),
        &:disabled {
            border-color: var(--input-disabled-bg);
        }

        &:not(:disabled):not(:global(.disabled)) {
            &:hover:not(:global(.focus)):not(:focus) {
                text-decoration: none;
                color: var(--body-color);
                border-color: var(--secondary);

                svg {
                    fill: var(--icon-color);
                }
            }

            &:focus,
            &:global(.focus),
            &:active,
            &:global(.active) {
                box-shadow: 0 0 0 2px var(--primary-2);
            }

            svg {
                fill: var(--icon-color);
            }
        }
    }
}

// Make the div behave like a button
.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle; // match .btn alignment given font-size hack above

    > .btn {
        position: relative;
        flex: 1 1 auto;

        // Bring the hover, focused, and "active" buttons to the front to overlay
        // the borders properly
        &:hover {
            z-index: 1;
        }
        &:focus,
        &:active,
        &:global(.active) {
            z-index: 1;
        }
    }
}

.btn-group {
    // Prevent double borders when buttons are next to each other
    > *:not(:first-child) {
        margin-left: calc(-1 * var(--btn-border-width));
    }

    // Reset rounded corners
    > .btn:not(:last-child):not(:global(.dropdown-toggle)),
    > *:not(:last-child) .btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    > .btn:not(:first-child),
    > *:not(:first-child) .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

//
// Vertical button groups
//

.btn-group-vertical {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    > .btn,
    > .btn-group {
        width: 100%;
    }

    > .btn:not(:first-child),
    > .btn-group:not(:first-child) {
        margin-top: var(--btn-border-width);
    }

    // Reset rounded corners
    > .btn:not(:last-child):not(:global(.dropdown-toggle)),
    > .btn-group:not(:last-child) > .btn {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    > .btn:not(:first-child),
    > .btn-group:not(:first-child) > .btn {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
