<!doctype html>
<html lang="en" class="base">

<head>
	{{.Injected.HeadTop}}
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="google" content="notranslate">
	<meta http-equiv="Content-Language" content="en">
	<meta name="viewport" content="width=device-width, viewport-fit=cover" />
	{{with .Metadata}}
	<meta name='description' content="{{.Description}}" />
		{{if .ShowPreview}}
		<meta name='twitter:title' content="{{.Title}}" />
		<meta name='twitter:card' content='summary' />
		<meta name='twitter:description' content="{{.Description}}" />
		<meta property="og:type" content="website" />
		<meta property='og:title' content="{{.Title}}" />
		<meta property='og:description' content="{{.Description}}" />
		{{end}}
	{{end}}
	<title>{{.Title}}</title>
	<link rel="stylesheet" href="{{.AssetURL}}/styles/app.bundle.css?{{version "styles/app.bundle.css"}}">
	<link id='sourcegraph-chrome-webstore-item' rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/dgjhfomjieaadpoljlnidmbgkdffpack">
	<link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="Sourcegraph Search">
	{{if .InjectSourcegraphTracker}}
	<script ignore-csp>
		; (function (t, r, a, c, k, e, d) { if (!t[k]) { t.GlobalTelligentNamespace = t.GlobalTelligentNamespace || []; t.GlobalTelligentNamespace.push(k); t[k] = function () { (t[k].q = t[k].q || []).push(arguments) }; t[k].q = t[k].q || []; e = r.createElement(a); d = r.getElementsByTagName(a)[0]; e.async = 1; e.src = c; d.parentNode.insertBefore(e, d) } }(window, document, "script", "https://storage.googleapis.com/telligent-artifacts/tracker/tel.js", "telligent"));
	</script>
    {{end}}
	<script ignore-csp>
		window.context = {{.Context }}
		window.pageError = {{.Error }}
	</script>
	{{.Injected.HeadBottom}}
</head>

<body>
	{{.Injected.BodyTop}}
	<div id="root"></div>
	<noscript>
		<p>Sourcegraph is a web-based code search and navigation tool for dev teams. Search, navigate, and review code. Find answers.</p>

		<br>
		<br>
		<br>
		You need to enable JavaScript to run this app.
	</noscript>
	<script src="{{.AssetURL}}/scripts/app.bundle.js?{{version "scripts/app.bundle.js"}}"></script>
	{{.Injected.BodyBottom}}
</body>

{{ if .Context.SourcegraphDotComMode }}
<style ignore-csp>
	/* Support webkit inset devices */
	@supports (padding: max(0px)) {

		.global-navbar,
		.main-page .row,
		.search-row {
			padding-left: max(12px, env(safe-area-inset-left));
			padding-right: max(12px, env(safe-area-inset-right));
		}

		.modal-open .row .row {
			padding-left: 0;
			padding-right: 0;
		}

	}
</style>
{{ end }}

</html>
