@value base "sourcegraph/components/styles/_base.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value vars "sourcegraph/components/styles/_vars.css";

@value c_purple_8 from colors;
@value media_sm from vars;

.grey-bg {
	background-color: rgba(119, 147, 174, 0.1);
}

.action_button {
	composes: mh2 ph2 mb2 from base;
}

.action_link {
	composes: action_button;
	border-color: transparent;
}

.link {
	composes: gray from colors;
}

.video:hover .video_overlay { background-color: c_purple_8; }
.video_overlay { transition: all 0.3s ease-in-out; }

.lang_icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0 20px;
}

@media only screen and media_sm {
	.full_sm {
			display: block;
			width: 100%;
			flex: 0 0 100%;
	}
	.left_sm {
		justify-content: flex-start !important;
	}
	.wrap_sm {
		flex-wrap: wrap;
	}
}

.tweet_container {
    flex: 1 1 48%;
    width: 48%;
}

/* TODO: Abstract this – styles should be contained in their components */
.modal {
	composes: modal from "sourcegraph/components/styles/modal.css";
	composes: col_10 from grid;
	max-width: 440px;
	min-width: 320px;
	max-height: 85%;
}

.modalForm {
	width: 100% !important;
}

.footer {
    margin-bottom: 0;
    line-height: 5em;
    text-align: center;
    background-color: rgba(119, 147, 174, 0.0980392);
}

.footer a {
    color: rgba(26, 48, 77, 1);
    padding-left: 0.5em;
    padding-right: 0.5em;
}
