.view-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;

    /* Allow view contents to scroll vertically */
    overflow-y: auto;

    &:hover,
    &:focus-within {
        .view-content-alert-overlay {
            display: none;
        }
    }
}

.view-content-alert-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.markdown {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    /* Prevent overflow of misbehaving extensions */
    overflow-x: hidden;
}
