.about-container {
    padding: 1rem;
    padding-top: 0;
}

.terms-header-container {
    display: flex;
    justify-content: center;
    padding: 0;
    border-bottom: 1px solid var(--vscode-editorGroupHeader-tabsBorder);
    background-color: var(--vscode-editorGroupHeader-tabsBackground);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
}

.terms-container {
    margin-bottom: 1rem;
    background-color: var(--vscode-editorGroupHeader-tabsBackground);
    overflow-wrap: break-word;
    padding: 0.5rem;
}

.terms-container .answer {
    font-style: italic;
}

.terms-container .cta {
    font-size: smaller;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.accept-button {
    padding: 0.5rem 1rem;
    justify-content: center;
}

.reset-button {
    width: calc(var(--vscode-font-size) * 2);
    height: calc(var(--vscode-font-size) * 2);
    fill: var(--vscode-icon-foreground);
}
