.inner-container {
    height: 100%;
    overflow: auto;
}

.transcript-item {
    font-size: var(--vscode-editor-font-size);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    color: var(--vscode-input-foreground);
    border-color: var(--vscode-sideBarSectionHeader-border);
}

/* Apply a slight tint to the assistant transcript item. */
body[data-vscode-theme-kind='vscode-light'] .transcript-item:not(.human-transcript-item),
body[data-vscode-theme-kind='vscode-high-contrast-light'] .transcript-item:not(.human-transcript-item) {
    background-color: rgba(0, 0, 0, 0.04); /* slight dark tint */
}

body[data-vscode-theme-kind='vscode-dark'] .transcript-item:not(.human-transcript-item),
body[data-vscode-theme-kind='vscode-high-contrast'] .transcript-item:not(.human-transcript-item) {
    background-color: rgba(255, 255, 255, 0.04); /* slight light tint */
}

.human-transcript-item:before {
    background-color: var(--vscode-sideBarSectionHeader-border);
}

.transcript-item pre,
.transcript-item span > code,
.transcript-item p > code,
.transcript-item pre > code {
    /* Our syntax highlighter emits colors intended for dark backgrounds only. */
    background-color: var(--code-background);
    color: var(--code-foreground);
}

.transcript-item ul:not(.transcript-action *),
.transcript-item ol:not(.transcript-action *) {
    padding-left: 2rem;
}

.transcript-action {
    background: var(--vscode-button-secondaryBackground);
    color: var(--vscode-button-secondaryForeground);
    font-size: var(--vscode-editor-font-size);
}

.transcript-action > button {
    font-size: var(--vscode-editor-font-size);
}

.code-blocks-copy-button,
.code-blocks-insert-button {
    color: var(--vscode-button-secondaryForeground);
    background-color: var(--vscode-button-secondaryBackground);
    border: none;
    font-size: var(--type-ramp-minus1-font-size);
    padding: 0.25rem 0.5rem;
    /* Move the button up 50% to get out of the road of the text, but also to make sure your cursor is over the middle of the button if it appears when coming in from above */
    transform: translateY(-50%);
}

.code-blocks-copy-button:hover,
.code-blocks-insert-button:hover {
    background-color: var(--vscode-button-secondaryHoverBackground);
}

.input-row {
    border-top: solid 1px var(--vscode-sideBarSectionHeader-border);
}

.chat-input-context {
    color: var(--vscode-input-foreground);
}

.chat-input {
    outline: none;
}

:global(.token-hallucinated),
:global(.token-not-hallucinated) {
    word-break: break-all;
    text-underline-offset: 0.125rem;
}

:global(.token-hallucinated) {
    text-decoration: 1px wavy underline var(--vscode-problemsWarningIcon-foreground);
}

:global(.token-not-hallucinated) {
    text-decoration: 1px underline var(--vscode-textLink-foreground);
}

:global(.token-hallucinated)::before {
    content: '⚠️ ';
    color: var(--vscode-problemsWarningIcon-foreground);
}

.chat-button {
    margin-top: 0.5rem;
    padding: 0.25rem;
}

.feedback-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.15rem;
}

.edit-button {
    border-radius: 0.5rem;
}

.suggestion-button {
    all: unset;
    cursor: pointer;
    font-size: 90%;
    padding: 3px 6px;
    border-radius: 5px;
    background: var(--button-icon-background);
    border-radius: var(--button-icon-corner-radius);
    color: var(--foreground);
}

.suggestion-button:hover {
    background: var(--button-icon-hover-background);
    outline: 1px dotted var(--contrast-active-border);
    outline-offset: -1px;
}

.suggestion-button .codicon {
    vertical-align: middle;
    margin-right: 3px;
}

.submit-button-disabled {
    cursor: not-allowed;
}

.stop-generating-button {
    padding: 0;
    border-radius: 1rem;

    animation: fadeInSlideUp 1s 1;
}

.stop-generating-button > i {
    margin-right: 0.25rem;
}

.stop-generating-button:active {
    transition: all 0.5s linear;
}

@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        margin-top: var(--spacing);
    }
    to {
        opacity: 1;
        margin: 0;
    }
}
