.inner-container {
    height: 100%;
    overflow: auto;
}

.transcript-item {
    font-size: var(--vscode-editor-font-size);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    color: var(--vscode-input-foreground);
    border-color: var(--vscode-sideBarSectionHeader-border);
}

/* Apply a slight tint to the human transcript item. */
body[data-vscode-theme-kind='vscode-light'] .human-transcript-item,
body[data-vscode-theme-kind='vscode-high-contrast-light'] .human-transcript-item {
    background-color: #00000011; /* slight dark tint */
}
body[data-vscode-theme-kind='vscode-dark'] .human-transcript-item,
body[data-vscode-theme-kind='vscode-high-contrast'] .human-transcript-item {
    background-color: #ffffff18; /* slight light tint */
}

.transcript-item-participant {
    font-size: var(--vscode-editor-font-size);
    color: var(--vscode-descriptionForeground);
}

.transcript-item pre,
.transcript-item span > code,
.transcript-item p > code {
    /* Our syntax highlighter emits colors intended for dark backgrounds only. */
    background-color: var(--code-background);
}

.transcript-item pre,
.transcript-item code {
    color: var(--vscode-input-foreground);
}

.code-blocks-copy-button {
    color: var(--vscode-button-secondaryForeground);
    background-color: var(--vscode-button-secondaryBackground);
    border: none;
}

.input-row {
    border-top: solid 1px var(--vscode-sideBarSectionHeader-border);
}

.chat-input {
    outline: none;
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
}

:global(.token-hallucinated) {
    border-bottom: 2px solid var(--vscode-testing-iconQueued);
    word-break: break-all;
}

:global(.token-not-hallucinated) {
    border-bottom: 2px solid var(--vscode-testing-iconPassed);
    word-break: break-all;
}
