.debug-container {
	margin: 1rem;
}

.debug-message {
	margin: 1rem 0;
	padding-bottom: 1rem;
	color: var(--vscode-notifications-foreground);
	background-color: var(--vscode-notifications-);
	border-bottom: 2px solid var(--vscode-input-border);
	white-space: pre-wrap;
	overflow-wrap: break-word;
}
