.header-container {
    display: flex;
    justify-content: space-between;
    font-family: var(--vscode-font-family);
    border-bottom: 1px solid var(--vscode-sideBarSectionHeader-border);
    padding: 1rem;
    color: var(--vscode-sideBarTitle-foreground);
}

.header-container-left,
.header-container-right {
    display: flex;
    align-items: center;
}

.reset-conversation {
    margin: 0;
    cursor: pointer;
}

.header-title {
    color: var(--vscode-sideBarTitle-foreground);
    font-size: calc(var(--vscode-font-size) * 2);
    display: flex;
    align-items: center;
    margin-left: 0.5rem !important;
}

.header-title > span {
    margin-right: 0.5rem !important;
}

.header-logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(var(--vscode-font-size) * 2.5);
    height: var(--vscode-font-size);
}
