@import '@sourcegraph/cody-ui/src/index.css';
@import '@vscode/codicons/dist/codicon';

:root {
    --human-bubble-color: #565eb9;
    --human-text-color: #e1e1e1;
    --bot-bubble-color: var(--vscode-input-background);
    --bubble-text-color: var(--vscode-input-foreground);
    --code-background: var(--vscode-editor-background);
}

#root {
    margin: 0 auto;
    font-family: var(--vscode-font-family);
    color: var(--vscode-sideBar-foreground);
    background-color: var(--vscode-sideBar-background);
    height: 100%;
}

body[data-vscode-theme-kind='vscode-light'],
body[data-vscode-theme-kind='vscode-high-contrast-light'] {
    --human-bubble-color: var(--vscode-button-background);
    --human-text-color: var(--vscode-button-foreground);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    font-weight: 500;
    color: var(--vscode-textLink-foreground);
    text-decoration: inherit;
}

a:hover {
    color: var(--vscode-textLink-activeForeground);
}

.w-100 {
    width: 100%;
}
