.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    padding: 1.25rem;
    color: var(--vscode-editor-foreground);
}

.divider {
    height: 1px;
    border-top: 1px solid var(--vscode-activityBar-border);
    margin-bottom: 1.25rem;
}

.sections-container {
    flex: 1;
}

.section {
    border: 0.1em solid;
    border-image-slice: 1;
    border-width: 0.1em;

    margin-bottom: var(--spacing);
    padding: var(--spacing);
}

.cody-gradient {
    border-image-source: linear-gradient(to bottom, #b200f8, #ff5543, #00cbec);
}

.grey-gradient {
    border-color: grey;
}

.section-header {
    font-weight: 600;
    color: var(--vscode-editor-foreground);
    font-size: calc(1.15 * var(--vscode-editor-font-size));
    margin: 0 0 0.65rem 0;
}

.open-message {
    margin-top: 0;
    margin-bottom: 0.75rem;
}

.input {
    width: 100%;
    margin-bottom: 1rem;
}

.button {
    justify-content: center;
    padding: 0.25rem;
}

.error {
    border: 1px solid var(--vscode-inputValidation-errorBorder);
    background-color: var(--vscode-inputValidation-errorBackground);
    padding: 0.5rem;
    margin-top: 1rem;
}

.terms {
    font-size: 90%;
}

.footer {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 1rem;
}
