.tab-menu-container {
	width: 100%;
	flex-direction: row;
	display: flex;
	margin: 0;
	padding: 4px 0;
	border-bottom: 1px solid var(--vscode-sideBarSectionHeader-border);
	background-color: var(--vscode-tab-inactiveBackground);
	justify-content: space-around;
}

.tab-menu-item {
	cursor: pointer;
	user-select: none;
	background-color: var(--vscode-tab-inactiveBackground);
	color: var(--vscode-tab-inactiveForeground);
}

.tab-menu-item-selected {
	color: var(--vscode-tab-activeForeground);
	font-weight: bold;
}