.tab-menu-container {
    width: 100%;
    flex-direction: row;
    display: flex;
    margin: 0;
    padding: 0.5em 0;
    border-bottom: 1px solid var(--vscode-sideBarSectionHeader-border);
    background-color: var(--vscode-tab-inactiveBackground);
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}

.tab-btn {
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    color: var(--vscode-tab-inactiveForeground);
    border: none;
}

.tab-btn-selected {
    color: var(--vscode-tab-activeForeground);
    font-weight: bold;
}

.tab-menu-group {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    padding: 0px 1rem;
}

.reset-conversation > svg {
    width: calc(var(--vscode-font-size) * 1.5);
    height: calc(var(--vscode-font-size) * 1.5);
}
