.tips-container {
	padding: 1rem;
	padding-top: 0;
}

.tips-container ul {
	padding-inline-start: 1rem;
}

.tips-container li {
	line-height: 1.5rem;
}

.code-block {
	margin-top: 0.5rem;
	padding: 0.1rem 1rem;
	color: var(--vscode-editor-foreground) !important;
	line-height: var(--vscode-editorCodeLens-lineHeight);
	background-color: var(--vscode-editor-background) !important;
	font-family: var(--vscode-editor-font-family) !important;
	font-size: var(--vscode-editor-font-size) !important;
}

.code-block > span {
	display: block;
	line-height: var(--vscode-editorCodeLens-lineHeight);
}
