.heading-container {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    align-items: center;
}

.heading-container h3 {
    margin: 0;
}

.clear-button-container {
    margin-left: auto;
}

.items-container {
    margin: 0 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

/* There's a little bit of fighting we have to do with the VSButton component,
   but it's probably better than re-creating it ourselves using a link */

.item-button-inner-container {
    /* By default it has a weird narrow width */
    width: 100%;
    /* By default it's centered */
    text-align: left;
    margin: .5rem 0;
}

.item-date {
    font-size: smaller;
    margin-bottom: .25rem;
}

.item-last-message {
    /* Show a few lines of text and then an ellipsis */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}