.history-item-container {
    margin: 1rem;
}

.history-remove-btn {
    margin-bottom: 1rem;
    width: 100%;
    justify-content: center;
    padding: 1rem 0rem;
    font-weight: bold;
    color: var(--vscode-button-secondaryForeground);
    background-color: var(--vscode-button-secondaryBackground);
    cursor: pointer;
    border: none;
}

.history-item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 1rem;
    padding: var(--spacing);
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
    cursor: pointer;
}

.history-item:hover {
    background-color: var(--vscode-button-hoverBackground);
}

.history-item-date {
    font-size: smaller;
    margin-bottom: 0.3rem;
}
