.heading-container {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    align-items: center;
}

.heading-container h3 {
    margin: 0;
}

.clear-button-container {
    margin-left: auto;
}

.items-container {
    margin: 0 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

/**
    Sadly we have to use our own button instead of VSCodeButton because it has a
    #shadow-root style with max-width: 300px AND we get a weird border when the
    window is wide. So we use a <button> and set our own styles (mostly found by
    inspecting the standard button)
**/
.item-button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: var(--button-padding-vertical) var(--button-padding-horizontal);
    outline: none;
    text-decoration: none;
    border: calc(var(--border-width) * 1px) solid var(--button-border);
    color: var(--button-primary-foreground);
    background: var(--button-primary-background);
    border-radius: calc(var(--corner-radius) * 1px);
    cursor: pointer;

}
.item-button:hover {
    background: var(--button-primary-hover-background);
}
.item-button:active {
    background: var(--button-primary-background);
}

.item-button-inner-container {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.item-date {
    font-size: smaller;
    margin-bottom: .25rem;
}

.item-last-message {
    /* Show a few lines of text and then an ellipsis */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    overflow-wrap: break-word
}
