.filtered-connection {
    &__nodes {
        list-style-type: none;
    }

    &--noncompact &__form {
        margin: 1rem 0 0.5rem;
    }
    &--noncompact &__show-more {
        margin-bottom: 2rem;
    }

    &--compact &__nodes,
    &--compact &__summary {
        margin-bottom: 0;
    }
    &--compact &__filter {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &--compact &__loader {
        padding: $popover-item-padding-v $popover-item-padding-h;
        flex: 0 0;
    }
    &--compact &__nodes {
        flex: 1 1;
        overflow-y: auto;
        margin-bottom: 0.25rem;
    }
    &--compact &__summary {
        flex: 0 0;
        padding: $popover-item-padding-v $popover-item-padding-h;
        opacity: 0.7;
        border-top: solid 1px $color-border;
    }
    &--compact &__show-more {
        flex: 0 0;
        border: none;
        border-radius: 0;
        text-align: left;
        padding-left: 0.75rem;
        font-size: 12px;
    }
}

.filtered-connection-filter-control {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 12px;

    margin: 0 -0.25rem;
    &__item {
        margin: 0.25rem;
        flex: 0 1 auto;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    // Hide ugly default radio button (we use Unicode circles below instead).
    &__input {
        border: 0;
        clip: rect(0 0 0 0);
        // stylelint-disable-next-line declaration-property-unit-whitelist
        height: 1px;
        // stylelint-disable-next-line declaration-property-unit-whitelist
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        // stylelint-disable-next-line declaration-property-unit-whitelist
        width: 1px;
    }

    &__label {
        display: flex;
        user-select: none;
        cursor: pointer;

        padding: 0.25rem 0.5rem;

        &::before {
            padding-right: 0.125rem;
            // stylelint-disable-next-line declaration-property-unit-whitelist
            margin-top: -1px;
            font-size: 20px;
        }
    }

    // Use Unicode chars as radio buttons that look nicer.
    &__input:not(:checked) + &__label {
        &::before {
            content: '○';
            opacity: 0.7;
        }
    }
    &__input:checked + &__label {
        color: $color-primary;
        &::before {
            content: '●';
        }
    }

    // Make it look flush with the <input> above.
    $border-radius: 2px; // same as .form-control
    &__item:first-child &__label {
        border-bottom-left-radius: $border-radius;
        border-left-width: 1px;
    }
    &__item:last-child &__label {
        border-bottom-right-radius: $border-radius;
    }
}

.theme-light {
    .filtered-connection {
        &--compact .filtered-connection__summary {
            border-color: $color-light-border;
        }
    }

    .filtered-connection-filter-control {
        &__label {
            border-color: $color-light-border;
        }
    }
}
