.filtered-connection {
    &__nodes {
        list-style-type: none;
    }

    &--noncompact &__form {
        margin: 1rem 0 0.5rem;
    }

    &--noncompact &__show-more {
        margin-bottom: 2rem;
    }
}
