#CybotCookiebotDialog,
#CybotCookiebotDialog div,
#CybotCookiebotDialogBodyContentControls,
#CybotCookiebotDialogBodyContentTitle {
    color: $color-text-1 !important;
}
#CybotCookiebotDialog {
    background-color: $gray-21 !important;
    opacity: 0.9 !important;
}
#CybotCookiebotDialog a {
    color: $gray-02 !important;
    text-decoration: none !important;
}
#CybotCookiebotDialog a:hover {
    color: $gray-02 !important;
    text-decoration: underline !important;
}
#CybotCookiebotDialogBodyContent,
#CybotCookiebotDialogBodyContentTitle {
    font-weight: 300 !important;
}
#CybotCookiebotDialogBody {
    max-width: 1000px !important;
}
#CybotCookiebotDialogBodyContentText {
    font-size: 0.9rem !important;
}
#CybotCookiebotDialogBodyButtonDetails {
    display: none !important;
}
#CybotCookiebotDialogBodyButtonAccept,
#CybotCookiebotDialogBodyButtonDecline {
    padding: 0.25rem 0.75rem;
}
#CybotCookiebotDialogBodyButtonAccept {
    background: none !important;
    border: 1px solid $gray-02 !important;
    color: #fff !important;
    float: left;
}
#CybotCookiebotDialogBodyButtonDecline {
    background-color: transparent !important;
    border: none !important;
    color: $gray-02 !important;
    font-weight: 300;
}
#CybotCookiebotDialogBodyButtonAccept a:hover {
    text-decoration: none !important;
}
#CybotCookieDialogBodyButtonDecline a:hover,
#CookiePolicyLink a:hover {
    color: $gray-02 !important;
}
