.decorated-text-lines {
    a {
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }

    table {
        width: 100%;
    }

    tr.strong {
        font-weight: bold;
    }

    tr.hidden {
        display: none;
    }

    tr.added {
        background-color: rgba(31, 116, 31, 0.25);
    }

    tr.deleted {
        background-color: rgba(192, 10, 10, 0.25);
    }
}
