.dismissible-alert {
    display: flex;
    align-items: flex-start;
    padding-right: 1rem;

    &__content {
		display: block;
		padding-right: 1rem;
    }

	&__close-icon {
		position: absolute;
		right: .5rem;
	}
}
