.filtered-connection {
    &__nodes {
        list-style-type: none;
        padding: 0;
    }

    &--noncompact &__form {
        margin-bottom: 0.5rem;
    }

    &--compact &__nodes,
    &--compact &__summary {
        margin-bottom: 0;
    }
    &--compact &__filter {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &--compact &__loader {
        padding: $popover-item-padding-v $popover-item-padding-h;
        flex: 0 0;
    }
    &--compact &__error {
        border-radius: 0;
    }
    &--compact &__nodes {
        flex: 1 1;
        overflow-y: auto;
    }
    &--compact &__summary {
        flex: 0 0;
        padding: $popover-item-padding-v $popover-item-padding-h;
        opacity: 0.7;
        border-top: solid 1px var(--border-color);
    }

    &--noncompact {
        table {
            width: 100%;
        }
    }

    table {
        td {
            vertical-align: middle;
        }
    }

    &__loader {
        display: flex;
        justify-content: center;
    }

    &__show-more {
        flex: 0 0 auto;
    }
}
