.help-popover {
    position: absolute;
    top: 2rem;
    right: 0.75rem;
    z-index: 50; // Overlay any page contents
    width: 18rem;
    max-width: 90vw;
    margin: 0 1rem;

    border-width: 1.5px; // make more prominent
    border-color: $primary;

    &__close {
        margin-right: -0.25rem;
    }
}
