$popover-item-padding-h: 0.75rem;
$popover-item-padding-v: 0.325rem;

.popover {
    display: flex;
    flex-direction: column;

    min-width: 25rem;
    max-width: 70vw;

    &__content {
        overflow: auto;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        min-height: 27rem; // avoid jitter when only loading indicator is shown
        max-height: 70vh;
    }

    &__node {
        border-bottom: solid 1px $color-border;
        &:last-child {
            border-bottom: none;
        }
        &-link {
            display: flex;
            align-items: center;
            padding: $popover-item-padding-v $popover-item-padding-h;

            &-icon {
                margin-left: 0.25rem;
            }
            &--active {
                font-weight: bold;
            }
        }
    }
}

.theme-light {
    .popover {
        &__node {
            border-color: $color-light-border;
        }

        .filtered-connection {
            &__summary {
                border-top-color: $color-light-border;
            }
        }
    }
}
