.popover-container {
    z-index: $zindex-popover;

    animation: fadeIn 0.3s both ease-in;

    &__arrow,
    &__arrow::before {
        position: absolute;
        width: 0.5rem;
        height: 0.5rem;
        z-index: -1;
    }

    &__arrow::before {
        content: '';
        transform: rotate(45deg);
        background-color: var(--border-color);
    }

    /* stylelint-disable-next-line selector-max-compound-selectors */
    &[data-popper-placement^='top'] > &__arrow {
        bottom: -4px;
    }

    /* stylelint-disable-next-line selector-max-compound-selectors */
    &[data-popper-placement^='bottom'] > &__arrow {
        top: -4px;

        // TODO: make triangles here
        // &::before {
        //     background-color: red;
        // }
    }

    /* stylelint-disable-next-line selector-max-compound-selectors */
    &[data-popper-placement^='left'] > &__arrow {
        right: -4px;
    }

    /* stylelint-disable-next-line selector-max-compound-selectors */
    &[data-popper-placement^='right'] > &__arrow {
        left: -4px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
