.tab-bar {
    flex: 0 0 auto;
    display: flex;

    &__tab,
    &__spacer,
    &__end-fragment-other-element {
        border: none;
        border-radius: 0;
        border-bottom: solid 3px $color-border;
    }

    &__spacer,
    &__tab--inactive,
    &__end-fragment-other-element {
        opacity: 0.6;
    }

    &__tab {
        &--flex-grow {
            flex: 1;
        }
        &--active {
            border-bottom-color: $primary;
        }
    }

    &__spacer {
        flex: 1;
    }
}

.theme-light {
    .tab-bar {
        &__tab,
        &__spacer,
        &__end-fragment-other-element {
            border-bottom-color: $color-light-border;
        }
        &__tab {
            &--active {
                border-bottom-color: $primary;
            }
        }
    }
}
