@value c_blue rgba(0, 145, 234, 1);
@value c_blue_text rgba(0, 145, 234, 1);
@value c_blue_8 rgba(0, 145, 234, .8);
@value c_blue_5 rgba(0, 145, 234, .5);
@value c_blue_2 rgba(0, 145, 234, .2);
@value c_blue_1 rgba(0, 145, 234, .1);
@value c_dark_blue rgba(0, 113, 184, 1);
@value c_dark_blue_5 rgba(0, 63, 102, .5);
@value c_blue_gray_L3 = rgb(242, 244, 248);

@value c_dark_blue_2 rgb(0, 113, 184);

@value c_purple rgba(170, 0, 255, 1);
@value c_purple_8 rgba(170, 0, 255, .8);
@value c_purple_5 rgba(170, 0, 255, .5);
@value c_purple_2 rgba(170, 0, 255, .2);
@value c_purple_1 rgba(170, 0, 255, .1);
@value c_light_purple rgba(228, 173, 255, 1);
@value c_dark_purple rgba(122, 0, 184, 1);
@value c_dark_purple_8 rgba(122, 0, 184, 0.8);

@value c_orange rgba(255, 61, 0, 1);
@value c_orange_L1 rgb(255, 130, 92);
@value c_orange_8 rgba(255, 61, 0, .8);
@value c_orange_5 rgba(255, 61, 0, .5);
@value c_orange_2 rgba(255, 61, 0, .2);
@value c_orange_1 rgba(255, 61, 0, .2);
@value c_dark_orange rgba(184, 43, 0, 1);

@value c_green rgba(0, 191, 165, 1);
@value c_green_text rgba(13, 156, 138, 1);
@value c_green_8 rgba(0, 191, 165, .8);
@value c_green_5 rgba(0, 191, 165, .5);
@value c_green_2 rgba(0, 191, 165, .2);
@value c_dark_green rgba(8, 94, 83, 100);

@value c_red rgba(255, 10, 59, 1);
@value c_red_text rgba(184, 0, 37, 1);
@value c_red_8 rgba(255, 10, 59, .8);
@value c_red_5 rgba(255, 10, 59, .5);
@value c_red_2 rgba(255, 10, 59, .2);

@value c_cool_gray rgba(62, 87, 121, 1);
@value c_cool_gray_8 rgba(62, 87, 121, .8);
@value c_cool_gray_5 rgba(62, 87, 121, .5);
@value c_cool_gray_2 rgba(62, 87, 121, .2);
@value c_cool_gray_1 rgba(62, 87, 121, .1);

@value c_cool_mid_gray rgba(147, 169, 200, 1);
@value c_cool_mid_gray_8 rgba(147, 169, 200, 0.8);
@value c_cool_mid_gray_5 rgba(147, 169, 200, 0.5);
@value c_cool_mid_gray_3 rgba(147, 169, 200, 0.3);
@value c_cool_mid_gray_2 rgba(147, 169, 200, 0.2);
@value c_cool_mid_gray_1 rgba(147, 169, 200, 0.1);

@value c_cool_pale_gray rgba(242, 244, 248, 1);
@value c_cool_pale_gray_8 rgba(242, 244, 248, 0.8);
@value c_cool_pale_gray_5 rgba(242, 244, 248, 0.5);
@value c_cool_pale_gray_2 rgba(242, 244, 248, 0.2);
@value c_cool_pale_gray_1 rgba(242, 244, 248, 0.1);

@value c_cool_dark_gray rgba(35, 48, 67, 1);

@value c_dark_gray #333;
@value c_mid_gray #555;
@value c_gray #777;
@value c_silver #999;
@value c_light_silver #aaa;
@value c_light_gray #eee;
@value c_light_gray_2 #d8d8d8;
@value c_near_white #fafafa;
@value c_moon_gray #ccc;
@value c_black_90 rgba( 0, 0, 0, .9 );
@value c_black_80 rgba( 0, 0, 0, .8 );
@value c_black_70 rgba( 0, 0, 0, .7 );
@value c_black_60 rgba( 0, 0, 0, .6 );
@value c_black_50 rgba( 0, 0, 0, .5 );
@value c_black_40 rgba( 0, 0, 0, .4 );
@value c_black_30 rgba( 0, 0, 0, .3 );
@value c_black_20 rgba( 0, 0, 0, .2 );
@value c_black_10 rgba( 0, 0, 0, .1 );
@value c_black_05 rgba( 0, 0, 0, .05 );
@value c_black_025 rgba( 0, 0, 0, .025 );
@value c_black_0125 rgba( 0, 0, 0, .0125 );
@value c_white_90 rgba( 255, 255, 255, .9 );
@value c_white_80 rgba( 255, 255, 255, .8 );
@value c_white_70 rgba( 255, 255, 255, .7 );
@value c_white_60 rgba( 255, 255, 255, .6 );
@value c_white_50 rgba( 255, 255, 255, .5 );
@value c_white_40 rgba( 255, 255, 255, .4 );
@value c_white_30 rgba( 255, 255, 255, .3 );
@value c_white_20 rgba( 255, 255, 255, .2 );
@value c_white_10 rgba( 255, 255, 255, .1 );
@value c_white_05 rgba( 255, 255, 255, .05 );
@value c_white_025 rgba( 255, 255, 255, .025 );
@value c_white_0125 rgba( 255, 255, 255, .0125 );

@value c_cool_gray2 rgba(52, 73, 102, 1);

/* Colors */
.blue { color: c_blue_text; }
.blue_8 { color: c_blue_8; }
.blue_5 { color: c_blue_5; }
.blue_2 { color: c_blue_2; }
.blue_1 { color: c_blue_1; }
.dark_blue { color: c_dark_blue; }
.dark_blue_5 { color: c_dark_blue_5; }
.green { color: c_green_text; }
.green_8 { color: c_green_8; }
.green_5 { color: c_green_5; }
.green_2 { color: c_green_2; }
.dark_green { color: c_dark_green; }
.orange { color: c_orange; }
.orange_8 { color: c_orange_8; }
.orange_5 { color: c_orange_5; }
.orange_2 { color: c_orange_2; }
.orange_1 { color: c_orange_1; }
.red { color: c_red_text; }
.red_8 { color: c_red_8; }
.red_5 { color: c_red_5; }
.red_2 { color: c_red_2; }
.purple { color: c_purple; }
.purple_8 { color: c_purple_8; }
.purple_5 { color: c_purple_5; }
.purple_2 { color: c_purple_2; }
.purple_1 { color: c_purple_1; }
.light_purple { color: c_light_purple; }
.dark_purple { color: c_dark_purple; }
.dark_purple_8 { color: c_dark_purple_8; }
.cool_gray { color: c_cool_gray; }
.cool_gray_8 { color: c_cool_gray_8; }
.cool_gray_5 { color: c_cool_gray_5; }
.cool_gray_2 { color: c_cool_gray_2; }
.cool_gray_1 { color: c_cool_gray_1; }
.cool_mid_gray { color: c_cool_mid_gray; }
.cool_mid_gray_1 { color: c_cool_mid_gray_1; }
.cool_mid_gray_2 { color: c_cool_mid_gray_2; }
.cool_mid_gray_3 { color: c_cool_mid_gray_3; }
.cool_mid_gray_5 { color: c_cool_mid_gray_5; }
.cool_mid_gray_8 { color: c_cool_mid_gray_8; }

.cool_pale_gray { color: c_cool_pale_gray; }

.black { color: black; }
.dark_gray { color: c_dark_gray; }
.mid_gray { color: c_mid_gray; }
.gray { color: c_gray; }
.silver { color: c_silver; }
.light_silver { color: c_light_silver; }
.light_gray { color: c_light_gray; }
.near_white { color: c_near_white; }
.moon_gray { color: c_moon_gray; }
.white { color: white; }
.white_90 { color: c_white_90; }
.white_80 { color: c_white_80; }
.white_70 { color: c_white_70; }
.white_60 { color: c_white_60; }
.white_50 { color: c_white_50; }
.white_40 { color: c_white_40; }
.white_30 { color: c_white_30; }
.white_20 { color: c_white_20; }
.white_10 { color: c_white_10; }
.white_05 { color: c_white_05; }
.white_025 { color: c_white_025; }
.white_0125 { color: c_white_0125; }
.black_90 { color: c_black_90; }
.black_80 { color: c_black_80; }
.black_70 { color: c_black_70; }
.black_60 { color: c_black_60; }
.black_50 { color: c_black_50; }
.black_40 { color: c_black_40; }
.black_30 { color: c_black_30; }
.black_20 { color: c_black_20; }
.black_10 { color: c_black_10; }
.black_05 { color: c_black_05; }
.black_025 { color: c_black_025; }
.black_0125 { color: c_black_0125; }
.transparent { color: transparent; }

/* Backgrounds */
.bg_blue { background-color: c_blue; }
.bg_blue_8 { background-color: c_blue_8; }
.bg_blue_5 { background-color: c_blue_5; }
.bg_blue_2 { background-color: c_blue_2; }
.bg_blue_1 { background-color: c_blue_1; }
.bg_dark_blue { background-color: c_dark_blue; }
.bg_dark_blue { background-color: c_dark_blue_5; }
.bg_blue_gradient {
	background-image: linear-gradient(-180deg, c_blue 0%, c_blue_text 100%);
}

.bg_green { background-color: c_green; }
.bg_green_8 { background-color: c_green_8; }
.bg_green_5 { background-color: c_green_5; }
.bg_green_2 { background-color: c_green_2; }

.bg_orange { background-color: c_orange; }
.bg_orange_8 { background-color: c_orange_8; }
.bg_orange_5 { background-color: c_orange_5; }
.bg_orange_2 { background-color: c_orange_2; }
.bg_orange_1 { background-color: c_orange_1; }

.bg_red { background-color: c_red; }
.bg_red_8 { background-color: c_red_8; }
.bg_red_5 { background-color: c_red_5; }
.bg_red_2 { background-color: c_red_2; }

.bg_purple { background-color: c_purple; }
.bg_purple_8 { background-color: c_purple_8; }
.bg_purple_5 { background-color: c_purple_5; }
.bg_purple_2 { background-color: c_purple_2; }
.bg_purple_1 { background-color: c_purple_1; }
.bg_light_purple { background-color: c_light_purple; }
.bg_dark_purple { background-color: c_dark_purple; }
.bg_dark_purple_8 { background-color: c_dark_purple_8; }
.bg_purple_gradient {
	background-image: linear-gradient(-180deg, c_purple 0%, c_dark_purple 100%);
}

.bg_cool_mid_gray { background-color: c_cool_mid_gray; }
.bg_cool_mid_gray_8 { background-color: c_cool_mid_gray_8; }
.bg_cool_mid_gray_5 { background-color: c_cool_mid_gray_5; }
.bg_cool_mid_gray_3 { background-color: c_cool_mid_gray_3; }
.bg_cool_mid_gray_2 { background-color: c_cool_mid_gray_2; }
.bg_cool_mid_gray_1 { background-color: c_cool_mid_gray_1; }

.bg_cool_gray { background-color: c_cool_gray; }
.bg_cool_gray_8 { background-color: c_cool_gray_8; }
.bg_cool_gray_2 { background-color: c_cool_gray_2; }
.bg_cool_gray_1 { background-color: c_cool_gray_1; }

.bg_cool_pale_gray { background-color: c_cool_pale_gray; }
.bg_cool_pale_gray_8 { background-color: c_cool_pale_gray_8; }
.bg_cool_pale_gray_5 { background-color: c_cool_pale_gray_5; }
.bg_cool_pale_gray_2 { background-color: c_cool_pale_gray_2; }
.bg_cool_pale_gray_1 { background-color: c_cool_pale_gray_1; }

.bg_black { background-color: black; }
.bg_dark_gray { background-color: c_dark_gray; }
.bg_mid_gray { background-color: c_mid_gray; }
.bg_gray { background-color: c_gray; }
.bg_silver { background-color: c_silver; }
.bg_light_silver { background-color: c_light_silver; }
.bg_light_gray { background-color: c_light_gray; }
.bg_moon_gray { background-color: c_moon_gray; }

.bg_near_white { background-color: c_near_white; }
.bg_white { background-color: white; }
.bg_white_90 { background-color: c_white_90; }
.bg_white_80 { background-color: c_white_80; }
.bg_white_70 { background-color: c_white_70; }
.bg_white_60 { background-color: c_white_60; }
.bg_white_50 { background-color: c_white_50; }
.bg_white_40 { background-color: c_white_40; }
.bg_white_30 { background-color: c_white_30; }
.bg_white_20 { background-color: c_white_20; }
.bg_white_10 { background-color: c_white_10; }
.bg_white_05 { background-color: c_white_05; }
.bg_white_025 { background-color: c_white_025; }
.bg_white_0125 { background-color: c_white_0125; }
.bg_pale_white_gradient {
	background-image: linear-gradient(-1deg, c_near_white 0%, white 100%);
}
.bg_black_90 { background-color: c_black_90; }
.bg_black_80 { background-color: c_black_80; }
.bg_black_70 { background-color: c_black_70; }
.bg_black_60 { background-color: c_black_60; }
.bg_black_50 { background-color: c_black_50; }
.bg_black_40 { background-color: c_black_40; }
.bg_black_30 { background-color: c_black_30; }
.bg_black_20 { background-color: c_black_20; }
.bg_black_10 { background-color: c_black_10; }
.bg_black_05 { background-color: c_black_05; }
.bg_black_025 { background-color: c_black_025; }
.bg_black_0125 { background-color: c_black_0125; }
.bg_transparent { background-color: transparent; }

/* Borders */
.b__blue { border-color: c_blue; }
.b__blue_8 { border-color: c_blue_8; }
.b__blue_5 { border-color: c_blue_5; }
.b__blue_2 { border-color: c_blue_2; }
.b__blue_1 { border-color: c_blue_1; }
.b__dark_blue { border-color: c_dark_blue; }
.b__dark_blue { border-color: c_dark_blue_5; }
.b__green { border-color: c_green; }
.b__green_8 { border-color: c_green_8; }
.b__green_5 { border-color: c_green_5; }
.b__green_2 { border-color: c_green_2; }
.b__orange { border-color: c_orange; }
.b__orange_8 { border-color: c_orange_8; }
.b__orange_5 { border-color: c_orange_5; }
.b__orange_2 { border-color: c_orange_2; }
.b__orange_1 { border-color: c_orange_1; }
.b__light_orange { border-color: c_light-orange; }
.b__dark_orange { border-color: c_dark_orange; }
.b__red { border-color: c_red; }
.b__red_8 { border-color: c_red_8; }
.b__red_5 { border-color: c_red_5; }
.b__red_2 { border-color: c_red_2; }
.b__purple { border-color: c_purple; }
.b__purple_8 { border-color: c_purple_8; }
.b__purple_5 { border-color: c_purple_5; }
.b__purple_2 { border-color: c_purple_2; }
.b__purple_1 { border-color: c_purple_1; }
.b__light_purple { border-color: c_light_purple; }
.b__dark_purple { border-color: c_dark_purple; }
.b__dark_purple_8 { border-color: c_dark_purple_8; }
.b__cool_gray { border-color: c_cool_gray; }
.b__cool_gray_1 { border-color: c_cool_gray_1; }
.b__cool_gray_2 { border-color: c_cool_gray_2; }
.b__cool_gray_3 { border-color: c_cool_gray-3; }
.b__cool_gray_5 { border-color: c_cool_gray_5; }
.b__cool_gray_8 { border-color: c_cool_gray_8; }
.b__cool_mid_gray { border-color: c_cool_mid_gray; }
.b__cool_mid_gray_1 { border-color: c_cool_mid_gray_1; }
.b__cool_mid_gray_2 { border-color: c_cool_mid_gray_2; }
.b__cool_mid_gray_3 { border-color: c_cool_mid_gray_3; }
.b__cool_mid_gray_5 { border-color: c_cool_mid_gray_5; }
.b__cool_mid_gray_8 { border-color: c_cool_mid_gray_8; }
.b__cool_pale_gray { border-color: c_cool_pale_gray; }
.b__cool_pale_gray_8 { border-color: c_cool_pale_gray_8; }
.b__black { border-color: black; }
.b__dark_gray { border-color: c_dark_gray; }
.b__mid_gray { border-color: c_mid_gray; }
.b__gray { border-color: c_gray; }
.b__silver { border-color: c_silver; }
.b__light_silver { border-color: c_light_silver; }
.b__light_gray { border-color: c_light_gray; }
.b__light_gray_2 { border-color: c_light_gray_2; }
.b__near_white { border-color: c_near_white; }
.b__moon_gray { border-color: c_moon_gray; }
.b__white { border-color: white; }
.b__white_90 { border-color: c_white_90; }
.b__white_80 { border-color: c_white_80; }
.b__white_70 { border-color: c_white_70; }
.b__white_60 { border-color: c_white_60; }
.b__white_50 { border-color: c_white_50; }
.b__white_40 { border-color: c_white_40; }
.b__white_30 { border-color: c_white_30; }
.b__white_20 { border-color: c_white_20; }
.b__white_10 { border-color: c_white_10; }
.b__white_05 { border-color: c_white_05; }
.b__white_025 { border-color: c_white_025; }
.b__white_0125 { border-color: c_white_0125; }
.b__black_90 { border-color: c_black_90; }
.b__black_80 { border-color: c_black_80; }
.b__black_70 { border-color: c_black_70; }
.b__black_60 { border-color: c_black_60; }
.b__black_50 { border-color: c_black_50; }
.b__black_40 { border-color: c_black_40; }
.b__black_30 { border-color: c_black_30; }
.b__black_20 { border-color: c_black_20; }
.b__black_10 { border-color: c_black_10; }
.b__black_05 { border-color: c_black_05; }
.b__black_025 { border-color: c_black_025; }
.b__black_0125 { border-color: c_black_0125; }
.b__transparent { border-color: transparent; }

.shadow_gray { box-shadow: 0px 1px 6px 0px c_cool_mid_gray_1; }
