@value c_blue rgba(15, 182, 242, 1);
@value c_blue_text rgba(0, 146, 214, 1);
@value c_blue_8 rgba(15, 182, 242, .8);
@value c_blue_5 rgba(15, 182, 242, .5);
@value c_blue_2 rgba(15, 182, 242, .2);
@value c_blue_1 rgba(15, 182, 242, .1);
@value c_faded_blue rgb(155, 194, 215);
@value c_dark_blue rgba(0, 82, 140, 1);
@value c_dark_blue_5 rgba(0, 82, 140, .5);

@value c_dark_blue_2 rgb(0, 166, 222);
@value c_pale_blue rgba(247, 249, 255, 1);
@value c_light_blue rgba(64,120,192,.06);

@value c_purple rgba(177, 20, 247, 1);
@value c_purple_8 rgba(177, 20, 247, .8);
@value c_purple_5 rgba(177, 20, 247, .5);
@value c_purple_2 rgba(177, 20, 247, .2);
@value c_purple_1 rgba(177, 20, 247, .1);
@value c_light_purple rgba(232, 195, 250, 1);
@value c_dark_purple rgba(123, 13, 172, 1);
@value c_dark_purple_8 rgba(123, 13, 172, 0.8);

@value c_orange rgba(249, 99, 22, 1);
@value c_orange_8 rgba(249, 99, 22, .8);
@value c_orange_5 rgba(249, 99, 22, .5);
@value c_orange_2 rgba(249, 99, 22, .2);
@value c_orange_1 rgba(249, 99, 22, .2);
@value c_dark_orange rgba(230, 70, 0, 1);

@value c_green rgba(13, 181, 161, 1);
@value c_green_text rgba(13, 156, 138, 1);
@value c_green_8 rgba(13, 181, 161, .8);
@value c_green_5 rgba(13, 181, 161, .5);
@value c_green_2 rgba(13, 181, 161, .2);
@value c_dark_green rgba(5, 128, 128, 100);

@value c_yellow rgba(255, 199, 112, 1);
@value c_yellow_8 rgba(255, 199, 112, 0.8);
@value c_yellow_5 rgba(255, 199, 112, 0.5);
@value c_yellow_2 rgba(255, 199, 112, 0.2);

@value c_red rgba(246, 106, 106, 1);
@value c_red_text rgba(242, 73, 73, 1);
@value c_red_8 rgba(246, 106, 106, .8);
@value c_red_5 rgba(246, 106, 106, .5);
@value c_red_2 rgba(246, 106, 106, .2);

@value c_cool_gray rgba(62, 90, 126, 1);
@value c_cool_gray_8 rgba(62, 90, 126, .8);
@value c_cool_gray_5 rgba(62, 90, 126, .5);
@value c_cool_gray_2 rgba(62, 90, 126, .2);
@value c_cool_gray_1 rgba(62, 90, 126, .1);

@value c_cool_mid_gray rgba(119, 147, 174, 1);
@value c_cool_mid_gray_8 rgba(119, 147, 174, 0.8);
@value c_cool_mid_gray_5 rgba(119, 147, 174, 0.5);
@value c_cool_mid_gray_3 rgba(119, 147, 174, 0.3);
@value c_cool_mid_gray_2 rgba(119, 147, 174, 0.2);
@value c_cool_mid_gray_1 rgba(119, 147, 174, 0.1);

@value c_cool_pale_gray rgba(213, 229, 242, 1);
@value c_cool_pale_gray_8 rgba(213, 229, 242, 0.8);
@value c_cool_pale_gray_5 rgba(213, 229, 242, 0.5);
@value c_cool_pale_gray_2 rgba(213, 229, 242, 0.2);
@value c_cool_pale_gray_1 rgba(213, 229, 242, 0.1);

@value c_cool_dark_gray rgba(26, 48, 77, 1);

@value c_dark_gray #333;
@value c_mid_gray #555;
@value c_gray #777;
@value c_silver #999;
@value c_light_silver #aaa;
@value c_light_gray #eee;
@value c_light_gray_2 #d8d8d8;
@value c_near_white #fafafa;
@value c_moon_gray #ccc;
@value c_black_90 rgba( 0, 0, 0, .9 );
@value c_black_80 rgba( 0, 0, 0, .8 );
@value c_black_70 rgba( 0, 0, 0, .7 );
@value c_black_60 rgba( 0, 0, 0, .6 );
@value c_black_50 rgba( 0, 0, 0, .5 );
@value c_black_40 rgba( 0, 0, 0, .4 );
@value c_black_30 rgba( 0, 0, 0, .3 );
@value c_black_20 rgba( 0, 0, 0, .2 );
@value c_black_10 rgba( 0, 0, 0, .1 );
@value c_black_05 rgba( 0, 0, 0, .05 );
@value c_black_025 rgba( 0, 0, 0, .025 );
@value c_black_0125 rgba( 0, 0, 0, .0125 );
@value c_white_90 rgba( 255, 255, 255, .9 );
@value c_white_80 rgba( 255, 255, 255, .8 );
@value c_white_70 rgba( 255, 255, 255, .7 );
@value c_white_60 rgba( 255, 255, 255, .6 );
@value c_white_50 rgba( 255, 255, 255, .5 );
@value c_white_40 rgba( 255, 255, 255, .4 );
@value c_white_30 rgba( 255, 255, 255, .3 );
@value c_white_20 rgba( 255, 255, 255, .2 );
@value c_white_10 rgba( 255, 255, 255, .1 );
@value c_white_05 rgba( 255, 255, 255, .05 );
@value c_white_025 rgba( 255, 255, 255, .025 );
@value c_white_0125 rgba( 255, 255, 255, .0125 );

@value c_cool_gray2 rgba(52, 73, 102, 1);

/* Colors */
.blue { color: c_blue_text; }
.blue_8 { color: c_blue_8; }
.blue_5 { color: c_blue_5; }
.blue_2 { color: c_blue_2; }
.blue_1 { color: c_blue_1; }
.faded_blue { color: c_faded_blue; }
.pale_blue { color: c_pale_blue; }
.dark_blue { color: c_dark_blue; }
.dark_blue_5 { color: c_dark_blue_5; }
.green { color: c_green_text; }
.green_8 { color: c_green_8; }
.green_5 { color: c_green_5; }
.green_2 { color: c_green_2; }
.dark_green { color: c_dark_green; }
.yellow { color: c_yellow; }
.yellow_8 { color: c_yellow; }
.yellow_5 { color: c_yellow; }
.yellow_2 { color: c_yellow; }
.orange { color: c_orange; }
.orange_8 { color: c_orange_8; }
.orange_5 { color: c_orange_5; }
.orange_2 { color: c_orange_2; }
.orange_1 { color: c_orange_1; }
.red { color: c_red_text; }
.red_8 { color: c_red_8; }
.red_5 { color: c_red_5; }
.red_2 { color: c_red_2; }
.purple { color: c_purple; }
.purple_8 { color: c_purple_8; }
.purple_5 { color: c_purple_5; }
.purple_2 { color: c_purple_2; }
.purple_1 { color: c_purple_1; }
.light_purple { color: c_light_purple; }
.dark_purple { color: c_dark_purple; }
.dark_purple_8 { color: c_dark_purple_8; }
.cool_gray { color: c_cool_gray; }
.cool_gray_8 { color: c_cool_gray_8; }
.cool_gray_5 { color: c_cool_gray_5; }
.cool_gray_2 { color: c_cool_gray_2; }
.cool_gray_1 { color: c_cool_gray_1; }
.cool_mid_gray { color: c_cool_mid_gray; }
.cool_mid_gray_1 { color: c_cool_mid_gray_1; }
.cool_mid_gray_2 { color: c_cool_mid_gray_2; }
.cool_mid_gray_3 { color: c_cool_mid_gray_3; }
.cool_mid_gray_5 { color: c_cool_mid_gray_5; }
.cool_mid_gray_8 { color: c_cool_mid_gray_8; }

.cool_pale_gray { color: c_cool_pale_gray; }

.black { color: black; }
.dark_gray { color: c_dark_gray; }
.mid_gray { color: c_mid_gray; }
.gray { color: c_gray; }
.silver { color: c_silver; }
.light_silver { color: c_light_silver; }
.light_gray { color: c_light_gray; }
.near_white { color: c_near_white; }
.moon_gray { color: c_moon_gray; }
.white { color: white; }
.white_90 { color: c_white_90; }
.white_80 { color: c_white_80; }
.white_70 { color: c_white_70; }
.white_60 { color: c_white_60; }
.white_50 { color: c_white_50; }
.white_40 { color: c_white_40; }
.white_30 { color: c_white_30; }
.white_20 { color: c_white_20; }
.white_10 { color: c_white_10; }
.white_05 { color: c_white_05; }
.white_025 { color: c_white_025; }
.white_0125 { color: c_white_0125; }
.black_90 { color: c_black_90; }
.black_80 { color: c_black_80; }
.black_70 { color: c_black_70; }
.black_60 { color: c_black_60; }
.black_50 { color: c_black_50; }
.black_40 { color: c_black_40; }
.black_30 { color: c_black_30; }
.black_20 { color: c_black_20; }
.black_10 { color: c_black_10; }
.black_05 { color: c_black_05; }
.black_025 { color: c_black_025; }
.black_0125 { color: c_black_0125; }
.transparent { color: transparent; }

/* Backgrounds */
.bg_blue { background-color: c_blue; }
.bg_blue_8 { background-color: c_blue_8; }
.bg_blue_5 { background-color: c_blue_5; }
.bg_blue_2 { background-color: c_blue_2; }
.bg_blue_1 { background-color: c_blue_1; }
.bg_faded_blue { background-color: c_faded_blue; }
.bg_pale_blue { background-color: c_pale_blue; }
.bg_light_blue { background-color: c_light_blue; }
.bg_dark_blue { background-color: c_dark_blue; }
.bg_dark_blue { background-color: c_dark_blue_5; }
.bg_blue_gradient {
	background-image: linear-gradient(-180deg, c_blue 0%, c_blue_text 100%);
}
.bg_pale_blue_gradient {
	background-image: linear-gradient(0deg, c_cool_pale_gray 0%, #F1F5F7 80%);
}

.bg_green { background-color: c_green; }
.bg_green_8 { background-color: c_green_8; }
.bg_green_5 { background-color: c_green_5; }
.bg_green_2 { background-color: c_green_2; }

.bg_yellow { background-color: c_yellow; }

.bg_orange { background-color: c_orange; }
.bg_orange_8 { background-color: c_orange_8; }
.bg_orange_5 { background-color: c_orange_5; }
.bg_orange_2 { background-color: c_orange_2; }
.bg_orange_1 { background-color: c_orange_1; }

.bg_red { background-color: c_red; }
.bg_red_8 { background-color: c_red_8; }
.bg_red_5 { background-color: c_red_5; }
.bg_red_2 { background-color: c_red_2; }

.bg_yellow { background-color: c_yellow; }
.bg_yellow_8 { background-color: c_yellow; }
.bg_yellow_5 { background-color: c_yellow; }
.bg_yellow_2 { background-color: c_yellow; }

.bg_purple { background-color: c_purple; }
.bg_purple_8 { background-color: c_purple_8; }
.bg_purple_5 { background-color: c_purple_5; }
.bg_purple_2 { background-color: c_purple_2; }
.bg_purple_1 { background-color: c_purple_1; }
.bg_light_purple { background-color: c_light_purple; }
.bg_dark_purple { background-color: c_dark_purple; }
.bg_dark_purple_8 { background-color: c_dark_purple_8; }
.bg_purple_gradient {
	background-image: linear-gradient(-180deg, c_purple 0%, c_dark_purple 100%);
}

.bg_cool_mid_gray { background-color: c_cool_mid_gray; }
.bg_cool_mid_gray_8 { background-color: c_cool_mid_gray_8; }
.bg_cool_mid_gray_5 { background-color: c_cool_mid_gray_5; }
.bg_cool_mid_gray_3 { background-color: c_cool_mid_gray_3; }
.bg_cool_mid_gray_2 { background-color: c_cool_mid_gray_2; }
.bg_cool_mid_gray_1 { background-color: c_cool_mid_gray_1; }

.bg_cool_gray { background-color: c_cool_gray; }
.bg_cool_gray_8 { background-color: c_cool_gray_8; }
.bg_cool_gray_2 { background-color: c_cool_gray_2; }
.bg_cool_gray_1 { background-color: c_cool_gray_1; }

.bg_cool_pale_gray { background-color: c_cool_pale_gray; }
.bg_cool_pale_gray_8 { background-color: c_cool_pale_gray_8; }
.bg_cool_pale_gray_5 { background-color: c_cool_pale_gray_5; }
.bg_cool_pale_gray_2 { background-color: c_cool_pale_gray_2; }
.bg_cool_pale_gray_1 { background-color: c_cool_pale_gray_1; }

.bg_black { background-color: black; }
.bg_dark_gray { background-color: c_dark_gray; }
.bg_mid_gray { background-color: c_mid_gray; }
.bg_gray { background-color: c_gray; }
.bg_silver { background-color: c_silver; }
.bg_light_silver { background-color: c_light_silver; }
.bg_light_gray { background-color: c_light_gray; }
.bg_moon_gray { background-color: c_moon_gray; }

.bg_near_white { background-color: c_near_white; }
.bg_white { background-color: white; }
.bg_white_90 { background-color: c_white_90; }
.bg_white_80 { background-color: c_white_80; }
.bg_white_70 { background-color: c_white_70; }
.bg_white_60 { background-color: c_white_60; }
.bg_white_50 { background-color: c_white_50; }
.bg_white_40 { background-color: c_white_40; }
.bg_white_30 { background-color: c_white_30; }
.bg_white_20 { background-color: c_white_20; }
.bg_white_10 { background-color: c_white_10; }
.bg_white_05 { background-color: c_white_05; }
.bg_white_025 { background-color: c_white_025; }
.bg_white_0125 { background-color: c_white_0125; }
.bg_pale_white_gradient {
	background-image: linear-gradient(-1deg, c_near_white 0%, white 100%);
}
.bg_black_90 { background-color: c_black_90; }
.bg_black_80 { background-color: c_black_80; }
.bg_black_70 { background-color: c_black_70; }
.bg_black_60 { background-color: c_black_60; }
.bg_black_50 { background-color: c_black_50; }
.bg_black_40 { background-color: c_black_40; }
.bg_black_30 { background-color: c_black_30; }
.bg_black_20 { background-color: c_black_20; }
.bg_black_10 { background-color: c_black_10; }
.bg_black_05 { background-color: c_black_05; }
.bg_black_025 { background-color: c_black_025; }
.bg_black_0125 { background-color: c_black_0125; }
.bg_transparent { background-color: transparent; }

/* Borders */
.b__blue { border-color: c_blue; }
.b__blue_8 { border-color: c_blue_8; }
.b__blue_5 { border-color: c_blue_5; }
.b__blue_2 { border-color: c_blue_2; }
.b__blue_1 { border-color: c_blue_1; }
.b__faded_blue { border-color: c_faded_blue; }
.b__pale_blue { border-color: c_pale_blue; }
.b__dark_blue { border-color: c_dark_blue; }
.b__dark_blue { border-color: c_dark_blue_5; }
.b__green { border-color: c_green; }
.b__green_8 { border-color: c_green_8; }
.b__green_5 { border-color: c_green_5; }
.b__green_2 { border-color: c_green_2; }
.b__yellow { border-color: c_yellow; }
.b__orange { border-color: c_orange; }
.b__orange_8 { border-color: c_orange_8; }
.b__orange_5 { border-color: c_orange_5; }
.b__orange_2 { border-color: c_orange_2; }
.b__orange_1 { border-color: c_orange_1; }
.b__light_orange { border-color: c_light-orange; }
.b__dark_orange { border-color: c_dark_orange; }
.b__red { border-color: c_red; }
.b__red_8 { border-color: c_red_8; }
.b__red_5 { border-color: c_red_5; }
.b__red_2 { border-color: c_red_2; }
.b__yellow { border-color: c_yellow; }
.b__yellow_8 { border-color: c_yellow; }
.b__yellow_5 { border-color: c_yellow; }
.b__yellow_2 { border-color: c_yellow; }
.b__purple { border-color: c_purple; }
.b__purple_8 { border-color: c_purple_8; }
.b__purple_5 { border-color: c_purple_5; }
.b__purple_2 { border-color: c_purple_2; }
.b__purple_1 { border-color: c_purple_1; }
.b__light_purple { border-color: c_light_purple; }
.b__dark_purple { border-color: c_dark_purple; }
.b__dark_purple_8 { border-color: c_dark_purple_8; }
.b__cool_gray { border-color: c_cool_gray; }
.b__cool_gray_1 { border-color: c_cool_gray_1; }
.b__cool_gray_2 { border-color: c_cool_gray_2; }
.b__cool_gray_3 { border-color: c_cool_gray-3; }
.b__cool_gray_5 { border-color: c_cool_gray_5; }
.b__cool_gray_8 { border-color: c_cool_gray_8; }
.b__cool_mid_gray { border-color: c_cool_mid_gray; }
.b__cool_mid_gray_1 { border-color: c_cool_mid_gray_1; }
.b__cool_mid_gray_2 { border-color: c_cool_mid_gray_2; }
.b__cool_mid_gray_3 { border-color: c_cool_mid_gray_3; }
.b__cool_mid_gray_5 { border-color: c_cool_mid_gray_5; }
.b__cool_mid_gray_8 { border-color: c_cool_mid_gray_8; }
.b__cool_pale_gray { border-color: c_cool_pale_gray; }
.b__cool_pale_gray_8 { border-color: c_cool_pale_gray_8; }
.b__black { border-color: black; }
.b__dark_gray { border-color: c_dark_gray; }
.b__mid_gray { border-color: c_mid_gray; }
.b__gray { border-color: c_gray; }
.b__silver { border-color: c_silver; }
.b__light_silver { border-color: c_light_silver; }
.b__light_gray { border-color: c_light_gray; }
.b__light_gray_2 { border-color: c_light_gray_2; }
.b__near_white { border-color: c_near_white; }
.b__moon_gray { border-color: c_moon_gray; }
.b__white { border-color: white; }
.b__white_90 { border-color: c_white_90; }
.b__white_80 { border-color: c_white_80; }
.b__white_70 { border-color: c_white_70; }
.b__white_60 { border-color: c_white_60; }
.b__white_50 { border-color: c_white_50; }
.b__white_40 { border-color: c_white_40; }
.b__white_30 { border-color: c_white_30; }
.b__white_20 { border-color: c_white_20; }
.b__white_10 { border-color: c_white_10; }
.b__white_05 { border-color: c_white_05; }
.b__white_025 { border-color: c_white_025; }
.b__white_0125 { border-color: c_white_0125; }
.b__black_90 { border-color: c_black_90; }
.b__black_80 { border-color: c_black_80; }
.b__black_70 { border-color: c_black_70; }
.b__black_60 { border-color: c_black_60; }
.b__black_50 { border-color: c_black_50; }
.b__black_40 { border-color: c_black_40; }
.b__black_30 { border-color: c_black_30; }
.b__black_20 { border-color: c_black_20; }
.b__black_10 { border-color: c_black_10; }
.b__black_05 { border-color: c_black_05; }
.b__black_025 { border-color: c_black_025; }
.b__black_0125 { border-color: c_black_0125; }
.b__transparent { border-color: transparent; }

.shadow_gray { box-shadow: 0px 1px 6px 0px c_cool_mid_gray_1; }

/* SVG Fills */

.fill_blue { fill: c_blue_text; }
.fill_blue_8 { fill: c_blue_8; }
.fill_blue_5 { fill: c_blue_5; }
.fill_blue_2 { fill: c_blue_2; }
.fill_blue_1 { fill: c_blue_1; }
.fill_faded_blue { fill: c_faded_blue; }
.fill_pale_blue { fill: c_pale_blue; }
.fill_dark_blue { fill: c_dark_blue; }
.fill_dark_blue_5 { fill: c_dark_blue_5; }
.fill_green { fill: c_green_text; }
.fill_green_8 { fill: c_green_8; }
.fill_green_5 { fill: c_green_5; }
.fill_green_2 { fill: c_green_2; }
.fill_dark_green { fill: c_dark_green; }
.fill_yellow { fill: c_yellow; }
.fill_yellow_8 { fill: c_yellow; }
.fill_yellow_5 { fill: c_yellow; }
.fill_yellow_2 { fill: c_yellow; }
.fill_orange { fill: c_orange; }
.fill_orange_8 { fill: c_orange_8; }
.fill_orange_5 { fill: c_orange_5; }
.fill_orange_2 { fill: c_orange_2; }
.fill_orange_1 { fill: c_orange_1; }
.fill_red { fill: c_red_text; }
.fill_red_8 { fill: c_red_8; }
.fill_red_5 { fill: c_red_5; }
.fill_red_2 { fill: c_red_2; }
.fill_purple { fill: c_purple; }
.fill_purple_8 { fill: c_purple_8; }
.fill_purple_5 { fill: c_purple_5; }
.fill_purple_2 { fill: c_purple_2; }
.fill_purple_1 { fill: c_purple_1; }
.fill_light_purple { fill: c_light_purple; }
.fill_dark_purple { fill: c_dark_purple; }
.fill_dark_purple_8 { fill: c_dark_purple_8; }
.fill_cool_gray { fill: c_cool_gray; }
.fill_cool_gray_8 { fill: c_cool_gray_8; }
.fill_cool_gray_5 { fill: c_cool_gray_5; }
.fill_cool_gray_2 { fill: c_cool_gray_2; }
.fill_cool_gray_1 { fill: c_cool_gray_1; }
.fill_cool_mid_gray { fill: c_cool_mid_gray; }
.fill_cool_pale_gray { fill: c_cool_pale_gray; }

.fill_black { fill: black; }
.fill_dark_gray { fill: c_dark_gray; }
.fill_mid_gray { fill: c_mid_gray; }
.fill_gray { fill: c_gray; }
.fill_silver { fill: c_silver; }
.fill_light_silver { fill: c_light_silver; }
.fill_light_gray { fill: c_light_gray; }
.fill_near_white { fill: c_near_white; }
.fill_moon_gray { fill: c_moon_gray; }
.fill_white { fill: white; }
.fill_white_90 { fill: c_white_90; }
.fill_white_80 { fill: c_white_80; }
.fill_white_70 { fill: c_white_70; }
.fill_white_60 { fill: c_white_60; }
.fill_white_50 { fill: c_white_50; }
.fill_white_40 { fill: c_white_40; }
.fill_white_30 { fill: c_white_30; }
.fill_white_20 { fill: c_white_20; }
.fill_white_10 { fill: c_white_10; }
.fill_white_05 { fill: c_white_05; }
.fill_white_025 { fill: c_white_025; }
.fill_white_0125 { fill: c_white_0125; }
.fill_black_90 { fill: c_black_90; }
.fill_black_80 { fill: c_black_80; }
.fill_black_70 { fill: c_black_70; }
.fill_black_60 { fill: c_black_60; }
.fill_black_50 { fill: c_black_50; }
.fill_black_40 { fill: c_black_40; }
.fill_black_30 { fill: c_black_30; }
.fill_black_20 { fill: c_black_20; }
.fill_black_10 { fill: c_black_10; }
.fill_black_05 { fill: c_black_05; }
.fill_black_025 { fill: c_black_025; }
.fill_black_0125 { fill: c_black_0125; }
.fill_transparent { fill: transparent; }
