/*! This file was adapted from Basscss (grid module) v8.0.1 | http://basscss.com | MIT License */

.col {
	float: left;
	box-sizing: border-box;
}

.col_right {
	float: right;
	box-sizing: border-box;
}

.col_1 {
	width: 8.33333%;
}

.col_2 {
	width: 16.66667%;
}

.col_3 {
	width: 25%;
}

.col_4 {
	width: 33.33333%;
}

.col_5 {
	width: 41.66667%;
}

.col_6 {
	width: 50%;
}

.col_7 {
	width: 58.33333%;
}

.col_8 {
	width: 66.66667%;
}

.col_9 {
	width: 75%;
}

.col_10 {
	width: 83.33333%;
}

.col_11 {
	width: 91.66667%;
}

.col_12 {
	width: 100%;
}

@media screen and (min-width: 48em) {

	.col_ns {
		float: left;
		box-sizing: border-box;
	}

	.col_right_ns {
		float: right;
		box-sizing: border-box;
	}

	.col_1_ns {
		width: 8.33333%;
	}

	.col_2_ns {
		width: 16.66667%;
	}

	.col_3_ns {
		width: 25%;
	}

	.col_4_ns {
		width: 33.33333%;
	}

	.col_5_ns {
		width: 41.66667%;
	}

	.col_6_ns {
		width: 50%;
	}

	.col_7_ns {
		width: 58.33333%;
	}

	.col_8_ns {
		width: 66.66667%;
	}

	.col_9_ns {
		width: 75%;
	}

	.col_10_ns {
		width: 83.33333%;
	}

	.col_11_ns {
		width: 91.66667%;
	}

	.col_12_ns {
		width: 100%;
	}
}

@media screen and (min-width: 48em) and (max-width: 64em) {

	.col_m {
		float: left;
		box-sizing: border-box;
	}

	.col_right_m {
		float: right;
		box-sizing: border-box;
	}

	.col_1_m {
		width: 8.33333%;
	}

	.col_2_m {
		width: 16.66667%;
	}

	.col_3_m {
		width: 25%;
	}

	.col_4_m {
		width: 33.33333%;
	}

	.col_5_m {
		width: 41.66667%;
	}

	.col_6_m {
		width: 50%;
	}

	.col_7_m {
		width: 58.33333%;
	}

	.col_8_m {
		width: 66.66667%;
	}

	.col_9_m {
		width: 75%;
	}

	.col_10_m {
		width: 83.33333%;
	}

	.col_11_m {
		width: 91.66667%;
	}

	.col_12_m {
		width: 100%;
	}
}

@media screen and (min-width: 64em) {

	.col_l {
		float: left;
		box-sizing: border-box;
	}

	.col_right_l {
		float: right;
		box-sizing: border-box;
	}

	.col_1_l {
		width: 8.33333%;
	}

	.col_2_l {
		width: 16.66667%;
	}

	.col_3_l {
		width: 25%;
	}

	.col_4_l {
		width: 33.33333%;
	}

	.col_5_l {
		width: 41.66667%;
	}

	.col_6_l {
		width: 50%;
	}

	.col_7_l {
		width: 58.33333%;
	}

	.col_8_l {
		width: 66.66667%;
	}

	.col_9_l {
		width: 75%;
	}

	.col_10_l {
		width: 83.33333%;
	}

	.col_11_l {
		width: 91.66667%;
	}

	.col_12_l {
		width: 100%;
	}
}
