@value base "./_base.css";
@value colors "./_colors.css";
@value typography "./_typography.css";
@value vars "./_vars.css";
@value media_sm from vars;
@value check_size: 64px;
@value check_size_mobile: 40px;

.item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.check_container {
	composes: br100 ba bw2 from base;
	composes: tc from typography;
	flex: 0 0 check_size;
	width: check_size;
	height: check_size;
	line-height: check_size;
}
.check {
	composes: v_mid from typography;
	position: relative;
	top: -2px;
}
.check_complete {
	composes: check_container;
	composes: b__green from colors;
}
.check_incomplete {
	composes: check_container;
	composes: b__cool_pale_gray from colors;
}

.content { composes: mh4 from base; }
.content_complete {
	composes: content;
	opacity: 0.6;
}

.buttonContainer {
	flex: 1 1 auto;
	justify-content: center;
	align-self: center;
	text-align: right;
}

@media media_sm {
	.check_container {
		width: check_size_mobile;
		height: check_size_mobile;
		line-height: check_size_mobile;
		flex: 0 0 check_size_mobile;
	}
}
