.flex { display: flex; }

.wrap { flex-wrap: wrap; }
.nowrap { flex-wrap: nowrap; }

.left_right { flex-direction: row; }
.right_left { flex-direction: row-reverse; }
.top_bottom { flex-direction: column; }
.bottom_top { flex-direction: column-reverse; }

.justify_start { justify-content: flex-start; }
.justify_end { justify-content: flex-end; }
.justify_center { justify-content: center; }
.justify_between { justify-content: space-between; }
.justify_around { justify-content: space-around; }

.items_start { align-items: flex_start; }
.items_end { align-items: flex_end; }
.items_center { align-items: center; }
.items_baseline { align-items: baseline; }
.items_stretch { align-items: stretch; }

.content_start { align-content: flex_start; }
.content_end { align-content: flex_end; }
.content_center { align-content: center; }
.content_between { align-content: between; }
.content_stretch { align-content: stretch; }
