@value base "sourcegraph/components/styles/_base.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value colors "sourcegraph/components/styles/_colors.css";

.h1 { composes: f1 b from typography; }
.h2 { composes: f2 b from typography; }
.h3 { composes: f3 b from typography; }
.h4 { composes: f4 b from typography; }
.h5 { composes: f5 b from typography; }
.h6 { composes: f6 b from typography; }
.h7 {
	composes: f7 b from typography;
	text-transform: uppercase;
}

.blue { composes: blue from colors; }
.green { composes: green from colors; }
.white { composes: white from colors; }
.purple { composes: purple from colors; }
.orange { composes: orange from colors; }
.cool_mid_gray { composes: cool_mid_gray from colors; }

.line {
	composes: bw4 mv3 from base;
	composes: v_middle from typography;
	display: inline-block;
	width: 6rem;
}
.l_blue { composes: b__blue from colors; }
.l_green { composes: b__green from colors; }
.l_purple {	composes: b__purple from colors; }
.l_white {composes: b__white from colors; }
.l_orange {	composes: b__orange from colors; }

.center { composes: tc from typography; }
.left { composes: tl from typography; }
.right { composes: tr from typography; }
