@value base "./_base.css";
@value colors "./_colors.css";
@value c_black_05, c_black_10 from colors;

.panel {}


.low { box-shadow: 0 2px 5px 1px c_black_05; }
.high { box-shadow: 0 2px 25px 0 c_black_10; }

.hover { transition: all 550ms cubic-bezier(0.175, 0.885, 0.320, 1); }

.high_hover:hover {
	box-shadow: 0 10px 35px 0 c_black_05;
	transform: scale(1.03, 1.03);
}

.low_hover:hover {
	box-shadow: 0 2px 15px 4px c_black_05;
	transform: scale(1.02, 1.02);
}

.no_color {
	composes: bg_white from colors;
}
.color {
	composes: ba bw2 br2 from base;
}
.foreground_color {
	composes: bg_white from colors;
}
.inverse_color {
	composes: white from colors;
}
.blue { composes: foreground_color; composes: blue b__blue from colors; }
.green { composes: foreground_color; composes: green b__green from colors; }
.white { composes: foreground_color; composes: white b__white from colors; }
.purple { composes: foreground_color; composes: purple b__purple from colors; }
.orange { composes: foreground_color; composes: orange b__orange from colors; }
.inverse_blue { composes: inverse_color; composes: bg_blue b__blue from colors; }
.inverse_green { composes: inverse_color; composes: bg_green b__green from colors; }
.inverse_white { composes: inverse_color; composes: bg_white b__white from colors; }
.inverse_purple { composes: inverse_color; composes: bg_purple b__purple from colors; }
.inverse_orange { composes: inverse_color; composes: bg_orange b__orange from colors; }
