@value base "./_base.css";
@value vars "./_vars.css";
@value colors "./_colors.css";
@value typography "./_typography.css";

@value c_dark_purple, c_purple, c_cool_mid_gray from colors;
@value c_dark_blue from colors;
@value media_sm from vars;

.hidden_s { composes: hidden_s from base; }
.hide { display: none; }

.vertical {
	composes: pv1 ph3 mb2 from base;
	display: block;
	margin-left: -1px;
}

.horizontal {
	composes: pb2 ph2 mh2 from base;
	padding-top: 12px;
	display: inline-block;
	margin-bottom: -1px;
}

.inactive {
	composes: cool_mid_gray b__transparent from colors;
	composes: bb bw3 from base;
}
.inactive a { color: c_cool_mid_gray; }
.vertical.inactive { padding-left: 1.3rem; }

.active { composes: bw3 from base; }
.horizontal.active { border-bottom-style: solid; }
.vertical.active { border-left-style: solid; }

.blue { composes: b__blue blue from colors; }
.blue:hover { color: c_dark_blue; }

.purple { composes: b__purple purple from colors; }
.active.purple a { color: c_purple; }
.purple:hover, .purple a:hover { color: c_dark_purple; }

.small { composes: f7 from typography; }
.normal { font-size: inherit; }
.large { composes: f3 from typography; }

.icon {
	composes: v_mid from typography;
	composes: hidden_s from base;
	margin-right: 8px;
	position: relative;
	top: -1px;
}
.component_icon {
	font-size: 1.5rem;
	composes: pr2 from base;
}

@media media_sm {
	.tab {
		margin-left: 2px;
		margin-right: 2px;
	}
}
