.collapse-container {
    width: 14rem;
}

.library-item {
    list-style: none;
    margin: 0;
    padding: 0.25rem 0;
}

.library-item-button {
    background: none;
    border: none;
    padding: 0;
}
