.list-container {
    margin: 0;
    padding: 0;
    width: 220px;
}

.collapse-button {
    width: 22px;
    z-index: 1000;
}

.library-item {
    list-style: none;
    margin: 0;
    padding: 0.25rem 0;
}

.library-item-button {
    background: none;
    border: none;
    padding: 0;
}
