@import 'wildcard/src/global-styles/breakpoints';

.header-container {
    display: grid;
    grid-template-columns: 8.75rem 1fr;
    grid-template-areas:
        'header badge'
        'cta cta';
    align-items: center;
    padding-bottom: 1rem;
}

.header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    padding: 2.125rem 0 0.875rem 0;
    border-bottom: 1px solid var(--gray-03);
    font-size: 2rem;
    border: none;
    grid-area: header;
}

.badge {
    grid-area: badge;
    margin-top: 0.25rem;
}

.cta-btn {
    grid-area: cta;
}

.try-btn {
    margin-right: 0.85rem;
    margin-bottom: 0.85rem;
}

.btn {
    margin-right: 0.5rem;
    margin-bottom: 0.85rem;
}

.container {
    display: grid;
    grid-template-areas:
        'image'
        'text'
        'buttons';
}

.text-container {
    grid-area: text;
}

.img-container {
    grid-area: image;
    padding-bottom: 2rem;
    img {
        width: 100%;
    }
}

.button-container {
    grid-area: buttons;
}

@media (--sm-breakpoint-up) {
    .header-container {
        grid-template-columns: 8.75rem 6.26rem 1fr;
        grid-template-areas: 'header badge cta';
    }
    .cta-btn {
        justify-self: end;
    }

    .container {
        grid-template-areas:
            'text image'
            'buttons buttons';
        column-gap: 2.9375rem;
    }

    .btn {
        margin-right: 0.25rem;
        &:last-child {
            margin-right: 0;
        }
    }
}
