@import 'wildcard/src/global-styles/breakpoints';

.page-container {
    width: 100%;
    padding: 0.5rem 1rem 0 1rem;
}

.header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    padding: 34px 0 14px 0;
    border-bottom: 1px solid #e6ebf2;
    font-size: 32px;
}

.container {
    display: grid;
    grid-template-areas:
        'sidebar'
        'main';
}

.main {
    grid-area: main;
}

.filter-container {
    text-align: right;
}

.filters-button {
    justify-self: end;
    background-color: var(--sidebar-bg);
    margin-bottom: 0.25rem;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    padding-bottom: 1rem;
}

.filter {
    width: 15.5rem;
}

@media (--lg-breakpoint-up) {
    .container {
        grid-template-areas: 'main sidebar';
        grid-template-columns: 1fr auto;
        column-gap: 1rem;

        &.full {
            display: block;
        }
    }
}
