{{define "Pagination"}}
<div class="pagination-controls">
	<ul class="pagination">
		{{range .}}
		<li class="{{if .Current}}active{{end}} {{if .Disabled}}disabled{{end}}"><a href="{{.URL}}">{{.Label}}</a></li>
		{{end}}
	</ul>
</div>
{{end}}

{{define "Breadcrumb"}}<!-- expects []*BreadcrumbLink --><!--
	-->{{range $i, $link := .}}<!--
		-->{{if gt $i 0}}<!--
			--><span class="sep">/</span><!--
		-->{{end}}<!--
		--><a href="{{$link.URL}}">{{$link.Text}}</a><!--
	-->{{end}}<!--
-->{{end}}

{{define "PersonLink"}}<!-- expects *sourcegraph.Person -->
	{{if .}}
		{{if .Login}}
			{{template "UserLink" .Login}}
		{{else}}
			<span class="person">{{.Email|personLabel}}</span>
		{{end}}
	{{else}}
		<span class="person">none</span>
	{{end}}
{{end}}

{{define "UserLink"}}<!-- expects string -->
	{{if .}}
		<span class="user">{{.|personLabel}}</span>
	{{else}}
		<span class="user">unknown</span>
	{{end}}
{{end}}

{{define "RepoIcon"}}<!-- expects *sourcegraph.Repo -->
	{{if .Private}}
		<span title="Private repository" class="octicon octicon-lock repo-attr-icon"></span>
	{{else if .Fork}}
		<span title="Fork repository" class="octicon octicon-repo-forked repo-attr-icon"></span>
	{{else if .Mirror}}
		<span title="Mirror repository" class="octicon octicon-mirror repo-attr-icon"></span>
	{{else}}
		<span title="Repository" class="octicon octicon-repo repo-attr-icon"></span>
	{{end}}
{{end}}

{{define "RepoLabel"}}<!-- expects []string --><!--
	--><span class="repo-label"><!--
		-->{{$last := add (len .) -1}}<!--
		-->{{range $i, $name := .}}<!--
			-->{{if eq $i $last}}<!--
				--><span class="name">{{$name}}</span><!--
			-->{{else}}<!--
				--><span>{{$name}}</span><!--
				--><span class="sep">/</span><!--
			-->{{end}}<!--
		-->{{end}}<!--
	--></span><!--
-->{{end}}

{{define "RepoLink"}}<!-- expects *repoLinkInfo --><!--
	--><span class="repo-link"><!--
		-->{{range .LeadingParts}}<!--
			--><span class="part">{{.}}</span><!--
			--><span class="sep">/</span><!--
		-->{{end}}<!--
		--><a class="name" href="{{.URL}}" title="{{.Title}}">{{.NamePart}}</a><!--
	--></span><!--
-->{{end}}

{{define "Date"}}
	{{with timeOrNil .}}
		{{if .}}
			<time datetime="{{.}}">{{.Format "Jan 2, 2006"}}</time>
		{{else}}
			n/a
		{{end}}
	{{end}}
{{end}}

{{define "DateTime"}}
	{{with timeOrNil .}}
		{{if .}}
			<time datetime="{{.}}">{{.Format "Jan 2, 2006, at 3:04pm MST"}}</time>
		{{else}}
			n/a
		{{end}}
	{{end}}
{{end}}

{{define "TimeAgo"}}
	{{with timeOrNil .}}
		{{if .}}
			<time datetime="{{.}}" title="{{.}}">{{timeAgo .}}</time>
		{{else}}
			never
		{{end}}
	{{end}}
{{end}}

{{define "dataCollectionMessage"}}
You also acknowledge that we collect and aggregate information from your server to make Sourcegraph better. <a href="https://src.sourcegraph.com/sourcegraph/.docs/management/data_collection/" target="_blank">See details</a>
{{end}}
