{{define "Head"}}
	{{template "HeadFromMeta" $}}
{{end}}

{{define "Nav"}}

	<div class="bg-white border-bottom border-cool-gray-3-2 shadow py2 px2 lh0">
		<a href="/"><img class="spin" src="{{assetURL "/img/sourcegraph-mark.svg"}}" width="20" /></a>
	</div>

{{end}}

{{define "Body"}}

<div ignore-csp style="max-width: 680px" class="mx-auto mx2">

	<div class="mb3" id="title">
		<a href="{{.ViewDefURL}}" class="btn btn-blue right mt2" onclick="sourcegraphLogger.logEventForCategoryComponents('LandingDefInfo', 'Click', 'DefInfoViewDefLinkClicked', {{$.DefEventProps}})">View definition</a>
		<h1 class="mb0">
			<span class="code wrap">{{.DefName}}</span>
		</h1>

		<p>
			Defined in <a class="wrap" href="{{.DefFileURL}}" onclick="sourcegraphLogger.logEventForCategoryComponents('LandingDefInfo', 'Click', 'DefInfoViewFileLinkClicked', {{$.DefEventProps}})">{{.DefFileName}}</a>
		</p>
	</div>

	{{with .Description}}
	<div class="mt3 mb4" id="description">
		<h2>Description</h2>
		<p>{{dangerouslySetHTML .HTML}}</p>
	</div>
	{{end}}

	{{with .RefSnippets}}
		<div class="my4" id="examples">

			<h2>Examples</h2>

			{{range .}}
				<a href="{{.SourceURL}}" class="plainlink" onclick="sourcegraphLogger.logEventForCategoryComponents('LandingDefInfo', 'Click', 'DefInfoRefSnippetLinkClicked', {{$.DefEventProps}})">
					<p><pre class="snippet rounded">{{.Code}}</pre></p>
				</a>
			{{end}}
		</div>
	{{end}}

	<div class="my4" id="references">
		<h2>
			<span class="code">{{.ShortDefName}}</span> is referenced in {{.RefLocs.TotalSources}} {{numberedNoun .RefLocs.TotalSources "repository"}}
		</h2>

		{{range $sourceRefs := .RefLocs.SourceRefs}}
			<a href="{{urlToRepo $sourceRefs.Source}}" onclick="sourcegraphLogger.logEventForCategoryComponents('LandingDefInfo', 'Click', 'DefInfoRefRepoLinkClicked', {{$.DefEventProps}})">
				<strong>{{$sourceRefs.Source}}</strong>
			</a>
			<ul>
				{{range $file := $sourceRefs.FileRefs}}
				{{$pos := index $file.Positions 0}}
				<li>{{len $file.Positions}} {{numberedNoun (len $file.Positions) "reference"}} in <a class="wrap" href="{{urlToBlob $sourceRefs.Source $file.File $pos.Start.Line}}" onclick="sourcegraphLogger.logEventForCategoryComponents('LandingDefInfo', 'Click', 'DefInfoRefFileLinkClicked', {{$.DefEventProps}})">{{$file.File}}</a></li>
				{{end}}
			</ul>
		{{end}}

		{{if .TruncatedRefLocs}}
			<p>...</p>
		{{end}}
	</div>
</div>
{{end}}

{{define "Footer"}}
{{end}}
