{{define "ROOT"}}
<!DOCTYPE html>
<html lang="en">
	<head
		{{if not appconf.DisableSupportServices}}
			{{if googleAnalyticsTrackingID}}data-google-analytics-tracking-id="{{googleAnalyticsTrackingID}}"{{end}}
			data-heap-analytics-id="{{heapAnalyticsID}}"
			{{if publicRavenDSN}}data-public-raven-dsn="{{publicRavenDSN}}"{{end}}
		{{end}}
		{{/* Using data attributes is deprecated. Use the script tag below to add data to context.js. */}}
		{{if deployedGitCommitID}}data-deployed-git-commit-id="{{deployedGitCommitID}}"{{end}}
		data-current-route="{{.CurrentRoute}}"
		data-template-name="{{.TemplateName}}"
		{{if .CacheControl}}data-cache-control="{{.CacheControl}}"{{end}}
		{{if .CurrentUser}}data-current-user-login="{{.CurrentUser.Login}}"{{end}}
		{{if .CurrentUser}}data-current-user-uid="{{.CurrentUser.UID}}"{{end}}
		{{if .CurrentUser}}data-current-user-admin="{{.CurrentUser.Admin}}"{{end}}
		{{if .CurrentUser}}data-current-user-write="{{.CurrentUser.Write}}"{{end}}
		{{with .Session}}data-current-user-oauth2-access-token="{{.AccessToken}}"{{end}}
		{{if .CurrentSpanID}}data-appdash-current-span-id="{{.CurrentSpanID}}"{{end}}
		{{if .CurrentSpanID}}data-appdash-current-span-id-trace="{{.CurrentSpanID.Trace}}"{{end}}
		{{if .CurrentSpanID}}data-appdash-current-span-id-span="{{.CurrentSpanID.Span}}"{{end}}
		{{if .CurrentSpanID}}data-appdash-current-span-id-parent="{{.CurrentSpanID.Parent}}"{{end}}
		data-csrf-token="{{.CSRFToken}}"
		>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#0fb6f2">
		<link rel="search" type="application/opensearchdescription+xml" href="{{assetURL "/misc/opensearch.xml"}}" title="Sourcegraph" />
		<link href="{{urlToBlogAtomFeed}}" type="application/atom+xml" rel="alternate" title="The Sourcegraph Blog">
		<link rel="shortcut icon" href="{{assetURL "/img/favicon.png"}}?v=1">

		{{/* Insert this inline script before any resources to allow parallel resource fetches. */}}
		<script ignore-csp type="text/javascript">
			{{/* Do not access these directly via the window object, import them using context.js. */}}
			{{if .Features}}window._featureToggles = JSON.parse({{.Features|json}});{{end}}
			window._csrfToken = "{{.CSRFToken}}";
			window._currentUser = JSON.parse({{.CurrentUser|json}});
			window._isMothership = {{isMothership}};
			{{if .CacheControl}}window._cacheControl = "{{.CacheControl}}";{{end}}
		</script>

		<link href="{{assetURL "/bundle.css"}}" rel="stylesheet">
		<link href="{{assetURL "/font/octicons/octicons.css"}}" rel="stylesheet">

		<script src="{{assetURL "/analytics.js"}}"></script>

		<link rel="canonical" href="{{.CanonicalURL}}">

		{{/* Add a noindex tag UNLESS the template data has a RobotsIndex field AND it is truthy. */}}
		{{if hasField . "RobotsIndex"}}
		{{if not .RobotsIndex}}<meta name="robots" content="noindex">{{end}}
		{{else}}
		<meta name="robots" content="noindex">
		{{end}}

		{{template "Head" $}}

		{{appconf.ExtraHeadHTML}}

		{{if not appconf.DisableSupportServices}}
			<!-- Start of FullStory script -->
			<script ignore-csp>
				window["_fs_debug"] = false;
				window["_fs_host"] = "www.fullstory.com";
				window["_fs_org"] = "WQW7";
				(function(m,n,e,t,l,o,g,y){g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];o=n.createElement(t);o.async=1;o.src="https://"+_fs_host+"/s/fs.js";y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){FS(l,v)};g.identifyAccount=function(i,v){o="account";v=v||{};v.acctId=i;FS(o,v)};g.clearUserCookie=function(d,i){d=n.domain;while(1){n.cookie="fs_uid=;domain="+d+";path=/;expires="+new Date(0);i=d.indexOf(".");if(i<0)break;d=d.slice(i+1)}}})(window,document,"FS","script","user");
				{{if .CurrentUser}}
					FS.identify('{{.CurrentUser.Login}}@{{getClientIDOrHostName .Ctx .AppURL}}', {});
				{{end}}
			</script>
			<!-- End of FullStory script -->
		{{end}}
	</head>

	{{$motd := ifTrue (not .HideMOTD) appconf.MOTD}}

	<body class="{{classForRoute .CurrentRoute}}"
		{{if hasField . "Repo"}}
			data-current-repo-url="{{(urlToRepo .Repo.URI).String}}"
		{{end}}
		{{if fileSearchDisabled}}
			data-file-search-disabled="true"
		{{end}}
	>

		<header class="page-header">
			{{with $motd}}<div class="motd">{{.}}</div>{{end}}

			{{template "Nav" $}}

			<!-- If the "RepoSubnav" template is defined in the current -->
			<!-- template, include it. -->
			<!-- The "RepoSubnav" definition is in "repo/subnav.html" -->
			{{ifTemplate .Common.TemplateName "RepoSubnav" $}}
		</header>

		<div class="container{{if .FullWidth}}-fluid{{end}} body" id="main">
			{{template "Body" $}}
		</div>

		{{template "Footer" $}}

		{{if .Debug}}
		<div id="debug">
			<div class="verbose">
			{{if not (eq buildvar.Version "dev")}}{{buildvar.Version}}<br>{{end}}
			{{if buildvar.CommitID}}
				{{hostname}}<br>
				@{{buildvar.CommitID|maxLen 7}} &nbsp;
			{{end}}
			</div>

			{{if .CurrentSpanID.Span}}
				<a href="{{urlToAppdashTrace .Ctx .CurrentSpanID.Trace}}" target="_blank">...</a>
			{{end}}
		</div>
		{{end}}

		{{if appconf.CustomFeedbackForm}}
			<div id="custom-feedback-form">{{customFeedbackForm}}</div>
		{{end}}

		{{template "KeyboardShortcutsHelp" $}}

		{{with appconf.WebpackDevServerURL}}
			<script src="{{.}}/webpack-dev-server.js"></script>
		{{end}}

		<script src="{{assetURL "/bundle.js"}}"></script>

		{{appconf.ExtraBodyHTML}}

		{{if not appconf.DisableSupportServices}}
			<!-- Start of Sourcegraph Intercom script -->
			{{if .CurrentUser}}
				<script ignore-csp>
					var emails = JSON.parse({{json .UserEmails}});
					if (emails) {
						var primaryEmail = emails.EmailAddrs.filter(function(email) {return email.Primary;})[0];
						if (primaryEmail && primaryEmail.Email) {
							window.intercomSettings = {
								app_id: "wd8xxn47",
								name: window._currentUser.Name || window._currentUser.Login,
								email: primaryEmail.Email,
								created_at: Math.floor(new Date(window._currentUser.RegisteredAt).getTime() / 1000),
							};
						} else {
							window.intercomSettings = {
								app_id: "wd8xxn47",
							}
						}
					}
				</script>
			{{else}}
				<script ignore-csp>
					window.intercomSettings = {
						app_id: "wd8xxn47",
					}
				</script>
			{{end}}
			<script ignore-csp>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/wd8xxn47';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
			<!-- End of Sourcegraph Intercom script -->
		{{end}}
	</body>
</html>
{{end}}
