{{define "ROOT"}}
<!DOCTYPE html>
<html lang="en">
	<head
		{{/* Using data attributes is deprecated. Use scripts.html to add data to context.js. */}}
		data-current-route="{{.CurrentRoute}}"
		data-template-name="{{.TemplateName}}"
		data-webpack-public-path="{{assetURL ""}}/"
		>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="theme-color" content="#0fb6f2">

		<link rel="image_src" content={{assetURL "/img/sourcegraph-mark.png"}}>
		<meta property="og:title" content="Sourcegraph">
		<meta property="og:image" content={{assetURL "/img/sourcegraph-mark.png"}}>
		<meta property="og:image:height" content="90">
		<meta property="og:image:width" content="90">
		<meta property="og:type" content="website">
		<meta property="og:description" content="How developers discover and understand code. Sourcegraph is a fast, global, semantic code search and cross-reference engine.">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="Sourcegraph">
		<meta name="twitter:title" content="Sourcegraph">
		<meta name="twitter:image" content={{assetURL "/img/sourcegraph-mark.png"}}>
		<meta name="twitter:description" content="How developers discover and understand code. Sourcegraph is a fast, global, semantic code search and cross-reference engine.">

		{{/* This makes it so that the top fixed navbar slides down as you scroll down on iOS, which we need to fix. But overall it is better to have the text appear at a legible size. */}}
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

		<link rel="alternate" type="application/rss+xml" title="RSS" href="https://text.sourcegraph.com/feed">

		<link rel="shortcut icon" href="{{assetURL "/img/favicon.png"}}?v=1">

		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/dgjhfomjieaadpoljlnidmbgkdffpack">

		{{/* Insert this inline script before any resources to allow parallel resource fetches. */}}
		{{template "Scripts" $}}

		<link href="{{assetURL "/main.css"}}" rel="stylesheet">

		{{template "Head" $}}

		{{appconf.ExtraHeadHTML}}

	</head>

	<body
		{{if fileSearchDisabled}}
			data-file-search-disabled="true"
		{{end}}>

		{{template "Nav" $}}

		<div class="xcontainer" id="main">{{template "Body" $}}</div>

		{{template "Footer" $}}

		{{if .Debug}}
			<div id="debug">
				<div class="verbose">
				{{if not (eq buildvar.Version "dev")}}{{buildvar.Version}}<br>{{end}}
				{{if buildvar.CommitID}}
					@{{buildvar.CommitID|maxLen 7}} &nbsp;
				{{end}}
				</div>

				{{if .CurrentSpanID.Span}}
					<a href="{{urlToAppdashTrace .Ctx .CurrentSpanID.Trace}}" target="_blank">...</a>
				{{end}}
			</div>
		{{end}}

		{{if appconf.CustomFeedbackForm}}
			<div id="custom-feedback-form">{{customFeedbackForm}}</div>
		{{end}}

		{{with appconf.WebpackDevServerURL}}
			<script src="{{.}}/webpack-dev-server.js"></script>
		{{end}}

		<script src="{{assetURL "/main.browser.js"}}"></script>

		{{appconf.ExtraBodyHTML}}
	</body>
</html>
{{end}}
