{{define "ROOT"}}
<!DOCTYPE html>
<html lang="en">
	<head
		{{/* Using data attributes is deprecated. Use scripts.html to add data to context.js. */}}
		data-template-name="{{.TemplateName}}"
		data-webpack-public-path="{{assetURL ""}}/"
		>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="alternate" type="application/rss+xml" title="RSS" href="https://text.sourcegraph.com/feed">

		<link rel="shortcut icon" href="{{assetURL "/img/favicon.png"}}?v=1">

		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/dgjhfomjieaadpoljlnidmbgkdffpack">

		{{/* Insert this inline script before any resources to allow parallel resource fetches. */}}
		{{template "Scripts" $}}

		{{if .Meta.SEO}}
			<link ignore-csp rel="stylesheet" href="https://npmcdn.com/basscss@8.0.2/css/basscss.min.css">
			<style ignore-csp>
				{{template "Styles" $}}
			</style>
		{{end}}

		{{template "Head" $}}

		{{appconf.ExtraHeadHTML}}

	</head>

	<body class="bg-gray m0"
		{{if fileSearchDisabled}}
			data-file-search-disabled="true"
		{{end}}>

		{{template "Nav" $}}

		<div class="xcontainer" id="main">{{template "Body" $}}</div>

		{{template "Footer" $}}

		{{if .Debug}}
			<div ignore-csp id="debug" style="position:fixed;bottom:42px;left:0;padding:5px 8px;font-family:monospace;font-size:0.75em;background-color:#efefef;z-index:99999;color:#999">
				<div ignore-csp class="verbose" style="display:none">
				{{if not (eq buildvar.Version "dev")}}{{buildvar.Version}}<br>{{end}}
				{{if buildvar.CommitID}}
					@{{buildvar.CommitID|maxLen 7}} &nbsp;
				{{end}}
				</div>

				<a href="{{urlToTrace .Ctx}}" target="_blank">...</a>
			</div>
		{{end}}

		{{if appconf.CustomFeedbackForm}}
			<div id="custom-feedback-form">{{customFeedbackForm}}</div>
		{{end}}

		{{if not .Meta.SEO}}
			<script src="{{mainJavaScriptBundleURL}}"></script>
		{{else}}
			<script src="{{assetURL "/scripts/static_event_logger.js"}}"></script>
		{{end}}

		{{appconf.ExtraBodyHTML}}
	</body>
</html>
{{end}}
