{{define "Nav"}}
<nav class="navbar navbar-inverse no-collapse-nav" role="navigation" id="nav">
	<div class="container">
		<div class="navbar-header">
			<div class="global navbar-brand">
				<a href="/"><img src="{{assetURL "/img/mark-white.svg"}}"></a>
			</div>
		</div>

		{{if hasField . "Repo"}}
			<ul class="nav navbar-nav title">
				<li class="repo">
					{{template "RepoLink" (repoLink .Repo.URI)}}
				</li>
			</ul>
		{{end}}

		<ul class="nav navbar-nav navbar-right">
			{{if authFlags.HasUserAccounts}}
				{{if .CurrentUser}}
					<li class="current-user name">
						<a href="{{urlToUserSubroute "person.settings.profile" .CurrentUser.Login}}" class="user">
							{{.CurrentUser.Login}}
						</a>
					</li>
					<li class="sign-out">
						<form action="{{urlTo "log-out"}}" method="POST" class="navbar-form">
							<button class="btn btn-link" title="Sign out">
								<i class="fa fa-times"></i>
							</button>
							<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
						</form>
					</li>
				{{else}}
					{{if authFlags.HasSignup}}
						<li class="sign-up">
							<a class="sign-up" href="{{urlToWithReturnTo "sign-up" .ReturnTo}}">
								Sign up
							</a>
						</li>
					{{end}}
					<li class="sign-in">
						<a class="sign-in" href="{{urlToWithReturnTo "log-in" .ReturnTo}}">
							Sign in
						</a>
					</li>
				{{end}}
			{{end}}
		</ul>
	</div>
</nav>
{{end}}
