{{define "Nav"}}
<nav class="navbar navbar-tint no-collapse-nav" role="navigation" id="nav">
	<div class="container">
		<div class="navbar-header">
			{{if appconf.CustomLogo}}
				<a class="navbar-brand logo logo-symbol-and-text" href="/">
					{{customLogo}}
				</a>
			{{else}}
				<a class="sourcegraph-logo" href="/">
					<img src="{{assetURL "/img/sourcegraph-logo.svg"}}">
				</a>
			{{end}}

			{{if appconf.CustomNavLayout}}
				{{appconf.CustomNavLayout}}
			{{end}}
		</div>

		<ul class="nav navbar-nav navbar-right">
			{{if authFlags.HasUserAccounts}}
				{{if .CurrentUser}}
					<li class="current-user name">
						<a href="{{urlToUserSubroute "person.settings.profile" .CurrentUser.Login}}" class="user">
							{{.CurrentUser.Login}}
						</a>
					</li>
					<li class="sign-out">
						<form action="{{urlTo "log-out"}}" method="POST" class="navbar-form">
							<button class="btn btn-link" title="Sign out">
								<i class="octicon octicon-sign-out"></i>
							</button>
							<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
						</form>
					</li>
				{{else}}
					{{if authFlags.HasSignup}}
						<li class="sign-up">
							<a class="sign-up" href="{{urlToWithReturnTo "sign-up" .ReturnTo}}">
								Sign up
							</a>
						</li>
					{{end}}
					<li class="sign-in">
						<a class="sign-in" href="{{urlToWithReturnTo "log-in" .ReturnTo}}">
							Sign in
						</a>
					</li>
				{{end}}
			{{end}}
		</ul>
	</div>
</nav>
{{end}}
