{{define "Nav"}}
<nav class="navbar navbar-tint" role="navigation" id="nav">
	<div class="container{{if .FullWidth}}-fluid{{end}}">
		<div class="navbar-header">
			<a class="navbar-brand logo logo-symbol-and-text" href="/">
				{{customLogo}}
				<span class="symbol">&#x2731;</span> <span class="name">Sourcegraph</span>
			</a>

			{{if appconf.CustomNavLayout}}
				{{appconf.CustomNavLayout}}
			{{end}}

			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="top-nav-collapse">

			<ul class="nav navbar-nav navbar-right">
				{{if appconf.Blog}}
					<li><a href="{{urlTo "blog"}}">Blog</a></li>
				{{end}}
				{{if authFlags.HasUserAccounts}}
				{{if .CurrentUser}}
					<li class="current-user name{{if not authFlags.HasUserProfiles}} disabled{{end}}">
						<a {{if authFlags.HasUserProfiles}}href="{{urlToUserSubroute "person.settings.profile" .CurrentUser.Login}}"{{end}} class="user">
							{{.CurrentUser.Login}}
						</a>
					</li>

					<li>
						{{/* TODO: Loop over multiple global apps, once there's more than 1. */}}
						{{/* TODO: Proper route. */}}
						<a href="{{urlTo "appglobal.notificationcenter"}}">
							<i class="octicon octicon-inbox"></i>
							<span class="hidden-sm hidden-md hidden-lg">Notification Center</span>
						</a>
					</li>

					<li>
						<a href="{{urlToUserSubroute "person.settings.profile" .CurrentUser.Login}}">
							<i class="octicon octicon-gear"></i>
							<span class="hidden-sm hidden-md hidden-lg">Settings</span>
						</a>
					</li>
					<li class="sign-out">
						<form action="{{urlTo "log-out"}}" method="POST" class="navbar-form">
							<button class="btn btn-link">
								<i class="octicon octicon-sign-out"></i>
								<span class="hidden-sm hidden-md hidden-lg">Sign out</span>
							</button>
							<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
						</form>
					</li>
				{{else}}
					{{if authFlags.HasSignup}}
					<li class="sign-up">
						<a class="sign-up" href="{{urlToWithReturnTo "sign-up" .ReturnTo}}">
							Sign up
						</a>
					</li>
					{{end}}
					{{if not (isOAuthInitPage .TemplateName)}}
					<li class="sign-in">
						<a class="sign-in" href="{{urlToWithReturnTo "log-in" .ReturnTo}}">
							Sign in
						</a>
					</li>
					{{end}}
				{{end}}
				{{end}}
			</ul>

			<div id="SearchBar" class="search-bar"></div>
		</div>
	</div>
</nav>
{{end}}
