{{define "Head"}}
	{{template "HeadFromMeta" $}}
{{end}}

{{define "Nav"}}
	<div class="bg-white border-bottom border-cool-gray-3-2 shadow py2 px2 lh0">
		<a href="/"><img class="spin" src="{{assetURL "/img/sourcegraph-mark.svg"}}" width="20" /></a>
	</div>
{{end}}

{{define "Body"}}
<div ignore-csp style="max-width: 860px" class="mx-auto mx2 my3">

	{{if .Lang}}
	<h1>{{.Lang}} repository index</h1>
	{{else}}
	<h1>Language index</h1>
	{{end}}

	<div class="flex">

		<div ignore-csp class="order-last" style="min-width: 235px">
			<h4 class="mt0">
				Explore repositories by language:
			</h4>
			<ul>
				{{range .Langs}}
				<li><a href="{{urlToSitemap .}}">{{.}}</a></li>
				{{end}}
			</ul>
		</div>

		{{if .Repos}}
			<div class="pr3">
				{{range .Repos}}
				<div class="mb3 bg-white border border-cool-gray-3-2 p3 rounded">
					<h3 class="my0">
						<a href="{{urlToRepoLanding .URI}}">
							{{repoDisplayHTML .URI}}
						</a>
					</h3>
					<p class="mb0">{{.Description}}</p>
				</div>
				{{end}}
			</div>
		{{end}}
	</div>


</div>
{{end}}

{{define "Footer"}}
{{end}}
