{{define "Head"}}
<title>{{.MetaTitle}}</title>
<meta name="description" content="{{.MetaDescr}}">
{{end}}

{{define "Nav"}}{{end}}

{{define "Body"}}
<div class="dl-container">

	<span class="nav"><a href="{{.RepoURL}}" class="toplink">Search {{dangerouslySetHTML .SearchIconSVG}} within {{.Repo.URI}}</a></span>

	<h1><a href="{{.RepoURL}}" class="link-h1">{{.Repo.URI}}</a></h1>

	<h2>Top definitions in <tt class="highlight-h2">{{.Repo.Name}}</tt></h2>

	<div class="defslist">
	{{range $def := .Defs}}
		{{with $def.Def.FmtStrings}}
		<div class="defentry">
		<tt><span class="defbody">{{.DefKeyword}}</span> <a href="{{$def.LandURL}}" class="defhighlight">{{.Name.Unqualified}}</a><span class="defbody">{{.NameAndTypeSeparator}}{{.Type.ScopeQualified}}</span></tt></li>
		<p class="defsidenotes"><a href="{{$def.SourceURL}}" class="defssrclink">view source</a>{{if $def.RefCount}} · referenced {{$def.RefCount}} {{numberedNoun $def.RefCount "time"}}{{end}}</p>
		<div class="defdoctext">{{dangerouslySetHTML $def.Def.DocHTML.HTML}}</div>
		</div>
		{{end}}
	{{end}}
	</div>

</div>
{{end}}

{{define "Footer"}}
{{end}}
