{{define "Head"}}
<title>{{.MetaTitle}}</title>
<meta name="description" content="{{.MetaDescr}}">
<style ignore-csp>
	body {
	background-color: rgba(213, 229, 242, 0.2);
	}

	.dl-container {
	width: 100%;
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	color: rgba(26, 48, 77, 1);
	font-family: 'circular-std', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', 'San Francisco', 'SFNS Display', 'Roboto', 'Lucida Grande', 'avenir next', avenir, 'Helvetica', Ubuntu, 'segoe ui', arial, sans-serif;
	}

	.dl-container pre {
	background-color: rgba(62, 90, 126, 1);
	color: rgba(213, 229, 242, 1);
	border-radius: 3px;
	padding: 1rem;
	font-size: 15px;
	}

	.dl-container .link-h1 {
	color: rgb(26, 48, 77);
	cursor: pointer;
	text-decoration: none;
	}

	.dl-container .highlight-h2 {
	color: rgba(177, 20, 247, 1);
	font-size: 28px;
	}

	.dl-container .toplink {
	color: rgb(119, 147, 174);
	display: inline;
	font-family: circular-std, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", "San Francisco", "SFNS Display", Roboto, "Lucida Grande", "avenir next", avenir, Helvetica, Ubuntu, "segoe ui", arial, sans-serif;
	font-size: 14.75px;
	cursor: pointer;
	font-weight: regular;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	}

	.dl-container .defslist {
	padding-left: 0;
	font-family: circular-std, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", "San Francisco", "SFNS Display", Roboto, "Lucida Grande", "avenir next", avenir, Helvetica, Ubuntu, "segoe ui", arial, sans-serif;
	}

	.dl-container .defdoctext {
	color: rgb(26, 48, 77);
	font-size: 1em;
	padding-left: 2em;
	line-height: 1.5em;
	}

	.dl-container .deflist {
	padding-left: 0;
	}

	.dl-container .defentry {
	padding-top: 2em;
	}

	.dl-container .defbody {
	color: rgba(0, 146, 214, 1);
	font-size: 1.4em;
	}

	.dl-container .defhighlight {
	color: rgba(177, 20, 247, 1);
	text-decoration: none;
	font-size: 1.5em;
	}

	.dl-container .defsidenotes {
	font-size: 0.8em;
	}

	.dl-container .defssrclink {
	color: rgb(0, 146, 214);
	text-decoration: none;
	font-size: 1em;
	cursor: pointer;
	display: inline;
	font-family: circular-std, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", "San Francisco", "SFNS Display", Roboto, "Lucida Grande", "avenir next", avenir, Helvetica, Ubuntu, "segoe ui", arial, sans-serif;
	}

	.dl-container button {
	background-color: rgba(177, 20, 247, 1);
	color: white;
	cursor: pointer;
	font-family: 'circular-std', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', 'San Francisco', 'SFNS Display', 'Roboto', 'Lucida Grande', 'avenir next', avenir, 'Helvetica', Ubuntu, 'segoe ui', arial, sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: bold;
	border-radius: 4px;
	border-color: transparent;
	padding-top: 0.45rem;
	padding-bottom: 0.42rem;
	padding-left: 15px;
	padding-right: 15px;
	}

	.dl-container span.nav {
	font-family: circular-std, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", "San Francisco", "SFNS Display", Roboto, "Lucida Grande", "avenir next", avenir, Helvetica, Ubuntu, "segoe ui", arial, sans-serif;
	font-size: 14.75px;
	color: rgb(119, 147, 174);
	}
</style>
{{end}}

{{define "Nav"}}{{end}}

{{define "Body"}}
<div class="dl-container">

	<span class="nav"><a href="{{.RepoURL}}" class="toplink">Search {{dangerouslySetHTML .SearchIconSVG}} within {{.Repo.URI}}</a></span>

	<h1><a href="{{.RepoURL}}" class="link-h1">{{.Repo.URI}}</a></h1>

	<h2>Top definitions in <tt class="highlight-h2">{{.Repo.Name}}</tt></h2>

	<div class="defslist">
	{{range $def := .Defs}}
		{{with $def.Def.FmtStrings}}
		<div class="defentry">
		<tt><span class="defbody">{{.DefKeyword}}</span> <a href="{{$def.LandURL}}" class="defhighlight">{{.Name.Unqualified}}</a><span class="defbody">{{.NameAndTypeSeparator}}{{.Type.ScopeQualified}}</span></tt></li>
		<p class="defsidenotes"><a href="{{$def.SourceURL}}" class="defssrclink">view source</a>{{if $def.RefCount}} · referenced {{$def.RefCount}} {{numberedNoun $def.RefCount "time"}}{{end}}</p>
		<div class="defdoctext">{{dangerouslySetHTML $def.Def.DocHTML.HTML}}</div>
		</div>
		{{end}}
	{{end}}
	</div>

</div>
{{end}}

{{define "Footer"}}
{{end}}
