{{define "Head"}}{{template "HeadFromMeta" $}}{{end}}

{{define "Nav"}}
	<div class="bg-white border-bottom border-cool-gray-3-2 shadow py2 px2 lh0">
		<a href="/"><img class="spin" src="{{assetURL "/img/sourcegraph-mark.svg"}}" width="20" /></a>
	</div>
{{end}}

{{define "Body"}}
<div ignore-csp style="max-width: 680px" class="mx-auto mx2 my3">

	<a href="{{urlToSitemap .Repo.Language}}">
		&larr; Explore more repositories
	</a>

	<h1>
		<a href="{{.RepoURL}}" class="link-h1">{{repoDisplayHTML .Repo.URI}}</a> quick reference
	</h1>

	<div>
		<a href="#topsymbols">Most used</a>{{if .SanitizedREADME}} |
		<a href="#readme">README</a>{{end}} |
		<a href="{{.RepoURL}}">Symbol search</a>
	</span>

	{{if .Defs}}
	<h2 id="topsymbols">
		The most popular functions, methods, and types in <span class="code">{{.Repo.Name}}</span>
	</h2>
	<div class="my3">
	{{range $def := .Defs}}
		<div class="bg-white border rounded border-cool-gray-3-2 my2 p3">
			<h3 class="mt0">
				<a href="{{$def.URL}}" class="code">{{$def.Title}}</a>
				<span>
					{{if $def.RefCount}}
						<a href="{{$def.URL}}" class="defssrclink">[{{$def.RefCount}} {{numberedNoun $def.RefCount "ref"}}, view source]</a>
					{{else}}
						<a href="{{$def.URL}}">[view source]</a>
					{{end}}
				</span>
			</h3>

			<p class="mb0">{{shortDoc ($def.DocText)}}</p>
		</div>
	{{end}}
	</div>
	{{end}}

	<div id="readme">
		{{dangerouslySetHTML .SanitizedREADME}}
	</div>

</div>
{{end}}

{{define "Footer"}}
{{end}}
