{{define "Scripts"}}

{{/* Do not access these directly via the window object, import them using context.js. */}}
<script ignore-csp type="text/javascript">
	window.__sourcegraphJSContext = {{if .JSCtx}}JSON.parse({{.JSCtx|json}}){{else}}null{{end}}
</script>

<!-- Start of Telligent scripts -->
<script ignore-csp>
;(function(t,r,a,c,k,e,d){if(!t[k]){t.GlobalTelligentNamespace=t.GlobalTelligentNamespace||[];t.GlobalTelligentNamespace.push(k);t[k]=function(){(t[k].q=t[k].q||[]).push(arguments)};t[k].q=t[k].q||[];e=r.createElement(a);d=r.getElementsByTagName(a)[0];e.async=1;e.src=c;d.parentNode.insertBefore(e,d)}}(window,document,"script","https://s3.amazonaws.com/telligent-data/tracker-binaries/js/latest/tel.js","telligent"));
</script>
<!-- End of Telligent scripts-->

{{if not disableSupportServices}}

	<!-- Don't load Intercom + FullStory for SEO pages -->
	{{if not .Meta.SEO}}
		<!-- Start of Intercom scripts -->
		<script ignore-csp>
			window.intercomSettings = {
				app_id: "wd8xxn47",
			}
		</script>

		<script ignore-csp>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/wd8xxn47';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
		<!-- End of Intercom scripts -->

		<!-- Start of FullStory script -->
		<script ignore-csp>
			window["_fs_debug"] = false;
			window["_fs_host"] = "www.fullstory.com";
			window["_fs_org"] = "WQW7";
			(function(m,n,e,t,l,o,g,y){g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];o=n.createElement(t);o.async=1;o.src="https://"+_fs_host+"/s/fs.js";y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){FS(l,v)};g.identifyAccount=function(i,v){o="account";v=v||{};v.acctId=i;FS(o,v)};g.clearUserCookie=function(d,i){d=n.domain;while(1){n.cookie="fs_uid=;domain="+d+";path=/;expires="+new Date(0);i=d.indexOf(".");if(i<0)break;d=d.slice(i+1)}}})(window,document,"FS","script","user");
		</script>
		<!-- End of FullStory script -->
	{{end}}

	<!-- Start of Google Analytics script -->
	{{if googleAnalyticsTrackingID}}
		<style ignore-csp>.async-hide { opacity: 0 !important} </style>
		<script ignore-csp>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.end=i=function(){
		s.className=s.className.replace(RegExp(' ?'+y),'')};(a[n]=a[n]||[]).hide=h;
		setTimeout(function(){i();h.end=null},c);})(window,document.documentElement,
		'async-hide','dataLayer',2000,{"GTM-5JX8XK3":true,});</script>

		<!-- Custom variables for Optimize targeting before application load -->
		<script ignore-csp>
			document.cookie = "logged_in="+{{if .AuthInfo.UID}}"true"{{else}}"false"{{end}};
		</script>
		<script ignore-csp>
			(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","https://www.google-analytics.com/analytics.js","ga");
			window.ga("create", {{googleAnalyticsTrackingID}}, "auto");
			window.ga('require', "GTM-5JX8XK3");
			window.ga("require", "linkid", "https://www.google-analytics.com/plugins/ua/linkid.js");
			window.ga("require", "urlChangeTracker");
			window.ga("set", "dimension1", {{if .AuthInfo.UID}}"true"{{else}}"false"{{end}});
			window.ga("set", "dimension4", "web");
			window.ga("send", "pageview");
		</script>
	{{end}}
	<!-- End of Google Analytics script -->

{{end}}

{{end}}
