{{define "Head"}}
{{with .Head}}
	{{.Title}}
	{{.Base}}
	{{.Meta}}
	{{.Link}}
	{{.Script}}
{{end}}
{{end}}

{{define "Nav"}}{{end}}

{{define "Footer"}}
{{if .Stores}}
	<script ignore-csp>
		window.__StoreData = {{rawJSON .Stores}};
	</script>
{{end}}
{{end}}

{{define "Body" -}}
{{- with .ErrorTitle -}}
	<h1>{{.}}</h1>
{{- end -}}
{{- with .ErrorDebugInfo -}}
	<script ignore-csp>
		console.error("%cError in server-side JavaScript rendering\n%c%s", "background-color:red;color:white", "color:red;background-color:inherit", {{.}});
	</script>
{{- end -}}

{{- .Body -}}
{{- end}}
