.history-item {
    display: flex;
    flex-direction: column;
    background: var(--body-bg);
    gap: var(--spacing);
    cursor: pointer;
    padding: var(--spacing);
    margin-bottom: 0;
    &:hover {
        background: var(--color-bg-1);
    }

    &.selected,
    &.selected:hover {
        border-radius: 0.25rem;
        background: var(--color-bg-2);
    }
}
