.bg-loading {
    &-gradient {
        background: var(--body-bg);
        opacity: 0.75;
    }

    .icon {
        color: var(--gray-06);
    }

    .title {
        color: var(--body-color);
    }

    .description {
        color: var(--text-muted);
    }
}
