---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/sgtest/internal/collaborators?page=1&per_page=100&affiliation=direct
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d2d23d34db12d8f923ef0f03855478687b6dfa603c2973a048916288ef0d33b5"'
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview.nebula-preview;
        format=json
      X-Oauth-Scopes:
      - admin:org, repo
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/orgs/sgtest
    method: GET
  response:
    body: '{"login":"sgtest","id":2381,"node_id":"MDEyOk9yZ2FuaXphdGlvbjIzODE=","url":"https://ghe.sgdev.org/api/v3/orgs/sgtest","repos_url":"https://ghe.sgdev.org/api/v3/orgs/sgtest/repos","events_url":"https://ghe.sgdev.org/api/v3/orgs/sgtest/events","hooks_url":"https://ghe.sgdev.org/api/v3/orgs/sgtest/hooks","issues_url":"https://ghe.sgdev.org/api/v3/orgs/sgtest/issues","members_url":"https://ghe.sgdev.org/api/v3/orgs/sgtest/members{/member}","public_members_url":"https://ghe.sgdev.org/api/v3/orgs/sgtest/public_members{/member}","avatar_url":"https://ghe.sgdev.org/avatars/u/2381?","description":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":7,"public_gists":0,"followers":0,"following":0,"html_url":"https://ghe.sgdev.org/sgtest","created_at":"2020-11-04T08:02:12Z","updated_at":"2020-11-04T08:02:12Z","type":"Organization","total_private_repos":1,"owned_private_repos":2,"private_gists":0,"disk_usage":5217,"collaborators":0,"billing_email":null,"default_repository_permission":"read","members_can_create_repositories":true,"two_factor_requirement_enabled":false,"members_allowed_repository_creation_type":"all","members_can_create_public_repositories":true,"members_can_create_private_repositories":true,"members_can_create_internal_repositories":true,"members_can_create_pages":true,"plan":{"name":"enterprise","space":976562499,"private_repos":999999999999,"filled_seats":1,"seats":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ed247b4447c671e040bb46c0d4149e739a0e7e4c3cb933f02c5d1cbd0f2d0388"
      Last-Modified:
      - Wed, 04 Nov 2020 08:02:12 GMT
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview.nebula-preview;
        format=json
      X-Oauth-Scopes:
      - admin:org, repo
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/repos/sgtest/internal
    method: GET
  response:
    body: '{"id":442282,"node_id":"MDEwOlJlcG9zaXRvcnk0NDIyODI=","name":"internal","full_name":"sgtest/internal","private":true,"owner":{"login":"sgtest","id":2381,"node_id":"MDEyOk9yZ2FuaXphdGlvbjIzODE=","avatar_url":"https://ghe.sgdev.org/avatars/u/2381?","gravatar_id":"","url":"https://ghe.sgdev.org/api/v3/users/sgtest","html_url":"https://ghe.sgdev.org/sgtest","followers_url":"https://ghe.sgdev.org/api/v3/users/sgtest/followers","following_url":"https://ghe.sgdev.org/api/v3/users/sgtest/following{/other_user}","gists_url":"https://ghe.sgdev.org/api/v3/users/sgtest/gists{/gist_id}","starred_url":"https://ghe.sgdev.org/api/v3/users/sgtest/starred{/owner}{/repo}","subscriptions_url":"https://ghe.sgdev.org/api/v3/users/sgtest/subscriptions","organizations_url":"https://ghe.sgdev.org/api/v3/users/sgtest/orgs","repos_url":"https://ghe.sgdev.org/api/v3/users/sgtest/repos","events_url":"https://ghe.sgdev.org/api/v3/users/sgtest/events{/privacy}","received_events_url":"https://ghe.sgdev.org/api/v3/users/sgtest/received_events","type":"Organization","site_admin":false},"html_url":"https://ghe.sgdev.org/sgtest/internal","description":null,"fork":false,"url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal","forks_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/forks","keys_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/keys{/key_id}","collaborators_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/collaborators{/collaborator}","teams_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/teams","hooks_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/hooks","issue_events_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/issues/events{/number}","events_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/events","assignees_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/assignees{/user}","branches_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/branches{/branch}","tags_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/tags","blobs_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/git/blobs{/sha}","git_tags_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/git/tags{/sha}","git_refs_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/git/refs{/sha}","trees_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/git/trees{/sha}","statuses_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/statuses/{sha}","languages_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/languages","stargazers_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/stargazers","contributors_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/contributors","subscribers_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/subscribers","subscription_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/subscription","commits_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/commits{/sha}","git_commits_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/git/commits{/sha}","comments_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/comments{/number}","issue_comment_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/issues/comments{/number}","contents_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/contents/{+path}","compare_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/compare/{base}...{head}","merges_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/merges","archive_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/{archive_format}{/ref}","downloads_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/downloads","issues_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/issues{/number}","pulls_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/pulls{/number}","milestones_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/milestones{/number}","notifications_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/notifications{?since,all,participating}","labels_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/labels{/name}","releases_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/releases{/id}","deployments_url":"https://ghe.sgdev.org/api/v3/repos/sgtest/internal/deployments","created_at":"2021-01-21T16:02:19Z","updated_at":"2021-01-21T16:02:22Z","pushed_at":"2021-01-21T16:02:20Z","git_url":"git://ghe.sgdev.org/sgtest/internal.git","ssh_url":"git@ghe.sgdev.org:sgtest/internal.git","clone_url":"https://ghe.sgdev.org/sgtest/internal.git","svn_url":"https://ghe.sgdev.org/sgtest/internal","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":false,"is_template":false,"topics":[],"visibility":"internal","forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"AAAAAA6R3CYB456IORJAH5DCA3EZ4","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"organization":{"login":"sgtest","id":2381,"node_id":"MDEyOk9yZ2FuaXphdGlvbjIzODE=","avatar_url":"https://ghe.sgdev.org/avatars/u/2381?","gravatar_id":"","url":"https://ghe.sgdev.org/api/v3/users/sgtest","html_url":"https://ghe.sgdev.org/sgtest","followers_url":"https://ghe.sgdev.org/api/v3/users/sgtest/followers","following_url":"https://ghe.sgdev.org/api/v3/users/sgtest/following{/other_user}","gists_url":"https://ghe.sgdev.org/api/v3/users/sgtest/gists{/gist_id}","starred_url":"https://ghe.sgdev.org/api/v3/users/sgtest/starred{/owner}{/repo}","subscriptions_url":"https://ghe.sgdev.org/api/v3/users/sgtest/subscriptions","organizations_url":"https://ghe.sgdev.org/api/v3/users/sgtest/orgs","repos_url":"https://ghe.sgdev.org/api/v3/users/sgtest/repos","events_url":"https://ghe.sgdev.org/api/v3/users/sgtest/events{/privacy}","received_events_url":"https://ghe.sgdev.org/api/v3/users/sgtest/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"67abb9ddb1c0183db302dd3125b26458eac13e2126356087fbb6979f6d30fb65"
      Last-Modified:
      - Thu, 21 Jan 2021 16:02:22 GMT
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview.nebula-preview;
        format=json
      X-Oauth-Scopes:
      - admin:org, repo
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/orgs/sgtest/members?page=1&per_page=100
    method: GET
  response:
    body: '[{"login":"milton","id":3,"node_id":"MDQ6VXNlcjM=","avatar_url":"https://ghe.sgdev.org/avatars/u/3?","gravatar_id":"","url":"https://ghe.sgdev.org/api/v3/users/milton","html_url":"https://ghe.sgdev.org/milton","followers_url":"https://ghe.sgdev.org/api/v3/users/milton/foll[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://ghe.sgdev.org/api/v3/orgs/sgtest/members?page=2&per_page=100
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d2d23d34db12d8f923ef0f03855478687b6dfa603c2973a048916288ef0d33b5"'
      Link:
      - <https://ghe.sgdev.org/api/v3/organizations/2381/members?page=1&per_page=100>;
        rel="prev", <https://ghe.sgdev.org/api/v3/organizations/2381/members?page=1&per_page=100>;
        rel="last", <https://ghe.sgdev.org/api/v3/organizations/2381/members?page=1&per_page=100>;
        rel="first"
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Enterprise-Version:
      - 3.3.0
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json, github.mercy-preview; param=machine-man-preview.nebula-preview;
        format=json
      X-Oauth-Scopes:
      - admin:org, repo
    status: 200 OK
    code: 200
    duration: ""
