.alert-container {
    position: relative;

    :global(.theme-dark) & {
        background: linear-gradient(180deg, rgba(25, 27, 37, 0.6) 0%, #191b25 51.56%, rgba(25, 27, 37, 0.6) 100%);
    }

    :global(.theme-light) & {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, #ffffff 51.04%, rgba(255, 255, 255, 0.8) 100%);
    }
}

.alert-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.icon {
    color: var(--gray-06);
}

.title {
    color: var(--body-color);
}

.description {
    color: var(--text-muted);
}
