.live-preview {
    display: flex;
    flex-direction: column;
}

.chart--with-mock {
    filter: blur(4px);
    pointer-events: none;
    opacity: 0.4;

    // In order to turn off any interactions with chart like
    // tooltip or chart shutter for user cursor we have to
    // override pointer events. Since visx charts add pointer events
    // by html attribute we have to use important statement.
    :global(.visx-group) {
        pointer-events: none !important;
    }
}

.loading-chart-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: center;
}
