@value base "sourcegraph/components/styles/_base.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value layout "sourcegraph/components/styles/_layout.css";

.container {
	composes: containerFixed from layout;
	composes: col-12-ns col-11 from grid;
	composes: ph4 from base;
	max-width: 640px;
}
.content {
	composes: container;
	composes: pv4 from base;
}
.p {
	composes: mt3 mb3 from base;
}
.content table td {
	padding: 9px 9px 0 0;
}
.cta {
	composes: tc from typography;
	composes: pt3 pb4 from base;
}
.white { composes: white from colors; }
.h {
	composes: mt5 from base;
}
.h5 {
	composes: h;
	margin-bottom: -15px;
}
