.container {}

.form {
    display: flex;
    gap: 0.5rem;
}

.label {
    font-size: 0.75rem;
    color: GrayText;
    display: block;
}
.label:focus-within {
    color: Highlight;
}

.label input {
    display: block;
    font-size: 0.8rem;

}

.button {
    font-size: 0.75rem;
    height: 24px;
    align-self: flex-end;
}
.button:disabled {
    visibility: hidden;
}
