.gitlab-icon {
    fill: #ff5900 !important;
}

.github-icon {
    fill: var(--body-color) !important;
}

.check-icon {
    fill: var(--color-bg-3) !important;
}

.caret-icon {
    fill: var(--primary) !important;
}
