@value base "sourcegraph/components/styles/_base.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value typography "sourcegraph/components/styles/_typography.css";

.list {
	composes: mt1 mb2 from base;
	list-style-type: none;
	padding-left: 0;
}

.list-horizontal-container{
	display: flex;
}

.list-horizontal {
	composes: list;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media screen and (max-width: 48em) {
	.list-horizontal {
		margin: 0 10px;
	}
}

.pencil-icon {
	composes: gray from colors;
	composes: f4 from typography;
	composes: pr3 from base;
}

.person {
	composes: pv1 from base;
	composes: f6 from typography;
	composes: mid-gray from colors;
	display: flex;
	align-items: center;
}

.person-horizontal {
	composes: person;
	composes: pr3 ph2 from base;
}

.person-horizontal:last-child{
	padding-right: 0;
}

.badge-wrapper {
	min-width: 2.5rem;
	text-align: right;
	display: inline-block;
}

.badge {
	composes: br2 pv1 ph2 from base;
	composes: bg-blue-1 blue from colors;
	composes: f5 fw6 from typography;
}

.timestamp {
	composes: ml1 from base;
	composes: light-silver from colors;
}
