@value base "sourcegraph/components/styles/base.css";
@value colors "sourcegraph/components/styles/colors.css";
@value typography "sourcegraph/components/styles/typography.css";
@value blob "sourcegraph/blob/styles/Blob.css";

.title {
	composes: code fw5 from typography;
	word-wrap: break-word;
	white-space: pre-line;
}
.title :global .name {
	font-weight: bold;
}

/* Def box (in blob margin) */
.marginBox {
	composes: w-100 from base;
	composes: marginBoxRight from blob;
}

.boxTitle {
	composes: black from colors;
	composes: title;
}
.boxIcon {
	composes: gray from colors;
	composes: f4 from typography;
	composes: pl3 from base;
}
.boxTitle:hover {
	text-decoration: underline;
}
.def-title {
	composes: black from colors;
}
.defName {
	composes: blue from colors;
	font-weight: bold;
}
.sectionTitle {
	composes: pt3 from base;
	composes: f5 from typography;
	font-weight: bold;
}
.badge-padding {
	padding: 3px 5px;
	composes: br2 from base;
	composes: fw6 f5 from typography;
	composes: bg-blue-1 blue from colors;
}
.badge {
	composes: badge-padding;
	vertical-align: 1px;
}
.active-group-header {
	font-weight: bold;
}
.all-refs {
	line-height: 1.7;
	white-space: nowrap;
	composes: pt1 from base;
}
.ref-filename {
	word-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.refs-count {
	composes: badge;
}
.current-file-refs {
	font-weight: bold;
}
.loading {
	composes: black from colors;
}

.private-repos-cta {
	composes: mt2 from base;
	composes: fa6 from typography;
	font-style2: italic;
}
.cta-link {
	composes: mid-gray from colors;
}

/* Def tooltip */
.tooltip {
	position: fixed;
	z-index: 1000;
	max-width: 460px;
	min-width: 120px;
	composes: br1 pa3 br2 from base;
	composes: bg-cool-gray white from colors;
}
.content {
	composes: f5 from typography;
	line-height: 1.5;
}
.tooltipTitle {
	composes: title;
}
.doc {
	overflow-y: hidden;
	word-wrap: break-word;
}
.doc p {
	margin: 5px 0 0;
}
.repo {
	display: block;
	composes: mt2 from base;
	composes: light-gray from colors;
	composes: f6 from typography;
}
