@value base "sourcegraph/components/styles/_base.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value vars "sourcegraph/components/styles/_vars.css";
@value layout "sourcegraph/components/styles/_layout.css";

.cool-mid-gray { composes: cool-mid-gray from colors; }
.bg-cool-pale-gray-2 { composes: bg-cool-pale-gray-2 from colors; }
.container-fixed { composes: containerFixed from layout; }
.break-word { word-wrap: break-word; }
.link-subtle { composes: link-subtle from typography; }
.normal { composes: normal from typography; }
.f5 { composes: f5 from typography; }

.section {
	composes: ph4 from base;
}

.section-label {
	composes: mt3 mr3 mb3 from base;
	composes: b normal-text from typography;
}

.section-label:after {
	content: none;
}

.def-title {
	composes: code fw1 f4 from typography;
}

.def-title:hover {
	text-decoration: underline;
}

.def {
	composes: purple from colors;
}

.authors {
	composes: mt2 ml2 mb2 from base;
	display: flex;
}

.icon {
	font-size: 1.5rem;
	padding-top: 5px;
	padding-right: 10px;
	float: left;
}

.description {
	composes: normal-text from typography;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.description-expander {
	composes: mb3 from base;
	composes: f5 from typography;
	composes: description;
	composes: link from "sourcegraph/components/styles/link.css";
	cursor: pointer;
}

.link-and-authors {
	composes: section;
	composes: normal-text from typography;
	display: flex;
	justify-content: space-between;
}

.ref-tabs {
	float: right;
	line-height: 1.7;
}

.pagination {
	composes: pb5 from base;
	display: flex;
	justify-content: center;
}

.translation-dropdown {
	composes: blue bg-cool-pale-gray-5 from colors;
	composes: fw6 from typography;
	composes: pt2 pl3 pr3 pb2 from base;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	float: right;
}
@value c_dark-blue from colors;
.translation-dropdown:hover {
	color: c_dark-blue;
}

.refs-container {
	composes: section;
	composes: pb2 from base;
	border-top: 1px solid #eeeeee;
}


@media screen and (max-width: 48em) {
	.description, .section-label {
		margin-left: 10px;
		margin-right: 10px;
	}
}
