@value base "sourcegraph/components/styles/base.css";
@value grid "sourcegraph/components/styles/grid.css";
@value colors "sourcegraph/components/styles/colors.css";
@value typography "sourcegraph/components/styles/typography.css";

.container {
	composes: center from base;
	composes: col-11-ns from grid;
	max-width: 68rem;
	min-height: 50vh;
}

.back-icon {
	composes: gray from colors;
}

.def-title {
	composes: black from colors;
	font-weight: normal;
	line-height: normal;
}

.def-title:hover {
	text-decoration: underline;
}

.def {
	composes: blue from colors;
	font-weight: bold;
}

.authors {
	display: flex;
	align-items: center;
}

.section-label {
	composes: subsection-header from typography;
	composes: pt3 pb1 from base;
}

.description {
	composes: normal-text from typography;
}

.main {}

@media screen and (max-width: 48em) {
	.def-header, .description, .section-label {
		margin-left: 10px;
		margin-right: 10px;
	}
}
