@value base "sourcegraph/components/styles/_base.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value vars "sourcegraph/components/styles/_vars.css";

@value c_dark-blue from colors;
@value media-sm from vars;


.vote {
	display: span;
	float: left;
	position: relative;
	left: -23px;
	width: 0;
}

.voteDone {
	display: span;
	float: left;
	position: relative;
	left: -23px;
	width: 0;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.25s, opacity 0.25s linear;
}

.upvote, .downvote {
	display: block;
}

.f7 { composes: f7 from typography; }

.container {
	composes: br2 ba bw1 from base;
	composes: b--cool-pale-gray from colors;
	display: flex;
	flex-direction: column;
}
.blob {
	border: 5px solid red;
}
.repo {
	composes: mv3 from base;
	composes: f4 fw5 from typography;
	display: flex;
	align-items: center;
}

@media media-sm {
	.repo {
		margin: 0 10px;
	}
}

.repoLink {
	composes: mid-gray from colors;
}

.repoIcon {
	composes: gray from colors;
	composes: pr2 from base;
}

.refs {
	composes: b--cool-pale-gray from colors;
	flex: 1 1 auto;
}

.refsLabel {
	composes: pl2 from base;
	composes: silver from colors;
	user-select: none;
}

.filename {
	composes: bb from base;
	composes: f5 fw1 from typography;
	composes: mid-gray b--light-gray-2 from colors;
	display: flex;
	align-content: flex-start;
	justify-content: center;
	cursor: pointer;
}

.breadcrumbIcon{
	composes: pt2 pb2 from base;
	composes: bg-light-blue from colors;
	min-width: 39px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.pathContainer {
	composes: pt2 pb2 from base;
	composes: ml2 from base;
	flex: 1 1 auto;
}

.pathEnd{
	composes: fw5 from typography;
}

.toggleIcon {
	composes: mid-gray from colors;
	flex: 0 0 15px;
}

.paginator {
	composes: mt3 from base;
}

.pageLink {
	cursor: pointer;
	composes: gray from colors;
	user-select: none;
}

.pageLink:hover {
	color: c_dark-blue;
}

.sep {
	composes: silver from colors;
}

.label {
	font-weight: bold;
	user-select: none;
	cursor: pointer;
}

.fileError {
	composes: pt2 pb2 pl2 pr2 from base;
	composes: bg-blue-1 from colors;
	margin-top: 0;
	margin-bottom: 0;
}

@media screen and (max-width: 48em) {
	.full-width-sm {
		padding: 0;
	}
}
