@value base "sourcegraph/components/styles/base.css";
@value grid "sourcegraph/components/styles/grid.css";
@value colors "sourcegraph/components/styles/colors.css";
@value tooltips "sourcegraph/components/styles/tooltips.css";
@value blob "sourcegraph/blob/styles/Blob.css";

@value c_black-20 from colors;
@value c_white from colors;

.refs-container {
	composes: pv2 ph4 from base;
}

.inner {
	display: flex;
	min-height: 50vh;
}
.ref-locations {
	flex: 0 0 auto;
	min-width: 270px;
	max-width: 30%;
	composes: marginBoxLeft from blob;
}
.refs {
	flex: 1 1 auto;
	overflow: hidden;
}
.file-name {
	composes: pl3 mv1 from base;
}

.refs-footer {
	width: 100%;
	text-align: center;
}

.search-hotkey {
	composes: bg-black-10 from colors;
	composes: tooltip-bottom from tooltips;
	box-shadow: 0 1px 0 c_black-20,0 0 0 2px c_white inset;
	text-shadow: 0 1px 0 c_white;
}
