{
  "plugins": ["syntax-dynamic-import", "lodash"],
  "presets": [
    [
      "env",
      {
        "targets": {
          "useBuiltIns": true
        },
        "modules": false
      }
    ]
  ]
}
