{
  "plugins": ["@babel/plugin-syntax-dynamic-import", "babel-plugin-lodash"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "modules": false
      }
    ]
  ]
}
