{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-prettier"
  ],
  "rules": {
    "indentation": 4,
    "string-quotes": "single",
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "extend"
        ]
      }
    ]
  }
}
