.org-invitation-page {
    max-width: 40rem;
}

.userAvatar {
    width: 24px;
    height: auto;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.1);
}

.decline-button {
    background-color: var(--body-bg);
    &:hover {
        background-color: var(--color-bg-2) !important;
    }
}
