.recipesWrapper {
    display: flex;
    overflow-x: auto;
    background-color: var(--body-bg);
    border-radius: 6px;
    padding: 3px 1px;
    align-items: center;
    overflow: hidden;
    filter: drop-shadow(1px 2px 3px RGBA(36, 41, 54, 0.2))
  }

  .recipeWrapper {
    display: flex;
    background-color: var(--input-bg);
    border-radius: 4px;
    border: 1px solid var(--border-color-2);
    padding: 1px 8px;
    margin: 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    display: inline-block;
    flex-shrink: 0;
    font-weight: 400;
  }
