.campaign-node {
    &__content {
        min-width: 0;
    }
    &__badge {
        justify-self: stretch;
    }
    &__separator {
        // Make it full width in the current row.
        grid-column: 1 / -1;
        border-top: 1px solid $color-light-bg-2;
    }
}

.theme-dark {
    .campaign-node {
        &__separator {
            border-color: $color-light-bg-5;
        }
    }
}
